[2016-02-13 00:56] crosbymichael commented on #531
You can look into it but there is no guarantee that it is merged, just so you know upfront, but it will help give us a better idea of why this is need and what the libseccomp filtering lacks because I am still unsure exactly this issues this addresses.

[2016-02-15 17:16] mr-c commented on #38
Hello,

For scientific computing (where one is running relatively "normal" POSIXy applications) the [Common Workflow Language](http://www.commonwl.org) is trying out a solution for rootless containers: https://github.com/common-workflow-language/common-workflow-language/wiki/Userspace-Container-Review#getting-userspace-containers-working-on-ancient-rhel

A bit of a hack, but no root, weird kernel,

[2016-02-15 17:36] qiancai opened #559 "no bundlePath in state.json"
From https://github.com/opencontainers/specs/blob/master/runtime.md

"The state.json file MUST contain all of the following properties:
...
bundlePath: (string) is the absolute path to the container's bundle directory. This is provided so that consumers can find the container's configuration and root filesystem on the host."

However, there is no such thing in state.json after 'runc start' right n

[2016-02-15 17:38] duglin commented on #559
ping @mikebrow

[2016-02-15 18:23] chrisfilo commented on #38
Couple more interesting projects trying to solve this problem:
- http://gmkurtzer.github.io/singularity/ - capturing binary dependencies in portable manner
- https://bitbucket.org/berkeleylab/shifter - running Docker images HPCs in a secure manner

[2016-02-15 19:31] mr-c commented on #38
Note that shifter uses (real) chroot and thus requires root.

On Mon, Feb 15, 2016 at 7:23 PM Chris Filo Gorgolewski <
notifications@github.com> wrote:

--
Michael R. Crusoe     CWL Community Engineer     crusoe@ucdavis.edu
<mcrusoe@msu.edu>
Common Workflow Language project    University of California, Davis
https://impactstory.org/MichaelRCrusoe http://twitter.com/biocrusoe

[2016-02-15 19:35] mr-c commented on #38
Though Shifter could be adapted to use proot/fakechroot. I quite like their
Python code for taking a docker hub container and producing a tarball or
unpacked tree.

On Mon, Feb 15, 2016 at 8:31 PM Michael Crusoe <michael.crusoe@gmail.com>
wrote:

--
Michael R. Crusoe     CWL Community Engineer     crusoe@ucdavis.edu
<mcrusoe@msu.edu>
Common Workflow Language project    University of California, Da

[2016-02-15 19:41] chrisfilo commented on #38
I have not used shifter, but their documentation (see
https://www.nersc.gov/research-and-development/user-defined-images/)
suggests that any user can run shifterimg to convert docker image to safe
shifter image and subsequently run it without elevated privileges.

On Mon, Feb 15, 2016 at 11:35 AM, Michael R. Crusoe <
notifications@github.com> wrote:

[2016-02-15 19:55] mr-c commented on #38
@chrisfilo Yeah, we thought the same thing, then dug further
[`udiRoot/src/shifter.c:        fprintf(stderr, "%s\n", "Not running with root privileges, will fail.");`](https://bitbucket.org/berkeleylab/shifter/src/dae758dd5f57b55c1574fb6f295f38a6c481139e/udiRoot/src/shifter.c?at=master&fileviewer=file-view-default#shifter.c-184)

[2016-02-15 20:00] chrisfilo commented on #38
If it requires root what's the point of shifter then?

On Mon, Feb 15, 2016 at 11:55 AM, Michael R. Crusoe <
notifications@github.com> wrote:

[2016-02-15 20:20] mr-c commented on #38
from what I see (without running it): scheduler integration (slurm, others), ability to run same image simultaneously across a cluster, caching and management of images

[2016-02-15 20:22] mr-c commented on #38
To return this to @discordianfish original question: proot allows root-free running of "normal" containers (but possibly not some exotic containers). However I wouldn't rely on it for security, but would use it for ease-of-use scenarios.

[2016-02-15 20:26] kdmurray91 commented on #38
I'll make clear something that @mr-c has implied: We need an unprivileged user to be able to do *all* operations including installation, setup and image management solely within $HOME (or some other unrestricted path), without being root. In other words, this should all be possible without any admin intervention whatsoever.

[2016-02-16 01:19] mikebrow commented on #559
This is most likely a duplicate issue to issue #507.

[2016-02-16 18:41] #551 closed

[2016-02-17 02:20] sajones opened #566 "runc version 0.0.8 does not comply with version 0.3.0 of the spec for the "devices" block"
Per [https://github.com/opencontainers/specs/blob/master/config-linux.md#devices](https://github.com/opencontainers/specs/blob/master/config-linux.md#devices) I should be able to specify "type" with the same letter codes as mknod, however runc still expects to parse an integer for that field.

According to the spec version 0.3.0 this definition should work:
[code]

However when I try to start a co

[2016-02-17 03:20] cyphar commented on #387
I did something like this for the pids cgroup. We can refactor this out to be a general `testRequirement` thing.

[2016-02-17 09:00] hqhq commented on #543
Can you try the latest runc? For now, if there is no `swappiness` in your config, it means unlimited, which is the same as the former `swappiness=-1` but more reasonable.

And "-1" usage is implementation detail for OCI compliant implementations which should not be considered by users.

[2016-02-17 19:16] caiolima commented on #543
I have tried it with the latest runc. But the problem is because of this ```swappiness``` definition on https://github.com/vishh/specs/blob/488f174af95fd3a38fee3e4dbd33802c13498dd7/runtime_config_linux.go#L164

I have changed it to ```int64``` and it was possible run the container without swappiness. What I think it is a good chang on implementation is to add a new ```spec/config``` field called `

[2016-02-17 21:46] mikebrow commented on #566
Looks like `type rune` is not being processed cleanly by the json helpers.  Should probably be defined as a Type *rune anyway vs Type rune.

[2016-02-17 22:05] crosbymichael commented on #566
it would need to be a string and not rune in the spec types

[2016-02-18 15:31] sajones opened #572 "Unable to mount filesystems located on block devices using config.json"
Based on [https://github.com/opencontainers/specs/blob/master/config.md#mounts](https://github.com/opencontainers/specs/blob/master/config.md#mounts), I expected to be able to mount a filesystem stored on a block device as container start using a config block like this:

[code]
When I attempt to start the container I end up with this error message:

[code]

After looking at runc/libcontainer/rootf

[2016-02-18 18:42] mikebrow opened #574 "Filtering options for list command"
At current the `runc list` command displays all instances of containers.

It would be good to have some way to filter this list at the command line without having to pipe the output through a grep or other tool.

Suggestion:
Implement a filter.  Example of use: `runc list --filter "status=running"`

I would suggest starting with the following fields:
status (running, paused, ...)
id (container id)

[2016-02-18 18:43] crosbymichael commented on #574
people can do this at a higher level.  the problem is that if we add one type of filter ppl will want more and more and it will never end.  if we have the json output ppl can filter however they want or just use grep

[2016-02-18 19:17] mikebrow commented on #574
Ok... grep it is..  Cheers.

[2016-02-18 19:20] crosbymichael commented on #574
thx

[2016-02-18 19:20] #574 closed

[2016-02-18 20:05] crosbymichael commented on #572
It should be fine to update runc to support these mount types

[2016-02-18 21:46] crosbymichael commented on #543
This should not be an issue with the 0.0.8 release of runc.  The swap files are nullable now.

[2016-02-18 21:46] #543 closed

[2016-02-18 22:52] pycloux opened #575 "FATA[0000] Container start failed: [10] System error: no such directory for memory.swappiness."
It seems that the version 0.0.8 of runc did not solved the issue previously reported with #543

My OS is:
Linux WOPR-Debian 3.16.0-4-amd64 #1 SMP Debian 3.16.7-ckt11-1+deb8u5 (2015-10-09) x86_64 GNU/Linux

When attempting to run a basic nginx container I got the following log:
[code]

Here is my config.json file:
[code]

[2016-02-18 23:45] crosbymichael commented on #575
is swap enabled on your system for cgroups?  its a kernel config option

CONFIG_SWAP=y
CONFIG_MEMCG_SWAP=y

[2016-02-18 23:48] crosbymichael commented on #575
You also have to have it enabled as a boot option in grub

GRUB_CMDLINE_LINUX="cgroup_enable=memory swapaccount=1"

[2016-02-20 04:46] #547 closed

[2016-02-22 09:54] liuyangc3 opened #581 "go get error"
I use linux-mint, Go 1.2.1
[code]
go get this repo get an error
[code]

[2016-02-22 13:56] marcosnils commented on #581
@liuyangc3 you need to upgrade your golang version. Unsetenv didn't exist in 1.2

https://github.com/golang/go/blob/release-branch.go1.2/src/pkg/os/env.go

[2016-02-23 02:11] liuyangc3 commented on #581
@marcosnils thanks,I upgrade golang to 1.5, works well

[2016-02-23 02:29] marcosnils commented on #581
Please close

[2016-02-23 06:24] #581 closed

[2016-02-23 22:41] pycloux commented on #575
Thanks I'll try with the UCP 1.0

[2016-02-23 22:41] #575 closed

[2016-02-24 10:16] giuseppe opened #586 "rootfs with symlinks path components"
is there a reason why it is not possible to run a container from a rootfs which has a symlink in its path?

I see it is checked explicitly by  rootfs(config *configs.Config) in libcontainer/configs/validate/config.go, but can the evaluated path be used instead of returning an error?

For a quick test I tried this patch:

[code]

but I suppose ConfigValidator is not meant to modify the configuratio

[2016-02-25 17:04] mikebrow opened #589 "Spec requires a command named "state""
From: https://github.com/opencontainers/specs/blob/master/runtime.md#query-state
`Query State
state <container-id>
This operation MUST generate an error if it is not provided the ID of a container. This operation MUST return the state of a container as specified in the State section. In particular, the state MUST be serialized as JSON.`
And the state definition from the spec:
`When serialized in J

[2016-02-25 18:15] mikebrow commented on #586
Maybe @crosbymichael will explain why that test was put in. The spec does not specify one way or the other whether such limitations MUST or MAY be placed on the rootfs. It went in a long time ago maybe it's time to pull it out?

[2016-02-27 03:54] #572 closed

[2016-02-27 04:08] #548 closed

[2016-02-27 04:08] #559 closed

[2016-02-27 19:26] justincormack commented on #531
@thesrinivas I am not sure what you want exactly. You can already filter syscalls with arguments, as in the examples above. We do use libseccomp, so the interface is not directly the bpf interface, but this does do some optimisation. The performance overhead is negligible anyway. Can you give an example of a bpf program you might want to write that you cant express like this? Complex programs are

[2016-02-29 04:54] thesrinivas commented on #531
Please take a look at the example, https://github.com/torvalds/linux/blob/master/samples/seccomp/bpf-fancy.c

If there is an ability to pass a struct sock_fprog (shown below) that is a listing of the bpf instructions, there will be more flexibility for supporting different types of use-cases aimed at securing the containers.

struct sock_fprog {
               unsigned short      len;    /* Number

[2016-02-29 12:12] justincormack commented on #531
@thesrinivas you can write that a BPF program that has the same results as that example using the existing json format for seccomp, so you have not made an argument for supporting different types of use case. Making an argument based on what the kernel might have in future is not helpful.

[2016-02-29 17:47] #566 closed

[2016-02-29 20:58] mrunalp commented on #589
:+1:

[2016-03-01 01:10] diptanu opened #602 "Libcontainer - GetPids retuns error"
The API manager.GetPids is returning an error `/sys/fs/cgroup/devices/user/1000.user/c1.session/55f75212-3dc8-36c2-9c4c-f997ed8d44c6/55f75212-3dc8-36c2-9c4c-f997ed8d44c6/cgroup.procs: no such file or directory` Looks like libcontainer is adding the name of the cgroup twice which creating the path to the `cgoup.procs` file.

[2016-03-01 08:05] hqhq commented on #602
Can you demonstrate how to reproduce this? `docker top` will call `manager.GetPids`, and I can't reproduce this with systemd cgroup driver.

[2016-03-01 15:47] diptanu commented on #602
Here is a small snippet of code for reproducing this. Please let me know if I am using the APIs incorrectly.

[code]

[2016-03-01 18:40] diptanu commented on #602
@mikebrow Yeah I am using master. And you will see the error if you use ```manager.GetPids```, ```manager.GetAllPids``` just returns an empty array.

This is on a Ubuntu 14.04 and doesn't have systemd, so libcontainer is using raw cgroup fs.

[2016-03-01 19:00] mikebrow commented on #602
Ok I can only reproduce this with an invalid group name.

go run test.go (with a valid group name)
GetPids: []int{8123, 8356}GetAllPids: []int{8123, 8356}
In the above example I ran your test with "box1" as the group name where the container id was box1.

go run test.go (with an invald group name for example set to "foo" when the container is is "box1")
GetPids error: open /sys/fs/cgroup/devices/u

[2016-03-01 19:13] diptanu commented on #602
@mikebrow Ok, I see. So I am not setting the container ID anywhere. How do you know or set the Container ID?

[2016-03-01 19:33] mikebrow commented on #602
Well if you are using runc... see runc start --help for usage creating a container and  runc list to get the ids of the containers created through runc...

If you are coding up your own version of runc.. you could start with runc/start.go and trace the code steps implemented by runc.

The container id is is a new mandatory argument to runc start, pause, exec, etc...

[2016-03-01 19:42] diptanu commented on #602
No I am not using runc, I just want to use libcontainer to create a cgroup and apply a pid to it.

[2016-03-01 19:54] mikebrow commented on #602
ok.. you could take a look at the code for runc start (create the cgroup) and runc exec (apply a pid to it) and filter it down to your specific use case.

[2016-03-02 04:50] mikebrow commented on #589
Issue resolved.

[2016-03-02 04:50] #589 closed

[2016-03-02 09:28] hqhq commented on #602
I can confirm it's a bug in libcontainer. Now we use `func (raw *cgroupData) path(subsystem string) (string, error)` to get the cgroup path, the problem is in the case that `cgroupData.innerPath` is not absolute, like case in this PR, which only set `cgroup.Name`, after process join into cgroup, `d.path(subsystem)` will return a wrong path. Because we call `cgroups.GetThisCgroupDir(subsystem)` in

[2016-03-02 19:15] diptanu commented on #602
@hqhq @LK4D4  I have a workaround for the time being. Not setting the ```Name``` but setting the ```Path``` works. And I am getting the ```Path``` by calling the API ```cgroups.GetThisCgroupDir("devices")```

[2016-03-02 23:55] sajones opened #613 "RunC: Unable to start a container on CentOS 6 with commit b1872a0 or later"
Prior to commit b1872a0, I could start a container using the `config.json` produced by running `runc spec` with no issues. However when I attempt to start a container using b1872a0 or later is get the following error:

[code]

I am not able to get any other output despite attempting all of the debug or logging options mentioned in `runc --help`.

[2016-03-03 00:27] JakeWarner commented on #613
We're currently working on this in chat, the issue is happening in runc/libcontainer/init_linux.go.

The io.Copy/ioutil.ReadAll never completes.

https://gist.github.com/JakeWarner/07810c1074ed90a4127d

[2016-03-03 00:27] mlaventure commented on #613
@sajones I have just tried on the latest master (`b86570a4d4a15f9fa2da9334e164b5f260552b4c`) and could not reproduce the issue.

Here are the command I used:
[code]

[2016-03-03 01:11] crosbymichael commented on #613
from irc it looks like the pid-ns pr could have something to play in this @mlaventure

[2016-03-03 01:39] JakeWarner commented on #613
Reverted my build to 5f8fd8e04e7962e137db1009a1813f3c9928dc38 (immediately before the commit @sajones  referenced), everything works there.

Fedora 22 here.

[2016-03-03 01:43] crosbymichael commented on #613
thanks. well checkout what the problem is and let you know

[2016-03-03 04:11] JakeWarner commented on #613
@sajones It turns out that I didn't have CGO_ENABLED=1 and thus wasn't building the main_unix.go file. Once I did, this issue resolved for me -- any chance this is the same issue for you?

[2016-03-03 19:14] sajones commented on #613
@JakeWarner CGO_ENABLED=1 does not seem to do much for me. Here are the steps I am using to build runc. I am using `BUILDTAGS=""` because I am building and executing runc on a system that does not have seccomp. When I ran these master was b86570a.

This works:
[code]

These do not work:
[code]
[code]
[code]
[code]

[2016-03-03 19:15] sajones commented on #613
Reopening this. I hit the wrong button.

[2016-03-03 20:41] avagin commented on #613
@sajones Could you run strace -s 256 -f -o strace.log runc start ... and then share the strace.log?

[2016-03-03 20:59] sajones commented on #613
Here is the strace log from a run using the runc executable compiled by
[code]
[strace.log.txt](https://github.com/opencontainers/runc/files/157683/strace.log.txt)

[2016-03-03 21:09] avagin commented on #613
[code]

[2016-03-03 21:13] avagin commented on #613
Here is a kernel code which returns this error.
[code]

[2016-03-03 21:16] avagin commented on #613
This code appeared in:
https://github.com/avagin/linux-task-diag/commit/40a0d32d1eaffe6aac7324ca92604b6b3977eb0e

and it was fixed here:
https://github.com/avagin/linux-task-diag/commit/1f7f4dde5c945f41a7abc2285be43d918029ecc5

[2016-03-04 04:36] avagin commented on #613
@sajones, could you try out this patch: https://github.com/avagin/runc/commit/d31e97fa28345375b3f76bff64d12cdb07e03ba0

[2016-03-07 17:49] sajones commented on #613
@avagin https://github.com/avagin/runc/commit/d31e97fa28345375b3f76bff64d12cdb07e03ba0 appears to fix the issue.

[2016-03-08 16:35] disneyworldguy commented on #80
This seems to be due to the default SELinux policy for a Fedora system which includes:

This omits the Symlink that replaces the character device. The following resolves the condition in my testing:

I would recommend:

- Kyle

[2016-03-09 07:15] nponeccop opened #624 "Make CRIU support optional"
CRIU is not available everywhere (e.g. ArchLinux default kernel has the necessary options off). So an ability to disable the functionality and clean up the `--help` output would be nice.

[2016-03-09 07:18] nponeccop opened #625 "Die on starting as a non-root"
Currently if run as a non-root `runc` tries to open "/run/opencontainer/containers" and fails.

It would be nice to output a more friendly message instead, as most functions cannot be completed while running as a non-root.

[2016-03-09 07:23] nponeccop opened #626 "Better description of runc kill"
Currently `runc kill --help` doesn't clearly display how to pass `SIGKILL` (or another non-standard signal) to a container. E.g. `runc kill container_id [signal]` is better than current `runc kill [arguments..]`

[2016-03-09 07:26] nponeccop opened #627 "Killing a non-existing container produces a stacktrace"
Currently `sudo runc kill oiroerioeiro` produces a stacktrace instead of outputting an error message.

[2016-03-09 10:54] marcosnils commented on #625
@nponeccop are you running the last version?

You should get a `FATA[0000] runc should be run as root` error message when trying to runC as a non-root user.

[2016-03-09 10:55] marcosnils commented on #626
Again, seems like an old version
[code]

[2016-03-09 10:56] marcosnils commented on #627
old version

[code]

[2016-03-09 10:56] marcosnils commented on #624
CRIU is already optional.

[2016-03-09 14:32] mikebrow commented on #624
CRIU is a requirement for the checkpoint & restore commands. But you don't need to use those commands to manage containers.

I already did one spin at cleaning up the --help across the apis.  After you've downloaded the latest build if you have some specific ideas for additional help text I could update it based on your comments if you like.

Cheers.

[2016-03-09 15:05] nponeccop commented on #627
oh sorry. I will retest with HEAD. I tested with the last release.

[2016-03-09 15:05] #627 closed

[2016-03-09 15:05] #626 closed

[2016-03-09 15:06] nponeccop commented on #625
Sorry again. I'm running the last release, which is not HEAD.

[2016-03-09 15:06] #625 closed

[2016-03-10 06:56] inatatsu opened #631 "Running a container becomes slower when a large number of containers are alive"
Replicates docker/docker#20851 for RunC.

[2016-03-10 13:47] adfernandes commented on #613
I added @avagin's patch as a PR here to facilitate merging.

Full kudos to @avagin; all I did is apply and test!

[2016-03-11 03:43] wking commented on #243
Maybe fixed in v0.9.0 (“[Allow all mount types inside the container's mount namespace][1]”)?

[1]: https://github.com/opencontainers/runc/releases/tag/v0.0.9

[2016-03-11 06:04] hqhq commented on #243
I think so, closing.

[2016-03-11 06:04] #243 closed

[2016-03-11 17:56] ip1981 opened #635 "Valid IDs"
Why are IDs restricted by this pattern?

[code]

https://github.com/opencontainers/runc/blob/master/libcontainer/factory_linux.go#L29

[2016-03-13 12:39] perpen opened #641 "Unable to sudo in the container"
I created a container running arch-linux, with quite a few capabilities, including `CAP_SETUID`. All seems good except sudo is not working:
[code]
As an experiment I then tried achieving the uid change using file capabilities (not 100% sure about this, first time I use them):
[code]

I'm using recent code from this repo (commit 2524befb5225748ab84c0fc414299ec5780b5869), and this config.json: https

[2016-03-13 14:31] perpen commented on #641
Setting `NoNewPrivileges` to `false` in my config fixed it!
I had completely misunderstood how this option works.

[2016-03-13 14:31] #641 closed

[2016-03-13 18:29] mikebrow commented on #485
#dibs

[2016-03-13 20:22] charleszheng44 opened #642 "Installation without sudo access"
Since I installed `golang` to a custom path instead of `/usr/local/bin`, is that possible to install `runC` without `sudo` privilege?

[2016-03-14 02:57] hqhq commented on #642
It is possible, since all `make install` does is to copy runc to `/usr/local/bin/runc`, you can copy it to any paths in your environment `PATH` list as you want without using `make` command.
But you always need `sudo` to use runc, I don't see the benefit from the avoidance of `sudo` when install `runC`.

[2016-03-14 13:20] charleszheng44 commented on #642
@hqhq when I did the `make install`, some go files point to the `/usr/loacl/bin/go`. It seems like `runC` can not be installed with custom `go` path without changing the source code.

[2016-03-14 13:53] mikebrow commented on #642
Not sure what you are talking about regarding some go files pointing to a particular directory.

runc is a simple standalone binary executable. After you build it you can run it right from the directory where you built it. For example: `./runc --help` Or as hqhq says you can cp it to the directory of your choice. This is the code in the makefile for install:
`install:
	cp runc /usr/local/bin/runc`

[2016-03-14 16:38] mikebrow opened #645 "Overriding the default args parameter in the spec"
With the current spec command the args parameter defaults to `sh`.  This works well for containers that include the sh command, but not so well for other containers.

One has to edit the `config.json` just to run hello-world. Examples:
    `sed -i 's;"sh";"/hello";' config.json`
    `sed -i 's/"sh"/"echo","-n","hi"/' config.json`
    edit args using a text editor.

For usability sake... I recommen

[2016-03-14 18:18] marcosnils commented on #645
The runC readme states:

Maybe adding that it assumes that the rootfs has `sh` is enough?

[2016-03-14 18:25] crosbymichael commented on #645
The specs commands just creates an example config as a starting point for you to build on.

its just meant as a starting point, thats all.

[2016-03-14 18:41] crosbymichael commented on #613
The patch has been merged now, thanks for the report.

[2016-03-14 18:41] #613 closed

[2016-03-14 18:46] crosbymichael commented on #586
There are various security issues and bugs that happen when rootfs is a symlink.  If you want it to live somewhere else, you should use a bind mount.

There is alot of bugs and weird things that happen when you have this as a symlink so that is why we made this a requirement in libcontainer.

[2016-03-14 18:46] #586 closed

[2016-03-14 18:46] crosbymichael commented on #530
Thanks @mikebrow, closing

[2016-03-14 18:46] #530 closed

[2016-03-14 18:50] crosbymichael commented on #624
Yes, there is no hard requirement on `criu` and everything else works except c/r.  I'm not sure if we should remove the commands or not if criu is not installed because it gives ppl a hint that c/r is available and that they should install criu if they want to take advantage of it.

[2016-03-14 18:51] crosbymichael commented on #635
It is for valid filepath names because the container id needs to be written to disk in something like `/run` to store state.

[2016-03-14 18:59] #624 closed

[2016-03-14 19:08] mikebrow commented on #645
I'll update the usage for spec/start to reflect that.  This to reduce the possible number of incoming reported issues and questions.  Cheers.

[2016-03-14 19:23] ip1981 commented on #635
File names can include a way more other characters. I fail to see reasons for existing restrictions. `foo.com` is a valid file name, but not a valid id. Why?

[2016-03-15 10:12] giuseppe commented on #586
what kinds of issues?  Would not these be fixed if any symlink in the rootfs is resolved before using it (as my hacky patch does)?

[2016-03-17 14:56] matthaias opened #649 "Add Vagrantfile"
I tried runc on OSX yesterday and missed a Vagrantfile :). I think that would make it easier for people with OSX or Windows to get started with runc. What do you think? In case you like the idea, I'm happy to provide a Vagrantfile via PR.

[2016-03-17 20:32] sols1 opened #654 "support cgroup v2 (unified hierarchy)"
cgroup v2 (unified hierarchy) is now official in 4.5:

https://git.kernel.org/cgit/linux/kernel/git/torvalds/linux.git/commit/?id=34a9304a96d6351c2d35dcdc9293258378fc0bd8

cgroup v2 should have more sensible behavior:

https://www.youtube.com/watch?v=PzpG40WiEfM
# https://github.com/docker/docker/issues/16238

[2016-03-18 16:38] #635 closed

[2016-03-18 20:51] mikebrow opened #662 "Exec fails randomly"
on:
  4.2.0-30-generic
  Distributor ID:	Ubuntu
  Description:	Ubuntu 15.10
  Release:	15.10
  Codename:	wily

in a vbox with 4gig ram

using:
runc -v
  runc version 0.0.9
  commit: '54a6e5600483b3712d3ee15d40781bac48d3de41'
  spec: 0.4.0

Setup a busybox bundle

run the following script
[code]

Output for various attempts:

[code]

[2016-03-18 22:13] mikebrow commented on #662
After changing init_linux.go to be more descriptive:

func setOomScoreAdj(oomScoreAdj int, pid int) error {
	path := fmt.Sprintf("/proc/%d/oom_score_adj", pid)

	//return ioutil.WriteFile(path, []byte(strconv.Itoa(oomScoreAdj)), 0600)
	if err := ioutil.WriteFile(path, []byte(strconv.Itoa(oomScoreAdj)), 0600); err != nil {
		return fmt.Errorf("failed to write %v to %v: %v", strconv.Itoa(oomScoreAdj

[2016-03-18 22:28] diptanu commented on #602
@hqhq @LK4D4 Any updates on this?

[2016-03-18 22:37] mikebrow commented on #662
Suggest changing:

`OomScoreAdj int `json:"oom_score_adj"` in Config struct in file libcontainer/configs/config.go
`
to:

`OOMScoreAdj *int `json:"oom_score_adj,omit empty"`
`
and refactoring code accordingly.

[2016-03-18 23:00] mikebrow commented on #602
I may be confused about what you're trying to do so pls correct if I'm wrong.  Beyond the internal issue regarding the repetitive path name, your use of a non-existent group name "foo" is the only thing stopping you from moving forward.  As shown above using an existing group name works just fine with your code. The group name is set by the user / program creating the container.  Your using "foo"

[2016-03-19 01:07] diptanu commented on #602
@mikebrow I am not creating a container using cgroup, just creating a cgroup using libcontainer. The problem is if I set `group.Name` then the path names become repetitive. So I am setting the Path and not the name in the cgroup while creating it.

[2016-03-19 02:12] hqhq commented on #662
I can't reproduce this and looks weird because 0 is a valid value for oom_score_adj.

[2016-03-19 04:54] mikebrow commented on #602
Maybe catch us up on chat sometime.. I thought the problem was get pids was returning an error for an existing container's cgroup. Not that you were trying to create a cgroup with no containers.

[2016-03-19 04:57] mikebrow commented on #662
Interesting... vbox running ubuntu 15.10 with the current master?

[2016-03-19 07:32] mikebrow commented on #662
Just to note..  at the point of failure the file /proc/<pid>/oom_score_adj does exist, and I can open it and read two bytes from it...`"0\n"`

I tried writing the same two bytes back to it and get the same invalid argument error message back.

[2016-03-19 16:30] mikebrow commented on #662
I suspect it is a timing problem with short lived processes where we are trying to set the oom_score_adj on a process that has already exited..

[2016-03-19 17:59] jfrazelle opened #663 "pids.max cgroup return "max", runc events broken on master"
If I run `runc events` on master it just hangs

I git bisected it to https://github.com/opencontainers/runc/commit/2b1e086f629aa2f46ee22cdd875b2fc102ec72f6

but I cant tell why that broke it...

But on master my cgroups path in /run/runc/container_name/state.json is:
[code]

whereas on v0.9 it is correctly:
[code]

[2016-03-19 17:59] jfrazelle commented on #663
systemd whyyyyyyyyy you troll me

[2016-03-19 18:10] runcom commented on #663
I get correct results on master:
[code]

[2016-03-19 18:16] jfrazelle commented on #663
ugh what is your systemd version, i have
[code]

[2016-03-19 18:37] jfrazelle commented on #663
ok so its not the json that is the problem, like if i have a container w the systemd.slice json (aka created with master) and use the v0.9 binary to run events for that container it works, but runc events master just hangs

[2016-03-19 18:37] jfrazelle commented on #663
this is the weirdest bug ever

[2016-03-19 18:39] marcosnils commented on #663
@jfrazelle I'm about to try this. Let you know in a couple of mins

[2016-03-19 18:40] jfrazelle commented on #663
thanks I can't tell if im going insane

[2016-03-19 18:50] jfrazelle commented on #663
also i get this when checking the max
[code]

[2016-03-19 18:51] jfrazelle commented on #663
so if I dont set pids limit in my config I get `max` if its set i get what i set it to, so i think its a default problem or something

[2016-03-19 18:53] marcosnils commented on #663
@jfrazelle works for me:

[code]

[2016-03-19 18:53] jfrazelle commented on #663
you dont have pids cgroup, i figured out the problem its https://github.com/opencontainers/runc/issues/663#issuecomment-198765694

[2016-03-19 18:55] marcosnils commented on #663
@jfrazelle good catch. Using old kernels have it's advantages :trollface:

[2016-03-20 10:29] cyphar commented on #663
@jfrazelle Sorry, this was my fault. There's a fix in #644.

[2016-03-20 17:23] jfrazelle commented on #663
oh nice i had opened one too :) but your will hopefully get in first!

[2016-03-21 20:13] mikebrow commented on #662
Confirmed we have a timing issue with short lived processes (like echo) if I move the call to setOomScoreAdj to right after the Start() call, as shown below, my stress test never fails:
[code]

[2016-03-21 22:06] mrunalp commented on #663
@jfrazelle Can we close this now that #644 is merged? :)

[2016-03-21 22:08] #663 closed

[2016-03-21 22:08] jfrazelle commented on #663
thanks for reminding me sorry

[2016-03-21 22:19] mrunalp commented on #662
@mikebrow We can't move it up above execSetns() as the pid isn't correct. We need synchronization like in init.

[2016-03-21 22:20] mrunalp commented on #663
Thanks! No worries :)

[2016-03-21 23:11] mikebrow commented on #662
Thx, and yes moving to above the WriteJSON works so closing the issue.  Will draft some stress tests to try and find race conditions.  Cheers.

[2016-03-21 23:11] #662 closed

[2016-03-21 23:12] #645 closed

[2016-03-22 01:17] cyphar commented on #654
cgroupv2 still doesn't support many of the cgroup controllers we need for runc. The most important one is the device "cgroup", which is a hard requirement for security.  As far as I can see, CPU still hasn't been implemented either. Also, many of the other cgroups provide us with protections against other resource exhaustion attacks.

[2016-03-22 17:50] mikebrow opened #676 "Expand support for container id naming"
Currently we limit container ids through regex to \w ascii numbers and letters and a few additional selected chars.

The spec has no such limit.

Suggest changing the code in one of the following ways to add the ability to support unicode names:

1) do a touch cid to see if the OS supports it as a filename and report otherwise
2) figure out how to the fix the expression for the plethora of unicode

[2016-03-23 00:02] jfrazelle opened #678 "runc stats command?"
a lot like `docker stats` or my tool that is basically docker stats github.com/jfrazelle/magneto

is this something you would like built in?

or is this a question for the spec?

[2016-03-23 13:35] marcosnils commented on #678
So, containerd has a `stats` commands which returns stats for a running container. Does it make sense to include it in runC as well?.

[2016-03-23 14:32] julz opened #680 "Raising rlimits higher than current hard limit fails in unprivileged containers"
This may or may not be 'working-as-intended', but it seems worth discussing (and possibly specifying).

As stands, creating a container that sets rlimits always works if the container is privileged, but fails if the container is unprivileged *unless* the current rlimits in the host are already as high or higher than the requested rlimit. This makes sense: the container root user does not have perm

[2016-03-23 15:54] jfrazelle commented on #678
But but what if I don't run the container under containerd 0:)

On Wednesday, March 23, 2016, Marcos Nils <notifications@github.com> wrote:

--

Jessie Frazelle
4096R / D4C4 DD60 0D66 F65A 8EFC  511E 18F3 685C 0022 BFF3
pgp.mit.edu <http://pgp.mit.edu/pks/lookup?op=get&search=0x18F3685C0022BFF3>

[2016-03-23 15:57] mikebrow commented on #678
See runc events... :-)

[2016-03-23 15:58] mikebrow commented on #678
Not pretty as it comes in json only form... Just needs a way to pretty it up a bit.

[2016-03-23 15:59] jfrazelle commented on #678
I mean I built a tool to pipe runc events too, I just didn't know if it
should still be separate

On Wednesday, March 23, 2016, Mike Brown <notifications@github.com> wrote:

--

Jessie Frazelle
4096R / D4C4 DD60 0D66 F65A 8EFC  511E 18F3 685C 0022 BFF3
pgp.mit.edu <http://pgp.mit.edu/pks/lookup?op=get&search=0x18F3685C0022BFF3>

[2016-03-23 16:00] mikebrow commented on #678
ah...  I'd like an option to format it as a table when not in every n timer mode.

[2016-03-23 16:02] mikebrow commented on #678
runc events --stats --format table <cid>

[2016-03-23 16:05] mikebrow commented on #678
or are you thinking combine list and events --stats?

[2016-03-23 16:17] jfrazelle commented on #678
Ya so kinda like https://github.com/jfrazelle/magneto

On Wednesday, March 23, 2016, Mike Brown <notifications@github.com> wrote:

--

Jessie Frazelle
4096R / D4C4 DD60 0D66 F65A 8EFC  511E 18F3 685C 0022 BFF3
pgp.mit.edu <http://pgp.mit.edu/pks/lookup?op=get&search=0x18F3685C0022BFF3>

[2016-03-23 16:18] mikebrow commented on #678
Dunno... i like runc having a few options to make it more useful as a command line tool.. but some only want it to be a process in the middle for now with as little as possible to meet the spec.

[2016-03-23 16:26] mikebrow commented on #678
Nice tool!  Forking that baby now :-)

[2016-03-23 16:35] jfrazelle commented on #678
sweet ya I agree, was more of a wondering i also love the unix philosophy
different tools for different things :)

On Wed, Mar 23, 2016 at 9:26 AM, Mike Brown <notifications@github.com>
wrote:

--

Jessie Frazelle
4096R / D4C4 DD60 0D66 F65A 8EFC  511E 18F3 685C 0022 BFF3
pgp.mit.edu <http://pgp.mit.edu/pks/lookup?op=get&search=0x18F3685C0022BFF3>

[2016-03-23 16:36] jfrazelle commented on #678
closing, and maybe in the future we can see

[2016-03-23 16:36] #678 closed

[2016-03-23 17:36] mrunalp commented on #680
We discussed this during the OCI call today. I think moving the code to parent process of the container process should probably work. @julz will create a PR.

[2016-03-23 18:28] mikebrow opened #681 "Add stop command"
The spec has a requirement for the inclusion of a stop command.  The spec states:

[code]
I volunteer to do a PR for this new command.  Objections?

[2016-03-23 18:33] crosbymichael commented on #681
I dont remember this.  Stop is pretty bad because what does stop mean?  TERM? SIGKILL? We don't want logic like docker where you SIGTERM, wait for it to die then after a timeout do a SIGKILL.

[2016-03-23 18:37] mikebrow commented on #681
kk... probably need to move the issue to the spec then...

[2016-03-23 21:15] crosbymichael commented on #681
Ok, lets close this then to not cause anyone confusion while its being discussed.

[2016-03-23 21:15] #681 closed

[2016-03-25 01:18] crosbymichael opened #684 "Cap Set Apply EPERM on ARM systems"
We have a weird error coming from:
https://github.com/opencontainers/runc/blob/master/libcontainer/capabilities_linux.go#L68

on arm systems but its not consistent.  We get an EPERM from this like once every 100-1000 containers.  Anyone have any ideas?

[2016-03-25 01:18] crosbymichael commented on #684
cc @tonistiigi

[2016-03-25 01:34] marcosnils commented on #678
@jfrazelle :tada:

[2016-03-25 02:51] cyphar commented on #684
Just reading through the kernel, there's only two places where this could come from:

[code]

Which is always applicable, and this:

[code]

Which is only applicable if you have the security module enabled. I'm not sure if we lock to an OS thread when doing capabilities setting (we should be), but the first case will be triggered if we're switched between physical OS threads -- it's a bit weird th

[2016-03-25 10:15] hqhq commented on #684
I got the same error on the same spot when I tried to enable user namespace on RHEL7, and that's because we lack of an upstream patch for making capability userns aware.

Your problem is likely not the same, but it also looks like a kernel bug, so give the kernel version would help.

[2016-03-25 10:22] hqhq commented on #684
@cyphar I think https://github.com/opencontainers/runc/blob/master/libcontainer/capabilities_linux.go#L68

[2016-03-25 16:41] onlyjob opened #689 "0.0.9 FTBFS with Golang 1.6: "unknown cli.Command field 'ArgsUsage' in struct literal""
[code]

[2016-03-25 16:54] tonistiigi commented on #684
By my logs it seems to be coming from `capset` https://github.com/opencontainers/runc/blob/master/Godeps/_workspace/src/github.com/syndtr/gocapability/capability/capability_linux.go#L445

We do seem to lock on a os thread in https://github.com/opencontainers/runc/blob/master/start.go#L93 . It may be happening on arm just because our arm boxes are much slower, so more likely to get unscheduled. The

[2016-03-25 17:44] crosbymichael commented on #684
@tonistiigi lock thread is set.  the cap code is called from init and not start.

[2016-03-25 19:10] codido commented on #689
How are you building runc?
Seems to build fine here with go 1.6:
[code]

[2016-03-25 20:51] mikebrow commented on #689
If you are building runc using make...

There is an export in the makefile that sets GOPATH:=$(CURDIR)/Godeps/_workspace:$(GOPATH)

The error you are showing indicates that your gopath is not pointing to /Godeps/_workspace and thus is not compiling against our included version of /Godeps/_workspace/github.com/codegangsta/cli/command.go  which is where ArgsUsage is defined.

Cheers.

[2016-03-25 22:39] onlyjob commented on #689
Sorry, of course it was _codegangsta/cli_ version mismatch... Thanks...

[2016-03-25 22:39] #689 closed

[2016-03-25 23:26] onlyjob opened #692 "0.0.9: Hanging test `libcontainer/nsenter/nsenter_test.go`"
`go test` hangs for 10 minutes on `libcontainer/nsenter/nsenter_test.go` before termination:

[code]

`root` privileges required?

[2016-03-25 23:39] onlyjob opened #693 "man section mismatch"
`runc` is installed to `/usr/bin` yet man pages are generates for section 8 which is usually used for administrative commands installed in `/usr/sbin`.

[2016-03-25 23:42] onlyjob opened #694 "please squash man pages"
Installing 13 man pages for one executable is not ideal. Please consider squashing man pages into one file. Thanks.

[2016-03-26 00:16] crosbymichael opened #695 "Numeric user id passed as user name if user name is numeric in /etc/passwd"
Ref: https://github.com/docker/docker/issues/21436

It looks like the user package is searching for a username first even though the format is numeric.  I think if we parseint that should take precedence over the `/etc/passwd` lookup.  What do you all think?

Please read the original issue for more details on the problem reported by a user of Docker.

[2016-03-26 00:43] #684 closed

[2016-03-26 00:56] mrunalp commented on #695
I think we are following a convention in the lookup algorithm. I don't remember from where @tianon probably knows.

[2016-03-26 00:57] mrunalp commented on #694
@onlyjob Not opposed. Would you be willing to make a PR for this?

[2016-03-26 00:59] mikebrow commented on #689
Np.. Have a nice weekend.

[2016-03-26 01:10] #680 closed

[2016-03-26 01:11] onlyjob commented on #694
I'll see what I can do but most likely it will take a while before I'll be able to get to this...

[2016-03-26 01:41] cyphar commented on #695
I'm fairly sure I maintained the old semantics during my rewrite of `libcontainer/user`. AFAIK it's possible to have numeric usernames, so it feels like a weird restriction by runc.

[2016-03-26 01:54] cyphar commented on #692
Since `runc` requires root to run, the unit and integration tests also require root to run.

[2016-03-26 02:09] onlyjob commented on #692
Perhaps there should be some kind of separation between tests that require root and those that don't. For instance it is a bad practice to build software with _root_ privileges hence in proper clean build environment (like on build servers) root tests are doomed to fail.

Besides it would be great if test recognise failure and abort sooner than when it is terminated by timeout...

[2016-03-26 05:21] sumitsanghrajka opened #697 "bind mount a path from root filesystem inside a running container"
Is there a way to bind mount a path from root filesystem inside a running container which was started with pid and mnt namespaces ?

[2016-03-26 09:25] cyphar commented on #697
Have you tried adding it to the `mounts` list in the spec file?

[2016-03-26 09:28] cyphar commented on #692
Should the tests fail if you don't have root? Or should they succeed? But it should be noted that it's simply not possible to run integration tests for a tool which requires root without root. AFAIK most of the unit tests don't require root (only the ones which test functions that require root to run require root).

But I agree that the test should've failed immediately and not timed out...

[2016-03-27 01:48] sumitsanghrajka commented on #697
You mean the config.json file?
But in my case the container is already running (using `runc start` with pid and mnt namespaces).
I want to avoid stopping the container, updating config.json (adding another mount point in the mounts list) file and starting the container.

[2016-03-27 04:56] marcosnils commented on #692
@onlyjob @cyphar please check #700

[2016-03-27 11:43] cyphar opened #701 "make criu a separate build tag"
Currently, criu is enabled-and-required-by-default for runc. I feel like we should probably make it a separate build tag (like `seccomp` and `apparmor`). It'll probably be a bit weird because we'd need to come up with a nice way of changing the global flags and subcommands based on the build tags. Shouldn't be that bad though. But a quick scan shows a **lot** of mixing of CRIU and the core of libc

[2016-03-27 15:18] cyphar commented on #693
I'm fairly sure we should actually be installing to `/usr/sbin` since we require `root` in order to actually run. WDYT @hqhq @mrunalp ?

[2016-03-28 12:19] hqhq commented on #693
Yeah, I think installing to `/usr/sbin` will work.

[2016-03-28 12:25] cyphar commented on #693
I've made a PR (#702) which adds `/usr/sbin` as the installation directory of `runc`. PTAL.

@onlyjob is this more acceptable?

[2016-03-28 13:08] onlyjob commented on #693
Thanks, installing to `/usr/sbin` brings harmony with man page section. :)

[2016-03-28 16:35] mikebrow commented on #701
"enabled-and-required"  this..

What is required?

Seems to me the tests all use criu setups in docker containers.  So enabled for testing.

If you don't want to use the checkpoint/restore commands... you don't have to.  So not required.

The only requirement for the checkpoint/restore commands is that you provide a path to the criu utility.. the usage helps should explain that.  So these are "opt

[2016-03-28 16:59] marcosnils commented on #701
It's not required. If you don't use C/R you don't need to have CRIU installed at all and if you try to do C/R without the criu binary runC will complain about it.

I agree in this point. IMO don't think that libcontainer should know about criu or criu types (which actually does), it would feel better if it just declares the proper interfaces which other concrete packages could implement.

I think

[2016-03-28 17:29] crosbymichael commented on #701
Its a binary dependency, nothing is "required" and nothing will change just because you add a build tag. I'm not sure I see what the problem is.

[2016-03-28 17:33] crosbymichael commented on #695
I see. Thanks.  Let me thing about this more.

[2016-03-28 18:15] avagin commented on #701
Can you elaborate what do you mean here?

[2016-03-28 18:16] marcosnils commented on #701
@avagin

[2016-03-28 20:16] jordmoz commented on #695
It is possible to have numeric usernames, but I had to directly modify the password file to do it.  A quick googling around shows that numeric usernames are not recommended. So either:

1. Numeric usernames are OK: In that case, another --user flag should be introduced to pass user Ids (e.g. --userId) because otherwise there is a serious security hole (as I have shown in the original bug report (h

[2016-03-28 20:31] tianon commented on #695
The way `sudo` solves this is by forcing numeric arguments to start with `#` (ie, `sudo -u '#123' ...`), but that's really nasty IMO.

I think it sounds sane to switch the default to prefer direct usage if we're already numeric (such that `--user 123:456` will always lead to UID of 123 and GID of 456).  I think the original intent was to make sure that we were a faithful interface to `/etc/passwd`

[2016-03-28 20:34] crosbymichael commented on #695
Ya, I'm with @tianon on this.  I think our original intent was that we have the same interface as other tools but we can do better and be more secure if we default to uid/gid if they can be parsed as ints then `/etc/passwd` lookup if not.

[2016-03-28 20:59] mrunalp commented on #697
@sumitsanghrajka The only way this would work is using mount propagation. It is a bit hard to comprehend. I would suggest looking at the feature in docker and then mapping it the right configuration in runc.

[2016-03-28 21:01] mrunalp commented on #695
@crosbymichael I think it makes sense, I don't see any valid use cases for why one would want to create usernames that are numerical in /etc/passwd.

[2016-03-28 23:47] #692 closed

[2016-03-29 01:55] cyphar commented on #695
Cool, I'll make this change.

[2016-03-29 02:22] sumitsanghrajka commented on #697
@mrunalp Thanks. I will look into that.
I found another option which is explained here: https://jpetazzo.github.io/2015/01/13/docker-mount-dynamic-volumes/

[2016-03-29 02:22] #697 closed

[2016-03-29 02:23] cyphar commented on #701
Well, the first reason is cleanliness (which is essentially what @marcosnils said).

In addition, there are cases where it might be necessary to disable `criu` support in runC while still shipping `criu` for separate reasons. These are usually for "what is a supported setup" reasons.

[2016-03-29 09:08] Naitreey opened #705 "cannot suid root when run as non-root"
Hi, I am trying to run python parser with `suid` bit set. The container filesystem is exported from ubuntu docker image.

Here is my python parser status:

[code]
You can see it has suid bit set for root.

Here is my `config.json`:

[code]

After entering the container with `runc start ubuntu`, I ran python with `/usr/bin/python3.4`. Using `os` module I can see both my current uid and euid are 100

[2016-03-29 09:39] Naitreey commented on #705
Version info:
[code]

[2016-03-29 14:15] mikebrow commented on #705
sudo chmod +s /usr/bin/python3.4

[2016-03-29 14:23] Naitreey commented on #705
Hi @mikebrow , I think I have done that, as you can obviously observed from the first cmdline listing I provided.

Actually, I can suid-root with runc 0.0.5, but not with runc 0.0.9.

[2016-03-29 14:29] mikebrow commented on #705
Hey.. did you try to set chmod +s?   Here's the before and after:

Before:
[code]
After:
[code]

[2016-03-29 14:34] cyphar commented on #705
@Naitreey How did you extract the `rootfs`. If you used `docker export`, you need to make sure that you do `sudo tar xvf` when extracting (otherwise all of the files will be owned by your current user). I just ran the following commands and I can't reproduce this:

[code]

[2016-03-29 14:52] cyphar commented on #705
Okay, I just noticed something odd:

[code]

[2016-03-29 15:11] mikebrow commented on #705
Yeah reproduced here too.. also get another issue on ubuntu latest:
mike@mike-VirtualBox:~/go/src/github.com/ubuntutest$ sudo runc start test
groups: cannot find name for group ID 1000
I have no name!@runc:/$

[2016-03-29 16:06] Naitreey commented on #705
@mikebrow maybe that's because your `/etc/passwd` and `/etc/group` files do not contain entries for the corresponding uid/gid (namely 1000).

[2016-03-29 16:27] mikebrow commented on #705
you picked it... don't know why I expected those to move over automatically :-)

[2016-03-30 09:24] Naitreey commented on #705
Hi @cyphar , do you have any progress on the issue?

[2016-03-30 10:13] cyphar commented on #705
No. You reported it yesterday and I live in Australia.

[2016-03-30 12:50] slayercat commented on #705
in runc version 0.0.6, when execute a executable file with suid, kernel function
[code]
will return successfully. while in runc version 0.0.9, it will return at
[code]
still digging why.

[2016-03-30 12:59] rajasec opened #709 "terminal not usable after detach container"
After starting the container with detached mode, the terminal is not in usable state.
Even we start via shell scripts, current terminal is not usable ( until we destroy & delete the container)

[2016-03-30 13:02] cyphar commented on #705
@slayercat Ah, it might be because we added the `no_new_privs` bit at some point. This bit essentially disables stuff like `setuid` or `setcap` (and a bunch of other things) with `execve`. I vaguely remember some discussions about it a few months ago...

[2016-03-30 13:04] slayercat commented on #705
hi, @cyphar ,any plan about that?

[2016-03-30 13:04] cyphar commented on #705
@Naitreey Okay, I've found it. There's an option in `config.json` called `noNewPrivilieges` which is **`true` in the default config**. You need to set it to false.

[code]

[2016-03-30 13:07] slayercat commented on #705
thanks,it worked !

[2016-03-30 13:10] Naitreey commented on #705
Thanks for helping :+1:

[2016-03-30 14:13] cyphar commented on #705
@Naitreey If that fixes your problem, feel free to close this issue. :smile_cat:

[2016-03-30 14:41] #705 closed

[2016-03-30 20:52] #695 closed

[2016-03-30 21:01] jordmoz commented on #695
thanks all!

[2016-03-31 20:42] qiancai opened #713 "runc returns 0 even if the entrypoint command was failed due to seccomp"
[code]

[code]

[code]
At git commit 2441732.

[2016-04-01 08:31] Naitreey opened #714 "canonicalize bundle path before starting container"
runc now supports two ways of starting a container:
- `cd` into the container bundle dir, then `runc start <container-id>`
- In any directory, `runc start (--bundle|-b) <bundle-path> <container-id>`

The inconsistency occurs when encountering bundle path which contains symlink.
- In the first form of invocation, the following error is printed and container is failed to start:

[code]
- In the seco

[2016-04-01 14:09] qiancai opened #715 "rootfs shared mount propagation broken"
[code]

Bundle is under /root/rootfs/

[code]

[code]

On the other hand, "slave" seems work fine.

Tested at the commit id 89ab7f2

[2016-04-03 15:25] suryagaddipati opened #719 "Vol mounted overlayfs directory in is invisible to container"
` /cache/ssd/merged/6` is an overlayfs 'merged' directory

[code]

on the host machine

[code]

[2016-04-04 00:56] suryagaddipati commented on #719
Closing. Seems to be a docker issue.

[2016-04-04 00:56] #719 closed

[2016-04-04 05:20] cyphar commented on #719
To answer your question, I think that Docker uses just regular `bind` mounts for volumes. Those don't properly deal with sub-mountpoints and require `rbind` mounts (recursive bind mounts).

[2016-04-04 21:21] #676 closed

[2016-04-04 21:22] mikebrow commented on #676
little interest shown

[2016-04-06 17:24] mikebrow commented on #709
Try this:
runc start -d --console /dev/pts/ptmx test_busybox
runc exec test_busybox echo Hello from exec
sudo runc exec test_busybox sh

[2016-04-06 17:26] LK4D4 commented on #709
I saw that too! was fixed for me after reboot.

[2016-04-06 17:29] mikebrow commented on #714
In the first case the code is testing for sym links... @crosbymichael may be able to explain why that test was put in.  In the second case the code just sets the cwd to the bundle, and does not check.  I suppose it makes sense to make sure they both have the same behavior.

[2016-04-06 17:40] mikebrow commented on #709
By default state for the container is stored in a location that is "deleted" on reboot. Are you guys saying you have a "stopped" container in destroyed state that you are trying to attach too?  < need more data :-) >  Cheers

[2016-04-06 17:44] crosbymichael commented on #709
If you are going to use a tty with attach then you have to hold open the master side yourself since runc is not alive to do it.

[2016-04-06 17:44] #709 closed

[2016-04-06 20:28] dhiltgen opened #726 "Unable to create more than 200 containers by default"
If you attempt to create more than 200 containers, you get a rather confusing error message from the daemon.

[code]

It appears that https://github.com/opencontainers/runc/pull/582 coupled with the default `/proc/sys/kernel/keys/` quota leads to this.

Ideally users shouldn't have to modify this by hand to run more than 200 containers on the system.

[2016-04-06 20:35] marcosnils commented on #726
@dhiltgen have you tried containerd?. Seems to me like runC is already battle tested.

https://github.com/docker/containerd

[2016-04-06 20:36] dhiltgen commented on #726
I was using docker 1.11.0-rc3

[2016-04-07 13:47] pkieltyka opened #728 "Use Go's new standard vendoring in 1.6+"
I also suggest https://github.com/kardianos/govendor over Godeps.

[2016-04-07 14:10] cyphar commented on #728
Sure, that's fine. But I think we should do a subtree merge or something like that to make sure that the history of vendoring isn't lost.

[2016-04-08 04:34] AkihiroSuda commented on #80
docker/docker#21808 is hitting this issue again.

https://github.com/opencontainers/runc/pull/96#issuecomment-127741261 introduced `setupDev := len(config.Devices) != 0` for this issue.
https://github.com/opencontainers/runc/blob/55aabc142c005cd732614e1af985902814a1f704/libcontainer/rootfs_linux.go#L56

But I'm not sure there is any path that sets `setupDev` to `false`, because `config.Devices` se

[2016-04-08 17:41] aboch opened #733 "runc does not report failures happening in pre/post-hook"
For example in docker, on container start, if a failure happens while libnetwork programs the networking for the container (for example failing to program the container's default gw), daemon would always returns a generic oci error:
`docker: Error response from daemon: rpc error: code = 2 desc = "oci runtime error: exit status 1".`

This makes it impossible to debug an issue for which no warn or e

[2016-04-08 19:04] crosbymichael commented on #713
The shell utility actually returns the zero exit status so runc is reporting it properly.    Also `/bin/cd` does not exist on most systems now because its a builtin.

This is better show if you block `rename` and your args is something like:

[code]

[2016-04-08 19:04] #713 closed

[2016-04-08 21:34] #733 closed

[2016-04-08 23:07] mlaventure commented on #733
A more generic description would be that the stderr output of hooks should
be propagated up I think.

On Sat, Apr 9, 2016, 3:41 AM Alessandro Boch <notifications@github.com>
wrote:

[2016-04-11 17:01] ovanes opened #741 "/proc/sys read-only"
Currently running a privileged container allows to modify values in `/proc/sys` file system. As it turns out runC prohibits it and, finally, if docker completely moves to runC some deployments will break.

Can `/proc/sys` still be made writable?

[2016-04-12 04:58] vanloswang opened #743 "compile runc-0.0.8 fails on fedora 21 mipsel"
[code]

The build process exit after output this message, and the exit status is 2. There is no enough information for me to debug this. Could someone give me some suggestions to fix it?

[code]

The systemd version is:
`systemd-216-12`

[2016-04-12 05:07] vanloswang commented on #743
I try the command by hand, it reports as bellow:
export GOPATH=/root/rpmbuild/BUILD/runc-1a124e9c2da68c867ed2c4f4ff19f0cd95cda0cd:/usr/share/gocode
/usr/lib/golang/pkg/tool/linux_mips64le/compile -o /root/rpmbuild/BUILD/runc-1a124e9c2da68c867ed2c4f4ff19f0cd95cda0cd/src/github.com/opencontainers/runc/libcontainer/cgroups/systemd.a -trimpath /root/rpmbuild/BUILD/runc-1a124e9c2da68c867ed2c4f4ff19f0cd

[2016-04-12 07:42] vanloswang commented on #743
I also tried the srpm golang-github-docker-libcontainer-2.1.1-0.2.gitc964368.fc21.src.rpm, it report as follow:
# rpmbuild -bb golang-github-docker-libcontainer.spec
execute (%prep): /bin/sh -e /var/tmp/rpm-tmp.NGPcNw
+ umask 022
+ cd /root/rpmbuild/BUILD
+ cd /root/rpmbuild/BUILD
+ rm -rf libcontainer-c9643688cb73c2588a9c9b14357bda6c3a9df67f
+ /usr/bin/gzip -dc /root/rpmbuild/SOURCES/libcontainer

[2016-04-12 08:00] vanloswang commented on #743
The version of the pkg golang-github-coreos-go-systemd-devel is as follow:
# rpm -qa | grep go-systemd
golang-github-coreos-go-systemd-devel-3-2.fc21.noarch

And the interface StartTransientUnit is defined golang-github-coreos-go-systemd-devel in  as follow:
func (c *Conn) StartTransientUnit(name string, mode string, properties []Property, ch chan<- string) (int, error) {
But the call in src/githu

[2016-04-12 08:11] vanloswang commented on #743
When downgrade golang-github-coreos-go-systemd-devel from 3-2.fc21 to 2-1.fc21, the compile process of golang-github-docker-libcontainer exit without any more output than runc.

# rpmbuild -bb golang-github-docker-libcontainer.spec
execute (%prep): /bin/sh -e /var/tmp/rpm-tmp.Iahjdp
+ umask 022
+ cd /root/rpmbuild/BUILD
+ cd /root/rpmbuild/BUILD
+ rm -rf libcontainer-c9643688cb73c2588a9c9b14357bda

[2016-04-12 09:42] cyphar commented on #741
I'm confused, wasn't this fixed in #716? You can change the `ReadonlyPaths` list of paths so that it doesn't include `docker`. What's left is for Docker to correctly set the OCI config.

[2016-04-12 19:12] #693 closed

[2016-04-13 08:01] vanloswang commented on #743
add mips64 code supoort, compile successed.

[2016-04-13 08:01] #743 closed

[2016-04-13 08:08] hqhq commented on #743
Do you mind contribute the code for mipsel support?

[2016-04-14 12:46] papey opened #752 "runc exec command parsing"
Using runc exec fails when "container command" need an option.

For example :

[code]

gives

[code]

[2016-04-14 12:59] cyphar commented on #752
It's because `runc` is treating the `-l` as a flag. You can fix this by either doing the following:

[code]

or

[code]

[2016-04-14 13:13] papey commented on #752
thx but runc now search for a "--" command,

[code]

[2016-04-14 13:57] codido commented on #752
@papey Could you give https://github.com/opencontainers/runc/pull/754 a shot?

[2016-04-14 14:03] papey commented on #752
Yes, currently working on a PR.

[2016-04-14 14:24] codido commented on #752
@papey Seems '--' does work, but only if it is added before the container ID:
`runc exec -- ${containerid} ${cmd}`

[2016-04-14 14:41] jfrazelle commented on #752
[code]

On Thu, Apr 14, 2016 at 7:24 AM, Ido Yariv <notifications@github.com> wrote:

--

Jessie Frazelle
4096R / D4C4 DD60 0D66 F65A 8EFC  511E 18F3 685C 0022 BFF3
pgp.mit.edu <http://pgp.mit.edu/pks/lookup?op=get&search=0x18F3685C0022BFF3>

[2016-04-14 14:45] jfrazelle commented on #752
the behavior is super odd now as to when you need and don't need `--`
looking into it

On Thu, Apr 14, 2016 at 7:41 AM, Jessica Frazelle <me@jessfraz.com> wrote:

--

Jessie Frazelle
4096R / D4C4 DD60 0D66 F65A 8EFC  511E 18F3 685C 0022 BFF3
pgp.mit.edu <http://pgp.mit.edu/pks/lookup?op=get&search=0x18F3685C0022BFF3>

[2016-04-14 14:46] jfrazelle commented on #752
seems to be more a bug in the cli lib

[2016-04-14 14:52] jfrazelle commented on #752
Ok I see the problem, the container id is the first argument, which is not a flag, the library (correctly imo) expects the `--` to come before any arbitrary arguments, the id is kinda an arbitrary argument
unsure what to do here

[2016-04-14 15:16] SunWeicheng0001 commented on #87
It means that checkpoint can only take effect on the container which is detached, and an interactive container is impossible to checkpoint and restore?

[2016-04-14 17:42] avagin commented on #87
I added support of external terminals in criu:
https://github.com/xemul/criu/commit/4bab48fb39c2495585b1fb0d2e1e593970e9b151

[2016-04-14 17:43] crosbymichael commented on #87
@avagin nice!

[2016-04-14 18:04] vito commented on #252
Ran into this same issue (`EPERM` when mounting `/proc`); it ended up being because of a `/proc/xen` mount point. Unmounting it in a separate mount namespace (`unshare -m`) and then running `runc` from that namespace fixed it.

[2016-04-14 20:10] mikebrow commented on #752
While they are figuring it out... you can just use -p to point to your process.json where you can specify your arguments.  Hint:  using a quick script you can generate a new process.json with arguments and call runc with -p pointing to the new file..

[2016-04-15 21:11] dimtruck opened #756 "Docker package building fails with make install's change to copy runc to sbin"
I believe this commit: https://github.com/opencontainers/runc/commit/e87436998478d222be209707503c27f6f91be0c5 breaks docker's deb builds.  Due to https://github.com/docker/docker/blob/master/hack/make/.build-deb/rules#L26 attempting to copy from /usr/local/bin/runc

[code]

[2016-04-16 03:36] cyphar commented on #756
This isn't a runC issue and should be fixed on the Docker side.

[2016-04-16 03:38] dimtruck commented on #756
That's fair.  Opened https://github.com/docker/docker/issues/22089 and pr'ed https://github.com/docker/docker/pull/22090

[2016-04-16 03:39] cyphar commented on #756
Cheers. Closing in favour of the Docker PR and Issue.

[2016-04-16 03:39] #756 closed

[2016-04-17 23:12] jfrazelle commented on #38
I have started a thread on the mailing list here https://groups.google.com/a/opencontainers.org/forum/#!topic/dev/yutVaSLcqWI with my proposed actions to make this a reality

[2016-04-18 00:37] cgwalters commented on #38
Above I linked linux-user-chroot, this code has now migrated to https://github.com/projectatomic/bubblewrap

[2016-04-18 09:23] mr-c commented on #38
FYI, bubblewrap is setuid & requires non-privileged user namespaces; which are great when you have them. RHEL6 does not.

[2016-04-18 13:42] cgwalters commented on #38
bubblewrap does not require user namespaces - allowing container features to be safely exposed to userspace on kernels which don't have `CONFIG_USERNS` is a large part of the point.

It might be interesting to have runc support mapping JSON configuration to bubblewrap, but in the end over time user namespaces will hopefully be secure enough it'll be a legacy thing.  In the meantime though, if anyo

[2016-04-18 13:45] mr-c commented on #38
Hello @cgwalters ,

Here is my experience trying the bubblewrap demo:
[code]

[2016-04-18 13:52] rhatdan commented on #38
@mr-c Did you make bubblewrap setuid?

[2016-04-18 13:53] mr-c commented on #38
@rhatdan Setuid binaries are a no-go on most academic computing clusters.

[2016-04-18 13:56] rhatdan commented on #38
What about passwd?  :^)

I would argue that a properly examined setuid app is probably more secure then running with User Namespace.

I also do not believe that you can do mounts in user namespace, so you need suid to do it.

[2016-04-18 13:58] cyphar commented on #38
I concur with @mr-c that having containers in an academic computing cluster would be invaluable. I've run into several cases where you can't convince the admins to install any new software and you can't build `python3` properly. And no, asking them to install a `setuid` binary is a serious no-go.

The only issue is that academic clusters are usually using outdated kernels too. But at least restric

[2016-04-18 14:02] mr-c commented on #38
@rhatdan Yeah, It is basically impossible to convince admins of research/academic clusters (especially those that have [PII](https://en.wikipedia.org/wiki/Personally_identifiable_information) and [PHI](https://en.wikipedia.org/wiki/Protected_health_information) data) to install additional setuid binaries.

@cyphar You may be interested in https://github.com/opencontainers/runc/issues/38#issuecomme

[2016-04-18 14:06] cyphar commented on #38
@rhatdan

This isn't true for all mounts. In fact, it's only true for some of the mounts we do, but I feel like we might be able to work around them. From [this LWN article][lwn]:

Thus, we can easily mount /proc, /sys and /tmp. With those, we can already start thinking about setting up a system without root. Maybe we could even use bind mounts to work around the /dev issue (I'm not sure though).

[2016-04-18 14:08] alexlarsson commented on #38
@mr-c You need to have *either* user namespaces, or have the bwrap setuid/setcaps. There is no other way with the current kernel to use namespces.

[2016-04-18 14:09] alexlarsson commented on #38
@mr-c What distro/kernel are you running on?

[2016-04-18 14:11] mr-c commented on #38
@alexlarsson I understand, that is why I was advocating for `proot` style fallback support in https://github.com/opencontainers/runc/issues/38#issuecomment-184309614. This particular cluster is running RHEL 6.6.

[2016-04-18 14:33] alexlarsson commented on #38
@mr-c I do want to note that I believe bubblewrap shipped as setuid is safe. Its a very minimal C app with zero dependencies (only libc) that is written with security/setuid in mind.

[2016-04-18 14:33] alexlarsson commented on #38
Its not like shipping with a setuid runc which lets you own the system.

[2016-04-18 14:36] mr-c commented on #38
Hey @alexlarsson, I'm not at all saying it isn't safe, just that I'm looking for other approaches as setuid binaries aren't acceptable on basically all of the academic/research computing clusters I have run into.

[2016-04-18 15:22] alexlarsson commented on #38
@mr-c Even if say bubblewrap was in rhel 6.x?

[2016-04-18 15:42] mr-c commented on #38
@alexlarsson Of course, if runc/opencontainers support ships with the OS that they installed then there is no fight :-)

[2016-04-18 21:57] philips opened #760 "move libcontainer/SPEC.md into runtime-spec project?"
It feels like most of this file belongs here: https://github.com/opencontainers/runtime-spec/blob/master/runtime-linux.md

Maybe I am misreading the intent of this file though.

[2016-04-19 06:46] hqhq commented on #760
It's legacy from old libcontainer days, since there are still many users who only use libcontainer as library, I think we can keep this `SPEC.md` in libcontainer for now.

[2016-04-19 06:53] hqhq commented on #760
But yeah, contents in this file can be used to enrich runtime-spec, but I think most of them are already in https://github.com/opencontainers/runtime-spec/blob/master/config-linux.md

[2016-04-19 07:40] ncopa opened #761 "build fails with musl libc"
When building with musl libc build fails with this error:

[code]

According the glibc source, the `bits/sockaddr.h` header should [never be included directly](https://github.molgen.mpg.de/git-mirror/glibc/blob/20003c49884422da7ffbc459cdeee768a6fee07b/bits/sockaddr.h#L20), instead `sys/socket.h` should be used instead.

[2016-04-19 07:52] ncopa commented on #761
This was introduced with 3c2e77eed56a571265631694f898c29142c32da3 (Fri Jan 29, Add a compatibility header for CentOS/RHEL 6)

[2016-04-19 07:55] jfrazelle commented on #761
that was probably added when docker was still supported on rhel6 i say remove, but ianam

[2016-04-19 07:57] ncopa commented on #761
It was added in jan 2016.

I'm testing a fix in centos 6. PR coming up soon...

[2016-04-19 07:59] jfrazelle commented on #761
whoa... someone crazy enough to run in rhel 6 😱

On Tue, Apr 19, 2016 at 12:57 AM, Natanael Copa <notifications@github.com>
wrote:

--

Jessie Frazelle
4096R / D4C4 DD60 0D66 F65A 8EFC  511E 18F3 685C 0022 BFF3
pgp.mit.edu <http://pgp.mit.edu/pks/lookup?op=get&search=0x18F3685C0022BFF3>

[2016-04-19 08:22] ncopa commented on #761
apparently someone does.

I am a bit confused. runc does not build in centos6 container:
[code]

however, the file in question does build just fine without the `bits/sockaddr.h` include:
[code]

So i wonder why exactly was this line added in first place?

[2016-04-19 08:39] ncopa commented on #761
It was added due to this error (which happens when building the commit before, 7d423cb7a11ac85427dfe740f2b7cddbfbb68f95)
[code]

However, the `#include <bits/sockaddr.h>` is no longer needed after commit
394fb55d85b9a40c3193eca85588ea2e06cf9081, which fixes the same problem, but in a correct way.

The line can safely be removed.

[2016-04-19 08:41] cyphar commented on #761
@ncopa Would you mind making a PR for it?

[2016-04-19 22:29] #761 closed

[2016-04-20 13:33] mr-c commented on #38
Oh, I just learned that there is a thread on the mailing list interesecting this conversation: https://github.com/common-workflow-language/schema_salad/commit/f08e53cd6f700e2d941c7114f0a622cbd69f7068

[2016-04-20 13:34] mr-c commented on #38
Correct URL is https://groups.google.com/a/opencontainers.org/forum/#!topic/dev/yutVaSLcqWI

[2016-04-20 13:38] rhatdan commented on #38
If you are running on RHEL6, how do you get User Namespace support?

[2016-04-20 13:44] mr-c commented on #38
Hello @rhatdan , Is that question directed at me?

I'm not personally running RHEL6 on any of my systems, but a sub-thread was about finding a way to run containerized software on academic computing clusters, where RHEL 6 is very common. A proposed solution is in https://github.com/opencontainers/runc/issues/38#issuecomment-184309614 which does not rely on capabilities, setuid binaries, or user na

[2016-04-20 13:52] rhatdan commented on #38
Ok I have not reviewed the list of proposals.  But my bottom line would be to get to rhel7 version if at all possible to work with the latest container technologies.

[2016-04-20 13:56] cyphar commented on #38
@mr-c IMO, it wouldn't make sense to incorporate `proot` into `runc`. But if you can already have `proot` on clusters, I'm confused why you also want that to be a part of `runc`. You would get very few of the features of `runc` on a kernels as old as the ones in RHEL 6. Since `runc` is a container runtime, I don't see why adding support for another runtime that isn't container-based makes sense.

[2016-04-20 14:02] mr-c commented on #38
@cyphar In the scientific software domain we are primarily using containers to solve software portability concerns, not security.

We anticipate, and support, `runc` becoming the standard interface for container management.

It would be great if there was a built in fallback to support running an otherwise trusted program inside of a `runc` container on older systems such as RHEL6 where there is e

[2016-04-20 18:56] wking commented on #38
On Wed, Apr 20, 2016 at 07:02:13AM -0700, Michael R. Crusoe wrote:

I think this may be conflating images and running containers.  With
shared tooling like [1], publishers can push images and users can
unpack them into local bundles [2].  Some users will launch those
bundles using Linux namespaces / cgroups via runC.  But others would
launch those same bundles using a proot wrapper that ignored
na

[2016-04-20 19:50] davidlt commented on #38
Long, but this is picture from my point of view.

I am successfully using PRoot for some activities on RHEL/CentOS 6. I am even using it with QEMU for emulating POWER8 with Fedora rootfs and ARMv8 with CentOS rootfs. It does work.

It is true that RHEL 6 is currently the dominating Linux distribution and hopefully first roadmaps will be announced for migration to RHEL 7 this year (I hope). In my c

[2016-04-21 17:47] tonistiigi opened #769 "userns doesn't work on ubuntu-xenial"
from master:

`rootfs_linux.go:53: mounting "/dev/mqueue" to rootfs "/home/vagrant/a/rootfs" caused "device or resource busy"`

from docker v1.11(slightly older runc):

`docker: Error response from daemon: rpc error: code = 2 desc = "oci runtime error: could not synchronise with container process: device or resource busy".`

[code]

[2016-04-21 17:51] discordianfish commented on #38
I've heard @jfrazelle wanted to look into this? :)

[2016-04-22 09:33] papey opened #771 "userns + netns = operation not permitted"
Adding netns support to containers fails due to userns.

## Basic userns container

### Host side

Using a userns user

[code]

According to this issue https://github.com/opencontainers/runc/issues/252, all files listed bellow are owned by userns:userns

[code]

Config file

[code]

### Container side

LGTM, no running errors, I can read/write in the bind mounted data folder.

## Adding netns supp

[2016-04-22 15:52] cyphar commented on #38
@davidlt It isn't currently possible to set cgroup limits in an unprivileged user namespace (that is, if you start as a regular user). So you can't really set the hard limits in that way, which limits you to rlimits that aren't nearly as useful. The same holds for `proot`-style chroots.

For me, the important question is whether we can use `proot` and implement enough of the OCI spec implementatio

[2016-04-22 16:14] wking commented on #771
On Fri, Apr 22, 2016 at 02:34:01AM -0700, Wilfried OLLIVIER wrote:

The network namespace you created belongs to the host user namespace,
so your unprivileged user can't join it.  What you want to do is have
the unprivileged user create both the user namespace and the network
namespace (either in the same clone(2) call, or from within the user
namespace).  For a not-quite-OCI example of unprivileg

[2016-04-23 11:09] cyphar commented on #38
Okay, this works on my fork of runC. There are some outstanding things to do, mostly related to giving more meaningful errors to users when their config won't work with a rootless container setup. You can see the code here: https://github.com/cyphar/runc/tree/rootless-containers

[2016-04-24 05:30] #631 closed

[2016-04-24 10:13] amitsaha opened #775 "Help: Using libcontainer"
For lack of a better forum (if there is one, please suggest), I am posting my query here. I am trying to use "libcontainer" to be able to create a container, run a process and exit.  The following code has been put together by looking at the tests and having a somewhat vague idea of what may be involved:

[code]

When I run the program, passing a busybox rootfs:
[code]

It looks like there are mul

[2016-04-24 10:28] amitsaha commented on #775
Posted in the Google group: https://groups.google.com/a/opencontainers.org/forum/#!topic/dev/0vdFjBYaZKQ

[2016-04-24 10:28] #775 closed

[2016-04-24 23:52] iavael commented on #769
Same problem on my host with docker 1.10.3-cs2 after upgrade to xenial

mount(2) of mqueue returns EPERM with --ipc=host and EBUSY without.

[2016-04-26 16:40] mrunalp commented on #769
I suspect a bug in the Xenial kernel as there is no such issue on Fedora 23 with 4.4.6 kernel or rawhide that tracks upstream kernel 4.6.0.rc*.

[2016-04-26 23:10] cyphar commented on #769
I agree that it's almost certainly a Xenial-specific kernel bug. TW doesn't have this problem with its stock kernel (4.5.x) and I compiled 4.6-rc5 yesterday to play with cgroup namespaces and that didn't have this problem either.

[2016-04-26 23:54] sumitsanghrajka opened #787 "Setting RLIMIT_STACK in config.json inside rlimits crashed the container during startup"
Is there anything I am missing here ?
Here is my config.json file:
[config.txt](https://github.com/opencontainers/runc/files/237701/config.txt)

[2016-04-27 00:03] sols1 commented on #654
It is possible to do cgroup v2 for some controllers and cgroup v1 for others, which are still not available for cgroup v2.

Memory is the most difficult resource to manage and that's what is fixed in cgroup v2.

The device cgroup seems to be fairly straightforward to convert to cgroup v2: add device permissions to existing single hierarchy.

[2016-04-27 00:19] cyphar commented on #654
The other issue is that we need to be running on a distribution which supports cgroupv2 as the default setup with systemd (which is essentially none of them). We can't really use cgroupv2 otherwise because it would require either:

* Moving all of the processes *in the system* to the v2 equivalent. But because of the internal node (and threadgroup) constraints this won't be pretty and we'd be chan

[2016-04-27 05:43] rajasec opened #788 "ps command with UNIX format"
Not of bigger issue, minor issue while listing containers.

With current ps command in runc, it displays the processes running inside the container ( default option is -ef)
when option are specified, it gives error
runc ps containerID -eaf
flag not defined.

Currently by default runc supports ("-ef") UNIX format preceded by dash
when we give the options, we need to give as runc ps containerID eaf

[2016-04-27 15:31] justincormack commented on #787
That is a very small stack limit, I think it is just being exceeded probably.

[2016-04-27 15:36] sumitsanghrajka commented on #787
The default on RHEL 7 is 8192. So I am bumping it up.

Output from ulimit -a (just the stack size):
`stack size              (kbytes, -s) 8192`

[2016-04-27 15:48] sumitsanghrajka commented on #787
@justincormack you're right it is very small stack limit. I thought the value I am setting in config.json is in kbytes but it is in bytes. My bad. It works when I set it at a higher value in bytes.

Thanks.

[2016-04-27 15:48] #787 closed

[2016-04-27 16:58] papey commented on #771
Thx, it works if I used the netns created by the container.

[2016-04-27 16:58] #771 closed

[2016-04-27 17:10] philips commented on #760
@hqhq can you try and fix it up?

[2016-04-28 01:10] hqhq commented on #760
Yeah, I'll see what I can do.

[2016-04-28 15:21] justincormack commented on #374
Does your kernel have seccomp support enabled? Many arm distros do not, because the kernel support is only recent.

[2016-04-29 06:30] hqhq commented on #788
Yeah, it's a known issue, similar as https://github.com/opencontainers/runc/issues/752

[2016-04-29 06:46] amitsaha opened #792 "Issue with default bridge networking"
I have used [netns](https://github.com/jfrazelle/netns) to setup the default bridge networking, I can ping external hosts, but I cannot resolve any hosts (even though I have set resolv.conf) and cannot make any HTTP requests to a host using it's IP address:

[code]

Here's my config.json:

[code]
(I am using an Alpine linux rootfs)

Any suggestions please?

[2016-04-29 06:58] cyphar commented on #752
I think we should make a PR with the CLI library so it acts more like Python's `argparse` (that you can have mandatory positional arguments). If we have that, then we won't use `.Args().First()` which is what's causing this issue.

[2016-04-29 15:38] jimberlage opened #794 "Outdated documentation for cgroups"
With the addition of cgroups-v2, the location of the relevant docs has changed at www.kernel.org.  In https://github.com/opencontainers/runc/blob/master/libcontainer/cgroups/utils.go#L21, the code should be changed to use the correct path.

[2016-04-29 16:08] #794 closed

[2016-04-30 06:54] JakeWarner commented on #792
If you use systemctl and temporarily shutdown firewalld on the host can you resolve/wget?

[2016-05-01 01:13] amitsaha commented on #792
@JakeWarner i think i already tried that, but I will try it again and report back. Thanks for the tip.

[2016-05-01 01:16] amitsaha opened #797 "Behavior of "runc list""
The help for "runc list" states " runc list - lists containers started by runc with the given root" . However, by default it lists all running containers:

$ sudo /usr/local/sbin/runc list

[code]

Now, I thought okay, may be I need to pass the bundle or the root file system as the argument:

[code]

But the result is still the same. Not sure, if this is an inconsistency in the documentation or a

[2016-05-01 07:51] cyphar commented on #797
"Given root" refers to the root directory of the state files for all `runc` containers on the system. By default this is `/run/runc`, but you can change it with the `--root` flag to `runc`. But maybe this could be clearer in the documentation. In addition, maybe it should be possible to specify a bundle path.

WDYT @crosbymichael @mrunalp @hqhq?

[2016-05-01 20:21] rodionos commented on #654
For context, Ubuntu 16 LTS is on kernel version 4.4
https://wiki.ubuntu.com/XenialXerus/ReleaseNotes#Linux_kernel_4.4

[2016-05-01 21:25] iavael commented on #769
I can start lxd userns containers on xenial and /dev/mqueue is mounted inside them successfully, so somehow this bug is specific to runc

[code]

[2016-05-01 21:33] iavael commented on #769
And this is what I get in docker:

without --ipc=host
[code]

and with --ipc=host
[code]

[2016-05-02 02:27] mrunalp commented on #769
@iavael Can you reproduce this just with runc and no overlay rootfs (to rule out overlayfs)?

[2016-05-02 03:26] iavael commented on #769
Did it with runc 0.1.1 from github releases
[code]

Tested on exported and chown-ed uid/gid+65535 docker busybox image and default config.json with added userns and uid/gidmapping sections.

[runc-test.txz.zip](https://github.com/opencontainers/runc/files/244482/runc-test.txz.zip)

[2016-05-02 04:15] iavael commented on #769
changing mqueue mount section to
[code]
resolves the problem in runc

[2016-05-02 06:02] amitsaha commented on #792
On Ubuntu, with `ufw` running, I could get things working without any issues. I will update on Fedora.

[2016-05-02 14:16] davidlt opened #798 "runC depends on devices cgroup to find mountpoints"
While testing rootless container (not yet merged) on `Scientific Linux CERN SLC release 6.7 (Carbon)` (same as CentOS/RHEL) I hit an issue:
[code]
Kernel:
[code]

The same setup worked out-of-the box on Fedora 24.

From @cyphar
[code]

I also did run `./contrib/check-config.sh` from Docker.
[code]

[2016-05-02 14:22] thaJeztah commented on #798
Kernel 2.6 is pretty old and (at least for Docker) no longer supported, so I'm not sure if runC still supports this

[2016-05-02 14:32] cyphar commented on #798
@thaJeztah While technically true, this kernel appears to have user namespaces enabled. So while normal runC probably won't work on such a kernel, it should be entirely possible to run rootless containers on such a setup. I asked @davidlt to open an issue because it appears there's several bugs in runC that have been excacerbated by his setup:

* It appears as though runC can't handle single mount

[2016-05-03 13:00] cyphar opened #799 "Cannot create user namespaced container without network namespaces"
I discovered this while working on rootless containers. It looks like there's some issues using a non-network namespaced setup. This is also blocking rootless containers from having networking (since we need to just use host networking).

[code]

Here's the config, but the important thing to note is that I've added some dummy user namespace setup and removed the network section from `namespaces`.

[2016-05-03 13:05] dqminh commented on #799
This is a currently known restriction in the kernel that you cant mount `sys` without CAP_SYS_ADMIN rights. Removing sysfs mounting should allow you to start the container

I think the patch note is here:
- http://lists.linuxfoundation.org/pipermail/containers/2013-August/033388.html

Also discussed a bit in https://github.com/docker/docker/issues/21800

[2016-05-03 13:10] cyphar commented on #799
@dqminh But we're using user namespaces, so we have `CAP_SYS_ADMIN` in the namespace. If you add the network namespace to the config, it works perfectly fine. I think it's more nuanced problem (possibly how we're messing around with mount options in `rootfs_linux`).

[2016-05-03 13:28] dqminh commented on #799
That's not quite true I think. You only have CAP_SYS_ADMIN in net namespace created by the user, not when you join net namespace of the host.

[2016-05-03 14:15] cyphar commented on #799
Ah, you meant the user namespace that "owns" the net namespace. Okay, if that's the requirement for mounting all of `/sys` (which seems odd), we'll have to not mount `sysfs`. We should probably add this to the validator, so people don't run into this by accident.

I've removed `sysfs` from my config and that appears to work now. Unfortunately, it looks like I still don't have network access for so

[2016-05-03 14:29] dqminh commented on #799
Hmm it should work ( at least when i tested this a few weeks ago :p ). What did you use to test network access ? `ping` or anything that uses CAP_NET_* will not work though.

[2016-05-03 14:31] cyphar commented on #799
I was just using `netcat`. I've had enough bad experiences with capabilities to know better than trust `ping` in containers. ;)

[2016-05-03 14:39] davidlt commented on #799
Seems to work, at least `yum makecache` worked, but I am facing issues trying to install anything useful in the container, e.g.
[code]

I guess, I have to built an image with e.g. Docker and include wanted packages.

[2016-05-03 15:28] davidlt commented on #799
Here is a better proof that it works. Is there a way to map `/etc/resolv.conf` from the host to the container?
[code]

[2016-05-03 15:31] cyphar commented on #799
You can try bindmounting the file. You'd have to create the file in the `rootfs` of your container (manually), then adding a `bind` option for it in `config.json`. You could also use pre-start hooks if you *really* wanted to just copy the file (but that would make it go out of sync).

[2016-05-03 19:30] wking commented on #799
The difficulty with unpriviledged net namespaces is with connecting
them to the outside world:

  $ unshare -nUfr sh
  sh-4.3# ip route
  sh-4.3# ip addr
  1: lo: <LOOPBACK> mtu 65536 qdisc noop state DOWN group default
      link/loopback 00:00:00:00:00:00 brd 00:00:00:00:00:00
  2: sit0@NONE: <NOARP> mtu 1480 qdisc noop state DOWN group default
      link/sit 0.0.0.0 brd 0.0.0.0

To setup that c

[2016-05-04 14:41] papey opened #801 "runc and systemd slice (--systemd-cgroup flag)"
OS : debian jessie / systemd 215

runc :

[code]

bundle :

[code]

rootfs is created with `debootsrap` and config.json generated using : `runc spec`

Basic start of the container works well using `runc start test` command.

Adding the --systemd-cgroup allow users to specify a systemd slice. Without a specific configuration, when the --systemd-cgroup flag is used, runc tries to attach the processu

[2016-05-04 14:55] cyphar commented on #801
Yeah, it looks like we didn't add version checks [on this line](https://github.com/opencontainers/runc/blob/master/libcontainer/cgroups/systemd/apply_systemd.go#L186). I guess we're going to have to implement systemd version checking.

[2016-05-04 15:37] papey commented on #801
Ok thx. Quite ugly but moving the pid to the right cgroup after runc startup works.

[2016-05-04 18:23] mrunalp commented on #801
@papey Could you comment out https://github.com/opencontainers/runc/blob/master/libcontainer/cgroups/systemd/apply_systemd.go#L187 and see if it works? We'll have to test for delegate property or check systemd version like @cyphar pointed out.

[2016-05-04 18:29] mrunalp commented on #799
Yeah, need a privileged helper for setting up veth pair to host bridge. lxc also uses a privileged helper to setup networking for unprivileged containers called `lxc-user-nic`.

[2016-05-05 09:50] albertoleal opened #802 "How runC should treat supplementary groups?"
We are wondering what the preferred way is to treat the supplementary groups a user is in. Say the user `alice` is in groups `group1` and `group2`:

[code]

and the OCI spec requires that the process defined in `process.json` will run as `alice:group1`. We are thinking of two possible options on how supplementary groups (in this case `group2`) can be applied.

## Option 1: Let the spec author expl

[2016-05-05 14:04] washraf opened #805 "Running containers in an unattached mode"
I am using runc in my terminal by calling

`$ sudo runc start mycontainer`
or
`$ sudo runc restore mycontainer`

The problem is when it runs or restores i have no control over the terminal and even pressing `Ctrl+C` or `Ctrl+Z` doesn't response and all i can do is to close my terminal and reopen it and it doesn't close the container by the.

I tried adding a `&` at the end with no effect.
#### Not

[2016-05-06 01:33] hqhq commented on #797
`--root` would work, only that it's a global option, people might not notice it, yes I think docs can be clearer.

@cyphar Specifying a bundle path is doable, but I don't see much value from it, we already have `BUNDLE` row which can help identifying some information.

[2016-05-06 13:15] bgray opened #806 "Executing runc as a SCHED_RR process fails"
On Linux when trying to start a container if runc itself is in SCHED_RR mode it fails, even it you set a realtime bandwidth in the config.json.

For example my config.json has the following

[code]

And I try and execute runc like this

[code]

Then I get the following error

[code]

I believe the issue is that the `cpu.rt_runtime_us` cgroup value is not inherited and instead always defaults to 0.

[2016-05-06 13:30] cyphar commented on #806
You can definitely open a PR for this change, if it means `runc` can work in even more setups.

[2016-05-08 08:16] papey commented on #801
Thx. Sure, i'll try

[2016-05-08 14:29] cyphar commented on #799
#807 adds a check to the validator to make sure that a user doesn't end up in this case.

[2016-05-09 13:44] papey commented on #801
@mrunalp after changes, if `--systemd-cgroup` flag is set, runc spwaned process goes into a scope under system.slice :

[code]

Although, if I specified another slice in the config file, containerized process remains in system.slice

[2016-05-09 20:55] albertoleal commented on #805
Hey @washraf , you can start a container in a detached mode. You just need to use [the `-d`flag](https://github.com/opencontainers/runc/blob/master/start.go#L43-L46).

For example:
[code]

[2016-05-09 23:21] washraf commented on #805
Thanks, I don't know How I missed it :+1:

[2016-05-09 23:21] #805 closed

[2016-05-09 23:22] #485 closed

[2016-05-09 23:22] cyphar commented on #485
This was done in #659.

[2016-05-10 11:01] glestaris commented on #802
Any thoughts on that?

After further discussion, we are now leaning towards option 1, as OCI should remain agnostic of `/etc/passwd` and `/etc/group`.

Thanks,
@williammartin and @glestaris

[2016-05-11 07:51] cyphar opened #814 "Console path resolution is done in host mount namespace"
[I realised this while trying to get the test suite to run for #774.]

The main issue is that we set up the console in the parent's mount namespace. This breaks quite a few things. In addition, `--console` resolution done in the parent causes things like `su` to not work in containers (because glibc is broken). If you have a `config.json` like this:

[code]

/cc @crosbymichael

[2016-05-11 08:15] cyphar commented on #814
This is probably a good reason for us to start adding integration tests for user namespaces.

[2016-05-11 09:27] cyphar commented on #814
This happens inside `(*linuxConsole).dupStdio()`, because `/dev/pts/ptmx` is being opened there.

[2016-05-12 03:57] slayercat opened #818 ""too many links" error in kernel 2.6.32, stage "create session key""
[code]

strace shows:
[code]

[2016-05-12 05:02] mlaventure commented on #818
Your kernel is too old.

In your kernel version the keys where per process and couldn't be set if you had another thread. This was changed to be per thread around 3.6.

[2016-05-12 07:10] slayercat commented on #818
thanks, @mlaventure . I downgrading runc to 0.0.5.

by this feature. runc dropped support of  centos 6.x. so I believe there shell be a config for switch off this.

And a notice message too.

[2016-05-12 11:28] cyphar commented on #818
The issue with making the keyring stuff optional is that it's a security measure against key disclosure. But I'm fine with making it optional as long as there's a large warning.

[2016-05-12 13:02] gitchomik commented on #792
I have got same  issue on Ubuntu 16.04, my steps:

[code]
Changes in config.json:
- add CAP_NET_RAW in "capabilities" section,
- and "prestart" (from https://github.com/jfrazelle/netns) in "hook" section

Then I add "nameserver 10.70.1.4" to rootfs/etc/resolv.conf
Then "docker-runc start c2" - container starts, but ...
I can ping external hosts, but I cannot resolve any hosts and cannot make any H

[2016-05-12 15:12] gitchomik opened #819 "[Feature request] Script - minimum requirements checker (like docker check-config.sh)"
Please create script check-config (like this from docker https://github.com/docker/docker/blob/master/contrib/check-config.sh).
Currently I'm using script provider by docker,
but is all features required by docker also are required by runc ?

[2016-05-13 07:49] sdurrheimer commented on #769
Any news on that ?

[2016-05-13 19:49] mrunalp commented on #802
We decided to go with explicitly specifying uid/gid/groups in the spec. There is an issue open around allowing specifying usernames that could be looked up but it won't be supported unless it is in the spec.

[2016-05-13 23:04] mrunalp commented on #769
I did some digging and suspect this ubuntu specific commit http://kernel.ubuntu.com/git/ubuntu/ubuntu-xenial.git/commit/fs/super.c?id=b6500fda5c9f2402830000d9f992861e5a91231b

[2016-05-13 23:57] cyphar commented on #769
@mrunalp Yeah, it looks like the problems with `/proc` they mentioned weren't actually fixed in that commit -- so we fail with `-EBUSY` when setting up the container's mounts.

[2016-05-17 00:40] crosbymichael commented on #814
The tricky part is getting the pty master back outside of the container after opening it.

[2016-05-18 23:42] #819 closed

[2016-05-19 19:29] rajasec opened #831 "rlimit with nproc soft not having effect"
with user name space settings, I tried to have the following rlimits to limit the number of processes inside the container
"rlimits": [
                        {
                                "type": "RLIMIT_NPROC",
                                "hard": 1024,
                                "soft": 192
                        }
Not able to start the container because of fork failure. Not  sure

[2016-05-20 13:18] cyphar commented on #798
Here's some output from the system in question:

[code]

[2016-05-24 12:44] shashankmjain opened #840 "libcontainer not building."
On running this on ubuntu:

[code]

I end up getting these errors

[code]

[2016-05-24 13:59] hatchan opened #841 "sysconfig_notcgo does not implement GetLongBit"
When compiling with `CGO_ENABLED=0` this results in a build error. This occurs for us because this package is a dependency of a dependency, and we're building our package using `CGO_ENABLED=0`. The error is that `system.GetLongBit` is not defined.

This is where `GetLongBit` defined for most build: https://github.com/opencontainers/runc/blob/master/libcontainer/system/sysconfig.go#L29

This file i

[2016-05-24 16:40] cyphar commented on #841
Looks like we need to split `sysconfig.go` into `sysconfig.go` (with the truly agnostic stuff) and `sysconfig_cgo.go` for the cgo-specific things.

[2016-05-24 16:43] cyphar commented on #840
Have you tried using the `Makefile` we provide in the project? We don't really support the `go get` method of installation, since we have to add `Godeps` to our `GOPATH` when building (which `go get` doesn't support unless you change all of your import statements to include the vendor directory -- which is a bad idea).

[2016-05-24 17:25] marcosnils commented on #840
@cyphar another idea would be to use the standard vendor solution that go provides from 1.5 onwards and drop `Godeps`. That way it could be possible to just `go get` runc from the url directly.

[2016-05-24 18:15] shashankmjain commented on #840
Hi,
I forgot to mention. Was just trying to build libcontainer.

[2016-05-24 18:19] shashankmjain commented on #840
with make run-make-install fails with tons of errors as it tries to build libcontainer within a docker container.

src/github.com/Sirupsen/logrus/examples/hook/hook.go:5:2: cannot find package "gopkg.in/gemnasium/logrus-airbrake-hook.v2" in any of:
        /usr/src/go/src/gopkg.in/gemnasium/logrus-airbrake-hook.v2 (from $GOROOT)
        /go/src/gopkg.in/gemnasium/logrus-airbrake-hook.v2 (from $GOP

[2016-05-24 18:48] marcosnils commented on #840
@shashankmjain , clone the repo somewhere and just run `make` on the repo root. That should build runC and leave the runC binary inside the root folder.

[2016-05-24 18:49] marcosnils commented on #840
@shashankmjain you can also build with docker if you don't have Go installed with `make dbuild`

[2016-05-24 19:34] sols1 commented on #654
Not sure I understand all the issues related to cgroup namespaces. It would be nice to resolve all conceptual issues before doing this but for practical production use of containers resource management is a _big_ issue and memory is the _most difficult_ resource to manage because of its "non-renewable" nature so to speak.

For example, Paralles/Virtuozzo used containers in production for 10+ years

[2016-05-24 21:58] cyphar commented on #840
@marcosnils Yes, we should update to using `vendor/` directories. My vote is to switch to [`govend`](https://github.com/govend/govend). The only problem is that some people might need to compile with older versions of Go.

[2016-05-24 22:04] marcosnils commented on #840
@cyphar I've seen  https://github.com/kardianos/govendor is usually the favorite. I use it in my projects and haven't had any issues so far.

Regarding older version of Go, I believe that won't be a problem? https://github.com/opencontainers/runc/pull/827#issuecomment-221345026

[2016-05-24 22:10] cyphar commented on #840
My concern is that `gcc-go` doesn't support the vendor experiment. So we'll have to add something like

[code]

To allow us to also just set the `GOPATH` to `vendor/`. I'm really not sure what the Go developers were thinking with changing this workflow with such a trivially different filesystem structure.

[2016-05-24 22:16] cyphar commented on #654
@sols1

cgroup namespaces was a **benefit** of cgroupv2 :wink:. The general issue with cgroupv2 is that there just aren't enough controllers enabled for us to be able to use it properly (at a minimum, we'd need the `freezer` and `device` cgroups), and using both cgroupv2 and cgroupv1 together will make the implementation more complicated than it needs to be.

I understand, but there's also the pro

[2016-05-25 00:36] crosbymichael commented on #760
@hqhq has been porting alot of this over.  Its safe to close now.

[2016-05-25 00:36] #760 closed

[2016-05-25 00:36] crosbymichael commented on #840
ref #728

[2016-05-25 04:51] cyphar commented on #797
@hqhq I think I'd prefer we don't require users to do `| awk '$4 == "/some/bundle/path"` { print }'` in order to get the list of containers running from a particular bundle.

[2016-05-25 05:01] marcosnils commented on #797
I don't see it that terrible to do runc list | grep "bundle/path". Eventually users might want different filtering options like id, creation_date, status, etc. +1 on just clearing the doc.

[2016-05-25 05:02] cyphar commented on #797
@marcosnils But you can't just do grep, you have to use `awk`.

[2016-05-25 05:02] cyphar commented on #797
Sorry, fat-fingered the comment button. :wink:

[2016-05-25 05:03] marcosnils commented on #797
??  I don't see I can't use grep

[2016-05-25 05:07] marcosnils commented on #797
[code]

@cyphar works like charm.

[2016-05-25 05:17] cyphar commented on #797
Oh, I forgot you can't set a container ID to have `/` in them.

[2016-05-25 05:56] wking commented on #797
On Tue, May 24, 2016 at 10:17:32PM -0700, Aleksa Sarai wrote:

That's not actually a spec requirement (see #675 and #676), but is
probably a safe assumption for now ;).

[2016-05-25 11:30] shashankmjain commented on #840
Thanks.
Able to build via runc.

[2016-05-25 11:30] #840 closed

[2016-05-25 16:38] #831 closed

[2016-05-26 22:28] variadico opened #846 "Fix broken libcontainer readme"
Hello. I was trying to follow the read me here: https://github.com/opencontainers/runc/tree/master/libcontainer

But, the example code doesn't work. I get this error instead.

[code]

I'm seeing that because `newContainerInit` fails to decode `pipe` JSON. `pipe` returns this.

[code]

Which I think are the `UidMappings` and `GidMappings`.

[2016-05-27 03:06] cyphar commented on #846
Can you share the code you used?

[2016-05-29 17:41] cyphar commented on #814
This also links to several old issues with `libcontainer` with regard to `sudo` not working in containers -- it all links back to the fact that we are creating the terminal **in the host**. I'm trying to figure out a way to make this unnecessary.

[2016-05-30 13:44] cyphar opened #858 "Flaky Test: TestCommandHookRunTimeout"
This test fails on janky often enough to be annoying:

[code]

[2016-05-31 01:24] hqhq opened #859 "PullApprove is not working"
Seems like the reason is we didn't add any repositories to the team `runc-maintainers`, ping @caniszczyk @crosbymichael can you do that, I think only the owner roles can manage repository access with teams.

[2016-05-31 01:40] caniszczyk commented on #859
Sorry about that, GitHub should really warn you about teams without any associated repos.

This should be fixed now.

[2016-05-31 01:40] #859 closed

[2016-05-31 01:56] hqhq commented on #859
Thanks.

[2016-05-31 10:17] cyphar opened #861 "Joining cgroups blindly causes performance problems"
It turns out that joining cgroups that we don't use has a non-zero performance degredation. The most obvious case is with `blkio` which can cause operations to become **20 times** slower. The following test assumes you have some block device `/dev/sdX` that is formatted as `ext4`:

[code]

This is already a known issue upstream (in the kernel), but it is a general problem (most cgroup controllers

[2016-05-31 12:49] dqminh commented on #861
mmm the performance degradation is known but i didnt know that it was that much for blkio 😵
Do you have a link to the related discussion in ML if there's any ?
On the other hand, not joining unspecified cgroups in `config.json` SGTM.

[2016-05-31 13:19] cyphar commented on #861
@dqminh Unfortunately I discovered this after having discussions with our kernel team on internal mailing lists. I'll ask them if they can link to upstream discussion though.

As for not joining unspecified cgroups, I'll work on this once I figure out why ubuntu isn't affected by this as badly.

[2016-05-31 23:37] hmeng-19 opened #862 "`runc spec` failed on fedora 23 if `rootfs` is owned by a non-root user"
I am running the master branch of `runc` on fedora 23. The `config.json` created by `runc spec` does not include `uid` and `gid` info (as shown below), therefore `runc start test` fails with an error message `permission denied`.

    "process": {
        "terminal": true,
        "user": {},
        "args": [
            "sh"
        ],

Proposed solution: add `uid` and `gid` info into the `config

[2016-06-01 01:12] cyphar commented on #862
How are you running `runc`? Since you're meant to run it as root (for now), there shouldn't be any permission denied issues. I believe the reason that we're not outputting the values for user is because the defaults we use are

[code]

Which also happens to be the zero value for that structure -- so Go doesn't output the settings. But it is identical to specifying the `uid` and `gid` as root.

[2016-06-01 02:31] hmeng-19 commented on #862
My uid:gid is hmeng:hmeng (1000:1000), and I added this user info into the docker group on my machine.

I created the rootfs using the following command:

    hmeng@localhost ~/intern/runc/busybox$ docker export $(docker create busybox) | tar -C rootfs -xvf -

Here is the stat info of the rootfs:

    hmeng@localhost ~/intern/runc/busybox$ stat rootfs/
      File: ‘rootfs/’
      Size: 4096

[2016-06-01 02:39] hmeng-19 commented on #862
I think you are right about the default value of uid:gid info (0:0).

The problem here seems to be that runc expects the rootfs to be owned by root. However, if a non-root user, `user1`, under the docker group, creates the rootfs using `docker export`, the owner of the rootfs becomes `user1`, which is not expected by runc.

BTW, do you think it is a good idea to check the ownership of the rootfs w

[2016-06-01 06:35] cyphar commented on #862
I would prefer not to add checks like that to `runc spec` (and not change `runc spec` at all if possible). I actually would want to fix the underlying issue with having the `rootfs` be owned by a different user even though we're root -- that looks to be the underlying bug. If you agree, can you change the title to reflect that?

[2016-06-01 14:02] hmeng-19 commented on #862
@cyphar , thanks for your help.
However, I still suffer the problem.
If you can not reproduce the problem on opensuse, I would suspect this may be a problem special to fedora.
I would first try to reproduce this problem on another fedora machine.
Another problem with fedora is when you call `runc start test`, you must use the full path of runc like `sudo /usr/local/bin/runc start test` (http://ech

[2016-06-01 14:05] runcom commented on #862
that's probably because you didn't run `sudo make install` and the runc binary is in dir of the project. Basically it's not in your `$PATH`

[2016-06-01 14:11] cyphar commented on #862
@hmeng-19 Can you give us the output of (you might want to save it to a file):

[code]

I'm also a bit annoyed that we don't output a more descriptive error message wherever we're failing (I thought we fixed this already).

[2016-06-01 14:39] cyphar commented on #814
Maybe we could use unix sockets to send the `fd`? I'll take another look at this next week.

[2016-06-01 15:06] hmeng-19 commented on #862
@runcom , It does not look like a problem with `$PATH`.

 If I run as a non-root user, `which runc` succeeds.

    hmeng@localhost ~/intern/runc/test$ which runc
    /usr/local/sbin/runc

However, `sudo which runc` failed.

    hmeng@localhost ~/intern/runc/test$ sudo which runc
    which: no runc in (/sbin:/bin:/usr/sbin:/usr/bin)

But, The `$PATH` env of the root user has `/usr/local/sbin`.

[2016-06-01 16:59] wking commented on #862
On Wed, Jun 01, 2016 at 08:06:55AM -0700, hmeng-19 wrote:

You non-root shell is expanding that PATH.  You want:

  $ sudo sh -c 'echo $PATH'

or some such.

[2016-06-01 20:18] #801 closed

[2016-06-01 20:24] hmeng-19 commented on #862
@wking , thanks for the explanation. I did not realize the command substitution and environment expansion happen before the root user gets the control.

[2016-06-01 20:30] hmeng-19 commented on #862
@runcom , @wking , I do not think this is a bug anymore.

The summary is that, on Fedora 23,
If `runc` is installed by `dnf install runc`, it is installed at `/usr/bin/runc`, and `/usr/bin` is included in the `$PATH` of root by default. Therefore, `sudo runc start test` works.

However, if `runc` is installed via building the source code, it is installed at `/usr/local/sbin/runc` by running `sudo

[2016-06-01 20:36] hmeng-19 commented on #862
@cyphar , I failed to reproduce the problem with the ownership of rootfs on other fedora 23 machines.
Then I reinstalled fedora 23 on my own machine, and the problem disappeared.

Unfortunately, I did not figure out why I suffered the ownership problem at the first place (that is why I reinstalled my system). My best guess is that my bash configurations may get messed up in the last two days.

Tha

[2016-06-01 20:37] #862 closed

[2016-06-01 23:33] crosbymichael commented on #741
This has been resolved in both runc and docker. Thanks for the issue.

[2016-06-01 23:33] #741 closed

[2016-06-01 23:41] crosbymichael commented on #814
i don't like unix socket sending fds.  i really want to avoid these super containers with live connections going in and out.

[2016-06-01 23:46] crosbymichael commented on #726
This is being fixed in the upper layers.  There is not much we should do at this layer.

[2016-06-01 23:46] #726 closed

[2016-06-01 23:50] crosbymichael commented on #726
@dhiltgen you can follow the progress for the change in docker here:

https://github.com/docker/docker/issues/22865

[2016-06-01 23:51] crosbymichael commented on #818
I'm ok having a way to switch this off but it should be on by default.  Should good ?

[2016-06-02 00:38] crosbymichael commented on #714
Looks like it is just a bug.  We should just get the absolute path for the bundle from whatever is provided.

As long as this is for the bundle its good to be changed but lets not change the rules about rootfs being a symlink at this point.  Too many issues haunt me from the past.

[2016-06-02 00:39] crosbymichael commented on #841
We can add some better build tags around this.  I think we already have some things that check for cgo or !cgo

[2016-06-02 00:48] crosbymichael commented on #38
Closing this one so we can use #774 as the main tracking issue for this feature. It has a checklist and everything.

[2016-06-02 00:48] #38 closed

[2016-06-02 02:14] cyphar commented on #714
We shouldn't be getting a symlink from `getcwd(2)` -- all of the magic with current directories is done inside shells. The kernel will always give you an absolute path (with all symlink components correctly dealt with).

[2016-06-02 02:37] cyphar commented on #814
@crosbymichael Maybe I don't understand what the problem is. The parent needs the `fd` of the console. I have two ideas currently:

1. We use a unix socket, which requires setting up a unix socket just during setup. This is going to be messy because ancillary data requires a lot of C finesse. But it will work.

2. We could *try* forking a process that shares the set of files (`~CLONE_FILES`) which

[2016-06-02 02:40] cyphar commented on #862
No problem.

[2016-06-02 02:44] wking commented on #814
On Wed, Jun 01, 2016 at 07:37:47PM -0700, Aleksa Sarai wrote:

It's not *that* difficult; ~50 lines for sendfd and recvfd wrappers in
ccon, based on an example in cmsg(3).

[2016-06-02 02:47] cyphar commented on #814
@wking I said messy and finesse. It's not that it's hard, it's that it'll be a bit of C code we can't touch.

[2016-06-02 03:38] wking commented on #814
On Wed, Jun 01, 2016 at 07:47:35PM -0700, Aleksa Sarai wrote:

Why “can't touch”?  I'm not even sure what that means :p.

[2016-06-02 03:46] wking commented on #814
On Wed, Jun 01, 2016 at 04:41:47PM -0700, Michael Crosby wrote:

Ccon uses an anonymous Unix socket (socketpair(2)) [1] the way runC
apparently uses a pipe [2].  The host ↔ container socket gets closed
before the container process calls execve(2) (or similar) to launch
the user code.  So there shouldn't be any more “live connections” than
you already have.

[1]: https://github.com/wking/ccon#lifec

[2016-06-02 04:11] cyphar commented on #814
I'm going to be honest, I didn't know about `socketpair(2)`. This would make the code much simpler. As for "can't touch" it just means that we'll have to mix some Go and C code that has odd semantics and we have to copy from the man page for `cmsg` and touching it would probably cause something to blow up.

[2016-06-02 04:16] wking commented on #814
On Wed, Jun 01, 2016 at 09:11:02PM -0700, Aleksa Sarai wrote:

That's true of most things, and what test suites are for ;).

[2016-06-02 04:17] cyphar commented on #814
If @crosbymichael is okay with using `socketpair(2)` in place of `pipe(2)` for the parent <-> child communication, I'd be fine with implementing the code this way.

[2016-06-02 06:33] cyphar commented on #814
Wait hang on. We already use `socketpair` -- look at `newPipe()` at `libcontainer/container_linux.go`! So this should be a fairly simple extension.

/cc @wking @crosbymichael

[2016-06-02 09:30] michael-holzheu opened #866 "Enable seccomp for s390x and ppc"
To enable seccomp for s390x and ppc we need to do the steps described in Docker issue docker/docker#23171.

For runc we have to:

 - Add runc patch #864 [already merged]
 - Bump versions in Godeps directory that include:

   * libseccomp-golang [1] : seccomp/libseccomp-golang@32f571b
   * runtime-spec [2] : opencontainers/runtime-spec#475 [merged -> d6fbe044c3ceace207b590339fb2fe039a761d42]

Ping

[2016-06-03 01:12] hmeng-19 opened #870 "checkpoint is failing on Fedora 23"
Currently the test suite of runc is based on a ubuntu docker image (runc/script/test_Dockerfile). I am trying to write a Dockerfile, `runc/script/test_Dockerfile_1`, for testing runc on fedora 23.

You can find test_Dockerfile_1 here: https://github.com/hmeng-19/logs/blob/master/test_Dockerfile_1
 `test_Dockerfile_1` tries to mimic the summary of the following two ubuntu-oriented Dockerfiles:
1) h

[2016-06-03 01:14] hmeng-19 commented on #870
@mrunalp, @rhatdan , how do you think about this?
Let me know if you do not think this is the right place for my problem.

[2016-06-03 04:24] wking opened #871 "state's status detection (based on PID lookups) is imprecise"
Since a few days ago, the runtime spec has a `status` property in the state (opencontainers/runtime-spec#462).  I was curious about how that worked with detached containers, since there's no host-side monitor around to notice the container die.  Testing with 1d61abea (the current tip of #827, although I expect this applies to all recent runC code), it looks like the `state` call works around the l

[2016-06-03 09:20] rhatdan commented on #870
@hmeng-19  Change title of issue to be checkpoint is failing on Fedora 23.

 Does this problem happen on a Fedora system if you run the test using the default Ubuntu Dockerfile?

[2016-06-03 14:03] hmeng-19 commented on #870
@rhatdan , the test using the default Ubuntu Dockerfile can finish successfully on my Fedora system.

    docker run -e TESTFLAGS -ti --privileged --rm -v /home/hmeng/go/src/github.com/hmeng-19/runc:/go/src/github.com/opencontainers/runc runc_test make localunittest
    docker run -e TESTFLAGS -t --privileged --rm -v /home/hmeng/go/src/github.com/hmeng-19/runc:/go/src/github.com/opencontainers/run

[2016-06-03 17:09] cyphar commented on #871
One clever way of doing it is to `stat` the `/proc/<pid>` directory -- which will give you a (as far as I'm aware) unique identifier for the process. But I'll have to read the relevant kernel code to make sure that would actually work. :P

[2016-06-03 17:27] hmeng-19 commented on #870
I think I need to explore this problem deeper before coming to upstream. Close it for now.

[2016-06-03 17:27] #870 closed

[2016-06-03 19:05] mlaventure commented on #841
Just assume it's 64bit for now I guess?

Seeing a better way to handle this part @cyphar ? I'm open to all suggestions  :)

[2016-06-03 22:35] crosbymichael commented on #106
This is already in the readme

[2016-06-03 22:35] #106 closed

[2016-06-04 03:58] cyphar commented on #841
`CHAR_BIT * sizeof(long int)` is okay but there's issues about running a 32-bit program on a 64-bit host. So we'll probably have to do something more clever than that.

[2016-06-04 18:05] rajasec commented on #858
@cyphar
when I run the make localtest this issue come often.

[2016-06-06 18:03] willmtemple opened #884 "Cannot start container using instructions from README on latest build"
I attempted to follow the instructions in the README to create a container from a docker image based on `busybox` using the latest commit ab10b6068b3f7ec99370eb66bf48592998cc9db1.

[code]

Expected result: /bin/sh prompt
Actual result: idle, no output, dies on SIGINT

Using the repository version of `runc` on Fedora, I can `runc start test` as previous, with the compiled version from this repo, I

[2016-06-07 00:39] crosbymichael commented on #866
@michael-holzheu is this fully resolved now? I think we have everything merged..

[2016-06-07 07:54] reachrkr opened #887 "Unable to build with the Readme steps"
I am trying to build runc component  with the latest build and its failing with libseccomp package not found .How do i include this package as nothing is mentioned in the Readme conf

adminuser@adminuser:~/work/src/github.com/opencontainers/runc$ make
go build -i -ldflags "-X main.gitCommit=ab10b6068b3f7ec99370eb66bf48592998cc9db1 -X main.version=1.0.0-rc1" -tags "seccomp" -o runc .
#pkg-config --

[2016-06-07 08:05] cyphar commented on #887
Do you have `libseccomp` installed on your system? If not, install it or use the following command:

[code]

[2016-06-07 09:40] justincormack commented on #866
@crosbymichael no there is one commit missing from `libseccomp-golang` from here, `32f571b`

[2016-06-07 09:55] reachrkr commented on #887
No i haven't  installed it . Any steps on the setting up will be helpful

[2016-06-07 10:03] cyphar commented on #887
The "Build Tags" table says what dependencies are required for each `BUILDTAGS`. It also says the following in the "Building" section:

[2016-06-07 10:18] reachrkr commented on #887
ok thx . will set up libseccomp .

[2016-06-07 14:00] reachrkr commented on #887
thanks @cyphar  installing libseccomp-dev worked  me :+1:

[2016-06-07 23:20] cyphar commented on #861
This could potentially also be fixed by the lazy cgroup handling (by only attaching to cgroups that we are using, and then attaching later if a user tries to update the limits).

/cc @chb @monstermunchkin

[2016-06-08 03:36] mrunalp commented on #884
@willmtemple runc needs to be compiled with go 1.6 to work as we SIGCONT which isn't supported in previous versions of go. You can install go binaries directly and compile with it and it should work.

[2016-06-08 08:39] reachrkr commented on #887
@cyphar  unable to test a docker busybox images mentioned ...  it stays at created state . Followed the steps mentioned in Readme . Am i doing anything wrong here ?

root@adminuser:/tmp/busybox#  ll
total 16
drwxrwxr-x  3 adminuser adminuser 4096 Jun  8 14:01 ./
drwxrwxrwt 11 root      root      4096 Jun  8 13:58 ../
-rw-rw-r--  1 adminuser adminuser 2299 Jun  8 13:59 config.json
drwxrwxr-x 12 adm

[2016-06-08 08:58] brauner opened #892 "cgroup backend improvements"
Currently runC finds the cgroup root mountpoint e.g. /sys/fs/cgroup for the
cgroupfs. It then finds the first prefix following the rount mountpoint for a
given subsystem. Assume our user's shell is residing in the following cgroups in
a mounted hierarchy:

[code]

Currently runc will take the first prefix following a subsystem name and
place the container into it for *all* subsystems. For the abov

[2016-06-08 09:18] michael-holzheu commented on #866
As @justincormack already noticed, the following commit is still missing: seccomp/libseccomp-golang@32f571b

[2016-06-08 10:07] cyphar commented on #892
It should be noted that, in my opinion, this is a legitimate bug in our automated generation of `--cgroup-path` (a user wouldn't expect the default of setting up a container to be putting it in essentially a random cgroup -- as opposed to putting it in a child cgroup of the current one).

I'm adding this to the v1.0.0 milestone.

/cc @crosbymichael @mrunalp

[2016-06-08 13:28] cyphar commented on #728
I just tried `govendor` and it doesn't appear to work properly (it doesn't look like it correctly deals with nested requirements of packages and it also doesn't clean up unused files). Currently Docker's `hack/vendor.sh` does a better job. I'm going to take a look at `govend` and some others.

[2016-06-08 13:42] reachrkr commented on #884
thx upgrading to 1.6 worked

[2016-06-08 13:43] reachrkr commented on #887
thx upgrading to 1.6 worked .

[2016-06-08 13:49] cyphar commented on #884
@mrunalp We should add this to the README unless we're all waiting for #886 / #888 to merge.

[2016-06-08 14:49] lucab opened #897 "selinux: switch to opencontainers/go-selinux"
While touching rkt code, I realized there is an embedded copy of libcontainer selinux package. The two versions are now [diverging](https://github.com/coreos/rkt/blob/master/pkg/selinux/selinux.go), and I would like to reconcile/contribute back.

Looking at the code, it looks like most of it isn't container specific and could be nicely split into its own module. Would you be ok in splitting this o

[2016-06-08 14:53] cyphar commented on #897
WDYT @rhatdan

[2016-06-08 14:59] LK4D4 commented on #728
@cyphar I'm pretty sure that godep and glide are best vendoring tools now(glide even can vendor docker dependencies). I hate godep workflow, but it cleans unneeded files and that's only reason I prefer it over glide.

[2016-06-08 15:12] cyphar commented on #728
@monstermunchkin said that `govend` might actually work nicely here.

The reason I don't like `godep` is because updating dependencies to a specific version (like in `hack/vendor.sh`) is a **huge** pain. I'd prefer we take the magical shell script from Docker rather than use Godep.

[2016-06-08 15:36] LK4D4 commented on #728
Yeah, I tried govend. It's really nice.

[2016-06-08 15:50] rhatdan commented on #897
Fine with me.

[2016-06-08 17:57] dqminh commented on #861
@cyphar can you add instructions on how to replicate this issue reliably ( what is the environment of the host, kernel version etc. ) ? I've tried with both bare-metal with kernel 4.4 and on a ubuntu xenial VM on DigitalOcean but enable to replicate it.

[2016-06-08 18:45] #866 closed

[2016-06-08 19:30] jfrazelle opened #899 "binaries released should be static?"
Hey hey!
Cool new releases, was wondering if the binaries you upload could have the BUILDTAGS="apparmor seccomp" and be static :D

[2016-06-08 19:32] jfrazelle commented on #899
maybe a shasum too 0:) what if I make a very small release script

[2016-06-09 05:15] cyphar commented on #899
Maybe we should also add `selinux`. ;)

[2016-06-09 05:17] cyphar commented on #897
/cc @caniszczyk @crosbymichael

[2016-06-09 23:00] #887 closed

[2016-06-10 13:46] papey opened #903 "runc-rc1 and systemd unit"
Trying to setup a runc-rc1 systemd unit using the new workflow (see https://github.com/opencontainers/runc/releases/tag/v1.0.0-rc1)

OS : Debian GNU/Linux 8

GO : go version go1.6 linux/amd64

runc :

[code]

### Container config

- A basic rootfs created with debootstrap command (+ netcat installed)

- Container config file

[code]

- All the thing are bundled in a /tmp/test directory

### Contai

[2016-06-10 18:49] #884 closed

[2016-06-10 22:33] crosbymichael commented on #899
Ya, i think in we should have an nice array, static and non static with sha's.

We could have a simple make target, maybe like `make release` that will generate a folder with these different build configurations.

* static
* dynamic
* apparmor + selinux + seccomp
* apparmor + seccomp
* selinux + seccomp
* sha all the thigns
* anything else? man pages?

[2016-06-10 22:36] crosbymichael commented on #903
Thanks, i'm going to work on updating the readme.  Do you care if I use your example for the new unit file?

[2016-06-10 22:37] crosbymichael commented on #903
I also think you can remove `ExecStop=/usr/local/sbin/runc kill test ` because giving systemd the pidfile will have it sending signals to the correct location

[2016-06-11 00:00] crosbymichael commented on #728
We are now using go 1.6 if anyone would like to do the work of porting over our vendor dependencies to the new schema.

[2016-06-11 00:03] jfrazelle commented on #728
DIBS

On Fri, Jun 10, 2016 at 5:00 PM -0700, "Michael Crosby" <notifications@github.com> wrote:

We are now using go 1.6 if anyone would like to do the work of porting over our vendor dependencies to the new schema.

—
You are receiving this because you are subscribed to this thread.
Reply to this email directly, view it on GitHub, or mute the thread.

[2016-06-11 00:05] marcosnils commented on #728
I think I saw a PR from @cyphar that implemented this?

sent from mobile
On Jun 10, 2016 9:04 PM, "Jess Frazelle" <notifications@github.com> wrote:

[2016-06-11 00:07] jfrazelle commented on #728
ah yeah its https://github.com/opencontainers/runc/pull/898/files

[2016-06-11 00:08] marcosnils commented on #728
It's from @lk4d4 actually
https://github.com/opencontainers/runc/pull/898
sent from mobile
On Jun 10, 2016 9:05 PM, "Marcos Lilljedahl" <marcosnils@gmail.com> wrote:

[2016-06-11 00:08] crosbymichael commented on #728
@jfrazelle you trying to crash my browser giving me a link with `/files` on a PR with 18k line changes?

[2016-06-11 00:12] jfrazelle commented on #728
So I was stuck there and yeah....

On Fri, Jun 10, 2016 at 5:08 PM -0700, "Michael Crosby" <notifications@github.com> wrote:

@jfrazelle you trying to crash my browser giving me a link with /files on a PR with 18k line changes?

—
You are receiving this because you were mentioned.
Reply to this email directly, view it on GitHub, or mute the thread.

[2016-06-11 20:18] albertoleal commented on #649
@matthaias you can use [this Dockerfile](https://github.com/albertoleal/dockerfiles/blob/master/runc/Dockerfile) or [this runc-playground project](
https://github.com/totherme/runc-playground)

[2016-06-12 00:34] cyphar commented on #649
I think we should make the `script/test_Dockerfile` (which is used for running tests -- but it does build runC) more visible.

[2016-06-12 07:52] TheBeeMan opened #907 "docker run with "--user nobody" which should have no ability to login system, however ,entered system with "-it" option."
Output of docker version:
[code]

[2016-06-12 07:56] TheBeeMan commented on #907
Steps to reproduce the issue:
1. On docker host:
# docker run --rm -it --user nobody debian:jessie /bin/bash
2. In the just-started container:
nobody@b9cb3cacb2a4:/$

it seems that user "nobody" has entered the system.

[2016-06-12 10:04] cyphar commented on #907
Can you please open this issue against Docker itself? In addition, the reason this is happening is because `docker run` doesn't create a shell or attempt to log the user in -- it executes the program you specified with the user you specified.

[2016-06-12 11:44] #818 closed

[2016-06-12 18:03] papey commented on #903
Thanks. No problem, feel free to use it.

[2016-06-13 02:32] TheBeeMan commented on #907
ok,i got it.
Docker just run the specified instruction ,simply call setuid(user) during process, rather than create  a shell or attemp to log the user specified,
Is that right ?

[2016-06-13 03:11] cyphar commented on #907
Yes, if all you're doing is specifying `docker run -it --user nobody sh`. If you want, you could write a wrapper to make a "login" shell and make it the `ENTRYPOINT` of the image. But that's not the default.

[2016-06-13 13:24] #846 closed

[2016-06-13 13:24] #903 closed

[2016-06-13 17:52] papey opened #910 "runc-rc1, new workflow and terminal=true containers"
Regarding the documentation, runc-rc1 (https://github.com/opencontainers/runc/releases/tag/v1.0.0-rc1) provide a new workflow based on 4 steps :
- create
- start
- kill
- delete

Readme specify that containers created with this new workflow have to be in "background mode" (terminal=false).

in the future, hooks will be removed from both in OCI and runC (see https://github.com/opencontainers/runtim

[2016-06-13 19:43] wking commented on #871
On Mon, Jun 13, 2016 at 12:36:40PM -0700, Alexander Morozov wrote:

#886 means that the imprecise check isn't a concern for ‘start’
invocations.  But it didn't change the runType code at all.  Since the
result of runType is still being exposed via the state JSON, I think
we want to reopen this issue until a more reliable implementation
lands (e.g. along the lines of [1]).

[1]: https://github.com/

[2016-06-13 20:15] athoune commented on #910
Maybe something like :

* _runc create_ creates its own pty, don't detach and copy STDIN/STDOUT with the pty. Nothing happens.
* configure network stuff with nsenter
* _runc start_, a simple SIGCONT signal start the container.

It's ugly, but it handles the prepare/configure/step without hooks.

[2016-06-13 23:07] cyphar commented on #910
This is probably related to the amiguity wrt `terminal: true` (opencontainers/runtime-spec#494), as well as lots of the issues with `--console` (#814).

[2016-06-14 07:10] papey commented on #910
@athoune Regarding changes made by #886, runC will no longer use signals to start the container process.

@cyphar yes but tty is so close to the runtime (tty life time == container process life time) that it makes sens to me that runc handle this task.

[2016-06-14 07:27] cyphar commented on #910
To be clear: I think we should fix it. I was just pointing you to places where you can find some more information. I've been trying to figure out how to properly fix `--console`'s interaction with user namespaces for a few weeks now.

[2016-06-14 15:35] haiyanmeng opened #915 "TestInitJoinNetworkAndUser failed on RHEL 7"
I tested `make test` of runc after enabling user namespace on my RHEL 7 system, all the bats tests succeeded.
However, there is one failure of the unit tests, and it ends up with a dead docker container.

[code]

Here is the configuration of my RHEL 7 VM, which runs via `virt-manager`.

[code]

[2016-06-14 15:36] hmeng-19 commented on #915
@mrunalp , @rhatdan , PTAL.

[2016-06-14 15:37] mrunalp commented on #915
Could you paste errors using strace -f ?

[2016-06-14 15:43] hmeng-19 commented on #915
Here is the log of `strace -f -o test.log make test`:
https://raw.githubusercontent.com/hmeng-19/logs/master/test.log

[2016-06-14 16:05] mrunalp commented on #915
Better would be to recreate the test using a rub config and just getting a strace on that.

Sent from my iPhone

[2016-06-14 16:11] hmeng-19 commented on #915
Okay. Let me give it a try.

[2016-06-14 17:40] hmeng-19 commented on #915
@mrunalp , I was not sure how to do the rug config you mentioned.

Here is what I did:
I modified the `go test` command for the `localunittest` target in the Makefile:

    localunittest: all
            go test -timeout 3m -tags "$(BUILDTAGS)" ${TESTFLAGS} -v -run TestInitJoinNetworkAndUser ./libcontainer/integration

Run the localunittest directly by executing `docker run` directly:

    strace

[2016-06-14 17:52] hmeng-19 commented on #915
Here is the log of running the following command:

    strace -s 4096 -f -o log docker run -e TESTFLAGS -ti --privileged --rm -v /home/hmeng/go/src/github.com/hmeng-19/runc:/go/src/github.com/opencontainers/runc runc_test make localunittest

https://github.com/hmeng-19/logs/blob/master/log1

[2016-06-14 20:50] cyphar commented on #915
@hmeng-19 You'll want to run `strace` inside the container. Tracing the Docker client won't work since runC isn't a child of the client (it's a child of the daemon).

[2016-06-15 01:46] hmeng-19 commented on #915
@cyphar , thanks for the help.

I modified the `go test` command for the `localunittest` target in the Makefile:

    localunittest: all
            apt-get install strace
            strace -f -o log3 go test -timeout 3m -tags "$(BUILDTAGS)" ${TESTFLAGS} -v -run TestInitJoinNetworkAndUser ./libcontainer/integration

Then I ran `make test`:

    [root@localhost runc]# make test

The log file, `log

[2016-06-15 03:56] cyphar opened #916 "Replace PullApprove with lgtm.co"
Currently we're using PullApprove (which is proprietary, and cannot be self-hosted). There is another project, called lgtm.co which is free software and self-hostable: https://github.com/lgtmco/lgtm

Can we please switch to using this for PR checks (and obviously open companion PRs on all OCI projects)?

[2016-06-15 04:55] wking commented on #916
On Tue, Jun 14, 2016 at 08:56:53PM -0700, Aleksa Sarai wrote:

It may not remain free for long.  From [1]:

  This product is free for small teams and non-profits, however, we
  will require a modest licensing fee for on-premise enterprise use in
  the near future.  Pricing to be published soon.

It's currently Apache 2.0 [2], although with only two contributors [3]
there is a chance they could ch

[2016-06-15 04:57] wking commented on #916
On Tue, Jun 14, 2016 at 09:53:47PM -0700, W. Trevor King wrote:

On the other hand, the “we think this is stable and aren't investing a
lot of time in major enhancements” [1] wording sounds a lot more like
“this will probably be open-source forever”.  But again, probably
worth pinging the authors to get clarification.

[1]: https://github.com/lgtmco/lgtm/tree/6a053194cd629c24815732cd095e1efdf0c82b

[2016-06-15 04:58] cyphar commented on #916
I use the term in the context of "free as in freedom software". I don't use the term "open source" anymore.

It works, it's free software and trivially self-hostable (single Go binary) if they decide to start charging us for it.

[2016-06-15 14:31] wking commented on #916
On Tue, Jun 14, 2016 at 09:58:55PM -0700, Aleksa Sarai wrote:

The “we will require a modest licensing fee for on-premise enterprise
use in the near future” language I linked earlier is from their “Self
Hosting” page.  I'm not clear on how they plan to do that without
changing the license, and I'm not clear on the distinction between
“on-premise enterprise use” and “self hosting”.  Apache 2.0 cove

[2016-06-15 15:12] cyphar commented on #916
No, I think that "enterprise use" probably refers to some kind of support contract? Or maybe they are planning on making it proprietary (which is a real shame). We can email them about it if you like.

[2016-06-15 16:03] wking commented on #916
On Wed, Jun 15, 2016 at 08:12:31AM -0700, Aleksa Sarai wrote:

I've filed lgtmco/lgtm-docs#7 requesting clarification.

[2016-06-15 18:03] wking commented on #916
On Wed, Jun 15, 2016 at 09:03:30AM -0700, W. Trevor King wrote:

And the clarification is “the licensing-fee note was obsolete” [1,2],
so I'm +1 on switching to lgtm.co.

[1]: https://github.com/lgtmco/lgtm-docs/issues/7#issuecomment-226265541
[2]: https://github.com/lgtmco/lgtm-docs/commit/25e73dfc126f3b58e5f97e39902401a3bce07962

[2016-06-16 07:43] xiaochenshen commented on #433
@OCI maintainers @mrunalp @vishh @hqhq @LK4D4 @crosbymichael @philips @vbatts
I will travel to attend DockerCon 2016 Seattle on June 20 and 21.
May I have opportunity to talk with some of you face to face (as well as PR #447 and https://github.com/opencontainers/runtime-spec/pull/267)?

[2016-06-16 08:08] cyphar commented on #433
/cc @opencontainers/runc-maintainers

[2016-06-16 08:37] hqhq commented on #433
I'll be there, welcome to stop by Huawei's booth, you'll probably find me there and we can have a talk.

[2016-06-17 22:30] washraf opened #921 "Issue with configuring memory swappiness to other than default"
[code]

I have configured the container for a swapped memory other than the default value.
when it runs it gives no effect and the memory.swappiness are still 60 (The default value)

[2016-06-18 06:17] xiaochenshen commented on #433
@hqhq Thanks, see you on DockerCon.

[2016-06-18 06:19] xiaochenshen commented on #433
@cyphar Thanks. I am interested in rootless container. But I am not sure if I can attend ContainerCon Japan then.

[2016-06-18 06:24] cyphar commented on #433
I'll post the talk slides and link to the talk recording on the dev@opencontainers.org mailing list once they're up.

[2016-06-19 22:49] jadekler opened #924 "What is CAP_AUDIT_READ?"
When using [concourse](https://github.com/concourse) which uses [cf guardian](https://github.com/cloudfoundry-incubator/guardian) which uses runc (holy cow), I get this cryptic error:

`runc start: exit status 1: unknown capability "CAP_AUDIT_READ"`

Any ideas what this means?

[2016-06-19 23:13] marcosnils commented on #924
man capabilities

sent from mobile
On Jun 19, 2016 7:50 PM, "Jean de Klerk" <notifications@github.com> wrote:

[2016-06-20 04:47] cyphar commented on #924
@jadekler `man 7 capabilities`. My man page says that capability was added in Linux 3.16 -- if you're using an older kernel then it won't be available for you.

[2016-06-20 19:10] jadekler commented on #924
This is very strange. I get that error on a Ubuntu 14.04 LTS machine, which AFAIK [uses linux kernel 4.2](https://wiki.ubuntu.com/TrustyTahr/ReleaseNotes). Any ideas whats going on here?

The ubuntu machine is the stock EC2 AMI, btw.

[2016-06-20 19:18] jadekler commented on #924
[Possibly related bug](https://bugs.launchpad.net/ubuntu/+source/libcap2/+bug/1451601). Seems it might be a libcap2 thing? So over my head right now haha.

[2016-06-20 19:28] jadekler commented on #924
There does seem to be `CAP_AUDIT_CONTROL` and `CAP_AUDIT_WRITE`:

[code]

Are these sufficient? Would it be reasonable to remove `CAP_AUDIT_READ` as a requirement for runc?

[2016-06-20 19:28] julz commented on #924
hi @jadekler fwiw I don't think this is a runc problem. Guardian has a static list of capabilities it asks runC to grant to privileged containers which includes `CAP_AUDIT_READ`. Runc is doing the right thing by exploding when it can't grant a capability guardian is requesting. We have [a story in the public guardian tracker](https://www.pivotaltracker.com/story/show/119257379) that should fix the

[2016-06-20 19:28] jadekler commented on #924
Ah! You're completely right. Thanks @julz. I'll take this over to those guys.

[2016-06-20 19:29] #924 closed

[2016-06-21 15:36] #802 closed

[2016-06-21 15:47] cyphar commented on #802
@mrunalp Speaking of which, we still need to fix up the libcontainer API so that it doesn't take a user string (this just confuses people when reading the user setup code). In fact this problem should've been solved by replacing that code with just a struct with `{uid, gid, supps}`.

[2016-06-21 23:38] xiaochenshen commented on #433
@crosbymichael @hqhq Nice meeting you in DockerCon! And thank you for your suggestions.

Intel RDT CAT kernel patch is subject to change to non-cgroup interface for some reasons. This proposal will be changed accordingly. But I will figure out if we can still keep "runtime resource constraints" structure which is aligned with OCI runtime-spec.

[2016-06-22 13:16] lucab commented on #897
@cyphar any news on this? Can the new repo see the light?

I'm certainly in favour of this living under the opencontainers umbrella, I just have some minor wish items:
 * having a clear set of MAINTAINERS to ping (as I guess not all runc people would have interests in that)
 * having tagged releases to help downstream consumers

[2016-06-22 13:33] cyphar commented on #897
I'm still waiting for a response from @caniszczyk and @crosbymichael.

[2016-06-23 22:17] rhencke opened #926 "https://runc.io certificate is expired"
The certificate serving https://runc.io expired on June 22, 2016.

[2016-06-23 22:59] caniszczyk commented on #897
The @opencontainers/tob have the authorization to approve new projects, they would need to sign off it and we can move forward. @philips do you see anything wrong with this? This is essentially a utility package

[2016-06-24 06:36] cyphar commented on #926
I actually don't know who is responsible for hosting that site. /cc @crosbymichael

[2016-06-24 06:53] wking commented on #926
On Thu, Jun 23, 2016 at 11:36:23PM -0700, Aleksa Sarai wrote:

whois says it's still [1] owned by @chanezon.

[1]: https://groups.google.com/a/opencontainers.org/d/msg/dev/UGqmPMr3R6M/eJLmkLbfCQAJ
     Subject: runc.io ownership
     Date: Fri, 11 Dec 2015 20:48:00 -0800
     Message-ID: <20151212044800.GG4349@odin.tremily.us>

[2016-06-24 13:00] matthaias commented on #649
Thanks.It' fine with me to close this issue, since i have no time at the moment to go deeper in trying runc. Also, only @c4milo and i were the only one with this request.

[2016-06-24 15:02] gfyrag commented on #861
Hello, same pb here.
I can not find the config to apply on the config.json file, do you know where i can find it?

[2016-06-25 02:42] philips commented on #926
This domain should be transferred to the LF probably. cc @caniszczyk

[2016-06-26 22:13] DenisIzmaylov commented on #924
I have the same problem. `man 7 capabilities | grep CAP_AUDIT_READ` is empty too.

[2016-06-27 00:04] wking commented on #924
On Sun, Jun 26, 2016 at 03:13:05PM -0700, Denis Izmaylov wrote:

Not having it in your local man pages just means you have old man
pages.  It's in the current man pages [1] since man-pages v3.71 (2014)
[2].  Guardian asking runC to provide it [3,4] is independent of
whether it's listed in your man pages ;).

[1]: http://man7.org/linux/man-pages/man7/capabilities.7.html
[2]: http://git.kernel.org/c

[2016-06-27 04:05] cyphar commented on #924
@wking But your distribution should have up-to-date man pages (for your kernel). If your kernel is too old then you don't have the right capabilities. Checking your man pages is an easy way to check that.

[2016-06-27 04:56] wking commented on #924
On Sun, Jun 26, 2016 at 09:05:27PM -0700, Aleksa Sarai wrote:

My distribution doesn't manage my kernel (although it does manage my
headers, so it has at least a minimum version).  It should be easy
enough to check the kernel directly.  I'd guess something like:

  $ zgrep CONFIG_MULTIUSER /proc/config.gz
  CONFIG_MULTIUSER=y
  $ uname -r
  4.3.0

would do it (to see if the reported version is ≥ 3

[2016-06-27 13:50] hmeng-19 commented on #915
@mrunalp , @rhatdan  , it seems that the `clone` syscall in `libcontainer/nsenter/nsexec.c` failed. Here is the failure from the strace log:

    98    clone(child_stack=0x7ffc83481340, flags=CLONE_PARENT|CLONE_NEWNS|CLONE_NEWUTS|CLONE_NEWIPC|CLONE_NEWPID|SIGCHLD) = -1 EPERM (Operation not permitted)
    84    <... select resumed> )            = 0 (Timeout)
    98    write(2, "nsenter: Unable to f

[2016-06-27 14:04] wking commented on #915
On Mon, Jun 27, 2016 at 06:50:19AM -0700, hmeng-19 wrote:

clone(2) lists a number of other situations in which the kernel
returns EPERM besides caller privilege [1].  None of them jump out at
me as “likely the case in a RHEL 7 VM” though…

[1]: http://man7.org/linux/man-pages/man2/clone.2.html#RETURN_VALUE

[2016-06-27 19:53] caniszczyk commented on #926
I'll follow up with @chanezon over email to get this done.

[2016-06-27 20:21] crosbymichael commented on #926
The cert has been fixed, thanks for the issue.

[2016-06-27 20:21] #926 closed

[2016-06-27 23:27] DenisIzmaylov commented on #924
May is it related? https://bugs.launchpad.net/ubuntu/+source/libcap2/+bug/1451601

[2016-06-27 23:36] wking commented on #924
On Mon, Jun 27, 2016 at 04:27:43PM -0700, Denis Izmaylov wrote:

I don't think so.  RunC uses gocapability [1], and they've defined
their own CAP_AUDIT_READ constant since syndtr/gocapability#3.  So
libcap2 doesn't come into it for runC.

[1]: https://github.com/opencontainers/runc/blob/v1.0.0-rc1/Godeps/Godeps.json#L69

[2016-06-28 00:45] DenisIzmaylov commented on #924
So what else can be happened?

![image](https://cloud.githubusercontent.com/assets/1690596/16400282/9b92f2b4-3ce2-11e6-815f-668f0703b22e.png)

It's just clean installation of Ubuntu 14.04.4 LTS with Concourse running in docker compose:

+ https://github.com/MeteoGroup/concourse-ci

[2016-06-28 03:17] wking commented on #924
On Mon, Jun 27, 2016 at 05:45:26PM -0700, Denis Izmaylov wrote:

It appears that 14.04.04 uses 4.2 kernels [1] (always?  At the moment?
I'm not clear on Ubuntu's LTS kernel policy).  14.04 in general has
had a whole range of kernels [2].  Can you ‘uname -r’ or ‘cat
/proc/sys/kernel/cap_last_cap’?  libcontainer has supported
CAP_AUDIT_READ (when your kernel does) since 00abcf89 (Linux has added
a n

[2016-06-28 11:16] rhatdan commented on #915
Could be caused by SELinux or lack of capabilities although running with sudo might have fixed this.  seccomp also could block this although I don't think that would be the case here.

Try test with setenforce 0.

[2016-06-28 13:40] hmeng-19 commented on #915
@rhatdan , I tried to run the test as root with selinux running in permissive mode, the same error still happened:

    [root@rhel7 runc]# setenforce 0

    [root@rhel7 runc]# sestatus
    SELinux status:                 enabled
    SELinuxfs mount:                /sys/fs/selinux
    SELinux root directory:         /etc/selinux
    Loaded policy name:             targeted
    Current mode:

[2016-06-28 13:50] mrunalp commented on #915
Have you enabled user namespaces in the kernel?

Sent from my iPhone

[2016-06-28 13:56] hmeng-19 commented on #915
@mrunalp , I ran the `grubby` command you shared with me, and the grub.cfg file shows that user_namespace is enabled on my machine:

    menuentry 'Red Hat Enterprise Linux Server (3.10.0-327.18.2.el7.x86_64) 7.2 (Maipo)' --class red --class gnu-linux --class gnu --class os --unrestricted $menuentry_id_option 'gnulinux-3.10.0
    -327.el7.x86_64-advanced-cadd8c32-75d6-4ff1-8af2-26ad68351b5d' {

[2016-06-28 15:13] DenisIzmaylov commented on #924
Yes, of course:
[code]

[2016-06-28 16:05] LK4D4 commented on #924
So, concourse generates config with CAP_AUDIT_READ; it doesn't support by older kernels. I'm pretty sure that runc shouldn't make guesses about kernel in this case.

[2016-06-28 16:42] wking commented on #924
On Tue, Jun 28, 2016 at 09:05:46AM -0700, Alexander Morozov wrote:

I don't think runC is guessing about the kernel.  It's saying the
capability is unknown, based on checking the kernel's
/proc/sys/kernel/cap_last_cap [1].  The right fix (as @julz pointed
out [2]), is to have Guardian not ask for that capability if it's
running on a host that doesn't support it (assuming that running
without that

[2016-06-28 16:49] wking commented on #924
On Tue, Jun 28, 2016 at 08:13:52AM -0700, Denis Izmaylov wrote:

This kernel is older than CAP_AUDIT_READ, which landed as capability
37 in 3.16 [1].

[1]: http://man7.org/linux/man-pages/man7/capabilities.7.html

[2016-06-28 16:58] julz commented on #924
Concourse (and guardian) requires a 3.19+ kernel, so I think that explains this issue @wking.

[2016-06-28 17:01] wking commented on #924
On Tue, Jun 28, 2016 at 09:58:35AM -0700, Julian Friedman wrote:

It may be worth checking for that an erroring out earlier, to avoid
confusion like this in the future ;).

[2016-06-28 22:50] DenisIzmaylov commented on #924
So I've googled how to update kernel right and found some solution on askubuntu which has not been working. So then I found [official solution](https://wiki.ubuntu.com/Kernel/LTSEnablementStack#Server) and tried to update the kernel by:
[code]
After reboot everything is working! Thank you very much! @LK4D4 @wking and especially @julz!

[2016-06-29 11:59] hqhq commented on #871
@wking Yeah I think it's still a valid issue, I'll reopen it.

[2016-06-30 14:57] hqhq commented on #871
@wking I opened a PR https://github.com/opencontainers/runc/pull/930 to fix this.

[2016-06-30 21:01] euank opened #931 "systemd-cgroup uses incorrect subsystem path in recent systemd versions"
This issue was discussed in a comment a while ago: https://github.com/docker/docker/issues/16256#issuecomment-218935000

Now that systemd 226+ is more common, this issue has further ramifications.

Under systemd versions of at least 226, `systemd` is under `init.scope`. The code [here](https://github.com/opencontainers/runc/blob/629e35666d31f743090452416c8df207d9fdbd34/libcontainer/cgroups/systemd

[2016-06-30 22:48] cyphar commented on #931
I'm fairly sure this is related to some of the discussion we had in #895. Essentially we aren't treating subsystem paths separately when creating the implicit `cgroupsPath`.

[2016-07-01 02:29] euank commented on #931
cc @derekwaynecarr I believe RHEL uses the systemd driver.. Do you guys somehow avoid encountering this issue? Do you have a patch floating around somewhere (I didn't see it glancing through the list of docker patches Redhat carries, but worth asking), or is it on an older systemd version / one without pid 1 in init.scope?

[2016-07-01 02:33] derekwaynecarr commented on #931
@mrunalp was going to look at this.  systemd on fedora 24 is the first
release we have hit this.  RHEL and CentOS are on systemd < 225 I believe
so pre init.scope

On Thursday, June 30, 2016, Euan Kemp <notifications@github.com> wrote:

[2016-07-01 09:59] dubstack opened #932 "Support updates to parent devices cgroup hierarchies"
#### Issue
Allowing or denying all devices by writing 'a' to devices.allow or devices.deny is
not possible once the device cgroups has children. The devices set() should skip writing 'a' to files when the device cgroup has children.

#### Why this is needed:
I am currently working on introducing a cgroup hierarchy in the node in Kubernetes. See (https://github.com/kubernetes/kubernetes/issues/2720

[2016-07-01 20:07] vishh commented on #932
@dubstack another way to summarize the issue is to say that the current cgroups API doesn't support updating parent cgroups hierarchies. I can't think of a reason why libcontainer cannot support it, except for the fact that it was not implemented with such an use case in mind.

IIUC, the fix should be straight forward. I'd recommend posting a PR to fix it.

[2016-07-01 22:01] mrunalp commented on #931
@euank The approach of using dbus to query the root slice sounds good to me.

[2016-07-01 22:26] dubstack commented on #932
Okay I will send out a patch.

[2016-07-02 04:07] cyphar commented on #932
I'm confused what your proposed solution is? From what I can see, you're just saying that we should ignore changes to the devices cgroup if the cgroup has children? Why is the caller trying to change the devices cgroup in that case, if it knows that it has subcgroups? I don't really like ignoring errors (**especially** since the devices cgroups is a security feature).

[2016-07-02 15:22] vishh commented on #932
The current issue is that we update `device` cgroups all the time. There is
no "ignore device cgroups" option.

On Fri, Jul 1, 2016 at 9:07 PM, Aleksa Sarai <notifications@github.com>
wrote:

[2016-07-06 03:23] vishh commented on #841
@cyphar
Assuming that kmem setting logic [here](https://github.com/opencontainers/runc/blob/88bb59e35f71bffa94b39722c0faf61e411c83bf/libcontainer/cgroups/fs/memory.go#L66) is the only user of `GetLongBit()`, can we have the kmem logic compare current memcg kmem limits with that of the root `/` container? Is runc expected to work within a container where not all cgroups are visible?

[2016-07-06 16:51] #871 closed

[2016-07-09 04:14] dubstack commented on #932
Make the Resources.AllowAllDevices a pointer. A user can skip specifying the value if he doesn't wants to update the cgroups devices. In the devices cgroup logic we would not write 'a' in devices.deny/ allow when the AllowAllDevices is nil.

Ideally we would want libcontainer to determine if a cgroup has children and ignore updates to devices cgroup on such parent cgroups.

I would like to use the

[2016-07-11 02:44] mYmNeo opened #938 "Version of libseccomp detection"
There are three variables called `verMajor`, `verMinor`, `verMicro` to identify the version of libseccomp library, but they are fixed after building.If we upgrading the libseccomp library, the binary can not detect the new version.Should we change the detection fix mode to runtime mode such as using `pkg --modversion libseccomp`

[2016-07-13 12:56] onlyjob opened #941 "i686 test failure: "user_test.go:441: constant 2147483648 overflows int""
[code]

[2016-07-14 18:40] hmeng-19 opened #945 "`libcontainer/nsenter/README.md` does not accurately describe the workflow of `nsexec`"
`libcontainer/nsenter/README.md` does not accurately describe the workflow of `nsexec()`.
https://github.com/opencontainers/runc/blob/master/libcontainer/nsenter/README.md
`_LIBCONTAINER_INITPID` and `_LIBCONTAINER_CONSOLE_PATH` are no longer being used.

Here is the current description of `nsexec()`:

    `nsexec()` will first check the environment variable `_LIBCONTAINER_INITPID`
    which will

[2016-07-14 18:50] hmeng-19 opened #946 "`TestRunWithKernelMemory` failed"
It seems that the commit https://github.com/opencontainers/runc/commit/8dd3d634556427c22769125ef2b0aa2ce613a2a7 broke the `TestRunWithKernelMemory` test somehow. Here is the error in the output of `make test`:

    --- FAIL: TestRunWithKernelMemory (0.13s)^M
        exec_test.go:671: runContainer failed with kernel memory limit: process_linux.go:291: setting cgroup config for ready process caused

[2016-07-17 14:32] guilhermebr commented on #846
Hi, sorry for re-open this, but this is also happening with me.

I'm trying to follow the https://github.com/opencontainers/runc/tree/master/libcontainer README.md  instructions, so I created this code: https://gist.github.com/guilhermebr/621aeef546880fb19c83ae0dd6b190c6

and I'm getting this error:

[code]

so I changed the HostID from UidMappings and GidMappings for 0, like this gist:
https://gi

[2016-07-18 06:14] aclisp opened #948 "CpuRtRuntime and CpuQuota are defined with the same json key "cpu_quota"."
`CpuRtRuntime` and `CpuQuota` have the same json field.
`CpuRtPeriod` and `CpuPeriod` have the same json field.
It makes libcontainer get wrong value of `CpuQuota` from docker's `state.json`

https://github.com/opencontainers/runc/blob/master/libcontainer/configs/cgroup_unix.go#L72

[code]

[2016-07-18 07:05] cyphar commented on #948
I'm not sure whether it really makes sense to have two different values for the realtime and non-realtime quotas / periods (though, if you're planning to run both realtime and non-realtime programs in the same container, maybe there's a reason). I've opened a PR to fix it though.

[2016-07-18 07:06] cyphar commented on #946
/cc @vishh

[2016-07-18 07:09] cyphar commented on #938
This is a question for the actual libseccomp-golang project (https://github.com/seccomp/libseccomp-golang). But yes, I'm not entirely sure why they implemented it that way.

[2016-07-18 16:47] #948 closed

[2016-07-18 17:09] cyphar commented on #846
@guilhermebr You need to include this line in your code:

[code]

This ensures that the namespace setup code runs.

[2016-07-18 17:25] senrabdet opened #952 "make test error"
I'm trying to learn about runc.  In following the instructions on https://github.com/opencontainers/runc, and when I get to the point of doing "make test", it tries to run but I can an error:

Makefile:62: recipe for target 'localunittest' failed
make: **\* [localunittest] Error 1
Makefile:59: recipe for target 'unittest' failed
make[1]: **\* [unittest] Error 2
make[1]: Leaving directory '/home/us

[2016-07-18 17:46] hmeng-19 commented on #952
@senrabdet , I also noticed `make test` failed and filed an issue #946 .
Would you mind checking whether it was the `TestRunWithKernelMemory` test failed on your machine.

[2016-07-18 17:55] senrabdet commented on #952
Thanks(!), will try, get back.

[2016-07-18 18:10] senrabdet commented on #952
I think I'm getting a larger number of fail messages that do include TestRunWithKernelMemory but more than that (from strace make test).  It looks like a lot of cgroup related issues - is that something I need to turn on in my kernel (is this output helpful?  Thank you for the help.

=== RUN   TestCheckpoint
[33mWARN[0m[0000] signal: killed
--- FAIL: TestCheckpoint (0.03s)
	checkpoint_test.go:96

[2016-07-18 18:24] hmeng-19 commented on #952
@senrabdet , The OS on my machine is Fedora 23, and I did not recall any trouble when I first tried runc except for  installing `libseccomp-devel`.
The dependencies for testing runc are prepared in the docker container, and we should not worry about.
Why not you also provide the OS info you are using so that others can help you better?

[2016-07-18 18:31] senrabdet commented on #952
Thanks hmeng.  Am using Debian Stretch on VirtualBox 5 on Win10.
  uname -a:
Linux debian 4.6.0-1-amd64 #1 SMP Debian 4.6.2-2 (2016-06-25) x86_64 GNU/Linux

runc version 1.0.0-rc1

go version go1.6.2 linux/amd64

[2016-07-18 19:31] amorphid opened #953 ""sudo runc run <container_id>" generates error"
## Summary

`$ sudo runc run <container_id>` generates error

Tracked it down to commit [8dd3d634556427c22769125ef2b0aa2ce613a2a7](https://github.com/opencontainers/runc/commit/8dd3d634556427c22769125ef2b0aa2ce613a2a7)

[code]

boots to container just fine on previous commit [9d7831e41d3ef428b67685eeb27f2b4a22a92391](https://github.com/opencontainers/runc/commit/9d7831e41d3ef428b67685eeb27f2b4a22a

[2016-07-18 19:51] crosbymichael commented on #953
ping @vishh

[2016-07-18 19:53] crosbymichael commented on #953
@amorphid thanks for bisecting the commits for us

[2016-07-18 19:54] vishh commented on #953
I will look at this issue today.

[2016-07-19 03:43] cyphar commented on #953
I think we have another issue caused by the same commit. Should we revert it until it's fixed? #946

[2016-07-19 19:09] sumitsanghrajka opened #955 "runc run from 1.0.0-rc1 release is not working for a previously working config.json"
I have a simple config (attached) which works fine with 0.1.1 release of runc using `runc start` command.
Same config does not work as expected with 1.0.0-rc1 release using either `runc run`  command or `runc create && runc start` commands.

With 0.1.1 release the pid #1 inside the container is the `sleep infinity` program as specified in the config file.

With 1.0.0-rc1 the pid #1 becomes the `ru

[2016-07-19 23:04] kramach1980 commented on #133
I see this issue of cannot start containers on "3.19.0-25-generic".
Do we know if the patch is present in this kernel version? or it is only on 4.2 and mainline?

[2016-07-20 04:37] cyphar commented on #955
The config file you've specified appears to work for me on `master`.

[code]

[2016-07-20 05:31] sumitsanghrajka commented on #955
@cyphar it works for me on head. But it just doesn't work on `v1.0.0-rc1`

This is what I typically do:
`
runc run -d test
runc ps test
`
ps command shows me `runc init` as pid #1.
I will try a fresh checkout of v1.0.0-rc1 again.

[2016-07-20 06:16] cyphar commented on #955
`runc ps` also acts correctly for me:

[code]

[2016-07-20 06:20] goyalankit commented on #955
Config given by @sumitsanghrajka doesn't work for me either.

[code]

[code]

[2016-07-20 06:26] goyalankit commented on #955
Oh and another weird part is:

[code]

The container is in `created` state and not in `running` state.

[2016-07-20 15:13] cyphar commented on #955
Can you do a `sudo strace -f runc run test` and post the log here?

[2016-07-20 16:07] sumitsanghrajka commented on #955
Attached end snippet of 2 logs with strace -f.

runc-bd1d3ac-log.txt is the one from current head which is calling `sleep infinity` at some point of time after it finds the absolute path for sleep command.

runc-1.0.0-rc1-log.txt is the one from 1.0.0-rc1 version which never calls `sleep infinity`.

[runc-1.0.0-rc1-log.txt](https://github.com/opencontainers/runc/files/374131/runc-1.0.0-rc1-log.txt

[2016-07-20 16:52] wking commented on #955
On Tue, Jul 19, 2016 at 10:31:05PM -0700, sumitsanghrajka wrote:

‘git bisect …’?

[2016-07-20 19:42] hmeng-19 commented on #945
Fixed by #951 .

[2016-07-20 19:42] #945 closed

[2016-07-20 21:40] goyalankit commented on #955
So i think it's the problem with `golang` version. I was using `golang` version`1.5.3` and hitting the above case. After upgrading the `golang` to `1.6.3`, `runc-1.0.0-rc1` seems to be working fine.

We are upgrading the golang version as a workaround, so please feel free to close the ticket.

[2016-07-20 21:42] cyphar commented on #955
Oh right, yeah a couple of the recent changes may require you using Go 1.6.

[2016-07-20 21:56] mlaventure commented on #955
that version of `runc` was depending on `SIGCONT` which wasn't forwarded by the runtime before go 1.6.

The requirement is gone on master as it now uses a pipe instead.

[2016-07-20 21:57] cyphar commented on #955
@mlaventure is correct. You should be able to `master` with earlier versions of the Go runtime. Closing since it's been "fixed" on master.

[2016-07-20 21:57] #955 closed

[2016-07-20 22:07] goyalankit commented on #955
thanks guys! that explains why master was working but not `1.0.00-rc1`.

[2016-07-20 22:27] hmeng-19 opened #960 "Failed to join the user and pid namespaces of an existing runc container"
I started a runc container first, then started another container.  The second
container tried to join the `user` and `pid` namespace of the first container.

The first container got started successfully, however, the second container was
failed to be started with the following error:

    [hmeng@localhost c2]$ sudo $(which runc) run test1
    process_linux.go:245: running exec setns process for in

[2016-07-20 22:27] hmeng-19 commented on #960
@mrunalp , PTAL.

[2016-07-20 22:32] cyphar commented on #960
@hmeng-19 Can you please try running your test again with the #950 patchset applied (it adds some debugging information so we can tell where nsenter fails).

[2016-07-20 22:33] hmeng-19 commented on #960
@cyphar , thanks for pointing out. I will give it a try.

[2016-07-20 22:54] mrunalp commented on #960
I just tried this out on Fedora 23 and it worked for me with runc master. Looking at your configs to see if anything is amiss.

[2016-07-20 22:58] mrunalp commented on #960
You can see that they are sharing user/pid namespaces.

Container 1:
[code]

Container 2:
[code]

[2016-07-20 23:02] cyphar commented on #960
@hmeng-19 I think the issue is that you're manually setting the `/proc/pid/ns/...` path in the config. This will change with every run of the first container:

[code]

[2016-07-20 23:08] hmeng-19 commented on #960
@cyphar , every time I would use `ps`  to find the pid of the first container, and replace the pid in the config.json file for the second container.

[2016-07-20 23:08] wking commented on #960
On Wed, Jul 20, 2016 at 04:02:58PM -0700, Aleksa Sarai wrote:

This will get easier if we can land opencontainers/ocitools#54 ;).

[2016-07-20 23:10] hmeng-19 commented on #960
@mrunalp , I tried the commands you provided and still got the same error.

[2016-07-20 23:22] sumitsanghrajka commented on #955
Thanks guys.

[2016-07-20 23:27] wking commented on #960
On Wed, Jul 20, 2016 at 03:27:14PM -0700, hmeng-19 wrote:

Shouldn't runC be joining the user namespace first?  The strace has
[1]:

  5874  open("/proc/5736/ns/pid", O_RDONLY) = 5
  5874  open("/proc/5736/ns/user", O_RDONLY) = 6
  5874  setns(5, 0)                       = 0
  5874  close(5)                          = 0
  5874  setns(6, 0)                       = -1 EINVAL (Invalid argument)

See

[2016-07-20 23:43] cyphar commented on #960
@wking Okay, this is related to #960. As I said in that PR, there are quite a few `nsenter` fixes that are still in my rootless containers patchset but will definitely be useful for others. I plan to port all of these fixes to #950 very soon.

[2016-07-20 23:53] hmeng-19 commented on #960
@cyphar , I tested my problem using #950 . It seems that the problem still exists. I am wondering whether my kernel is broken somehow.

[2016-07-21 00:08] cyphar commented on #960
I just ported the fix. Please try again with https://github.com/opencontainers/runc/pull/950/commits/8a454e55ab3045a71a288302988d09034e7dd9b9.

[2016-07-21 00:08] cyphar commented on #960
@hmeng-19 I just ported the fix. Please try again with https://github.com/opencontainers/runc/pull/950/commits/8a454e55ab3045a71a288302988d09034e7dd9b9.

[2016-07-21 00:23] hmeng-19 commented on #960
@cyphar , I tried https://github.com/opencontainers/runc/pull/950/commits/8a454e55ab3045a71a288302988d09034e7dd9b9 .
`unshare` succeeded, but it failed to write uid_map into `proc/self/uid_map`. Therefore, `runc run test` failed when I tried to start the first container.
Here is the strace log:
https://github.com/hmeng-19/logs/blob/master/runc_ns/log

[2016-07-21 00:30] hmeng-19 commented on #960
@cyphar , in the current master, it looks the parent process responds to update the uid map and gid map for the child process.
However, in https://github.com/opencontainers/runc/pull/950/commits/8a454e55ab3045a71a288302988d09034e7dd9b9, it seems that the child process tries to update its own uid map and gid map.

[2016-07-21 00:33] cyphar commented on #960
Yeah, sorry. The code doesn't work currently if you're a privileged user. Part of that patch will fix your problem, but I'm also trying to fix another bug at the same time. The idea is that you want to unshare the user namespace before anything else, then set up all of the mappings and only *then* do we clone.

[2016-07-21 00:40] hmeng-19 commented on #960
@cyphar , got it. It is okay. Let me know if you want to retest another version of #950 .
BTW, I am just curious whether `make test` succeeds on your machine.

[2016-07-21 00:54] hmeng-19 commented on #960
@cyphar , glad to hear that. Then I have less doubts with my machine.
The only `make test` failure on my machine with the upstream master branch is ``TestRunWithKernelMemory` , as mentioned in #946.

[2016-07-21 01:04] cyphar commented on #960
I'm quite worried that I can't seem to reproduce the failures with our Jenkins instance (even though the failures are definitely real). It's probably a kernel version thing. :/

[2016-07-21 01:23] hmeng-19 commented on #960
@mrunalp , @cyphar , @wking , I found the problem.
I set the pid of the runc process to be the nsPath by mistake.
I should use the pid of the sh process instead. What a drama.

[2016-07-21 01:25] hmeng-19 commented on #960
@mrunalp , @cyphar , @wking , thanks for the help.

[2016-07-21 01:25] #960 closed

[2016-07-21 12:24] hqhq commented on #946
I can reproduce this problem on some machines, I opened a PR to revert that commit.
https://github.com/opencontainers/runc/pull/961

[2016-07-21 13:36] cyphar commented on #946
@hqhq I was about to do the same, it's been bothering me for a few days.

[2016-07-21 13:51] #946 closed

[2016-07-22 20:46] dubstack commented on #841
I suggest that we modify the logic for setting the kmem.limit_on_bytes to be more deterministic and
remove the kmemInitialized check.

If kernel memory is enabled we will set the kmem.limit_in_bytes to -1 when the cgroup is created ie. in apply(). This will enable kernel memory accounting on the cgroup ( http://lxr.free-electrons.com/source/Documentation/cgroups/memory.txt?v=3.9#L284 ) Once accoun

[2016-07-22 21:00] vishh commented on #841
I don't think the APIs are expected to handle cgroups that are created out
of band. Setting `-1` will only enable accounting and will not affect
containers in any way. So +1 for setting `-1` as
`memory.kmem.limit_in_bytes` by default. if kmem is enabled.

On Fri, Jul 22, 2016 at 1:46 PM, Buddha Prakash <notifications@github.com>
wrote:

[2016-07-22 23:59] dubstack commented on #841
Re, above, In apply() just setting -1 won't limit the cgroup, so we will have to limit the kernel memory by writing some arbitrary limiting value(say 1) and then write -1 to the kmem.limit file. Both the writes would be done one after the other in Apply()

[2016-07-25 02:10] hqhq commented on #841
The double write seems a doable solution, but that would loose the accurate error message on kernel memory setting failure.
@vishh Why didn't you compare current memcg kmem limits with that of the root `/` container as you suggested in https://github.com/opencontainers/runc/issues/841#issuecomment-230662085 ? I think that's a better idea.

[2016-07-25 17:41] vishh commented on #841
@hqhq Comparing limits of parent requires access to parent limits and that is a lot more tedious. Essentially what we are trying to accomplish is that of prompting users whenever they fail to set kmem limits prior to moving processed into cgroups.

I suggested the applying dummy limits approach to @dubstack to make the API more deterministic. Can you expand a bit more on what error message would b

[2016-07-25 18:04] dubstack commented on #841
From what I understand @hqhq 's concern is that we wont be able to prompt the user as to why exactly the kmem set() failed as he would just get a resource busy error.

But as I and @vishh have already pointed out this would be a part of the cgroup creation and it would only error out if a user tries applying kmem limits to a cgroup which was not created by libcontainer.

[2016-07-25 18:19] mlaventure commented on #841
@dubstack but that's a scenario that runc support, and it may make sense in some environment.

Can we just have an error message  on `EBUSY` akin to `can not override limit for cgroup %s, currently sets sets to %d: device or resource busy` on your PR?

That way the user would know they either need to not join that cgroup or remove the limit from their conf and accept the one currently enforced.

[2016-07-25 18:40] dubstack commented on #841
@mlaventure I totally agree with you. I looked into how golang handles syscalls and I found out that error numbers are not floated back to the calls instead it returns the error string. So we can't find the EBUSY error from the returned error.

The less elegant solution would be to compare the "Resource Busy" error string but again thats difficult as the error string is not uniformly defined acros

[2016-07-25 20:47] mlaventure commented on #841
@dubstack `WriteFile` returns an `os.PathError` in that case normal, which contains a `Err` field with the error number. If the type assertion on the returned error succeed on that type, that could do the trick.

WDYT?

[2016-07-25 21:44] dubstack commented on #841
I am not completely sure if understood you correctly, but the problem is that the type assertion check would pass everytime a os.PathError is returned which can happen due to multiple reasons and not necessarily EBUSY.

Please correct me if I am wrong but we would need some way of accessing the EBUSY error number which as far as I know is not possible this way. Or maybe I din't get the trick .

[2016-07-26 01:24] mlaventure commented on #841
@dubstack  It's not very pretty, but something like:
[code]

should work.

[2016-07-26 02:07] dubstack commented on #841
@mlaventure Oh I should have been a bit more specific in the last comment, but the problem with what you are suggesting is that the error being returned by ioutil.WriteFile() is of type `error`. And when the resource busy error is encountered we return `&PathError()`, So you cannot access the field `Err` from the returned pointer PathError. Because the interface `error` type is being returned and

[2016-07-26 02:23] mlaventure commented on #841
@dubstack   This works for me though:

[code]

`WriteFile` will just return the error from `File.Write` when it occurs, which implements the `error interface` in which case the assertion will succeed

[2016-07-26 05:00] cyphar commented on #841
@dubstack You can use a type assertion with go to essentially "cast" the interface to the type `PathError`. See @mlaventure's examples.

[2016-07-26 19:22] hmeng-19 commented on #921
@washraf , I tried this on my machine and it works for me. After my container starts, the `memory.swappiness` file under its cgroup memory subsystem is `10`.

Do you mind sharing the strace log of your test. You can get the strace log by running the following command:

    sudo strace -f -o strace.log $(which runc) run testcontainer1

[2016-07-27 17:17] hmeng-19 commented on #715
@qiancai , I tested this on the upstream master, and it works for me.
Do you still have the problem?

[2016-07-27 18:05] qiancai commented on #715
I have not had a chance to test this lately. Great if it is works for you and this one can be closed.

[2016-07-27 22:47] dubstack commented on #841
@mlaventure @cyphar Thanks for pointing that out. I wasn't aware that Go supports "type casting" in the following manner. I will update my patch with the suggested check.

Again, thanks a lot @mlaventure :)

[2016-08-01 00:09] washraf commented on #884
I am having the same issue running ubuntu 14.04 kernel 4.2.0-36-generic with GO 1.6.3 and latest runc version ??

[2016-08-01 15:28] hmeng-19 commented on #915
I recently did more exploration on this problem.

It seems that, on RHEL7, once a process joins another process's user namespace, it can not
run `clone` with the `CLONE_NEWNS` flag.

To illustrate this, I constructed two test C programs - [demo_userns.c](https://github.com/hmeng-19/logs/blob/master/ns_test/clone_test/demo_userns.c) and [join.c](https://github.com/hmeng-19/logs/blob/master/ns_test/

[2016-08-01 21:29] #931 closed

[2016-08-03 06:23] cyphar commented on #841
AFAICS this is fixed by #962 and #968. Closing.

[2016-08-03 06:23] #841 closed

[2016-08-03 15:49] crosbymichael opened #971 "Joining existing pid ns not reparenting process"
We must be missing the double fork, like in the exec case, to reparent the process to the container's pid 1.

See https://github.com/docker/docker/issues/25348 for more details.

[2016-08-03 21:13] cyphar commented on #971
Is this something we can include as a fix in #950?

[2016-08-03 21:20] mrunalp commented on #971
@cyphar Yes, I think we should

[2016-08-03 21:24] cyphar commented on #971
@crosbymichael Do you have a testcase that is just using `runc`?

[2016-08-03 21:25] crosbymichael commented on #971
No but i could make some if you want to looking into the fix, i'll work on the repo

[2016-08-05 01:07] cyphar commented on #971
Yeah, I'm working on it in #950.

[2016-08-05 14:38] cyphar commented on #971
Alright, I've got a repro. Basically you just do `grep -i ppid /proc/$$/status` inside a `runc exec`. You get `0` if we're not doing things right.

Unfortunately, it looks like this is slightly more complicated than it looks. If you just do the naive thing and run some code like this (which should reparent to the container init) inside a `runc exec sh`:

[code]

You end up with the `parent pid` be

[2016-08-05 17:20] mrunalp commented on #971
yeah, very strange. I am pretty certain that this used to work fine. I tested this by running `nohup sleep 1000 &`  in runc exec and then exiting the exec session. It used to get reparented to container init but not anymore. I wonder if something changed in the kernel code.

[2016-08-05 17:28] mrunalp commented on #971
Well, this ins't a kernel bug. I can't reproduce it with just unshare and nsenter. So, we are messing up something.

Shell 1:
[code]
Shell 2:
[code]
Shell 1:
[code]

[2016-08-05 17:48] mrunalp commented on #971
It is the subreaper option. If we run exec with --no-subreaper, the reparenting works as expected.

[2016-08-05 17:49] crosbymichael commented on #971
@mrunalp not working for me `sudo runc exec --no-subreaper test cat /proc/self/status`

[2016-08-05 17:54] mrunalp commented on #971
@crosbymichael We would still need a double fork in the code. To test this out, I am following these steps. Without no-subreaper, sleep doesn't get reparented to 1.

Shell 1
[code]
Shell 2
[code]

Shell 1
[code]

[2016-08-06 06:14] cyphar commented on #971
Okay, so we shouldn't set `PR_SET_CHILD_SUBREAPER` if we're doing an exec? From my reading of the man page, setting a subreaper results in the nearest ancestor subreaper to be your parent -- even though you're in a PID namespace.

[2016-08-06 09:02] hushan opened #973 "container.Start failed to start the process"
The error happened while using the container api to start a container:

$ go run run.go
2016/08/06 07:27:12 invalid character '\x18' looking for beginning of value
WARN[0000] os: process already finished
panic: process_linux.go:245: running exec setns process for init caused "exit status 1"

goroutine 1 [running]:
panic(0x75ca60, 0xc8200cc5b0)
        /usr/lib/golang/src/runtime/panic.go:481 +0x3e

[2016-08-07 18:56] JakeWarner commented on #973
Have you tried this?

https://github.com/opencontainers/runc/issues/846#issuecomment-233393066

[2016-08-08 01:49] hushan commented on #973
Ok, that is the problem indeed. thanks @JakeWarner
I find the relevant doc in package nsenter, it'd be better to mention it in the libcontainer main doc.

[2016-08-08 01:49] #973 closed

[2016-08-08 16:37] mrunalp commented on #971
@cyphar Yeah, setting the subreaper is resulting in walking up the tree out of the container pid ns. So, we need to remove the subreaper for exec/pid-ns join and add a double fork.

[2016-08-09 00:28] cyphar commented on #971
Note: Including the double-fork code within `nsexec` will mean that we have to send the PID through a socketpair to a process in `runC`'s PID ns (so that we can actually handle the PID of the _real_ init process, as well as set it in the `state.json` properly).

[2016-08-11 17:57] CRTX commented on #769
It's been quite a few months. No update on this?

[2016-08-12 05:51] iavael commented on #769
@CRTX bug was fixed in linux-image-4.4.0-25-generic kernel

[2016-08-12 06:12] hqhq commented on #769
@iavael Can you add some links so we can close this issue?

[2016-08-12 07:21] iavael commented on #769
@hqhq https://github.com/docker/docker/issues/22633#issuecomment-225858579

[2016-08-12 07:33] hqhq commented on #769
@iavael Thanks, docker/docker#22633 is still open I think there is a different issue, close this now.

[2016-08-12 07:33] #769 closed

[2016-08-12 08:48] dubstack commented on #932
Closing this issue as #958 provides a temporary fix for this.

[2016-08-12 08:48] #932 closed

[2016-08-14 16:41] dubstack opened #984 "Add support for memory.force_empty of memory cgroups"
For work in Kubernetes (details here:https://github.com/kubernetes/kubernetes/issues/27204),
we would like to use memory cgroup's force_empty feature to remove out of used page caches accounted to the cgroup before removing it.

We can have a `Bool` cgroup config : force_empty which if specified, Set() should write 0 to memory.force_empty.

@cyphar @hqhq Would it be a good idea for runc to support

[2016-08-15 15:10] washraf opened #986 "Container Checkpoint Pre-Dump Enhancement"
Criu the tool used for container checkpoint and restoration contains a great enhancement for checkpoint time (The Actual service down time). https://criu.org/Iterative_migration#Pre-dump.

Runc should checkpoint the container using this method. Which is the valid method for check-pointing even in Virtual Machines. and this is must incase of container migration to decrease the migration down time.

[2016-08-15 19:22] vishh commented on #984
Would this be associated with an Update() to an existing cgroup?

[2016-08-15 19:30] cyphar commented on #986
/cc @avagin

[2016-08-15 19:39] marcosnils commented on #986
IMHO pre-dump shouldn't be set by default. I think it's best if we just allow the CRIU options in runC so the user decides how/when to do pre-dump migrations.

FWIW we've added the parameters in this branch https://github.com/opencontainers/runc/compare/master...marcosnils:pre_dump?expand=1 for the CMT project but we never submitted a PR because we didn't add any tests.

[2016-08-16 05:40] dubstack commented on #984
@vishh From runc'c perspective this feature would be an extra cgroup config which would allow us to update an existing cgroup by calling the Set() method on the cgroup with the new force_empty config spec.
In respect to Kubernetes, I plan to move the entire cgroup deletion logic from Pod Container Manager's Destroy() to the Container Manager Destroy() method (follow a common deletion logic for rem

[2016-08-16 19:28] estesp commented on #101
This works properly now (as of awhile ago after the rewrite of nsexec.c and the join code); should this issue be closed?

[2016-08-17 09:31] dubstack commented on #984
friendly ping! @cyphar @hqhq @mrunalp

[2016-08-17 09:37] cyphar commented on #984
I'm not sure if this should be part of the `runtime-spec` or just something we **only** expose in `libcontainer`. If there's a possible use for runC (which may actually be related to getting runC as a k8s executor) then we should add the relevant fields to `runtime-spec` and take it from there. Otherwise, I'm more on the fence about it (I'd prefer everything go through the spec and if it's not som

[2016-08-17 14:05] cyphar commented on #814
Currently working on the design plan. https://gist.github.com/cyphar/8c6b9db84fc1f2cc2d037ef07942ca83

Here's @crosbymichael's mockup of how you could implement things in a simple C program. https://gist.github.com/crosbymichael/d3045070f0e2615814aaa31e8991d7fd

[2016-08-17 18:54] slayercat opened #990 "1.0 rc (04f275d) will automately quit"
version: 04f275d

when use `runc create ` command,  the runc program will sometimes quit, left container not destoryed.

normally this is not a problem. but i'm in systemd env. so it will

 1) cause systemd try restart container. which will fail, for theres same container running.
 2) systemd cannot stop the container.

i have two container with the same issue. one config below

trying version v0.

[2016-08-17 19:12] slayercat commented on #990
a simple test shows in ver 0.1.1 (baf6536d6259209c3edfa2b22237af82942d3dfa),  systemd stop will not stop container, just kill runc.

[code]

[2016-08-17 19:42] slayercat commented on #990
version 6df383c2f881fbdeb85060fd27d8bf61afedacd9 (master)

when systemd stop service, will left container  lived either

[2016-08-17 22:35] cyphar commented on #990
This is by design. We've split `create` into `create` and `start` -- where `create` doesn't start the users' process, it just creates the container namespace and waits for a signal to start the container. If you want to have the old semantics use `runc run`. The PR for this is #506.

Closing since it's by design. Feel free to re-open this issue if you find some problems with the new design.

[2016-08-17 22:35] #990 closed

[2016-08-17 22:41] cyphar opened #991 "Add ChangeLog for previous releases"
Currently we aren't systematic about writing changelogs, which is a bit of a worry (and it makes packaging a bit more annoying).

/cc @crosbymichael

[2016-08-18 01:52] slayercat commented on #990
question: how to make this design work with systemd?
@cyphar

[2016-08-18 01:55] slayercat commented on #990
the problem came from runc just quit so systemd cannot check it's state.

is this by design? @cyphar

[2016-08-18 07:20] xiaochenshen commented on #433
@crosbymichael @hqhq @cyphar @mrunalp @vishh
/cc @opencontainers/runc-maintainers

Intel RDT/CAT kernel interface has changed from cgroup to "resource control" filesystem, which is a "cgroup-like" interface. The kernel patches are under review in LKML now. See more details in section `Linux kernel interface for Intel RDT/CAT`.

Accordingly, I have updated this issue to align with the new kernel in

[2016-08-18 07:22] xiaochenshen commented on #433
I have also changed the title of this issue from "Proposal: Intel RDT/CAT cgroup support in runc/libcontainer" to "Proposal: Intel RDT/CAT support in runc/libcontainer".

[2016-08-18 09:37] cyphar commented on #990
There are two options: Just use `runc run` instead of `runc create` -- the semantics are the same as the old way that things used to work (in other words, if you replace all `runc create`s with `runc run`s in your scripts that used to work with older runC versions they should work with the new version).

The other option is to create a more complicated unit file that uses both `runc create` and `r

[2016-08-18 20:40] crosbymichael commented on #971
Was the double fork removed? I'm testing with with the no subreaper flag and its not working for me on the exec process

[2016-08-19 00:23] cyphar commented on #971
@crosbymichael Currently that code is living in #976, but it's broken. I'm working on it, but the other nsenter changes need to come first (for rc2) then I can figure out what's breaking that PR so we can get it into rc3.

[2016-08-20 17:28] cyphar commented on #433
Personally I don't like this idea. Please don't make it so that we have to track an intel-specific feature within the generic code for `libcontainer`. If we can't consolidate it with the cgroup code, then please make a new "resource manager" structure where all `Manager`s are consolidated. Then, we can just have generic `Manager` code which applies to right operation using all of the registered ma

[2016-08-22 05:36] xiaochenshen commented on #433
Yes. I have tried, but it is really not easy to reuse current cgroups code.

Good suggestion. Thank you. I will try to refactor the design. The draft plan:
* Create a new generic `Resource Manager` interface in libcontainer, outside cgroups.
* Refactor cgroups manager to implement the generic `Resource Manager` interface.
* Add a new `package intelrdt` with "intelrdtManager", which also implements

[2016-08-22 19:09] washraf commented on #986
@marcosnils @cyphar .. Any updates on this matter ??

[2016-08-22 19:31] marcosnils commented on #986
@washraf I just giving my opinion on how I would implement it in runC. I don't have time to craft a proper the PR from my branch. If you need this feature it'd be nice if you could craft a PR to include it in runC. As you'll probably use it and provide real feedback about the functionality.

[2016-08-23 04:28] cyphar commented on #986
I defer to the CRIU expert around here (@avagin). Feel free to write a PR, but his opinion is probably what holds the most water with regards to checkpoint-restore usecases.

[2016-08-24 17:06] rajasec opened #999 "runc list gives JSON unmarshaling error"
While running the runc list
gave the following error
./runc list
json: cannot unmarshal string into Go value of type uint32

Though /run/runc had state.json for the container.
This came only once. I'll try to reproduce again and report back

[2016-08-25 00:40] cyphar commented on #999
One thing I've noticed is that `runc list` is not very resilient to errors while reading files (you don't get _any_ list information if one of the state.json files are bad).

[2016-08-25 23:22] crosbymichael commented on #999
this is probably because you have docker containers running and the runc master state changed

[2016-08-25 23:23] crosbymichael commented on #991
we will do this for 1.0 and post 1.0.  i don't think we need to backfill the changelog for the past releases though

[2016-08-25 23:25] crosbymichael commented on #984
@dubstack would something like `runc delete --force-cgroup-empty <cid>` work?

But with a better flag name...

[2016-08-25 23:32] vishh commented on #984
Yeah. I like that idea!

On Thu, Aug 25, 2016 at 4:25 PM, Michael Crosby <notifications@github.com>
wrote:

[2016-08-25 23:33] vishh commented on #984
Although, force empty would result in pages getting moved to parent. An
ideal delete scenario would be that of gradually dropping memory limits to
purge pages. That might be something we can build on top of runc rather
than directly supporting in runc.

On Thu, Aug 25, 2016 at 4:32 PM, Vishnu Kannan <vishnuk@google.com> wrote:

[2016-08-26 06:23] x1022as commented on #986
Sorry for missing this issue before proposing a pr. #1001 is about adding pre-dump to runc checkpoint.

[2016-08-26 16:55] crosbymichael commented on #984
@vishh how gradual is gradual?  ;)

[2016-08-27 01:58] hqhq commented on #101
@estesp Thanks for confirming, closing.

[2016-08-27 01:58] #101 closed

[2016-08-27 02:57] #788 closed

[2016-08-29 06:58] TrumanLing commented on #999
Agree with crosbymichael that you maybe have containers' directories for ```state.json``` under /run/runc, and those containers were created use old version of config spec.
Actually, configuration field ```net_cls_classid``` has been changed, detailed info is as following:
```bb42f80a libcontainer/configs/cgroup_unix.go (Hushan Jia              2016-07-08 21:07:50 +0800 123) 	NetClsClassid uint32

[2016-08-29 07:49] dubstack commented on #984
One idea that @vishh suggested was that of repeatedly reducing memory limits to the cgroup's memory usage. This method I suspect would take some time.

Another thing that we should consider is that, In some scenarios it simply wouldn't be possible to get rid of all the charges to the cgroup. In such a situation calling force_empty would be the only option.
One idea that we can consider is that we

[2016-08-29 12:03] rajasec commented on #999
During that problem, there were only 2 containers listed under /run/runc, both had state.json. I switched to master and tried the same. I'm sure that this were not docker containers. As you are mentioning It could be due to old config which might have caused the problem

[2016-08-29 17:34] vishh commented on #984
@dubstack: I'd recommend trying out the "Reducing limits" approach before
resorting to force_empty for now.

@crosbymichael: A loop that runs once every second to reduce the limits to
an acceptable level should work.

On Mon, Aug 29, 2016 at 12:49 AM, Buddha Prakash <notifications@github.com>
wrote:

[2016-08-29 20:15] crosbymichael commented on #984
Having this one delete on runc makes sense to me if someone wants to take a pass at the implementation we can review from there.

[2016-08-30 01:21] TrumanLing commented on #999
@rajasec
Would you please try to change the value of field ```net_cls_classid``` form ```"xxx"``` to any number you like, then try to run ```runc list``` and check the output?

[2016-08-30 06:59] keloyang commented on #752
https://github.com/urfave/cli/pull/515, Treat all flags which followd behind the last arguments as normal arguments, this will resolve the problem which runc(ps and exec) encounter.

[2016-08-30 07:08] keloyang commented on #752
https://github.com/urfave/cli/pull/515,Treat all flags which followd behind the last arguments as normal arguments, this will resolve the problem which runc exec encounter.

[2016-08-30 08:49] keloyang commented on #788
https://github.com/urfave/cli/pull/515,Treat all flags which followd behind the last arguments as normal arguments, this will resolve the problem which runc exec(ps) encounter.

[2016-08-30 10:36] rajasec commented on #999
Yes you are right, if I change to string, I'm able to see this error back. But I was expecting runc list should give this error only for that respective container,  Error is so generic, but the problem is even though other containers have the right state information, it is just giving one single error.  User is not aware where this error comes from whether container 1 or container 2 ? atleast mess

[2016-09-02 09:22] keloyang opened #1016 "libseccomp version not match"
In a ubuntu with libseccomp 2.2.3, I build runc and then move runc to another ubuntu with libseccomp 2.2.0, runc can run successfully,on the other hand ,in a ubuntu with libseccomp 2.2.0, I build runc and then I move runc to another ubuntu with libseccomp 2.2.3, it will have a error like this:
[code]
I see the implement,and find the miss match
[code]
checkVersionAbove will compiled to runc binary,

[2016-09-06 03:21] ibuildthehealth opened #1021 "make dbuild with golang1.7 error"
when change golang:1.7.0 to golang1.6.2, we can `make dbuild` successfully.

[code]

[2016-09-06 08:16] hqhq commented on #1021
Looks like a library issue but I'm not able to reproduce :(

[2016-09-06 09:15] cyphar commented on #1021
It looks like you're using gcc-go. There's probably a compiler issue (this error looks familiar, and we fixed it in openSUSE but I can't remember the hack you needed to do to fix it).

[2016-09-06 09:17] cyphar commented on #1021
Weird, this looks similar to a compiler issue we saw in SLE (there was some hack you could do to fix it, but I can't remember the exact flags). However, you're getting mount errors as well as the compile errors, maybe there's some other issues going on.

[2016-09-06 09:30] ibuildthehealth commented on #1021
@hqhq ,may be the issue caused by the updated golang1.7.0.

[2016-09-06 09:32] hqhq commented on #1021
@cyphar I've fixed the mount error in #1022 it should be non-relevant, the `/tmp` mount is only used by CRIU tests.

[2016-09-06 09:36] cyphar commented on #1021
But `dbuild` doesn't run the tests?

[2016-09-06 10:40] hqhq commented on #1021
@ibuildthehealth I deleted my local golang:1.7.0 image and still can't reproduce.

[2016-09-07 14:17] cyphar opened #1025 "runc run stalls under strace"
If you run `runc` under `strace`, it will stall randomly. The stall always happens at the `execve` of the `runc init` process. This was discovered while doing #1018. I will copy-paste my discussion from there here.

As far as I can tell, this happens on both `master` and cc29e3dded8e27ba8f65738f40d251c885030a28. It appears to be related to the exec fifo, but I'll test it out further now.

[2016-09-07 14:17] cyphar commented on #1025
Alright, after staring at strace logs and `/proc/<pid>/task/*/status` for a couple of hours I think I know what's going on. In the strace logs, the following call is what we stall on (in the `runc init` process):

[code]

Now, the semantics of `execve` are "fun" for multithreaded processes. Basically, only single-threaded processes are capable of undergoing an `execve`. So when you do an `execve`,

[2016-09-07 14:20] cyphar commented on #1025
Okay, this is a bit worrying. It also happens with `0.1.1`. Here's my `config.json`:

[code]

[2016-09-08 02:37] hqhq commented on #1021
@ibuildthehealth Go 1.7.1 is out, can golang:1.7.1 fix your problem?

[2016-09-09 16:23] ianpark opened #1029 "support command line mounting"
Currently runc has no option to create mount points from command line like Docker has "-v" option for that purpose. So it's quite difficult to integrate runc where -v option is used especially when we need to mount all the different paths every time for short-lived containers.
The only way is creating config.json every time with different mount point and delete it when container is terminated. Is

[2016-09-09 16:55] crosbymichael commented on #1029
This has been omitted on purpose.  There are a couple of reasons for this.

1. We want everything about the container and how it is created/run in the spec.  This way when you type `runc runc test` the container is the same no matter where its running.
2. If have cli args for mount then we will have to end up putting many other things on the cli and it makes the spec less important and the informa

[2016-09-09 17:01] cyphar commented on #1029
In addition to what @crosbymichael said:

3. The API would be horrible if we wanted to provide the same features as the config specification (`-v` is already pretty nasty, and it doesn't even let you do anything other than bindmounts).
4. Mounting would be outside of the OCI specification, which would break the point of the OCI's spec from existing.
5. We already have hooks, which allow you to do

[2016-09-09 17:03] cyphar commented on #1029
Not to mention that I personally don't like `docker run -v` because it's not always clear what and how it's doing what it is doing. IMO Docker should only allow `docker volume`-style setup of volumes because then it's much easier to manage (`docker run -v` is a security hole waiting to happen).

[2016-09-09 17:16] #1029 closed

[2016-09-09 17:35] ianpark commented on #1029
@crosbymichael @cyphar Thanks for the answer! Now I understand why -v is abandoned.
I need to mount dedicated directories (with random name) for each container, and currently using Docker with -v. But if -v could be an attack space, I also want to avoid it.
And it's quite interesting that you mentioned bindmounting between runc create and runc start.
Could you share a bit of knowledge how to do th

[2016-09-09 17:43] crosbymichael commented on #1029
@ianpark its not an attack space.  Containers are as secure as the people operating them.  If you bind mount your `/` then of course its not going to be as secure but what would one expect. ;)

As far as solving your random dir mount issue, the mounts struct for binds does support relative paths so you can make this directory inside your bundle and have runc mount it.

[2016-09-09 18:06] crosbymichael commented on #1016
Yes, there is a tracking issue on the libseccomp repo for this.  They didn't support it in the past but it may now.  Will have to double check again.

[2016-09-09 21:12] crosbymichael opened #1031 "runc update not having correct cgroup path"
[code]

If you look at the error message path it should be `9:memory:/user.slice/test` but its `/sys/fs/cgroup/memory/user.slice/memory.limit_in_bytes`.  Its missing the container name in the cgroiup path.

[2016-09-09 22:20] lizhuqi opened #1032 "No package 'libseccomp' found error during runc build"
Following the steps from the release note:

[code]

It failed in make step with following errors:
[code]

[2016-09-10 03:50] cyphar commented on #1032
Does your distribution include the `pkg-config` information for `libseccomp`? If not, please get them to do so. If you built `libseccomp` from scratch, install the `libseccomp.pc` file available in the source tree.

[2016-09-10 07:24] #899 closed

[2016-09-10 12:59] rajasec opened #1034 "runc pause fails"
Upon starting the container, tried to pause the container it failed to write to freezer.state file

failed to write FROZEN to freezer.state: open /sys/fs/cgroup/freezer/user.slice/user-1000.slice/session-6344.scope/container1/freezer.state: no such file or directory

Looks like cgroup path is wrong

But state.json is having the right path.
/sys/fs/cgroup/freezer/user.slice/user-1000.slice/session-

[2016-09-10 13:52] cyphar commented on #1034
I'm pretty sure this is caused by the same thing as #1031.

[2016-09-11 10:47] rajasec commented on #1034
I could dig and reverted the following changes #1009
then it started working.