[2020-09-19 02:45] shizhx commented on #2530
Docker version 19.03.2, build 6a30dfc

We get into a similar problem: `docker exec <container name> command` hung on `runc init` sometimes:
[code]
and linux kernel panic soon by `khungtaskd`:
[code]
 but we don't know why, hope help.

[2020-09-21 10:18] Masber opened #2596 "runc complains while building an image"
Dear runc community,

I am new to runc/containers and I am getting the error below while trying to buld an image. I am building the image using buildkit inside a container managed by k8s. I already posted this issue in buildkit slack channel and they refered me to runc.

This is the Dockerfile I am using:
[code]

And this is the error I am getting:
[code]

I am hoping someone could help me to unde

[2020-09-21 18:57] AkihiroSuda commented on #2596
duplicate: https://github.com/moby/buildkit/issues/1690

[2020-09-21 18:57] #2596 closed

[2020-09-25 21:46] gitsvm opened #2601 "runc container cpu usage"
Where to look for cpu usage for  a specific `runc` container? .
There is no file present in `/proc/<cid>/`  (`<cid>` is the pid obtained from `runc list` command) by any cpu related name which gives `cpu usage` for that specific container.
In `/sys/fs/cgroup`  there are files present under  `cpu`, `cpuacct`, `cpu,cpuacct` directories. I don't see if there's any way to extract cpu usage form those

[2020-09-26 07:08] gitsvm commented on #2601
@cyphar , @avagin . pls Help here.

[2020-09-26 09:48] #2563 closed

[2020-09-27 07:35] zokrezyl commented on #2566
Hi @cyphar, given one of the powers of Go is that you can build standalone executables that do not depend on the target platforms libc, the question was rather if it is difficult to adapt libc to support such usecase.

[2020-09-27 12:01] zokrezyl commented on #2566
Just gave it another try. The secret was in the Makefile of runc. Just building the target, I have an executable that is not dependinc on the hosts or target hosts libc.

[code]

[2020-09-28 02:09] cyphar commented on #2566
Yes, `make static` will build runc as a static binary (this is what we distribute in our releases). I thought you were asking about building runc without having glibc-devel installed (which isn't possible).

To answer this part of your question:

Yes, the namespace setup code cannot be done in Go because the Go runtime is multi-threaded and this simply cannot be disabled (and the namespace interfa

[2020-09-28 02:39] fuweid commented on #2530
/cc

[2020-09-28 09:21] rohitrav33ndran commented on #1343
Have this problem on Debian Stretch K8's

Docker info

 Server Version: 19.03.4
 Storage Driver: overlay2
  Backing Filesystem: extfs
  Supports d_type: true
  Native Overlay Diff: true
 Logging Driver: json-file
 Cgroup Driver: cgroupfs
 Plugins:
  Volume: local
  Network: bridge host ipvlan macvlan null overlay
  Log: awslogs fluentd gcplogs gelf journald json-file local logentries splunk syslog

[2020-09-28 17:01] kolyshkin opened #2602 "[RFC] change systemd drivers to use sub-cgroups"
Currently, runc's systemd cgroup driver (both v1 and v2) set all the resources they can using systemd properties (and also sets `Delegate=yes` if possible, then sets all the resources using fs[2] driver. This seems wrong, as with `Delegate=yes` (see https://systemd.io/CGROUP_DELEGATION/) one is supposed to create and manage sub-cgroup(s) (as opposed to the cgroup of the systemd unit itself like it

[2020-09-28 17:02] kolyshkin opened #2603 "Cgroups.Resources.Unified support wrt systemd driver"
Initial support for cgroupv2 unified resources was merged in https://github.com/opencontainers/runc/pull/2584.

With that in place, one can set, say, `linux.resources.unified.pids.max = 42` which will make runc to write `42` to `pids.max`. The problem is, systemd `TasksMax` will still be unset/unlimited.

The issue can be solved by adding a map of some known "unified" parameters
to systemd propert

[2020-09-28 22:00] kolyshkin commented on #2602
IOW, I think we violate this rule (from https://systemd.io/CGROUP_DELEGATION/):

[2020-09-29 04:45] AkihiroSuda commented on #2315
Can we close this? Keeping this issue open seems to give people false sense as if cgroup v2 support hadn't landed in.

We can still keep pinning this issue.

[2020-09-29 04:45] #2315 closed

[2020-09-29 04:48] AkihiroSuda commented on #2602
Related: https://github.com/opencontainers/runc/issues/2448

[2020-09-29 04:49] AkihiroSuda commented on #2602
SGTM. This behavior also corresponds to crun AFAIK.

[2020-09-29 04:49] AkihiroSuda commented on #2602
Added to rc93 milestone, but feel free to change.

[2020-09-29 04:50] AkihiroSuda commented on #2603
:+1:

[2020-09-29 07:06] zokrezyl commented on #2566
Well, when I raised the question was not aware or did not think about linking statically. Thus my problem is solved.

Thanks for the clarification related to go and namespace setup. Does this mean that runc will call some external program for namespace manipulation? Linking statically means the C lib will be in the same mult-threaded process.

[2020-09-29 07:30] cyphar commented on #2566
We don't use an external program, we have a complicated hack using `__attribute__((constructor))` to call [this function](https://github.com/opencontainers/runc/blob/04806abd39f0822734b55ddda2ba4a42071647b8/libcontainer/nsenter/nsexec.c#L572) whenever `runc` is executed. In order to do namespace setup, we simply do `execve("/proc/self/exe")` to re-execute the current process. [The package has a sh

[2020-09-29 15:55] najohnsn opened #2613 "inconsistent relative --root behavior"
A relative path can be specified for `--root`, but it is sometimes interpreted as relative to current directory and sometimes as relative to bundle directory:
[code]

This seems to be because commands like `create` change directory to the bundle before getting the absolute path to the root. And commands like `state` do _not_ change directory to the bundle before getting the absolute path to the ro

[2020-09-29 22:42] cyphar commented on #2613
Yeah `--root` should probably be relative to the current directory.

[2020-09-30 02:23] knabben commented on #2613
can I give it a try?

[2020-09-30 03:50] Nowaker commented on #2532
Here's my finding repasted from https://github.com/kubernetes/kubernetes/issues/82440

It's reasonable to expect some syscall activity every exec probe period. It's also reasonable to expect a reduction in the number of syscalls per minute when exec probe period is longer (e.g. 30 seconds instead of 5 seconds). However, this is not a case. A mere presence of an exec probe causes a lot of syscalls

[2020-09-30 04:23] cyphar commented on #2532
(Copying this comment from the Kubernetes issue.)

Taking a quick look, https://github.com/kubernetes/kubernetes/issues/82440#issuecomment-534332237 is describing Kubernetes effectively spamming `runc status` (the output of which is the JSON blob described). I don't think it's directly related to opencontainers/runc#2532 (we don't do any mounts in `runc status`), but I'm also not sure why Kubernet

[2020-09-30 04:29] cyphar commented on #2532
@axot

Not really. The mount setup was actually added to avoid other issues (we used to copy the binary rather than ro-mount it, which caused container and system memory usage to increase by 10MB each time you attached or configured a container). I am working on some kernel patches to remove the need for these protections (by blocking chained opens through a read-only fd), but they'd need to be me

[2020-09-30 05:11] axot commented on #2532
@cyphar Good to hear that!

[2020-09-30 05:26] cyphar commented on #2532
I was about to post a program to create a bind-mount of a `memfd` (which would allow you to avoid this overhead) but I just figured out that you can't bind-mount `memfd`s. Oops. :thinking:

[2020-09-30 07:19] #2249 closed

[2020-09-30 07:20] kolyshkin commented on #2613
Sure, why not!

[2020-09-30 16:43] #2571 closed

[2020-09-30 18:11] kolyshkin opened #2617 "add golangci-lint to ci"
This can be part of `validate` Makefile target.

Of course, we need to fix all golangci-lint warnings first.

[2020-09-30 19:02] kolyshkin commented on #2473
These two are ultimately fixed by https://github.com/opencontainers/runc/pull/2600

[2020-09-30 19:04] kolyshkin commented on #2617
I found a mode for golangci-lint where it reports only errors brought by a particular PR!

[2020-10-01 01:07] #2617 closed

[2020-10-01 16:59] kolyshkin commented on #2602
OK so we have discussed it with @mrunalp and @giuseppe and looks like we can proceed with the plan outlined in #2603.

The biggest concern about switching systemd drivers to create a sub-cgroup is that software that uses libcontainer (kubelet etc.) might break. We could do it as an option but I don't think there will be any benefit.

[2020-10-01 18:11] kolyshkin commented on #2603
Copy/pasting my comment from https://github.com/opencontainers/runc/issues/2602#issuecomment-702269224

So that's the plan for now

[2020-10-01 18:30] kolyshkin commented on #2532
So, this is mostly not a problem in runc per se, but a problem in systemd which re-reads the proverbial mountinfo on every mount/umount.

The ultimate fix to that belongs in the kernel, and some work is being done in that direction (see https://lkml.org/lkml/2020/3/18/569) but we're not quite there yet.

In the meantime, systemd workarounds are being worked on -- if someone is interested to look i

[2020-10-01 19:13] kolyshkin commented on #2532
Sorry I haven't realized the systemd issue was mentioned here (right in the issue description).

Still, reducing runc overhead would be a good thing to do.

[2020-10-02 08:07] thaJeztah opened #2627 "Review and address golang-ci linting errors"
We recently added golang-ci-lint, which runs on pull requests and on master.

Currently, looks like the linter on PR's only checks the changed lines, but found various issues in the existing code on master (see https://github.com/opencontainers/runc/pull/2618#issuecomment-702531748); the linter picked up the problem in https://github.com/opencontainers/runc/runs/1190924966

Looks like that output

[2020-10-02 08:07] thaJeztah commented on #2627
@kolyshkin @AkihiroSuda @KentaTada

[2020-10-02 08:09] thaJeztah commented on #2627
Interestingly, the output doesn't show the file location where errors occurred; is there a different location where logs can be viewed with more details?

[2020-10-02 08:11] thaJeztah commented on #2627
Looks like this is a starting point, but haven't found yet how to see annotations on the correct lines; https://github.com/opencontainers/runc/actions?query=workflow%3Agolangci-lint

[2020-10-02 08:20] thaJeztah commented on #2627
Quick try to see how the linter picks up changes in PR's https://github.com/opencontainers/runc/pull/2628

[2020-10-02 08:21] AkihiroSuda commented on #2627
I think we can just disable linter for master and call it a day

[2020-10-02 08:23] thaJeztah commented on #2627
Why disable? I think there's various issues it picked up that could be actual things to look for. (not all of them, but there are some that could improve code quality at least)

[2020-10-03 00:22] AkihiroSuda commented on #2602
So shall we close this?

[2020-10-03 01:05] aos commented on #2582
Hey -- if you don't mind, I'm going to take this up!

[2020-10-04 19:34] zokrezyl commented on #1800
Found the solution. In order to implement it one needs an additional step (sub-command) like "init", let's call in "unsremap"
* unsremap should import libcontainer/unsremap exactly how "init" is importing libcontainer/nsenter
* libcontainer/unsremap would "import" a simple C function like this (similar like nsexec)

[code]
* the config.json shuold contain an additianal re-mapping of the root (0) t

[2020-10-05 12:39] cyphar commented on #1800
I'm not sure it's necessary to have a separate re-exec stage, you should just be able to add an extra `CLONE_NEWUSER` in the existing `nsexec.c` setup stages (though because you have to do the mappings this may require adding a new stage to setup...). In addition, doing the unshare after all the other namespaces are set up wouldn't be a good idea -- the new user namespace wouldn't own any of them

[2020-10-05 21:49] chaitanyabandi opened #2632 "Process leak if cgroup init process shares process namespace"
The cgroup init process wait function uses Cmd.Wait from os/exec. That Wait function can return a non-nil error if the init process does not complete successfully say if it exits with a non-zero exit code or is terminated.

If the cgroup's init process shares process namespace, all the other processes, if any, in the cgroup will not be killed, resulting in a process leak.

From libcontainer/proces

[2020-10-06 15:08] Mahanotrahul commented on #1740
Can anyone please help me how do I stop cleaning cache once after running this `echo 1 > /proc/sys/vm/drop_caches`

[2020-10-06 19:43] #2582 closed

[2020-10-06 20:45] #2613 closed

[2020-10-08 02:22] ashwani29 commented on #37
This will help.
https://medium.com/@Mark.io/https-medium-com-mark-io-network-setup-with-runc-containers-46b5a9cc4c5b

[2020-10-08 17:51] #2632 closed

[2020-10-09 08:13] ashwani29 opened #2637 "Running a python file in the runC container"
How can I run a python file in the runC container? I've exported `ubuntu` filesystem as `rootfs` instead of `busybox`, but still, it gives an error of `python3 not found`.

Even can't install it. it is unable to locate package.
[code]

Cannot use sudo, says `sudo: not found`.

[2020-10-09 08:39] AkihiroSuda commented on #2450
Should have been closed in https://github.com/opencontainers/runc/pull/2522

[2020-10-09 08:39] #2450 closed

[2020-10-09 08:39] #2536 closed

[2020-10-09 08:47] kolyshkin commented on #2637
1. You have to run `apt-get update` first.

2. It might be called `python` not `python3`, depending on the distro.

3. This is not the right place to ask questions. This is a place to report runc bugs.

[2020-10-09 08:47] #2637 closed

[2020-10-09 09:08] ashwani29 commented on #2637
@kolyshkin  So where to ask these questions?

[2020-10-09 13:56] thaJeztah commented on #2536
I see someone implemented it in gh actions; https://github.com/vmware-tanzu/octant/blob/master/.github/workflows/dependabot-gomod.yaml

example; https://github.com/GoComply/metaschema/pull/3

Not sure how the legal side of things are with a bot doing a `signed-off-by`

[2020-10-09 17:56] kenorb opened #2638 "Can't install package via Go get"
[code]

Tested on macOS 10.15.7.

[2020-10-09 21:31] kenorb opened #2639 "process_linux.go:297: applying cgroup configuration for process: read-only file system"
I'm trying to run `busybox` container in Colab, however I've got the following error:

[code]

Here are the steps:

1. Install Docker and runc:

[code]

2. Extract Busybox container into `busybox/rootfs`:

[code]

3. Run:

[code]

Demo: https://colab.research.google.com/drive/19hVpEODrL8kb7KvyWrA9vE6Pd7ZKMA4G#scrollTo=VhgKc1a6zMTq

Is there any way to run the container having read-only access to c

[2020-10-10 00:00] cyphar commented on #2638
runc doesn't support MacOS (it's a Linux-only program). `go get` does work on Linux, but I wouldn't recommend using it because we set several string constants when using `make` as well as several build tags.

[2020-10-10 00:00] #2638 closed

[2020-10-10 12:50] advancedwebdeveloper opened #2640 "Golang, -fsplit-stack flag and Clang's limitations (libcontainer/nsenter; gollvm)"
Here is a bug, which has no workaround.
My guess it is no only cause of patching Golang's front-end.

Featured files where archives into [this](https://drive.google.com/file/d/1Srm0FP560pfNQYFdEFWMgQOa1A840HpJ/view?usp=sharing) file

[This](https://drive.google.com/file/d/1-TsfixkyIUgbdXpmG1p_n3txstSV7TSq/view?usp=sharing) archive contains resulting files of

I am using [Clang RC5](https://github.

[2020-10-10 12:52] advancedwebdeveloper commented on #2640
Could someone elaborate about the role of nsenter ?

[2020-10-10 12:58] advancedwebdeveloper commented on #2640
CC @ianlancetaylor @thanm @cherrymui

[2020-10-10 13:06] advancedwebdeveloper commented on #2640
CC @derekparker @jankratochvil @aguinet

[2020-10-10 14:25] cyphar commented on #2640
`nsenter` is the code which does the core setup of runc's namespaces, it's a hard requirement of runc (runc wouldn't work without it) and -- before you ask -- it cannot be rewritten in Go because Go doesn't allow you to run a program in single-threaded mode (all Go programs implicitly spawn new threads on-demand making it impossible to create and configure namespaces properly).

This is also a dup

[2020-10-10 17:40] #2640 closed

[2020-10-10 20:41] ehsundar commented on #2627
Hi everyone. I go for it.

[2020-10-11 02:33] cyphar commented on #2639
That's strange, we should already be allowing this for rootless containers:

[code]

(Note the `EROFS` check.) I wonder if this is due to `errors.As` not liking us using `unix.Errno` instead of `syscall.Errno`...

[2020-10-11 06:44] zokrezyl commented on #2566
Thanks for the extra explanation. In the meantime I understood the logic, this is how I proposed a potential solution for https://github.com/opencontainers/runc/issues/1800

[2020-10-11 06:49] zokrezyl commented on #1800
In nsexec may be too early as you cannot do any mounting and other init as non root, which I believe you are doing in the init subcommand.

Well, I am trading something against something. Obviously lot of containers will not work as they may be assuming that they are running as uid 0. However why would I need to own further the namespaces. The idea, at least my understanding is to run in highest i

[2020-10-11 07:46] cyphar commented on #1800
You cannot configure namespaces unless you own them, the configuration is done much later during setup so you would need to do the unshare at the very end of setup which would make the logic much more complicated.

[2020-10-11 07:56] zokrezyl commented on #1800
Not sure if you understood my initial proposal. The idea is that with some magic configuration, once everything is configured by runc (namespaces, mounts etc), instead of calling the process.args from config.json you would call
[code]
the unsremap subcommand
* would first do unshare user NS (as mentioned in the above C code)
* write the new mapping into uid and gid map files
* exec the original pr

[2020-10-12 02:37] kolyshkin commented on #2639
AFAIK those are synonyms. Yes indeed, x/sys/unix defines it as

[code]

[2020-10-12 02:56] kolyshkin commented on #2639
So, you think you're using rc92 but it's not true. From your [link](https://colab.research.google.com/drive/19hVpEODrL8kb7KvyWrA9vE6Pd7ZKMA4G#scrollTo=VhgKc1a6zMTq):
[code]

I guess you're not using runc from `/usr/local/sbin`.

Anyway, using the same runc version as you used, the code is slightly different, but it still should ignore `EROFS`.

Might be an actual bug.

For now, I suggest you to re

[2020-10-12 04:05] cyphar commented on #2639
I modified their example to correctly use `rc92` and it has the same result:

[code]

[2020-10-12 04:09] cyphar commented on #2639
Ah no, I know what the bug is -- `errors.As` can't cast to an errno value because `os.PathError` don't "wrap" an errno value. It's just an embedded field in the struct. And yeah, taking a look at b2272b2cba97817be7c0f173bbed9ab1d95e5349 I did originally implement it using `.(type)` but that was changed to trying to downcast to `unix.Errno`.

I'll prepare a patch.

[2020-10-12 16:38] ashwani29 commented on #1860
I've added these capabilities but still getting the same error.

[2020-10-12 16:44] ashwani29 commented on #2517
In my case it shows this:
[code]
same with gid_map.
what does this mean and what should i add now?

[2020-10-12 18:43] #1119 closed

[2020-10-12 19:03] kolyshkin commented on #2639
That was my primary suspect as well but since it's not working in rc10 either, it is probably not the case.

It works for me on cgroupv2 + systemd (Fedora 32), as well as cgroupv1 + systemd (CentOS 8) -- with both fs[2] and systemd[2] cgroup drivers. It's probably not working on colab because the host has cgroupfs readonly already.

I think the error is not ignored in this particular setup is beca

[2020-10-12 21:33] kolyshkin commented on #2639
This is what I mean:

[code]

Now, if we look into the implementation of `shouldUseRootlessCgroupManager`

https://github.com/opencontainers/runc/blob/2b31437caa905b7b944a891aee613e7dd0a1f898/rootless_linux.go#L12

we'll see it will return `false` in this environment.

[2020-10-12 21:49] kolyshkin opened #2645 "[RFC] runc cli: --rootless flag idiosyncrasies"
While looking into https://github.com/opencontainers/runc/issues/2639 I found out we have two `--rootless` flags with different meaning:

1. Global flag, documented in `runc help` as

[code]

2. A flag specific to `spec`, documented in `runc spec --help` as

[code]

The problem here is non-uniform syntax:

1. The first (global) option applies (I guess) to `create`, `run`, `exec` and `update`), the

[2020-10-12 21:49] kolyshkin commented on #2639
One thing I found out that I don't really like is "rootless" flag handling in runc. Filed issue https://github.com/opencontainers/runc/issues/2645.

[2020-10-12 22:56] AkihiroSuda commented on #2645
I understand the motivation, but changing `runc run` interface is too risky.
So 1 SGTM but 2 and 3 NOTSGTM, sorry

[2020-10-12 23:08] kenorb commented on #2639
Using their `root`, it's possible to remount `/proc` and similar with the write access as:

[code]

which after remounting is shown as:

[code]

But I haven't found the way to remount the other cgroup sub-dirs.

However after the above and below code:

[code]

the error is:
[code]

I'm not quiet sure what the above error is about, as I'm able to successfully mount `/proc` inside `busybox/rootfs` m

[2020-10-13 00:16] kolyshkin commented on #2639
I have yet to see the software that mounts something read-only first and then remounts it read-write. `runc` is not doing that.

What you try to achieve is interesting nevertheless; please keep digging and inform us about your progress.

[2020-10-13 02:36] cyphar commented on #2639
@kolyshkin Oh right, I didn't notice they were running as root -- so you're quite right that all of the rootless handling will not be exercised. :man_facepalming: I tested this on my box and if you run as an unprivileged user it works but as root it (as expected) does not.

[2020-10-13 02:48] cyphar commented on #2645
The two `--rootless` flags were added at different times, hence the inconsistency:

* `runc spec --rootless` was originally added along with rootless support in #774, so that you could easily configure a rootless container (because quite a few of the default configuration bits were not compatible with rootless mode). However, since then we have `umoci unpack --rootless` which is arguably better fo

[2020-10-13 03:01] cyphar commented on #2639
@kenorb The kernel has several protections against mounting pseudo-filesystems in certain contexts, one of which is that you cannot mount a filesystem like `proc` inside a user namespace if all of the other visible mountpoints from your process have been "masked" by over-mounts. This is called the `mnt_too_revealing` check and it boils down to "are there mounts on top of subdirectories in `/proc`?

[2020-10-13 04:13] cyphar commented on #2639
Okay, after applying #2647 I managed to get it to work in your environment @kenorb. @kolyshkin can you review #2647?

[2020-10-15 00:55] xiechao4 opened #2649 "runc to support setns(pid) and share(new pid) together"
hi
I want to support quick launch and sharing between processes in cloud.
The case likes: All process in the cloud will load many files and do some  initialization for example the JAVA class loading. So i want to setup a container named zygote container which contains the already initialization process named Zygote. When someone request a new application, a application container will be setup and

[2020-10-15 10:58] gitsvm opened #2650 "Incremental checkpointing"
Is it possible to do incremental checkpointing in `runc` with full `dumps`?
In criu, we can do incremental checkpoints by doing

[code]
from the help option of runc, it says we can use
`--parent-path value path for previous criu image files in pre-dump option` but in case of pre-dumps only, Is there similar thing in runc which can do incremental checkpointing with full dumps also?

[2020-10-15 13:28] gitsvm commented on #2650
I'm not able to even verify it , i'm doing incremental checkpoints using runc command
`sudo runc checkpoint --leave-running --parent-path images --image-path images2/ <ctr_id>`
and everytime the checkpoint size is same. so unable to verify whether it is doing checkpoints incrementally and that too with full dumps.

[2020-10-15 15:36] dominikdomex opened #2651 "Docker Error"
docker: Error response from daemon: OCI runtime create failed: container_linux.go:349: starting container process caused "process_linux.go:449: container init caused \"rootfs_linux.go:58: mounting \\\"proc\\\" to rootfs \\\"/var/lib/docker/overlay2/c158149760b87710dd445441f88fc73c4e7b6e4ffbb87044537924fd8d6916ad/merged\\\" at \\\"/proc\\\" caused \\\"permission denied\\\"\"": unknown.
ERRO[0000] e

[2020-10-16 09:44] gitsvm commented on #2650
Is it like incremental checkpoints are possible in criu only not in runc?

[2020-10-16 16:20] AkihiroSuda commented on #2602
Ping @kolyshkin

[2020-10-17 10:22] zionwu commented on #1725
There is  several wrong information in the artical https://pingcap.com/blog/try-to-fix-two-linux-kernel-bugs-while-testing-tidb-operator-in-k8s :
1. runc of Docker v18.09.1 does not disable kmem accounting.
The approach to verify is running the command   `docker run -d --name test --kernel-memory 100M nginx:1.14.2`. If kmem accounting is enabled, the command succeed and container is created. If km

[2020-10-17 10:33] cyphar commented on #1725
We didn't write the article you linked (and this issue is long since closed) so I don't know why you've posted in this issue, but to your points:

1. Yes, Docker doesn't disable kmem accounting in their builds of runc but issue trackers is not for the Docker project.
2. `BUILDTAGS=nokmem` does work if you're building runc directly using our project's `Makefile`. If you're building `runc` as part o

[2020-10-20 13:09] ddl-rolandsugars commented on #2039
@strgrb I've run into this issue as well, it looks like it is fixed in newer kernel versions, and may be related to https://github.com/opencontainers/runc/issues/1725
and
https://bugzilla.redhat.com/show_bug.cgi?id=1507149

What OS and OS version are you running?

[2020-10-20 19:05] #2396 closed

[2020-10-21 17:00] kolyshkin commented on #2650
@adrianreber PTAL

[2020-10-21 17:11] adrianreber commented on #2650
This is exactly the same question as https://github.com/checkpoint-restore/criu/issues/1237: It does not work in `runc` and needs to be implemented if needed. Another possible solution would be using CRIU configuration files like mentioned in the CRIU issue. This can be closed.

[2020-10-22 08:55] strgrb commented on #2039
@ddl-rolandsugars I use centos7.6 and kernel version is 3.10.0-957.  I don't think my problem is related to #1725 because I can't see kernel messages like 'SLUB: Unable to allocate memory on node'.
I set vm.lowmem_reserve_ratio="1 256 32" to reserve more memory for dma, and I have not seen this error for several weeks. But I don't know whether this is a correct solution.

[2020-10-22 09:12] ddl-rolandsugars commented on #2039
@strgrb What is the storage device you're using?

[2020-10-22 09:54] strgrb commented on #2039
@ddl-rolandsugars An ssd for `/` and another ssd for `/var` on some machine

[2020-10-22 10:01] ddl-rolandsugars commented on #2039
@strgrb my bad, I meant storage driver, if you run `docker info ` it should tell you. I think you're probably using `devicemapper`?

Example output:
[code]

[2020-10-22 10:59] strgrb commented on #2039
@ddl-rolandsugars My storage driver is overlay2

[2020-10-22 13:05] gitsvm commented on #2650
Yes i think this will be helpful, will try those solutions mentioned in this issue.  Just one another question. is there any c/c++ or any other language library which can do checkpoints for `runc` container ?

[2020-10-22 13:09] adrianreber commented on #2650
You could look at crun, which is in C and which also does checkpoints of containers using CRIU.

[2020-10-22 13:13] gitsvm commented on #2650
This is as powerful as `runc` right?

[2020-10-23 04:39] AkihiroSuda commented on #2473
Vagrantfile.centos7 still skips some tests

[2020-10-23 05:06] AkihiroSuda opened #2659 "rc93 discussion (Feb 2021?)"
I propose releasing rc93 in ~the next month~ December.

@opencontainers/runc-maintainers Please add items you want to get merged in rc93 to https://github.com/opencontainers/runc/milestone/10

Notable changes since rc92: https://github.com/opencontainers/runc/compare/v1.0.0-rc92...master
- support Cgroups.Resources.Unified without v1 conversion https://github.com/opencontainers/runc/commit/b006f4a

[2020-10-23 18:36] mrunalp commented on #1847
@alban I think that runc's (and libseccomp) behavior is correct in this place and should get the spec updated for this.
cc: @giuseppe

[2020-10-24 11:39] chenliu1993 opened #2662 "container_linux.go:345: starting container process caused "read init-p: connection reset by peer""
Hi experts,
    I am execing a process inside archlinux container through libconatiner's Run(p) method.
    But I always got a err like the title said. The error is happening on container_linux.go's handleFifoResult() func and this func is called on https://github.com/opencontainers/runc/blob/07e35a7a409c14d665d06733c21aaae37810d63a/libcontainer/container_linux.go#L295 and https://github.com/openc

[2020-10-24 11:40] chenliu1993 commented on #2662
And where this read-p comes from?

[2020-10-25 10:01] AkihiroSuda commented on #2662
Please provide a full reproducer of your issue

[2020-10-26 07:15] AkihiroSuda opened #2663 "Move cgroup v2 out of experimental"
We have seen a lot of refactoring (thanks @kolyshkin ) for the cgroup drivers.

I think v1 and v2 now have same level of implementation quality, so I suggest moving cgroup v2 out of experimental.

`README.md` and `docs/cgroup-v2.md` need to be updated, but the code does not need to be updated.

[2020-10-26 07:15] AkihiroSuda commented on #2663
@kolyshkin @giuseppe @cyphar WDYT?

[2020-10-26 09:19] #2246 closed

[2020-10-27 10:58] #2650 closed

[2020-10-28 06:08] KentaTada opened #2664 "runc does not check for the existence of the file generated by cgroup before writing"
The original issue is https://github.com/kubernetes/kubeadm/issues/2335#issuecomment-716989252

runc does not check for the existence of the file like `/sys/fs/cgroup/cpu/cpu.cfs_quota_us` before writing the value to that even if the file is generated from the optional kernel configs.
I think runc should output the warning log or just ignore it when those files don't exist.

[2020-10-28 06:10] AkihiroSuda commented on #2659
@cyphar WDYT?

[2020-10-28 09:29] cyphar commented on #2664
We shouldn't be writing to files unless the configuration explicitly requires us to (this would mean that you would have to have a `config.json` which is explicitly setting `resources.cpu.quota` to an explicit value). In fact, looking at `libcontainers/cgroups/fs/cpu.go` this does appear to be the case:

[code]

(Through conversions, `cgroup.Resources.CpuQuota != 0` is only true if it was explicit

[2020-10-29 05:00] cyphar commented on #2573
#2634 was merged.

[2020-10-29 05:00] #2573 closed

[2020-10-29 05:04] cyphar commented on #2659
I don't have any outstanding things I'd like to get into rc93. I just merged #2634 so I guess the only thing left is whether we want to mark cgroupv2 as non-experimental. As far as I can tell, we still need to sort out #2602 / #2603 (so that `"unified"` works properly under systemd). I don't know how much remaining work there is to do to fix that.

All of that being said, I would hope we can do a

[2020-10-29 10:41] dims commented on #2659
I would love to get `rc93` into containerd and then kubernetes when it's ready. Early November looks great for k8s at least as 1.20 code freeze is Nov 12-ish at the moment.

[2020-10-31 04:51] kolyshkin commented on #2425
Got it one more time here: https://travis-ci.org/github/opencontainers/runc/jobs/740066484 (https://github.com/opencontainers/runc/pull/2658#issuecomment-719884438)

[2020-11-01 03:46] cyphar commented on #2664
Given that kubadm appears to be moving towards doing auto-detection there, I'll close this. Let me know if you want to re-open it.

[2020-11-01 03:46] #2664 closed

[2020-11-02 19:49] kolyshkin commented on #2659
I'm not sure this is super critical to have for rc93, but my WIP attempt is in https://github.com/opencontainers/runc/pull/2669, will try to add more this week

[2020-11-03 04:25] rijenkii commented on #2517
@ashwani29 you need to add the following into your systems `/etc/subuid` and `/etc/subgid`
[code]
Replace username with your system username

Then add `"uidMappings"` and `"gidMappings"` from [here](https://github.com/opencontainers/runc/issues/2517#issuecomment-657139999) into your `config.json`

To make `apt` work I also needed to add [these](https://github.com/opencontainers/runc/issues/2517#is

[2020-11-03 04:34] ashwani29 commented on #2517
Thanks @rijenkii  will surely try this as I wasn't able to do this yet, just one query do you know about `runc.conf`? I needed help in this.

[2020-11-03 04:55] rijenkii commented on #2517
Sorry, can't help you with that

[2020-11-03 05:05] ashwani29 commented on #2517
Ok no worry, thanks for replying.

[2020-11-03 20:47] kolyshkin opened #2670 "CI: switch to travis-ci.com github checks API"
Currently, integration provided by travis-ci.org is "legacy", IOW it is not seen in "checks" tab on a PR page, and clicking a link leads directly to travis-ci page.

Travis-CI.com offers github checks API integration, meaning it will look like this: https://github.com/kolyshkin/runc/pull/4/checks

I propose moving to travis-ci.com (which still has free tier for open source projects) and enable thi

[2020-11-03 20:49] kolyshkin commented on #2663
Although not as production tested as cgroup v1, I think v2 in its current form is ready for prime time.

[2020-11-04 04:15] kolyshkin commented on #2670
OK, looks like it's imminent anyway, as travis-ci.org is closing down in December 2020, see https://mailchi.mp/3d439eeb1098/travis-ciorg-is-moving-to-travis-cicom

[2020-11-04 16:48] kolyshkin commented on #2670
Going to proceed with the changes...

[2020-11-04 17:33] kolyshkin commented on #2670
I can't proceed -- I guess I need opencontainers org admin rights to add travis-ci from marketplace. @caniszczyk HALP

[2020-11-04 20:33] kolyshkin commented on #2670
Basically I need to add travis-ci to https://github.com/opencontainers/runc/settings/installations

[2020-11-04 21:23] kolyshkin commented on #2670
OK, I have migrated my fork of runc (i.e. github.com/kolyshkin/runc) to travis-ci.com last night and I already ran out of credits :confused:

So, I guess, it's not suitable unless @thelinuxfoundation pays for non-free tier.

(removing the rc93 milestone)

[2020-11-04 22:21] kolyshkin commented on #2670
OK, @caniszczyk suggested (https://twitter.com/cra/status/1324107650288832519) switching to github actions instead. Let's see if it is possible with all our Vagrant tricks etc.

[2020-11-05 00:04] kolyshkin commented on #2670
Alas, nested virtualization is not supported by GH actions (tried it as well as found found this: https://github.com/actions/virtual-environments/issues/183), and they only provide Ubuntu Images (we need Fedora 32 and CentOS 7).

Circle CI also only provides Ubuntu images, and apparently nested virtualization is not supported either (haven't tried it).

:thinking:

[2020-11-05 00:15] mrunalp commented on #2663
Sounds good to me :+1:

[2020-11-05 05:15] cyphar commented on #2670
In addition, my personal experience with GitHub Actions for CI is quite mixed. I was under the impression that travis-ci.com was free for FOSS projects forever? Or am I misunderstanding?

[2020-11-05 15:12] adrianreber commented on #2670
@kolyshkin Same happened to me yesterday. Trying to move CRIU to travis-ci.com and testing it on my account I ran out of Travis credits after half a day.

Using Cirrus CI I am able to boot a vagrant based Fedora 32 VM: https://cirrus-ci.com/task/5842008197562368

[2020-11-05 21:17] kloczek opened #2673 "Any plans to make new release?"
I think that after so long series of RCs it would be good to meke new release (last one was in 2016).

[2020-11-05 23:59] cyphar commented on #2673
We're working on it, current plan is 1.0.0 is right after rc93 which will be done this month. Note that each RC release has actually been production-ready, the only reason why we're calling them release candidates is because of SemVer and OCI specification requirements. You can track this in #2659.

[2020-11-05 23:59] #2673 closed

[2020-11-06 01:07] kolyshkin commented on #2670
Nice, thanks! Maybe it's time to switch to cirrus-ci (and still ask LF to pay for it)

[2020-11-06 01:14] kolyshkin commented on #2670
So, this is what they say ("it's free and will always be free"). They also say that [travis-ci.org will be officially closed down completely on December 31st, 2020](https://mailchi.mp/3d439eeb1098/travis-ciorg-is-moving-to-travis-cicom), and that there is a free tier available on travis-ci.com. Problem is, free tier has a limited amount of per-month credits, which, given the amount of testing we d

[2020-11-06 20:31] #2603 closed

[2020-11-07 09:07] cyphar commented on #2670
Oh, I assumed "it's free and will always be free" means that for FOSS projects we basically get unlimited credit (as most other such CI and developer tooling sites work). Yeah we'll need to switch then...

[2020-11-09 06:10] AkihiroSuda commented on #2663
PR https://github.com/opencontainers/runc/pull/2674

[2020-11-10 23:16] #2663 closed

[2020-11-11 07:32] chenliu1993 commented on #2662
Seems this maybe a bug of our own. Needs more debugging. closing this issue.

[2020-11-11 07:32] #2662 closed

[2020-11-12 19:19] b10s opened #2680 "Does getCgroupMountsHelper() returns subsystem for mounts which hasn't subsystem?"
Hello runc folks,

The question is more theoretical and have no practical implication so far for me.

The value returned from `getCgroupMountsHelper` function is an array of maps, e.g.:
[code]

Each map has a key `Subsystems` and it's value is an array of cgroups subsystems attached to the mountpoint.

However the [cgroups documentation](https://man7.org/linux/man-pages/man7/cgroups.7.html) says t

[2020-11-14 02:54] jbg commented on #1720
@oalexandru If you create the object manually, you need to encode the values. For example, if you write the .yml file yourself and then use `kubectl create -f mysecret.yml` etc, then you need to base64-encode the secret values in the .yml file.

[2020-11-16 16:09] fweimer commented on #2151
@cyphar For unrecognized flag arguments, most system calls use an `EINVAL` error. `EPERM` is not correct there, either. (I think `clone` is an outlier and used to ignore invalid flags in the kernel, but that's been fixed on the kernel side, unlike `open`, unless you count `openat2`.)

[2020-11-16 16:10] fweimer commented on #2151
Note that this issue is now somewhat urgent because Linux has added an `faccessat2` system call, and many applications already use that already, by calling glibc's `faccessat` function.

[2020-11-16 16:19] richfelker commented on #2151
@fweimer Thanks for adding that. I really don't want this to remain a game of whack-a-mole where exceptions get added for each syscall once breakage is found. Upstream should do the right thing and stop producing `EPERM` entirely so fallbacks can work as intended.

[2020-11-16 16:42] cyphar commented on #2151
I want to point out that if you want to change the seccomp filter in Docker, you'll need to make an issue in the Docker repo. We don't control the seccomp filter that Docker uses. Until recently the runtime-spec didn't support custom return values, but that has changed so Docker will need to update their default seccomp profile.

[2020-11-16 17:15] jethrogb commented on #2151
@cyphar First, runc needs to add the ability to specify two different "defaults": one for known but not specifically specified syscalls, and one for unknown syscalls.

[2020-11-16 17:23] richfelker commented on #2151
OK, can someone familiar with Docker and how that works open an issue on their side and link to this one?

[2020-11-16 17:26] thaJeztah commented on #2151
the default seccomp profile in docker is in https://github.com/moby/moby/blob/master/profiles/seccomp/default_linux.go
a similar profile is also in containerd; https://github.com/containerd/containerd/blob/master/contrib/seccomp/seccomp_default.go

[2020-11-16 18:08] cyphar commented on #2151
@jethrogb I don't think runc is in a position to do that -- what set of syscalls are "known" is a property of the profile being written, not the container runtime. If you write a profile today and 50 syscalls get added next week, runc will know about those syscalls but the old profile will not.

Since Docker is the thing generating these profiles (and accepting user-specified profiles too), you wo

[2020-11-16 18:12] jethrogb commented on #2151
Not today no, as you explain the profile description needs to be expanded to convey that information.

[2020-11-16 18:19] thaJeztah commented on #2151
Currently, runc also needs to know about the syscalls if they're included in the profile (https://github.com/opencontainers/runtime-spec/issues/1071), so if a profile specifies syscalls that runc doesn't know about, the container fails to start (see https://github.com/moby/moby/issues/41562).

[2020-11-17 08:27] zhangyoufu opened #2683 "tmpfs and symlink resolution"
[code]

`/conf` is a symlink pointing to `/quay-registry/conf`, which confuses `--tmpfs`.
Of course I can pass resolved path `/quay-registry/conf/stack` to `--tmpfs` as a workaround. However, this produces an unnamed volume for the original path `/conf/stack`, which is unwanted.

[2020-11-17 16:57] AkihiroSuda commented on #2659
Do we want to wait for https://github.com/opencontainers/runc/pull/2599 (reduces reading mountinfo), or shall we release rc93 from the current master?

[2020-11-17 19:37] thaJeztah commented on #2680
/cc @kolyshkin ptal

[2020-11-18 03:00] cyphar commented on #2659
I'll review #2599 now, we can merge it now (assuming it's all good) and then I'll send out the vote for the release.

[2020-11-18 21:43] struanb commented on #1647
Hello. This issue seems potentially related to [Permissions on tmpfs mounts reset after container restart](https://github.com/docker/for-linux/issues/138) and [--tmpfs with --user works for the first time. Fails in subsequent container starts](https://github.com/moby/moby/issues/20437).

Right now, I'm not sure there is a way to use `--mount=tmpfs` to mount a tmpfs that is writeable by a non-root

[2020-11-20 19:01] kolyshkin commented on #2589
Did some measurements too, with `make BUILDTAGS=seccomp` and same golang 1.14.10 (except for the last line where i used go 1.15.4):

[code]

So, for one thing, using go 1.15 helps (and I heard that go 1.16 will be even better).

I guess I'll compile each commit to find out which ones to blame.

[2020-11-20 19:45] kolyshkin commented on #2589
Found two steps between rc90 and rc92:
[code]

[2020-11-20 19:57] kolyshkin commented on #2589
[code]

This one is #2268 (update vendor)

[code]

This one is #2531 (update go.mod)

So, it is third-party packages that we use. I guess a smarter linker would help fight this.

It was the same before, e.g. for rc8:
[code]

This is #2029 ("Update dependencies")

And the only non-deps one which resulted is a slight but visible increase is:
[code]
which is #2145 ("cgroup2: port over eBPF device con

[2020-11-20 20:01] kolyshkin commented on #2589
Since rc92 up to current HEAD, this was the peak:
[code]

#2675 ("update vendor")

[2020-11-20 20:03] kolyshkin commented on #2589
What I did was run something like this:
[code]

and then something like this
[code]

and just looked at the numbers in the first and second columns (`text` and `data`).

[2020-11-20 20:08] kolyshkin commented on #2589
Just got an idea -- we can have a job to compare before/after binary sizes for each PR.

[2020-11-20 21:27] thaJeztah commented on #2589
@kolyshkin this article might be interesting for you https://medium.com/@jondot/a-story-of-a-fat-go-binary-20edc6549b97

[2020-11-24 12:52] cyphar commented on #2151
As a first-pass solution we can implement this in Docker et al by just assuming the largest syscall number specified in the profile at all is the last syscall before we give `ENOSYS`. This should work for most cases and we could extend the seccomp format in a separate PR.

@thaJeztah That is an issue but not really one that is super relevant here IMHO -- we just use libseccomp's syscall lookup fea

[2020-11-25 02:06] cyphar commented on #2151
Ah, I was wrong above -- I forgot that `runtime-spec` is entirely based around the syscall names so we'll need to modify the spec to work around this... Dammit.

[2020-11-25 11:51] cyphar commented on #2151
Ah, I was wrong above -- I forgot that `runtime-spec` is entirely based around the syscall names so if we want to do this nicely (with a rule which just does a `SCMP_CMP_GT` on the syscall number) we can't do it without changing the spec. That kinda sucks.

Docker could still work around it (by making the default `ENOSYS` and then having an explicit rule for all syscalls not accepted by other filt

[2020-11-25 12:23] thaJeztah commented on #2151
Yes. That's what I tried to refer to in https://github.com/opencontainers/runc/issues/2151#issuecomment-728238461, but later saw my complete brain-fart that the issue I linked to was about capabilities, not syscalls 😂

[2020-11-25 15:22] justincormack commented on #2151
I talked about some of these issues in my Kubecon talk last week. In particular just listing calls to block, not an allowlist makes more sense, even if it results on failing open for new syscalls. Could tweak the error codes more easily in this case.

[2020-11-25 15:32] thaJeztah commented on #2151
Would there be a risk if new syscalls are added that were not known at the time that the seccomp profile was generated? I think this thread (or the one on the mailing list) mentions the option to have the profile include information about the highest syscall number that was known at the time the profile was generated (potentially allowing new syscalls to be treated with some default (`ENOSYS` ?));

[2020-11-25 16:13] richfelker commented on #2151
@justincormack I think failing-closed is very reasonable here; it's just that the error code is wrong. There's nothing wrong with a fail-closed mechanism that effectively just emulates an old kernel, which is what you get if you fail with `ENOSYS`.

[2020-11-26 03:27] AkihiroSuda commented on #2659
This is likely to be early next month, probably.

[2020-11-26 06:23] cyphar commented on #2151
It should remain an allow-list (fail-closed), the issue is that there are two kinds of failures that the current allow-list is handling with the same error code:

 1. Syscalls which we do not permit the container to run on purpose (such as `open_by_handle_at`). These must return `-EPERM` because `-ENOSYS` is simply the wrong error in that case. We explicitly are blocking these syscalls.
 2. Syscal

[2020-11-26 06:33] richfelker commented on #2151
I wouldn't characterize it as "just as incorrect". Semantically `ENOSYS` makes no sense for a syscall you're blocking for access control reasons, but at worst the cause gets misreported and the application possibly tries klunky fallbacks that will also fail due to being blocked. It's far less incorrect than the current situation.

Of course I'd like to see this solved in a way that distinguishes t

[2020-11-26 09:29] cyphar commented on #2151
I guess that's a fair point. We could switch Docker to use `ENOSYS` as the default return value (to stop the bleeding) while we work on being able to nicely differentiate the two?

[2020-11-26 10:26] fweimer commented on #2151
@cyphar This rule worries me because it could mean that as soon as the profile is re-created with knowledge of the `faccessat2` system call (for example), the error code would turn from `ENOSYS` to `EPERM` because the system call transitions from unknown to implicitly filtered. I think we need a mechanism where simple rebuilds result in reproducible filters.

[2020-11-26 10:34] jethrogb commented on #2151
I'm not entirely sure, but I don't believe the seccomp profile is included in the Docker container image? This is just a runtime thing?

[2020-11-26 10:59] fweimer commented on #2151
I actually meant rebuilding the runtime against newer kernel headers/libseccomp. It should not have this effect, either.

[2020-11-26 11:08] cyphar commented on #2151
The default seccomp profile is not auto-generated -- it's [a hardcoded profile](https://github.com/moby/moby/blob/master/profiles/seccomp/default_linux.go). Updating libseccomp doesn't have any effect on it. The only way what you describe could happen is if the built-in Docker profile was updated to include newer syscalls but one syscall was missed -- that would be a Docker bug and would be treate

[2020-11-27 04:26] cyphar commented on #2151
A few hitches in the above plan which I discovered while trying to implement this:

* There is no top-level `errnoRet` for the `defaultAction`. :facepalm: This does arguably suggest that technically the default errno is actually not defined by the specification.
* `libseccomp` doesn't support creating filters that discriminate by syscall number. :facepalm::facepalm: Seccomp itself definitely suppo

[2020-11-27 08:20] cyphar commented on #2659
We probably want to hotfix #2151 in this release so Docker can at least check that our hotfix won't break them.

[2020-11-27 08:42] giuseppe commented on #2151
Do you think it would be easier to enumerate all the syscalls not specified in the profile and let them fail with `-ENOSYS` so that the default is left unchanged (maybe adding a `errnoUnknownSyscall` knob in the spec)?  I think it simplifies handling the `-EPERM` case for the syscalls listed in the profile.  As long term fix, we can also try to fix it in libseccomp.  I don't see though, a way to r

[2020-11-27 08:58] cyphar commented on #2151
Did you mean `-EPERM`? Yes, we can do that but it'll increase the profile size and it's not as simple as that -- you'd need to generate inverse rules for `SCMP_CMP_*` comparison actions. Not impossible, just not ideal.

We wouldn't want to retrieve `NR_syscalls`, you'd just use the largest-numbered syscall in the profile. It's not ideal but there isn't a better solution without adding more informa

[2020-11-27 09:09] giuseppe commented on #2151
no I meant `-ENOSYS`  :-)

After we generate all the rules as we do now, we can internally add the equivalent of (with the syscalls numerical values):
[code]
IMO, the advantage is that the default action (fail with `-EPERM`) will cover all the inverse rules so we don't have to worry about generating them.

[2020-11-27 10:37] cyphar commented on #2151
Not sure that's an improvement tbh. Also I just got linked to [a libseccomp thread](https://github.com/seccomp/libseccomp/issues/286) which covers what features we'd need from libseccomp.

[2020-11-27 16:27] richfelker commented on #2151
**NO!** The set you want to enumerate is unbounded/unknown. The whole problem we're trying to fix is that syscalls that aren't yet known are wrongly failing with `EPERM` when they should fail with `ENOSYS`. Just returning `ENOSYS` for syscall numbers that the *container runtime* knew about but that the profile author didn't know about doesn't help anything, because the apps run in the container co

[2020-11-27 17:15] giuseppe commented on #2151
I am aware of that issue.  That is why I was wondering if there is a way to retrieve `NR_syscalls` from user space at runtime (so that would be similar to what we do with capabilities), not when the container runtime is built and use numerical values for syscalls instead of names.  This would be a temporary solution until there is a proper fix in libseccomp.

My concern is that calculating the inv

[2020-11-27 18:10] fweimer commented on #2151
@giuseppe  This would still automatically switch from `ENOSYS` to `EPERM` once the host kernel supports the new system call, right? I don't think that's what we want.

[2020-11-27 18:15] richfelker commented on #2151
I'm not aware of any reliable way to do that at runtime, especially when the container runtime might already be running in a containerized environment where it can't access whatever `/proc` or `/sys` mechanism might let you discover the value or `NR_syscalls`, if one even exists.

I also don't see why you need to calculate any inverse rules. It seems you can just, for any syscall that appears in t

[2020-11-27 19:03] giuseppe commented on #2151
what I am proposing is that the maximum syscall to consider is the one specified in the static seccomp profile, so that won't be affected by a newer runtime, libseccomp or kernel.  Anything that is below this maximum syscall will keep the existing semantic (by default fail with `EPERM`).  Anything that is above the maximum syscall in the profile, thus there are no rules specified (either pure or c

[2020-11-27 20:43] richfelker commented on #2151
Can this just be fixed by fixing libseccomp to offer an API to do the right thing - add a fallback rule that doesn't override more specific existing rules? It seems like the source of the whole problem is libseccomp's awfulness and having the spec/runtime designed around its misdesign rather than doing something reasonable. But it should be possible to patch it up so that it's non-world-breaking i

[2020-11-28 08:50] devincd opened #2693 "Use the --network=host option using net.* sysctls are allowed when docker run"
This is described in the official Docker documentation：
If you use the --network=host option using these sysctls that beginning with net.* are not allowed.

But I succeeded when I ran the following command
[code]

My Docker verison
[code]
I found that the code(libcontainer/configs/validate/validator.go) for runc does have a corresponding validation.
[code]
When I found that call checkHostNs (s, pa

[2020-11-30 07:52] cyphar commented on #2151
This wouldn't work because a program may try to use a syscall which doesn't exist on the host kernel either (think modern glibc on a 3.12 kernel trying to use `faccessat2`). Your approach of doing explicit `ENOSYS`es will require you to do it for all possible future syscalls and personally I think that's more painful (and less efficient IMHO) than the alternative. Though you could argue that techn

[2020-11-30 07:57] cyphar commented on #2151
@richfelker After thinking about this comment a bit more, I wanted to bring something up.

`EPERM` (and `EACCES`) is used for fallback behaviour as well (in fact runc uses it in quite a few places during rootless execution as well as a couple of my other projects). If you did a GitHub code search for `os.IsPermission` checks I'd expect you'd find a fair amount of fallback behaviour. I'm pretty sur

[2020-11-30 08:12] jethrogb commented on #2151
As discussed on the seccomp GH issue, this won't work. You need to specify the maximum known syscall number instead.

[2020-11-30 08:50] giuseppe commented on #2151
From my experience getting stuff in a libseccomp release takes quite some time.  We'd probably need a temporary solution (so `NR_syscalls` could probably just be hardcoded with some margin for the future) until it can be done in a better way.

From what I could see, that is not the case :-(  If you have a generic rule for a syscall, then adding a more specific one fails with `EPERM`

[2020-11-30 10:46] cyphar commented on #2151
When you say `NR_syscalls` do you mean the number of syscalls in the latest kernel release or the number of syscalls in the latest kernel release? I thought you meant the number of syscalls on the currently running kernel (which my comment was in response to).

Btw, libseccomp updates aren't an issue for the maximum kernel version idea. libseccomp would generate `SCMP_CMP_GE` checks so you don't n

[2020-11-30 10:52] cyphar commented on #2151
@jethrogb

Are you referring to your recent comment in seccomp/libseccomp#11? I didn't see it mentioned anywhere else. I don't think RHEL backporting policy means that the idea isn't workable -- Red Hat can also patch their libseccomp, and quite a few projects (incorrectly) check kernel versions for feature detection rather than the try-and-fail approach that is the "correct style". Even in the wo

[2020-11-30 11:14] cyphar commented on #2151
@jethrogb

(I think you're referring to your recent comment in seccomp/libseccomp#11? I couldn't find another reference to this discussion.)

I disagree. Red Hat can also patch their version of libseccomp, and even in the worst case a syscall (which was going to be denied anyway) gets `ENOSYS` instead of `EPERM`. I don't think that's really that bad.

This has its own issues because syscalls aren'

[2020-11-30 11:47] giuseppe commented on #2151
I agree with you, the longer term solution should be something like `SCMP_CMP_GE` comparing the syscall number and the maximum syscall defined in the profile, and it must be addressed in libseccomp.

Sorry for the confusion about `NR_syscalls` wrt the temporary fix.  I always referred to `NR_syscalls` as the " the number of syscalls on the running kernel".  You raised a valid point that even if we

[2020-11-30 15:15] richfelker commented on #2151
The idea of hacks with a "+ N" threshold is preposterous. There is no guarantee there won't be arch-specific new syscalls outside of such a range, and you'll hit all sorts of issues with old runtimes that haven't been upgraded in a long time running newer binaries. This whole problem has a dead simple fix. Just do it.

[2020-11-30 15:24] richfelker commented on #2151
To clarify, the value of `NR_syscalls` on the running kernel is **completely a red herring**. It has nothing to do with the problem whatsoever, which involves only the API level the profile author was aware of and the API level the guest application is using. Neither of these have anything whatsoever to do with the host kernel.

While the most dead simple variant of the "dead simple fix" is just c

[2020-11-30 15:57] thaJeztah commented on #2151
(Mostly) peanut-gallery comment: so I'm not _exactly_ sure why `EPERM` was picked as a default at the time; I could try searching history if there has been some discussion about selecting `EPERM` instead of `ENOSYS`, but it could've just been that it felt the most logical to indicate "this was blocked". If that was the _right_ choice in hindsight; perhaps yes, perhaps not (I guess that's what this

[2020-11-30 16:05] richfelker commented on #2151
@thaJeztah I agree it's not runc-specific and the problem should be fixed in the spec, but I'm not sure what technical fallout of migrating the issue would be. (Will existing links from off-site be lost? etc.) So I'll leave that to folks more familiar with GH.

[2020-11-30 17:15] cyphar commented on #2151
@thaJeztah

Programs in containers have fallback code that depends on `EPERM` (just as we do have code which depends on `ENOSYS`). I don't agree that `ENOSYS` feels more natural given that the explicit goal is to enact a security policy rather than hiding the existence of syscalls, but I don't think it's super important which feels better. `EPERM` is causing issues, and switching to `ENOSYS` *will

[2020-11-30 18:29] richfelker commented on #2151
@cyphar: Is there anything wrong with switching default to `ENOSYS` but adding explicit `EPERM` for syscalls the profile doesn't allow, but that already existed in some chosen (I suggested Linux 3.0 as a random choice but it really doesn't matter) baseline syscall API level? If this is hard to represent in the profile DSL, just have libseccomp replace the fallback rule with this logic, which shoul

[2020-11-30 19:20] kolyshkin commented on #2512
FYI, I spent some time adding a few checks to GH actions (https://github.com/opencontainers/runc/pull/2687 and https://github.com/opencontainers/runc/pull/2690), and they seem OK. I wholeheartedly agree about the lack of docs, and as a whole the feature seems immature, but it looks like it's getting better.

Given the fact that travis-ci.org situation is not too clear, I guess it makes sense to di

[2020-12-03 04:20] kolyshkin opened #2699 "cgroups/ebpf: switch to new cilium/ebpf API"
`cilium/ebpf`'s `prog.{Attach,Detach}` API is now deprecated in favor of new link package (see  https://github.com/cilium/ebpf/pull/108/commits/5727d650c09d79ac987b3c2d4e5420e6393cd5c7 and https://github.com/cilium/ebpf/pull/110).

runc need to adopt.

[code]

I don't know much about these matters; @cyphar mind to take a look?

[2020-12-03 16:33] kolyshkin commented on #2627
Addressed by #2694, #2695, #2696.

What's left is https://github.com/opencontainers/runc/issues/2699, google protobuf issue, and a bunch of errcheck warnings.

[2020-12-04 01:24] kolyshkin commented on #2425
Another occurrence: https://github.com/opencontainers/runc/pull/2682#issuecomment-738490882

[2020-12-04 01:26] kolyshkin commented on #2425
Seems that github actions is faster so we'll see this one more and more now since #2690 is in

[2020-12-04 16:23] Andreyooo opened #2702 "Is runC alone suitable for a production environment?"
I'm a beginner in the container world and was wondering if runC alone is suitable for a production environment.

We need a lightweight implementation for containers and dockers daemon interface has to much overhead, so the idea was to export the docker image and run it with runC.

Is there something to watch out for? We intend to only run one container, so container management features are negligi

[2020-12-07 09:26] pts opened #2703 "Running systemd with runc"
I'm trying to run an Ubuntu 18.04 container with systemd on an Ubuntu 18.04 host system with runc version 1.0.0-rc92. I'm getting errors, and systemd doesn't start up properly. I tried googling for the errors, but nothing useful came up. See also the attached config.json file ([config.json.zip](https://github.com/opencontainers/runc/files/5651708/config.json.zip)). The entire bundle can be downloa

[2020-12-08 02:40] ThinkMo commented on #2039
Update kernel to 3.10.0-1062.el7.x86_64, and disable kmem account, add cgroup.memory=nokmem to boot cmdline
also see https://access.redhat.com/solutions/532663

[2020-12-08 10:09] AkihiroSuda opened #2704 "Proposal: remove "apparmor" build tag"
The `apparmor` tag was introduced in a01ed80babebf1db6f303a64c871c04914456b18  (2014)  to make cgo dependency on libapparmor optional.

However, the cgo dependency was removed in db093f621f4e6d40feafbe6d7b89a9bee6f6ff85 (2017), so it doesn't seem meaningful to keep `apparmor` build tag. I suggest removing the build tag.

[2020-12-08 17:25] pts commented on #2703
FYI I was getting similar errors from *systemd-nspawn*. The solution was: *export SYSTEMD_NSPAWN_USE_CGNS=0* and *--bind=/sys/fs/cgroup*.

[2020-12-09 04:06] cyphar commented on #2704
Yeah I agree it's not needed anymore.

[2020-12-09 04:10] kolyshkin commented on #2704
:+1: makes total sense

[2020-12-10 00:28] kolyshkin commented on #2693
Thanks for reporting and your analysis @devincd. Can you check if the proposed fix (https://github.com/opencontainers/runc/pull/2706) fixes the issue for you?

[2020-12-10 02:19] devincd commented on #2693
Hi, @kolyshkin . Thanks for your fix and I will check later.

[2020-12-10 03:02] kolyshkin commented on #2683
Reproduced with bare runc.

1. Add the following into `config.json` (same as what `docker run --tmpfs /conf/stack` adds):

[code]

2.
[code]

This is caused by the fact that the symlink is broken in the host context, so MkdirAll is called:
https://github.com/opencontainers/runc/blob/544048b865d05bb292ae84d0a530c0ecead026d7/libcontainer/rootfs_linux.go#L305..L313
[code]
...
https://github.com/openc

[2020-12-10 16:14] AkihiroSuda commented on #2659
@cyphar What do we need for #2151? How long will it take?

[2020-12-10 17:19] jiangxuelei opened #2707 "/proc/0/fd/0?"
Got an error while i exec "runc create test":

WARN[0000] exit status 1
ERRO[0000] container_linux.go:370: starting container process caused: process_linux.go:346: getting pipe fds for pid 0 caused: readlink /proc/0/fd/0: no such file or directory

what's the problem?   why pid is 0?

[2020-12-10 18:18] AkihiroSuda commented on #2704
I'll open a PR after https://github.com/opencontainers/selinux/pull/132 gets merged, so that we can remove apparmor and selinux together at once.

[2020-12-10 23:53] pts commented on #2703
Is there any other information I should provide?

[2020-12-12 21:02] danger89 commented on #2670
Go to GitHub Actions.. or use GitLab.

[2020-12-15 10:48] AkihiroSuda commented on #2704
PR: https://github.com/opencontainers/runc/pull/2709

[2020-12-16 09:55] devincd commented on #2693
Hi, @kolyshkin  I checked it and it is no problem. Thank you!

[2020-12-17 00:24] kolyshkin commented on #2693
Let's keep this open until #2706 is merged

[2020-12-18 01:30] #2704 closed

[2020-12-18 16:48] kolyshkin commented on #2670
We are already using github actions for a few things, alas it is not yet suitable for everything we test (for one thing, we run CentOS 7 and Fedora 33 VMs to test old kernel and cgroupv2, respectively).

We won't be moving to travis-ci.com given the current situation of very limited credits given to opensource projects, so closing this.

[2020-12-18 16:48] #2670 closed

[2020-12-18 18:36] danger89 commented on #2670
FYI: You do know you are forced to move to Travis-ci.com if you don't taken any action this year?

[2020-12-18 21:53] kolyshkin commented on #2707
It looks like some code in libcontainer/process_linux.go failed to properly receive child pid (or error), thus we have this.

@jiangxuelei alas, it is impossible to investigate unless you provide us with some more info (like, which runc version) and a complete reproducer -- what to run to get the same result as you did. Please consider providing this.

[2020-12-18 22:05] kolyshkin commented on #2680
@b10s as you can see from `TestGetCgroupMounts` (libcontainer/cgroups/utils_test.go), it works for systemd cgroup mountpoint as well, if this was your question. It works in pair with `ParseCgroupFile` which creates a map consumed by it.

As for your commit (https://github.com/b10s/kubernetes/commit/2f35ad5de9d97d189422dda93f3431ff46cc6358), it does not seem right since in some setups there are mul

[2020-12-19 09:57] ashwani29 commented on #2601
I got the answer, we can look at `cpuacct.usage` file present under  `/sys/fs/cgroup/cpu,cpuacct/user.slice/<container_name>/cpuacct.usage` path. It will gives cpu usage cycles of the container `<container_name>` , It will always be in increasing order, so to get the correct usage, take the difference between successive intervals.

[2020-12-19 10:52] gitsvm opened #2713 "unable to run mysql and redis in a runc container"
I have to evaluate the mysql and redis server application in a runc container.
To set up mysql in a runc container i followed below steps:

- mkdir -p mysql_container/rootfs
- cd mysql_container
- docker export $(docker run -d mysql:latest) |tar -C rootfs -xvf -
- runc spec
- sudo runc run mysql_container

This throws the error: `sh: error while loading shared libraries: libtinfo.so.5: cannot open

[2020-12-19 13:42] gitsvm commented on #2601
Thanks.

[2020-12-19 13:42] #2601 closed

[2020-12-29 01:06] andrewmunoz6 commented on #1720
@oalexandru I was wondering the same thing. I found this in docs: "Note: If you do not want to perform the base64 encoding, you can choose to use the stringData field instead."

In other words, you can create the secret using stringData and not encode the string yourself.  When you save your secret, the string will be automatically encoded.  Now if you edit the secret, you'll see "data:" with the

[2020-12-29 08:35] CrunchylnMilk commented on #2702
Short Answer: Not alone - try Podman.

Long Answer:
In the strictest sense yes; as the de facto implementation of the OCI spec, runc is the final software (other than linux primitives) invoked by many container software chains (including docker).

That said, though it can be, runc is not really meant to be invoked directly by the user - it's meant to be part of a containerization toolchain. An awf

[2020-12-29 09:31] cyphar commented on #2702
Yeah, if you're familiar with how containers operate you can use runc directly as part of a larger custom container management system (and runc itself is production-ready -- it's used by effectively every deployment of Docker, Kubernetes, et al). But I wouldn't recommend using it directly unless you have very specific requirements that preclude the use of easier-to-use tools like podman/docker/lxd

[2021-01-04 17:57] #2693 closed

[2021-01-04 18:53] kolyshkin commented on #2713
Works for me. Maybe you need to forcefully `docker pull` the latest image.

In any case, this seems like a problem with the image, not runc, and this place is for runc issues.

[2021-01-04 18:53] #2713 closed

[2021-01-04 18:54] kolyshkin commented on #2707
Not much info to investigate further, closing for now unless @jiangxuelei will give more details.

[2021-01-04 18:54] #2707 closed

[2021-01-04 19:21] gitsvm commented on #2713
If it works for you then it's definitely not the problem with image.  What is the proper way to run any service (which can be run with docker) with `runc` too?
Which can automatically generate config.json file, many times I doubt whether config.json I've written is correct or not.

How do you generate this file and please tell the steps you follow to run most of the applications with runc?

[2021-01-04 20:30] kolyshkin commented on #2702
I guess this is now answered, so it can be closed.

I have added a note to README about using runc directly, based on the comments above (https://github.com/opencontainers/runc/pull/2714).

[2021-01-04 20:30] #2702 closed

[2021-01-05 02:50] kolyshkin commented on #2683
Now, this can be fixed, but I am not sure if it is possible to do so without introducing any new and interesting attack vectors similar to say https://github.com/opencontainers/runc/issues/2197.

Looking.

[2021-01-05 04:45] AkihiroSuda opened #2718 "CI: avoid hitting Docker Hub limit"
[code]

saw in https://github.com/opencontainers/runc/pull/2715#issuecomment-754391045

Maybe we can use mirror.gcr.io or something else similar.

[2021-01-05 18:47] stokito commented on #2659
It would be nice to perform at least intermediate release because it's so many changes that github even can't show diff between master and last release tag.

[2021-01-05 21:07] kolyshkin opened #2720 "Move CI away from travis-ci.org soon"
Related: #2670

We are currently using travis-ci.org for CI, in particular to test runc on older (CentOS 7) and newer (Fedora 33, cgroup v2) setups.

Now, travis-ci.org "will be shutting down in several weeks, with all accounts migrating to travis-ci.com", and travis-ci.com gives very few credits to "free open source" tier (enough for couple of CI runs a month or so).

We need to move away from tr

[2021-01-05 21:54] kolyshkin commented on #2720
I was looking for CI providers that lets you have a Fedora 33 (or CentOS 7) VM but I could not find any. Some allow it if you use "external runners", i.e. your own GCP/AWS/Azure account (but afaik we don't have anything like that).

There's a way though: https://github.com/containerd/containerd/pull/4279

Going to try it

[2021-01-06 02:02] kolyshkin commented on #2718
So, most CI providers (including GH actions) have implemented proxies and other measures to fix this, so their users are saved from hitting rate limiter. Travis CI did not do this for some reason.

There are workarounds, like logging in to docker hub, but given the fact that travis-ci.org will be retired in a few weeks, and travis-ci.com is not suitable (not in it's "free for open source projects"

[2021-01-06 22:47] kolyshkin commented on #2720
Fixed by #2721

[2021-01-06 22:47] #2720 closed

[2021-01-06 22:48] kolyshkin commented on #2718
Fixed by #2721 (github actions infra is supposed to use proxy to avoid hitting docker hub too much, so it should not happen)

[2021-01-06 22:48] #2718 closed

[2021-01-06 22:52] kolyshkin commented on #2703
The reason is systemd inside a container also wants to manage cgroups. I would love to take a look at what it takes to run systemd successfully but currently don't have time.

[2021-01-06 23:46] kolyshkin commented on #2425
OK, finally got the output (from https://github.com/opencontainers/runc/runs/1659399228?check_suite_focus=true):

[code]

Note the first line ends with `\r\n`, while the subsequent ones only have `\n`. This looks like a race between running `ps` and setting terminal.

[2021-01-07 04:05] kolyshkin commented on #2425
Easy to repro locally:

[code]

[2021-01-07 04:40] kolyshkin commented on #2425
Definitely a race:

[code]

[2021-01-07 23:31] danopia opened #2724 "[Rootful in UserNS] Regression: systemd rootless attempted when cgroup v1 in use"
Hello, I've noticed a runc regression by using Podman on a Chromebook's 'Linux beta' environment, which is furnished via LXC. This is the array of conditions at play:

* Running podman/runc as root
* Apparently within a userns (presumably because of LXC)
* Systemd is running
* cgroup v1 *is* mounted, cgroup v2 *not* mounted

Given all this, latest runc fails:

[code]

Debian ships with this ancien

[2021-01-08 00:31] kolyshkin commented on #2724
AFAIK systemd cgroups driver is off by default (unless explicitly enabled via `--systemd-cgroup`).

[2021-01-08 00:33] kolyshkin commented on #2724
And what the error message is trying to say is "you can't use rootless + systemd cgroup driver with cgroup v1".

[2021-01-08 00:37] kolyshkin commented on #2724
@AkihiroSuda PTAL

[2021-01-08 00:41] danopia commented on #2724
podman only seems to reference that flag the `build` codepath while I'm running `run`:

[code]

I suppose it's possible it's coming from somewhere else? If it is then presumably the old runcs only work because they're just ignoring that flag?

[2021-01-08 05:28] AkihiroSuda commented on #2724
Fix: https://github.com/opencontainers/runc/pull/2725

[2021-01-08 10:35] Andreyooo commented on #2702
I see, that helps a lot. Thank you for your clarification @CrunchylnMilk & @cyphar .

[2021-01-08 15:48] danopia commented on #2724
I've confirmed that the fix in #2725 resolves my issue. Thanks!

[2021-01-08 21:30] kolyshkin opened #2728 "ci/gha: make the artefacts from make release available"
We currently have a ci job that builds a static binary. It would be beneficial to have the binary (tarball) published somewhere so that whoever looks at PR can quickly test the result.

[2021-01-08 21:34] tianon commented on #2728
I've played with https://github.com/actions/upload-artifact and it's not awful, but IMO the Artifacts support in Actions leaves a lot to be desired; for example, downloading the artifacts requires you to be authenticated, which is fine when you click download from a browser, but makes it kind of annoying to try to download from GitHub Actions in a separate repo to do cross-repo testing (for which

[2021-01-11 11:53] thaJeztah commented on #2718
It may still happen on the macOS workers (IIRC), but authenticating to docker hub (can be using a "personal access token" with a dummy account; doesn't require privileges) can help to prevent being limited by IP-address. Let's keep an eye if it's still a problem; happy to help otherwise 👍

[2021-01-11 12:31] dims commented on #2718
we can request CNCF for the GCP account and store things we need there? (GCR)

[2021-01-11 12:35] thaJeztah commented on #2718
I think CI is only using the official images; if they would be images for the project itself, rate-limits for project-specific images can be removed (when applying for an open source account)

[2021-01-11 17:12] ehashman commented on #2659
Hi folks,

Any updates on this? It looks like some of the fixes since the previous release will be needed to address https://github.com/kubernetes/kubernetes/issues/97497

cc @AkihiroSuda @cyphar

[2021-01-12 03:21] AkihiroSuda commented on #2151
@cyphar Is there any action on plan? If not, can we remove this from rc93 milestone?

[2021-01-12 03:25] AkihiroSuda commented on #2659
@ehashman I think the current blocker is whether to include this to rc93 or not: https://github.com/opencontainers/runc/issues/2151

[2021-01-12 03:49] richfelker commented on #2151
Please don't let this get relegated to some indeterminate future. It's impacting users and pressuring glibc to make bad decisions about use of new syscalls, and should be very high priority for a fix.

[2021-01-12 03:55] AkihiroSuda commented on #2151
@richfelker Would you want to open a PR?

[2021-01-12 03:58] richfelker commented on #2151
Possibly, but I'm not the most qualified for working with the codebase and there should first be agreement on what policy is acceptable since it's pointless to implement a policy that won't be adopted. My previous comment https://github.com/opencontainers/runc/issues/2151#issuecomment-735962372 suggests what might be a low-impact albeit somewhat ugly fix.

[2021-01-12 09:40] cyphar commented on #2151
I will work in on this this week, and I agree this should be done ASAP to avoid making glibc work around us in an even less optimal way.

[2021-01-12 16:03] evox95 opened #2732 "Docker fails to start containers with cgroup devices.list unknown format error"
I already opened issue in Docker repository (https://github.com/docker/for-linux/issues/1183), but this looks as problem with runc.

CloudLinux adds cgroup rule for devices: "a \*:* rwmM" in file `/sys/fs/cgroup/devices/devices.list` - which causes problems to run containers.

When I run `docker run hello-world` I get error:

Output of `docker version`:
[code]

Output of `docker info`:
[code]

[2021-01-12 18:11] evox95 commented on #2732
The problem lies with the CloudLinux kernel. Changing to a hybrid kernel allows you to use Docker containers. https://docs.cloudlinux.com/cloudlinux_os_kernel/#hybrid-kernels

[2021-01-12 18:11] #2732 closed

[2021-01-13 00:19] ehashman opened #2733 "cadvisor depends on public IntelRDTManager"
In https://github.com/opencontainers/runc/commit/933c4d31a77ac8b85982f960a09b7257fff51044 IntelRDTManager was made private.

However, cadvisor has a dependency on this interface: https://github.com/google/cadvisor/blob/c09d1abe244f5de5d0d547b366f434d8c0d87b1c/resctrl/collector.go#L25-L31

This means cadvisor cannot be bumped to the latest version of runc.

It's unclear to me if the fix is better s

[2021-01-13 00:25] tianon commented on #2733
Looks like @kolyshkin, @xiaochenshen, and @Creatone discussed this a bit in https://github.com/opencontainers/runc/pull/2653#issuecomment-723311584 :sweat_smile:

[2021-01-13 00:33] ehashman commented on #2733
Aha, I missed that in my quick scroll!

[2021-01-13 00:36] ehashman commented on #2733
I will close this -- if we want to bump to the latest runc in k8s, we should probably do it transitively via a cadvisor update first. For now, I'll try to just pick the most minimal runc diff that addresses the issue.

[2021-01-13 00:36] #2733 closed

[2021-01-13 15:05] ramonssarmento opened #2734 "Log a process when its launched"
Is there a way to record the process PID when a command is executed inside the container?
I saw that process are constantly updated on cgroup.procs, then i tried to modify WriteCgroupProc on libcontainer/cgroups/utils.go to place this trigger, but it seems to be accountable to write on container initiation.

Any help is appreciated.
Best regards.

[2021-01-14 08:26] cyphar opened #2735 "seccomp specification has non-obvious semantics"
Right now, our seccomp rule specifications have this strange behaviour where if two arguments touch the same argument index, the argument list is treated as a series of OR conditions rather than AND conditions. This was added by e9193ba6e612c13c064449ee4189b268d1a9c94c to fix a breaking change, but the net result is that our seccomp rule generation feels at least slightly unpredictable as a result

[2021-01-14 08:27] wzshiming opened #2736 "Creating a pod has a probability of failure"
[code]

![image](https://user-images.githubusercontent.com/6565744/104562853-d89ffc00-5683-11eb-98c5-1e2911e6162b.png)
![image](https://user-images.githubusercontent.com/6565744/104562910-ee152600-5683-11eb-9d59-eaafe7a7d834.png)

![image](https://user-images.githubusercontent.com/6565744/104563472-a511a180-5684-11eb-8f3a-ab5aefb5f2e8.png)

This will not happen if remove the memory limit or change

[2021-01-14 09:33] cyphar commented on #2735
This also means that you cannot create a seccomp rule which only permits a syscall if more than one conditional is met (such as `value > X && value < Y` or something similar. This appears to have been an oversight in the original implementation but I'm not clear how exactly we could change this now, several years later.

[2021-01-14 11:59] cyphar commented on #2736
It might be the kernel could give spurious `EBUSY`s when setting container limits? The problem is that it's not always correct to ignore `EBUSY` and loop endlessly -- you can get `EBUSY` in certain contexts where you're trying to modify limits in a cgroup which already has processes inside it.

[2021-01-15 07:22] j4ckstraw commented on #2201
I ran into the same problem.

[code]

[2021-01-15 09:40] AkihiroSuda opened #2742 "runc@master doesn't pass TestDockerSwarmSuite/TestServiceLogsTTY"
[`TestDockerSwarmSuite/TestServiceLogsTTY` of Moby v20.10.2](https://github.com/moby/moby/blob/v20.10.2/integration-cli/docker_cli_service_logs_test.go#L260-L296)  was passing with runc v1.0.0-rc92:
[code]

The test is failing with the current master dbbe7e60c7b8c18cdf8a6e87d2dddcbfb24d7c90 (Jan 14)
[code]

[2021-01-15 09:51] AkihiroSuda commented on #2742
Seems related to https://github.com/opencontainers/runc/pull/2723

Do we need to rollback to the rc92 behavior? Or can we just update Moby test to match the behavior of the current master?

[2021-01-15 21:50] kolyshkin commented on #2736
Some kernels return EBUSY on memory limit being set too low (== lower than the current usage). My guess is with the increased footprint on memory, `runc init` no longer fits in 10M.

What we could do is check the current usage on `EBUSY` and report a less crypric error in such a case. @wzshiming do you want to test this?

[2021-01-15 21:53] kolyshkin commented on #2736
@wzshiming what kernel are you using?

Can you reproduce this issue with bare runc (i.e. no containerd/kubernetes etc)? Please provide the detailed steps needed to reproduce this.

[2021-01-15 21:58] kolyshkin commented on #2742
I think the new behavior is (more) correct, and the test need to be updated.

Even the test author was confused with `\r`, which, I _guess_, is another manifestation of the
race described in #2723 / #2425.

https://github.com/moby/moby/blob/8891c58a433a823ce0a65b57efff45f32ee9cb45/integration-cli/docker_cli_service_logs_test.go#L293-L295

[2021-01-16 06:35] #2742 closed

[2021-01-17 13:45] zhsj commented on #2742
@AkihiroSuda Is there a moby issue related?

I'm not sure what I met is same as this.

Run with runc master with docker 20.10, I get a messed up termnial.

![image](https://user-images.githubusercontent.com/227180/104844790-28452880-590d-11eb-8267-c99329c9c5a3.png)

Git bisect points me to 24c05b71fa4fff0bf92c65240c7e22807717b3a4.

[2021-01-17 15:40] AkihiroSuda commented on #2742
Could you open a new issue? @zhsj

[2021-01-17 16:55] zhsj opened #2747 "runc@master with docker 20.10.2 mess up the terminal"
[code]

![image](https://user-images.githubusercontent.com/227180/104850017-b6c6a380-5927-11eb-9ecc-3d5b9f52b08f.png)

git bisect tells the regression is caused by https://github.com/opencontainers/runc/commit/24c05b71fa4fff0bf92c65240c7e22807717b3a4 (#2723)

[2021-01-17 17:00] zhsj commented on #2742
https://github.com/opencontainers/runc/issues/2747

[2021-01-17 17:05] adrianreber opened #2748 "container restore layering conundrum"
I am currently working on implementing checkpoint/restore on the Kubernetes level (https://github.com/kubernetes/kubernetes/pull/97194) and during restore I have a problem with missing directories for bind mounts. The following situation gives me currently problems

1. Kubernetes creates something like `/var/lib/kubelet/pods/36dfe704-5fd4-4ec5-aaf1-9d7375364de0/volumes/kubernetes.io~secret/default

[2021-01-18 03:51] AkihiroSuda commented on #2747
Is this issue specific to Docker/Moby?
I can reproduce this issue with Docker/Moby, but can't reproduce with nerdctl and Podman.

Do we need a fix on runc side or on Moby side?

[2021-01-18 10:30] caoruidong commented on #1596
@xiaochenshen Any progress on containerd or docker?

[2021-01-18 21:37] kolyshkin commented on #2747
I have reproduced this with both docker and ctr, but can't repro with podman.

ctr repro:
[code]

With stock runc, the last command gives:
[code]

Podman fixed this via https://github.com/cri-o/cri-o/pull/568 and https://github.com/containers/podman/pull/3143, with a test case added in https://github.com/containers/podman/pull/3986.

[2021-01-19 01:01] AkihiroSuda commented on #2747
Would it be possible to roll back to the previous behavior?

[2021-01-19 01:04] cyphar commented on #2747
From memory, we *did* revert the `ONCLR` behaviour of runc several years ago (I changed it during the `--console-socket` rewrite but it caused regressions)...

[2021-01-19 01:11] kolyshkin commented on #2747
So, it seems that docker cli can be fixed to set `opost onlcr` on a terminal, and (I still can't understand why) `ctr` is working fine without it. The comparison of straces between docker and ctr shows that ctr sets `opost` while docker doesn't.

I'm still very much lost, so going to partially revert the patch to restore the status quo. We can try this again once docker et at are fixed (to set `op

[2021-01-19 01:15] kolyshkin commented on #2747
Current dumb idea is to make the test code look more like the code of tty.go (i.e. with `console.Epoller` etc) and see it it fixes the race.

[2021-01-19 02:49] xiaochenshen commented on #1596
@caoruidong We have plan to support on containerd and Docker, but some dependencies in runc is still working in progress.

[2021-01-19 03:05] caoruidong commented on #1596
@xiaochenshen Do you mean https://github.com/opencontainers/runtime-spec/pull/1076? I see most of RDT feature PRs have been merged in runtime-spec

[2021-01-19 03:10] xiaochenshen commented on #1596
@caoruidong This is one of the reasons. Generally, we need to make the framework and APIs stable enough in runtime-spec and runc.

[2021-01-19 04:18] kolyshkin commented on #2747
I'll take a fresh look tomorrow but for now it is https://github.com/opencontainers/runc/pull/2749

[2021-01-19 04:21] AkihiroSuda commented on #2742
The behavior will be rolled back in https://github.com/opencontainers/runc/pull/2749 (thanks @kolyshkin )

[2021-01-19 06:05] caoruidong commented on #1596
@xiaochenshen Thanks for the information.

[2021-01-19 06:46] gaopeiliang commented on #2530
watch

[2021-01-19 07:20] free2k opened #2752 "runc supports update disk speed limit"
![image](https://user-images.githubusercontent.com/14852402/105000525-69eae600-5a69-11eb-9dea-02c7176ec528.png)
Why does runc not support the update of --device-bps and --device-iops? What are the considerations?

[2021-01-19 08:48] wzshiming commented on #2736
@kolyshkin

![image](https://user-images.githubusercontent.com/6565744/105009831-ef749300-5a75-11eb-977e-37f43d8a67c0.png)

[code]

[code]

[2021-01-19 14:06] gaopeiliang opened #2753 "Runc init process step on DISK Sleep Status When freezen cgroup"
we upgrade docker-ce version to 20:10 from 19.3,  And now docker component version:

[code]

when Kubernetes terminal POD , we found container process step into DISK Sleep status ,,,,  docker inspect container  hang forever ,,    kubelet pleg not healthy ,  kubelet not ready ......

when we ps container process .... we found  runc init process also DISK Sleep ....

[code]

[2021-01-19 14:14] gaopeiliang commented on #2753
runc init parent process maybe runc exec xxx yyy 15758  is in sleep status .....

there another process about runc update resource 15801 si in sleep status ......

we strace 15801 .... it is wait cgroup freezer change "FREEZING" to last status ....

[code]

[2021-01-20 00:00] #2747 closed

[2021-01-20 00:19] kolyshkin commented on #2425
Reopened by #2749

[2021-01-20 01:49] kylecarbs commented on #2659
@cyphar any ideas on rc93 release date?

https://github.com/opencontainers/runc/pull/2522 is quite critical for us to use runc.

[2021-01-20 02:03] AkihiroSuda commented on #2659
Soon after reaching the decision on https://github.com/opencontainers/runc/pull/2750 .
I personally expect it to land on Feb, but not certainty.

[2021-01-20 02:48] cyphar commented on #2659
Yeah #2750 is the final blocker imho.

[2021-01-20 22:32] kolyshkin commented on #2475
Filed as https://github.com/checkpoint-restore/criu/issues/1338

[2021-01-20 22:42] kolyshkin opened #2756 "nsexec logging is racy (aka "debug.bats is flaky")"
Sometimes debug.bats test cases are failing like this:

[code]

This is caused by the fact that log forwarding from nsexec is not waiting for all logs to be written to disk ( before runc process ends, and in case of short-lived processes this result in missing debug from nsexec.

This happens when writing to disk, and may probably be made 100% reproducible by slowing down disk I/O.

This is probab

[2021-01-21 01:33] rofl0r commented on #2517
it seems the developers of apt went to great lengths to make it hard to use their software outside the context they envisioned. we can find this source code in apt-pkg/contrib/fileutl.cc (which i found after receiving those error messages [after creating a ptrace hook to return fake success from SYS_chown](https://github.com/rofl0r/debuglib/commit/3deb522300eacd2d966ebdbda5e08fd747db3d98)):

[code

[2021-01-21 10:14] ashwani29 commented on #2517
@rofl0r hi, thanks for this but it still requires sudo to download any package in `rootfs`
[code]
and using `sudo`:
[code]

[2021-01-21 10:20] haampie commented on #2517
Do we know of distro's that are not so incredibly limiting w.r.t. the package manager?

I've had more luck with alpine's apk, it still issues many warnings about ownership, but at least they are not fatal errors. The only issue is alpine is musl-based, and I'd rather have a glibc-based distro.

[2021-01-21 12:53] rofl0r commented on #2517
@ashwani29

maybe there's a file in your rootfs you really can't access. i didn't get this. try to run `strace apt update` to find out where it's happening and fix the permission problem (look for EPERM in strace's output - and yes, you need to use a [statically linked strace binary from elsewhere](http://ftp.barfooze.de/pub/sabotage/bin/strace-4.8-x86_64-static-musl.tar.xz) as you can't use apt y

[2021-01-22 03:08] free2k commented on #2752
Can someone help me answer this?

[2021-01-22 04:08] kolyshkin opened #2760 "[centos7] not ok 15 checkpoint --lazy-pages and restore"
~~After _accidentally_ enabling checkpoint/restore tests on CentOS 7 (in https://github.com/opencontainers/runc/pull/2757/commits/a15ebe5a48fcead0ab050f08071c066c27652db9, PR #2757), I found out that~~
lazy-pages test **sometimes** fails without providing any decent error:

[code]

The command that fails is:
[code]

[2021-01-22 15:28] gitsvm opened #2762 "Setting up networking for runc Container"
A `runc` container is running in a vm which is hosted on a host running ubuntu. I can ping the Container from the vm but I don't know how to ping it directly from host.
I followed this blog to set up network configuration for a runc container: https://medium.com/@Mark.io/https-medium-com-mark-io-network-setup-with-runc-containers-46b5a9cc4c5b

Does anybody have experience with this?

[2021-01-23 03:27] oshiro3 commented on #2762
@gitsvm
I'm not a runc developer, but I don't think it's a runc's ploblem.
I think there are two problems below.
* host-to-VM routing
* VM-to-containerNW routing.
In this case, you need to send the packet from the host to the VM and configure the routing inside the VM to the container network.

[2021-01-24 17:49] eclipseo opened #2765 "Go 1.16: TestHelperProcess: a test that calls os.Exit(0) during execution of a test function will now be considered to fail"
In Go 1.16, the following change was added:

See https://tip.golang.org/doc/go1.16#tools

This makes the following test fail:

https://github.com/opencontainers/runc/blob/c69ae759fbf5acf6e8ef805471b99feee8246c3c/libcontainer/configs/config_test.go#L203-L206

We are testing Go 1.16 beta 1 in Fedora Rawhide, so this error prevents us from successfully build the package.

[2021-01-25 03:06] cyphar commented on #2765
We'd be happy to take a one-line patch removing that (and any other examples you may have hit).

[2021-01-25 05:25] eclipseo commented on #2765
We can't simply remove `os.Exit(0)` otherwise it would break:

https://github.com/opencontainers/runc/blob/c69ae759fbf5acf6e8ef805471b99feee8246c3c/libcontainer/configs/config_test.go#L155-L177

TBH I don't know how to fix this.

[2021-01-25 06:06] cyphar commented on #2765
Ah okay. I'll take a look at fixing this sometime this week.

[2021-01-25 13:40] odinuge commented on #2474
Well, that is kinda true, but only applies to `kubelet` and its usage of `libcontainer`.

However, Kubernetes is implicitly using it via the CRI api since most CRI implementations use runc by default. As I understand the `cgroup.SkipDevices`, is only for users of the go api, not the binary.

When running kubernetes with with eg. containerd as the runtime (via CRI), it uses the `runc` binary. Kuber

[2021-01-25 17:15] bduffany opened #2766 "getCgroupRoot doesn't return expected value when run within nested container"
I'm trying to run containerd inside a container, but when I try to spawn child containers, I'm getting the error:

[code]

I dug into this a bit and found that `tryDefaultCgroupRoot` was returning `""`, since it hits the case where the `Dev` of `/sys/fs/cgroup` equals the `Dev` of `/sys/fs`: https://github.com/opencontainers/runc/blob/master/libcontainer/cgroups/fs/fs.go#L88-L91

(I copied this Go

[2021-01-25 17:22] bduffany commented on #2766
@kolyshkin @vmarmol who wrote this originally

[2021-01-26 03:35] gaopeiliang commented on #2753
exec init  +  set cgroup freeze will make cgroup step on FREEZING  status

[code]

[2021-01-26 03:37] gaopeiliang commented on #2753
#2767

[2021-01-26 03:40] gaopeiliang commented on #2753
Linux kernel  4.19.160-0419160-generic
Linux kernel 4.9.70-040970-generic

[2021-01-26 19:28] #2724 closed

[2021-01-26 20:39] kolyshkin commented on #2765
This is actually fixed in https://github.com/opencontainers/runc/pull/2660

[2021-01-27 02:36] eclipseo commented on #2765
Thanks to all the persons involved!

[2021-01-27 03:35] kolyshkin commented on #2766
The code of cgroup v1 fs driver expects individual cgroup mounts (i.e. those with fstype of `cgroup`) in /proc/self/mountinfo. It was doing that before my changes, iow `tryDefaultCgroupRoot` is just an optimization.

I guess your container misses those cgroup mounts. When I run a standard container with spec created by `runc spec` on a cgroup v1 host, I see the following mounts:

[code]

Those are

[2021-01-27 03:36] kolyshkin commented on #2766
In other words, this is not a bug in runc, but rather in your container configuration.

[2021-01-27 03:36] #2766 closed

[2021-01-27 03:38] kolyshkin commented on #2753
If you can come up with a repro that does not involve docker, kubernetes etc. that'd be great.

[2021-01-27 04:05] #2765 closed

[2021-01-27 05:57] gaopeiliang commented on #2753
as code note said ,,, the final status really never come,, loop run infinitely ....

we also should reset the status ,,,  not block getState forever.....

[code]

[2021-01-27 06:01] gaopeiliang commented on #2753
we  also found an description about this on "Red Hat bugzilla",

https://bugzilla.redhat.com/show_bug.cgi?id=1903228

I think there also meet this issues .....

[2021-01-27 06:08] gaopeiliang commented on #2753
we used runc rc-10  with docker 19 ,,, and never hit "DISK Sleep"  until we upgrade to docker20 with runc rc92 ,  we try to replace runc rc92 to rc-10 ,  and nothing happen ,,,,

I think rc92 update command add freezen cgroup step ,,   increase the probability

[2021-01-27 07:26] niuyueyang1996 commented on #2753
i write freezer.state file and use runc exec to reproduce the failure

[code]

exec.sh
[code]

[2021-01-27 07:33] niuyueyang1996 commented on #2753
when exec execute concurrently with freezen will reproduce the failure
we hope getState and freeze can exit with timeout

[2021-01-27 10:50] #2683 closed

[2021-01-27 16:24] bduffany commented on #2766
Ah, interesting -- if I update my script to include `--mount src=cgroup,dst=/sys/fs/cgroup,type=cgroup,options=nosuid:noexec:nodev:relatime:ro` in the `ctr` command, then it works.

As a bit of feedback (probably more for `ctr` than for `runc`, really) -- it would have been easier if this was somehow done automatically, or if there was maybe a flag like `--enable-nested-containers` which sets up t

[2021-01-28 03:10] kolyshkin commented on #2753
@niuyueyang1996 @gaopeiliang thanks, reproduced locally (on cgroup v1 -- apparently v2 is not vulnerable), Ubuntu 20.04, kernel 5.4.0-42-generic.

[2021-01-28 04:20] kolyshkin commented on #2753
Simplified repro in bash
[code]

Usually 10s or so is enough to repro.

When runc init is stuck in D state, here's how it looks like:
[code]

[2021-01-28 22:58] kolyshkin commented on #2753
Since the reporter saw it during the concurrent use of `runc update` and `runc exec`, it looks like a regression caused by commit b810da149008f1d7d07f481970d40c0d035958af (PR #2391). In short, when system cgroup driver is used, it freezes the container on every `runc update` for the sake of setting systemd unit device properties (even if they are not set/changed) // cc @cyphar

[2021-01-28 23:18] cyphar commented on #2753
The trace is just showing that it's frozen via the freezer cgroup (hence the creatively-named  `__refrigerator`). I think the race probably just boils down to how we handle "undoing" the freeze while we apply cgroup rules under systemd -- we fetch the current frozen state then reset it after we're done applying cgroup rules.

Unfortunately if you have concurrent `runc update`s running, you'll end

[2021-01-28 23:23] cyphar commented on #2753
Ah, you're also hitting it with stock `runc pause ; runc resume`. So the above explanation doesn't explain that behaviour as well...

[2021-01-28 23:28] kolyshkin commented on #2753
Nah, I think what happens is a new process (from runc exec) is added to the cgroup while we're trying to freeze it (for whatever reason -- pause or update), and in this case we're **required** to repeat the freeze attempt as per the last paragraph of freezer-subsystem.txt:

<blockquote>
It's important to note that freezing can be incomplete. In that case we return
EBUSY. This means that some tasks

[2021-01-28 23:31] cyphar commented on #2753
Ah okay. But we do retry it -- that's what the `fscommon.WriteFile` loop is doing?

[2021-01-28 23:33] kolyshkin commented on #2753
So, my current plan is:

1. Fix the `(*FreezerGroup).Set(configs.Frozen)` to retry if it sees "FREEZING".

2. Try to eliminate the unnecessary freeze/thaw on start and update (currently we do 1 freeze and 2 thaws on every `runc --systemd-cgroup update`).

3. Fix `(*FreezerGroup).GetState()` to error out, not being stuck forever.

[2021-01-28 23:36] cyphar commented on #2753
Ah I just realised the mistake I made -- yeah, `GetState` shouldn't loop the way it does (or we need to add a new `configs.Freezing` state). (1) is already the case, the problem is that (3) needs to be fixed because `GetState` is stuck in a loop.

If you can find a way to eliminate (2) that sounds good but based on my memory from working on this last year, the only way to eliminate (2) is to fix s

[2021-01-28 23:41] kolyshkin commented on #2753
No, this is against EINTR bug caused by go 1.14+ runtime (which sends SIGURG to improve preemptiveness, and for some reason writing to cgroupv1 is not SA_RESTARTable, see discussion at https://github.com/opencontainers/runc/pull/2258#issuecomment-601391643). This was fixed in golang 1.15 (see https://github.com/golang/go/issues/38033).

In addition, despite what the kernel doc says, I haven't seen

[2021-01-28 23:43] cyphar commented on #2753
That's what the `WriteFile`+`GetState` loop does though (we don't check for "freezing" specifically but I don't think it hurts to check for "is this the same state as the one we want"). I was thinking of something simple like:

[code]

[2021-01-29 00:17] kolyshkin commented on #2753
I think we should not return FREEZING as a state as no one expects it. Here's my attempt at solving this:

[code]

This way, GetState() does not need to be changed as it will eventually succeed.

[2021-01-29 02:40] kolyshkin commented on #2602
Yes, let's close this one (in favor of #2603).

Another thing why sub-cgroups are bad is the deeper the hierarchy is, the slower the kernel (this might eventually be fixed in the kernel, but in general it's a concern)/

[2021-01-29 02:40] #2602 closed

[2021-01-29 02:41] kolyshkin commented on #2680
I guess we can close this one

[2021-01-29 02:41] #2680 closed

[2021-01-29 02:49] kolyshkin opened #2772 "[RFC] enable discussions"
**Problem**: there are quite a few new issues filed that are not bug reports, but rather some questions or comments about runc.

**Current solution**: mark those with `question` label (thanks a lot @AkihiroSuda for doing that).

**Proposed solution**: enable github discussions (https://docs.github.com/en/discussions).

The benefits are:
 - issues won't be polluted with questions;
 - discussions is

[2021-01-29 02:52] AkihiroSuda commented on #2772
SGTM, but it's slightly disappointing that questions cannot be "closed".. What can we do with obviously off-topic questions?

[2021-01-29 19:58] kolyshkin commented on #2753
Now playing with paralel exec / update as it's more realistic use case. With the variation of the above solution, have the following results running my test for one minute:
[code]

I played with the retry parameters (sleep time, number of retries) and some values appears to result in better rates than other, but obviously we can't entirely eliminate the possibility (of being unable to freeze) usin

[2021-01-29 21:04] cyphar commented on #2753
I'm a bit confused because the latest kernel documentation (at least the one on `HEAD`) implies that the kernel does do internal retries, but yeah this solution seems reasonable. But I think even if we looped forever it would still work for most cases because the issue with the current implementation is we loop in `GetState` but don't write to the file -- so the state never changes.

[2021-01-31 19:51] kolyshkin commented on #2659
I have added https://github.com/opencontainers/runc/pull/2753 / https://github.com/opencontainers/runc/pull/2774 to the rc93 milestone as it's a regression that is seen in production and the fix makes sense.

[2021-01-31 19:54] #2151 closed

[2021-01-31 19:58] kolyshkin commented on #2659
I suggest we merge #2599 #2769 #2774 and bake a release.

[2021-02-01 00:03] cyphar commented on #2659
Yup, I agree.

[2021-02-01 01:44] cyphar commented on #2517
openSUSE's zypper doesn't have this issue (so any RPM-based distro should probably work fine as well).

But yes, the apt issue mentioned by @rofl0r is pretty well-known -- in fact [I mention it in my original talk about rootless containers in 2017](https://youtu.be/r6EcUyamu94?t=1145). The current solution (aside from switching distributions) is to use something like https://github.com/rootless-co

[2021-02-01 02:13] rofl0r commented on #2517
how's that a better solution than fixing apt by removing one line in /etc/passwd (or even better contact the apt maintainers so they fix their stuff)? in case you didn't notice, proot (ptrace in general) has a quite hefty price. i recently wrote an app using my [debuglib](https://github.com/rofl0r/debuglib/) and ran my whole desktop under ptrace, and some apps became almost unusably slow. maybe th

[2021-02-01 02:25] cyphar commented on #2517
It's not a better solution, but it is a solution that solves the problem without needing to patch every program that act suboptimally inside user namespaces (apt is not the only example, it's just one that most people run into first). As for overhead, `SECCOMP_RET_USER_NOTIF` (or even `SECCOMP_RET_TRACE`) reduce the overhead significantly. The reason why `ptrace(2)` has such massive overhead is th

[2021-02-01 05:00] rofl0r commented on #2517
so far i've seen only two: apt and GNU tar which insists on chown()ing files when run as root (without --no-same-owner, which is impractical to add to every invocation), and returning a failure exit status when that fails. my ubuntu guide linked two comments earlier has a section how that can be easily binary-patched out, but i suppose GNU guys could be convinced that they turn the hard error into

[2021-02-01 05:59] AkihiroSuda commented on #2627
@kolyshkin @cyphar

CI has been failing for merge commits into master: https://github.com/opencontainers/runc/runs/1802320146

Do we want to make this green before rc93? I think we can just add `// nolint` and call it for a day.

[2021-02-01 06:37] cyphar commented on #2517
I mean, I can do it -- though there are far less combative ways to ask me to write and send patches to another project.

It's not reluctance to co-operate with other projects (speaking for myself, I contribute to many other projects). There are a couple of reasons why having workaround solutions in place is a good thing:

 * Working with upstream for every issue we run into doesn't make it easier

[2021-02-01 11:12] thaJeztah opened #2778 "libcontainer/seccomp/patchbpf: build fails without cgo"
Didn't look too closely, but noticed this while trying to run golang-ci-lint locally;

[code]

...

[code]

https://github.com/opencontainers/runc/blob/c531a6f26aa2ee5ccf89b88d12b59d6152127ce3/libcontainer/seccomp/patchbpf/enosys_unsupported.go#L10-L13

[2021-02-01 11:12] thaJeztah commented on #2778
@cyphar @AkihiroSuda ptal

[2021-02-01 11:19] thaJeztah commented on #2627
opened https://github.com/opencontainers/runc/pull/2779 to fix the "deadcode" linting. Build is currently broken on master (also https://github.com/opencontainers/runc/issues/2778); I can have a look after that to see what's remaining. If it's only the `errcheck` linter, we can have a quick look over those and see if there's actual errors should not be ignoring, otherwise either `nolint`, or proba

[2021-02-01 11:21] thaJeztah commented on #2627
Do we know why the linter doesn't print file/line numbers for the failures? Current output in GH actions isn't very useful currently 🤔

[2021-02-01 11:25] thaJeztah commented on #2772
I would suggest to at least add templates for issues (and pull requests), explaining that the issue tracker is for bug-reports and feature requests, and point users to (e.g.) slack for "questions".

After that, (off-topic) questions can be closed. Having the "discussions" available probably won't really reduce maintenance, but may _add_ more (to moderate).

[2021-02-01 12:48] cyphar commented on #2778
Yeah this is problem I solved in CI by requiring `libseccomp-devel`. It seems that golang-ci can't handle cgo projects? I'm not sure how we could work around this because we need cgo in order to implement `patchbpf`...

[2021-02-01 12:49] cyphar commented on #2627
I would prefer `_ = ` as a fix rather than `nolint`.

[2021-02-01 12:52] AkihiroSuda commented on #2778
A quick workaround would be to just replace `*libseccomp.ScmpFilter` with `interface{}`, though it may look weird.

[2021-02-01 13:21] thaJeztah commented on #2778
Yup; the issue in this case is that it's in the `_unsupported.go` file, so in situations where seccomp or cgo are not enabled / supported.

Perhaps not that bad it we add a comment; this file is just a "stub" if its not supported, so probably not too horrible.

[2021-02-01 13:28] thaJeztah commented on #2778
Actually wondering if `PatchAndLoad()` needs to have a stub at all, because `InitSeccomp` won't call it on situations that don't have seccomp; https://github.com/opencontainers/runc/blob/4d4d19ce528ac40cc357ef92cd3a6931dba19316/libcontainer/seccomp/seccomp_unsupported.go#L14-L19

[2021-02-01 14:24] thaJeztah commented on #2627
Working on a branch to fix (at least some) of the failures (there's probably quite a lot, so may split it in a couple of PR's to spread the work a bit)

[2021-02-01 14:28] caniszczyk commented on #2772
I do like discussions as they are indexable via Google vs Slack :/

So it may reduce maintenance given that things may be more discoverable?

On Mon, Feb 1, 2021 at 5:25 AM Sebastiaan van Stijn <
notifications@github.com> wrote:

--
Cheers,

Chris Aniszczyk
http://aniszczyk.org
+1 512 961 6719

[2021-02-01 17:21] kolyshkin commented on #2772
I am against very heavy templates. A comment saying something like "use discussions (<link here>) to ask questions" would be beneficial (once we have discussions). Merely saying "this is not a place to ask questions" (without any info about how/where to ask questions) is kinda hostile to the users.

Yet better, converted to discussions!

[2021-02-01 17:38] kolyshkin commented on #2627
@thaJeztah make sure to pick up https://github.com/opencontainers/runc/pull/2696

Github annotations are used where possible (i.e. in PRs). I thought it works on master, too, but apparently annotations are just for diffs. See also https://github.com/golangci/golangci-lint-action/issues/119

[2021-02-01 18:41] thaJeztah commented on #2627
I tried rebasing my branch on top of that one, and it rebased cleanly, so I based it on master again; thanks for the heads up 👍

[2021-02-01 19:51] kolyshkin commented on #2627
We can't make it entirely green; as per my earlier comment

I would not address any of that before rc93 -- the first two are too major and would definitely delay rc93 further than we want to, and the last one (errcheck) is too trivial (so I'd rather have it right after rc93, not before).

[2021-02-01 20:42] cyphar commented on #2627
Yeah I wouldn't block rc93 on this. If cleanups get in before we merge everything else, great. If not, it can make it next release.

[2021-02-01 22:01] cyphar commented on #2778
My only question is does this mean that golang-ci doesn't scan cgo package sources by default? In other words if you don't give it the right build tags will it not lint code? Or is there another reason it cares about build dependencies based on `-tags ""` builds?

[2021-02-01 22:12] kolyshkin commented on #2778
I think that `cgo` tag is enabled by default (if supported, and it is supported on where we run golangci-lint).

OTOH `seccomp` is not set when running golangci-lint and I think we should add it (or change the logic to have the functionality on by default, unless something like `disable_seccomp` is not set).

[2021-02-01 22:26] kolyshkin commented on #2778
https://github.com/opencontainers/runc/pull/2782

(Note it only reports issues for the current PR; needs to be merged in order to run on master)

[2021-02-01 23:26] #2753 closed

[2021-02-02 03:14] cyphar commented on #2659
That's all of the PRs merged. Tip is still failing lints, but as discussed we can just move on with a release.

[2021-02-02 09:00] AkihiroSuda commented on #2752
I guess it is simply because nobody bothered to implement them. Pull requests are welcome.

[2021-02-02 12:12] dims commented on #2659
w00t! thanks @cyphar

[2021-02-02 13:46] #2778 closed

[2021-02-02 14:11] #2550 closed

[2021-02-02 23:15] kolyshkin opened #2783 "32-bit related seccomp issues"
I finally managed to be able to run i386-cross unit test (see https://github.com/opencontainers/runc/pull/2768) and got these two issues:

[code]

and the second one (caused by using x86_64 images under i386, now fixed):
...

=== RUN   TestSeccompDenyGetcwdWithErrno
    seccomp_test.go:83: Expected output pwd: getcwd: No such process but got
--- FAIL: TestSeccompDenyGetcwdWithErrno (0.37s)
=== RUN

[2021-02-02 23:47] cyphar commented on #2783
This is because `golang.org/x/net/bpf` returns an `int` from their emulated BPF VM implementation when they should really be returning `uint32`. I'll send a patch to fix it, though since it's a breaking change they may not like it.

[2021-02-02 23:59] cyphar commented on #2783
This is because `golang.org/x/net/bpf` returns an `int` from their emulated BPF VM implementation when they should really be returning `uint32`. I'll send a patch to fix it, though since it's a breaking change they may not like it. However this patch should fix the immediate issue:

[code]

[2021-02-03 00:04] kolyshkin commented on #2783
The second issue is probably caused by running x86_64 container under i386. Looking...

[2021-02-03 00:27] kolyshkin commented on #2783
Fixed by rebasing on top of https://github.com/opencontainers/runc/pull/2741

[2021-02-03 00:35] kolyshkin commented on #2783
@cyphar initially I just changed `0xDEADBEEF` to `0xBADBEEF` to verify that things work, but then I took your diff.

[2021-02-03 00:38] kolyshkin commented on #2783
https://github.com/opencontainers/runc/pull/2768/commits/47a96495208f5dfdceabc1a2acbfa1c0517aac80

I guess we can close this one now.

[2021-02-03 00:38] #2783 closed

[2021-02-03 00:42] kolyshkin commented on #2760
TODO: make it run multiple times, show full log, cross my fingers and hope it will fail.

[2021-02-03 10:59] leberknecht commented on #1650
@cyphar ping

[2021-02-03 11:42] cyphar commented on #1650
Sorry I missed your message from a year ago :grimacing:. I'm pretty sure this is fully supported since #2527 -- which will be in the next release. So the next steps would be to add containerd and Docker support for it, and then pull in the new version of runc which I'll be releasing tomorrow.

[2021-02-04 01:16] #2659 closed

[2021-02-04 03:54] AkihiroSuda commented on #2366
@cyphar Can we postpone this to v1.1.0?

[2021-02-04 04:09] cyphar commented on #2366
cgroupv2 device updates are probably fine for now, especially since we use systemd to manage cgroupv2 (and while systemd isn't perfect it does handle updates reasonably).

[2021-02-04 04:28] cyphar commented on #2435
This will be sorted out in post-1.0. I will include this in a set of governance updates that I'm working on for post-1.0.

[2021-02-04 20:02] kolyshkin commented on #2772
I'm not sure what kind of power moderators have over discussions, but I guess there is (or will be) a way to "freeze" a topic in some way, as it's pretty standard feature of all the forum/discussion software.

[2021-02-04 20:13] kolyshkin opened #2790 "rc94 discussion (mid-March 2021?)"
After releasing rc93, we are in feature freeze, i.e. only bug fixes¹ are accepted into rc94,
which (hopefully) will be the last rc before the final 1.0 release.

Issues and PRs targeted for rc94 need to be added to [1.0.0-rc94 milestone](https://github.com/opencontainers/runc/milestone/11)

Changes since rc93: https://github.com/opencontainers/runc/compare/v1.0.0-rc93...master

¹ I want to make an

[2021-02-05 00:35] cyphar commented on #2790
Yeah, i'm fine with CI changes. Feature freeze doesn't include things like documentation and CI. Also depending on Docker's testing we might be able to skip rc94 entirely.

[2021-02-05 02:19] PeterCxy opened #2792 "Setting cgroup config failed when nested inside LXC unprivileged container w/ pure cgroups v2 ("unified hierarchy")"
I am trying to run Docker inside an unprivileged LXC container on a host with pure cgroups v2 (systemd "unified hierarchy"), but with limited success with `runc` runtime. Before `runc 1.0-rc93`, the runtime fails in an attempt to use `systemd --user` even when it is the root user inside the unprivileged LXC container, which I believe is the same regression as described in #2724 and now fixed in #2

[2021-02-05 06:08] cyphar commented on #2792
So we're getting `EPERM` while trying to inject the BPF rule for the devices cgroup... @giuseppe can you think of something we're doing that is substantially different to crun here?

[2021-02-05 06:19] AkihiroSuda commented on #2792
https://github.com/opencontainers/runc/blob/12644e614e25b05da6fd08a38ffa0cfe1903fdec/libcontainer/cgroups/fs2/devices.go#L31-L38

This function needs to return constantly true when we are in userNS

[2021-02-05 06:29] cyphar commented on #2792
Yeah I was thinking along the same lines -- I can cook up a quick patch for that.

[2021-02-05 06:34] cyphar commented on #2792
It should be noted our rule for this is actually a bit wrong IMHO -- crun now does what I think makes more sense (if there are any block rules we cannot ignore the error).

[2021-02-05 16:25] renkam commented on #1969
This is from logrus issues: https://github.com/sirupsen/logrus/issues/1041

[2021-02-05 16:34] cyphar commented on #1969
This is a really old issue, but you were trying to build 1.0.0-rc3 which is very old and used an older version of logrus where the import path was different.

[2021-02-05 16:34] #1969 closed

[2021-02-05 23:19] kolyshkin opened #2795 "data race in libcontainer/integration.testCheckpoint()"
Repro:

[code]

It is probably caused by the fact that `(*linuxContainer).criuSwrk` uses stdin/out/err of the process, and go implementation of cmd.Start() runs goroutines to copy all the streams, so we have two sets of goroutines handling process.Stdin/out/err.

Not sure yet if this has any practical consequences, or how to fix this. @adrianreber PTAL

[2021-02-06 00:46] kolyshkin commented on #916
As we have switched from pullapprove to native github review process (see https://github.com/opencontainers/runc/issues/2388), this issue is no longer relevant, thus closing.

[2021-02-06 00:46] #916 closed

[2021-02-08 04:23] cyphar opened #2797 "cgroupv2 devices needs unit tests and a minor rework"
Based on #2796 and #2793, it looks like the eBPF devices code needs some more tests to make sure it's acting properly. If we can do emulation of the BPF program (like I did for seccomp), that would be ideal.

[2021-02-08 08:10] AkihiroSuda commented on #2651
This issue lacks description, so closing

[2021-02-08 08:10] #2651 closed

[2021-02-08 11:40] cyphar commented on #2797
I also have a feeling the wildcard behaviour is wrong -- maybe we should use the devices cgroup emulator to get the computed minimal ruleset and then generate a program based on that?

[2021-02-08 20:37] kolyshkin opened #2800 "ci: enable race detector for tests."
We should add `-race` to `go test` (either to the default runs, or by having a separate runs with race detector enabled).

~~Currently blocked by https://github.com/opencontainers/runc/issues/2795 and https://github.com/opencontainers/runc/pull/2799. ~~

[2021-02-08 23:42] kolyshkin commented on #2795
My analysis above is wrong -- the race is not in criuSwrk, but in the test code. See https://github.com/opencontainers/runc/pull/2799 (second commit) for the fix.

[2021-02-09 19:35] AkihiroSuda opened #2801 "Support /proc/PID/attr/apparmor/exec in addition to /proc/PID/attr/exec"
Requested in https://github.com/docker/for-linux/issues/1199#issuecomment-774811300

[2021-02-09 19:36] AkihiroSuda commented on #2801
This is kinda enhancement, but probably we should have this in rc94 to rescue Arch Linux users.

[2021-02-09 23:12] #2792 closed

[2021-02-10 02:50] kolyshkin commented on #2760
Got another failure ( https://github.com/opencontainers/runc/pull/2087/checks?check_run_id=1841731496), this time with slightly different output:

[code]

[2021-02-10 03:23] kolyshkin commented on #2366
We also leak a file descriptor on every `ebpf.LoadAttachCgroupDeviceFilter` invocation (IOW on every `container.Run()`). In case it is used by an daemon using libcontainer, this is problematic. I wrote a test case that currently adds this leaked fd as an exclusion (FIXME: link).

[2021-02-10 03:28] kolyshkin commented on #2366
Indeed, update functionality is not worded out good enough in spec. Ideally, for devices there should be some kind of "append or replace" flag (and I also hope one day we'll be able to skip reading all the resources from the state file on update, at least if "replace" is specified for devices).

If that's too complicated or redundant, we can say "runc only implements replace for devices" (if the s

[2021-02-10 07:31] AkihiroSuda commented on #2801
PR: https://github.com/opencontainers/runc/pull/2803

[2021-02-10 09:38] cyphar commented on #2801
Feels like this is a kernel regression (or rather, a regression by the Arch Linux maintainers). Why does `CONFIG_LSM=...,bpf` cause the AppArmor interface to disappear? We can support the new one but it feels like the upstream kernel devs (or Arch devs) should know this is breaking userspace.

[2021-02-10 09:51] AkihiroSuda commented on #2801
Not a kernel regression, this is a configuration issue on Arch side: https://github.com/archlinux/svntogit-packages/commit/69cb8c2d2884181e799e67b09d67fcf7944d8408#diff-6503b30d816e211d1909eed3e1eff5f9105fdc48f5735921a59f4906f99415beR9406

Because it prioritize `bpf` over `apparmor`.
A workaround is to prepend `apparmor` before `bpf` in the kernel cmdline:  e.g., `apparmor=1 lsm=capability,lockdow

[2021-02-10 11:06] cyphar commented on #2801
Sorry, that's what I meant by "regression by the Arch Linux maintainers". But yeah, I already LGTM'd the patch, just seems like the Arch folks should test config changes before releasing them. :shrug:

[2021-02-10 18:29] #2801 closed

[2021-02-10 22:26] kolyshkin commented on #2760
This one is from Fedora 33, not CentOS 7 (from https://github.com/opencontainers/runc/runs/1875101628?check_suite_focus=true):

[code]

[2021-02-10 22:29] kolyshkin opened #2805 "not ok 15 checkpoint --lazy-pages and restore (Fedora 33, runc restore fails)"
This one is from Fedora 33, not CentOS 7 (from https://github.com/opencontainers/runc/runs/1875101628?check_suite_focus=true):

[code]

[2021-02-10 22:30] kolyshkin commented on #2805
@avagin @adrianreber any ideas?

[2021-02-10 22:32] kolyshkin commented on #2800
Fixed by #2799

[2021-02-10 23:00] kolyshkin commented on #2627
Should be fixed by https://github.com/checkpoint-restore/go-criu/pull/43, and once it's in we'll just bump protobuf to 1.4.x

[2021-02-11 03:13] kolyshkin commented on #2805
This is quite reproducible even on my machine -- I just set to run this test 400 times.

[code]

[2021-02-11 03:23] kolyshkin commented on #2805
Seems that the task being restored receives `SIGTERM`. It might happen because of systemd. Same cgroup is used for all tests, and there might be a case where runc ask systemd to remove the cgroup, hits the timeout (1 second) and continues.

So, bats runs the next test case, while systemd (allegedly) still tries to remove the cgroup, but terminating its processes.

A potential workaround is in http

[2021-02-11 04:38] kolyshkin commented on #2805
Randomizing cgroup names and systemd unit names did not help:
# __runc restore test_busybox_restore failed (status: 1)
# time="2021-02-11T04:31:20Z" level=error msg="criu failed: type NOTIFY errno 0\nlog file: image-dir/restore.log"
# CRIU restore log errors (if any):
# (00.076078) 48521 (native) is going to execute the syscall 11, required is 15
# (00.076085) 48521 was trapped
# (00.076087) `- Ex

[2021-02-11 07:15] avagin commented on #2805
Could you try to trace signals and find out who kill a restored process?
ls -l /sys/kernel/debug/tracing/events/signal/enable
Run tests
cat /sys/kernel/debug/tracing/trace

[2021-02-11 20:10] kolyshkin commented on #2760
It is now failing with

[2021-02-13 03:20] kolyshkin commented on #2805
For some reason I can't repro it locally anymore.

With tracing on, I ran the test 5 times, each time is 400 iterations, and never caught it.

With tracing off, I ran it 3 times, also 400 iterations each, also never caught it :disappointed:

[2021-02-13 03:33] kolyshkin commented on #2805
As we're restoring the container under a different name, but into the same cgroup as the original container, there might be some kind of a race in there (just a wild guess -- I still don't have a clear understanding what's happening). Maybe trying to restore the container into a different cgroup will help. I'd try that but I can't repro :(

[2021-02-16 02:15] vutuong commented on #2748
Hi, I got stuck until I found this issue and the commit. Following K8s documents, when you create a pod, if you do not specify a service account, it is automatically assigned the default service account in the same namespace.
My hack is adding ```automountServiceAccountToken: false``` to the pod Spec.
[code]
Hope that this issue can be fixed as soon as possible.

[2021-02-18 08:25] devikrishnar opened #2811 "runc checkpoint not working"
Hi, when I try to checkoint a runC busybox container using the command -
`runc checkpoint --image-path images <container_name>`

I am getting the following error-
[code]

Here are some extracts from the config.json file -

[code]

I tried the same with an ubuntu container and I am getting the same failure.
The pre-dump operation is working fine.
These are the versions of CRIU and runC I am using -

[2021-02-18 11:33] anthraxx commented on #2801
@cyphar It's not like we do not test config changes, our general purpose kernel always goes through the testing repository which requires approvals. Apparmor is not something we support out of the box and by default, hence it seems the testing audience overlooked implications causing by this.
However strictly speaking, this is still not a "configuration issue". It surely may create interference an

[2021-02-18 11:45] Foxboron commented on #2801
@AkihiroSuda and fwiw, I do backport patches for runc/containerd/docker if I'm made aware of them :)

[2021-02-18 16:58] Maryse47 commented on #2801
@anthraxx this issue is much beyond apparmor use with runc or docker. In fact Arch change of appending bpf to lsm list broke the legacy way of enabling major lsm with `security=<lsm_name>.` This affects apparmor, selinux and perhaps smack too. This breaks user configs that worked for years and tons of docs must be rewritten including Arch wiki. I have no idea why Arch needs to enable bpf lsm by de

[2021-02-18 17:21] anthraxx commented on #2801
@Maryse47 I understood that, but its the legacy interface after all. Arch Linux is a rolling release, at a certain point in time users are expected to adapt to more modern ways to declare this. As I've tried to point out, the implications of this didn't initially arise during the testing phase. Documentation and wiki pages are open to be contributed to and extend non legacy ways to configure such,

[2021-02-18 18:31] Maryse47 commented on #2801
I would understand if this change brought any benefit for Arch users but you just trade legacy interface to enable some idle code that has zero support from distro side (even wiki has zero documentation about it), not sure if there is a single person who really uses bpf lsm on Arch but then they can enable it themselves just fine. AFAIK the logic behind enabling bpf was  - _it doesn't hurt_ - but

[2021-02-19 01:15] kolyshkin commented on #2736
It seems you are trying to start a container with memory limit of 1000 bytes. This obviously won't work, but it's not a bug. A bug might be a somewhat cryptic error message (as I suggested above in https://github.com/opencontainers/runc/issues/2736#issuecomment-761217034).

@wzshiming again, what kernel version are you using?

[2021-02-19 01:37] wzshiming commented on #2736
@kolyshkin
Linux 3.10.0-1160.11.1.el7.x86_64 x86_64

[2021-02-19 01:39] kolyshkin commented on #2736
Reproduced locally (with memory limit set too low).

On cgroupv1 system:

[code]

The funny thing is, this is the best runc does -- it actually shows some error which is somewhat relevant (at least it mentions memory limit).

We do even worse with fs cgroup driver:

[code]

...or on cgroupv2, for that matter:

[code]

Looking into a fix (to provide a sane error).

[2021-02-19 02:09] wzshiming commented on #2736
It seems to only appear when more containers are created at once. If there is no error when creating one by one.

[2021-02-19 02:21] wzshiming commented on #2736
Thanks
In my case, it seems to only appear when more containers are created at once. If there is no error when creating one by one, so I think this is like a bug.

[2021-02-19 04:13] kolyshkin commented on #2736
@wzshiming if possible, can you test your setup with the patches from https://github.com/opencontainers/runc/pull/2812 and provide us with errors runc gives you (it should be something like `unable to set memory limit to xxx (current usage: yyy, peak usage: zzz`)

[2021-02-19 05:13] cyphar commented on #2801
Okay, this thread isn't the best place for arguments about Arch maintainership.

@anthraxx The reason I said it was a configuration bug is that `/proc/self/attr/exec` is a very long-standing interface, and the reason why the kernel didn't remove it when they added the subdirectory version is precisely because removing it will break userspace programs. I just took a look, and this bug is not only p

[2021-02-19 06:47] wzshiming commented on #2736
@kolyshkin

Originally it was 10Mi memory, which can trigger this effect. Today I will try again and need 3Mi memory to trigger.
![image](https://user-images.githubusercontent.com/6565744/108466921-60021000-72bf-11eb-84eb-bcc4e2d908ee.png)
![image](https://user-images.githubusercontent.com/6565744/108466984-7a3bee00-72bf-11eb-87cd-981a00a42e38.png)

Is there a possibility that it is just above a c

[2021-02-19 10:03] cyphar commented on #2801
(Also it should be noted this interface was only added in Linux 5.8 -- I would argue that "was the only way of doing this operation two kernel releases ago" really doesn't count as a legacy interface!)

[2021-02-19 16:55] giuseppe commented on #2151
@cyphar are you fine if I open a PR for runtime-specs to allow overriding the default errno for the seccomp profile (similarly to https://github.com/opencontainers/runtime-spec/pull/1041)?

[2021-02-19 17:10] giuseppe commented on #2151
I've opened it here: https://github.com/opencontainers/runtime-spec/pull/1087

[2021-02-20 02:33] kolyshkin commented on #2811
please retry with criu 3.15 (see https://criu.org/Packages to find packages for your distro, or compile it from source)

[2021-02-20 02:34] kolyshkin commented on #2811
Enabling cgroup namespace might also help (but try updated criu first).

[2021-02-20 02:52] kolyshkin opened #2813 "Fix discrepancy between systemd and fs cgroup managers"
All cgroup managers implement `Apply()` and `Set()` methods:
 - **Apply** is used to create a cgroup (and, in case of systemd, a systemd unit) and/or put a PID into the cgroup (and unit);
 - **Set** is used to set various cgroup resources and limits;

fs/fs2 cgroup managers implement the functionality as per the description above.

systemd v1/v2 managers are somewhat weird. They set most of cgroup

[2021-02-22 11:15] odinuge commented on #2813
+1 on this one!

I have been working with this from the k8s side, so I can help with insight if needed. Anything special you need?

I also think we should strive to adhere to the systemd delegation a bit better as well (eg we don't need to write to `cpu.shares/cpu.weight` when systemd already will do that): https://systemd.io/CGROUP_DELEGATION/

I think crun only create the slice/scope, and has a

[2021-02-22 11:22] odinuge commented on #2813
The changes you are talking about here make sense for k8s, since we always use Set after Apply in order to enforce limits. The systemd-part is however currently broken/has never really made sense, but that should be fixed with: https://github.com/kubernetes/kubernetes/pull/98374 (feel free to look at that PR and/or review if you have any thoughts).

[2021-02-22 18:11] tonistiigi opened #2817 "proposal: add --no-delete to runc run"
`runc run` is much more simple to use than `create/start` async commands that are almost impossible to use safely without introducing a special shim-like binary to deal with `SIGCHLD` reaper issues.

One of the problems though is that when using `run` calling process can't get the full stats of the process because cgroups are already deleted when it returns. Could we consider adding `--no-delete`

[2021-02-23 00:47] lifubang commented on #2817
+1

[2021-02-23 01:41] kolyshkin commented on #2813
- kubelet does NOT use systemd's Set() method
- cri-o does not use it either

So we're good

[2021-02-23 01:48] kolyshkin commented on #2813
One particular thing this fixes is, with https://github.com/opencontainers/runc/pull/2812 applied, while trying to start container with very low memory limit on cgroup v1, we get:

fs driver:

systemd driver:

[code]

[2021-02-23 23:16] #2813 closed

[2021-02-24 07:33] cyphar commented on #2797
I'm working on this now. I think it's quite critical for devices cgroup security on cgroupv2.

[2021-02-24 15:03] tuananh opened #2821 "Support idmapped mount (merged in kernel 5.12)"
ref: https://github.com/containerd/containerd/pull/4734

[2021-02-24 15:12] AkihiroSuda commented on #2821
What do we need in runc?

[2021-02-24 21:48] cyphar commented on #2821
This is something that will need to be implemented in the higher-level tools (containerd, docker, podman, ...) as part of their storage drivers. There's not really much for runc to do because the higher-level tool has all of the information about images and manages their storage.

[2021-02-25 00:37] #2795 closed

[2021-02-25 00:37] #2800 closed

[2021-02-25 08:40] AkihiroSuda opened #2823 "Support recursively-readonly mounts with mount_setattr (kernel 5.12)"
The current OCI mount with `options: ["rbind", "ro"]` is (surprisingly) not recursively read-only.

`mount_setattr(2)` introduced in [kernel 5.12](https://github.com/torvalds/linux/commit/2a1867219c7b27f928e2545782b86daaf9ad50bd) can be used for creating recursively-readonly bind mounts:

[code]

runc implementation will need runtime spec PR to be approved: https://github.com/opencontainers/runtim

[2021-02-26 00:44] kolyshkin commented on #2760
Another failure in https://github.com/opencontainers/runc/pull/2768, same diagnostics, for details see https://github.com/opencontainers/runc/pull/2768/checks?check_run_id=1975173190

[2021-02-26 02:18] kolyshkin commented on #2817
Maybe `--keep-cgroups`? I'm not sure what are the other resources (except maybe intel RDT).

[2021-02-26 02:18] kolyshkin commented on #2811
No reply from the original reporter, so I suggest we close this one.

[2021-02-26 07:30] devikrishnar commented on #2811
Thanks, will try with updated CRIU and see if the issue is resolved. Will get back if any other help is required.

[2021-02-26 07:30] #2811 closed

[2021-02-26 13:40] lifubang commented on #2817
Besides cgroup paths, we should keep runc state dir to allow us use `runc delete` to delete the cgroup paths, so I'd prefer to use `--no-delete`.

[2021-02-26 13:56] lifubang commented on #2817
It's very easy to implement. Please see #2825 .

[2021-02-26 19:20] JonathonReinhart opened #2826 "checkProcMount() is too strict"
TL;DR I'm trying to run a libvirt VM inside of a docker container without using `--privileged`.

The specific error I get is:
[code]

What I would like to do is allow `/proc/sys/net` to be mounted read-write inside of the container. My understanding is that this is safe because everything that a container could touch there is net-namespaced, and won't affect the host net ns. (I would have to audit

[2021-02-26 19:33] JonathonReinhart commented on #2790
Am I too late for #2826 to be considered for v1.0.0?

[2021-02-26 20:58] mauriciovasquezbernal commented on #2821
What about mounts? The current specification mentions that the Linux options are the same listed the mount(8) man page, however id mapped mounts won't be there as it uses the new mount api and the `mount_setattr` syscall to activate them. Perhaps  an option to set the idmapped attribute when user namespaces are used should be provided?

[2021-02-26 21:49] mauriciovasquezbernal commented on #2821
It seems like @AkihiroSuda is ahead of the game, the same approach using in https://github.com/opencontainers/runtime-spec/pull/1090 would also work for  support for `MOUNT_ATTR_IDMAP`

[2021-02-27 01:38] cpuguy83 opened #2828 "runc init blocked opening exec.fifo"
We have a case where `runc init` is blocked trying to open `exec.fifo` (specifically `/proc/self/fd/5` which points to `exec.fifo` in the state dir.
This happened on a machine with memory pressure and runc exiting with SIGSEGV.

I'm assuming this is happening here, but all I have to debug this is strace: https://github.com/opencontainers/runc/blob/4d4d19ce528ac40cc357ef92cd3a6931dba19316/libcontai

[2021-02-27 01:39] cpuguy83 commented on #2828
/cc @kk-src

[2021-02-28 07:58] cyphar commented on #2828
I think there was a report of a similar issue some time ago -- the main issue is that we can't add a timeout because it's reasonable for there to be an arbitrarily long split between `runc create` and `runc start` (not to mention that there were some crazy use-cases where people only use `runc create` and `runc exec`).

[2021-02-28 15:25] lifubang commented on #2817
As described in https://github.com/opencontainers/runc/pull/2825#discussion_r584178754
We suggest change `--no-delete` to `--keep`.

[2021-03-01 17:06] cpuguy83 commented on #2828
Hmm, yes indeed.

I wonder if we can open a pipe to wait for an exit signal, and part of cleaning up runc would be to ensure `0` or something is written on that pipe to force it to exit?
Maybe that's overly paranoid and we can just use pids? Or something else entirely.

[2021-03-02 20:05] kolyshkin commented on #2805
One more failure on Fedora, this time from https://github.com/opencontainers/runc/pull/2829 (logs at   https://github.com/opencontainers/runc/pull/2829/checks?check_run_id=2011827865). Same symptoms:

[code]

[2021-03-03 10:06] xiaoxubeii opened #2830 "Support cgroups v2 memory.high and memory.min"
In cgroups v2, the memory controller mainly supports memory.min / max / high / low, currently runc only support memory.low / max. The latter two are very useful for memory Qos implemention.

[2021-03-03 10:11] xiaoxubeii commented on #2830
Find out it can set `Unified` in runtime-spec. Close.

[2021-03-03 10:11] #2830 closed

[2021-03-04 01:12] kolyshkin commented on #2828
@cpuguy83 I am not sure what are you proposing.

We have `runc create` which leaves this `runc init` the way you saw it, and we have `runc delete` which cleans things up.

[code]

Or do you mean that this `runc init` is a leftover from a `runc run` which segfaulted, and it needs to be cleaned somehow? If yes, I see two ways to do it:
 - wrap runc into another binary (or a shell script) which clean

[2021-03-04 01:27] cpuguy83 commented on #2828
If this is a problem of "runc delete" not being called indeed that is a simple fix.
I'll check through the containerd runc shim to see if this is happening.

[2021-03-04 07:17] ElisaMeng opened #2832 "runc [2:INIT] eat all CPU powers"
I was reporting this on containerd(https://github.com/containerd/containerd/issues/5113), Now I think it is more like runc problem, so move it to here.

I have a lab run k3s, which run containerd with embedded runc (github.com/containerd/go-runc v0.0.0-20200220073739-7016d3ce2328) and the kernel is 5.4.0

After running for a while(3-4 weeks), the node become unresponsive
since runc [2:INIT] is eat

[2021-03-04 07:23] AkihiroSuda commented on #2832
That's the version of `go-runc`, which is an utility for running runc, not the version of runc itself.

Could you run ` /var/lib/rancher/k3s/data/current/bin/runc --version`?

Also /var/lib/rancher/k3s/data/current/bin/containerd --version` and `k3s --version`

[2021-03-04 16:53] kolyshkin commented on #2826
Looks like we first need to audit the kernel, and then allow this mount in case the container is running inside its own netns (similar to the netns check done in libcontainer/configs/validate/).

In any case, this looks like a post-1.0 material to me.

[2021-03-04 16:56] JonathonReinhart commented on #2826
I guess a question I would have is: Is it the responsibility of `runc` to protect the user from making an unsafe bind mount? If we're going for absolute safety, then shouldn't docker's `--privileged` command be removed?

[2021-03-04 20:43] DevDorrejo commented on #2315
is support rootless of podman?

[2021-03-04 23:35] i0x71 commented on #2762
You need to add an ip to veth-host,
Run these commands on the host
ip addr add dev veth-host 192.168.10.2/24
ip link set dev veth-host up
ping 192.168.10.1

[2021-03-06 09:24] ElisaMeng commented on #2832
@AkihiroSuda Sorry to be late.
[code]

[2021-03-07 10:17] mai1015 commented on #1343
still experiencing the issue for openshift 4.6

[2021-03-08 23:04] kolyshkin commented on #2760
Another failure, this time from https://github.com/opencontainers/runc/pull/2835. From https://github.com/opencontainers/runc/pull/2835/checks?check_run_id=2060556750:
[code]

[2021-03-09 13:34] zvier commented on #2530
The same with you, so do you have solved this problem ?

[2021-03-09 22:28] kolyshkin commented on #1326
@ilyesAj do you see this, too? If yes, can you peek into the kernel logs (`dmesg`) and see if there's anything from the OOM killer. I suspect this is a race between runc trying to start exec and the kernel killing the exec'ed process.

[2021-03-10 14:14] lucaskanashiro opened #2846 "Test failure on armhf - integer overflow"
I am trying to update the `runc` Ubuntu package to version `1.0-rc93` but the following test is failing on armhf (32 bits):

[code]

The new "special handling for seccomp profiles to avoid making new syscalls unusable for glibc" is exactly the feature that I am looking for, but this failure is a blocker. Full build log:

https://launchpadlibrarian.net/527223578/buildlog_ubuntu-hirsute-armhf.runc_1

[2021-03-12 01:20] tianon commented on #2846
I think this was fixed in https://github.com/opencontainers/runc/pull/2768 (which isn't in the latest release yet). :sweat_smile:

[2021-03-12 02:23] kolyshkin commented on #2846
@lucaskanashiro please test the git tip (or grab the first commit from #2768) and report whether it fixes your issue.

If yes, guess we can close it as a duplicate fo https://github.com/opencontainers/runc/issues/2783.

[2021-03-12 12:28] lucaskanashiro commented on #2846
Ah I did not notice this fix, my bad. It indeed fixes my issue! Sorry for the noise, we can close this bug.

[2021-03-12 12:28] #2846 closed

[2021-03-15 07:04] ElisaMeng commented on #2832
More log inför is available in https://github.com/containerd/containerd/issues/5113

[2021-03-15 07:17] lazystone opened #2853 "runc 1.0-rc93 doesn't exist in the repositories"
runc 1.0-rc93 doesn't exist in the repositories: https://download.opensuse.org/repositories/devel:/kubic:/libcontainers:/stable/xUbuntu_20.04/amd64/

But latest cri-o 1.20.1 uses updated gocapability dependency, which causes cri-o/cri-o#4658

[2021-03-15 07:21] thaJeztah commented on #2853
You're missing a zero; it should be `v1.0.0-rc93`

[2021-03-15 07:23] thaJeztah commented on #2853
oh, nevermind, I read it wrong and thought you were looking for the tag in this repo

@cyphar ptal

[2021-03-15 07:45] lazystone commented on #2853
I'm not sure which team is responsible for packaging cri-o-runc though. Feel free to close if it's a wrong project for that issue.

[2021-03-15 07:53] cyphar commented on #2853
This is the upstream tracker for runc, which is really not the right place to be submitting bug reports for packaging issues on OBS. Please use https://bugzilla.opensuse.org/. (As an aside I was under the impression `devel:kubic` linked from `Virtualization:containers` but it looks like `devel:kubic:libcontainers:stable` has pinned versions of everything...).

[2021-03-15 07:53] #2853 closed

[2021-03-15 07:55] cyphar commented on #2853
Actually `devel:kubic:libcontainers:stable` is actually maintained by Red Hat folks (the https://github.com/containers group). /cc @lsm5 -- where is the best place to direct bug reports?

[2021-03-15 12:36] lsm5 commented on #2853
@haircommander ping, could you please bump `cri-o-runc` to v1.0.0-rc93 on kubic? https://build.opensuse.org/package/show/devel:kubic:libcontainers:stable/cri-o-runc ?

[2021-03-15 14:11] lsm5 commented on #2853
my bad, seems like I had already done it for the kubic:libcontainers:testing project. Moved the files over to the stable project now.

But, looks like the x86_64 package is failing to build because of some dependency issues, which I guess is a problem with OBS' setup itself. @haircommander could you look into that please? https://build.opensuse.org/package/show/devel:kubic:libcontainers:stable/cri

[2021-03-16 03:03] cseufert commented on #2530
I get the same problem with runc init hanging, however I dont see any kernel panics.

If i try to strace the ./runc init pid, it just makes it exit, and the container does not **start.** and i get
`docker: Error response from daemon: OCI runtime create failed: container_linux.go:367: starting container process caused: error loading seccomp filter into kernel: loading seccomp filter: invalid argume

[2021-03-16 03:18] ctalledo commented on #1523
Hi @cyphar,

I am hitting this same problem running runc within a rootless container (user-namespace).

In function `remount()` in libcontainer/rootfs_linux.go, the call to unix.Mount() fails because it does not preserve existing flags on the original mount (e.g., nodev):

[code]

In my specific case, the failure occurs when runc (running inside a rootless container) is setting up a bind mount int

[2021-03-16 07:51] aiaiai-czh opened #2856 "ERRO[0000] container_linux.go:367: starting container process caused: exec: "sleep": executable file not found in $PATH"
hello, today i use runc to run/create a container, but i meet a problem and don't know how to solve. First i use skopeo to copy the remote image to local and use oci-image-tool to create the bundle, the command is
[code]
but when i use runc to create the container, i meet the problem
[code]
and this is my config.json, i use runc spec to create it and i update the args
[code]
can you help me?

[2021-03-16 07:55] aiaiai-czh commented on #2856
the kernel is
Linux czh-virtual-machine 5.8.0-45-generic #51-Ubuntu SMP Fri Feb 19 13:24:51 UTC 2021 x86_64 x86_64 x86_64 GNU/Linux
the runc version is
runc version 1.0.0-rc93+dev
commit: 249bca0a1316129dcd5bd38b5d75572274181cb5
spec: 1.0.2-dev
go: go1.14.2
libseccomp: 2.4.3

[2021-03-16 11:50] AkihiroSuda commented on #2856
Because "hello-world" image does not contain /bin/sleep.

Probably you want to try busybox image.

[2021-03-16 11:50] #2856 closed

[2021-03-16 17:00] kolyshkin commented on #2828
@cpuguy83 can we close it, or do you still see the bug?

[2021-03-16 17:04] kolyshkin commented on #2760
OK, we got a full log now

The error comes from this code:

https://github.com/opencontainers/runc/blob/249bca0a1316129dcd5bd38b5d75572274181cb5/tests/integration/checkpoint.bats#L157-L191

The log  (from https://github.com/opencontainers/runc/pull/2852/checks?check_run_id=2122290178) is here:

[code]

Alas it's still unclear what is going on :(

//cc @adrianreber @avagin

[2021-03-16 21:41] h-vetinari opened #2859 "Seccomp vs. Landlock?"
With the discussions about some of the limitations of (lib)seccomp (#2151, #2735 etc.), especially in the context of determining which error to return for syscalls that may or may not be around at runtime, the following caught my eye.

I presume most people here are aware of the series of "landlock" [patches](https://lore.kernel.org/lkml/20210316204252.427806-1-mic@digikod.net/) that have been thr

[2021-03-16 21:57] h-vetinari commented on #2790
Mid-march has arrived - there's still a fair amount of open PRs in the [milestone](https://github.com/opencontainers/runc/milestone/11). Biggest unknown seems to be #2797, which doesn't have a PR yet.

PS. June 4th is the 5th birthday of [`1.0.0-rc1`](https://github.com/opencontainers/runc/releases/tag/v1.0.0-rc1), would be fun if 1.0.0 could/would be released on that date 🙃

[2021-03-16 23:29] isobit commented on #2530
I'm running into this same exact problem on Ubuntu 18.04, seems to happen intermittently on some of our machines - containers get created but won't start, process tree shows `runc init`, attaching strace causes `runc init` to exit with `error loading seccomp filter into kernel: loading seccomp filter: invalid argument`.

[code]

[2021-03-16 23:34] cseufert commented on #2530
Another interesting note is that if you kill the `runc init` child process, docker returns the following error:
[code]
Also if I try and `docker rm -f container1` and then immeidately start it (`docker run --restart=always ... my/image:v1.0`again (after killing `init runc` process, sometimes it will start up, sometimes it will take 5+ tries (kill, rm, run) to get the container to start, but it wil

[2021-03-16 23:39] isobit commented on #2530
@cseufert we're on 5.4.0, updated my `uname -a` above to include

[2021-03-16 23:56] cseufert commented on #2530
I wonder if its this commit:
https://github.com/opencontainers/runc/commit/7a8d7162f9d72f20d83eaa36aeb5426deecd58f2#diff-3693bdb9f47092da6d6e35007a1689f74ddc39be8e017d475a593481c437ac3b

I am tempted to try and drop in runc `1.0.0-rc92` and see if that changes anything, but not sure I want to do that on a production machine.

[2021-03-17 01:07] kris-nova commented on #1501
hi 👋🏻

would love to get involved with this, and donate some kris nóva hours to the cause. what would be the best way for me to get involved? do we have any upcoming meetings or mailing lists tracking the work?

[2021-03-17 01:16] dims commented on #1501
@kris-nova others ... for the record - https://github.com/samuelkarp/runj

[2021-03-17 03:47] #2748 closed

[2021-03-17 14:56] ElisaMeng commented on #2832
close as explained in https://github.com/containerd/containerd/issues/5113

[2021-03-17 14:56] #2832 closed

[2021-03-18 02:03] kolyshkin opened #2861 "not ok 76 runc start"
The following failure happened on GHA under CentOS 7 (from https://github.com/opencontainers/runc/pull/2852/checks?check_run_id=2134946430):

[code]

Looking at the code, I can't imagine how this may happen, and yet I see a few minor issues which need attention.

[2021-03-18 08:24] cyphar commented on #2859
No, Landlock is trying to solve a separate problem and doesn't really help with the libseccomp issues we have -- Landlock is a new LSM (Linux Security Module) and it's probably better to compare it with AppArmor or SELinux. It does have some similarities with seccomp (it uses BPF -- though it uses eBPF while seccomp is restricted to cBPF) but aside from that it's not really comparable (and it does

[2021-03-18 08:28] cyphar commented on #2823
Yes please! Though it should be noted this is technically going to be a behavioural change in runc, because our current implementation (unless I'm mistaken) doesn't currently make mounts read-only recursively. (Funnily enough, `mount_settattr(2)` partially came out of discussions where I mentioned that `MS_REC|MS_RDONLY|MS_BIND|MS_REMOUNT` doesn't do what you'd expect -- because we were doing that

[2021-03-18 08:29] cyphar commented on #2790
I should have a PR for #2797 ready next week or so -- I was on vacation hence the lack of work on it. :wink:

[2021-03-18 08:55] h-vetinari commented on #2859
I was thinking that - if it performs as advertised - the availability of those syscall entry points would be irrelevant as long as one cannot do anything with them (because they access or manipulate kernel structures that are blocked by landlock) - i.e. getting EPERM for anything you try to do with them, unless they don't exist on that box (-> ENOSYS), which would give the "canonically" correct er

[2021-03-18 09:02] AkihiroSuda commented on #2823
I was thinking of keeping the current `["rbind","ro"]` behavior as-is (i.e., recursively writable), and adding new JSON fields for `MOUNT_ATTR_RDONLY`: https://github.com/opencontainers/runtime-spec/pull/1090

[2021-03-18 09:32] cyphar commented on #2823
Right, but I was thinking of `readonly: true` in particular -- currently that doesn't recursively mount the root as read-only, and it probably should (with the exception of `/proc`).

[2021-03-19 16:32] isobit commented on #2530
So it turns out for us the root cause of this issue was saturated disk throughput (we were exhausting our [EBS burst credits](https://docs.aws.amazon.com/AWSEC2/latest/UserGuide/ebs-volume-types.html#EBSVolumeTypes_gp2)), which makes sense given that this issue seems to be related to backlogged pipes.

[2021-03-19 20:20] areed opened #2865 "loading seccomp filter: invalid argument"
We're seeing machines with several `runc init` processes blocked writing the same message to stderr:

[code]

This appears to cause a chain reaction on Kubernetes nodes where a lock acquired during `docker start` for the pause container of a Pod blocks PLEG and the node flaps between Ready and NotReady.

[2021-03-22 08:01] liftM commented on #2790
Is there an ETA for the rc94 release? I'm particularly interested in https://github.com/opencontainers/runc/issues/2801#issuecomment-776190119 since I'm on Arch and Docker is just straight up broken for me until this patch is released. If the release is soon, I'll just wait for it, but if it's far off, I'm going to look at messing with my kernel parameters instead.

[2021-03-23 22:12] samuelkarp commented on #1501
I don't have any scheduled meetings or active mailing list discussions, but I'm working on an OCI runtime for FreeBSD jails in https://github.com/samuelkarp/runj.  Happy to have discussions there; my current plan is to get the runtime built and drive any potential changes to the OCI runtime spec upstream in the spec repo.

[2021-03-26 18:00] kolyshkin commented on #2805
Got the full log this time (from https://github.com/opencontainers/runc/runs/2193862344?check_suite_focus=true):

[code]

[2021-03-26 18:02] kolyshkin commented on #2861
Got another one, from https://github.com/opencontainers/runc/pull/2871/checks?check_run_id=2193862445

[code]

[2021-03-26 18:17] #2756 closed

[2021-03-26 18:24] adrianreber commented on #2805
@rppt Any idea why the lazy page test sometimes fails with runc. @kolyshkin was able to capture a complete log. The syscall number looks strange.

[2021-03-26 23:28] kolyshkin commented on #2805
Yet another failuire from today: https://github.com/opencontainers/runc/pull/2873/checks?check_run_id=2204874348

I noticed it always happens when run under systemd cgroup. My previous thoughts on why this might happen are here: https://github.com/opencontainers/runc/issues/2805#issuecomment-778555661. This is definitely related to systemd but I'm not sure how (I guess we need to take a look at wh

[2021-03-27 00:55] kolyshkin commented on #2805
I _think_ we're crearing a scope by default (unless `.slice` is explicitly requested). Here's a relevant doc about scope lifetime (from https://www.freedesktop.org/software/systemd/man/systemd.scope.html):

With all this, it is hard to see how systemd may decide to terminate processes in a scope. So the only possibility is when someone stops it deliberately. I'm puzzled.

[2021-03-27 03:44] wu0407 commented on #2828
use docker 19.03.15 with containerd 1.4.4-3, runc init stuck

[code]

[code]
[code]

[2021-03-27 09:55] wu0407 commented on #2828
if strace into `runc init` that process  exit
[code]

[2021-03-28 17:48] kolyshkin commented on #2805
One more https://github.com/opencontainers/runc/pull/2874/checks?check_run_id=2206435311

[2021-03-28 19:20] rppt commented on #2805
Yeah, syscall 18446744073709551615 is a bit too much :)
@avagin, @cyrillos do have any ideas how do we get -1 instead of a syscall number. e.g:
[code]

[2021-03-28 19:55] cyrillos commented on #2805
Maybe we've missed interrupted syscall somewhere? IIRC when syscall get interrupted the `eax` is set up to `-1` in return and it seems that we might be screwed the syscall somewhere. Not sure though, didn't work with criu for long already ) OTOH if it triggers with lazy pages only better to poke one who wrote the lazy pages support.

[2021-03-29 02:15] borgerli commented on #2366
@cyphar We're planning to run k8s+containerd with cgroup v2 in production, but this work is suspended due to this issue.

 Do you have a date when the issue with cgroup v2 will be fixed? Many thanks.

[2021-03-29 07:48] giuseppe commented on #2366
please be aware that k8s has still some issues with cgroup v2 (e.g., https://github.com/kubernetes/kubernetes/issues/99230)

[2021-03-29 22:22] cpuguy83 commented on #2865
Seeing this too with containerd. I can repro easily in an AKS cluster with rc93. rc92 works just fine.

Calls look like this:

[code]

I truncated the `PR_SET_SECCOMP` b/c it is super long.

[2021-03-29 22:32] cpuguy83 commented on #2865
Worth noting, `runc init` is blocked for me until I attempt to strace it, then it exits with that error.
I've also tried modifying it to dump a stack trace to disk for me with SIGUSR1 and that also makes it exit, and no stack dump.

[2021-03-29 23:36] cpuguy83 commented on #2865
Bisected to https://github.com/opencontainers/runc/commit/7a8d7162f9d72f20d83eaa36aeb5426deecd58f2

[2021-03-29 23:41] cpuguy83 commented on #2865
/cc @cyphar

[2021-03-30 05:52] cyphar commented on #2865
I believe #2871 fixes this.

[2021-03-31 02:56] kolyshkin commented on #2805
The alternative fix is to set a different systemd unit name for the restored container.

[2021-03-31 13:35] wu0407 commented on #2865
maybe same issue https://github.com/containerd/containerd/issues/5280

[2021-03-31 13:44] wu0407 commented on #2530
same issue https://github.com/containerd/containerd/issues/5280

[2021-03-31 22:06] dannylee- commented on #2828
We saw a similar issue.  We upp'd the /proc/sys/fs/pipe-user-pages-soft to 65535 and that seemed to solve it.  We haven't figured out why.

[2021-03-31 23:09] cpuguy83 commented on #2828
@wu0407 This is related to https://github.com/opencontainers/runc/issues/2865

The issue reported here in 2828 is definitely different.

[2021-03-31 23:10] cpuguy83 commented on #2828
To resolve I'd recommend downgrading to rc92 if you can.

[2021-04-01 00:11] kolyshkin commented on #2627
https://github.com/opencontainers/runc/pull/2807

The rest of it can wait until post-rc94 I think

[2021-04-01 01:32] kolyshkin commented on #2805
Which is what #2881 implements.

[2021-04-01 01:35] kolyshkin commented on #2805
This ^^^ is wrong (see https://github.com/opencontainers/runc/pull/2880#issuecomment-811568029) for details.

[2021-04-01 04:12] wu0407 commented on #2828
I try rc92 it work.

[2021-04-01 07:32] xiaoxubeii commented on #2366
Thanks, we will keep watch for this process and do help in need

[2021-04-01 12:42] xiaoxubeii commented on #2474
Yes, I think it is no way to set `cgroup.SkipDevices` directly by CRI api. This is a bit tricky for Kubernetes to use cgroups v2 : (

[2021-04-01 17:15] oppianmatt commented on #2865
we get his error pretty consistently on 2 machines running ubuntu 16.04

downgrading containerd.io to 1.4.3 doesn't fix it as it seems that still uses runc93 and not 92

![image](https://user-images.githubusercontent.com/48596/113329745-da3d9f80-9315-11eb-83c7-15e373312b4c.png)

it was plaguing us for weeks, sometimes locking the system up requiring a reboot was the only fix, and deploys were gett

[2021-04-02 02:36] kolyshkin commented on #2865
This might be fixed by https://github.com/opencontainers/runc/pull/2871, which was just merged

@oppianmatt @wu0407 @areed @cpuguy83 can you please test the runc tip and report back if the bug is fixed?

[2021-04-02 02:37] kolyshkin commented on #2828
This might be fixed by https://github.com/opencontainers/runc/pull/2871, which was just merged

@dannylee- @wu0407 @cpuguy83 can you please test the runc tip and report back if the bug is fixed?

[2021-04-02 03:01] kolyshkin commented on #2790
Just talked to @cyphar  -- it seems it makes sense to release rc94 before the cgroup v2 device changes he is working on are ready, as we already have a decent amount of fixes; that includes a fix for regression in rc93 (issues #2865, #2828, presumably fixed by PR #2871).

Let's try to merge the remaining PRs with the rc94 milestone and prepare a release.

[2021-04-02 03:03] cyphar commented on #2790
Yup, I can cook up a release with those fixes once they're merged.

[2021-04-02 04:04] divinerapier opened #2884 "using bytes.Buffer cross goroutines"
Hi,
This [pr](https://github.com/opencontainers/runc/pull/2871) using `bytes.Buffer` cross goroutines which is not goroutines safety.

I did a testing:

[code]
Run it with `-race` option should be panic.
[code]
Thanks.

[2021-04-02 07:36] cyphar commented on #2884
Yeah we should be using an `io.Pipe` instead.

[2021-04-02 07:45] cyphar commented on #2884
There is no race -- we serialise access to the buffer through `errChan` (the main thread waits for an error through `errChan` before reading -- and that only happens after the goroutine is finished writing).

Using your example code, but modified to match what we're actually doing, `go run -race` doesn't produce any panics:

[code]

Output:

[code]

If you remove the `<-errChan`, then there is a r

[2021-04-02 07:45] #2884 closed

[2021-04-02 07:51] cyphar commented on #2859
Well, that is the argument behind LSMs in general (they restrict access to kernel objects). However that assumes there are no bugs in the LSM -- what seccomp does is that completely removes the ability to access kernel code that may be buggy (such as compat or old and unmaintained syscalls). LSMs simply cannot do that because they are applied so far into syscall execution that you've already ran m

[2021-04-02 09:03] h-vetinari commented on #2859
Well-understood, thanks for the explanation - at least I wasn't completely off with my understanding of the mechanics.

Would it make sense to consider using both though? That would also allow the user (or at least profile-maintainer) to specify a hybrid approach where e.g. seccomp is only used to filter out the "old and unmaintained" syscalls, and leaves the rest to the LSM.

[2021-04-02 09:15] cyphar commented on #2859
Well, landlock isn't upstream yet. But once it is I imagine we'd add support to it in the runtime-spec (just like we support SELinux and AppArmor today).

[2021-04-02 12:56] oppianmatt commented on #2865
we were only experiencing this on prod, until today that is. I tried removing an image from our staging server and it got stuck. So using it as an opportunity to test.

Downloaded runc 92 and replaced the binary on the system and restarted containerd service and docker service.

When restarting docker in this state we see huge stackdumps in the log all about mutex locks

can see some were quite st

[2021-04-02 19:45] cpuguy83 commented on #2865
@kolyshkin Verified both by cherry-picking that commit onto rc93 and testing HEAD directly.

[2021-04-02 19:48] cpuguy83 commented on #2828
@kolyshkin I don't think this issue is related. In the case fixed by #2871 runc was blocked writing to the pipe for libseccomp.

In this issue something happens on the system (like OOM?) and runc is blocked on opening the init fifo b/c the main runc is not running.

[2021-04-03 04:39] cyphar commented on #2865
Okay, so it looks like it's fixed then. Please comment if this still isn't fixed after testing on tip. We will do a new release soon.

[2021-04-03 04:39] #2865 closed

[2021-04-03 11:29] wu0407 commented on #2828
commit: 0d49470392206f40eaab3b2190a57fe7bb3df458  fixed
commit: 8c4dca8dcbcbc596af8ae1e3e97f28c765c8a312 fixed

[2021-04-05 17:46] caniszczyk opened #2891 "Audit active maintainers + call for new maintainers"
In regards to opencontainers/tob#95

If I do a quick audit of all of authors and last commit dates, i.e., git log --pretty=%an%x09%ad | awk -F$'\t' '!seen[$1]++'

I get this:

Kir Kolyshkin	Sat Apr 3 19:10:36 2021 -0700
Aleksa Sarai	Sat Apr 3 12:41:41 2021 +1100
Sebastiaan van Stijn	Sun Mar 14 19:41:55 2021 +0100
Mrunal Patel	Thu Apr 1 16:14:31 2021 -0700
Shiming Zhang	Thu Apr 1 20:54:13 2021 +080

[2021-04-06 00:08] kolyshkin opened #2892 "[centos7] not ok 32 runc delete --force"
Seen at https://github.com/opencontainers/runc/pull/2770/checks?check_run_id=2251358197 only once.

[code]

[2021-04-06 00:42] kolyshkin opened #2893 "[centos7] not ok 22 runc create exec"
[code]

[2021-04-06 04:27] #2805 closed

[2021-04-06 04:30] AkihiroSuda commented on #2790
SGTM

[2021-04-06 08:56] #2728 closed

[2021-04-06 18:07] haircommander commented on #2790
any opposition to adding https://github.com/opencontainers/runc/pull/2894 (fixes a regression between rc92 and rc93)

[2021-04-06 18:27] mrunalp commented on #2790
SGTM

[2021-04-06 18:46] Apteryks opened #2895 "Tarball release mutated in place (v1.0.0-rc6)"
Hello,

It was reported to Guix that the tarball for the v1.0.0-rc6 release was mutated in place, and indeed it has:

[code]

It seems a slash went missing in the modified tarball?  I'm not sure what was this change motivated by, but in any case, changes to tarballs should go to a new, differently named, tarball (e.g., patch release), otherwise many downstream users will be affected (e.g., those v

[2021-04-06 18:52] kolyshkin opened #2896 "terminal is broken on s390 (regression in rc93)"
Initially reported in https://bugzilla.redhat.com/show_bug.cgi?id=1941815. On s390, runc run/exec can't open a terminal:

This is a regression which has previously reported (https://github.com/moby/moby/issues/36467) and fixed (https://github.com/containerd/console/pull/20, https://github.com/opencontainers/runc/pull/1727).

Unfortunately, it has resurfaced. I think https://github.com/containerd/c

[2021-04-07 01:35] cyphar commented on #2895
This happened because of #2537, but the tarballs shouldn't have changed (in fact the tarball is actually malformed now). I will fix it up. (However I would mention that nobody should be using runc-1.0.0-rc6 anymore -- it is hideously out of date and is missing quite a few security critical patches.)

[2021-04-07 01:45] cyphar commented on #2895
Okay, the 1.0.0-rc6 tarball has been fixed. I will check the other releases as well.

[2021-04-07 01:45] #2895 closed

[2021-04-07 01:51] cyphar commented on #2895
Oh no, it looks like all the releases up until -rc92 have malformed tarballs...

[2021-04-07 03:13] cyphar commented on #2790
Only big thing remaining is #2896.

[2021-04-07 12:37] Apteryks commented on #2895
Agreed; we're now using 1.0.0-rc93.  Thanks for fixing the tarballs!

[2021-04-07 13:54] payall4u commented on #2366
@cyphar How about using unix.BPF_F_ALLOW_OVERRIDE to replace BPF_F_ALLOW_MULTI ?
[code]

I wonder why we must use the flag BPF_F_ALLOW_MULTI.

[2021-04-07 14:29] cyphar commented on #2366
From memory we need to use `BPF_F_ALLOW_MULTI` because of nested containers.

[2021-04-08 02:26] payall4u commented on #2366
Get it, thanks.

BTW, the idea using a BPF_MAP_TYPE_ARRAY_OF_ARRAY map to store rules sounds great. Is someone doing this? @cyphar

[2021-04-08 16:35] kolyshkin commented on #2828
Right, sorry I mixed these up.

As I said earlier, a subsequent `runc delete` should remove the container directory, including the fifo on which `runc init` waits, which should result in `runc init` exit.

[2021-04-08 16:55] cpuguy83 commented on #2828
We can close for now, I haven't received a reliable way to reproduce the issue.

[2021-04-08 16:55] #2828 closed

[2021-04-08 17:21] kolyshkin commented on #2884
BTW since https://github.com/opencontainers/runc/pull/2799 we do run all unit and int tests in GHA with race detection enabled, which should catch bugs like this.

[2021-04-08 17:47] dannylee- commented on #2828
I'm not sure if it's the same issue, but you can reproduce this by doing the following:
1. Setting /proc/sys/fs/pipe-user-pages-soft to 1.  (echo 1 > /proc/sys/fs/pipe-user-pages-soft)
2. Start a docker container
3. Run "docker exec <container_id> ls"

If you run this on runc 1.0.0-rc93, the docker exec call will hang and there will be a hanging "runc init" processes.  Also, if the container has a

[2021-04-08 17:48] cpuguy83 commented on #2828
@dannylee- Different issue, and that should be fixed on HEAD. Can you try with that?

[2021-04-08 18:44] kolyshkin commented on #2828
@dannylee- this is https://github.com/opencontainers/runc/pull/2871

[2021-04-08 19:10] Prashanth684 commented on #2896
with https://github.com/containerd/console/pull/51 being fixed, i guess we can revendor now?

[2021-04-08 19:44] kolyshkin commented on #2790
I'd like to have https://github.com/opencontainers/runc/pull/2897 included as this fixes a real bug (albeit not a regression) and I'd rather have the fix being tested in rc94.

[2021-04-12 05:57] mouri11 opened #2901 "Restore failed using runc criu"
I am trying to restore a migrated container from a checkpoint. I used the following commands:
* Running the container:
```$ sudo runc run ycsbcont```
* Checkpointing the container:
```$ sudo runc checkpoint --tcp-established ycsbcont```
* Copying the checkpoint folder to the destination (running at destination)
```$ rsync -aqhzu ubuntu@<source_ip>:~/ycsbcont .```
* Restoring the container
[code]
T

[2021-04-12 07:08] #2901 closed

[2021-04-12 18:35] kolyshkin commented on #2760
One more failure, from this run: https://github.com/opencontainers/runc/pull/2836/checks?check_run_id=2299143195

[code]

At this point I am inclined to disable this test for CentOS 7 :-(

[2021-04-12 20:18] #2896 closed

[2021-04-13 07:53] adrianreber commented on #2760
I agree. As far as I know there are no users of runc's lazy migration support in any higher levels and CentOS 7 is now really old. If we would get CRIU bugs on CentOS 7 I would also recommend to upgrade to something newer.

[2021-04-13 10:59] thaJeztah commented on #2699
missed there was a tracking issue for this; I opened https://github.com/opencontainers/runc/pull/2903, which also revealed a potential bug in the closer (pls double-check that one)

[2021-04-13 11:06] jschwinger23 opened #2905 "runc returns with exit code 0 when poststop hook fails"
# 1. Reproduce Steps

### 1.1 create the container template

[code]
### 1.2 add poststop hooks

change the command to `sleep` and disable the tty:

[code]

add poststop hook which will 100% fail:

[code]

### 1.3 run the container then stop && delete it

[code]

the last command will give back the errors but the exit code is still 0:

[code]

# 2. Expected behavior

My understanding is there is no

[2021-04-13 19:42] kolyshkin commented on #2366
Perhaps we can simplify the task by using `BPF_F_REPLACE` (and thus requiring kernel v5.6+), and falling back to whatever we do now for the older kernel (or just don't allow device updates).

It would also help to *not* call setDevices in case devices are not changed. This requires some API changes though (for cgroup manager's Set to be able to see that current set and new set are identical)

[2021-04-13 19:59] AkihiroSuda commented on #2905
https://github.com/opencontainers/runtime-spec/blob/v1.0.2/runtime.md#lifecycle

So, this is excepted by design

[2021-04-13 19:59] #2905 closed

[2021-04-14 00:18] kolyshkin opened #2907 "[centos7] Test{,Systemd}Freeze FAIL: unexpected error: unable to freeze"
Hmm, we are getting this a lot lately :-\

Last example is from https://github.com/opencontainers/runc/pull/2868/checks?check_run_id=2299195550

[code]

[2021-04-14 00:25] kolyshkin commented on #2907
A few more past failures
* 8 days old: https://github.com/opencontainers/runc/runs/2272440180?check_suite_focus=true
* 11 days old: https://github.com/opencontainers/runc/runs/2254259869?check_suite_focus=true
* 12 days old: https://github.com/opencontainers/runc/runs/2252814238?check_suite_focus=true

[2021-04-14 00:37] #2699 closed

[2021-04-14 00:47] kolyshkin commented on #2907
* 14 days old: https://github.com/opencontainers/runc/runs/2230249911?check_suite_focus=true
* 14 days old **this one is without systemd**: https://github.com/opencontainers/runc/runs/2228626065?check_suite_focus=true
* Mar 9: https://github.com/opencontainers/runc/runs/2073456610?check_suite_focus=true
* Mar 4: https://github.com/opencontainers/runc/runs/2034186723?check_suite_focus=true

this ^^

[2021-04-14 00:49] kolyshkin commented on #2907
Might be a regression caused by either https://github.com/opencontainers/runc/pull/2774 (merged Feb 1) https://github.com/opencontainers/runc/pull/2791 (merged Feb 7). Not sure what to do with it though...

[2021-04-14 02:58] fuweid commented on #2891
link comment here https://github.com/opencontainers/tob/issues/95#issuecomment-819192876 :)

[2021-04-14 05:03] cyphar commented on #2366
`BPF_F_REPLACE` has the minor issue that we now need to track which program is the one we applied (either by using the metadata about the program or using the bpf pinning API) -- though the simple solution is to assume that whatever program is attached to the cgroup is the one we want to replace.

[2021-04-15 12:00] h-vetinari commented on #2859
FYI, it [landed](https://lore.kernel.org/lkml/d7f25c43-8bea-2640-292b-df2fcceae428@namei.org/) in -next a couple days ago, might make it into 5.13.

[2021-04-15 18:15] kolyshkin commented on #2891
@fuweid we'd love to have more maintainers for sure -- I guess the first (second?) step for you is to be more active here -- review PRs, try to fix opened issues etc.

[2021-04-16 03:00] fuweid commented on #2891
@kolyshkin Yes! For sure. I will follow the common step to be more active in the repo :p

[2021-04-20 06:48] h-vetinari commented on #2790
It seems the usual "just one more PR" also applies to this release, but the end seems to be in sight now - how about pushing this over the finish line?

[2021-04-23 14:08] ajschmidt8 commented on #1650
@cyphar, just wanted to follow up here as I'm interested in this issue as well. How can I tell if `containerd` and `Docker` currently support this now?

[2021-04-27 17:09] tao12345666333 commented on #2790
SGTM
Looking at milestone [1.0.0-rc94](https://github.com/opencontainers/runc/milestone/11) , we will find that only #2906 is left now. Will we release rc94 after #2906 is completed?

[2021-04-28 00:06] kolyshkin commented on #2560
@avagin PTAL if this is possible at all.

[2021-04-28 00:08] kolyshkin opened #2924 "[fedora] not ok 16 checkpoint --lazy-pages and restore"
This is from a recent CI run (https://github.com/opencontainers/runc/pull/2923/checks?check_run_id=2452887046)

[code]

Might be related to https://github.com/opencontainers/runc/issues/2760

[2021-04-28 00:09] kolyshkin commented on #2760
Alas, we also have this test failing on Fedora; the errors look very similar, PTAL: https://github.com/opencontainers/runc/issues/2760

[2021-04-28 00:10] kolyshkin commented on #2924
@adrianreber @avagin @rppt PTAL 🙏🏻

[2021-04-28 04:13] rppt commented on #2924
I think it is related to #2760
Do we have `lazy-pages.log`?

[2021-04-28 04:55] AkihiroSuda commented on #2790
We want to fix the performance regression in rc93 before releasing rc94: https://github.com/opencontainers/runc/pull/2921

[2021-04-28 18:01] kolyshkin commented on #2924
When restore fails, we do this:

https://github.com/opencontainers/runc/blob/c2c35aefee6b2822f4fa9412e08afa4f7798a45d/tests/integration/checkpoint.bats#L92-L93

which, together with the above log, tells us there were no `Error`s in lazy-pages.log.

Let me know if adding something like this:
[code]

will help in figuring this out?

[2021-04-28 20:04] kolyshkin commented on #2924
I think that the problem is, even if the container name is different, it is restored into the same cgroup (and maybe systemd is killing that cgroup).

[code]

[2021-04-29 05:51] rppt commented on #2924
We'll have more information, but if you suspect it's an issue with cgoups and systemd, this information might be less relevant.

[2021-05-01 15:25] cyphar commented on #2790
Everything is merged. I will prepare a release PR on top of d279ebd97d8832020e2c6f50cc3a11d0499a4690.

[2021-05-01 19:07] AkihiroSuda opened #2928 "runc@master failing with Moby CI: TestTemplatedConfig: Options:[rbind ro]}: mount destination templated_config not absolute: unknown"
[code]

https://github.com/moby/moby/pull/42308
(moby/moby@59751bb23395a137253ca0b4fb99058ecec5a569 , runc @ d279ebd97d8832020e2c6f50cc3a11d0499a4690)

Regression in https://github.com/opencontainers/runc/pull/2917/commits/2192670a2430054c1e539ca7a3bf0ddc43b0bc3d  ( #2917 )
[code]

OCI spec: https://github.com/opencontainers/runtime-spec/blob/master/config.md#mounts

[2021-05-01 19:24] AkihiroSuda commented on #2928
- Option 1: revert #2917 and violate OCI spec
- Option 2: revert #2917, and modify OCI spec to allow slash-less relative path
- Option 3: modify Moby to avoid using relative paths

Option 3 is the most ideal, but may face compatibility issues.

cc @thaJeztah @tiborvass

[2021-05-02 02:36] cyphar commented on #2928
Yeah I agree option 3 is the best solution.

[2021-05-03 07:00] AkihiroSuda commented on #2928
Let's close this and proceed the release process.

[2021-05-03 07:01] #2928 closed

[2021-05-03 08:03] thaJeztah commented on #2928
Generally, option 3 sounds good to me (actually surprised that this worked).

If we fix this in Moby/Docker, the only concern would be for existing versions of docker that would upgrade to a newer version of RunC.

Having a quick look, and it looks like regular bind-mounts already produce an error (on docker 20.10, runc rc93);

[code]

I _think_ this would only affect swarm configs; for swarm _sec

[2021-05-03 12:23] h-vetinari commented on #2859
Landlock PR for 5.13 was [sent](https://lore.kernel.org/lkml/11a1adfd-d2e8-2181-81a-529792e4b6e5@namei.org/) and [honoured](https://lore.kernel.org/lkml/161992097730.25025.14142306394400248363.pr-tracker-bot@kernel.org/). 🥳

I guess the next step (after waiting a while for things to stabilize) is adding this to the runtime-spec?

[2021-05-03 13:32] cyphar commented on #2859
Yup, runtime-spec would be the next step but I'd need to look into what model we should use for supporting it (the AppArmor/SELinux "just give me the label" model is not ideal for a few reasons, but same goes for the seccomp model :frowning:).

[2021-05-03 15:31] kolyshkin commented on #2907
Another one from May 2: https://github.com/opencontainers/runc/pull/2929/checks?check_run_id=2488750446
[code]

[2021-05-03 20:28] cpuguy83 commented on #2928
Reminder that moby is not the only project that uses runc.

[2021-05-03 20:29] cpuguy83 commented on #2928
Basically, a configuration that worked before no longer works.
We should also test cri-containerd and cri-o.

[2021-05-03 20:32] AkihiroSuda commented on #2928
Cri-containerd is passing the tests with runc master https://github.com/containerd/containerd/pull/5442

[2021-05-03 20:32] cpuguy83 commented on #2928
Right but are the tests testing this case?

[2021-05-03 20:44] cpuguy83 commented on #2928
Applying through the normal flow seems to be ok in cri-containerd at least (it prepends a `/`).

[2021-05-03 23:46] kolyshkin commented on #2790
For the changelog, this is what I have based only on `impact/changelog` labels set:

Notable changes:
* cgroupv1: kernel memory limits are now ignored (#2840)
* libcontainer/cgroups: cgroup managers' `Set` now accept `configs.Resources` rather than `configs.Cgroups` (#2906)
* libcontainer/cgroups/systemd: reconnect and retry in case dbus connection is closed (after dbus restart) (#2923)

Bugfixes:

[2021-05-03 23:47] cpuguy83 commented on #2790
Callout for https://github.com/opencontainers/runc/issues/2928 ?

[2021-05-03 23:57] kolyshkin commented on #2928
AFACS fixing in it higher-level software is straightforward (make the paths absolute).

At least some of cri-o tests are run against HEAD runc and we did not see failures (surely there might be no such test case)

[2021-05-04 06:17] cyphar commented on #2790
It would be nice if we'd have a proper `CHANGELOG.md` so I didn't have to write one from scratch each time.

[2021-05-04 06:46] h-vetinari commented on #2790
Ummmmm... #2368. I offered to do this (including backfilling for a few releases using a to-be-agreed [format](https://github.com/opencontainers/runc/pull/2368#issuecomment-622348906)), but the appetite was very low.

[2021-05-04 06:52] cyphar commented on #2790
Yeah I remember the issue, the problem was that back-filling the changelog with prettified git log messages isn't quite ideal. Back-filling it with the actual release notes is probably more useful to be honest. But I don't even think we need to backfill it, we could just start a new changelog from scratch with the next release and add stuff with each PR.

[2021-05-04 08:00] h-vetinari commented on #2790
That was the only starting point; could have been brought into better shape (e.g. the format in the linked comment) during the PR, and including previous release notes would be trivial.

[2021-05-04 19:13] kolyshkin commented on #2790
My proposal is to
1. Have impact/changelog label for every PR that is worth mentioning (bug fix, notable improvement, new feature, potentially breaking change etc).
2. Have a "Changelog entry" field in such PRs.
3. collect those entries before the release.

This is sort of what I did. Was not perfect but AFAICS it works.

[2021-05-04 20:31] tao12345666333 commented on #2790
I agree with @kolyshkin ‘s proposal. We can reach an agreement during the PR merger without having to count again afterwards.

[2021-05-06 07:51] AkihiroSuda opened #2942 "CI seems skipping `cgroupv2 with rootless (systemd)`"
![image](https://user-images.githubusercontent.com/9248427/117261107-bb897600-ae8a-11eb-8093-52b1b5312fa8.png)
https://github.com/opencontainers/runc/runs/2512206353
https://github.com/opencontainers/runc/blob/2d38476c96e3407eba876e77b301880c6d7e5ccc/tests/integration/helpers.bash#L374

Most tests in `cgroupv2 with rootless (systemd)` seem skipped.

This is not a recent regression. The log from Fe

[2021-05-06 07:51] AkihiroSuda commented on #2942
cc @kolyshkin

[2021-05-06 11:39] giuseppe opened #2943 "[RFE] support for seccomp default errno return code"
Allow to override the default errno for seccomp actions.

It was added to the OCI runtime specs with: https://github.com/opencontainers/runtime-spec/pull/1087

[2021-05-06 19:28] #2907 closed

[2021-05-06 23:25] kolyshkin commented on #2942
Good catch, working on a fix

[2021-05-07 01:45] kolyshkin commented on #2942
Hmm, we're not in a very bad shape, the previously skipped tests only found 1 bug. PTAL https://github.com/opencontainers/runc/pull/2944.

[2021-05-07 04:32] AkihiroSuda commented on #2942
Thanks for fixing! 👍

[2021-05-07 16:52] h-vetinari commented on #2797
Any update on this effort?

[2021-05-10 01:17] #2942 closed

[2021-05-10 01:26] cyphar opened #2947 "release builds no longer reproducible"
Our release binary builds are no longer reproducible, I expect this is either because libseccomp itself is not reproducible (possible but seems unlikely to me) or because of the new build process we've added some randomness (in the form of `mktemp` being used as the root for the libseccomp installation).

[2021-05-10 08:17] zvier opened #2948 "devices cgroup doesn't precisely match target"
In my envrionment, when run `docker run` to start a container, it returns an error with `resulting devices cgroup doesn't precisely match target: unknown`. What's the problem cause this phenomenon ?

Envrionment infofation:

docker version 20.10.1
runc version 1.0.0-rc93
CentOS Linux release 7.4.1708 (Core)

Related command and error message:
[code]
return message is:
[code]

[2021-05-10 08:36] #2736 closed

[2021-05-10 10:40] cyphar commented on #2797
It seems that we would need to implement the BPF generation ourselves. Now, I do now have experience with doing this, but I'm a little bit apprehensive about doing it entirely ourselves. Unless it turns out to be simpler than it looks, it's probably going to be a post-1.0 thing. (Especially since the behaviour with updating also needs to be taken into consideration -- see #2366.)

[2021-05-10 10:41] zvier commented on #2948
OK，thank you ~

[2021-05-10 10:41] #2948 closed

[2021-05-10 14:53] saschagrunert opened #2949 "runc.amd64 missing for v1.0.0-rc94"
The release is missing the static binary asset for rc94, which has been existing for rc93. Is there any reason to drop it?

[2021-05-10 14:55] cyphar commented on #2949
We haven't dropped it -- I was in the middle of uploading it over a flaky data connection (my ISP decided to start doing maintenance in the middle of the release artifacts upload). It's uploaded now.

[2021-05-10 14:55] #2949 closed

[2021-05-12 05:18] cyphar commented on #2797
Actually, looking at this again, this might not be too hard to do since cilium supports testing eBPF programs (though rather than doing emulation -- which is what `golang.org/x/net` does -- eBPF testing is actually done in-kernel).

[2021-05-12 07:02] cyphar commented on #2797
Ah, the kernel doesn't support `BPF_PROG_TEST_RUN` for `prog_type=BPF_PROG_TYPE_CGROUP_DEVICE`. That sucks. In that case we can't really add unit tests right now, but I'll work on sending a patch upstream to support this.

[2021-05-12 16:51] animesh-bhadouria opened #2952 "Unable to run nvidia-container-toolkit with rootless runc"
#### Description
Unable to run nvidia-container-toolkit with runC in rootless mode, the same configuration works as a root user.
Container root user is a non-root user in HostOS and is added to the GPU group.
Trying to understand if its possible to run nvidia-container-toolkit in rootless mode and if so, then what configuration changes are required?

Kernel: Linux tegra-ubuntu 4.9.140 aarch64 aarc

[2021-05-13 07:08] dany74q commented on #2314
Have your tried this with runc rc94 by any chance ?

[2021-05-18 07:01] #2943 closed

[2021-05-19 14:50] cyphar commented on #1709
I'm closing this in favour of #1905.

[2021-05-19 14:50] #1709 closed

[2021-05-19 14:51] cyphar commented on #1905
There's only two PRs left in the 1.0.0 milestone (one is integration-related fixes, and the other is the cgroupv2 devices bugfix). I'd be happy to send out the vote right afterwards -- now that rc95 has been published with the CVE fix.

[2021-05-19 14:52] cyphar commented on #2790
@h-vetinari The reason I didn't put that note is because I knew we would be doing another release today to fix the CVE. There are only two PRs in the 1.0.0 milestone, we will do a release once they are merged (barring any other critical fixes).

[2021-05-19 16:06] dresnick-sf commented on #2530
I tried that and it finally solved my problem.

[2021-05-19 16:06] h-vetinari commented on #2790
Makes complete sense, but I couldn't know that 😅

Very happy to hear it, amazing to see this (leg of the) journey come to an end! 😊

[2021-05-19 23:21] cseufert commented on #2530
I ended up dropping in the rc92 binaries and yes, its seems to be working fine.

[2021-05-20 08:59] omriperi commented on #1635
Hey, any update on this issue?

[2021-05-20 19:04] kolyshkin commented on #2947
I tried to get rid of `mktemp`:

[code]

but the runc binary created is still different every time, even the `.note.go.buildid` is different.

It looks like `libseccomp.a` is different each time:
[code]

Looking into it, it seems that `ar` timestamps differ. I am not aware whether this can result in different go buildid.

Note that `ar` has `D` option for 0 timestamps and uids/gids, and this optio

[2021-05-21 08:47] cyphar commented on #2947
Yeah it seems that libseccomp doesn't build reproducibly. That's a bit of a shame. I'll open an upstream issue about it.

[2021-05-21 18:42] tianon commented on #2947
FWIW, Debian appears to be building 2.5.1, 2.3.3, and 2.3.1 reproducibly in different release pockets:

https://tests.reproducible-builds.org/debian/rb-pkg/unstable/amd64/libseccomp.html

Might be worth digging in https://salsa.debian.org/debian/libseccomp/-/tree/debian/sid/debian to see if there's anything special they do; although from my reading, it might even just be setting `SOURCE_DATE_EPOCH

[2021-05-24 12:56] AkihiroSuda commented on #2797
Merged https://github.com/opencontainers/runc/pull/2951

[2021-05-24 12:56] #2797 closed

[2021-05-24 12:56] AkihiroSuda commented on #2366
Merged https://github.com/opencontainers/runc/pull/2951

[2021-05-24 12:56] #2366 closed

[2021-05-24 16:04] paulohefagundes opened #2959 "[error] OCI runtime create failed: setting cgroup config for procHooks process caused: load program: invalid argument"
Hello, I just upgraded Arch Linux ARM yesterday and after rebooting I can no longer run docker containers and I'm wondering if anyone can help

**error**
[code]

**journalctl logs** for docker.service when the above command is run
[code]

**docker version**
[code]

**docker info**
[code]

**runc --debug**
[code]

I also posted this question on the [Arch Linux ARM forums](https://archlinuxarm.org/f

[2021-05-24 18:24] AkihiroSuda commented on #2959
Do you know whether this is specific to ARM?

[2021-05-24 21:03] Constantin07 opened #2960 "Getting "mkdir /run/runc: permission denied" on CentOS when run as unprivileged user"
By default, `runc` uses  "/run/runc" for container state. On CentOS the /run directory is owned by root and non-privileged user cannot write to it, so I'm getting this error:

[code]

[code]
I'm running [img](https://github.com/genuinetools/img) which uses `runc` and I was wondering if there a way to overwrite the --root global option via environment variable and not command line argument ?

[2021-05-25 04:25] cyphar commented on #2959
I wonder if the issue is that cgroupv2 bpf rules aren't supported with the Arch Linux ARM kernel builds? Their kernel is missing `cgroup.freeze` which means it's either quite old or has a bunch of features disabled.

[2021-05-25 04:29] AkihiroSuda commented on #2959
Kernel needs be 4.15 at least for cgroup v2
https://github.com/opencontainers/runc/blob/master/docs/cgroup-v2.md
https://git.kernel.org/pub/scm/linux/kernel/git/torvalds/linux.git/commit/?id=ecf8fecb7828648cba0e42de7464a7e600c93459

[2021-05-25 04:29] #2959 closed

[2021-05-25 05:09] cyphar commented on #2960
There isn't a way to configure it via environment variable, but newer versions of runc should be `$XDG_RUNTIME_DIR` if applicable. Does `img` use runc as a binary or is it embedded? It might be necessary to update the way it's using runc if it's the latter.

[2021-05-25 05:12] cyphar commented on #2959
Yeah we don't do hybrid mode cgroups -- so we require having all the necessary features for cgroupv2 or just use cgroupv1.

[2021-05-25 07:18] Constantin07 commented on #2960
@cyphar `img` can be compiled with embedded `runc` or standalone as per [Installation](https://github.com/genuinetools/img#installation) though doesn't support a way to pass --root argument for `runc`.

[2021-05-25 14:28] paulohefagundes commented on #2959
thank you guys for helping out. Thanks for your info I figured I could workaround and downgrade to cgroup v1 by adding `systemd.unified_cgroup_hierarchy=0` to the kernel parameters and that got me to get docker working again

[2021-05-25 15:20] metux commented on #2952
It also wants to do other root-only things like loading kernel modules, creating device nodes, etc.
This thing is heavily tied to NVidia's broken-by-design binary-only drivers that compromise security.
Don't use it in production.

[2021-05-25 15:22] metux commented on #2891
How exactly is the term "maintainer" defined here ?

[2021-05-25 15:36] metux commented on #2215
Just use the standard libc pwent functions for that (which can be and indeed *are* configured via /etc/nsswitch.conf), instead of completely bypassing the standard OS functionality by manually reading certain files.

[2021-05-25 15:38] metux commented on #2104
which shmem exactly ? files ? sysv-ipc ?

[2021-05-25 15:44] cyphar commented on #2891
Someone listed in the [`MAINTAINERS` file](https://github.com/opencontainers/runc/blob/master/MAINTAINERS) (which means you have the ability to merge and review PRs, manage the issue tracker, etc.)

[2021-05-26 01:57] kolyshkin commented on #2627
Looks like this is fully fixed by https://github.com/opencontainers/runc/pull/2962 and https://github.com/opencontainers/runc/pull/2962, so closing.

[2021-05-26 01:57] #2627 closed

[2021-05-26 06:10] cyphar commented on #2960
So the thing is that the `runc` binary doesn't need you to pass `--root` (not for a while) -- we auto-detect if you're running as an unprivileged user and use `$XDG_RUNTIME_DIR` automatically. So if that isn't working then `img` is using runc as a library and thus isn't taking advantage of the code we have in runc to autodetect it.

[2021-05-26 21:48] iyashu opened #2964 "Inconsistent IO stats Op values between cgroup v1 and v2"
We use libcontainer cgroup library [GetStats](https://github.com/opencontainers/runc/blob/e005fee9d37f3ee35cfc6d4cfee687043656928f/libcontainer/cgroups/cgroups.go#L23) api in [cadvisor](https://github.com/google/cadvisor/) to fetch the usage stats for a given cgroup set. But it turns out that cgroup v2 [implementation](https://github.com/opencontainers/runc/blob/e005fee9d37f3ee35cfc6d4cfee68704365

[2021-05-27 00:31] dims commented on #2964
cc @mrunalp @AkihiroSuda

[2021-05-27 04:29] AkihiroSuda commented on #2964
Capitalizing SGTM

[2021-05-27 16:16] avagin commented on #2560
I don't think that we need to play with SIGSTOP here. We can tell CRIU to restore a freezer cgroup into the frozen state.

[2021-05-27 19:57] iyashu opened #2967 "Capture number of IO operations performed with cgroup v2 hierarchy"
In cgroup v1, [GetStats](https://github.com/opencontainers/runc/blob/e005fee9d37f3ee35cfc6d4cfee687043656928f/libcontainer/cgroups/cgroups.go#L23) api captures the number of IO operations performed under `IoServicedRecursive` field of [BlkioStats](https://github.com/opencontainers/runc/blob/e005fee9d37f3ee35cfc6d4cfee687043656928f/libcontainer/cgroups/stats.go#L128-L138) struct. But the same stat

[2021-05-27 19:59] iyashu commented on #2967
cc/ @dims @mrunalp @AkihiroSuda

[2021-05-27 20:33] dims commented on #2967
@iyashu +1 to ensure the v2 impl faithfully reflects what we get in cgroup v1 impl.

[2021-05-28 04:26] #2964 closed

[2021-05-28 04:28] cyphar commented on #2967
I will write a PR for this. Hopefully this will be the last thing PR for 1.0.0 (I was just getting ready to do the release).

[2021-05-28 07:50] zvier opened #2969 "runc update blocks at ep_poll and never exit"
In my environment, some of the `runc update` process is always exist. And `docker inspect` for this container will not return which cause k8s PLEG. The complete command is:

[code]

The stack of this process is:
[code]

And the strace of this process is:
[code]

Other information:
[code]

[2021-05-29 07:53] mouri11 opened #2970 "Run runc container over SSH"
I am working on a cluster of runc containers running in AWS EC2 Ubuntu 18.04 x86_64 instances. I intend to have one master node run the containers in all the other nodes via SSH. I am using the following bash script in the master node:
[code]
The "active" file contains list of remote IPs for the EC2 instances. Running this results in an error similar to the one below
```level=error msg="open /dev/

[2021-05-29 12:04] cyphar commented on #2969
`runc update --resources -` means "read the resource JSON from stdin". It's not hanging, it's just waiting for input. Since you said this is part of some Kubernetes thing, I guess whatever is calling `runc update` isn't providing the new resource configuration to stdin.

[2021-05-29 17:33] cyphar commented on #2215
`libcontainer/user` is only intended for resolving usernames *within a container*, so unless Ubuntu Core containers (if those exist) have such a layout, then an internal runc library is not the best place to implement such a feature. If you're trying to do username parsing just use the Go stdlib `os/user` package (which uses `pwent` internally).

[2021-05-30 11:18] cyphar commented on #2530
We have fixed what I believe to be the root cause of this issue in 1.0.0-rc94 (though you should update to 1.0.0-rc92 since it fixes a security bug). The PR was #2871.

[2021-05-30 11:18] #2530 closed

[2021-05-30 11:22] cyphar commented on #2530
Actually the original issue pre-dates the issue fixed by #2871, but there has been no update from the original reporter so I'm keeping this closed (the original issue looked as though containerd was not reading from the container's stdio pipes).

[2021-05-31 12:58] zvier commented on #2969
[code]
I was  find this update code in `github.com/containerd/go-runc`. The cmd.Stdin was assigned with `buf`. Wheather it meas this `buf` is nil which cause this problem ?

[2021-05-31 13:25] cyphar commented on #2969
If the buffer was nil, you'd get a panic (and `getBuf` is getting a buffer from a `sync.Pool` -- which shouldn't return nil unless there's a bug in their code pushing buffers back into the pool). But if the buffer is empty, runc might hang -- I'm not sure. Either way it's probably a good idea to open a bug report in that repo and link to this one.

[2021-05-31 13:28] cyphar commented on #2970
Yeah, runc has kinda special terminal handling. We have [some documentation on how it works](https://github.com/opencontainers/runc/blob/master/docs/terminals.md) though I don't think it describes the situation you're in. I'll need to test it out to see what exactly is going on -- I *think* runc in foreground new-terminal mode expects stdin to be a terminal hence the error.

You can either disable

[2021-06-01 09:07] #2967 closed

[2021-06-01 09:38] zhangguanzhang opened #2972 "[question] Is it compatible with the old version?"
Is it compatible with the old version, mainly using the new version of runc to replace the runc binary file in the old version of docker(such as `19.03.14`)

[2021-06-01 09:49] cyphar commented on #2972
In general, new releases of runc are compatible with old ones -- though it should be noted that if you use a different version of runc than the docker release was tested with, your configuration isn't as well-tested as the released configuration (in practice there haven't been significant issues for a few years, but it has happened in the past).

[2021-06-01 10:52] zhangguanzhang commented on #2972
thanks

[2021-06-01 10:52] #2972 closed

[2021-06-01 20:55] kolyshkin opened #2976 "[CI/fedora] found more than one filter (2) attached to a cgroup"
On GHA CI, Fedora:

[code]

I thought we'd never see this warning; looks suspicious to me.

[2021-06-01 23:28] kolyshkin commented on #2970
Yes, the best way is to disable the terminal in `config.json`.

There are a few ways to create a terminal, the simplest one being `ssh -t`. As you reported, it fails when run via bash script -- which probably means that bash script process do no not have a terminal itself (for example, when run via cron or other script). Anyway, for such cases where is `ssh -tt`; as described in ssh(1), "multiple