[2021-06-02 01:16] kolyshkin commented on #2772
In view of recent issues (https://github.com/opencontainers/runc/issues?q=is%3Aissue+is%3Aopen+label%3Aquestion) that are actually support questions, may I raise @opencontainers/runc-maintainers attention to this RFC?

[2021-06-02 01:41] cyphar commented on #2970
Might be a good idea to document some of this in `docs/terminal.md`?

[2021-06-02 02:03] kolyshkin commented on #2970
Nope; in your case it happens because stdin is getting redirected:

[code]

so stdin (fd 0) is not a terminal (and I guess that ssh only looks at stdin while searching for a terminal), and thus ssh deduces that there's no terminal to pass through.

Perhaps the easiest solution is to rewrite your script so stdin won't be a redirect.

[2021-06-02 02:23] kolyshkin commented on #2970
Good idea, @cyphar! PTAL https://github.com/opencontainers/runc/pull/2985

[2021-06-02 03:32] cyphar commented on #2976
Was this happening regularly, or is it a flaky issue? I don't see it in the CI for #2986 (where I added some debugging info to try to figure out what's going on here).

[2021-06-02 16:06] dqminh commented on #2772
LGTM

[2021-06-02 18:25] kolyshkin commented on #2976
OK, I think that was a flake, related to checkpoint/restore. The cause of it might be the container being restored into the same cgroup it was checkpointed from, which might not have been fully removed by the restore time.

Now, why the cgroup was allegedly not removed is not clear to me.

To debug, we can add a check that the cgroup is present before creating it. In fact, it might make sense to p

[2021-06-03 19:14] kolyshkin opened #2995 "systemd ""

[2021-06-03 19:21] kolyshkin opened #2996 "systemd "unit already exists" error is not ignored during startUnit"
This seems like a recent regression (in rc95 maybe).

Test case:

[code]

fails on my system with:

[code]

[2021-06-03 19:35] kolyshkin commented on #2996
This is caused by commit bacfc2c2f9b17519ceee14f5119082530c084754.

[2021-06-04 04:38] #2995 closed

[2021-06-04 05:01] #2996 closed

[2021-06-04 23:21] kolyshkin commented on #2976
This might be different but I am seeing the same warning from the test added by https://github.com/opencontainers/runc/pull/3000

[2021-06-05 05:58] cyphar commented on #2976
I think the warning is coming from the the lack of `BPF_F_REPLACE` flag which I have a fix for in #2986 -- if you run update more than once you'll end up with more than one program, triggering the warning.

[2021-06-07 22:30] kolyshkin commented on #2435
I was thinking about this today, looks like we can adopt something similar to what kubernetes is doing (https://github.com/kubernetes/website/blob/master/content/en/releases/patch-releases.md), in very short:

1. Do monthly (or bi-monthly) patch releases, (perhaps more frequent in the beginning of the 1.x series if there is a need).
2. Have a major release (1.1, 1.2) cut every 4 to 12 months (in o

[2021-06-07 22:40] kolyshkin opened #3007 "[post 1.0] RFC: separate out libcontainer/cgroups, maybe merge with containerd/cgroups"
Despite the warnings we have, libcontainer is used by lots of other projects, like kubernetes, cri-o etc. One particular piece is libcontainer/cgroups.

I think we should separate libcontainer/cgroups out to say opencontainers/cgroups, and possibly merge with containerd/cgroups (which from the first glance has better API but probably not as practical implementation esp for cgroup v2). Maybe the wa

[2021-06-07 22:42] mrunalp commented on #3007
:+1:

[2021-06-07 22:45] thaJeztah commented on #3007
Definitely 👍. I don't see benefit in multiple projects maintaining code for handling this, so if we can share the effort in maintaining it, would (IMO) benefit everyone. Handling cgroups is already "hairy" (with lots of oddities).
Happy to help with this (even if only to "chop wood / carry water")

[2021-06-08 03:07] AkihiroSuda commented on #3007
Separating out the go module might be fine, but separating the repo will cause "vendoring hell", so I still prefer monorepo

[2021-06-08 05:21] AkihiroSuda commented on #2435
I'm not sure time-based release is good for us.
We can just release v1.1 when we have huge changes in the master branch.

I can't wait for 12 months for seccomp user notif (https://github.com/opencontainers/runc/pull/2682) 😛

[2021-06-08 05:39] cyphar commented on #2435
I think we should have time-based releases, but I don't think we should follow as complicated a release model as Kubernetes has. We will probably have to have release branches, though it would be nice to minimise the amount of backporting necessary -- most downstreams of runc are used to using the latest release so we should probably not give people incentives to not follow that model going forwar

[2021-06-08 06:09] bharathguvvala commented on #2474
We are seeing the update resources flow breaking in kubernetes as mentioned in this [comment](https://github.com/opencontainers/runc/issues/2474#issuecomment-766823361) with runc 1.0.0-rc93. Should this be reopened?

[2021-06-08 06:11] bharathguvvala commented on #2474
@kolyshkin @AkihiroSuda can we discuss approaches to fix this, so that this will not be an issue for kubernetes?

[2021-06-08 07:54] AkihiroSuda opened #3008 ""failed to call BPF_PROG_ATTACH (BPF_CGROUP_DEVICE, BPF_F_ALLOW_MULTI): can't attach program: invalid argument: unknown" (master, kernel 5.4, cgroup2)"
`docker run` does not work at all with runc 4d6b9297 , cgroup v2, and kernel 5.4, due to the `failed to call BPF_PROG_ATTACH (BPF_CGROUP_DEVICE, BPF_F_ALLOW_MULTI): can't attach program: invalid argument: unknown.` error.

[code]

[code]

[code]

Found in https://github.com/moby/moby/pull/42450 , discussed in https://github.com/opencontainers/runc/pull/2986

[2021-06-08 07:59] AkihiroSuda commented on #3008
Probably `haveBpfProgReplace()` is not robust enough.
It should consistently return false for [kernel < 5.6](https://github.com/torvalds/linux/commit/7dd68b3279f1792103d12e69933db3128c6d416e).

[2021-06-08 08:31] cyphar commented on #3008
Yeah that explains it. I went through the source to figure out how they handle `BPF_F_REPLACE` not being supported, but somehow I missed that. We might need to use the syscall directly.

[2021-06-08 08:42] cyphar commented on #3008
Turns out they used `%w` for most errors, they just missed a handful. I've sent a PR to fix that on their side.

[2021-06-08 10:40] thaJeztah commented on #3007
@AkihiroSuda any specific repositories where you think this would become vendoring hell? (Thinking of circular dependencies). Of course, the repo would need to try to stick to SemVer(isn) (no breaking changes).

[2021-06-08 11:35] AkihiroSuda commented on #3007
The repo of runc and libct/cgroups themselves will face issues, as testing runc requires libct/cgroups and vice versa.

For similar reason, we merged back libnetwork into Moby.

[2021-06-08 12:07] cyphar commented on #2474
If CRI is using `runc update`, #2994 should've already fix this issue -- `runc update` now skips devices cgroup updates.

But if CRI implementations are calling something other than `runc update` that seems a bit questionable -- I'd really prefer to now add a new runc flag to disable a security feature (we already have `--no-pivot-root` and `--no-new-keyring` -- both of which have caused more head

[2021-06-08 12:14] cyphar commented on #3007
Alternatively we can just move all of `libcontainer` into an `internal` package (which Go won't let you import) and we just leave `libcontainer/cgroups` in an importable path. I had planned to do something like this for a while. Same goes with `libcontainer/user` (Docker uses this, as well as a few other functions).

[2021-06-08 12:38] AkihiroSuda commented on #3007
SGTM

[2021-06-08 18:42] kolyshkin commented on #3007
Yeah, moving parts of libcontainer (that are not used by other projects) to under `internal` would be a good thing to do, we should try that after 1.0

[2021-06-09 10:00] bharathguvvala commented on #2474
Thanks @cyphar -for the comment. I have verified it with the dev build from master and the issue seems to be absent with the fix #2951. May I know in when this is expected to rollout as part of a release.

[2021-06-09 10:22] cyphar commented on #2474
We're working on a 1.0.0 release at the moment, it was going to be released last week but there's a regression under Docker's CI (we've fixed the issue though -- see #3009). I would expect a new release in a week or so.

[2021-06-09 10:28] rzlourenco opened #3013 "bpf system call required"
I'm trying to use Docker on Alpine Linux (edge) but I'm unable to run containers in a rootfull setup. When I use the stable kernel (5.10.42-0-lts) it can run containers but when I use the edge kernel (5.12.8-0-edge) I run into problems. I am using cgroupv2 exclusively.

[code]

I tried to use runc directly from a fresh exported container based on alpine:latest. This is the error I am encountering:

[2021-06-09 10:31] rzlourenco commented on #3013
Sorry, my bad. It seems `bpf` is enabled in LTS. I am closing this issue.

[2021-06-09 10:31] #3013 closed

[2021-06-09 10:34] cyphar commented on #3013
Yeah it is stable, and the reason it's required is that you need to use `bpf(2)` to configure the devices controller on cgroupv2 (actually in cgroupv2 there is no devices controller) and since the devices cgroup is hard security requirement, `bpf(2)` is a hard requirement for cgroupv2 support.

[2021-06-09 10:44] rzlourenco commented on #3013
On Wed Jun 9, 2021 at 11:34 AM WEST, Aleksa Sarai wrote:

Thank you for the explanation!

[2021-06-09 13:07] rhatdan commented on #3007
Can we still consolidate the cgroup handling from containerd and libcontainer?

[2021-06-09 13:15] askervin commented on #2752
@free2k, confirming that limiting bps and iops works with json, as @kolyshkin suspected.

For prioritizing instead of limiting, weights work with json, but require a fix (PR https://github.com/opencontainers/runc/pull/3010) in case of cgroups v1.

[2021-06-09 19:51] kolyshkin opened #3014 "(regression in master) not ok 117 update devices [minimal transition rules]"
Got an error from CI for PR #3011, during test (1.16.x) integration test with systemd. Also reproducible on master and other recent PRs.

Quoting https://github.com/opencontainers/runc/runs/2787163520?check_suite_focus=true:

[code]

The test case was added in commit 4438eaa5e45aa8d7f1bc109ae5d43760153776ea, PR #2391.

This `sh: can't create /dev/null: Operation not permitted` means somewhere duri

[2021-06-09 21:16] kolyshkin commented on #3014
Got it again on the same PR, the only difference is go version (1.15 this time). Hmm, maybe it is related to the changes I made in #3011.

From https://github.com/opencontainers/runc/runs/2787301089?check_suite_focus=true:
[code]

[2021-06-09 21:23] kolyshkin commented on #3014
Created https://github.com/opencontainers/runc/pull/3015 to investigate

[2021-06-09 21:49] kolyshkin commented on #3014
Bad news -- I was able to reproduce this on master branch (see PR #3015), CI job https://github.com/opencontainers/runc/pull/3015/checks?check_run_id=2787947078.

Either we broke something recently, or it was always like that, I dunno.

[2021-06-09 21:50] kolyshkin commented on #3014
Adding 1.0.0 milestone just in case we did broke something recently (it's not yet clear).

[2021-06-09 22:03] kolyshkin commented on #3014
A few more failures recently with the same issue
* https://github.com/opencontainers/runc/runs/2783191713?check_suite_focus=true
* https://github.com/opencontainers/runc/runs/2783214868?check_suite_focus=true
* https://github.com/opencontainers/runc/runs/2762123551?check_suite_focus=true

The last one is the oldest, it failed 3 days ago.

[2021-06-09 22:29] kolyshkin commented on #3014
Shit, I think I did a *very bad thing*. We need to revert #2994.

[2021-06-10 14:26] cyphar commented on #1905
An update -- we planned to do a release last week but a bunch of regressions popped up. I think we've found most of them now so only the PRs currently left in the milestone are needed before I do the release.

[2021-06-10 15:29] thaJeztah opened #3020 "v1.x.x: enforce absolute paths for mounts again"
Commits 1f1e91b1a09b5b22eb414ba7e5ad8c3534526216 and 2192670a2430054c1e539ca7a3bf0ddc43b0bc3d (https://github.com/opencontainers/runc/pull/2917) added validation for mountpoints to be an absolute path, to match the OCI specs.

Unfortunately, the old behavior (accepting the path to be a relative path) has been around for a long time, and although "not according to the spec", various higher level ru

[2021-06-10 21:47] kolyshkin commented on #3007
Ultimately this is still my goal, although it's not yet clear how to do it in a monorepo. Maybe we can just steal/adopt containerd/cgroups API, while mostly retaining libcontainer/cgroups implementation. All this is after https://github.com/opencontainers/runc/issues/3007#issuecomment-856712966 is implemented.

[2021-06-11 05:09] #3014 closed

[2021-06-11 19:53] kolyshkin commented on #1801
@AkihiroSuda PTAL (this should probably be closed)

[2021-06-11 19:57] AkihiroSuda commented on #1801
Yes, rc4/rc5 is quite old, we no longer need to care about rc4 compatibility.

[2021-06-11 19:57] #1801 closed

[2021-06-12 01:41] cyphar opened #3025 "possible linuxkit getty regression"
See linuxkit/linuxkit#3684. It seems that `getty` is failing in LinuxKit with `EPERM` (they thought it was a DAC permissions issue, but usually you don't get `EPERM` from those -- `EACCES` is more standard).

_Originally posted by @thaJeztah in https://github.com/opencontainers/runc/issues/2971#issuecomment-859904150_

[2021-06-13 03:16] MikeDombo opened #3026 "v1.0.0rc95 ENOENT when launching container looking for cpuset.cpus with kernel 5.8"
Hi,
I'm using libcontainer to create my container and I found a regression when Ubuntu updated from kernel 5.4 to kernel 5.8 on Thursday/Friday. I'm currently seeing `process_linux.go:385: applying cgroup configuration for process caused: openat2 /sys/fs/cgroup/cpuset/<container id>/cpuset.cpus: no such file or directory`. On kernel 5.4 using the exact same code it work fine. I edited libcontainer

[2021-06-13 03:42] cyphar commented on #3026
It seems that the issue is that `openat2` is available after the update (`openat2` was added in Linux 5.6). However this code definitely works on both old and new kernels, so it's a bit puzzling why it's failing for you. Does your code mess around with open files at all? With openat2, we cache a file descriptor to `/sys/fs/cgroup` -- so if some of your code is dup-ing over that file descriptor wit

[2021-06-13 03:50] cyphar commented on #3026
Hi, it seems that you've opened an issue that is in relation to using `github.com/opencontainers/runc/libcontainer` directly from your own Go code. While we may do our best to help you solve your issue, **we do not support this.** In addition, our Semantic Versioning version **does not** include the Go API in its scope -- meaning we are free to break the Go APIs in point releases.

The reason for

[2021-06-13 03:56] MikeDombo commented on #3026
Hi @cyphar thank you very much for both of the replies.

So to test the hypothesis I changed `prepareOpenat2` to always return an error so that we'd just use good ol' open and that actually solved the problem!

I don't believe we're messing around with anything, duping or otherwise, aside from running the container root in an overlayfs which is maybe related.

[2021-06-13 04:10] cyphar commented on #3026
What happens if you apply this patch?

[code]

[2021-06-13 04:21] MikeDombo commented on #3026
`[/proc/self/fd/30=/!=/sys/fs/cgroup/cpuset/9ac5cec4-16ac-4fdf-4f7f-51aa982a9b7f]/cpuset.cpus: no such file or directory`

So apparently what should be the cgroup path is actually `/`

[2021-06-13 04:54] cyphar commented on #3026
Hmm, so it seems that fd 30 is being swapped with a handle to `/` or something like that? You can try to add some similar readlink-based debugging code to `prepareOpenat2` to see whether the original handle is correct.

[2021-06-13 04:57] MikeDombo commented on #3026
Thank you so much Aleksa, I don't want to take up more of your valuable time with this. Your pointer to look at the openat2 call certainly saved hours of work, so thank you for that! I'll keep looking into it, but worst case we just use the fallback path without openat2 which seems like it should be fine.

I'd suspect the FD is getting messed up either in entering the mount namespace or mounting t

[2021-06-13 22:48] cyphar commented on #3025
This was intentional -- they're being tripped up on the removal of `/dev/console` from the default allow list in #2391. This can (and should) be worked around on their end by using `--device /dev/console` or equivalent so that they have an explicit allow rule for the host `/dev/console`.

[2021-06-13 22:48] #3025 closed

[2021-06-13 23:11] cyphar opened #3028 "move most packages into `internal`"
At the moment all of our internal packages are importable from anywhere. There are several historical reasons for this:

 * Docker originally used LXC, but then created a Go container runtime as an internal library (libcontainer) which was used by Docker directly. This meant that containers were created by forking Docker and doing the namespace setup immediately, which turns out to not be a great

[2021-06-13 23:16] dims commented on #3028
taking stock, as of today here's what kubernetes is importing:

[code]

[2021-06-13 23:17] dims commented on #3028
and here's what cadvisor is importing:
[code]

[2021-06-14 20:12] kolyshkin commented on #3028
Let's see if we can remove anything but `libcontainer/cgroups`...

The only use is `apparmor.IsEnabled()`.

This has some cgroup-related definitions; maybe we can move it to libcontainer/cgroups, leaving backward-compatible aliases in libcontainer/configs for smoother transition.

Same for cadvisor.

This should go away once runc 1.0.0 GA is released (see https://github.com/kubernetes/kubernetes/p

[2021-06-14 20:26] kolyshkin commented on #3028
docker, cri-o, buildah, podman etc uses a lot of stuff from libcontainer/devices, libcontainer/user and so on -- seems that kubernetes and cadvisor is just the tip of the iceberg.

[2021-06-14 22:22] kolyshkin commented on #3026
Apparently we did not have such a use case in mind. runc works with cgroup files before entering any namespaces.

I guess we can check on error if `cgroupFd` still resolves to `/sys/fs/cgroup`, and reopen it if not, but that seems overly complicated. I actually wrote this but it looks borderline ugly.

@MikeDombo If the source code is available, I will be happy to help resolve this.

[2021-06-14 22:25] MikeDombo commented on #3026
Thank you for looking Kir. Sadly our usage isn't open source at this time. Hopefully when we do open source it we'll have moved to using runc properly instead of going directly to libcontainer.

[2021-06-15 04:15] cyphar commented on #3028
AFAIK the `libcontainer/devices` and `libcontainers/user` stuff that Docker uses is fairly minor -- `libcontainer/user` is kinda needed by higher-level runtimes so we'd need to export it no matter what, while only a few bits of `devices` are needed (mainly `HostDevices` and a few other functions that only existed for the purposes of Docker but are in `libcontianer` because of historical reasons).

[2021-06-15 04:17] cyphar commented on #3028
It was mostly an abundance of caution because we had cases where lexical path attacks were very trivial against runc, so we added `CleanPath` to every unsafe path. Once we switch to libpathrs, or move to `openat2` hardended paths then `CleanPath` (and `SecureJoin`) won't be necessary anymore.

[2021-06-15 12:18] krishna-pp opened #3031 "Container creation fails on SELinux enabled docker instances when using custom SELinux labels"
Hello,
I'm using Amazon Linux 2 where I have SELinux in enforced mode. I also enabled SELinux on docker. When attempting to launch new containers using  **custom SELinux labels**, the container creation fails with the below error:

[code]
It works when we don't specify security labels (--security-opt) though. Looking at the error message, I believe this a bug with runc but if it's an issue with do

[2021-06-16 11:54] kolyshkin commented on #3031
This just means the label you set is not accepted by the kernel. Not sure what `runc` can do here (other than to somehow improve the error message to say the security label is not accepted by the kernel).

[2021-06-16 21:30] kolyshkin commented on #3031
IOW this is a selinux question rather than a runc bug. I think some selinux policy is missing.

[2021-06-16 21:30] #3031 closed

[2021-06-18 23:56] zvier commented on #2969
Your are right. But I think the resource configuration to input was ready. I also `run update` with resource configuration not ready like
[code]

The proc stack information is
[code]
which block at `wait_woken`. But my issue problem is block at `ep_poll`. Another phenomenon is the container main process is already exit, but related containerd-shim is still alive.

[2021-06-22 02:07] kolyshkin commented on #2924
Writing this down before I forgot. The issue is, criu is unable to restore into a different cgroup, and thus there's some kind of a race between runc+criu restoring the container into the same cgroup, and systemd removing the original container's cgroup.

[2021-06-22 06:13] cyphar commented on #1905
https://github.com/opencontainers/runc/releases/tag/v1.0.0

[2021-06-22 06:13] #1905 closed

[2021-06-22 09:25] kolyshkin opened #3034 "open release-1.0 branch"
It is practically impossible to bring new features and/or perform major refactoring without a possibility to introduce new bugs.

Thus I propose to have a `release-1.0` branch to backport bug fixes to and cut `1.0.z` patch releases from.

[2021-06-22 14:25] dims commented on #3007
@kolyshkin can we please do this for `libcontainer/user` as well? will help us in containerd ( https://github.com/containerd/containerd/pull/5635#issuecomment-865957207 )

[2021-06-22 17:45] kolyshkin commented on #3034
I think PRs to release branches is the best option -- going through the same review process etc.

[2021-06-22 23:42] kolyshkin opened #3035 "not ok 19 checkpoint and restore in external network namespace"
Got the following test failure on GHA CI (`test (1.15.x, -race)` / `integration test (fs driver)`):

Logs from https://github.com/opencontainers/runc/pull/3033/checks?check_run_id=2889987286:

[code]

This looks unrelated to the PR being tested (#3033). I haven't seen it before either.

I think that runc should set all cgroup parameters by itself, and then run criu swrk inside a properly configure

[2021-06-23 06:42] adrianreber commented on #3035
I think that should be possible today by using another cgroup mode. https://criu.org/CGroups

Using CRIU's none or ignore should be closer to what you would like to see.

The main point which I am not sure how to deal with correctly is what if a process in the container modified a cgroup setting during runtime. I expect that this is unlikely, but still that setting would be lost.

[2021-06-23 13:00] cyphar commented on #3034
Fair enough. I've opened the `release-1.0` branch so closing this.

[2021-06-23 13:00] #3034 closed

[2021-06-23 15:02] zvier commented on #2969
Now , I found the `runc update` process proc fd information is:
[code]
[code]
So, I think the `runc update` blocks wat epoll this socket file for something ?

[2021-06-23 16:30] cyphar commented on #2969
So in both cases, `runc update` is trying to read from stdin and that's why it's waiting. The wait is happening on `stdin` (attach gdb or something if you want to be sure -- but the stack trace you pasted shows that it is waiting in the TTY code (`n_tty_read`/`tty_read`), which has nothing to do with sockets and only makes sense if you're running from a terminal and it's waiting for input from the

[2021-06-24 02:04] erict-square opened #3036 "starting container process caused: setup user: unable to find <user>: bufio.Scanner: token too long: unknown."
### Problem

I'm running into the following problem when I run `docker run --network=host --hostname=<hostname> --user <user> -v /etc/group:/etc/group:ro <image>`.

[code]

**My current finding shows me that this error is only thrown if a line in `/etc/group` exceeds 65536 characters.**

### Diagnosis

I'm not familiar with runc code or golang, but i tried my best to find what's going on. I was ab

[2021-06-24 07:48] AkihiroSuda opened #3037 "[ARM64] `runc run` fails with `process_linux.go:722: waiting for init preliminary setup caused: unexpected 123 != 0`"
[code]

runc version:
[code]

The runc binary is included in https://github.com/containerd/nerdctl/releases/download/v0.9.0/nerdctl-full-0.9.0-linux-arm64.tar.gz (https://github.com/containerd/nerdctl/blob/v0.9.0/Dockerfile#L43-L55)

Host OS: Ubuntu 21.04 on EC2 a1.large (`Linux ip-XXX-XXX-XXX-XXX 5.11.0-1011-aws #11-Ubuntu SMP Thu Jun 17 01:38:32 UTC 2021 aarch64 aarch64 aarch64 GNU/Linux`)

- -

[2021-06-24 08:13] AkihiroSuda commented on #3037
`CGO_ENABLED=1` seems to solve the issue. We need more human-friendly error messages, though.

[2021-06-24 08:13] #3037 closed

[2021-06-24 10:56] AkihiroSuda opened #3038 "Include ARM64 static binary in the official release artifact"
We should have `runc.arm64` as well as `runc.amd64` in the official release artifact: https://github.com/opencontainers/runc/releases

The binary can be cross-compiled with `CGO_ENABLED=1 GOARCH=arm64 CC=aarch64-linux-gnu-gcc make static`

@cyphar Is there anything we need to make this happen?

[2021-06-24 11:19] cyphar commented on #3038
You need to convince me to install a cross-compiler. ;)

Yeah, I'll see what we need to get this working. We'll need to recompile libseccomp for each architecture that we want to build binaries for, and we probably need to update the dependencies for the CI run of `make release` so it can cross-compile.

(This is a good opportunity to clean up the `release.sh` script -- which actually has some iss

[2021-06-24 18:00] kolyshkin opened #3039 "remove pkg/errors from vendor"
In runc:
 * [x] PR #3011 (merged)

In vendored packages:
 * [x] https://github.com/cyphar/filepath-securejoin/pull/7
 * * [x] and https://github.com/cyphar/filepath-securejoin/issues/8
 * * [x] and https://github.com/opencontainers/runc/pull/3063
 * [x] https://github.com/containerd/console/pull/54
 * * [x] and https://github.com/containerd/console/issues/56
 * * [x] and https://github.com/opencon

[2021-06-24 19:08] AkihiroSuda commented on #3039
Is there an automation tool for migrating from pkg/errors to %w ?

[2021-06-24 23:19] kolyshkin commented on #3039
I am not aware of such a tool. I did it manually in the PRs referenced above (so it's basically done, the issue is mostly for tracking purposes).

[2021-06-25 01:14] kolyshkin opened #3040 "[RFC] runc exec --cgroup"
Any container can have sub-cgroups
* created by the container itself, if access is provided (cgroupns is enabled and cgroup mount is not readonly -- see examples for cgroup [v1](https://github.com/opencontainers/runc/blob/51beb5c436b159ae2d483b219c37ecfde13b006a/tests/integration/delete.bats#L53) and [v2](https://github.com/opencontainers/runc/blob/51beb5c436b159ae2d483b219c37ecfde13b006a/tests/in

[2021-06-25 01:44] kolyshkin commented on #3038
Tried on Fedora 34, you need to pre-install `gcc-aarch64-linux-gnu.x86_64` but then it couldn't find `stdlib.h`:

[code]

I do remember that historically Debian did a better job providing cross-compile tools; will try it.

[2021-06-25 01:51] kolyshkin commented on #3038
Oh well, that explains it:
[code]

[2021-06-25 01:54] kolyshkin commented on #3038
libc is not included either, so ...

[2021-06-25 03:27] kolyshkin opened #3042 "CI is broken on master"
This is caused by a combination of #2902 and #3029 (and thus was not caught by CI beforehand).

The failures are

[code]

The "Operation not permitted" is caused by these stale mounts:
[code]
none on /tmp/bats-run-3773071/runc.5vbkhQ/bundle/work-dir/.criu.cgyard.mRjLCO type tmpfs (rw,relatime,seclabel,inode64)
none on /tmp/bats-run-3773071/runc.5vbkhQ/bundle/work-dir/.criu.cgyard.mRjLCO/unifie typ

[2021-06-25 03:29] kolyshkin commented on #3042
@liusdu PTAL

[2021-06-25 03:44] kolyshkin commented on #3042
[code]

There might be a bug in CRIU (it fails to unmount what it mounted on the error path), but it's not the only problem here.

[2021-06-25 03:55] kolyshkin commented on #3042
It's too late here to do any real investigation, so I just created a revert PR #3034.

But we need to investigate it. This may be a bug in runc plus a bug in criu, or something. I hope @liusdu will investigate further (I won't have time this week).

[2021-06-25 03:58] kolyshkin commented on #3042
If this is something simple though, and we'll find the fix soon (say in a day or two), we can surely fix it on top rather than do a revert, but for now I can't think of anything.

[2021-06-25 04:34] mrunalp commented on #3040
The use case for this is dpdk applications that use a subset of the configured cpuset in the main container entirely and they can't tolerate k8s probes (runc exec) to run on those cpus.

[2021-06-25 07:26] minxiaogang opened #3044 "replace runc"
Do you need to stop and restart docker? I'm going to replace runc and execute "cp  ./runc.amd64   /usr/sbin/runc"  . Do I need to restart?

[2021-06-25 07:36] cyphar commented on #3044
No, but note that your existing containers won't change after you update (so if there's some new runc feature you need you'd need to restart them to get it).

[2021-06-25 14:59] AkihiroSuda commented on #3040
How will this relate to subtree_controllers?

[2021-06-25 23:10] kolyshkin commented on #3042
I looked some more into it and I for now I could not figure out what is going on. This might or might not be related to the fact that we're having an unprecedented heat wave here in Pacific Northwest and there's no AC at home.

[2021-06-25 23:14] kolyshkin commented on #3040
I think it should be orthogonal (except for the "runtime-spec will add an ability to define sub-cgroups" item which is actually not part of this proposal, and only given as an example).

The `runc exec --cgroup` merely uses the existing in-container cgroup, and errors out if it's not available.

[2021-06-26 00:01] tianon commented on #3037
FWIW, I ran into a similar issue recently with the same exact root cause, and the 123 is `{`.

If you adjust https://github.com/opencontainers/runc/blob/1079288bef1261a22b74d49fdbfa5d380cab901b/libcontainer/process_linux.go#L710 to read more than just one byte and print the entire array as a string, it's a generic JSON error bubbling up from the container initialization code (which seeing in hinds

[2021-06-28 04:52] #3042 closed

[2021-06-28 06:29] liusdu commented on #3042
@kolyshkin let me take a look at it～

[2021-06-28 07:38] liusdu commented on #3042
After a biesect search, I found commit 0ca91f44f1664da834bc61115a849b56d22f595f introduced this broken. I will continue dig it~

[2021-06-28 08:43] h-vetinari commented on #2859
Landlock has now been released with Linux 5.13.

[2021-06-28 11:59] liusdu commented on #3042
@kolyshkin @cyphar  this  broken is duo the following changes from 0ca91f44f1664da834bc61115a849b56d22f595f
[code]

So there are two ways to fix this issue:

- Revert the above changes:
- Apply the folowing change:

Since this issue is closed, let me open a new pr to explain this.

[2021-06-28 23:29] frasertweedale commented on #2703
I am currently investigating this.  I have a modified version of runc (https://github.com/frasertweedale/runc/commits/feature/chown-cgroup) that chowns the container's cgroup to the container's uid 0, but I still need to test it in OpenShift.

Another option is to use the systemd transient unit API to specify an alternative owner for the cgroup, but systemd has some quirks that complicate this app

[2021-06-29 00:40] frasertweedale commented on #1989
Maybe this can be closed?  It is >2y old and the same topic is discussed in https://github.com/opencontainers/runc/issues/2703.

[2021-06-29 19:51] kolyshkin opened #3050 "[ci] not ok 70 runc run --no-pivot must not expose bare /proc"
Seeing this on GHA CI starting today
[code]

with no changes in the relevant code (e.g. in https://github.com/opencontainers/runc/pull/3021)

Seeing the same on my machine (apparently for the first time).

This test that is now failing was originally added in PR #2654 and was picked by #2657.

I tried runc HEAD, v1.0.0 and v1.0.0-rc95, they all fail in the same way.

I suspect the reason is update

[2021-06-29 20:17] kolyshkin commented on #3050
OK, the reason is https://git.kernel.org/pub/scm/linux/kernel/git/torvalds/linux.git/commit/?id=db2e718a47984b9d71ed890eb2ea36ecf150de18

Will post a PR soon

[2021-06-29 20:30] giuseppe commented on #3040
how will this work with cgroup v2?  The processes can be only in the leaf nodes, do we need to ensure the existing processes are moved to a sibling cgroup first?

[2021-06-30 00:15] kolyshkin commented on #3040
I don't think it's a runc task (unless the sub-cgroups are created by runc itself, but that's not what this RFC proposes).

Currently if runc exec process fails to join the top-level container cgroup, it retries with the cgroup of the container init. I guess this fallback should be disabled when `--cgroup` is set explicitly.

[2021-06-30 02:25] kolyshkin commented on #2891
Perhaps the best way to do the active maintainers audit is to review maintainers activity in this repo, find out who was not active for a long period (say 1-2 years), and propose to move those people from MAINTAINERS to EMERITUS. The "activity" here is anything related to this repo -- PRs, reviews, issues etc.

Problem is, I don't know an easy way to overview the activity of a user in a repo. Mayb

[2021-06-30 02:32] kolyshkin opened #3052 "[org] RFC: ways to move PRs forward"
Currently all the cooperation between maintainers is almost exclusively limited to whatever means github offers. It seems to be working, except some PRs are stalling for months, causing fixes and features to not be merged, as well as, I guess, some contributor frustration, which may result in losing interest to the project.

I propose to

1. Set up a weekly call, or a chat, for all available maint

[2021-06-30 02:36] kolyshkin commented on #3052
Here's my personal take on this.

I don't like it much as it interrupts my workflow, but I see that this may be the fastest way to accelerate PR review, so I am ready to take part.

This may even work better than a fixed time call/chat because of different timezones we're all in!

While I recognize this as an option to solve the issues stated, I don't like it much as this may result in lower code

[2021-06-30 02:42] AkihiroSuda commented on #3052
Slack (or Matrix) seems better than weekly calling for timezone diversity

[2021-06-30 02:45] #3050 closed

[2021-07-01 06:08] frasertweedale commented on #2703
I have this working with a modest change to `runc` to chown the container's cgroup.  I'll do a writeup and a video demo in the coming days, and a pull request.

[2021-07-02 02:00] frasertweedale commented on #2703
Pull request: https://github.com/opencontainers/runc/pull/3057

[2021-07-02 18:35] crosbymichael opened #3060 "Support for Core Scheduling"
This was a recent merge for 5.14 mainline and it would be good to support for container usage. Containers could set a cookie so that they could be co-scheduled on SMT systems. This would be useful for all containers within a pod.

I think a cli flag maybe the best route for these features because of the current `prctl` api for the feature but this could also make it into the runtime spec.

Just wa

[2021-07-02 18:35] crosbymichael opened #3061 "Support for Core Scheduling"
This was a recent merge for 5.14 mainline and it would be good to support for container usage. Containers could set a cookie so that they could be co-scheduled on SMT systems. This would be useful for all containers within a pod.

I think a cli flag maybe the best route for these features because of the current `prctl` api for the feature but this could also make it into the runtime spec.

Just wa

[2021-07-02 18:39] kolyshkin commented on #3060
dup of #3061

[2021-07-02 18:39] #3060 closed

[2021-07-02 18:39] crosbymichael commented on #3060
oops , github double submit

[2021-07-02 18:43] kolyshkin commented on #3040
An initial implementation is available (#3059). Will work on more tests next week but it's good enough to take a look.

[2021-07-02 18:54] kolyshkin commented on #3036
There was a same bug in golang stdlib os/user (https://github.com/golang/go/issues/43636), which was fixed by https://github.com/golang/go/issues/43636.

I was looking at this bug and ended up implementing `GroupIds` for non-cgo/osusergo case in upstream (see https://go-review.googlesource.com/c/go/+/330753). Unfortunately it's a feature freeze for golang now, but once my changes will be merged, m

[2021-07-02 19:05] erict-square commented on #3036
@kolyshkin Thanks for the update and taking on this work! I'm really thrilled!

[2021-07-02 20:04] kolyshkin commented on #3036
Here's a quick and dirty fix: https://github.com/opencontainers/runc/pull/3062

[2021-07-02 21:13] giuseppe commented on #3040
So does it expect the cgroupfs to be mounted writeable?  Otherwise how would the container process live in a separate sub-cgroup?

[2021-07-04 09:16] danishprakash commented on #3039
for posterity: there's also the possibility of writing a dirty program which parses the source and makes the relevant changes using an AST.

ref: https://xdg.me/rewriting-go-with-ast-transformation/

[2021-07-07 08:22] zhsj commented on #3038
Why not build with qemu-user and binfmt, docker seems to support that.

[2021-07-07 09:32] AkihiroSuda commented on #3038
It is slow, so cross compilation is more preferred whenever possible

[2021-07-07 21:33] eganvas opened #3071 "System calls with timeout receives EINTR with runc version 1.0.0-91 and onwards"
We have a containerised application that uses UDP sockets with SO_RCVTIMEO. When it is run as a pod we see that every 10 seconds or so the syscall returns with EINTR. The system is configured with cpumanager policy static and reserved-cpus. When the cpu manger reconcile loop is executed (default every 10 seconds) it tries to set the cpuset and at this time we think that the container is FROZEN and

[2021-07-07 23:39] cyphar commented on #3071
Ah, yes. This is related to a change I made to devices cgroup handling a while ago (#2391) -- when running under systemd, any resource update will cause the container to be temporarily frozen during the update. The reason for this is that the devices cgroup is modified by systemd in a way that causes spurious device errors even if no device rules are changed (so programs that are writing to `/dev/

[2021-07-08 00:22] kolyshkin commented on #3040
Yes (in the future though we might implement sub-cgroup support in runtime spec, in which case runc will pre-create those sub-cgroups and writable cgroupfs won't be needed in case the cgroup tree is static).

[2021-07-08 01:52] kolyshkin opened #3076 "Release 1.0.1"
We have seen a few small bugfixes and regressions that can and should be backported to release-1.0 branch. Once we have a few fixes, we need to make a release. This issue is a placeholder for fixes included into 1.0.1.

The PRs that needed to be backported to release-1.0 branch are marked with https://github.com/opencontainers/runc/labels/will-backport-to%2F1.0. The backport process is manual (I a

[2021-07-08 07:05] AkihiroSuda opened #3078 "Evaluate Cirrus CI for Vagrant tests"
The current vagrant tests running on GHA macOS are slow and flaky.

KVM instances of Cirrus CI might be faster and more stable.

Example yaml: https://github.com/rootless-containers/usernetes/pull/236/files

[2021-07-08 07:10] #3036 closed

[2021-07-08 09:46] odinuge commented on #3071
Have there been any communication with the systemd people about this (I can't seem to find it)? (tho they might tell us to just use cgroup v2 instead :sweat_smile:)

To make it totally clear, the change needed for k8s is not directly related to this, since the use case of runc in that situation is as a cgroup manager (see https://github.com/opencontainers/runc/pull/3065#issuecomment-875951602). #3

[2021-07-08 18:09] kolyshkin commented on #3071
@eganvas can you clarify which syscall is returning EINTR?

As pointed out by Aleksa above, if we just skip the freeze, the underlying containers will experience a brief EPERM instead of EINTR, which is worse, as EINTR is kind of expected and is not fatal (the app is expected to retry) while EPERM is considered fatal (the app is not supposed to retry).

In any case, there are multiple ways to fix

[2021-07-08 19:39] eganvas commented on #3071
The syscall that returned EINTR was recvmsg() when socket option SO_RCVTIMEO is set via
setsockopt( mSettings->mSock, SOL_SOCKET, SO_RCVTIMEO, (char *)&timeout, sizeof(timeout))

strace snippet,
`23670 nanosleep({tv_sec=0, tv_nsec=10000000},  <unfinished ...>
23669 <... recvfrom resumed>0x563df69fb500, 1470, 0, 0x7fd23e7aaa08, [128]) = ? ERESTARTSYS (To be restarted if SA_RESTART is set)
30767 <..

[2021-07-09 12:21] msschl opened #3083 "Verbose systemd logs for mount succeeded"
I opened this issue on `cri-o/cri-o` as well. [cri-o/cri-o#5064](https://github.com/cri-o/cri-o/issues/5064)

**Description**

[code]

It looks like a [issue docker had once](https://github.com/docker/for-linux/issues/679), and is related to healthchecks.

**Output of `crio --version`:**

[code]

**Additional environment details (AWS, VirtualBox, physical, etc.):**

- K8s cluster deployed with kub

[2021-07-09 17:39] hk-vmg opened #3084 "Reducing CPU period fails for subsystems if existing parent has quota>0 with systemd driver"
When setting a lower CFS CPU period, creating a runc container in Kubernetes using systemd driver fails with:
`write /sys/fs/cgroup/cpu,cpuacct/kubepods.slice/kubepods-burstable.slice/kubepods-burstable-pod<HASH>.slice/cri-containerd-<HASH>.scope/cpu.cfs_period_us: invalid argument: unknown`

cgroupfs driver works fine.

It appears that order matters, when both period and quota files are changed.

[2021-07-09 17:40] hk-vmg commented on #3084
@sureshvis

[2021-07-11 12:48] eganvas commented on #3071
The cpumanager reconcile state function updating cpuset irrespective of whether there is a change or not is now fixed in the latest K8s as part of the issue fix https://github.com/kubernetes/kubernetes/issues/100906

Now it calls the update only when there is a legitimate reason to call update and this should make the whole solution scalable as well as avoid runc updates. The container application

[2021-07-12 19:34] kolyshkin commented on #3040
Obviously the use case of that (with read-only cgroupfs) would be limited to putting container init in a non-top cgroup, and `runc exec --cgroup` (as the container won't be able to manage anything). Not sure it can be useful or not.

[2021-07-13 13:22] cloud-66 commented on #2066
The same issue
Host server  Centos 7.9.2009  with 3.10.0-1160.31.1.el7.x86_64
LXD container Ubuntu 20.04
If i run command
[code]
Docker is working . cgroup remount in differenet options/path

before cgroupfs-umount
![изображение](https://user-images.githubusercontent.com/41143306/125458210-3c6d9ab6-a20e-4012-ae06-676e53dea644.png)

cgroupfs-mount

![изображение](https://user-images.githubuserconte

[2021-07-14 02:03] kolyshkin commented on #3076
Hope to have a release this week, as this is a prerequisite to fixing https://github.com/kubernetes/kubernetes/issues/102676 which is pretty nasty.

[2021-07-14 20:59] kolyshkin commented on #3084
1. The error actually comes from the kernel.
2. systemd driver sets the property/limit for systemd unit (those that are possible to represent for systemd, see https://github.com/opencontainers/runc/blob/master/docs/systemd.md#resource-limits), and then uses fs driver as a backup.
3. The translation of OCI runtime spec properties to systemd properties for CPU quota and period happens here: https://

[2021-07-14 21:10] kolyshkin commented on #3084
Do you mean 239?

[2021-07-15 01:18] kolyshkin commented on #3084
I think systemd is relevant but for the different reasons than those in items 1 and 2 in [my earlier comment](https://github.com/opencontainers/runc/issues/3084#issuecomment-880205800). It seems if systemd driver is used, systemd sets the period to 1000000 (i.e. 10x of the default period of `100000`), and this may play a role in the failure.

In any case, items 1 and 2 are not entirely correct as

[2021-07-15 02:40] cyphar commented on #3076
Do you want me to prepare a release PR today, or is there anything else left to do?

[2021-07-15 04:09] cyphar commented on #2066
@brauner Is lxcfs used to fake cgroupfs with certain kernels / distributions? We can treat `fuse.lxcfs` as though it were `cgroupfs` if that makes sense, but I was under the impression lxcfs was only used to mask `/proc`?

[2021-07-15 06:09] kolyshkin commented on #3076
@cyphar I was pretty sure that is all that's needed to rectify the kubernetes situation until a few hours ago -- now I got some new info and am waiting for feedback from @odinuge on whether https://github.com/opencontainers/runc/pull/3082 and https://github.com/opencontainers/runc/pull/3067 are needed or not (for details, see https://github.com/kubernetes/kubernetes/issues/102676#issuecomment-8803

[2021-07-15 06:18] cyphar commented on #3076
I only have minor comments on #3082 (mainly stylistic and a comment fixup), so we can probably merge that fairly quickly. And #3067 is something we can also reasonably backport to 1.0.1.

[2021-07-15 06:35] kolyshkin commented on #3076
OK, let's try that.
* https://github.com/opencontainers/runc/pull/3092

[2021-07-15 07:25] kolyshkin commented on #3076
* https://github.com/opencontainers/runc/pull/3093

[2021-07-15 08:00] brauner commented on #2066
A long long time ago on a kernel version far far away, LXCFS implemented userspace cgroup namespaces. So on kernels without cgroup namespaces LXCFS can be used to emulate them but nowadays that's rarely used since such kernels should be super old.

[2021-07-15 11:42] hk-vmg commented on #3084
Thanks so much! This is RedHat Enterprise Linux, which means systemd is a lower version but contains a lot of cherry-picked fixes backported into the lower version - I see same behavior in RHEL7 = systemd 219 and RHEL8 = systemd 239.

Maybe that is root cause: `if sdVer >= 242 { ` from code snippet above is false, so it's falling back to the cgroup behavior. If I update the **libcontainer/cgroups/

[2021-07-15 23:03] kolyshkin commented on #3076
@cyphar can you please cut a release (once #3093 is merged).

[2021-07-16 00:24] kolyshkin commented on #3084
In fact it's not absolutely required to set a period via systemd, as we set if via fallback fs driver anyway, so I am dropping the idea of using more sophisticated methods of figuring out whether systemd is supporting properties that we want to set.

I have the fix almost ready, the only problem is the test case, in particular https://github.com/opencontainers/runc/pull/3090#issuecomment-881016924

[2021-07-16 03:05] kolyshkin commented on #3071
One other way to fix the problem is use cgroup v2 (which requires no freeze, and won't freeze once https://github.com/opencontainers/runc/pull/3067 / https://github.com/opencontainers/runc/pull/3092 will make its way to kubernetes.

This will also be fixed in cgroup v1 by https://github.com/opencontainers/runc/pull/3082 / https://github.com/opencontainers/runc/pull/3093.

[2021-07-16 03:10] kolyshkin commented on #3083
Not sure if runc can do anything about it. @msschl do you have any suggestions?

[2021-07-16 04:38] cyphar commented on #3076
Yup, I'll set up the release PR now. Thanks for writing the changelog for me. :D

[2021-07-16 15:03] cyphar commented on #3076
https://github.com/opencontainers/runc/releases/tag/v1.0.1

[2021-07-16 15:03] #3076 closed

[2021-07-16 16:51] msschl commented on #3083
I wasn't sure who logs this message. Therefore, I opened this issue also here. But I think it's related to systemd and can be closed for runc.

[2021-07-17 02:55] kolyshkin commented on #2947
I took another look at it. Managed to make libseccomp.a reproducible, and figured that a previous fix (https://github.com/opencontainers/runc/issues/2947#issuecomment-845400305) also helps.

I have also added `-buildid=` and  `-B=0x00` to `-ldflags` which seems to help, too.

So, 4 changes in total. But that is not enough :(

Here's my current patch:
[code]

Let's see what's left.

[code]

So, thi

[2021-07-17 04:29] cyphar commented on #2947
I'm quite confused why we need to add so many things to Go -- by default all Go binaries are reproducible? (Though maybe that guarantee doesn't exist for cgo-linked binaries?)

In the strictest meaning of the word, no. But previously if I ran `script/release.sh` twice, I'm fairly sure the binaries would have the same hash (though maybe I'm misremembering -- umoci has CI checks for this but we neve

[2021-07-17 09:04] chuanchang opened #3096 "[system tests] exec failed: open /dev/tty: no such device or address"
The system tests don't work well in CI environment, and there are many tests are failed due to "exec failed: open /dev/tty: no such device or address", this issue can be hit in {rootless, rootful} + {cgroupv1, cgroupv2} mode.

[code]

[2021-07-17 09:12] cyphar commented on #3096
Can you clarify a bit more what you're trying to do? Our tests do work in at least our own CI environment. I expect the issue is that you are running in an environment that doesn't have a proper console (this is the default for GitHub Actions) or possibly through an SSH session. In either case, see https://github.com/opencontainers/runc/blob/master/.github/workflows/test.yml for how we worked arou

[2021-07-17 10:52] chuanchang commented on #3096
I'm running upstream system tests on RHEL 8.4 in downstream Jenkins CI (PSI Openstack), it's not very easy to access Jenkins slave by SSH, because the slave is provisioned dynamically.

I directly ran system tests by 'bats -t tests/integration' command in jenkins declarative pipeline, I'm not expert for 'script' command usage, could I use 'script -e bats -t tests/integration' to avoid tty issue? t

[2021-07-17 11:17] cyphar commented on #3096
You can see how we use it in the link I gave you:

https://github.com/opencontainers/runc/blob/2749f1f18bafb062a28536bfca1d95cae65521c6/.github/workflows/test.yml#L69

(I mentioned SSH because for Vagrant we use `ssh -tt ...` -- but the effect is the same as using `script -e ...`.)

Not really, mainly because making sure runc's tty handling works is important enough (and should work on every kerne

[2021-07-17 11:39] chuanchang commented on #3096
Yes, I saw this line in test.yml, thank you for sharing this w/ me.

Agree, I just added **script -e -c 'bats -t tests/integration'** for rootless and **script -e -c 'sudo bats -t tests/integration'** for rootful in my pipeline script, basically, it works for me, but I still got other error as follows, it shouldn't be related to this issue I think:

cgroupv2:
[code]

cgroupv1:
[code]

[2021-07-17 12:27] cyphar commented on #3096
You need to use `tests/rootless.sh` to run the rootless integration tests, or otherwise re-implement the behaviour it has.

[2021-07-17 12:37] chuanchang commented on #3096
I created non-root users and rootless related configuration in the jenkins slave (as VM snapshot), so I haven't use `tests/rootless.sh`, I will re-read rootless.sh then see if I missed something, thanks!

[2021-07-18 09:14] zvier commented on #2969
Finally, we found the reason was runc connect with dbus blocked at read unix socket in call UseSystemd().  Use `ss -xp` can found the realated connect pair. And runc has alread fixed this problem with
https://github.com/opencontainers/runc/commit/d05e5728aa5f2e7c0ee7726bb0d2ae6bc438a9bf and https://github.com/opencontainers/runc/commit/33c6125da676dd73fd7748f2e1af1cd8cd8bc35c

[2021-07-19 07:13] AkihiroSuda opened #3098 "Drop Go 1.13 support"
Docker/Moby v20.10.8 will bump up Go requirement from 1.13 to 1.16: https://github.com/moby/moby/pull/42643

So we can safely drop support for Go 1.13.

https://github.com/opencontainers/runc/pull/2925

[2021-07-19 12:17] thaJeztah commented on #3098
👍 Note that containerd 1.4.x (which includes runc v1.0.0) is still on Go 1.15, so don't drop support for 1.15 yet

[2021-07-19 12:19] WiseLin1125 commented on #1343
Thank you so much!! @StevenACoffman

[2021-07-19 19:28] kolyshkin commented on #2947
This was probably just a side effect of go caching, which is no longer since commit 06a9ea36ded912d83df7b20c82f48d310e93ad2a. IOW, `script/release.sh && go clean -cache && script/release.sh` would not result in the same binary (haven't checked that though).

[2021-07-19 20:35] kolyshkin commented on #2947
[code]

Note the doubling of `/_/github.com/seccomp/libseccomp-golang@v0.9.1` path -- this is probably the reason why it is not removed by `-trimpath`. Smell like some bug in golang toolchain, or something in our build environment that leads to that.

So I retried with go1.17beta1 and it's the same thing :(

[2021-07-19 20:43] kolyshkin commented on #2947
OK, the difference (https://github.com/opencontainers/runc/issues/2947#issuecomment-882841881) is debug info, so the stripped binary is the same!

[2021-07-19 21:29] kolyshkin commented on #2947
OK, here: https://github.com/opencontainers/runc/pull/3099

[2021-07-19 21:32] kolyshkin commented on #3071
FIxed in runc 1.0.1, kubernetes PRs: https://github.com/kubernetes/kubernetes/pull/103743, https://github.com/kubernetes/kubernetes/pull/103746.

[2021-07-20 01:30] kolyshkin commented on #3098
Go 1.15 is still supported (at least until go 1.17 is released) so it does not make sense to drop it yet.

[2021-07-20 04:55] AkihiroSuda commented on #3078
We migrated Vagrant tests from GHA to Cirrus in #3088

[2021-07-20 04:55] #3078 closed

[2021-07-20 11:02] ccnankai opened #3102 "runc version unknown"
After I executed the command, `apt-get install cri-o,cri-o-runc`  and `cri-o-runc --version`
 the result I got is as follows. What went wrong.
![image](https://user-images.githubusercontent.com/33537489/126313117-7df2ad61-e756-4b50-b3d2-953d71b3a0a1.png)

[2021-07-20 11:08] cyphar commented on #3102
That's an issue with whoever is building the package you've installed -- the versions listed in `runc --version` are specified at build time, so the package builder is not filling in that information properly. Please report the issue with them. (The "unknown" string was added recently in order to allow less-than-ideally-built runc builds to work with Docker without any warnings. See #2956.)

[2021-07-20 13:50] haircommander commented on #3102
this is an issue with our OBS packaging. I'll take a look

[2021-07-20 14:07] ccnankai commented on #3102
When I use the `crictl runp pod.json` command to create a pod, it will report an error message:**Failed to create pod sandbox: rpc error: code = Unknown desc = failed to mount container....
error creating overlay mount to /var/lib/containers/storage/overlay merged invalid argument**
![image](https://user-images.githubusercontent.com/33537489/126337725-f46e37e3-894f-4b4b-9cc2-2f95cc9ae2d0.png)
as d

[2021-07-20 15:03] haircommander commented on #3102
nope @ccnankai that is a separate issue which we'll look into in https://github.com/cri-o/cri-o/issues/5104 :)

[2021-07-20 15:18] sporksmith commented on #2430
I came here to file an issue to support seccomp flags specified in the seccomp profile (particulary SECCOMP_FILTER_FLAG_SPEC_ALLOW). Support for these flags in the profiles was just added to moby in response to https://github.com/moby/moby/issues/42619.

Is this the right issue, or should I make a new one?

[2021-07-20 22:59] KentaTada commented on #2430
Yes. I have already implemented SCMP_FLTATR_CTL_SSB support of libseccomp-golang.
But https://github.com/opencontainers/runtime-spec/pull/1047 is still ongoing.
After that, we can implement this flag in runc actually.

[2021-07-21 05:08] AkihiroSuda commented on #3102
Closing, as this seems an issue on the packager's side.

[2021-07-21 05:08] #3102 closed

[2021-07-21 05:09] #3044 closed

[2021-07-21 06:13] #2969 closed

[2021-07-21 07:11] eganvas commented on #3071
Thanks a lot. Really great job there to get the fixes to 1.0.1

[2021-07-21 11:05] yuntianfeijing opened #3105 "blkio GetStats can't get right IoServiceBytesRecursive in mixed disk scheduler(CFQ)"
two disk in my node,hdd and nvme,  sda scheduler is cfq and nvme is none
Docker Root Dir: /home/docker_rt
container mount localpath in nvme,  but i can't get disk io form cadvisor(nothing but sda 0)
[code]
libcontainer/cgroups/fs/blkio.go func GetStats get cfqStats，not include nvme

I guess zhe func should get stats.BlkioStats.IoServiceBytesRecursive from  `blkio.throttle.io_service_bytes` when us

[2021-07-21 19:09] haircommander commented on #3102
fwiw I should have fixed the package!

[2021-07-21 22:13] hk-vmg commented on #3084
Sorry for delay - thank you so much for the progress. I'll see if I can add anything, but I see you've likely got most/all of the way there.

[2021-07-22 01:54] shenshouer opened #3108 "How to set runc log path"
Anyone who known how to set runc log path ?

[2021-07-22 21:47] #3071 closed

[2021-07-22 21:49] kolyshkin commented on #1847
It seems that I just fixed it in https://github.com/opencontainers/runc/pull/3109

[2021-07-26 03:16] kailun-qin commented on #3108
Hi @shenshouer, please kindly take a look at the runc cmdline options `--log` which sets the log file path and see if this is what you expect.

[2021-07-27 20:19] #3098 closed

[2021-07-28 02:07] shenshouer commented on #3108
Yes, the flag can change log path of the runc.  Is there any way to change stdout log path  of container which run by runc ?

[2021-07-28 03:19] kolyshkin commented on #3028
I tried it in #3049 but I do need some input from @opencontainers/runc-maintainers on what the internal path should be (see https://github.com/opencontainers/runc/pull/3049#issuecomment-879656159 and the following discussion).

Basically, we have three options (under `opencontainer/runc/` prefix):
1. `internal/`
2. `libcontainer/internal/`
3. `internal/libcontainer/`

My #3049 implemented approach

[2021-07-28 13:35] dqminh commented on #3052
Slack or Matrix channel SGTM. I think we have #open-containers in CNCF slack, but that's not specific to runc.

[2021-07-28 20:35] kolyshkin commented on #2891
I found one particular way to get the data -- github contributors graph can be limited by a date range. For example, here's the runc data for the last 3 years (2018-08-01 to 2021-08-01):

https://github.com/opencontainers/runc/graphs/contributors?from=2018-08-01&to=2021-08-01&type=c

The only problem is the above graph does not show the full picture, as it does not account for anything other than

[2021-07-29 08:04] #2947 closed

[2021-07-29 20:54] kolyshkin opened #3119 "nsexec logging race"
As reported in https://kubernetes.slack.com/archives/CAZH62UR1/p1627584431224800
[code]

What we see here is runc failed to decode JSON log message from runc init's nsexec.c. The messages are:

[code]

Looks like the code hit a jackpot of a debug log race between the parent at

https://github.com/opencontainers/runc/blob/d962bb0cb0060ec5bd54878b2308452243018d98/libcontainer/nsenter/nsexec.c#L820-L

[2021-07-29 20:55] kolyshkin commented on #3119
As the production rarely uses debug, in practice this is fixed by https://github.com/opencontainers/runc/pull/3114/commits/b1bc76248c642660269a0764b02bf7ed2aa77605

[2021-07-29 21:25] kolyshkin commented on #3119
Another possible solution is something like this
[code]

[2021-07-30 09:09] dave-tucker opened #3121 "Fedora 34: SELinux is preventing runc from prog_run access on the bpf labeled init_t"
I'm using runc v1.0.1 via containerd v1.4.9 which was just released to fix an issue starting containers on Fedora 34 with runc v1.0.0.

With containerd v1.4.9/runc v1.0.1 my containers now launch successfully, but a couple of seconds after the container has started, I get an SELinux warning pop up.

[code]

I'm not sure that it affects the functionality at all, but it happens every time a containe

[2021-08-01 19:21] John-Polo opened #3123 "Installation failure on Slackware64 14.2 with sbopkg"
Hi,
I tried an install via sbopkg. The requirements in Slackbuilds say: google-go-lang and libseccomp. They both were installed. I looked through the log and this seems like relevant information?

`
...
Saving to: 'runc-1.0.0-rc92.tar.gz'

^Mrunc-1.0.0-rc92.tar     [<=>                 ]       0  --.-KB/s
^Mrunc-1.0.0-rc92.tar     [ <=>                ] 443.74K  2.14MB/s
^Mrunc-1.0.0-rc92.tar

[2021-08-02 07:49] kailun-qin commented on #2859
Opened an [runtime-spec proposal](https://github.com/opencontainers/runtime-spec/issues/1110) and added with a [drafted version](https://github.com/opencontainers/runtime-spec/pull/1111) there.

Any review or comment is much welcome. Thanks a lot.

[2021-08-02 12:56] leberknecht commented on #1650
On a side-note: meanwhile the `umask` support has arrived in podman:
[code]

[2021-08-02 18:32] kolyshkin commented on #3108
@shenshouer This mostly depends on whether the app you run in container needs a terminal. Please see https://github.com/opencontainers/runc/blob/master/docs/terminals.md.

[2021-08-02 18:32] #3108 closed

[2021-08-02 18:41] kolyshkin commented on #3123
It seems that you're using
1. somewhat old version of runc (released a year ago) -- the latest version is 1.0.1;
2. very old version of go (looks like earlier than 1.11, which was released 3 years ago) -- the latest version is 1.16.x;

While 1 is not a problem per se, 2 is what results in compilation errors.

Finally, the errors like this should be reported to a distro vendor.

[2021-08-02 18:41] #3123 closed

[2021-08-02 18:43] kolyshkin commented on #3105
@yuntianfeijing thank you for reporting this. PRs are welcome.

[2021-08-02 19:00] joanbm opened #3124 "Can't run containers "error while starting unit" with hidepid=2 + Systemd CGroupV2 + rootlesskit"
Attempting to run a container on *Rootless* Docker will fail when both of the following system settings are active:

* CGroups V2 (`cgroup_no_v1=all` kernel command line parameter), with Systemd
* Host /proc mounted with hidepid=2 (`sudo mount -o remount,hidepid=2 /proc`), i.e. each user can only see his own processes

Repro'd on Ubuntu 20.04 with Docker installed from Ubuntu PPAs (latest version,

[2021-08-02 19:13] kolyshkin commented on #1650
This feature was implemented in https://github.com/opencontainers/runc/pull/2527 and is available since runc v1.0.0-rc93, released in Feb 2021.

Guess we can close this one now.

[2021-08-02 19:13] #1650 closed

[2021-08-02 19:33] John-Polo commented on #3123
Okay, thanks.

[2021-08-02 20:16] AkihiroSuda commented on #3124
Workaround SGTM, could you open PR?

[2021-08-03 00:46] joanbm commented on #3124
I haven't done any serious testing with the workaround yet and I'd like a more generic solution not tied to RootlessKit, if I can free up some time I'll take a look at making a PR.

[2021-08-03 05:57] kailun-qin commented on #3124
It's great if we can have a more generic solution, but do we have a better approach?

Looks like the uid needs to be somehow explicitly input/shared in this case (though the naming of env variable should be aligned). Even no dependency on `busctl` cannot bypass the problem since the procfs is not accessible.

[2021-08-03 13:27] thaJeztah opened #3127 "Dependabot looks to be running on forks as well"
relates to https://github.com/opencontainers/runc/issues/2536 / https://github.com/opencontainers/runc/pull/2978

LOL, just noticed this; https://github.com/thaJeztah/runc/pulls

<img width="885" alt="Screenshot 2021-08-03 at 15 23 22" src="https://user-images.githubusercontent.com/1804568/128022893-fca7e5c3-9955-4474-a868-903cef018a59.png">

Looks like Depandabot may be a bit enthusiastic, and lo

[2021-08-03 23:09] kandoiNikhil opened #3128 "Sharing namespace between two containers"
Hi all,
I’m facing an issue trying to run a container in the same namespace as existing running container and wanted to get some pointers from y’all. Please let me know if this is not the right forum.

**Problem:**
I tried to run the second container using the following command
[code]

[code]

I get this error where crun is not able to get the final child’s pid for some reason. Does anyone know wh

[2021-08-03 23:38] kolyshkin commented on #3128
It looks like your question is about crun. This is runc repo.

Since you're using podman, I recommend asking your question in any of podman support resources.

[2021-08-03 23:38] #3128 closed

[2021-08-04 00:20] AkihiroSuda commented on #3127
Not for me 🤔

https://github.com/AkihiroSuda/runc/pulls

[2021-08-04 00:38] thaJeztah commented on #3127
That's odd. Oh! Could it be because you don't keep your master branch in sync, so it doesn't have a gha files?

![49DDB707-606F-4B6F-9C09-CCE430E885F7](https://user-images.githubusercontent.com/1804568/128103615-255f2666-5612-4fb9-8899-dbe5ba8d13ee.jpeg)

[2021-08-04 03:09] #1847 closed

[2021-08-04 04:44] AkihiroSuda commented on #3127
@thaJeztah Yes, probably.

The issue seems reported in https://github.com/dependabot/dependabot-core/issues/2804 but not solution

[2021-08-04 08:54] thaJeztah commented on #3127
😞 that looks like a huge omission. I initially thought it was a regular GitHub action (which would allow it to be configured to only run on the main repo), but it isn't 😞 😞 😞

[2021-08-05 03:57] kailun-qin commented on #3061
Opened an [proposal](https://github.com/opencontainers/runtime-spec/issues/1113) with a [drafted version](https://github.com/opencontainers/runtime-spec/pull/1114) in runtime-spec. Reviews/feedbacks are much appreciated!

[2021-08-05 13:05] CieNTi commented on #3121
Same here:

[code]

I had a similar problem a few days ago, regarding no execution at all after updating the system. It was solved by downgrading containerd with the following version:

[code]

I just repeated it and the warning is gone.

Hope it helps to narrow the causes.

[2021-08-05 14:28] dave-tucker commented on #3121
Just wanted to add that the only reason I noticed the issue after updating containerd to include #3055 was because my daily driver is a Fedora machine and I have `setroubleshoot` installed so I get a pop-up notification for every denial.
As far as I can tell, other than annoying pop-up warnings, there are no issues with functionality.

If you don't have `setroubleshoot` spamming you with notifcati

[2021-08-05 20:36] kolyshkin opened #3132 "Multiple containers in the same cgroup"
Currently runc allows multiple containers to share the same cgroup. While such shared configuration might be OK, there are some issues.

1. When each container has its own resource limits, the order of start determines which limits will be effectively applied.
2. When one of containers is paused, all others are paused, too.
3. When a container is paused, any attempt to do runc create/run/exec end

[2021-08-06 02:56] cyphar commented on #3121
Is the warning just a warning? #3055 made it so we no longer error out if we cannot introspect existing cgroup BPF programs (because under SELinux), but we still have to attempt to access the program to see whether we'd get a permission denied error. That's probably what's triggering the SELinux warning, and there isn't really a way to check whether we have permission to access the program other t

[2021-08-06 09:06] dave-tucker commented on #3121
As far as I can tell yes. I can certainly uninstall `setroubleshoot` and ignore the warnings on my laptop given I'm only seeing a dozen or so a day and they are innocuous ... I'm not sure what (if any) side-effects there would be on a server running more containers.

That's unfortunate. I have no idea what runc is using eBPF for, but I do have a little eBPF knowledge...
I'm wondering if you've con

[2021-08-06 09:08] dave-tucker commented on #3121
In verifying this, I found another issue:

Running `bpftool prog list` while a container is running results in `Error: can't get prog by id (65): Permission denied`
and of course, another SELinux denial :tada:

[code]

[2021-08-06 12:12] cyphar commented on #3121
Yeah this is for fundamentally the same reason -- you can't introspect a program if SELinux doesn't allow you to (though this behaviour would've happened before 1.0.1). Can you list the BPF programs that systemd defines? @rhatdan / @giuseppe is there something special we need to do with regards to BPF programs and SELinux?

[2021-08-06 12:18] CieNTi commented on #3121
To not repeat what is already said, I just added a :+1: after confirming in my environment everything @dave-tucker  said

[2021-08-06 12:32] rhatdan commented on #3121
https://github.com/fedora-selinux/selinux-policy/pull/806

It has not merged yet.  Submitted 21 days ago.

[2021-08-06 19:09] kolyshkin opened #3134 "runc delete -f fails to remove a paused container on cgroup v1"
Cgroup v2:

[code]

Cgroup v1:

[code]

This happens because in cgroup v2, "[p]rocesses in the frozen cgroup can be killed by a fatal signal" (https://www.kernel.org/doc/html/latest/admin-guide/cgroup-v2.html), and it's not so for cgroup v1.

Most interesting thing is, `*linuxContainer) Destroy()` thaws a container if it is paused, but we don't call it until we kill init process in the `killContai

[2021-08-06 19:10] kolyshkin opened #3135 "Make use of cgroup.kill"
~~Cgroup v2~~ Kernel 5.14+ implements `cgroup.kill` which does the same thing that we try to do in `signalAllProcesses` https://github.com/opencontainers/runc/blob/8772c4dd2fd36b1cc1b31d1ec9e38debd0c786a9/libcontainer/init_linux.go#L499
but in the kernel and reliably.

Since we're using `signalAllProcesses` mostly to send SIGKILL to container (with the exception of `runc kill --all`), this needs t

[2021-08-10 10:21] iholder-redhat opened #3141 "Setting device rules for cgroups v1 doesn't work - "Transition" function's delta is always blank"
Hey,

I'm a Kubevirt developer.
For a while now we do the following to apply device rules:
[code]

This is because [Transition function](https://github.com/opencontainers/runc/blob/master/libcontainer/cgroups/fs/devices.go#L74)  that is supposed to "Compute the minimal set of transition rules needed to achieve the requested state", as written in the comments, always returns an empty delta although

[2021-08-10 21:23] kolyshkin commented on #3141
@iholder-redhat I'm afraid your bug report is not very clear. Can you please describe what are you doing, what you think should happen, and what actually happens? Or, provide a simple repro.

[2021-08-10 21:34] kolyshkin commented on #3132
I am going to implement
* solution 2 for runc create/run (i.e. require that the cgroup of a container to be created is empty (no processes), and
* solution 3 for runc exec (i.e. require that the cgroup is not frozen).
as the least intrusive way to handle this issue.

[2021-08-10 21:41] kolyshkin commented on #3141
@iholder-redhat also please take a look at [devices_emulator_test.go](https://github.com/opencontainers/runc/blob/master/libcontainer/cgroups/devices/devices_emulator_test.go) -- you can find test cases in which Transition() do not return empty rule set.

Ideally, demonstrate a bug by adding a test case to the above file.

[2021-08-10 22:02] kolyshkin commented on #3134
Just checked that crun is not affected.

[2021-08-10 22:12] kolyshkin commented on #3132
It seems that crun is equally affected (filed https://github.com/containers/crun/issues/716).

[2021-08-11 03:24] kailun-qin opened #3145 "Support CFS bandwidth burst"
Burstable CFS controller is landed in Linux 5.14 [1], though the documentation is still WIP [2]. This helps with parallel workloads that might be bursty. They can get throttled even when their average utilization is under quota. And they may be latency sensitive at the same time so that throttling them is undesired.

This feature borrows time now against the future underrun, at the cost of increas

[2021-08-11 10:53] j-guitart opened #3146 "Checkpoint/restore of a runc container with a MACVLAN device"
CRIU claims to support checkpointing/restoring a net namespace with a MACVLAN device, so I assumed this could work also with runc containers. Nevertheless, up to now I have failed to achieve this. I have tried to checkpoint/restore a runc container running a redis server by using a external net namespace and a net namespace created by runc. I describe below the steps done and the outcome in both c

[2021-08-11 14:19] christian-2 opened #3147 "How can a rootless container (bind) mount directories or files from the host?"
I am looking for documentation or an example showing how rootless containers can mount directories and files from their host. The presentation [*Rootless containers with runC*](https://www.youtube.com/watch?v=r6EcUyamu94) from back in 2017 mentions (at 35:50) that "if you can access it as a regular user on a system ... it is literally just a matter of doing ... a bind mount".

But is it really tha

[2021-08-11 22:45] kolyshkin opened #3149 "Release 1.0.2"
Here are PRs that we need in order to release 1.0.2:

* https://github.com/opencontainers/runc/pull/3115 (partial backport of #3090)
* https://github.com/opencontainers/runc/pull/3129 (partial backport of #3109)
* https://github.com/opencontainers/runc/pull/3142 (manual backport of #3099)
* https://github.com/opencontainers/runc/pull/3130 (backport of #3120)
* #3167 (backport of #3166)
* #3169 (ba

[2021-08-11 23:21] #3119 closed

[2021-08-12 03:04] kolyshkin commented on #3146
@adrianreber @avagin PTAL 🙏🏻

[2021-08-12 03:13] kolyshkin commented on #3135
So, now we have this:

https://github.com/opencontainers/runc/blob/b114862c537017d9dbf10999a6efb5fc181672b5/libcontainer/state_linux.go#L40-L47

and this:

func killContainer(container libcontainer.Container) error {
	_ = container.Signal(unix.SIGKILL, false)
	for i := 0; i < 100; i++ {
		time.Sleep(100 * time.Millisecond)
		if err := container.Signal(unix.Signal(0), false); err != nil {
			destro

[2021-08-12 03:19] cyphar commented on #3147
Adding a bind-mount in mounts should work with rootless containers -- my first guess is that you didn't define a bind-mount correctly (you need to include `"bind"` in the list of options -- setting the type to "bind" isn't correct since mount types are ignored when you mount). The reason this works is that inside the user namespace you have privileges to mount.

[2021-08-12 05:02] christian-2 commented on #3147
@cyphar Thanks for your quick response. I can by now mount a directory (that is owned by my user) from the host into the rootless container. Mount options include `bind`.

I am still struggling to mount e.g. `~/.ssh/id_rsa` (i.e. a file also owned by my user) or `ro`-mount `/etc/hostname` (i.e. a world-readable file owned by `root`). What specific entries in [`mounts`](https://github.com/openconta

[2021-08-12 05:15] cyphar commented on #3147
Can you post the config you're using and the error you're getting? Mounting over files should work without issue (and the original owner of the source of the mountpoint doesn't affect bind-mounting).

[2021-08-12 06:24] AkihiroSuda commented on #3147
That package is too old.  Please use v1.0.1.

(Included in `containerd.io` dpkg maintained by Docker, Inc. https://download.docker.com/linux/debian/dists/buster/pool/stable/amd64/)

[2021-08-12 07:04] kolyshkin commented on #3039
With https://github.com/opencontainers/runc/pull/3152 merged, this issue is finally fixed. Hooray!

[2021-08-12 07:05] kolyshkin commented on #3039
Whoops, I was writing a comment to close this one, and while I was doing it, the "close with comment" button became "reopen" 😃

[2021-08-12 07:05] #3039 closed

[2021-08-12 19:31] christian-2 commented on #3147
I have now upgraded to Debian 11.0 (with `kernel 5.10.0-8-amd64`). Since its latest version is still only `runc=1.0.0~rc93+ds1-5+b2`, I have installed runc v1.0.1 separately as part of Debian's `containerd.io=1.4.9-1`, as was suggested. I shall switch back to the Debian package once its version has caught up.

With that, all intended bind mounts into the rootless container now apparently do work.

[2021-08-12 19:31] #3147 closed

[2021-08-12 20:17] odinuge commented on #3149
Thanks for working on this, and being so quick about the release @kolyshkin! :raised_hands:

[2021-08-19 00:01] kolyshkin commented on #3135
This is a relatively new addition and might not be available for older kernels: https://lwn.net/Articles/855924/

[2021-08-19 02:49] kolyshkin commented on #3141
@iholder-redhat ^^^^

[2021-08-19 03:06] kolyshkin commented on #3096
Looks like the issue is no more; closing.

[2021-08-19 03:06] #3096 closed

[2021-08-19 03:06] kolyshkin commented on #3083
Closing as per previous comment.

[2021-08-19 03:06] #3083 closed

[2021-08-19 09:31] dilyanpalauzov opened #3172 "runc create: what is the default for terminal:?"
https://github.com/opencontainers/runc/blob/master/docs/terminals.md says:

This does not make sense.  The default is applied, when the parameter is not explicitly specified.

[2021-08-19 16:01] kolyshkin commented on #3172
It does -- it's just `runc spec` default is to create a terminal, while `runc run/start` default is to use a pass-through mode.

Now, `runc run` default is actually dictated by the runtime-spec (see https://github.com/opencontainers/runtime-spec/blob/82ab996a5bf91804a440391bff43140b17bbadd4/config.md#process).

`runc spec` is merely providing an example spec. Usually container spec is created by s

[2021-08-19 16:26] dilyanpalauzov commented on #3172
After carefully re-reading the paragraph, I think it does make sense.

[2021-08-19 16:26] #3172 closed

[2021-08-20 07:23] cyphar commented on #3149
If that's everything @kolyshkin I'll prepare the release PR now?

[2021-08-20 08:27] AkihiroSuda commented on #3149
I guess we could bump up Go 1.17 (https://github.com/opencontainers/runc/pull/3021), but can be postponed to v1.0.3.

[2021-08-20 18:39] cyphar commented on #3172
Yeah the sentence is just explicitly spelling out that the default value of booleans in Go JSON if not specified is `false`, so in this case if you don't specify `terminal` it means you end up in pass-through mode (as if you'd set `terminal` to `false` explicitly).

[2021-08-22 14:18] l0kod commented on #2859
About the Go support, @gnoack and I are working to move https://github.com/gnoack/golandlock: https://github.com/gnoack/golandlock/issues/10. This should not take long and I suggest to not use the current location/name but wait for the new one.

[2021-08-23 08:12] cyphar commented on #3149
https://github.com/opencontainers/runc/releases/tag/v1.0.2

[2021-08-23 08:12] #3149 closed

[2021-08-23 10:47] thaJeztah opened #3174 "Should `memory.kmem.tcp.limit_in_bytes` still be supported?"
Mostly a question here, as it's somewhat confusing (also see https://github.com/opencontainers/runtime-spec/pull/1093)

Commit https://github.com/opencontainers/runc/commit/2d38476c96e3407eba876e77b301880c6d7e5ccc (https://github.com/opencontainers/runc/pull/2840) removed support for kernel-memory limits.

The PR referred to https://github.com/torvalds/linux/commit/0158115f702b, which deprecated `

[2021-08-23 10:47] thaJeztah commented on #3174
/cc @kolyshkin @AkihiroSuda

[2021-08-23 13:56] iholder-redhat commented on #3141
Hey @kolyshkin,
It's just been a while since I've encountered this bug. Next time I will save all info & way to reproduce when I encounter it so the issue will be more valuable - sorry for that. I thought it's better to have it here without good info than forget about it. In any case I've tried to reproduce now and I see that the issue is gone. That's good news - I assume that I was working with a

[2021-08-23 13:56] #3141 closed

[2021-08-23 20:58] kolyshkin commented on #3174
Yes it seems like my mistake.

Not sure if anyone is using it (nobody? or we'd get bug reports, I assume), but the setting exist (in cgroup v1), is not obsoleted and can be re-introduced.

[2021-08-23 21:00] thaJeztah commented on #3174
Would re-introducing it also bring the risk of re-introducing the buggy kmem issues on the older kernels (3.10 most notably), or would that issue not be triggered?

[2021-08-23 21:02] thaJeztah commented on #3174
LOL. I was thinking the same.

I started a branch to deprecate / disable the kmem options in moby, when I noticed we only deprecated one, and not the other one, and then I got confused 😅 (which is why I opened this ticket).

At least we should probably amend the change in the runtime-spec.

[2021-08-24 07:58] cyphar commented on #1343
I'm going to close and lock this issue because people are posting unrelated bugs here. If you have a new bug in runc, please create a new issue.

[2021-08-24 07:58] #1343 closed

[2021-08-24 17:23] gnoack commented on #2859
This is done now :) The new location is: `import "github.com/landlock-lsm/go-landlock/landlock"`.

[2021-08-24 22:11] kolyshkin opened #3177 "Complicated cgroup manager instantiation (and how to fix it)"
Currently, libcontainer has 4 different cgroup managers:
* cgroup v1 cgroupfs-based (aka fs)
* cgroup v2 cgroupfs-based (aka fs2)
* cgroup v1 systemd-based (aka systemd v1)
* cgroup v2 systemd-based (aka systemd v2)

In addition, 3 of the above also implement optional "rootless" functionality,
which can be enabled during manager's instantiation.

Because of the above, there is no easy way to "get

[2021-08-24 22:14] kolyshkin commented on #3177
The fix is implemented as part of PR #3131.

[2021-08-24 22:27] kolyshkin opened #3178 "Limited cgroup manager usage pattern (and how to fix it)"
Working on fixing #3132, I tried to use a new instance of cgroup manager (as a part of `runc run`) to check if cgroup already exists (and get all its PIDs). To my suprise, it did not work for most of cgroup managers, because `Exists()` (and `GetAllPids()`) rely on cgroup paths being known, and those paths are only initialized during `Apply()`.

In general, it's impossible to use a new instance of

[2021-08-25 00:31] kolyshkin opened #3179 "Unable to load containers after devices.Type change"
Just found this today:

[root@kir-rhat runc-tst]# ../runc/runc list
load container cc6: json: cannot unmarshal number into Go struct field Device.config.devices.type of type devices.Type
ID          PID         STATUS      BUNDLE      CREATED     OWNER

@thaJeztah not sure if there's a way to work around that -- if not, we may need to revert  https://github.com/opencontainers/runc/pull/3159

[2021-08-25 01:53] kolyshkin opened #3180 "unable to update container resources "out of band""
Upper level runtimes (such as cri-o or containerd) rely on "runc update" to update container's resources.

This is a waste of resources, especially if the update is performed regularly. It involves fork/exec, reading and parsing container's config.json (which is about 8K on my system), writing the updated config.json back...

One other observation is, crun update is 2x faster. I think this is most

[2021-08-25 02:18] kolyshkin opened #3181 "runc exec is 5x slower than crun exec"
[code]

Need to
- figure out why the difference is so high
- eliminate some of the bottlenecks

[2021-08-25 02:21] kolyshkin commented on #3181
One thing `runc exec` does and `crun exec` does not is parsing `/etc/passwd` and `/etc/group`. I do not understand why it's needed, since we pass uid:gid as numbers (stringified but still) so the only need for passwd/group lookup is to $HOME value ... which is not used, unless not available from environment.

This needs to be fixed.

[2021-08-25 03:52] cyphar commented on #3179
Oh shit. Yeah if we changed the on-disk representation of the state we need to revert it. We caused a similar issue with `initProcessStartTime` a long time ago and it was incredibly painful to fix (it involved some truly awful hackery inside Docker to auto-migrate the on-disk state files). #3159 hasn't been in a release, right?

[2021-08-25 04:35] joanbm commented on #3124
A small update...

One of the two usages of `DetectUID` seems superfluous, it is used for authentication in DBus with the `AUTH EXTERNAL` method (https://dbus.freedesktop.org/doc/dbus-specification.html#auth-mechanisms), but as far as I can tell, it's not *mandatory* to send the UID along with the `AUTH EXTERNAL` method, this is hinted at in the documentation and it can be seen in the systemd sour

[2021-08-25 04:40] AkihiroSuda commented on #3181
Is this a recent performance regression?

[2021-08-25 08:54] thaJeztah commented on #3179
Arf. Sorry for that.

Perhaps we need some fixtures to Marshal/Unmarshal 🤔. I assumed failures in this area would indeed be caught by CI.

Also had a quick look if we could add a custom unmarshal to the `Type` type, but looks like Golang already errors out before it's hitting the custom function 😞

[2021-08-25 08:55] #3179 closed

[2021-08-25 16:23] mrunalp commented on #3180
I like the idea of a smaller file for the updated parameters. I remember discussing something like that with @mikebrow.

[2021-08-26 20:18] kolyshkin opened #3183 "runc init debug log provides too much context"
PR #2911 enabled logrus to show information about log
caller, if `--debug` is set. It is helpful in many scenarios, but does
not work very well when we are debugging runc init, for example:

[code]

As we're merely forwarding the logs here, printing out filename:line and
function is useless and clutters the logs a lot.

Ideally, it should look like before
[code]

[2021-08-26 20:29] kolyshkin opened #3184 "runc debug log file paths and function names are too long"
PR #2911 enabled logrus to show information about log
caller, if `--debug` is set.

The problem is, the file name and in many cases the function name have a
long prefix of `github.com/opencontainers/runc` (this is with `-trimpath` used
during compilation, and without it it's even worse).

Here's how it looks like:
[code]

It is worse when log is printed not from the main package:
[code]

Ideally,

[2021-08-27 08:21] AkihiroSuda opened #3187 "CI: relax commit message checker 'Subject too long (max 72)'"
https://github.com/opencontainers/runc/blob/4d26c4a0a14e55fb71a3f7be2d3cd9f228523fff/.github/workflows/validate.yml#L121

This restriction seems too strict.
I suggest just dropping this check, or at least relaxing the constraint to 100 chars.

[2021-08-28 01:43] xiaods opened #3188 "running golong-ci lint v1.42.0 and golang v1.17.0 and report more sync warning"
[code]

[2021-08-28 23:08] cyphar commented on #3179
Yeah we should do that.

Purely from the on-disk-state perspective it should work fine, though in practice there's probably other issues we might hit doing that -- like if we add support for a new kernel feature and then older runc misconfigures it by accident. (Also the on-disk state isn't the same as config.json -- it's the internal libcontainer.Config generated by specconv.)

[2021-08-30 15:36] kailun-qin commented on #2859
Hi @BoardzMaster, great to hear that you're also working on it! Yes, internally we have a PoC implementation based on `runc` using `go-landlock` working as mentioned here: https://github.com/opencontainers/runtime-spec/pull/1111#issuecomment-904462878. We've been making cleanups and updating according to the go-landlock changes following the spec these days.

I'd like to propose a convergence on i

[2021-08-30 19:04] kolyshkin commented on #3187
I think the check makes sense and we should keep it. Whatever is not fitting in subject should go into commit description.

[2021-08-30 19:06] #3187 closed

[2021-08-30 19:20] #3084 closed

[2021-08-30 22:13] nathanblair opened #3191 "User namespace mappings not working as expected"
The spec [here](https://github.com/opencontainers/runtime-spec/blob/master/config-linux.md#user-namespace-mappings) shows that the `config.json` `uidMappings` and `gidMappings` should forward {u,g}ids from the host into the container runtime.

Its very possible I'm misunderstanding intended behavior here but I'm not able to map a user ID from the host into an existing user ID in the container usin

[2021-08-30 23:58] kolyshkin commented on #3188
Some of those warnings appears to be bogus, or you're using some pretty old runc source.

I can't repro this using golangci-lint 1.42.0 on master:

[code]

Closing for now -- feel free to comment though @xiaods

[2021-08-30 23:58] #3188 closed

[2021-08-31 02:05] kolyshkin commented on #3052
OK, we have a private channel `#runc` on opencontainers.slack.com, everyone but @crosbymichael seems to be in there. Me and @cyphar tried to mirror that channel to Matrix, with no success (if I remember right, you have to host your own instance of https://github.com/matrix-org/matrix-appservice-slack, as the public one provided by EMS do not allow private channels). Any help is appreciated.

@cros

[2021-08-31 04:02] nathanblair commented on #3191
I get a different error setting the `{u,g}idMappings` to forward `hostID` `1000` to `containerID` `0`:

[code]

I'm also less-sure the ability of `crun` here is desired, as I've discovered for either of the mapping cases, the entire filesystem in the container runtime is owned by the `app` user (`uid` `1000`).

What I'm aiming for is run the container under the app user but the file system still r

[2021-08-31 07:52] xiaods commented on #3188
RUNC_VERSION=v1.0.2 tag report above erros.

[2021-08-31 08:04] #2817 closed

[2021-08-31 09:53] xiaods commented on #3188
<img width="715" alt="截屏2021-08-31 下午5 53 25" src="https://user-images.githubusercontent.com/37678/131482188-3081a3a5-67a7-45ea-b0bf-79ce0c0c0b2e.png">

[2021-08-31 15:36] xiaods commented on #3188
I use this docker environment for testing.

https://github.com/xiaods/k8e/blob/master/Dockerfile.dapper

[2021-09-01 10:00] kailun-qin commented on #2859
Hi @BoardzMaster, I've proposed my drafted version of PR here: https://github.com/opencontainers/runc/pull/3194. See if you have anything to add/converge or any thoughts. I would be happy to add co-authors.

Hi All, please kindly take a look when you get a chance. Thanks a lot!

P.S. There should be a follow-up patch for integration testing.

[2021-09-01 15:29] kallisti5 commented on #2151
What *is* the actual fix for this one?  I think the massive number of references above show this is breaking a *LOT* of stuff in a lot of places.  A lot of the bugs above mention using older os images as the "workaround", but nobody has found a solution.

In the concourse bug I opened above, 32-bit binaries are failing to run in runc containers.  statx is allowed via the seccomp config, but is fai

[2021-09-01 15:35] cyphar commented on #2151
That sounds like a bug in our BPF patching code (that really shouldn't be happening -- we do have handling for different architectures including the 32-on-64-bit "architecture" so it's a bit puzzling that it's not working as expected). I will take a look at this this week.

[2021-09-01 15:38] kallisti5 commented on #2151
@cyphar Thanks :-)    Would moving away from Fedora 34 to something like Alpine be a temporary workaround?   We really didn't run into this until we upgraded the container host from Fedora 33 to 34.

[2021-09-01 16:00] cyphar commented on #2151
I'm not sure to be honest -- I'm also confused how the container host upgrade could've caused this as well. If there's an issue with our 32-bit compat handling it should happen on every system. The obvious contender (kernel version change) doesn't really explain it either.

[2021-09-01 16:03] kallisti5 commented on #2151
@cyphar   @fweimer-rh keeps mentioning something changed in Fedora 34, but really hasn't identified what beyond this:

@fweimer , @fweimer-rh , can you provide clarification on what changed in Fedora 34?

[2021-09-01 16:07] BoardzMaster commented on #2859
Thank you so much. I will check it.

[2021-09-01 17:45] cyphar commented on #2151
The ENOSYS boundary is primarily set by the seccomp profile not libseccomp (if libseccomp doesn't know about a syscall it's ignored, but it's still primarily set by the profile -- which wouldn't have changed between versions since it's a Docker-version thing not related to the rest of the host and statx in particular has been allowed for quite a while). But yeah, as I said I'll take a look at this

[2021-09-02 00:26] kolyshkin commented on #3188
@xiaods I am not sure how exactly you do it, but I have also rechecked runc 1.0.2 codebase using golangci-lint version 1.42.0 and got no errors.

I see some discrepancies -- here (in issue title) you say you're using golangci-lint 1.42.0, but the Dockerfile you mention installs golangci-lint v1.40.0. I haven't tried 1.40.0 myself but I'm pretty sure it won't get those errors.

Regarding the screen

[2021-09-02 00:44] kolyshkin opened #3195 "Release 1.1.0"
Release milestone: https://github.com/opencontainers/runc/milestone/12.

For proposed changelog, see #3320

[2021-09-02 04:27] AkihiroSuda commented on #3195
I think we should release RC1 by Sep 13, and GA by the end of the month.

[2021-09-02 04:33] AkihiroSuda commented on #2823
Moving to v1.2 milestone, waiting for https://github.com/opencontainers/runtime-spec/pull/1090#issuecomment-902540248

[2021-09-02 06:28] xiaods commented on #3188
thanks for your clarify. i will double check it.

[2021-09-02 14:58] iholder101 opened #3196 "Regarding setting cgroup v2 rules without overriding previous ones"
Hello,

I'm Itamar, a [Kubevirt](https://github.com/kubevirt/kubevirt/) developer.

In Kubevirt we use runc to manage and control containers' cgroup definitions. One of our main uses is the devices subsystem. I'm currently working on supporting cgroups v2 but facing a problem that you may help me with.

The problem is that currently when [setting a device rule](https://github.com/opencontainers/ru

[2021-09-02 15:01] iholder-redhat commented on #3196
P.S. - I also sent [a message](https://groups.google.com/a/opencontainers.org/g/dev/c/tCa1feBywPY) to community dev channel.
Thanks @kolyshkin for directing me here.

[2021-09-02 15:10] kolyshkin commented on #3196
@cyphar is the expert here.

AFAIK there's no way to get current rules for v2/eBPF, meaning you're right that you need to keep the previous set of rules....

[2021-09-02 18:54] kolyshkin commented on #3195
I agree with @AkihiroSuda -- let's try to merge most PRs we want to merge and have an rc1 out by Sep 13.

[2021-09-03 10:40] YanzhaoLi commented on #3037
Hi, @AkihiroSuda, I ran into this issue on `kubernetes 1.22 + containerd 1.5.5`. Do you know how to add `CGO_ENABLED=1` in this case?

[2021-09-03 22:39] kolyshkin commented on #3038
OK it seems it's possible to have arm64 binary being built in GHA CI (POC is in https://github.com/opencontainers/runc/pull/3197).

Problem is, script/release.sh is really only targeted for a single architecture, and adding another makes it more of a mess that I'd like to.

Will take another look next week once I have time.

[2021-09-04 15:54] nathanblair commented on #3191
After some trial and error and lots of guessing I have managed to get permissions set correctly with the following configuration:

[code]

I think I'm getting close to finally understand the mapping going on. I have my `sub{g,u}id` files set to `$MY_USER_NAME:10000:65536`, with my actual host ID being 1000. The filesystem (unpacked) on the host is owned by my host user (1000), so when the unpacked

[2021-09-05 06:49] iholder-redhat commented on #3196
The question is whether it's reasonable to have this feature supported in runc.
We can solve it in Kubevirt, but I think many other runc users would want this behavior, don't you think?

[2021-09-07 18:57] cpuguy83 opened #3202 "NOTIFY_SOCKET bind fails"
I started testing some things using runc in a systemd unit directly.
In this case it seems NOTIFY_SOCKET is always set, which triggers runc to bind-mount a socket into the container and proxy to the real socket (https://github.com/opencontainers/runc/blob/110bdb02e629aa3bd871d0c58a8f1e08c8cf48a6/notify_socket.go#L46-L56)

The issue with this is if the runc root (`/run/runc` by default) does not ex

[2021-09-09 00:40] kolyshkin commented on #2826
So, yes, I think we can make an exception for /proc/sys/net mount, in case NETNS is enabled.

It's too late for 1.1.0 I'm afraid though, as we do not even have a PR yet.

Moving milestone to 1.2.0. @JonathonReinhart feel free to open a PR.

[2021-09-09 01:14] JonathonReinhart commented on #2826
Hi @kolyshkin. While I was away from this issue, I started down the road of auditing the kernel to verify that everything under `/proc/sys/net` was netns-safe, meaning either read-only, or implemented per-netns. The results are:
- I developed this tool: [**`linux-netns-sysctl-verify`**](https://github.com/JonathonReinhart/linux-netns-sysctl-verify) which tries to find netns-unsafe sysctls
- I foun

[2021-09-09 02:03] kolyshkin commented on #3028
OK, this is obviously not ready for 1.1; moving to 1.2. Would appreciate some input from other @opencontainers/runc-maintainers  on this.

[2021-09-09 04:55] #3183 closed

[2021-09-09 04:55] #3184 closed

[2021-09-09 05:10] cyphar commented on #3195
I've reviewed and merged the smaller ones. #2576 and #3131 are the two big ones that I'll need to take a long look at. #3068 seems to be still waiting on rhatdan's opinion on the naming of the option (I threw in my 2c for what it's worth).

[2021-09-09 18:53] kolyshkin commented on #3127
The official docs say that dependabot is disabled on forks by default, and you need to explicitly enable it.

https://docs.github.com/en/code-security/supply-chain-security/keeping-your-dependencies-updated-automatically/enabling-and-disabling-version-updates#enabling-version-updates-on-forks

Apparently, it is enabled on my fork, and I see no way to disable it :-\

[2021-09-09 19:49] m-yosefpor commented on #3145
just adding runc PR link: https://github.com/opencontainers/runc/pull/3205

[2021-09-09 20:13] thaJeztah commented on #3127
Could it be those docs may still be from the old implementation?

Perhaps it's possible to change access permissions on forks to deny the bot access 🤔

[2021-09-12 03:06] cyphar commented on #2891
I think it's clear we have a fairly healthy set of maintainers involved with this project, and we just added @thaJeztah recently. I reckon it's okay to close this for now.

[2021-09-12 03:06] #2891 closed

[2021-09-14 18:41] kolyshkin commented on #3202
@cpuguy83 Do we want to create the directory (`/run/runc`) or skip the mount if it does not exist? I assume the former but I'm not quite sure.

[2021-09-14 19:05] cpuguy83 commented on #3202
I think pre-create.
I noticed the code is currently just doing an Mkdir instead of MkdirAll and I wasn't sure if this was intentional.

[2021-09-17 09:50] eero-t commented on #3181
Docker supports passing username/groupname, but it reads them from inside the container, not from host which IMHO makes that feature useless (only reason I can think of for using names is matching host IDs for things that correspond to host, like device files).

[2021-09-18 08:09] cyphar commented on #3181
We fetch the supplementary group IDs from the container even if the user ID specified is numeric, which Docker doesn't do for us IIRC. This is also something we do with the regular config so I'm not sure we can change the behaviour at this late stage. The whole stringification logic is a quirk from when libcontainer used by use directly by Docker, but we probably can't change that either because i

[2021-09-20 01:35] cyphar opened #3220 "glibc LGPL requirements a bit unclear"
At the moment, our statically linked binaries use whatever distribution's glibc archive we have -- does that mean we need to provide sources for glibc (even though under the definition of the LGPL glibc is a standard system library)? The reason I ask is that it'd be impractical for us to download and compile glibc for every release build, so maybe we should instead just provide a copy of the sourc

[2021-09-20 23:26] kolyshkin commented on #3134
Fixed by #3217

[2021-09-20 23:26] #3134 closed

[2021-09-22 14:44] j-guitart commented on #3146
I've been retrying this several times and I always end up with the same behavior (as described above) so I tend to think this must be a runc (or criu?) bug. Has any member of the runc community been able to reproduce this?

Thx

[2021-09-23 10:07] adrianreber commented on #3146
Unfortunately I have never used container checkpointing with MACVLAN. Sorry.

Using an external network namespace sounds like the best way to solve this. Maybe you just have some iptables rules left from CRIU in the network namespace which block the traffic. Can you see if you have any iptables rules in your network namespace?

[2021-09-23 14:56] thaJeztah opened #3221 "Investigate uses of cgroups.Manager.GetCgroups() (unused, perhaps can be deprecated)"
While reviewing https://github.com/opencontainers/runc/pull/3216, I noticed the manager interface has a `GetCgroups()`, which is unused in our codebase.

Looking at its history to see if it was used at some point, but "no longer" used, I found that it was contributed in https://github.com/opencontainers/runc/pull/2177 to be used by an external consumer. Digging further, that PR was linked to https

[2021-09-23 14:57] thaJeztah commented on #3221
/cc @devimc perhaps you know if it's still used in your codebase (which may have been moved elsewhere)

/cc @kolyshkin

[2021-09-23 15:04] devimc commented on #3221
please go ahead and deprecate it, we are using `github.com/containerd/cgroups` for cgroups management, thanks

[2021-09-23 15:19] thaJeztah commented on #3221
Thanks @devimc ! It's only a small bit of code, but I know we're looking at making more packages "internal" (as not all of them are really designed for external consumption), so this one caught my eye.

[2021-09-23 16:31] kolyshkin commented on #3221
This is used by kubernetes (see e.g. https://sourcegraph.com/github.com/kubernetes/kubernetes/-/blob/pkg/kubelet/cm/container_manager_linux.go?L913:27#tab=references), maybe also cAdvisor, so we can't remove it.

One other thing, pretty big, which is not used by runc itself, is GetStats. We have lots of code and some tests for these methods, but never use them. The user is, again, kubernetes, and

[2021-09-23 16:31] #3221 closed

[2021-09-23 16:32] kolyshkin commented on #3221
Ah, and the main reason why kubernetes use libcontainer is because no other cgroup library supports systemd (AFAIK).

[2021-09-23 21:44] #3177 closed

[2021-09-23 21:44] #3178 closed

[2021-09-24 15:17] j-guitart commented on #3146
Adrian, thanks for your response.

Indeed, iptables rules added by CRIU into the network namespace are there after restoring. Could it be that CRIU is not able to remove them due to the errors in the restoring process described above?

`Chain INPUT (policy ACCEPT)
target     prot opt source               destination
CRIU       all  --  anywhere             anywhere
CRIU       all  --  anywhere

[2021-09-24 15:22] adrianreber commented on #3146
You can try something like `ip netns exec redis iptables -F` (or iptables -X -F) to remove the rules from the network namespaces after restoring.

[2021-09-24 15:42] j-guitart commented on #3146
Thanks, this seemed to work, at least now the restored container can be reached by ping. I have yet to try what happened with the established TCP connections.

I assume this could be considered a workaround to deal with the iptables errors while restoring. However, the restoring procedure still hangs when `Running post-resume scripts`. Would be safe to use the detach option in this case, even if t

[2021-09-24 15:54] adrianreber commented on #3146
That sounds correct. Using Podman to restore a container the last message in `restore.log` are:
[code]

That is how it is supposed to be.

[2021-09-27 06:30] chenk008 opened #3225 "When rootless runc exits, failed to remove cgroupv2 with sub-cgroup"
In case of rootless, cgroup2 mount into container `/sys/fs/cgroup`. After I created sub-cgroup `test`, and then exited. A error message shown
[code]

Reproduce:

[code]

systemd version: 239 (239-41.el8_3)
kernel version: 4.18.0-305.12.1.el8_4.x86_64
linux distro: centos 8

[2021-09-27 06:40] chenk008 commented on #3225
I think it relates to https://github.com/opencontainers/runc/blob/e999e29a288630b5dfbfd8bc789975e5b94e6102/libcontainer/cgroups/systemd/v2.go#L305

[2021-09-27 23:08] kolyshkin commented on #2826
@JonathonReinhart wow, great work, much appreciated! Looks like we're on the right track with #3224.

[2021-09-27 23:46] kolyshkin commented on #3195
OK, we only have 3 PRs left, and I hope we can do an 1.1.0-rc1 this week.

* https://github.com/opencontainers/runc/pull/2576
* https://github.com/opencontainers/runc/pull/3223
* https://github.com/opencontainers/runc/pull/3059

[2021-09-28 05:08] cyphar commented on #3038
There is a slight wrinkle with the new `make release` setup -- I need to manually do the signing afterwards because `release.sh` is run in the container which doesn't have my PGP keys. I will just do the signing manually for this release, but as discussed in the other thread I'll try to work up a more automated release system for 1.2.0.

[2021-09-29 00:41] kolyshkin commented on #3225
Ah, so you're using cgroup v2 on CentOS 8. We do not test this configuration, this is why we do not catch this bug.

[2021-10-04 06:57] iholder-redhat commented on #3196
Any thoughts @cyphar?

[2021-10-04 10:03] eero-t commented on #3181
@cyphar

The point of using name for host mapping is that you do not know what are the numeric IDs, because those differ between distributions & individual host machines, and container orchestration systems are not in control of them.  Whereas names for few common groups (e.g. render) and users (e.g. nobody) are fairly standard between distributions.

Unlike with hosts (which are "randomly" assign

[2021-10-05 15:38] PKizzle opened #3232 "Missing hugetlb support leads to many log messages"
System infos:
- Raspberry Pi 4
- Raspberry Pi OS / Debian (bullseye) arm64
- kernel (5.10.63-v8+)

The kernel shipped with Raspberry Pi OS currently does not have hugetlb support enabled by default, which leads to the following error messages. I have seen that it possible to deactivate the hugetlb metric in cadvisor, however I don't see any way to do this when using k3s. Since the error message "f

[2021-10-05 21:06] #3225 closed

[2021-10-06 00:25] kolyshkin commented on #3232
Thanks for reporting, should be fixed by https://github.com/opencontainers/runc/pull/3233

[2021-10-10 00:15] kocho1984 opened #3241 "--env doesn't work when --process process.json is used"
Is it possible to use both --env and --process flags when running runc? I noticed that when --process is used (I have env variables defined in json file), env variables defined after --env are ignored (I don't see them inside a container). Is it expected behavior? I think it should be possible to define env variables both in json file and with --env option.

[2021-10-13 08:31] zhucan opened #3244 "Use "dlv" debug runc with "unable to setup user: read-only file system" ？"
![image](https://user-images.githubusercontent.com/13997135/137096951-814ee5a2-c5bd-4bda-8507-62c4d0e11643.png)

[2021-10-18 09:34] zhangxsh opened #3247 "I want to learn runc. I don't know how to compile and run runc on Mac? Can runc only be developed on Linux? I tried to install GoLand on the Mac and import the project, but I didn't know how to start or debug"
I want to learn runc. I don't know how to compile and run runc on Mac?
Can runc only be developed on Linux?
I tried to install GoLand on the Mac and import the project, but I didn't know how to start or debug

[2021-10-18 11:59] cyphar commented on #3247
runc is a Linux-only project. You probably can compile it on MacOS if you have the right cross-compilers installed (and you set `GOOS=linux`) but since in practice you need to have Linux on-hand in order to run it, it's probably simpler for you to create a Linux VM that you use for development.

[2021-10-19 03:38] AkihiroSuda commented on #3247
Cross-compiling cgo with libseccomp stuff is probably not straightforward.
I strongly suggest using Linux as the development env.

[2021-10-19 03:38] #3247 closed

[2021-10-19 07:01] djs55 opened #3248 ""ro" in /dev mount options in rc93 and later"
While updating https://github.com/linuxkit/linuxkit to a more modern runc, I noticed that some containers would fail to start.

I tracked this down to linuxkit adding "ro" to the mount options for `/dev` e.g.

[code]

I think this works in rc92 and earlier, but now fails with an error trying to write to `/dev`.

In linuxkit I saw
[code]

I can reproduce the same type of error (slightly different m

[2021-10-19 21:12] SixStringHurricane opened #3249 "runc package missing"
Nessus called out a need to upgrade runc to runc-1.0.0-81.rhaos4.6.git5b757d4.e18 but it doesn't seem to exist

[2021-10-19 22:30] cyphar commented on #3249
Yeah this is a packaging issue with whatever distribution you're doing -- please submit it to the appropriate distribution's bug-tracker.

[2021-10-19 22:30] #3249 closed

[2021-10-20 18:27] jdolitsky opened #3250 "Rename master branch to main"
This is listed under "Tier 1: Replace Immediately" in the Inclusive Naming Initiative:
https://inclusivenaming.org/word-lists/tier-1/#master

[2021-10-28 15:30] prashilgupta opened #3253 "Resource temporarily unavailable: Due to logs filling up /run/k3s/containerd/io.containerd.runtime.v2.task/k8s.io"
Description

Describe the bug:
/run partition is filling up causing containerd and kubernetes to be unusable

df -ah /run
Filesystem Size Used Avail Use% Mounted on
tmpfs 395M 395M 0 100% /run

kubectl get pods -A
bash: fork: retry: Resource temporarily unavailable
runtime/cgo: pthread_create failed: Resource temporarily unavailable
SIGABRT: abort
PC=0x404fcf7 m=0 sigcode=18446744073709551610
...

[2021-10-31 19:57] darkyzhou opened #3255 "cgroupv2: how can we collect cgroup stats after the process exits"
I am recently trying rootless libcontainer on Ubuntu 21.10 beta using cgroup v2 driven by systemd.

I found that when the init process in the container exits (even with code 0), the sub-cgroup folder gets immediately deleted automatically, which is kind of frustrating because I would like to collect some data from it such as cpu usage and memory usage.

Noticed that `Manager.Destroy()` in `cgroups

[2021-11-01 00:23] cyphar commented on #3250
I'm slightly more worried about some downstream using the word `master` explicitly in some script somewhere, but GitHub also appears to redirect `/blob/main/...` links as well so I guess this would only come to play if someone did `git clone` and explicitly tried to check out the `master` branch...

[2021-11-01 06:30] mengjiao-liu opened #3256 "'/' is allowed as a separator in sysctl name"
[Runtime spec](https://github.com/opencontainers/runtime-spec/blob/master/config-linux.md#sysctl) says:

runtime for the container. For more information, see the sysctl(8)
man page.

and linux sysctl says:

[code]
[code]

https://man7.org/linux/man-pages/man8/sysctl.8.html
https://man7.org/linux/man-pages/man5/sysctl.d.5.html

However, in fact, the sysctl name in runc does not support a slash as a

[2021-11-01 15:39] jdolitsky commented on #3250
@cyphar yes, correct (AFAIK). A simple `git clone` without specifying branch would use the "default" branch in GitHub settings. And if `master` explicitly specified on clone, it will have been renamed on server side and redirect to `main`.

[2021-11-01 20:41] cyphar commented on #3250
I just tried it, `git clone -b master --depth 1 https://github.com/opencontainers/umoci` doesn't get redirected (nor would I expect it to tbh).

[2021-11-02 03:41] kolyshkin commented on #3256
OK, I think you refer to [sysctl.d(5)](https://www.freedesktop.org/software/systemd/man/sysctl.d.html) man page, which says

This obviously needs more changes that what's done in https://github.com/opencontainers/runc/pull/3254. Will work on it later this week.

[2021-11-02 04:48] mengjiao-liu commented on #3256
Yes, we need to refer to the conversion method of sysctl.d(5) to modify.
PR #3257 try to fix the issue.

[2021-11-02 12:20] JasonYangShadow commented on #3241
I am not sure if my reproducibility is correct, I tried creating one container using config.json containing customized env variable `TEST=TEST`
![image](https://user-images.githubusercontent.com/2051711/139844480-d2954046-d688-46c3-abef-50491cb8fcec.png)

Then run `runc exec --env TEST2=TEST2 container_id /bin/bash` to start the same container, then the newly added env variable is also shown insid

[2021-11-02 12:47] kocho1984 commented on #3241
I run container in a slightly different way:
`runc exec --process config.json --env TEST2=TEST2 CONTAINER_ID`
I use both `--process` and `--env` parameters.

This is part of my config.json
[code]

[2021-11-02 13:19] JasonYangShadow commented on #3241
btw, how did you run it? I can not reproduce your scenario
![image](https://user-images.githubusercontent.com/2051711/139854210-73fd1454-0055-465a-8814-4a1b58b886ef.png)

[code]
beside that I think when `process` arg is set runc will directly load settings from json file rather than processing the left args such as `env`.  Maybe you can directly edit the config.json file.

[2021-11-02 13:31] kocho1984 commented on #3241
I have also `"cwd": "/",` in config.json.
In config.json, env variables must be hardcoded. That's why I would like to use `--env `parameter as well. Please imagine following use case. I would like to set HOSTNAME variable depending on the output from `hostname` command:
![image](https://user-images.githubusercontent.com/33716508/139856044-a373595b-a106-4c1c-9b70-e46ddb84bf28.png)

With `--env`, yo

[2021-11-02 15:42] yozel commented on #1909
If anyone still interested, I was able to achieve that by using `mount` namespace and `rbind` mount together. Also you need an empty initial rootfs, I've created a directory named `empty-directory `for that.

[code]

[2021-11-03 07:44] JasonYangShadow commented on #3241
yes, I get your point. as all fields inside json are hardcoded. it is inflexible when executing existing container with new env settings.

The weird thing is that I have `cwd` set inside my json file, but runc still complains about the `cwd`. Not sure about the reason.
![image](https://user-images.githubusercontent.com/2051711/140024200-19919726-50be-4326-a251-d823db4a145a.png)

[2021-11-03 07:47] JasonYangShadow commented on #3241
I think it is caused by this line?
https://github.com/opencontainers/runc/blob/a7ccc02fd50a488703beea6d2d5a33de1adc6ce1/exec.go#L185

[2021-11-05 03:34] #3256 closed

[2021-11-05 08:45] yozel commented on #1909
If anyone still interested, I was able to achieve that by using `mount` namespace and `rbind` mount together. Also you need an empty initial rootfs, I've created a directory named `empty-directory `for that.

[code]

[2021-11-08 07:19] #3132 closed

[2021-11-08 08:43] AkihiroSuda opened #3266 "`integration_systemd_rootless` on Fedora began to fail"
`integration_systemd_rootless` on Fedora began to fail after commit https://github.com/opencontainers/runc/commit/86829836480f36429403ff4c0d52414fb7493d23 (`Merge pull request #3264 from thaJeztah/cirrus_go_version`, Nov 8, 2021).

https://github.com/opencontainers/runc/runs/4135786850

[code]

The previous merge commit https://github.com/opencontainers/runc/commit/ecdc9664718c935376f95846b9627a5b

[2021-11-08 08:47] AkihiroSuda commented on #3266
(But I don't think the commit https://github.com/opencontainers/runc/commit/86829836480f36429403ff4c0d52414fb7493d23 is causing any regression. Maybe just some `dnf` dependency got broken.)

[2021-11-08 09:18] AkihiroSuda commented on #3266
journalctl has suspicious logs

[code]

[2021-11-09 02:27] kolyshkin commented on #3255
Maybe `runc run --keep` will help? See #2817 / #2825

[2021-11-09 02:29] kolyshkin commented on #3250
I say, let's do it after 1.1 release.

[2021-11-09 06:43] darkyzhou commented on #3255
Thanks for the suggestion but I am afraid it doesn't help.

It seems that the way libcontainer utilizes systemd to create a sub-cgroup folder, which is by creating a **transient scope unit**, makes systemd itself delete the folder once the process exits(therefore, runc/libcontainer itself cannot help).

After a detailed look into [the docs](https://systemd.io/CGROUP_DELEGATION/), I noticed that:

[2021-11-10 23:58] kolyshkin commented on #3266
Apparently this is caused by a recent systemd update.

Good run:
[code]

Bad run:
[code]

The difference is systemd version:
* good: v249.4-2.fc35
* bad: systemd-249.6-2.fc35.x86_64

Looking at the sources, I see too much changes: (top commits from https://src.fedoraproject.org/rpms/systemd/commits/f35)

[2021-11-11 00:04] kolyshkin commented on #3266
Probably caused by https://github.com/systemd/systemd/pull/21163/commits/8d3e4ac7cd37200d1431411a4b98925a24b7d9b3 ... looking

[2021-11-11 02:55] kolyshkin commented on #3266
I think I found an error...

[2021-11-11 05:12] juntao opened #3271 "WebAssembly support"
I would like to propose adding WebAssembly runtime support for `runc` through WasmEdge integration. It would enable `runc` to load and run OCI compliant images for WebAssembly applications. This was recently added to the `crun` project as an experimental feature. See some examples here:

https://github.com/second-state/wasmedge-containers-examples

We could use [WasmEdge's GO SDK](https://github.c

[2021-11-11 12:47] AkihiroSuda commented on #2823
Opened PR https://github.com/opencontainers/runc/pull/3272

[2021-11-11 23:02] kolyshkin commented on #3266
OK, this is a systemd bug, the fix for which was just merged upstream (https://github.com/systemd/systemd/pull/21298). Coincidentally, I have developed a totally identical fix at about the same time. I have tested it on my machine by rebuilding systemd rpms with my patch added, and it fixes the issue.

Problem with the fix is, in my case, a mere `rpm -Uhv` of systemd rpms with the fix was not enou

[2021-11-11 23:34] ojab commented on #3266
or systemd-249.4-2.fc35 could be installed instead of using latest/broken version

[2021-11-11 23:35] kolyshkin commented on #3266
Yes, downgrade is possible. Let me try that

[2021-11-11 23:47] kolyshkin commented on #3266
Or we can use a scratch build once it's available from https://src.fedoraproject.org/rpms/systemd/pull-request/66

[2021-11-12 03:51] #3266 closed

[2021-11-12 06:08] AkihiroSuda opened #3274 "Add `runc --version-json` and print the implemented mount option strings"
A high-level container application may want to obtain the list of the mount option strings supported by runc, because runc just ignores unimplemented mount option strings.

However, there is no way to obtain the list of the implemented mount option strings other than manually inspecting the code:
https://github.com/opencontainers/runc/blob/c1103d986faa82e9e6af7868b15e9904bbfd6fa6/libcontainer/spec

[2021-11-12 06:43] AkihiroSuda commented on #3274
cc @giuseppe (runc and crun should share the same convention for this)

[2021-11-12 15:58] #3255 closed

[2021-11-12 17:55] kolyshkin commented on #3255
@darkyzhou did you solve it? Care to share how?

[2021-11-12 19:12] kolyshkin commented on #3274
The `--version-json` seems to be misleading, as it does not really shows version info.

Can we have something like `runc features` instead, which will produce output similar to the above, maybe slightly more generalized. For example
[code]

JSON can certainly be different, I'm mostly talking about the command name (and command vs option).

[2021-11-12 19:42] kolyshkin commented on #3248
There are a few filesystems that are mounted under `/dev`, and a few devices that need to be created.

So we mount `/dev` first and then do all that (other mounts under /dev, and device nodes). Obviously, this fails if /dev is read-only. A workaround would be to mount it read-write, do all we need to do, then remount ro.

Indeed it works for rc91 and rc92, but do not work with rc93.

I have git bi

[2021-11-12 21:14] kolyshkin opened #3278 "runc 1.0.x fails with criu 3.16"
It seems that runc 1.0.x is not working with criu 3.16.

The failures are like this (from https://github.com/opencontainers/runc/pull/3277)

[code]

All we have is `errno 56`. Apparently this is `EBADRQC /* Invalid request code */`, as returned by `setup_opts_from_req` from criu/cr-service.

My suspicion is `github.com/checkpoint-restore/go-criu` need to be updated to fix this. The question is --

[2021-11-12 21:32] kolyshkin commented on #3278
Alas, updating go-criu to v5.2.0 (#3279) is not helping. What else could it be?

Also, I just noticed that criu 3.16 is not yet in Fedora 35; this might be the reason why this issue was not found earlier.

[2021-11-13 04:40] kolyshkin commented on #2924
Still the case with Fedora 35 and criu 3.16. From https://cirrus-ci.com/task/6279543066460160:

[code]

[2021-11-13 04:41] kolyshkin commented on #3278
Sorry, I was wrong about it. Fedora 35 has criu 3.16 for sure.

[2021-11-13 04:48] darkyzhou commented on #3255
Sorry about being late, I was too sleepy when I was about to write this after closing the issue:

Hours ago I tried my idea:

It worked and I was able to call `container.Stats()` to access cgroup statistics even after the container's process exits. But it turned out that I've got into another pitfall:

[code]

Here `my-program.scope` is created by my program via systemd and `runc-my-image` is crea

[2021-11-13 04:49] kolyshkin commented on #3278
Reproduced locally (Fedora 35) with runc from release-1.0 branch and criu-3.16:

[code]

It's funny but integration tests work:
[code]

[2021-11-13 04:53] kolyshkin commented on #3278
I suspect this is something trivial but have to patch criu to find out what.

[2021-11-13 06:04] darkyzhou commented on #3255
I checked systemd's source code: https://github.com/systemd/systemd/blob/main/src/core/scope.c#L383-L388

It seems that systemd just simply create the cgroup folder and then write the pid into `cgroup.procs`. Nothing I could do...

[2021-11-13 06:41] adrianreber commented on #3278
Interesting. I just tried it on Fedora 35 with CRIU 3.16.1 and the latest runc git checkout and I see no errors. I tried it with cgroup v1 and v2 and it just works.

[2021-11-13 07:15] darkyzhou commented on #3255
Finally I came up with a workaround which seemed to be working nicely:

1. My program call dbus to create a scope, putting itself into the scope. Notice that current user(who runs my program) owns the cgroup folder of the scope.
2. At this time, when my program call libcontainer, the libcontainer would create the init process, and that process would be in the cgroup create by 1.
3. **My program ca

[2021-11-13 22:42] kolyshkin commented on #3278
@adrianreber you probably missed the `1.0.x` part. Here's a complete repro:

[code]

[2021-11-13 23:34] adrianreber commented on #3278
Ah, right, I did not check the 1.0 branch. Following patch (or something like this) would fix it:
[code]

The test is doing a pre-dump, but the pre-dump was never working because the path to the parent checkpoint was not correct. CRIU used to ignore it, but now it errors out.

[2021-11-15 18:06] kolyshkin commented on #3278
Ahhh... thanks so much @adrianreber!

I have actually fixed it in #3112, which I closed in favor of #3100. I forgot to port either to 1.0.x.

Will do.

[2021-11-16 18:22] AnonymousSFZ commented on #2901
Why close this issue ? I'm getting the same problem. Any solution ? @mouri11

[2021-11-16 18:28] mouri11 commented on #2901
Hey. I worked on this a long back and don't exactly remember. I had re-compiled the linux kernel by setting all the configuration options listed on the CRIU website. The log file can be redirected using some runc option, something like --workdir=<your_path>.

[2021-11-16 18:51] AnonymousSFZ commented on #2901
Redirecting log files helped! It seems that my problem was due to inconsistency of rootfs. (shouldn't have used --leave-running). Thanks a lot!

[2021-11-18 02:21] kolyshkin commented on #3278
Fixed by #3282

[2021-11-18 02:21] #3278 closed

[2021-11-18 02:33] kolyshkin commented on #2924
One more; from https://cirrus-ci.com/task/6333831285309440
[code]

[2021-11-18 14:39] stefanberger opened #3288 "Question: Namespacing Integrity Measurement Architecture (IMA) and usage of SecurityFS"
I am not sure which mailing list to best send this question to or which people to ask about this, so I am hoping for some advice from here.

We are trying to namespace the Linux Integrity Measurement Architecture (IMA) so that IMA becomes available to containers. The proposed architecture allows for each container to have its own measurement log and policy and access to measurement log and policy

[2021-11-18 15:12] DenisSemakin commented on #3288
I'm also not sure how deeply a SecurityFS instance for every single namespace would touch or influence that LSMs (landlock, tomoyo, etc..) but ideally I think it would be correct to have individual SecurityFS for namespace.

[2021-11-19 04:47] AkihiroSuda commented on #3288
I think we should propose modifying kernel to allow mounting securityfs in user namespaces

[2021-11-23 13:41] indyjo opened #3293 "READY notification sometimes not accepted by systemd"
Sometimes `systemd` doesn't accept READY notifications generated by `runc`, causing starting containers to remain in `activating` state and be killed after timeout.

This applies to configurations in which an OCI container is started as a `systemd` service with `Type=notify`.

In those cases, `systemd` produces a log message like `Cannot find unit for notify message of PID 1234, ignoring`.

The re

[2021-11-23 13:49] indyjo commented on #3293
My PR #3291 implements a fix for this issue.

[2021-11-24 13:27] stefanberger commented on #3288
I build a derivative of securityfs 'securityfs_ns' that one can mount inside a user namespace.

[2021-11-25 08:43] AkihiroSuda commented on #3274
We should also print the known cap names in the json
https://github.com/containerd/nerdctl/issues/567#issuecomment-978958504

[2021-11-25 22:38] #3248 closed

[2021-11-29 05:59] AkihiroSuda commented on #2821
crun now supports "idmap" mount option
https://github.com/containers/crun/commit/827b8731899d4febea3f27907bcde5e6065bb65b

[2021-11-29 10:41] AkihiroSuda commented on #3274
PR: https://github.com/opencontainers/runc/pull/3296

[2021-11-30 01:18] kolyshkin opened #3300 "Release 1.0.3"
It's time to release 1.0.3.

PRs need to be merged for 1.0.3 are under [1.0.3 milestone](https://github.com/opencontainers/runc/milestone/17).

Changes merged since 1.0.2:

### Draft release notes

[code]

(Note: I have omitted https://github.com/opencontainers/runc/pull/3298 from the changelog as it's purely internal)

### Notes on backporting

After seeing https://github.com/opencontainers/runc/

[2021-11-30 03:00] kolyshkin commented on #3202
I took a look at the code again, and it seems that "root" + id is always created by either "runc run" or "runc create". The work in a similar way:

[code]

Well, this should work, as root + id is created before calling `setupSocketDirectory` in `factory.Create`.

The only way how it might not work is `factory.Create` calls `secureJoin(root, id)` and in case there are some weird symlinks or somethi

[2021-12-02 18:18] cwarje commented on #3253
@kolyshkin would you consider reopening this issue, given @prashilgupta's last comment? I'm having the exact same problem.

[2021-12-04 08:05] cyphar commented on #3300
`backport/todo` and `backport/done` LGTM. The candidate tag was just intended so that we could tell each other whether an open PR was intended to be backported, but having a separate "done" state makes sense. As for using projects, maybe that makes some sense but I suspect it'd only be really useful once we have a lot of things to backport for releases we're maintaining for a while. I haven't play

[2021-12-05 19:11] kolyshkin commented on #3300
I thought it's possible to do some basic "move to project column based on a label" but apparently not (without some third-party webhooks): https://github.com/dear-github/dear-github/issues/364.

As we're not doing a lot of backports, I guess we're fine with these todo/done labels for now.

[2021-12-05 19:19] Dentrax opened #3307 "How tracing telemetry fit in runc to capture performance and behavior metrics (in DEBUG mode)"
While traversing around the issues, I noticed an issue #3181. And one of the notes that pointed in there is: `figure out why the difference is so high`.

So, I thought that how could we trace performance and behavior more easily for single command in DEBUG mode? There are some kinds of tracing methods:
* [OpenTelemetry](https://opentelemetry.io/)
* [OpenCensus](https://opencensus.io/)
* [OpenTraci

[2021-12-06 04:34] cyphar commented on #3300
https://github.com/opencontainers/runc/releases/tag/v1.0.3

[2021-12-06 04:34] #3300 closed

[2021-12-07 03:09] kolyshkin opened #3308 "runc {create,run}: --config is missing"
crun has added `--config` option as an ability to specify name other than `config.json` for the spec file in https://github.com/containers/crun/pull/310, and later changed its semantics a little, making it relative to the cwd (rather than `--bundle` argument), and allowing paths rather than just filenames (in https://github.com/containers/crun/pull/461).

I guess we should follow the suite.

Alas,

[2021-12-07 03:51] kolyshkin commented on #3308
OK, I was wrong. `crun exec` loads config.json, but it does it from a copy saved to runtime dir (`/run/crun/$CTID/config.json`).

Maybe we should do the same thing.

[2021-12-07 03:59] cyphar commented on #3308
I'm a bit conflicted. The runtime-spec defines a runtime bundle and config.json:

On the other hand, I have talked to folks who use libcontainer directly purely so they don't need to create a dummy bundle directory to start containers. Being able to specify config.json would probably be a good thing -- but I don't think we should allow having a bundle that has a differently-named config.json.

Bas

[2021-12-07 05:13] cyphar commented on #3038
A minor issue is that our current `make cross` output is not statically-linked, which means if you try to run it on a different glibc version you're going to run into issues. This was the reason we switched to statically-linking runc for amd64. I will take a look at reworking the release scripts before 1.1, but we can punt it to 1.2 if I don't get it working in a day or two.

[2021-12-07 05:16] #3274 closed

[2021-12-08 03:24] 3nprob commented on #2959
I am having the same issue,  except running on a newer kernel (5.16.0) and setting `systemd.unified_cgroup_hierarchy=0` does not seem to work.

[code]

### journalctl
[code]

### docker version

[code]

### docker info
[code]

### runc debug

[code]

[2021-12-08 03:41] AkihiroSuda commented on #2959
@3nprob

This error is different from the OP. Please make sure your kernel is built with `CGROUP_BPF`.
https://github.com/torvalds/linux/blob/8ab774587903771821b59471cc723bba6d893942/init/Kconfig#L1140

[2021-12-08 03:48] 3nprob commented on #2959
@AkihiroSuda The odd thing is, it is:

[code]

[2021-12-08 03:48] 3nprob commented on #2959
The odd thing is, it is:

[code]

[2021-12-08 03:48] cyphar commented on #2959
You need CONFIG_BPF_SYSCALL=y.

[2021-12-08 03:49] 3nprob commented on #2959
Aha! Thanks, will try that

[2021-12-08 06:20] cyphar commented on #3195
* #3272
* #3309

Is all we need, both with a single LGTM. I will set up the 1.1-rc1 PR after they're merged.

[2021-12-08 12:12] zvier opened #3312 "runc start container failed when applying cgroup configuration for process"
Container which orchestrated by k8s, start with error like this:

Error: failed to start container "init-proxy": Error response from daemon: OCI runtime create failed: container_linux.go:380: starting container process caused: process_linux.go:385: applying cgroup configuration for process caused: error creating systemd unit \`docker-init-proxy.scope\`: got \`failed\`: unknown

runc version is 1.0

[2021-12-08 19:02] #2823 closed

[2021-12-09 05:48] #3038 closed

[2021-12-09 12:03] luispabon commented on #3232
Looks like k3s has already backported the fix into their [1.21](https://github.com/k3s-io/k3s/issues/4691) and [1.22](https://github.com/k3s-io/k3s/issues/4690) streams, although no releases have been tagged yet.

[2021-12-09 18:28] brandond commented on #3253
Yeah, I think this needs to be reopened. It looks to me like the log level is debug by default:
https://github.com/opencontainers/runc/blob/4d176544794c0a75f4dd58fe9e971361c66a4756/libcontainer/nsenter/nsexec.c#L113

runc expects all the messages output by nsenter to be parsable as JSON, but the debug messages are not. This causes runc to log a bunch of errors when it fails to parse the messages.

[2021-12-10 00:08] cyphar commented on #3253
@brandond I don't think your explanation is correct:

1. While we set DEBUG as the default, this is changed to the log-level specified by the user almost immediately in nsexec.c (this is done because there are debug messages output before we get all of the environment variables -- you wouldn't be able to every get them using `--debug` otherwise). The logs are additionally filtered by the Go code b

[2021-12-10 07:45] jennydaman opened #3317 "mounting "devpts" to rootfs at "/dev/pts" caused: mount through procfs: invalid argument"
https://github.com/cri-o/cri-o/issues/5348

Hello,

I am trying to create a container via `runc` but I am getting the error with steps to reproduce from the linked issue above.

With the release of `runc` version 1.0.3, I tried the following:

[code]

Trying to create the container produces this in `/tmp/runc.log`:

[code]

Does anyone have advice on how to investigate further?

[2021-12-10 08:23] brandond commented on #3253
Yeah, I did a little more tracing through the code after that comment and it looked like the log level environment variable was always set. Debug seems like an odd choice for a default though.

I think that might be the source of the problem. Just based on the messages included in the screenshots above, it looks like the `asprintf` call at https://github.com/opencontainers/runc/blob/4d176544794c0a

[2021-12-10 08:47] AkihiroSuda commented on #3317
https://github.com/cri-o/cri-o/issues/5348#issuecomment-990742839

You have to map 65536 UIDs and GIDs, at least.

[2021-12-10 08:47] #3317 closed

[2021-12-10 13:31] cyphar commented on #3253
I was trying to explain this above, but maybe it was a bit unclear. The reason this is necessary is that you need to have debug be the default in order for `runc --debug` to work for log messages before the log level is set in `nsexec.c` from the environment variable. In practice this is like 2-3 log events, but without debug as the default there would be no point logging debug messages before the

[2021-12-10 18:12] kolyshkin commented on #3195
Assembled a changelog based on [PRs with 1.1 milestone](https://github.com/opencontainers/runc/milestone/12?closed=1)

[2021-12-10 18:32] husky-parul opened #3318 "caused: mount through procfd: not a directory"
We have a container that creates a minimal kubernetes like cluster. We run it via `podman` using host `crio`.

[code]
After the pod is running, when we apply below manifest, **hostpath-provisioner-daemonset.yaml**, we see `rootfs_linux.go:76: mounting \\\"/var/lib/kubelet/pods/8ad708ed-8cf9-420d-b5ef-f9c4e35d0905/etc-hosts\\\" to rootfs at \\\"/etc/hosts\\\" caused: mount through procfd: not a dir

[2021-12-10 19:01] kolyshkin commented on #3318
It seems that the error comes directly from `mount(2)` system call. From man 2 mount:

[code]

The "source" here is `/var/lib/kubelet/pods/8ad708ed-8cf9-420d-b5ef-f9c4e35d0905/etc-hosts`, and the destination is `/etc/hosts` (inside the container).

@husky-parul please provide runc versions and exacts steps to repro.

[2021-12-10 19:03] kolyshkin commented on #3312
So, runc asks systemd to create a unit and receives an error. The error comes from systemd, and its logs might have more clues -- please check its logs (look for `docker-init-proxy.scope`).

In any case this is most probably not a runc error.

[2021-12-10 19:09] kolyshkin commented on #3253
This looks very much like a race that we fixed in #3130 (the fix made its way to runc 1.0.2). Since I do not see runc version anywhere in this bug report, I assume you're using a version prior to 1.0.2. Please upgrade to 1.0.2 or 1.0.3.

[2021-12-10 19:11] kolyshkin commented on #3119
Fixed in https://github.com/opencontainers/runc/releases/tag/v1.0.2

[2021-12-10 19:12] kolyshkin commented on #3253
IOW this is a duplicate of https://github.com/opencontainers/runc/issues/3119

[2021-12-10 19:12] #3253 closed

[2021-12-10 19:13] brandond commented on #3253
We're updating to 1.0.3 for our December release cycle - we'll ask users to test once that's available!

[2021-12-12 15:28] darkyzhou opened #3321 "Rootless containers: How to run a process as a non-root user"
As many articles suggest, for better security, we can run the container's process as a non-root user even in a rootless container.

Container implementations like podman [has a `--user` flag to achieve that](https://www.redhat.com/sysadmin/user-flag-rootless-containers), which seems to do the following uid/gid mappings:

[code]

I am trying the same thing using runc. Following is a `config.json`.

[2021-12-13 02:17] cyphar commented on #3195
Did you want me to take anything from this changelog into #3320?

[2021-12-13 08:54] AlexeyPerevalov commented on #3321
I can guess you are running runc as non-root user, in this case runc binary should have setuid capabilities too. As well as additional capabilities e.g. cap_sys_admin for unshare.

[2021-12-13 09:49] AkihiroSuda commented on #3321
No

[2021-12-13 09:49] AkihiroSuda commented on #3321
@darkyzhou Does `runc spec --rootless` work?

[2021-12-13 12:22] darkyzhou commented on #3321
The `config.json` created by the command works, but as soon as I add:
[code]

It fails with the exact same output.

[2021-12-13 20:55] kolyshkin commented on #3195
Nope; I have already cross-checked it against #3320 and left some suggestions, so this one is now obsoleted; I'll remove it.

[2021-12-14 00:33] cyphar commented on #3195
Great, thanks. Will send the 1.1-rc1 PR in a little bit.

[2021-12-14 02:54] kolyshkin commented on #3307
I am mostly using strace, and have played with Go's [pkg/trace](https://pkg.go.dev/runtime/trace) (together with `go tool trace`).

I'm not sure we need distributed tracing in runc, and the projects you refer to are all about distributed tracing AFAICS.

[2021-12-14 03:17] kolyshkin commented on #3308
I don't see a particularly good reason to have `--config` per se -- the reason I'm looking at it as I thought it would be a good idea to have crun tests run on runc. Alas, those tests use `--config` extensively. Perhaps I should instead look into fixing those tests so they would work without `--config`.

@giuseppe do you remember why `--config` is added, what issues can it solve, does it have any

[2021-12-14 06:43] prashil-sophos commented on #3253
@brandond What version of k3s will have this fix?

[2021-12-14 08:49] giuseppe commented on #3308
not sure if it is helpful, but as @cyphar described, I was playing with avoiding a dummy bundle directory, with `--config` you can do stuff like:

[code]

Maybe `spec` needs a flag to write to stdout :-)

[2021-12-14 11:03] kolyshkin commented on #3195
OK I am testing this in kubernetes and cadvisor.
* https://github.com/google/cadvisor/pull/3031
* https://github.com/kubernetes/kubernetes/pull/107016

In particular, it seems that changes to cgroups start to pay off, I was able to simplify some of the kubelet/cm code.

[2021-12-14 11:16] thaJeztah commented on #3195
(binary-only) updates in containerd and moby:

- https://github.com/moby/moby/pull/43083
- https://github.com/containerd/containerd/pull/6375

[2021-12-14 14:40] darkyzhou commented on #3321
I reinstall the `uidmap` package and the problem got solved. Pretty strange tho :/

[2021-12-14 14:40] #3321 closed

[2021-12-14 14:52] cyphar commented on #3321
I wonder if the capabilities are sufficient -- on openSUSE, they have setuid instead of setcaps.

[2021-12-14 15:56] darkyzhou commented on #3321
After reinstalling `uidmap` in my Ubuntu 21.10:

[code]

It seems that in my case the file capabilities are not relevant.

However, as soon as I run `sudo setcap cap_setuid+ep /usr/bin/newuidmap`, same error occurs again. And running `sudo setcap cap_setuid-ep /usr/bin/newuidmap` does not help:

[code]

Even adding `cap_setfcap,cap_setpcap` does not help too. Maybe the way `uidmap` works is differ

[2021-12-14 16:07] AkihiroSuda commented on #3321
Probably your newuidmap is not compiled with libcap

[2021-12-14 17:47] cpuguy83 commented on #3202
I've been trying to force it to happen and can't seem to at this point. I don't recall what exact circumstances I was seeing this in. I'll go ahead and close this.

[2021-12-14 17:47] #3202 closed

[2021-12-14 18:02] cpuguy83 opened #3324 "New runc option to send sd_notify instead of using --pid-file?"
Right now runc can proxy sd_notify from the container.
What do you think about adding a flag that allows runc to to directly send those notifications instead of using --pid-file?
In this case the container process would not send this notification, only runc once it knows what the pid is.

[2021-12-14 18:31] brandond commented on #3253
the ones that come out later this week.

[2021-12-15 00:31] kolyshkin commented on #3195
Also cri-0:
* https://github.com/cri-o/cri-o/pull/5506

[2021-12-16 07:52] chenhengqi commented on #3008
@AkihiroSuda  I still have this issue on kernel 5.4 + cgroup v2.

[code]
[code]

[2021-12-16 15:07] darkyzhou commented on #3321
What will it cause? My `newuidmap` seems to be dynamically linked with `libcap-ng`:

[code]

[2021-12-17 03:23] cyphar commented on #3321
Does setcap cause the setuid bit to be dropped?

[2021-12-17 05:25] darkyzhou commented on #3321
Wow, it does! Didn't expect that.

And it seems setcap(8) page on man7.org doesn't mention that behavior.

[2021-12-17 11:48] AkihiroSuda commented on #3195
What do we need toward v1.1 GA?

[2021-12-17 13:11] cyphar commented on #3195
Nothing specific, I don't know how long we want to wait for serious bug reports to come in. If we want to do a release soon I'm game. I'm on PTO next week, so I can set up a release PR at the start of January.

[2021-12-17 21:23] kolyshkin commented on #3195
From my side, I need to finish https://github.com/kubernetes/kubernetes/pull/107016 and I currently don't have time; hope to continue next week.

[2021-12-22 00:08] ntdash opened #3327 "PGP Signature Issue"
During the installation of docker on Archlinux, I got the following error :
[code]
Can someone help me resolve this issue since it preventing me from installing docker  ?

[2021-12-22 03:32] cyphar commented on #3327
I don't know who Frederik Schwan. It seems like you're using Arch Linux, and this is an error from pacman installing the Arch Linux package. Please report this to Arch Linux. Closing.

[2021-12-22 03:32] #3327 closed

[2021-12-26 19:28] szekelyisz opened #3329 "Trusted domains configuration bugs"
Using NextcloudPi as a container. When you don't fill all 3 options for trusted domains, they are not applied correctly. Filling only the first two entries and clicking Apply results int he following messages:

[code]

And a red dot besides the Apply button. Filling the 3rd entry with 127.0.0.1 seems to change settings correctly. The dot turns green.

After you set the 3rd name and apply, it still

[2021-12-26 19:40] szekelyisz commented on #3329
Wrong project :)

[2021-12-26 19:40] #3329 closed

[2022-01-03 15:55] andree182 opened #3330 "Incompatibility of bootstrapData() and newContainerInit()"
I'm trying to make the version v1.0.0-rc93 work on (basically LFS) linux, but it fails as below.
When using go 1.12, even v1.0.0-rc90 works. With go 1.16, v1.0.0-rc9 fails already.

To reproduce, I used +- the commands from README:

The function process_linux.go::bootstrapData() appears to generate some binary data (apparently some netlink stuff), using strace I see something like this:

However,

[2022-01-03 22:31] kolyshkin commented on #3330
The way `runc` talks to `runc init` is somewhat complicated and involves both json and netlink-like packets. Netlink data is consumed by `libcontainer/nsenter/nsexec.c`, JSON comes earlier.

I can not debug this further without exact steps to repro, not can I recall a bug like this.

This tells us that PID was not properly initialized. Must be a consequence of earlier failure(s).

In general, I su

[2022-01-03 22:40] kolyshkin commented on #3330
This is more interesting. The code in master expects 0 to be sent by this code in nsexec.c:

https://github.com/opencontainers/runc/blob/00f56786bb220b55b41748231880ba0e6380519a/libcontainer/nsenter/nsexec.c#L867-L874

The fact that we get 123 (which is `{`, which is usually the first character in JSON message) instead of `0` means that something is very wrong.

Can you repro this with a release b

[2022-01-04 08:31] andree182 commented on #3330
Okay, this probably leads somewhere! So gccgo is used here, which I didn't know. I'll have to dig into it, check if it uses cross-compiler correctly. Strangely it worked with v1.0.0-rc6 version and go 1.12, though the nsenter stuff looks similar.

So ultimately, the problem could be, that the nsenter stuff is not compiled in runc binary (at least I cannot see the strings, but I see them in your re

[2022-01-04 10:28] andree182 commented on #3330
So apparently with cross-compilation CGO_ENABLED=0 by default ( https://pkg.go.dev/cmd/cgo ). So the nsenter.go file didn't result into the *.c files compiled in (no gccgo in my env), which still somehow linked, but ultimately didn't work.

I'd suggest adding some safegard for this into the Makefile (or if possible, some assert into some go file).

In either case, it's solved for me - thanks for t

[2022-01-04 10:28] #3330 closed

[2022-01-04 23:47] kolyshkin commented on #3318
No response from the original reporter, and it does not look like a bug, thus closing.

@husky-parul feel free to provide info requested above so we can reopen.

[2022-01-04 23:47] #3318 closed

[2022-01-05 00:24] kolyshkin commented on #3330
Thanks, totally makes sense, implemented in https://github.com/opencontainers/runc/pull/3331

[2022-01-05 13:13] #3312 closed

[2022-01-06 12:19] granty1 opened #3333 "How to understand 'initWaiter' ?"
Hello, I recently  started trying to read runc code, encounter a little doubt:
1. https://github.com/opencontainers/runc/blob/c83abc503de7e8b3017276e92e7510064eee02a8/libcontainer/process_linux.go#L802 From the comments, it should be waiting for "runc init" to complete.
https://github.com/opencontainers/runc/blob/c83abc503de7e8b3017276e92e7510064eee02a8/libcontainer/nsenter/nsexec.c#L871
but in fa

[2022-01-06 19:20] husky-parul commented on #3318
Hi @kolyshkin

I have more information

we are using `github.com/opencontainers/runc v1.0.2`. To reproduce the steps you need to run our binary. Here are the steps to d it.

- OS Fedora 34
- `sudo setenforce 0` then set seliux to disabled here -> `/etc/selinux/config` reboot the machine
- `sudo dnf install -y podman, golang`
- Install cri-o
[code]
- ` sudo vi /etc/cni/net.d/100-crio-bridge.conf`
[

[2022-01-07 05:37] g0dA opened #3334 "A problem with the function recvtty"
https://github.com/opencontainers/runc/blob/0c0ec3f53f92c01866449916d554b62962cda6ab/tty.go#L102

[code]
if run CLI in shell script, `recvtty` will not return, The code logic will hang when executing tty.Close()
https://github.com/opencontainers/runc/blob/0c0ec3f53f92c01866449916d554b62962cda6ab/tty.go#L185

[2022-01-09 03:40] skyshang1 opened #3336 "runc creates container error when blockIO throttle rate is set to 0"
I try this command `runc create --bundle /tmp/container-pause/ test`, and get error

[code]
this is because I added the configuration related to blkio, here is my resource config.

[code]

[2022-01-09 03:43] skyshang1 commented on #3336
IO subsystem need to add some validation, i'll fix that.

[2022-01-11 04:57] kolyshkin commented on #3195
OK, this is now ready (as https://github.com/kubernetes/kubernetes/pull/107149), and although there are a few issues left unsolved (such as using `manager.Exists()` with `SkipDevices` set), those are to be solved in later releases (e.g. 1.2).

From my perspective, runc 1.1 is good to go. // Cc @cyphar @AkihiroSuda

[2022-01-12 15:15] iholder-redhat commented on #3196
@cyphar @kolyshkin It's been some time.
Any thoughts?

[2022-01-12 22:34] kolyshkin commented on #3196
Alas I can't add anything to what I've said earlier. If you have any proposal, feel from to open a PR @iholder-redhat

[2022-01-13 07:51] iholder-redhat commented on #3196
My proposal is fairly simple - saving currently defined rules in some kind of a structure (e.g. map). Then, on any request, add the past rules that are not being overriden explicitly.

In Kubevirt I've implemented it [here](https://github.com/kubevirt/kubevirt/blob/main/pkg/virt-handler/cgroup/util.go#L56) so a same approach can be taken.

p.s. Although this is only crucial for v2 (as with v1 it's

[2022-01-13 20:25] kolyshkin commented on #3336
Well, as I said in #3337, this is invalid configuration.

[2022-01-14 03:27] danishprakash commented on #2430
@KentaTada since you're working on other issues which are prerequisites for this, does this issue (for runc) look like a candidate for community contributions once you're done? I'd like to work on this. cc/ @AkihiroSuda

[2022-01-14 03:27] danishprakash commented on #2430
@KentaTada since you're working on other issues which are prerequisites for this, does this issue (for runc) look like a candidate for community contributions once you're done? I'd like to work on this. Thanks cc/ @AkihiroSuda

[2022-01-14 03:34] danishprakash commented on #2471
@kolyshkin I'd like to work on this if it's something that external contributors can pick up. As you mentioned, the changes you made in `libcontainers/cgroups/utils.go` still require a package rename, does it make sense for me to start from there?

[2022-01-14 04:07] danishprakash commented on #2471
Makes sense, that being said, would you mind If I ask you to point me to an issue that a new contributor can work on? (bg: been using runc in production for over 2 years now and would really like to contribute back). Thanks.

[2022-01-18 05:04] AkihiroSuda commented on #3195
https://github.com/opencontainers/runc/releases/tag/v1.1.0-rc.1
https://github.com/opencontainers/runc/releases/tag/v1.1.0

:tada:

[2022-01-18 05:04] #3195 closed

[2022-01-18 07:19] danishprakash commented on #2430
@KentaTada thanks for clearing it up :) I wasn't able to find a linked PR and hence thought I'd ping here.

[2022-01-19 01:30] kolyshkin commented on #3336
No response from the reporter, and I consider this is not a bug, thus closing.

@skyshang1 let me know if you feel otherwise.

[2022-01-19 01:30] #3336 closed

[2022-01-19 01:49] kolyshkin commented on #3250
Are we good to go? Unless there are any complains from @opencontainers/runc-maintainers, I am going to implement it in a week (next Tuesday or so).

[2022-01-19 01:59] kolyshkin commented on #3334
Alas, `timeout` messes with runc terminal. From `info timeout`:

[code]

If you use this option, it works as expected.

[2022-01-19 01:59] g0dA commented on #3334
这是来自QQ邮箱的假期自动回复邮件。
 
您好，我最近正在休假中，无法亲自回复您的邮件。我将在假期结束后，尽快给您回复。

[2022-01-19 03:32] kolyshkin commented on #3334
Basically, you can not run processes that require a terminal via `timeout` (without `--foreground`, that is).

I am not sure if there's a way for runc to detect this and bail out (because currently it is bombarded with SIGTTIN and eats 100% CPU).

What happens is `timeout` makes runc a background process. When a background process tries to read (and runc tries to read in https://github.com/opencon

[2022-01-19 05:16] cyphar commented on #3250
I'm not aware of any blockers. I'm sure folks will start screaming at us soon after if anything breaks (though thankfully GitHub does add redirects from the old branch name for most operations -- only local clones will be missing a "master" branch).

[2022-01-19 09:47] thaJeztah commented on #3250
No blockers from my side: GitHub itself will give some guidance after renames (with a link to instructions)

So, it's usually just my muscle memory that needs retraining

[2022-01-19 21:52] kolyshkin opened #3341 "CVE-2019-5736 mitigation (cloned_binary) vs systemd"
Since the mitigation for CVE-2019-5736 was amended with /proc/self/exe read-only bind mount in https://github.com/opencontainers/runc/pull/1984, every runc start/run/exec causes a mount and unmount event.
Those are picked up by systemd to create/remove a mount unit. This can be seen in system journal:

[code]

(for some reason, only the unmount is shown when the default log level is used).

First,

[2022-01-19 23:05] cyphar commented on #3341
I once suggested having an explanation of how to set up a sealed memfd bind-mount for users but from memory it's not really possible to do? I'll need to look into it a bit more.

Unfortunately most other protections (immutable bit, letting the host do the bind-mount themselves, etc) all have minor downsides because there are reasonable cases where they might not work (container with extra capabili

[2022-01-20 08:10] g0dA commented on #3334
Yes you are right，but i am not sure if there are other ways of using it that would make runc a background process，so i use a tmpporary way to avoid this problem

I set a state in `tty struct` and will be set to true when the recvtty func returns , such as
[code]
Then it will be judged in the `Close()`，if runc is a background process the state is `false`, so tty can be closed directly without reset

[2022-01-20 19:06] kolyshkin opened #3343 "remove Pausing state, update docs"
This needs to be done after merging #3316.

The "Pausing" state of container is not used, and the Pause() docs incorrectly says that it works asynchronously.

Need to
 - remove Pausing state entirely;
 - update the docs (make them conform to golang style)

Ref: https://github.com/opencontainers/runc/pull/3316#discussion_r787643478

[2022-01-24 08:50] cnjeffliu opened #3347 "flag provided but not defined: -trimpath"
I build the dockerd from source code. When step into  build runc,  I get error :

Step 34/49 : RUN apt-get install -y libseccomp-dev
 ---> Using cache
 ---> 704f06e3da4d
Step 35/49 : RUN git clone https://github.com/opencontainers/runc.git /go/src/github.com/opencontainers/runc
 ---> Using cache
 ---> 0167e858013c
Step 36/49 : WORKDIR /go/src/github.com/opencontainers/runc
 ---> Using cache
 --->

[2022-01-25 04:12] AkihiroSuda commented on #3347
Please make sure your have the supported Go version (1.16 or later)
https://github.com/opencontainers/runc/tree/v1.1.0#building

[2022-01-25 05:09] cyphar commented on #3347
Yeah I suspect that you're using a very old cached version of `golang:latest`. Try to do `docker pull golang:1.17-bullseye`. Maybe we should have a way to force us to do `docker build --no-cache`?

[2022-01-25 06:58] kolyshkin commented on #3347
The reporter noted he's building dockerd, not runc, so I suspected (also by the number of steps) that dockerd's Dockerfile is used, not the one from this repo. However, it does not look like https://github.com/moby/moby/blob/master/Dockerfile is used here (I have also checked older branches and it does not look like it either). Seems like some custom Dockerfile.

In any case, @cnjeffliu, whatever

[2022-01-25 06:58] #3347 closed

[2022-01-25 07:03] kolyshkin commented on #3333
@granty1 sometimes it helps to look into git history. For example, trying `git blame` for the code in question, we can find out that it was added by commit 4ecff8d9d886e31d8a1d4fbb7836782327b380db.

Looking into that commit, you'll see the commit message that (hopefully) describes what was done and why.

Let me know if you have any more questions after reading that commit.

[2022-01-25 07:05] kolyshkin commented on #3333
The comment says "for making sure runc init has finished the initial setup", not the "runc init to complete".

The commit message from the commit linked above provides more info about why.

[2022-01-25 07:06] kolyshkin commented on #3333
Closing as this is not a bug, but thank you for your interest, @granty1

[2022-01-25 07:06] #3333 closed

[2022-01-25 07:07] #3307 closed

[2022-01-25 21:23] kolyshkin commented on #2115
Closing as per https://github.com/opencontainers/runc/pull/2568#issuecomment-682472705

[2022-01-25 21:23] #2115 closed

[2022-01-25 22:11] mengqiy opened #3348 "libcontainer/README.md is out of date"
The example used in https://github.com/opencontainers/runc/blob/master/libcontainer/README.md#using-libcontainer is out-of-date.

[2022-01-26 09:49] danishprakash commented on #3343
Hey @kolyshkin, is this something a new contributor to the project can pick up? Please correct me If I'm understanding it incorrectly, but is it as trivial as getting rid of the Pausing state(and all it's references) from within libcontainer and subsequently even runc?
https://github.com/opencontainers/runc/blob/5547b5774f71f75a088e7432fa961778750a0fbd/libcontainer/container.go#L23-L24

[2022-01-27 02:26] kolyshkin opened #3351 "TestPodSkipDevicesUpdate: open cpuset.cpus: ENOENT"
Saw this failure on Cirrus CI, running under centos-stream-8 (from https://github.com/opencontainers/runc/pull/3350/checks?check_run_id=4959472971)

[code]

I have not seen it before.

This must be some kernel race -- the code in question creates the directory and then reads its `cpuset.cpus`.

I am not sure what to do here, other than to retry on ENOENT.

[2022-01-27 02:29] kolyshkin commented on #3348
I was just looking at it yesterday. This is being fixed as part of https://github.com/opencontainers/runc/pull/3316 (which I am going to split into smaller PRs). For now, you can see if its first commit addresses your concerns, @mengqiy .

[2022-01-27 05:20] granty1 commented on #3333
I saw it after watching it carefully,  thanks for your answer 👍🏽

[2022-01-27 09:24] #3348 closed

[2022-01-27 16:47] kolyshkin commented on #3250
Done!

For the reference, here are github-provided info about the rename (which includes what needs to be done locally)

[2022-01-27 16:47] #3250 closed

[2022-01-27 16:51] kolyshkin commented on #3250
@opencontainers/runc-maintainers You can also rename your forks by going to Settings / Branches (i.e. `https://github.com/<username>/runc/settings/branches`), at the top of the page is the form to rename.

[2022-01-28 03:37] kolyshkin commented on #3343
@danishprakash yes, you can try removing `Pausing` state from this code entirely, feel free to open a PR.

In general, you can also contribute by reviewing existing PRs, suggesting improvements and asking questions in there.

[2022-01-28 19:10] PaulFurtado opened #3359 "Commands run via runc exec do not get killed when remote client disconnects"
This has grown to become an issue in our kubernetes clusters: when a user has an `exec` shell inside a container and their connection dies, the command being executed inside the container does not die. We noticed this because many teams frequently use the kubernetes debug shell in the browser, and it's typical to just close the tab when complete instead of killing the command first. It also can be

[2022-01-28 20:59] kolyshkin commented on #3359
From the top of my head: when a connection dies, runc receives SIGHUP which it forwards to the container process. It's up to the process to react to it; default handler for SIGHUP is to die.

[2022-01-28 23:28] PaulFurtado commented on #3359
@kolyshkin Any chance you could point me to the code where it's handling that? I had looked before filing this issue, but couldn't find anything. Thanks!

[2022-01-29 08:51] danishprakash commented on #3359
@kolyshkin please correct me If this is misleading but @PaulFurtado this might be related to what you're looking for:

https://github.com/opencontainers/runc/blob/eddf35e5462e2a9f24d8279874a84cfc8b8453c2/signals.go#L77-L106

[2022-01-29 18:29] PaulFurtado commented on #3359
Okay so to confirm, that code is forwarding the signals that the `runc exec` command receives to the child process, right? In that case, the issue may be that docker/containerd need to send a signal when the remote connection fails?

Here's how to reproduce with docker:

1. Run a container
[code]
2. Exec another sleep infinity process inside it:
[code]
3. Ungracefully kill the `docker exec` comman

[2022-01-31 02:30] danishprakash commented on #3359
The command that you invoke either as part of the Dockerfile or from the command line when you start a container becomes PID 1 so in your case, it's the `sleep` process. The init process is supposed to handle signals, reap zombie processes and other responsibilities that come with being an init process within the container namespace. `runc` or any other container runtime, to the best of my knowled

[2022-01-31 18:19] PaulFurtado commented on #3359
@danishprakash We actually do run all containers with `tini` injected by dockerd. But this issue isn't about the main process of the container, it's about ones executed via `docker exec` inside an existing container. The processes being run via `docker exec` aren't zombies waiting to be reaped, they continue actively running when the client loses its connection to dockerd.

[2022-01-31 19:22] kolyshkin commented on #3359
If you kill a process with `-9`, you can't expect it to do anything, since this signal can not be handled by the process itself.

OTOH if you use `SIGETRM`, it works as intended:

[code]

Now, there are two ways to execute `runc exec`.

(1) Without `-d` (like I did above, and you did in your example earlier). In this case runc waits for the process to exit, and forwards the signals to it. In this

[2022-01-31 20:00] PaulFurtado commented on #3359
@kolyshkin yeah, at the end of my big previous comment, I was acknowledging that I realized that `runc exec` directly spawns the process and that I now don't expect it to handle `kill -9` given that. Prior to that comment, I had thought that `runc exec` was actually talking to the main runc process for the container over a unix socket and was expecting that a client disconnecting from that unix so

[2022-01-31 20:29] kolyshkin opened #3364 "[RFC] should we forward SIGURG?"
Foreground `runc exec` and `runc run` forwards all the signals (that it can) to the process being run.

Since Go 1.14, go runtime uses SIGURG for async preemptive scheduling. This means that runc regularly receives SIGURG and, in case of foreground runc run/exec, it gets forwarded to the container process.

For example:
[code]

Or, with slightly better debug messages from PR #3363,

[code]

The qu

[2022-02-01 09:19] thaJeztah commented on #3364
Yes, this is a tricky one; I know we filter out the signal on the `docker` CLI when forwarding signals https://github.com/docker/cli/blob/abc8c9b07fb92c2fde03504a33d6327dfde42bfb/cli/command/container/signals.go#L35-L39

I guess the intent is to make `runc kill` still accept it, so this would only be for the `runc exec` case?

@kzys @cpuguy83 @tonistiigi any thoughts?

[2022-02-01 11:05] dqminh commented on #3364
I think we should ignore it. SIGURG should never be sent to runc process as a non go-generated signal, it is corresponding to TCP URG ( noone sane is using it ), and runc certaibnly do not need it.

[2022-02-06 15:51] mtmk commented on #2517
This is how I got around it (thanks to @rofl0r commenting on apt internals above)
[code]

[2022-02-07 11:39] haampie commented on #2517
FWIW I've also had success with `unshare -r` inside of the container in container runtimes that don't make you `root`

[2022-02-07 21:57] kzys commented on #3364
https://github.com/golang/proposal/blob/master/design/24543-non-cooperative-preemption.md

Seems it is pretty safe to ignore. That being said, what are the drawbacks of forwarding the signal? Waste of CPU time?

[2022-02-07 22:18] cpuguy83 commented on #3364
Agreed there should not be any reason that people are handling SIGURG from runc because it is being delivered constantly.
As a signal on `runc kill` is another matter.

ctr and the docker CLI both ignore forwarding this signal.

[2022-02-07 23:29] kolyshkin commented on #3364
Looks like the consensus is the signal should be ignored. Opened #3368.

[2022-02-07 23:31] kolyshkin commented on #3364
That, plus
 -  logging some junk in case `--debug` is set;
 - difference between process running on the host and inside a container (the last one gets sporadic SIGURGs, unless `-d` is used for runc)

[2022-02-08 08:56] #3364 closed

[2022-02-08 22:28] cyphar commented on #3364
Sorry I was on vacation and only just checked my messages -- is it not possible to disambiguate if SIGURG was sent internally by looking at si_pid?

[2022-02-09 04:14] kolyshkin commented on #3364
In the current implementation (based on [signal.Notify](https://pkg.go.dev/os/signal#Notify)) we receive from golang runtime is basically an integer.

There may be a way to use signalfd(2), and it is even wired in x/sys/linux, but I'm not sure if it works well with go runtime.

Alternatively, this could possibly be fixed in Go runtime, so it can filter out signals it sends to itself. I just found

[2022-02-09 04:51] cyphar commented on #3364
Ah the point about signal coalescing is a good one, yeah it probably isn't possible to only ignore the Go runtime ones without sometimes missing a real signal from outside the program.

[2022-02-11 03:58] kolyshkin opened #3372 "[ci/centos7] not ok 76 kill detached busybox: runc-test_busybox.scope: no such file or directory"
Seen on https://cirrus-ci.com/task/5467129087524864?logs=integration_systemd#L99.

[code]

[2022-02-11 03:59] kolyshkin commented on #3372
Related: https://github.com/opencontainers/runc/issues/3351

[2022-02-17 13:34] AlexeyPerevalov commented on #2821
I would like to raise and interface issue here, which related to idmapped mounts.
Since we can have shared volumes, e.g. a directory mounted from host fs. Here idmap mount also could be usefull, as example in following scenario:
Log grabber runs with user1 permission in a container, and 2 log producers with user2, user3 respectively  in another containers (or even pods). These log producers have c

[2022-02-17 14:08] rata commented on #2821
I think it is not trivial to use id mapped mounts for volumes, as we need to know if the filesystems support id mapped mounts. If we just focus on runc and use it when requested (fail if requested and not supported), it might work for those use cases. But I'd like to see how that is useful to use from Kubernetes, in other words the full picture.

I'm curious what others think.

[2022-02-17 15:12] cyphar commented on #2821
@rata

This would (in theory) be useful for Kubernetes because Kubernetes knows what volumes are used by what containers, and having ID mapped mounts would allow Kubernetes to run containers with a more secure user namespace configuration (right now they don't use user namespaces at all -- but it would allow them to run with "isolated" user namespaces where each pod has a unique mapping, and then

[2022-02-17 15:29] rata commented on #2821
@cyphar

Thanks, I'm unsure if they are useful for k8s as proposed here (but heh, we can make future improvements when k8s uses this if needed).

I'm working on a k8s KEP to slowly adopt userns, that is why I was wondering if this is really useful or not. I don't think k8s has the fs of each volume handy (maybe it can get it, I don't know much of that code parts), so while it knows the volumes, k8

[2022-02-18 09:24] g0dA commented on #3359
This is not a problem of runc

in https://github.com/opencontainers/runc/issues/3359#issuecomment-1026071698
[code]
Your problem should be that the client does not handle the process in the container when it exits unexpectedly.

Take kubectl as an example, it uses `remotecommand.NewSPDYExecutor` for exec communication，so if you want to handle processes in containers when kubectl exits unexpectedly

[2022-02-18 09:42] AlexeyPerevalov commented on #2821
For the whole picture which includes k8s, I think, we have to highlight 2 use cases we have now:
1. id mapping for rootfs
2. id mappng for shared volumes

For rootfs, it's clear if we dont' request id mapping fairly we still can make an assumption it's necessary, just by checking image (at pull stage tar's header is checking for uid/gid and then lchown applied for every file) and desired user.
It

[2022-02-18 17:23] wineway opened #3383 "run container in a symlink path with relative rootfs path failed"
as mentioned in #586, `libcontainer/configs/validate/config.go` refused to run a container in a rootfs which has a symlink in its path.

but when we are in a symlink path and run a container which rootfs path is relative,  [CreateLibcontainerConfig](https://github.com/opencontainers/runc/blob/2436322fef995f60194554c5ce2947df2e18661d/libcontainer/specconv/spec_linux.go#L331) would use `os.Getwd` fi

[2022-02-21 08:54] dkadioglu opened #3387 "v2 cgroup delegation fails: memory.oom.group: no such file or directory"
After the update of runc from 1.0.3 to 1.1.0, one of my containers doesn't start anymore and errors out with the following message:
```Error response from daemon: Cannot restart container dkhm: failed to create shim: OCI runtime create failed: runc create failed: unable to start container process: unable to apply cgroup configuration: chown /sys/fs/cgroup/system.slice/docker-77a1ac22d8bfb1658e9bb8

[2022-02-21 18:23] kolyshkin opened #3388 "Look into using gvisor.dev/gvisor/pkg/seccomp"
Apparently, https://pkg.go.dev/gvisor.dev/gvisor/pkg/seccomp can potentially be used (instead of libseccomp / libseccomp-golang) to implement seccomp in runc. Need to look into it.

[2022-02-21 19:05] kolyshkin commented on #3387
Thanks for reporting this!

Looks like a regression from #3057. The workaround for you would be to NOT mount /sys/fs/cgroup read-write.

The proposed fix is https://github.com/opencontainers/runc/pull/3389. You can test it by using a pre-built binary for your arch (arm64 I guess) from the zip archive at the very bottom of this page: https://github.com/opencontainers/runc/actions/runs/1877860537

[2022-02-21 21:22] dkadioglu commented on #3387
Thank you very much for looking into this! And for providing a fix so fast!
I rebuilt runc 1.1.0 including the mentioned patch and so far it seems to work again, i.e. the respective containers starts and runs now. Perfect!
Just to mention: I am still on armv7h.

[2022-02-22 03:29] AkihiroSuda commented on #3388
Looks like we will have to add a few arch-specific constants to support ppc64le, s390x, arm (32-bit), and other minor architectures.

[2022-02-22 03:32] AkihiroSuda commented on #3388
I don't like the mega dependency on `gvisor.dev/gvisor/pkg/*`.
https://github.com/google/gvisor/blob/e0e9a19bffcb4fd4e545d3942104734f4d911f92/pkg/seccomp/seccomp_unsafe.go#L23
https://github.com/google/gvisor/blob/e0e9a19bffcb4fd4e545d3942104734f4d911f92/pkg/abi/linux/linux_amd64_abi_autogen_unsafe.go#L15-L17

Probably, we should fork  `gvisor.dev/gvisor/pkg/seccomp`  and its minimum dependency to

[2022-02-22 19:42] kolyshkin opened #3391 "not ok 42 runc delete: cgroup not cleaned up correctly"
This is an interesting failure I haven't seen before. Happened in centos-stream-8 CI here: https://cirrus-ci.com/task/6376444287778816?logs=integration_systemd#L49

[code]

[2022-02-22 19:48] kolyshkin commented on #3391
Ah, OK, this seems like a cgroup created by systemd for the temporary mount unit, created by systemd as a result of runc doing the self bind-mount. Obviously, the test should not take this cgroup into account. IOW it's a flake, and the fix is something like:

[code]

Yet, this is another reminder that we should try to implement something that avoids that mount entirely.

[2022-02-25 20:37] Rkuro opened #3394 "[Question] How to build the runc rpm from source?"
Hey runc ppl -

Sorry for the ignorant question, but I wanted to understand how the runc rpm gets built and deployed to somewhere like this: https://koji.fedoraproject.org/koji/taskinfo?taskID=81620279 or this https://centos.pkgs.org/7/centos-extras-x86_64/runc-1.0.0-65.rc8.el7.centos.x86_64.rpm.html

I'm pretty new to this so sorry for the lack of info & context.  I do see that there are github a

[2022-02-26 08:02] cyphar commented on #3394
Those RPMs are built by the Fedora project. We don't supply official packages, distributions package runc themselves.

[2022-02-26 19:52] liyimeng opened #3395 "cgroup v2 without Systemd"
I see many docs talk about configuring cgroup v2 using Systemd driver, almost nothing about running without Systemd.

In my case, I disable cgroupv1 in kernel and that mount /sys/fs/cgroup with init script, successfully make Containerd believe it is running on top of cgroupv2. However, it seem read out nothing from cgroup, e.g. it keep report zero cpu and memory usage.

What is the proper way to u

[2022-02-28 21:57] cyphar commented on #3394
@Rkuro That is for the packages built by Docker -- the ones you get if you use the docket.com repositories. The source for the Fedora RPMs is https://src.fedoraproject.org/rpms/runc.

[2022-03-01 02:48] kolyshkin opened #3399 "shell files: enable `set -u -e -o pipefail`."
We should make our shell code more strict, in particular:
 - [x] enable `set -u` so that using an unset variable (which is most probably due to bad logic in the code) will trigger an error (see #3367)
 - [ ] enable `set -e` (which is already enabled for bats test cases (but not its setup/cleanup), but should probably be enabled universally)
 - [ ] enable `set -o pipefail` (where we explicitly use

[2022-03-03 06:31] liyimeng commented on #3395
I am not sure if this is Containerd problem. I open https://github.com/kubernetes/kubernetes/issues/108364 and https://github.com/k3s-io/k3s/issues/5133

Adding some debug info there.

[2022-03-03 09:50] agners opened #3401 "Support `LinuxDeviceCgroup` updates"
To be able to adjust device permissions at runtime, this issue seeks to implement support for Linux Device CGroup updates. It is a prerequisite to get such support in Moby/Docker, see also moby/moby#42255.

Currently supplying `devices` to `runc update --resources -` does not adjust cgroup(v2) device permissions for an existing container. Some issues with device updates have been outlined in #2366

[2022-03-04 09:00] #3387 closed

[2022-03-08 20:24] kolyshkin opened #3407 "Add "Update with rebase" button"
We were seeing 2 or 3 cases when merging two pull requests results in a non-compilable code in main branch. This is because PRs are usually not rebased.

I have now enabled a button to update a PR to the tip of the branch. Previously this button added a merge commit, which I don't like. Now there's an option to do a rebase with force push. Unfortunately this is a second option so you have to expli

[2022-03-08 20:38] kolyshkin commented on #2772
I have enabled "Discussions", and maintainers can convert any issue which is actually a question to a discussion. Search for "Convert to discussion" text on the page, the link is at the very bottom of right column.

[2022-03-09 00:35] thaJeztah commented on #3407
I prefer not using this feature, as doing so modifies the contributor's commit, and removes their GPG signing.

We should check our CI configuration, as a rebase should not be needed to test against 'latest' of the target branch; if I'm not mistaken GHA (as well as other CI systems) should usually do a `merge` with target branch before running (if that's not the case, we should fix that).

IOW, if

[2022-03-09 01:42] #3244 closed, assigned to nobody

[2022-03-10 03:43] kolyshkin commented on #3407
Alas, Looks like it's not the case. The GHA action used (https://github.com/actions/checkout) fetches the code from the last commit in a PR, and does not do a merge. I took a quick look and do not see a way to implement it.

I see a number of open issues about it, e.g. this one https://github.com/actions/checkout/issues/481 from @saschagrunert.

I am not saying this can't be implemented, I am sayi

[2022-03-10 18:54] tianon commented on #3407
Related to https://github.com/actions/checkout/issues/481, restarting a job will always re-run the same YAML as the original run (and there's nothing something like `actions/checkout` can do about _that_), so if you've made any YAML changes in the target branch then a rebase or merge is _required_ to pick them up. :disappointed:

[2022-03-10 20:48] thaJeztah commented on #3407
Ugh.. 😞

I'm confused by all of these; so I recently was discussion this (similar conversation) with @crazy-max (he had some ideas I think to fix the checkout action to do a merge), but @ndeloof mentioned that it already does that (or something along those lines).

To some extend, I guess it's "fine"(ish) if it didn't pick up the changes from the YAML itself (not ideal, but with Jenkins that also

[2022-03-13 16:56] Dramelac opened #3412 "setting cgroup config for procHooks process caused: bpf_prog_query(BPF_CGROUP_DEVICE) failed: operation not permitted: unknown"
After upgrading from Debian 10 to Debian 11, i can't start any container anymore.

`sudo docker run --rm hello-world` (Same error when starting any existing container)
[code]

`uname -a`
[code]

`docker info`
[code]

Thank you in advance for your help.

[2022-03-14 14:49] tanberBro opened #3413 "runc seccomp_notify_respond"
when use runc ctl：
$runc
runc: symbol lookup error: runc: undefined symbol: seccomp_notify_respond

What is the reason and how to solve it?
system：
centos7.9

[2022-03-14 15:58] kolyshkin commented on #3413
Recent runc requires libseccomp 2.5.0. If your distro does not provide it, you can use a static build from the releases page.

[2022-03-14 21:34] kolyshkin opened #3415 "@test "runc run [seccomp] (empty listener path)" named badly"
Here is the test:

https://github.com/opencontainers/runc/blob/51e607f2cdd8ccf7f39f29aab531d674e487b311/tests/integration/seccomp-notify.bats#L95-L105

Its name says "empty listener path" but it checks something different. I am not sure what, so summoning @mauriciovasquezbernal @rata to please take a look.

[2022-03-15 10:15] rata commented on #3415
@kolyshkin thanks for pulling us in.

There was a typo there, instead of "empty" that should be "non-empty". The idea is to test that we ignore the listenerPath if the profile doesn't use seccomp notify actions.

I will open a PR to fix that. Also, I re-read all the other tests in that file to make sure they are named correctly too. While doing so, I wrote a 1 line sentence for their intent, will

[2022-03-15 11:35] Marshalzxy opened #3417 "Why Runc do bind mount config.rootfs to config.rootfs while it create container ?"
In rootfs_linux.go prepareRoot(), Runc bind mount config.Rootfs to config.Rootfs . Why this step is necessary?   In my centos 8.2, while graphdriver is overlayfs2, it seem that this step can be skipped without any consequences.Can we optimize this step?

func prepareRoot(config *configs.Config) error {
	flag := unix.MS_SLAVE | unix.MS_REC
	if config.RootPropagation != 0 {
		flag = config.RootPropa

[2022-03-15 22:43] kolyshkin opened #3418 "TestWriteCgroupFileHandlesInterrupt on CentOS 7 got ENODEV"
[code]

From https://cirrus-ci.com/task/5995808356040704, while testing https://github.com/opencontainers/runc/pull/3373 which looks unrelated to the PR.

Most probably this is some bug in older kernel. Keeping this issue open to see if this ever happens again.

[2022-03-16 11:03] thaJeztah commented on #3407
Oh! Actually wanted to comment about that, but forgot;

This is indeed a known issue with Github Actions; if changes were made in the `.github/workflows` YAML files, they don't get picked up automatically. I've also ran into that in repositories that were switching to GitHub actions from other CI providers;  the newly added actions either don't show (if they're not marked as "required"), or do _sh

[2022-03-16 22:22] kolyshkin commented on #3417
I am not quite sure but _maybe_ this mount is not needed if `config.Rootfs` is already a mount point.

If the above is true, we can make it optional. Problem is, detection of whether the path is a mount point is a costly operation itself, for kernels that lack openat2(2) support (that is, Linux < 5.6) detecting a bind mount requires parsing /proc/mountinfo.

What is your use case, and what is the

[2022-03-16 23:06] kolyshkin commented on #3417
OTOH we already parse mountinfo anyway in `rootfsParentMountPrivate`...

[2022-03-16 23:41] kolyshkin commented on #3417
The following patch can prevent the bind mount if it's already a mount point:
[code]

Feel free to test it and report your findings here.

[2022-03-17 01:47] Marshalzxy commented on #3417
Thanks to reply my issue, it is not my special use case .I read these codes of Runc preparing rootfs, and this duplicated bind mounted made me confused. So i think maybe we can do some optimize this step.

[2022-03-17 04:02] #3415 closed

[2022-03-18 09:50] g0dA opened #3422 "Why dirty pipe can escape container?"
Overwriting /proc/runc pid/exe through dirty pipe(CVE-2022-0847) can cause container escape like CVE-2019-5736

But CVE-2019-5736 was fixed by memfd_create in commit [nsenter: clone /proc/self/exe to avoid exposing host binary to container](https://github.com/opencontainers/runc/commit/0a8e4117e7f715d5fbeef398405813ce8e88558b)

For now i think /proc/runc pid/exe is an in-memory file, if we open it

[2022-03-18 13:26] cyphar commented on #3422
Because of many complaints by Kubertnetes folks, we switched to making /proc/self/exe a read-only bind-mount.

It's pretty frustrating that I implemented a protection against this precise issue which we were forced to disable because Kubertnetes integration tests started failing (copying the binary increases memory usage by a few MB and the Kubertnetes tests had tiny memory limits).

[2022-03-18 15:56] g0dA commented on #3422
Oh my god, it looks like this, no wonder the actual performance of runc is not the same as the previous fix report.

Then I have a new question :
https://github.com/opencontainers/runc/blob/98b75befc44c8f0f4a76e7cf8f100be834e624e8/libcontainer/nsenter/cloned_binary.c#L510

by `sendfile()` memfd and binfd are the same page cache，if the pagecache of memfd is modified through dirtypipe, it will also

[2022-03-18 15:57] kings-way commented on #3422
related: [nsenter: cloned_binary: "memfd" cleanups](https://github.com/opencontainers/runc/pull/1984) #1984 ?

[2022-03-21 05:49] KooIaIa commented on #3271
Is this experimental feature still at the same state it was when this post was made? I'm learning about crun and lxc for the first time.

Do you see LXC adopting this kind of thing as-well?

[2022-03-22 01:02] #3391 closed

[2022-03-22 12:32] Dramelac commented on #3412
The problem came from the kernel that has not been updated.
Fixed with:
`sudo apt install linux-image-amd64`

[2022-03-22 12:32] #3412 closed

[2022-03-26 13:19] utam0k commented on #3271
Hi, If you will implement this feature, I suggest to separate it from the default build and release.

[2022-03-26 13:21] utam0k commented on #3401
FYI: `containerd` recently added support for it.
https://github.com/containerd/cgroups/pull/225

[2022-03-26 13:28] utam0k commented on #3388
This is my simple interest, what is the reason you want to change the seccomp library? Are there any hard spots?

[2022-03-26 13:32] AkihiroSuda commented on #3388
Cross-compilation is often cumbersome with cgo.
Also, distros' libseccomp is often outdated and lacks support for recently added syscalls

[2022-03-27 01:22] kolyshkin opened #3434 "libcontainer logging"
As pointed out by @mrunalp in https://github.com/opencontainers/runc/pull/3433#issuecomment-1079806993, libcontainer packages should not do any logging, since this is a library used by other users.

Unfortunately, libcontainer is also a part of `runc` which is a CLI tool and we expect it to do some logging.

This can be solved by having a logger in libcontainer, which defaults to a shallow impleme

[2022-03-27 01:25] kolyshkin commented on #3434
One other thing somewhat releated to this issue is getting rid of logrus entirely, since it is no longer maintained. I am not sure though if there's a better alternative that supports at least JSON output. Maybe @thaJeztah has some ideas?

[2022-03-28 08:44] agners commented on #3401
@utam0k hm, that is the containerd API basically allowing to update using a Resource object correct? I guess it still requires the runc changes to make the device part actually work.

[2022-03-28 10:58] utam0k commented on #3401
@agners As far as I know, `containerd` has its own device emulate. I guess it use own devices emulate to update resources. If I am wrong, please let me 🙏

[2022-03-28 11:04] utam0k commented on #3388
I got it. I'm interested in contributing to runc. If I have a chance to try it, I'd like to take it.

[2022-03-28 17:20] kolyshkin opened #3437 "Release 1.1.1"
As of now, I think we have a critical mass to bake a release in 1.1.x branch.

Here's a list of PRs:
https://github.com/opencontainers/runc/pulls?q=is%3Apr+label%3Abackport%2F1.1-pr+

In particular, https://github.com/opencontainers/runc/pull/3435 is important, as it blocks bumping runc to 1.1 in kubernetes (see https://github.com/kubernetes/kubernetes/pull/109029).

[2022-03-28 17:20] kolyshkin commented on #3437
Ah! We need release notes; let me prepare it.

[2022-03-28 19:06] kolyshkin commented on #3437
OK, please proofread the relnotes here: https://github.com/opencontainers/runc/pull/3439

[2022-03-29 07:00] AkihiroSuda commented on #3437
:tada: https://github.com/opencontainers/runc/releases/tag/v1.1.1

[2022-03-29 07:00] #3437 closed

[2022-03-29 22:12] Foxboron commented on #3437
Yo,

It seems like 1.1.1 is missing a signed tag, and the commit is not signed either. This is a change from previous releases. Is this intentional and should we only utilize the signed tarballs?

[2022-03-29 22:51] kolyshkin commented on #3437
My bad for not signing the commit; it was not intentional.

The tag is actually signed (by me), but it was not shown as signed because I did not upload my GPG key to github (which is now fixed).

[2022-03-29 22:56] Foxboron commented on #3437
Ah, the UX for this isn't great and I was going off on the notes the other Arch package maintainer got me :)

We pushed runc with the signed tarball this release and there isn't any good reason for us to use the git remote directly I think. I thought it would just be a good idea to mention it.

[2022-03-30 13:10] agners commented on #3401
@utam0k from what I understand `containerd` uses `runc` as low-level runtime by default. I don't think it has a built-in low level runtime, it requires runc to work (see https://github.com/containerd/containerd/blob/main/BUILDING.md#runc). It seems to support alternative runtimes such as `crun`.

[2022-03-30 17:50] kolyshkin commented on #3434
Alternatively, libcontainer can have a build tag to disable any logging -- by creating a shallow logrus implementation. Not sure if that's a good idea, just thinking out loud here.

[2022-03-30 18:53] thaJeztah commented on #3434
Yeh, there may be alternatives to logrus, OTOH, it's still widely used (and I think I was given write access to that repository in case urgent things are needed).

One option could be to use a "context logger", similar to how containerd approaches this; in this case the logger can be attached to the context, so we can still pass it (but others may skip that); https://github.com/containerd/containe

[2022-03-30 20:24] kolyshkin commented on #3417
This is what the above patch does. I am not convinced though whether we should have it or not. Surely, we can omit this mount, and thus save a `mount(2)` syscall. OTOH this makes the code more complicated, and I am not quite sure it is worth the savings.

What do you think @Marshalzxy ?

[2022-03-31 06:40] Marshalzxy commented on #3417
It's indeed more complicated. At lease we should add some comments above
return mount(config.Rootfs, config.Rootfs, "", "bind", unix.MS_BIND|unix.MS_REC, "")
To explaint under some circumstances this mount is redundant.

[2022-03-31 21:20] cyphar commented on #3437
I auto-sign all of my commits so when I do a release they'll always be signed. But yeah, part of our release process is generating signed tarballs and those are probably a better source to use (that's what I use in openSUSE for packaging as well).

[2022-04-01 23:10] kolyshkin commented on #3417
I think I do have a comment, right before the return, which explains the case.

My question was different. Do you think that adding this (thus making the code code complicated) is worth the savings we get in return (skipped bind mount)? I am genuinely not sure about this, and that is why I'm asking.

[2022-04-03 04:33] utam0k commented on #3401
@agners That's right. But `containerd` has its own cgroup controller.
https://github.com/containerd/cgroups

[2022-04-04 03:25] alam0rt opened #3448 "runc init hanging on openat()"
Hi, we recently experienced an issue where many of our nodes were failing to create pods (`CreateContainerConfigError`).

We noticed that `containerd` had spawned many `runc init` processes which I gather is normal, except they never got to `execve` and instead were hanging on `openat()` on the execFifo pipe.

[code]

Logs are full of below, but no smoking guns.
[code]

The issue seems very simila

[2022-04-04 17:53] kolyshkin commented on #3448
Container start can be split into two phases -- runc create and runc start.

* `runc create` creates a container and starts a bare `runc init` process in it. This `runc init` when waits for exec fifo to be opened on the other side, as a mechanism of synchronization. Once opened, it writes a `0` byte in it and proceeds to exectute the real container init process.
* `runc start` actually starts that

[2022-04-04 17:58] kolyshkin commented on #3448
To add to the previous comment -- container in a starting state (as described by the previous comment) can be deleted by calling `runc delete`. It seems that something in containerd logic prevents that.

[2022-04-04 18:03] kolyshkin commented on #3448
To sum it up, it seems that runc works as expected, I'd ask containerd folks about this.

[2022-04-04 20:57] alam0rt commented on #3448
Ah, noted. Thanks for the quick reply. I'll raise this with containerd.

[2022-04-04 20:57] #3448 closed

[2022-04-06 02:44] Marshalzxy commented on #3417
After your patch, these codes are little more complicated.However it indeed saves hundreds of kernel instuctions and context switch when system call is called. So I do think we could accecpt your patch.

[2022-04-06 23:02] rofl0r commented on #2517
@mtmk good find! i used your approach and refined it a little bit more in my [guide](https://github.com/sabotage-linux/sabotage/wiki/Running-a-minimal-ubuntu-rootfs-as-regular-user/_compare/eb68fad562b795aa5cf941bc672e483e84127fc1...8c299c6e58a143e25b807054354d79cf145efdd7)
it also deals with the [above mentioned](https://github.com/opencontainers/runc/issues/2517#issuecomment-764163674) `APT::San

[2022-04-09 11:30] fuweid opened #3453 "Feature Request: Support Two Phases to Start Exec Process like Init"
Currently, the exec-process is created by `runc-exec` one command.
The common container engine layer will care about the exit code of
exec-process, which required that the `runc-exec`'s parent process
must be the subreaper.

Since [pidfd_open(2)](https://man7.org/linux/man-pages/man2/pidfd_open.2.html) is available, we can watch the exit event
by pidfd and retrieve the exit code provided bpf `sche

[2022-04-12 01:31] fuweid commented on #3453
ping @AkihiroSuda @kolyshkin @thaJeztah ~

[2022-04-12 09:22] thaJeztah commented on #3453
These commands would come in _addition_ to the existing command?

My first thought was "should this be defined in the runtime spec?", but it looks like `exec` is not described in the spec (unless I missed it 🤔); https://github.com/opencontainers/runtime-spec/blob/v1.0.2/runtime.md#lifecycle

[2022-04-13 01:59] fuweid commented on #3453
I didn't find out a good way to work with current commandline 😂 I would like to use new sub-commands for this.

I found that the issue https://github.com/opencontainers/runtime-spec/issues/345 said the exec should be handled by implementation. 😂 2016

[2022-04-14 19:19] cpuguy83 commented on #3453
I would also like to see this.
One thing I found when working on https://github.com/cpuguy83/containerd-shim-systemd-v1 is if a command exits quickly enough this can cause issues with systemd being able to attach to the process at all because by the time it can get the pid the process has already exited.

[2022-04-14 20:37] thaJeztah commented on #3453
Thanks for digging that up (I could've sworn exec was described, but from that link I see it was removed from the spec)

So, yes, I'm not against adding this

Let me also /cc @mrunalp (I see he was on that original discussion)

[2022-04-19 15:08] fuweid commented on #3453
Yes. That is why I want it to be like init process.

@thaJeztah Thanks!

ping @AkihiroSuda @kolyshkin and @mrunalp ~

[2022-04-20 06:38] AkihiroSuda commented on #3453
SGTM

[2022-04-20 12:56] fuweid commented on #3453
Thanks! I will file pr for this~

[2022-04-26 19:08] kgibm opened #3462 "Error: systemd not running on this host, cannot use systemd cgroups manager"
Running `runc --root /host/run/runc list` from an OpenShift debug pod shows errors:

First, starting the debug pod:

[code]

Then running `runc --root /host/run/runc list` shows an error for each container:

<details open>

[code]

</details>

However, `chroot`ing into the root and running its `runc list` works fine:

<details open>

[code]

</details>

Is this expected?

The `runc` in the debug p

[2022-04-27 15:30] kom0055 commented on #3462
I got the same problem, case when I try to use runc/libcontainer/cgroupmanager in container.
Is there any chance to read file from environment, not just hard-coding "/run/systemd/system"

[2022-04-27 15:58] kgibm commented on #3462
Running the host's `runc` shows the same issue:

[code]

The following workaround works:

[code]

[2022-04-27 21:59] kolyshkin commented on #3462
Hmm. This can be fixed, although it's going to be complicated. Thanks for reporting, I'll look into that.

[2022-04-27 22:00] kolyshkin commented on #3462
Sure. Is there an env var available that can be used?

[2022-04-27 22:01] kolyshkin commented on #3462
Also, a (somewhat nasty) workaround would be to do `mkdir /run/systemd/system`.

[2022-04-28 01:32] kom0055 commented on #3462
Cause I run this in a container, I cannot use it unless I mount `/run/systemd` readonly on my container, but I think it's not that elegant and lack of safety, it could be `/rootfs/run/systemd` cause I already mounted the root dir on `/rootfs`.  Or we could think in a by pass way, like  `github.com/godbus/dbus/v5/conn_unix.go:12` , this module support we assgin the dbus address from environment, us

[2022-05-02 12:13] ydcool opened #3464 "runc running very slow"
`runc --systemd-cgroup run test` takes 10 minutes long to execute, but no error or warning.

here're some system info:

[code]

I modified the source code of runc , added some trace codes, and got the go trace file:
![block](https://user-images.githubusercontent.com/5668295/166231526-79ce823e-79c6-4703-97cc-472c3a60346c.svg)

and found the syscall were blocked:
![image](https://user-images.githubu

[2022-05-03 00:35] kolyshkin commented on #3464
What you found means runc waits for systemd (to provide a response over dbus, I guess).

Not sure why it's taking so long -- something is wrong with your systemd?

If there's a way to reproduce this from scratch -- please provide detailed steps.

[2022-05-04 11:31] ydcool commented on #3464
@kolyshkin I haven't found the way to reproduce this, but this is the only server out of dozens in my k8s cluster that occurred twice in the past six months. I'll try to find it out.

[2022-05-09 10:18] vipulnewaskar7 commented on #3462
Hi @kolyshkin
Not sure if this will help...
If somehow we get the RootDirectory path of "chrooted" host ("/host" in this case) from user, then we can use systemd executable of the host itself.
[https://www.freedesktop.org/software/systemd/man/systemd.exec.html#RootDirectory=](https://www.freedesktop.org/software/systemd/man/systemd.exec.html#RootDirectory=)

[2022-05-09 18:20] kolyshkin commented on #3462
This does not look like an environment variable. It's a systemd unit configuration parameter.

We can actually add an alternative method to see if systemd is running -- by trying to connect to it. I'll take a look

[2022-05-11 23:58] cyphar commented on #3399
The slight issue with `set -e` in bats is that bats internally works by `source`ing the test files, which might cause us to mess up its internal error handling (then again, it's possible they properly save and restore the state before and after executing user code -- it's been a while since I looked at the bats code).

[2022-05-12 03:14] kolyshkin commented on #3462
OK, this seems complicated because of how we initialize dbus connection depending on whether runc is rootless or not.

I'm a bit stuck here. Looks like the alternative (not looking into systemd when listing containers) is a better idea.

[2022-05-12 18:11] mohammad5305 opened #3473 "Error response from daemon: failed to create shim task: OCI runtime create failed: runc create failed: unable to start container process: error during container init: error setting cgroup config for procHooks process"
I know an issue already exist but I try all of them but nothing work, also I try adding `systemd.unified_cgroup_hierarchy=0` when grub started but does not work and I don't use a custom kernel.
[code]
[code]

[code]

[code]
[code]

[2022-05-12 18:27] mohammad5305 commented on #3473
sorry there was a typo in kernel parameter sorry about it. and docker working fine now

[2022-05-12 18:27] #3473 closed

[2022-05-13 06:45] #3383 closed

[2022-05-14 08:40] ydcool commented on #3464
update:
Today it happened again, we found there're too many multipathes (up to 12k) , while the multipathd using  too many linux fd.
And there're lots of timeout error in dbus journal log. So I think it many be the root cause of slowly runc, but didn't found more
direct evidence that the leaked multipathes blocked the dbus.

As for the multipath leak, it's something wrong with the OpenStack runnin