[2022-05-15 17:35] vipulnewaskar7 commented on #3462
runc list well as other methods (indirectly) call libcontainer.Load(root, item.Name())
so we might need to handle those scenarios also? otherwise, issues will appear for commands other than the list command

https://github.com/opencontainers/runc/blob/9524366183517b379a1fca8b9b250002ba3b1be7/list.go#L112-L144

https://github.com/opencontainers/runc/blob/9524366183517b379a1fca8b9b250002ba3b1be7/uti

[2022-05-26 06:14] eriksjolund opened #3488 "Socket activation with 3 sockets fails"
### Description

Socket activation with 1 socket succeeds.
Socket activation with 2 sockets succeeds.
Socket activation with 3 sockets fails with

[code]

Sidenote: It works when using `crun`.

### Steps to reproduce the issue

1.  `podman pull ghcr.io/eriksjolund/socket-activate-echo`
2.  Create the file `~/test.bash` with this file contents
[code]
3. Run `bash ~/test.bash`
[code]
4.  Run `cat /t

[2022-06-01 19:49] #3488 closed

[2022-06-02 08:35] whoteit92 opened #3499 "Use host network not working as expected when host interface has multiple IP addresses"
When the host network interface has multiple IP addresses, using the host network (by omitting the network namespace from config.json does not work as expected. The container interface only has 1 IP address assigned.

**On host:**
ip address show
eth0: <BROADCAST,MULTICAST,UP,LOWER_UP> mtu 1500 qdisc fq state UP group default qlen 1000
    link/ether ac:cc:8e:b3:63:29 brd ff:ff:ff:ff:ff:ff permadd

[2022-06-04 20:12] tbhaxor opened #3500 "Why does runc call chdir("/") twice after pivot_root?"
I am trying to learn the internals of the containerization and found runc indeed call chdir syscall twice

[code]

Is there any specific reason to this?

[2022-06-06 07:53] bigclouds opened #3502 "many runc init hang, os could reboot"
runc exec hang and hung processes increase, cpu load is big up to 2000.

---ps ----
root     3176169  0.0  0.0  24012  9004 ?        D    May27   0:00 runc init
-----environment-----
containerd-1.4.9-3, runc version 1.0.0-rc95, go1.13.9, libseccomp: 2.3.1, 4.18.0-147.3.1.el8_1.3
-------runc exec  kernel call stack--------

err [129398.233826] INFO: task exe:1990875 blocked for more than 120 second

[2022-06-06 17:06] kolyshkin commented on #3502
So, it gets stuck on `umount(2)` in the kernel. I do not think this is a runc problem, or something that runc can do.

[2022-06-06 19:50] tbhaxor commented on #3500
This questions is moved to the Google Group - https://groups.google.com/a/opencontainers.org/g/dev/c/22mpS6Vhas8

[2022-06-06 19:50] #3500 closed

[2022-06-10 09:32] chenk008 commented on #3499
Please use `ip address show` in your container, it seems different between `ip` and `ipconfig`.

[2022-06-11 14:59] AkihiroSuda opened #3507 "CI: Vagrant no longer works inside CirrusCI (with our current configuration, at least)"
Vagrant tests are now failing: https://cirrus-ci.com/task/5504067022618624
[code]

Because the current instance no longer supports `(vmx|svm)`:
[code]

Although we set `nested_virtualization: true` 🤔 :
https://github.com/opencontainers/runc/blob/258eff101c21bd80ae37e888b1894abd43d7dd90/.cirrus.yml#L21-L29

[2022-06-11 15:05] AkihiroSuda commented on #3507
The CPU was like this 3 days ago
[code]
https://cirrus-ci.com/task/5373963336417280

[2022-06-12 05:01] #3507 closed

[2022-06-13 12:28] whoteit92 commented on #3499
That is not the issue. ip address show in the container also shows a missing IP address :

root@axis-accc8eb36329:~# runc exec mycontainer ip address show
1: lo: <LOOPBACK,UP,LOWER_UP> mtu 65536 qdisc noqueue state UNKNOWN qlen 1000
    link/loopback 00:00:00:00:00:00 brd 00:00:00:00:00:00
    inet 127.0.0.1/8 scope host lo
       valid_lft forever preferred_lft forever
    inet6 ::1/128 scope hos

[2022-06-14 22:32] kolyshkin opened #3509 "cgroup v1/v2 compatibility issue when setting memory below the current usage"
With cgroup v1, when we set the memory limit to below the current usage, the kernel returns EBUSY and runc fails with a nice error message:
[code]

With cgroup v2, when do do this, kernel OOM killer just kill the container. This makes this behavior incompatible with cgroup v1.

One (imperfect) workaround is to add a flag to OCI spec that disallows to set memory limit to the value lower than the cu

[2022-06-15 07:17] giuseppe commented on #3509
could the Kubelet use `memory.high` instead of `memory.max`?

[2022-06-15 13:52] danishprakash commented on #3343
Hey @kolyshkin I just noticed this is still open since we have one pending item on this issue. Just checking before I make changes, do we simply mean to update the docs to now reflect the removal of `Pausing` state? Also, when you say conforming to Golang style, do you mean docs in general or something else? Thanks

[2022-06-15 14:01] danishprakash commented on #3434
We recently spent some time finding a logger and ended up choosing https://github.com/uber-go/zap for a custom logger wrapper we're currently writing at work. But as @thaJeztah said, it's still widely used and we still use it for a lot of our services.

@thaJeztah do you mean using `context.Values` for storing a logger instance and propagating that around? I think that's generally not deemed to be

[2022-06-15 14:05] danishprakash commented on #3509
I don't have a complete understanding at this point but are we talking about cgroup memory limit applied at the time of container creation? And if that's the case, is the difference then the fact that in cgroupv2 the kernel isn't returning an EBUSY anymore?

And then have runc parse it and fail early instead of the container being OOMKilled?

[2022-06-15 21:08] mrunalp commented on #3509
This is when we try to update the memory limit of an already running container to a value that is less than what it is currently using. In v1, we got EBUSY, but in v2, kernel applies the value and if it is low, the container is OOM Killed.

[2022-06-16 00:23] kolyshkin commented on #3343
This is now fully fixed, no pending tasks.

[2022-06-16 00:23] #3343 closed

[2022-06-16 00:24] kolyshkin commented on #3434
The issue in question is make libcontainer logging optional. In other words, if runc is using libcontainer, log all the way. If someone else is using libcontainer, do not log (by default).

[2022-06-16 00:27] kolyshkin commented on #3509
From the vertical pod autoscaler POV -- yes. Meaning, it will still have to distinguish between v1 and v2. Meaning, it does not make sense to add a flag I have proposed in the description.

[2022-06-17 18:33] mrunalp commented on #3509
I think that will have to be phase 2 with cgroups v2 in k8s. Phase 1 is just a direct mapping to v1.

[2022-06-19 22:03] Zhenshan-Jin opened #3516 "How to access the container's name inside the container?"
I am wondering if it is possible to access the container's name inside the container?

For example, I create a container with
[code]
is it possible to access MY_CONTAINER inside the container?

The use case is that in each of the created container, I will create a unix socket so that the server in the container coud be called by the outside.

Any help is appreciated : )

[2022-06-24 00:19] kolyshkin opened #3520 "runc run failure logging when the binary is on noexec fs"
When `runc run` is called by podman, podman gathers run output, and if it contains "permission denied", exits with code of 126.

As demonstrated:
[code]

Now, for some reason yet unknown to me, if the non-executable binary is on volume, runc fails to propagate the error back to podman.

Here's a repro with a slightly modified runc:

[code]

here is what happens normally:
[code]

Now, if we add `no

[2022-06-24 16:54] srd424 commented on #3412
(Just in case anyone else stumbles across this while googling.. I hit this error running podman containers nested inside systemd-nspawn - the issue was I needed to allow the bpf syscall in the .nspawn file.)

[2022-06-28 23:47] kolyshkin commented on #3520
OK this only happens for `noexec` volumes, since `exec.LookPath` checks the `x` bit on the binary itself, but (obviously) does not check the mount's `noexec` flag, so the error happens much later, when all the pipes are already closed and the error can not be propagated to the parent.

Ended up with this CR: https://go-review.googlesource.com/c/go/+/414824

[2022-06-28 23:58] thaJeztah commented on #3520
oh! nice find

[2022-07-04 07:19] zhsj opened #3524 "seccomp integration tests fail on arm64"
[code]

https://github.com/opencontainers/runc/blob/eca233d286e8410d8c41119fc1f55ddf13590c00/tests/integration/seccomp.bats#L46
The architectures only list x86 and x32. But if I just extend the list to `["SCMP_ARCH_X86","SCMP_ARCH_X32","SCMP_ARCH_X86_64","SCMP_ARCH_AARCH64","SCMP_ARCH_ARM"]`, the tests still fail.

[2022-07-04 08:01] zhsj commented on #3524
It seems arm64 uses `mkdirat` instead of `mkdir`, I will send a patch for the test.

[2022-07-11 09:43] AkihiroSuda commented on #3388
Removed from v1.2.0 milestone, but contribution is still welcome

[2022-07-11 20:49] #3524 closed

[2022-07-15 01:49] utam0k commented on #3388
Sorry, I forgot about this issue. I'd like to try that. Can I ask you to assign me?

[2022-07-15 01:55] AkihiroSuda commented on #3388
@utam0k Assigned

[2022-07-15 01:55] utam0k commented on #3388
@AkihiroSuda Thanks!

[2022-07-15 02:08] utam0k commented on #3388
- [ ] seccompagent.go
- [ ] seccomp_test.go
- [ ] seccomp_linux.go
- [ ] ecosys_linux.go
- [ ] seccomp_internal.go

[2022-07-19 13:52] cdoern opened #3529 "runc cannot write weight devices to io.bfq.weight"
runc, when used in comtainers/podman and containers/common can successfuly write values like `blkio-weight` to `io.bfq.weight` but something is wrong with the logic for writing `blkio-weight-device`:

[code]

this has been followed to:

https://github.com/opencontainers/runc/blob/93ad6a8513791784a081fc3f8444ebaf4b665995/libcontainer/cgroups/fs2/io.go#L70-L76

and the cat proves that blkio-weight w

[2022-07-19 13:53] cdoern commented on #3529
@kolyshkin PTAL

[2022-07-20 04:36] AkihiroSuda opened #3532 "TestCheckpoint and TestUsernsCheckpoint are failing on centos-stream-9 (Segmentation fault)"
https://cirrus-ci.com/task/4890404691640320?logs=unit_tests#L1358

[code]

[2022-07-20 06:20] thaJeztah commented on #3532
/cc @kolyshkin @adrianreber

[2022-07-20 06:39] adrianreber commented on #3532
The latest glibc changed the restartable sequence interface and that requires a CRIU rebuild. Rebuild is already triggered: https://gitlab.com/redhat/centos-stream/rpms/criu/-/commit/b6cb718321341b624fc6f2a217d04da775ae32a1 but it might take a week or so to show up in the repositories.

@rst0git FYI

[2022-07-20 14:53] thaJeztah commented on #3532
Thanks for the update!

[2022-07-20 19:20] cdoern commented on #3529
@AkihiroSuda @kolyshkin any thoughts on this? might be worthwhile to add a statement here to fallback on io.weight.

[2022-07-20 20:22] 132ikl opened #3533 "Umask behavior doesn't match spec"
In the [config section](https://github.com/opencontainers/runtime-spec/blob/main/config.md#user) of `runtime-spec`, it states:

However runc does not seem to follow this:

[code]

It looks like the issue originates in [rootfs_linux.go:179](https://github.com/opencontainers/runc/blob/main/libcontainer/rootfs_linux.go#L179), where the umask is set to `022` despite `umask` not being set in `config.js

[2022-07-21 00:49] kolyshkin commented on #3533
The initial umask support was added in #2527. Before that, the umask was always set to `022`.

crun does the same thing (sets the umask to 022 unless explicitly specified).

Adding umask support to runc was originally discussed in #1650.

The PR to runtime-spec that says "no change unless explicitly specified" is https://github.com/opencontainers/runtime-spec/pull/941 and is authored by @cyphar.

[2022-07-21 06:47] giuseppe commented on #3533
I agree.  Let's clarify it in the runtime-specs

[2022-07-21 17:32] 132ikl commented on #3533
In terms of usability, I think it makes more sense for the umask to not be changed from the calling process' umask. I ran into this issue in the first place because I was using an old version of runc and couldn't figure out why the umask from my shell was being ignored. Principle of least surprise and all. It definitely could cause backwards compatibility issues though, so I understand why it migh

[2022-07-26 15:09] thaJeztah opened #3537 "Follow-up changes for intelrdt detection"
Hmm, there's one consideration that I don't know if we should care about here. If resctrlfs is mounted with `-o cdp` we will have `L3CODE/` and `L3DATA/` (instead of `L3/`) under the `info/` dir.

I don't remember if CDP is officially supported in the runtime spec but I guess specifying something like `L3DATA:0=ff\nL3CODE:0=ff` in `intelRdt.l3CacheSchema` would work in practice.

Any thoughts?

_O

[2022-07-27 23:24] kolyshkin commented on #3532
This is being fixed in `criu-3.17-4.el9` (which is not in the repo yet).

Workaround: https://github.com/opencontainers/runc/pull/3539

[2022-07-28 02:44] kolyshkin opened #3540 "TestFreezeBeforeSet on CentOS 7"
Happened once in Cirrus CI (https://cirrus-ci.com/task/5418288451682304?logs=unit_tests#L549) while running CI for https://github.com/opencontainers/runc/pull/3512

[code]

I've seen similar bugs but not this one. Filing just to ensure it's not lost.

[2022-07-28 12:25] thaJeztah commented on #3532
@kolyshkin do you think we should reopen this ticket for tracking ("remove the workaround once we can"?)

[2022-07-29 23:14] kolyshkin commented on #3540
In general we seem to have a problem with disappearing cgroups on CentOS 7, e.g. from https://cirrus-ci.com/task/5772431724904448 (while testing #3379):

[code]

[2022-07-29 23:15] kolyshkin commented on #3540
See also #3351

[2022-08-02 02:41] #3520 closed

[2022-08-03 15:29] cdoern commented on #3529
ping @kolyshkin  @AkihiroSuda

[2022-08-04 00:17] kolyshkin commented on #3529
The `cat` only proves that the file exists, and that the file should support writing per-device weights (the feature was added in kernel v5.4, commit 795fe54c2a8). Alas, you don't say what kernel are you using.

It's the kernel that returns EOPNOTSUPP error.

Here's a repro without runc:
[code]

Alas,

[code]

[2022-08-04 00:26] kolyshkin commented on #3529
I think this happens because:
[code]

As you can see, current scheduler is `none`.

Indeed,

[code]

Currently, we do not have a way to set a per-device IO scheduler. If required, this should be added into runtime-spec.

[2022-08-04 00:26] #3529 closed

[2022-08-04 08:12] fmoessbauer opened #3547 "Add check for CONFIG_CGROUP_BPF in check-config.sh"
The kernel config option `CONFIG_CGROUP_BPF=y` is required to be able to inject the BPF program of type `BPF_PROG_TYPE_CGROUP_DEVICE`.

If this option is not set, no containers can be started with `runc` (BTW: the same holds for `crun`).

Currently, the `check-config.sh` script does not test for this option, leading to all-green results for kernels where runc fails to start a container.

[2022-08-04 10:46] chuanchang opened #3548 "How to build a hello-world-${multi-arch}.tar to support runc integration tests on multi-arch environment."
The runc integration tests will be failed on multi-arch environment, because there is no available hello-world-${multi-arch}.tar for ppc64le or s390x or aarch64 platform. BTW, I gave a try to use https://hub.docker.com/r/ppc64le/hello-world/ instead, but it doesn't work.

It will be great if there is available hello-world-s390x.tar,  hello-world-ppc64le.tar and  hello-world-aarch64.tar for runc in

[2022-08-04 14:29] tianon commented on #3548
As of https://github.com/opencontainers/runc/commit/66bf3718b4829490b433e25b7be6e92d60121a15, the hello world image bundles no longer exist, so you'll want/need to update the case statement in the file you linked to download an appropriate copy of busybox instead.

[2022-08-04 19:11] wpross opened #3550 "Intel RDT does not work with L2 cache"
I have a host with CAT support for L2 cache. I've created two classes in `/sys/fs/resctrl`, `c0` and `c1`:

[code]

I've now created a basic example following the description in Section [Creating an OCI Bundle](https://github.com/opencontainers/runc#creating-an-oci-bundle), created the spec with `runc spec` and just added

[code]

to the `linux` section, then started the container with `sudo runc

[2022-08-05 08:56] Azertooth opened #3551 "OCI runtime exec failed: exec failed: unable to start container process: open /dev/pts/0: operation not permitted: unknown"
As title, this error is generated by a breaking bug [found](https://github.com/containerd/containerd/issues/7219) on runc version 1.1.3

[2022-08-05 10:31] chuanchang commented on #3548
Thanks a lot! it works for me.

[2022-08-05 10:31] #3548 closed

[2022-08-05 14:37] cdoern commented on #2091
ping on this one @kolyshkin -- currently running into this in podman as well

[2022-08-08 05:29] zhlhahaha commented on #3271
Any update on this Issue?

[2022-08-08 15:32] wpross commented on #3550
I've run the test with the latest release 1.1. 3 in my above test. When I've started debugging the issue and thus compiled from source, it suddenly worked. I guess that one of the following commits solved the issue:

[code]

Thanks @corhere !

[2022-08-08 21:15] kolyshkin commented on #3540
Similar but a different test:

[code]

[2022-08-10 19:03] kolyshkin commented on #3551
I wonder if this is related to https://github.com/opencontainers/runc/pull/3504?

[2022-08-11 00:13] kolyshkin commented on #3551
OK, looks like it is.

I've added the following debug patch to the tip of `release-1.1` branch:

[code]

and got the following output (from one of the tests -- doesn't matter):
[code]

So, what happens, I guess, is:
1. With  #3504 in place, we are not longer adding `char-pts rwm` rule to the container's `DeviceAllow` systemd unit property.
2. The fact that the rule is excluded doesn't matter, sinc

[2022-08-11 01:50] kolyshkin commented on #3547
@fmoessbauer thanks for reporting, feel free to open a PR!

[2022-08-11 01:55] kolyshkin commented on #3551
Trying to make a test for this in https://github.com/opencontainers/runc/pull/3555, alas it's not failing.

[2022-08-15 21:09] cpuguy83 commented on #3453
@fuweid Did you have a branch with this work?

[2022-08-17 13:16] Wall1e opened #3560 "How do I make the cgroup path of a container not under /sys/fs/cgroup/xxx"

[2022-08-17 13:52] samskiter commented on #133
Is this still an issue? I see a lot of commits above that mention fixing this issue

[2022-08-17 14:47] fuweid commented on #3453
Sorry for late reply. I was distracted to handle other things. Sorry for that.
I will file pr soon. If you already have one, please feel free to open it. Thanks.

[2022-08-18 22:03] #3551 closed

[2022-08-22 07:13] dharmicksai commented on #3547
Hello,
I would like to take up this issue
is it okay if I create the pr?

[2022-08-22 08:00] fmoessbauer commented on #3547
Sure. Thanks for taking over.

[2022-08-23 07:55] yangfeiyu20102011 opened #3567 "cgroup/systemd func systemdProperties sets wrong char entry.Path"
[code]
This may set wrong char entry.Path when comes with NVIDIA devices, and it will set
`DeviceAllow=/dev/char/195:0 rw` in systemd DeviceAllow.conf. It will not work.

[2022-08-23 07:58] yangfeiyu20102011 commented on #3567
https://github.com/opencontainers/runc/pull/3568 will fix it.

[2022-08-23 08:00] yangfeiyu20102011 commented on #3567
@kolyshkin PTAL, thanks!

[2022-08-23 09:31] keloyang opened #3569 "PageSize missing from HugetlbStats"
Hugepage may have different sizes，e.g. 2MB,1GB, the data carried by HugetlbStats is insufficient to provide the real hugepage information. HugetlbStats defined in https://github.com/opencontainers/runc/blob/main/libcontainer/cgroups/stats.go#L138, and PageSize is missing from HugetlbStats. on the other hand, https://github.com/containerd/cgroups/blob/main/stats/v1/metrics.proto#L23 has cantain pag

[2022-08-24 10:53] zhanglianx111 opened #3570 "runc binary maked is larger than release, why?"
I get binary using to make runc for version v1.1.3. Its size 14530792, but 9423264 for release

[2022-08-24 11:56] AkihiroSuda commented on #3570
Did you use the release script?
https://github.com/opencontainers/runc/blob/v1.1.3/script/release_build.sh

[2022-08-24 11:59] utam0k commented on #3388
@kolyshkin @AkihiroSuda Sorry for the delayed reply. I looked into `gvisor.dev/gvisor/pkg/seccomp` a little. I found some problems with using instead of libeseccomp-golang
- Doesn't support seccomp notify
- Only little endian systems are supported

WDYT? How can I process this issue?

[2022-08-24 12:09] AkihiroSuda commented on #3388
@utam0k

Thank you for taking a look at this.
I think it is ok to fork the repo for implementing the missing features.
Forking seems also almost necessary to get rid of the meta dependencies on `gvisor.dev/gvisor/pkg/*`: https://github.com/opencontainers/runc/issues/3388#issuecomment-1047392611

[2022-08-25 01:02] utam0k commented on #3509
Is it possible to get the current memory usage from `memory.current` and if it is lower than that, not update it and return an error? This may be too much help as OCI runtime...?

[2022-08-25 05:51] chuanchang opened #3572 "vendor/github.com/cilium/ebpf/marshalers.go:102:10: undefined: unsafe.Slice"
[code]

NOTE: is the go 1.18 necessary to compile runc on Fedora 35? thanks!

[2022-08-25 18:16] AkihiroSuda commented on #3572
Yes, because Go < 1.18 has reached EOL and no longer receives security updates.

[2022-08-25 18:16] #3572 closed

[2022-08-27 08:00] kamizjw opened #3575 "Exec cli execSetns func receive pid but findProcess failed"
When I execute the runc exec command, I receive the pid information, but it finally fails to find the corresponding process by pid. because if it fails somewhere else inside the execSetns function there will be an error log, but it doesn't.it can only error in os.FindProcess.The error log is as follows：
![截图](https://user-images.githubusercontent.com/112141162/187021005-fae65b26-58f3-4495-8db1-d7a

[2022-08-27 10:05] kamizjw opened #3576 "Why do we produce some gotest code to test runc cli, the bats script is more complicated to use"

[2022-08-28 12:36] gosoon opened #3577 "runc checkpoint: destroy container error"
I create a runc container `mycontainerid` with README [using-runc](https://github.com/gosoon/runc#using-runc) section.But exec `runc checkpoint mycontainerid` cmd failed with error when container is running or paused.As shown below：

[code]

[2022-08-29 17:53] kolyshkin commented on #3576
Can you please elaborate?

[2022-08-29 17:55] kolyshkin commented on #3569
I don't understand what the issue is. The page size is provided by the key to the map:

https://github.com/opencontainers/runc/blob/4a51b047036cf16d4f124548c2a7ff24b5640bad/libcontainer/cgroups/stats.go#L164-L165

[2022-08-29 18:06] kolyshkin commented on #3577
So, for some reason, container checkpoint failed. It can happen, and in general this is not a bug per se.

Are you saying that the issue here is leaving the container in a paused state after a failed checkpointing?

[2022-08-30 03:24] gosoon commented on #3577
I'm sorry, I may not have described it clearly.

The above are two cases that execute `runc checkpoint mycontainerid ` failed.

When container is `paused` or `running` status, execute  `runc checkpoint `  and the container need be destroy by default,not use `--leave-running` or `--pre-dump` flag.But it actually fails in the destroy container stage,the error message is `container still running` whe

[2022-08-31 02:36] kolyshkin commented on #3540
Happened again (https://cirrus-ci.com/task/4792862578573312):
[code]

[2022-08-31 02:39] kolyshkin opened #3582 "seccomp flag handling is broken"
Looking at the runc seccomp code, it seems that our flag handling (added by #3390) is broken.

This happens because since #2750 runc no longer uses libseccomp-golang's `filter.Load()`, but rather implements its own loader.

This means, that whatever flags we set using libseccomp-golang's `filter.SetXXX()` are not being used.

Instead, `patchebpf.filterFlags` is used to query flags from the filter

[2022-08-31 09:44] kamizjw commented on #3576
I use runc in linux, and I don't know how to run bats. The go language itself supports test case writing, why not write some test cases directly to call the container lifecycle command interface to complete the runc command test coverage。
like if i want to test the runc runc command，i will write
 TestRunFun（）{
...
exec.command("runc", "run", "-b /tmp/mycontainer", "nginx")
}
maybe exec.command int

[2022-09-01 02:47] Seyofficial opened #3583 "Cryto.go"

[2022-09-01 02:54] Seyofficial opened #3584 "lssues"
My Name : Lim Pisey
Birthday : Day 03/ Setp 09/1990
Mele  32 Year old / Single !
City of  birth : Sihanuk City of Cambodia    Country Live in Cambodia
identify card :  130175130
Day :  14/07/2015
Ex    :  13/07/2025
Address : Song kath Khanmit Tipheab Press Sihanuk Street' Independence N°1
Contact number :
Phone Number : +85577922321
Gmail: officialsey03@gmail.com

[2022-09-01 07:18] #3584 closed

[2022-09-01 07:19] #3583 closed

[2022-09-02 04:02] atmecs123 opened #3587 "[Podman] ERRO[0004] Failed to start transient timer unit: Unit f6cfd6ea082535d93ea8063060bb5261d73f1cf66fb22d1b6403b9070b7b001c.timer already exists. f6cfd6ea082535d93ea8063060bb5261d73f1cf66fb22d1b6403b9070b7b001"
**Description**

[code]

Describe the results you expected:
**Podman container must be restart successfully.**

Output of podman version:

[code]
Output of podman info:

[code]
Package info (e.g. output of rpm -q podman or apt list podman):

[root@ci-5250vm029 ~]# rpm -q podman
podman-4.1.1-2.module+el8.6.0+15917+093ca6f8.x86_64
[root@ci-5250vm029 ~]#

Additional environment details (AWS, VirtualB

[2022-09-03 02:39] AkihiroSuda commented on #3587
The link doesn’t work for me, but how is this relevant to runc?

[2022-09-03 07:36] atmecs123 commented on #3587
In this redhat ticket it is mentioned that the above issue for timer is already fixed in runc 1.0.3 and podman 4.0.2 versions. But we are already using runc 1.0.3 and podman 4.1.1 still seeing the above issue while restarting the container.

[2022-09-06 03:16] kamizjw commented on #3509
Is there a similar problem with other configurations other than memory?

[2022-09-06 04:07] sohnaeo opened #3589 "runc path"
If runc is installed under any custom path eg /app/bin/runc , containerd can't find runc and throw the below error

`ctr: failed to create shim: OCI runtime create failed: unable to retrieve OCI runtime error (open /run/containerd/io.containerd.runtime.v2.task/default/cont1/log.json: no such file or directory): exec: "runc": executable file not found in $PATH: <nil>: unknown`

I cant find anything

[2022-09-06 07:09] kamizjw commented on #3499
try add --net host when executing runc run command，expect your execution result

[2022-09-06 07:09] kamizjw commented on #3499
try add **--net host** when executing runc run command，expect your execution result

[2022-09-06 07:46] kamizjw commented on #3434
I found that some log printing for libcontainer has been added [in,]( https://gitee.com/src-openeuler/runc) you can refer to its related implementation

[2022-09-06 07:47] kamizjw commented on #3434
I found that some log printing for libcontainer has been added in [,](https://gitee.com/src-openeuler/runc) you can refer to its related implementation

[2022-09-06 07:48] kamizjw commented on #3434
I found that some log printing for libcontainer has been added in https://gitee.com/src-openeuler/runc, you can refer to its related implementation

[2022-09-06 07:55] kamizjw commented on #3417
I think setting slave mode here instead of using bind mode is not wanting to affect the host rootfs

[2022-09-06 12:37] kamizjw opened #3594 "why not increase filesLimit option in cgroup Resources struct?"

[2022-09-06 19:14] rata commented on #3582
cc @alban

[2022-09-06 22:30] thaJeztah commented on #3434
There's also https://github.com/go-logr/logr, which tries to separate interface from implementation

[2022-09-07 01:39] sohnaeo commented on #3589
I believe I found a solution for this, I used the below line in /etc/containerd/config.toml

[plugins."io.containerd.internal.v1.opt"]
path = "/opendata"

By default, containerd looks /usr/bin or /opt/containerd to find the runc command so if runc in different location, containerd need to know about it, no need to provide the "bin" into path. Example ,if runc binary is installed under /opendata/bi

[2022-09-08 10:45] huweihuang opened #3596 "How to solve exec failed by upgrading to 1.1.4 without recreate the pod"
backgroud:
runc 1.1.4
Fix failed exec after systemctl daemon-reload. Due to a regression
in v1.1.3, the DeviceAllow=char-pts rwm rule was no longer added and
was causing an error open /dev/pts/0: operation not permitted: unknown when systemd was reloaded

We can upgrade runc to version 1.1.4 and recreate the pod to solve this problem.
But how to solve an existing pod without re-create the pod. Bec

[2022-09-09 20:39] kolyshkin opened #3597 "use cgroupfd"
New CLONE_INTO_CGROUP feature has made its way into Linux v5.17 (and it's only working with cgroup v2).

Support for cgroupfd in Go has just landed (https://go-review.googlesource.com/c/go/+/417695) and will be available in Go 1.20 (once it's released).

We want to support this to simplify cgroup entering.

[2022-09-09 20:56] kolyshkin commented on #3589
Not sure why you file this to runc, as the process of finding the runc binary is clearly out of scope for runc itself.

In general, `$PATH` is used on UNIX systems (including Linux) as a mechanism to find binaries; the alternative is specifying the absolute path to a binary. All this is in no way specific to finding the runc binary (or containerd, for that matter).

I guess what you can do at most

[2022-09-09 20:56] #3589 closed

[2022-09-09 23:18] kolyshkin commented on #3509
Not that I know of.

[2022-09-09 23:23] kolyshkin commented on #3587
@atmecs123 what made you think this is a runc bug? Do you have a reproducer using the latest runc?

[2022-09-09 23:31] kolyshkin commented on #3587
Looking into runc 1.0.3 release notes (https://github.com/opencontainers/runc/releases/tag/v1.0.3), I don't see anything relevant.

Same for podman 4.0.2.

@atmecs123 again, what made you think this is a runc issue?

Found a similar issue for podman, https://github.com/containers/podman/issues/15691

[2022-09-13 11:55] yudaprama opened #3601 "runc create failed: unable to create new parent process"
Hello. I got error:

[code]

With full error log:

[code]

This is happen to following container creation:

[code]

This is related to following error print:

- https://github.com/opencontainers/runc/blob/main/create.go#L65
- https://github.com/opencontainers/runc/blob/main/libcontainer/container_linux.go#L320
- https://github.com/opencontainers/runc/blob/main/libcontainer/container_linux.go#L2081

[2022-09-13 11:56] yudaprama commented on #3601
Below is the steps to reproduce, if needed:

[code]

[2022-09-13 23:45] #3582 closed

[2022-09-13 23:45] #2430 closed

[2022-09-14 19:50] kolyshkin commented on #3601
This error means that runc was asked to create a container with IPC namespace path of `/proc/4173144/ns/ipc` (that is, the IPC namespace of PID 4173144), and runc failed to find this file. Most probably it happens because this process is gone. Since this is obviously out of control for runc, I don't think it's a bug in runc.

Unfortunately what you provided as "steps to reproduce" is some sort of

[2022-09-14 19:50] #3601 closed

[2022-09-14 20:04] kolyshkin commented on #3576
Thank you for your explanation.

For one thing, we do have many tests written in Go. Those are unit tests, and tests in libcontainer/integration.

For tests that execute runc we use bats. Surely, the same thing can be achieved by writing tests in Golang, or in C, or in Perl, or in Python (in fact, many crun tests are written in Python). I can't really say why we are using bats, but I don't see why

[2022-09-14 20:06] kolyshkin commented on #3587
Closing as per last comments.

[2022-09-14 20:06] #3587 closed

[2022-09-15 03:04] iamrahul127 opened #3602 "Error mount through procfd: operation not permitted"
We are getting following error when we are trying to build an image using self hosted linux azure build agent.

`[ado-agent 2/13] RUN apt-get update && apt-get install -y --no-install-recommends apt-transport-https ca-certificates curl gnupg jq git iputils-ping libcurl4 libunwind8 netcat libcap2-bin vim uidmap gss-ntlmssp libunwind8 openssl software-properties-common wget`
**`#0 0.122 container_li

[2022-09-15 08:16] iamrahul127 commented on #3602
We tried with _privileged_ securityContext and error disappeared. We were running as user 1000 earlier. Are we doing something wrong? Shouldn't it run with less previleged user?

[2022-09-16 08:37] agners opened #3604 "Race condition when updating CGroupsV2 device rules"
We run into a race condition when trying to update two CGroupsV2 device rules in quick succession. This is the log from the instance which seems to be on the loosing end:

[code]

It seems there is no protection currently in `runc` to avoid race conditions when adding and removing the BPF filter programs? Is the expectation to have the higher level to implement a mutual exclusion to make sure `run

[2022-09-17 22:51] cyphar commented on #3576
bats tests mean that we have proper e2e tests of the CLI (which is what everyone else uses), and in principle you end up with scripts that also act as examples. Writing scripts in other programming languages is much more annoying (no matter what wrappers you write to make it "nicer") than in sh/bash -- that's what it was designed for.

`make test`? In most cases `bats` just works, but for runc's t

[2022-09-18 10:23] eclipseo commented on #2076
It works now, thanks for taking care of it.

[2022-09-19 02:41] kamizjw commented on #3576
ok,I see what you mean, I will try to write some CLI test commands with go test privately, if it works, I will make a PR

[2022-09-19 02:41] #3576 closed

[2022-09-19 04:54] #3602 closed

[2022-09-21 18:45] kolyshkin commented on #3604
Can you post a repro here?

[2022-09-26 09:54] godsarmy opened #3612 "outdated and inacurrate comment"
i start a container with only pid namespace and i find when runc is killed, subprocesses are not always waited unless --no-subreaper is applied,

Therefore the comment of https://github.com/opencontainers/runc/blob/main/libcontainer/init_linux.go#L525 is outdated and inaccurate. If you agree, i can submit a PR to correct the comment.

[2022-09-28 07:29] iholder-redhat opened #3616 "Support getting TIDs (thread IDs) on thread mode"
Currently the [Manager interface](https://github.com/opencontainers/runc/blob/main/libcontainer/cgroups/cgroups.go#L22) supports only `GetPids()` and `GetAllPids()` methods, and there is not support for getting the TIDs of threads when running on threaded mode. This is important since for anyone that is using thread mode, `GetPids()` and `GetAllPids()` are useless.

Implementation-wise this should

[2022-09-28 07:47] iholder-redhat opened #3617 "Support adding a TID (thread IDs) to cgroup in thread mode"
Currently the [Manager interface](https://github.com/opencontainers/runc/blob/main/libcontainer/cgroups/cgroups.go#L22) supports only adding a process by calling `Apply(pid int)`, but there's no support for adding a thread on thread mode.

Perhaps the current method can be utilized to either add a process or a thread, depending on the cgroup's mode.

[2022-10-04 08:53] M1cha opened #3625 "`/dev/std*` don't work with podmans `--userns=auto`"
crun had the [same bug](https://github.com/containers/crun/issues/1019) and it's about to be fixed.
I'm not using runc personally but a quick test showed that it's affected too:
[code]

[2022-10-07 12:04] utam0k opened #3629 "reject sysctl kernel.domainname when OCI knob domainname is set"
xref https://github.com/containers/crun/pull/1017
follow up https://github.com/opencontainers/runc/pull/3600

[2022-10-07 16:06] #3547 closed

[2022-10-12 23:27] nravic opened #3633 "way to attach/interact with a running container?"
Hello,

I was wondering if there's a way to attach to an already running container spawned by a tool like Podman or Docker. Something like:

`docker run example-container`, and then using `libcontainer` be able to get access to `example-container` (to look at state, checkpoint/restore or run a process).

[2022-10-18 08:07] smileusd opened #3637 "systemd cgroup lost on node reboot for systemd cgroup hybird node"
I see the https://github.com/openshift/origin/issues/16246 has fixed but i still met this issue on runc 1.1.2.
The relative issue see here:
https://github.com/containerd/containerd/issues/7506

[2022-10-18 13:31] IlyaHanov opened #3638 "IMA Namespace support"
The Linux kernel community is now working on supporting [IMA namespaces](https://lore.kernel.org/linux-integrity/20220302134703.1273041-1-stefanb@linux.ibm.com/T/)
and it is almost done. It is a new kernel feature that allows isolation of  Platform Configuration Register (PCR) values, Measurement Logs (ML), etc.

Signed-off-by: Ilya Hanov   <ilya.hanov@huawei-partners.com>

Advanced Software Techn

[2022-10-21 12:57] mdecandia81 opened #3641 "runc create hangup reproduced with specific kernel patch"
Hi all,
I'm facing an hangup of runc  command during startup of containers after patching updated linux kernel 5.4.210 with this as latest patch (without this patch, problem does not occur):

https://git.kernel.org/pub/scm/linux/kernel/git/stable/linux.git/commit/fs/eventpoll.c?h=v5.4.219&id=cf2db24ec4b8e9d399005ececd6f6336916ab6fc

During hangup, into /var/lib/containerd/io.containerd.runtime.v2.

[2022-10-24 06:26] zenbo22 opened #3643 "ParseKeyValue requires a formatting first."
Hello,
I encountered a little problem while using runc with OpenHarmony OS.
The OpenHarmony OS modified the data in the memory.stat file a little bit and the data format of the last four data was formatted to a non-key_value format.
[code]

So when I use runc, I get an error:
[code]

The main code involved is the ParseKeyValue function in runc/libcontainer/cgroups/fscommon/utils.go. This function

[2022-10-24 15:34] AkihiroSuda commented on #3641
Could you report the issue to the kernel upstream?

[2022-10-25 11:36] exander77 opened #3647 "Fail to check failure or success of adding a cgroup controller"
See: https://github.com/opencontainers/runc/blob/main/libcontainer/cgroups/fs2/create.go

[code]
The comment says that it will be caught elsewhere, but it actually isn't, and it is causing weird and unhelpful error message when starting Kubernetes:
[code]

[2022-11-02 20:02] kolyshkin commented on #3540
Happened again, this time on CentOS Stream 8 (https://cirrus-ci.com/task/4931391389958144)

[code]

[2022-11-03 00:24] pshirshov opened #3653 "Runc fails to run in systemd-nspawn container due to unsual cgroups hierarchy"
systemd-nspawn mounts cgroups in unusual manner, the only writeable part of the cgroupfs is buried deep in the hierarchy:

[code]

So, runc tries to use a wrong path and fails to run a container:

[code]

Probably nspawn containers should be automatically detected and the paths should be fixed accordingly.

More details here: https://github.com/moby/moby/issues/44402

But probably this is a runc i

[2022-11-07 01:40] h-vetinari commented on #3638
Link to the most recent [v14](https://lore.kernel.org/lkml/20220915193221.1728029-1-stefanb@linux.ibm.com/) (almost 2 months ago); still not in mainline

[2022-11-07 06:49] IlyaHanov commented on #3638
AFAIK, this is the last version, IMA namespaces are being ready for testing, so it will be in mainline, may be not now, but it will. The goal of this patchset is to discuss the architecture of _runC_ to understand the pros and cons in advance, because IMA-ns has different interface for creating namespaces and _runC_ is not aware of such ns types (of course, this is the first time, when the Linux K

[2022-11-08 01:42] AkihiroSuda commented on #3127
Dependabot is now disabled for forks by default
https://github.blog/changelog/2022-11-07-dependabot-pull-requests-off-by-default-for-forks/

Configurable in https://github.com/USERNAME/runc/network/updates

[2022-11-08 01:42] #3127 closed

[2022-11-08 08:21] crazy-max commented on #3127
@AkihiroSuda I think it's configurable through `https://github.com/USERNAME/runc/settings/security_analysis`:

![image](https://user-images.githubusercontent.com/1951866/200511887-b37aab0b-9516-46d0-ae61-e14e393629cf.png)

[2022-11-09 11:20] JasperJuergensen opened #3659 "Store init state failure error message is using wrong variable"
https://github.com/opencontainers/runc/blob/main/libcontainer/process_linux.go#L551

The error message uses the `err` variable, but the error is stored in `uerr`. If an error occurs while updating the state, the resulting error message is not helpful:

`runc create failed: unable to start container process: error during container init: unable to store init state: %!w(<nil>)`

[2022-11-09 18:59] kolyshkin commented on #3659
Yes this is obviously a bug, feel free to open a PR.

[2022-11-13 18:45] vipulnewaskar7 commented on #3659
Hi @kolyshkin
PR has been raised here
will you please review it?
https://github.com/opencontainers/runc/pull/3662

[2022-11-14 03:37] b675987273 opened #3663 "Runc init disk sleep but cgroup stat is thraw, and runc exec hang"
the init process stack, well it is differen between the #27xx issue because the cgroup stat is thraw.Then I do not konw how analyz next. Any tool or method i need to know in addition?
[code]
the runc version
[code]
the runc exec cmdline
[code]
here is the runc exe's strack
[code]

[2022-11-14 14:46] calvin2021y opened #3665 "show uptime since container start"
is there a way to change the container inside update return the container runtime , not the kernel uptime ?

[2022-11-15 08:28] Dentrax opened #3666 "Add validations `user.max_user_namespaces` and `kernel.pid_max` for rootless containers"
Rootless containers need to create namespace in user space as the [README](https://github.com/opencontainers/runc/blob/f264cf91fa7c6ed1fcc639dcb3b59ebe07cea68a/README.md?plain=1#L256-L262) already mentions. If one of,

* `user.max_user_namespaces`
* `kernel.pid_max`

is zero, you end up with the following error:

[code]

The [error](https://github.com/opencontainers/runc/blob/v1.0.0-rc93/libcontai

[2022-11-16 14:48] clcc2019 opened #3668 "ms_dispatch fn_monstore process error"
kernel:
Linux ecs-c5b9-0002 4.19.90-2003.4.0.0036.oe1.x86_64 #1 SMP Mon Mar 23 19:10:41 UTC 2020 x86_64 x86_64 x86_64 GNU/Linux

os:
NAME="openEuler"
VERSION="20.03 (LTS)"
ID="openEuler"
VERSION_ID="20.03"
PRETTY_NAME="openEuler 20.03 (LTS)"
ANSI_COLOR="0;31"

other:

https://github.com/rook/rook/issues/10110

[2022-11-16 15:10] clcc2019 commented on #3668
runc version 1.1.4
commit: v1.1.4-0-g5fd4c4d1
spec: 1.0.2-dev
go: go1.17.10
libseccomp: 2.5.4

[2022-11-18 00:47] AkihiroSuda commented on #3668
What's this?

[2022-11-20 04:42] #3668 closed

[2022-11-22 18:21] tzneal commented on #3641
See also https://github.com/prometheus/node_exporter/issues/2500

[2022-11-22 23:40] #3577 closed

[2022-11-24 02:11] kolyshkin commented on #3641
The kernel commit in question (a16ceb13961068f7209e34d7984f8e42d2c06159) only appeared in kernel 6.0 (since -rc1), but the commit was also backported to all 5.x stable kernels (5.4, 5.10, 5.15), so I guess we'll see more of it.

Note also that Amazon Linux has reverted this commit in their kernels (see https://github.com/amazonlinux/linux/commit/e30a8cb3626b0d59a3bd251d491f010008c3eeab).

The issu

[2022-11-24 04:30] mdecandia81 commented on #3641
Hi all,
the issue was reported to kernel mailing list:

https://lore.kernel.org/all/20221026160051.5340-1-mdecandia@gmail.com/

and seems there is a patch that fixes it

https://lore.kernel.org/lkml/20221124001123.3248571-1-risbhat@amazon.com/T/#t

I will test it on my scenario and give you feedback.

[2022-11-24 13:52] panli889 opened #3671 "Nvidia GPU devices in systemd will be ignored after 1.1.3"
I found a PR https://github.com/opencontainers/runc/pull/3504/files in 1.13, in which it will ignore the devices can't be `os.Stat`. However, Nvidia GPU is that kind of device, though I do not know why.

After the version, If we use the command like this: 'docker run --device /dev/nvidia0:/dev/nvidia0', the DeviceAllow list systemd received from runc will be different from the list runc operates.

[2022-11-24 23:31] bobbypage commented on #3641
We are also seeing hangs and are investigating if the kernel commit mentioned above is the culprit.

I am also able to reproduce the https://github.com/prometheus/node_exporter/issues/2500#issuecomment-1304847221 repro on `5.4.217` based kernel.

I am still trying to understand the relationship between the repro program posted in https://github.com/prometheus/node_exporter/issues/2500#issuecomment

[2022-11-24 23:33] tzneal commented on #3641
To reproduce a hang in runc, just launch lots of short lived jobs. Eventually you'll notice a node go not ready due to a runc init process hanging.  The symptom is the same, runc is hung on an epoll_wait call and if you strace it, the hang resolves itself.

[2022-11-24 23:36] bobbypage commented on #3641
Thanks, will try to repro, I was seeing hangs when pods are terminated, rather than created, but it sounds similar. Are you using containerd (what version if so and what version of runc?)

It would be great to bit a more details on the exact repro configuration so we can all verify independently if the kernel patch proposed will fix the issues we are all seeing.

[2022-11-25 03:47] AkihiroSuda commented on #3671
@cyphar PTAL

[2022-11-27 21:28] gramakri commented on #3641
We this issue in Cloudron (through docker) and a big chunk of our users are hitting this - https://forum.cloudron.io/topic/8032/apps-stuck-updating-cleaning-up-old-install-even-after-stopping-restarting-task

This issue manifests itself like this (`ps auxf` output):

[code]

Unfortunately, this kernel patch is including as part of Ubuntu 20.04's security update. So, I suspect a lot of docker users

[2022-11-28 06:40] panli889 commented on #3671
@cyphar Hi, any progress?

[2022-11-29 15:51] maleadt opened #3672 "EPERM mounting sysfs with rootless/userns container"
I'm trying out `runc` to get a simple unpriviliged containerized execution, but am having issues mounting `sysfs`:

[code]

[code]

Meanwhile, `crun` manages fine:

[code]

<details>
  <summary>Full config</summary>

[code]
</details>

Binding `sys` instead works around the issue:

[code]

[2022-11-30 01:27] kolyshkin commented on #3672
I barely remember this depends on the kernel version, so some kernels (mistakenly) denied this mount.

Two possible solutions are:
1. Upgrade the kernel
2. Do not use rootless+userns+sysfs (lack of /sys might be OK for some containers).

I am not sure what are the implications of bind-mounting host `/sys`, and so I would not recommend doing that (without doing some security analysis first, that is

[2022-11-30 01:29] kolyshkin commented on #3672
Now,
1. This is not a runc bug (but rather a kernel bug)
2. There's nothing runc can do about this (there's no easy workaround, and bind-mounting /sys is questionable)

Based on these two points, I am closing this as not-a-bug.

Let me know if you feel different.

[2022-11-30 06:40] maleadt commented on #3672
But `crun` manages fine? I'm unfamiliar with the exact logic taking care of mounting sysfs, but this seems to indicate that there is a way to deal with this from the runtime's side.

[2022-11-30 07:05] maleadt commented on #3672
Also, this reproduces on kernel 6.0.10 (Arch Linux)...

[2022-11-30 10:03] Howie59 opened #3673 "question: does runc support pass metadata to env?"
like this: https://stackoverflow.com/questions/30746888/how-to-know-a-pods-own-ip-address-from-inside-a-container-in-the-pod

how can i pass it to container env?

[2022-11-30 11:29] akitzing opened #3674 "permanent changes in ownership of /dev/null"
I hope I am in the right place here.

Since the update from SLES 15/SP3 to SP4, ownership rights of containers to the /dev/null device are passed to the node.
On newly deployed SP4 systems we could also generate this behavior.
For example, the container user with ID=100 passes its permissions to /dev/null of the host. Then the permissions are given back to root or taken away and on and on.
This pr

[2022-11-30 21:23] kolyshkin commented on #3674
Please post a repro here:
- what you do
- what you actually see
- what do you expect to see