[2019-09-25 19:23] cyphar commented on #2128
CVE-2019-16884 has been assigned for this issue.

[2019-09-26 10:59] chethanmaurian commented on #2066
Similarly,
I do not use systemd cgroup2 mounts. Therefore mount cgroup2 manually.
[code]
According to
https://github.com/opencontainers/runc/blob/3e425f80a8c931f88e6d94a8c831b9d5aa481657/libcontainer/cgroups/utils.go#L88

`fields[9]` should be `cgroup2`, but due to my manual mount
`fields[9]` = rw Changing `fields[8]` works fine.
While `fields[9]` works in ubuntu due to additional field in `mounti

[2019-09-26 14:50] cyphar commented on #2128
@leoluk Yeah, because they both use the `/proc/self/attr/...` for setting labels. However, you would still be (at least slightly) constrained by `container_runtime_t` because on SELinux systems the runtime itself is also constrained by a profile.

[2019-09-26 22:26] leoluk commented on #2128
As pointed out by @bennofs in #2129, mounting to `/` has the same result:

[code]
`sleep` runs unconfined:

[code]

[2019-09-27 00:48] cyphar commented on #2128
The problem is that some workloads depend on mounting things to `/` -- so we can't just block it wholesale. It looks like we'll need to move when we do label setting.

[2019-09-27 01:42] cyphar commented on #2128
Alternatively we could check whether the file we're opening during labeling is actually on `procfs` and if it isn't we bail. This could be bypassed (by bind-mounting a random other file) but you can't really do that using `VOLUME` (you'd need to create a bad `config.json` manually -- and there isn't much we can do to protect against those).

[2019-09-27 01:54] cyphar commented on #2128
I reckon this should fix the problem:

[code]

Along with this change for go-selinux:

[code]

[2019-09-27 02:03] cyphar commented on #2128
There, I've sent PRs that use the (race-free) fstype check. This doesn't preclude us from moving when we set labels (though that has its own downsides).

[2019-09-27 06:11] rhatdan commented on #2128
FYI, this does not seem to effect SELinux.

cat selinux.sh
touch rootfs/proc/self/{status,attr/exec}
touch rootfs/proc/self/fd/{4,5}

[code]

[code]

[2019-09-27 11:18] skilxn-go opened #2131 "Runc shouldn't expect only 4 fileds in cpuacct.stat"
In some kernel, cpuacct.stat is expand with some other useful fields. In this case, runc can't work correctly due to it limited this file to have only 4 fileds.

[2019-09-27 11:32] skilxnTL commented on #2131
For k8s，it will lead imagegc's failed, and someother errors

[2019-09-27 13:59] rhatdan commented on #2128
Actually I was mistaken.  I was testing with crun not runc.  runc does not work on F31 right now, so no easy way to fix.

[2019-09-27 15:54] leoluk commented on #2128
@rhatdan Looks like podman just ignores the volume so this might be why?

[2019-09-27 17:19] leoluk commented on #2128
I can reproduce the SELinux bypass using Docker CE 19.03.2 with runc at 84373aaa56  (same reproducer as above, plus `--selinux-enabled` in docker.service):

[code]

[2019-09-27 17:33] cyphar commented on #2128
@leoluk If you apply the two PRs I've posted, can you still reproduce it?

[2019-09-27 17:54] leoluk commented on #2128
I reviewed the PRs, fix looks solid. Of course, not being in attacker-controlled territory would be best, on the other hand, a sane PaaS would not let untrusted users specify bind/procfs mounts.

With https://github.com/opencontainers/selinux/pull/59 applied to the vendored version in runc master and built using `make BUILDTAGS='seccomp selinux'`, I can't reproduce the issue anymore and it fails w

[2019-09-27 18:28] leoluk commented on #2128
Actually, I can think of one more thing to fix - `finalizeNamespace` -> `utils.CloseExecFrom` looks at `/proc/self/fd` to determine which fds to close:

https://github.com/opencontainers/runc/blob/84373aaa560b3f14cfda210b2f34ca14fd4b1fce/libcontainer/utils/utils_unix.go#L13-L17

This can also be bypassed using `VOLUME /` and leaks fd 4 to the container:

[code]

I wrote a quick stap script to audi

[2019-09-27 18:31] cyphar commented on #2128
Yes we can do a `statfs` check there too. I'll update #2130. Though it should be noted that we no longer have any file descriptors to leak into the container that are super useful for attackers -- I fixed that as part of the patch for CVE-2016-9962.

[2019-09-27 18:42] cyphar commented on #2128
I just remembered why we can't do this for AppArmor. There is kernel limitation that the only process which can change the AppArmor label for a given process is itself -- you cannot change the label for any other process (even as root).

[2019-09-28 17:33] leoluk commented on #2128
I think this is the bug in question: https://bugs.launchpad.net/ubuntu/+source/lxc/+bug/1639345

They were passing a fd to

[2019-09-28 18:49] cyphar commented on #2128
The problem is that most users of `runc` don't use user namespaces. Yes, there are (many) protections against attacking an attaching process to a user namespace (in fact these days userns privilege checks for `ptrace_may_access` are done specifically to protect attaching container runtimes).

But if you don't use user namespaces you're in some amount of trouble even without `CAP_SYS_PTRACE`. Yes,

[2019-09-28 20:01] leoluk commented on #2128
Great explanation! Sure, as soon as you get a dir fd from the host mount namespace, it's over. But couldn't we open the file itself before pivoting, then write to it and close it after? Anything you can do to a filefd besides writing to it that I'm missing?

[2019-09-28 20:14] cyphar commented on #2128
This is what I was referring to with "`O_PATH` re-opening" -- you definitely could do that (and we already do this for the whole create+start workflow of `runc`). But it would require some pretty big changes to `go-selinux` so that it takes a file handle for all the possible `/proc` paths (not to mention that we'd need to open every file inside `/proc/$pid/attr` and not get them mixed up otherwise

[2019-10-05 11:41] cyphar commented on #2128
This has been fixed and is now in the `rc9` release.

[2019-10-05 11:41] #2128 closed

[2019-10-05 11:42] cyphar commented on #2131
#2132 is merged.

[2019-10-05 11:42] #2131 closed

[2019-10-05 21:31] cyphar commented on #2083
Yeah, this is how our tests are written -- maybe it would be nice to make it neater, but none of us really have time to fix it up. If you would like to, feel free to send a patch.

[2019-10-05 21:31] #2083 closed

[2019-10-05 21:32] cyphar commented on #1906
@tnguyen14 Yes (sorry I didn't see your question earlier).

[2019-10-08 07:15] Aisuko commented on #2039
I hit the same issue with you guys. I'm not sure what' happens. The machine is my Kubernetes worker node. The node with `Red Hat Enterprise Linux Server 7.5 (Maipo)   3.10.0-1062.el7.x86_64       docker://19.3.2`. And this issue can lets `PLEG` and `kubelet` stop work.

[2019-10-08 07:24] johnnylei opened #2137 "Compilation fails on ubuntu 14.04"
$ make
[code]
go version: go version go1.7.1 linux/amd64
os: ubuntu 14.04
kernel: 4.4.0-142-generic

[2019-10-08 07:29] cyphar commented on #2137
You need to have a fairly recent version of `libseccomp` (also your Go compiler is **ancient**).

[2019-10-08 07:36] johnnylei commented on #2137
liseccomp version: libseccomp-2.4.1;
which release should i use for my environment?

[2019-10-08 07:46] cyphar commented on #2137
Oh, that's strange (that's the latest version of libseccomp) -- I wonder if it's because of the Go compiler version (making it not handle `pkg-config` correctly). Can you try with a newer Go compiler (you can download a static version from https://golang.org/).

[2019-10-08 09:00] johnnylei commented on #2137
go version: go version go1.12.10 linux/amd64
$ make
[code]

[2019-10-08 21:18] rst0git commented on #2137
@johnnylei what is your gcc version (https://github.com/moby/moby/pull/23057#discussion_r65102597)?

[2019-10-09 14:10] nnvema commented on #1326
I face the same problem running on kops -1.11.7

Liveness probe failed: rpc error: code = 2 desc = oci runtime error: exec failed: container_linux.go:247: starting container process caused "process_linux.go:87: adding pid 27268 to cgroups caused \"failed to write 27268 to cgroup.procs: write /sys/fs/cgroup/cpu,cpuacct/kubepods/burstable/pod612392f6-a439-11e9-9830-0e60496b67de/958ab969a162d91c9e58c

[2019-10-10 22:28] RedbackThomson opened #2138 "Manually Patching containerd and runc"
Hello.

I have been tracking the latest CVE-2019-16884 release for our own docker-ce installation. While I see that docker has back-ported 19.03 to use containerd 1.2.10 (which in turn uses runc 1.0.0-rc8+3e425f8...), they have not updated their Debian repositories since containerd 1.2.6. I have been trying to alert Docker about these missing versions, but have had no response.

In the meantime, I

[2019-10-10 23:35] cyphar commented on #2138
You shouldn't need to update `containerd` at all (the CVE fix is just in `runc`). As for patching `runc` -- you could try to use `1.0.0-rc9` (this should "just work" -- there haven't been too many changes between the versions). However, I have backported the change for the version of `runc` which Docker `19.03.3` uses (and the previous version too) for openSUSE and SUSE -- but that really shouldn'

[2019-10-10 23:42] RedbackThomson commented on #2138
Docker 19.03.3 is currently packaged with runc 1.0.0-rc7 if I remember correctly. Would you believe that upgrading from rc7 to rc9 wouldn't cause issues for containerd 1.12.6?

Any documentation or source you have regarding a back port for the CVE fix would be appreciated, though!

[2019-10-11 01:45] timchenxiaoyu commented on #654
does cgroup v2 support limit page  cache used ???

[2019-10-11 07:32] Werkov commented on #654
@timchenxiaoyu Yes. In the sense that v1 controller limits page cache too.

[2019-10-17 08:10] etcshad0vv opened #2142 "OCI runtime create failed: container_linux.go:345: starting container process caused \"process_linux.go:430: container init caused \\\"process_linux.go:396: setting cgroup config for procHooks process caused \\\\\\\"failed to write 100000 to cpu.cfs_period_us"
Hello,

I am facing below error on my environment, and doesn't seem to be somehow reproducible.

`Oct 16 14:24:19 agnsrlnicp1n10 hyperkube[1421]: E1016 14:24:19.003982    1421 kuberuntime_manager.go:744] container start failed: RunContainerError: failed to start container "a52afb440febae5ffc83430349aa38b801bbf4de331dcd124af4d63695f72b5a": Error response from daemon: OCI runtime create failed: cont

[2019-10-17 09:01] AkihiroSuda opened #2143 "cgroup2: v1.0.0-rc.9 doesn't start up without adding +cpuset to /sys/fs/cgroup/cgroup.subtree_control"
[code]

runc: 1.0.0-rc.9
OS: Fedora 31 beta (cgroup2 unified)

`echo +cpuset > /sys/fs/cgroup/cgroup.subtree_control` solves the issue

[2019-10-17 09:19] AkihiroSuda opened #2144 "cgroup2: eBPF device controller"
https://github.com/AkihiroSuda/runc/commits/ebpf

I'm trying to port over [`libcrun/ebpf.c` from crun v0.10.2](https://github.com/containers/crun/blob/0.10.2/src/libcrun/ebpf.c), which is licensed under LGPL3 (or later) and incompatible with Apache License 2.0

@giuseppe Do you think my code should be treated as a derivative of your C code? If so, any chance to relicense `ebpf.c` and `cgroup.c` as

[2019-10-17 10:44] giuseppe commented on #2144
I am fine to relicense these two files under the Apache License 2.0 license

[2019-10-17 11:09] AkihiroSuda commented on #2144
thanks!

[2019-10-17 12:34] AkihiroSuda commented on #2144
PR: https://github.com/opencontainers/runc/pull/2145

[2019-10-18 22:53] gautamkmr commented on #1720
Thanks @wjiangjay  I hit the same issue too and base encoding helped :)

[2019-10-20 12:07] eduquity opened #2150 "rootfs (/containers/roofs/rootfs) does not exist"
I'm getting error -- rootfs (/containers/roofs/rootfs) does not exist while running following commands

# runc create mycontainerid

[2019-10-20 21:45] zokrezyl commented on #1800
Hi, almost created a new issue for the same thing, luckily found this one.

I think the basic solution is trivial and would cover lot's of use-cases (I will link soon the way I solved it for me).  It involves three (the fourths is already present) additional steps (semi-pseudo-code):
[code]
1000 is the original user's id, that was mapped in the previous step to 0.

I think if that would make it in

[2019-10-21 11:56] jethrogb opened #2151 "seccomp filter should return ENOSYS for unknown syscalls"
Currently, the seccomp filter installed on Linux returns EPERM even for system calls that are unknown. This is [problematic when new system calls are added](https://github.com/rust-lang/rust/issues/65662) by Linux. Programs wishing to use the new system call will try to call it, and will implement a fallback mechanism when ENOSYS is returned (indicating the kernel doesn't support the call). Howeve

[2019-10-22 03:21] impactCn opened #2152 "Why is the last one to create a folder when creating a volume?"
A docker-compose copied from the Internet, if you do not check the volume, it is easy to report an error. But many times, the host only needs an empty file, not a folder.
So, I hope that when the volume is associated, the last path is the file.

[2019-10-22 03:22] #2152 closed

[2019-10-22 09:26] #1792 closed

[2019-10-22 16:12] zokrezyl commented on #1800
Just another note: probably bunch of exploits could have been and could be avoided (like https://seclists.org/oss-sec/2019/q1/119), if better tooling would be provided for unprivileged containers without reinventing the wheel...

[2019-10-22 20:00] AkihiroSuda commented on #654
@cyphar I think this can be closed and now we should create separate issues for remaining tasks

[2019-10-23 14:05] crosbymichael commented on #654
Ok, i'll close this and we will work out of individual issues remaining

[2019-10-23 14:05] #654 closed

[2019-10-23 14:13] crosbymichael commented on #2150
You need to update the `config.json` and make sure that the root.path points to your rootfs that does exist

[2019-10-23 14:13] #2150 closed

[2019-10-25 06:14] Aisuko commented on #1343
I hit this issue on my Kubernetes cluster. The Docker version is v19.3.2
The cluster's events log below:

[code]

[2019-10-25 06:23] Jamlee commented on #654
so, where is the new issue about cgroup ?

[2019-10-25 06:36] AkihiroSuda commented on #654
The major issues are:

* the lack of the support for the v2 device controller (CRITICAL): https://github.com/opencontainers/runc/issues/2144 (PR: https://github.com/opencontainers/runc/pull/2145)
* the lack of `runc ps`: https://github.com/opencontainers/runc/pull/2149
* the lack of CI: https://github.com/opencontainers/runc/issues/2124

I think maintainers should set `cgroup2` labels so that peop

[2019-10-25 20:24] mtayyab01 opened #2153 "sharing glibc and ld /ldconfig with container to run busybox"
On my desktop machine I built busybox docker image and exported its rootfs for runc. runc could successfully start the container.
I exported the rootfs to an embedded platform running Linux Kernel 3.18 (compiled with all of the needed flags). runc could not start container and complained about "no such file and directory" .
After a while, the issue was related to missing libc and ld on container r

[2019-10-26 13:27] AkihiroSuda opened #2155 "cgroup2: IOGroupV2.Name() should return "io" rather than "blkio"?"
The currently implementation of ` IOGroupV2.Name()` returns "blkio"
https://github.com/opencontainers/runc/blob/c4d8e1688c816a8cef632a3b44a38611511b7140/libcontainer/cgroups/fs/io_v2.go#L21

I assume "blkio" was adopted because `/proc/cgroups` shows "blkio" when the IO controller V2 is enabled.
However, it is called "io" in `/sys/fs/cgroup/cgroup.subtree_control`.

So maybe it makes more sense to

[2019-10-26 15:53] AkihiroSuda opened #2156 "cgroup2: GetAllSubsystems() should not refer /proc/cgroups for unified mode"
https://github.com/opencontainers/runc/blob/c4d8e1688c816a8cef632a3b44a38611511b7140/libcontainer/cgroups/utils.go#L267-L291

`GetAllSubsystems()` should parse `/sys/fs/cgroup/cgroup.controllers` rather than `/proc/cgroups`, which is mostly for v1 (#2155

Note that `/sys/fs/cgroup/cgroup.controllers` does not contain freezer and device controller

[2019-10-26 15:58] AkihiroSuda opened #2157 "cgroup2: v2 subsystems should not call WriteCgroupProc()"
https://github.com/opencontainers/runc/blob/c4d8e1688c816a8cef632a3b44a38611511b7140/libcontainer/cgroups/fs/cpu_v2.go#L32-L42

v2 subsystems should not call `WriteCgroupProc()`, because it should be managed by `Manager` rather than each of subsystems for unified mode

https://github.com/opencontainers/runc/pull/2148#issuecomment-545762055

[The `subsystem` interface](https://github.com/opencontai

[2019-10-27 13:12] AkihiroSuda opened #2158 "cgroup2: cannot mount /sys/fs/cgroup when running in UserNS"
As of c4d8e1688c816a8cef632a3b44a38611511b7140, runc cannot mount `/sys/fs/cgroup` when launched in UserNS with cgroup2 unified-mode

[code]

`config.json` contains:
[code]

The same config works with crun v0.10.2.
runc can start up when the `/sys/fs/cgroup` entry is not specified in the config.

[2019-10-27 13:59] AkihiroSuda commented on #2158
It seems `cgroup2` cannot be mounted without unsharing CgroupNS.

crun seems solving this issue by bind-mounting `/sys/fs/cgroup` from the host.

https://github.com/containers/crun/blob/4325a78320852aa5dacb4d403ae01b241413068c/src/libcrun/linux.c#L433-L459

[2019-10-29 02:19] #2155 closed

[2019-10-29 02:19] #2158 closed

[2019-10-29 04:57] AkihiroSuda commented on #2156
Fixed in #2160

[2019-10-29 04:57] #2156 closed

[2019-10-29 13:57] #2143 closed

[2019-10-29 14:14] apparluk opened #2162 "README.md: add repo deps"
hadn't read the entirety of the README.md

mark as irrelevant

closed

[2019-10-29 14:21] AkihiroSuda commented on #654
I wrote a blog about this: https://medium.com/nttlabs/cgroup-v2-596d035be4d7

There is no official milestone, but I think it will almost reach feature-complete when #2144 and #2149 gets merged.

[2019-10-29 15:03] tianon commented on #2162
I'm confused, isn't that the point of the existing `vendor.conf` file?

[2019-10-29 15:16] AkihiroSuda opened #2163 "cgroup2: does not work with rootless podman"
[code]

[code]

Rootful mode seems working without problem (both cgroupfs and systemd).

* runc: d239ca84254c579a964101b4f8049b860fbfc135
* Podman: containers/libpod@a56131fef4a82824b397c94f6b7edcdb24769624
* Host: Ubuntu 19.10, kernel `5.3.0-19-generic #20-Ubuntu` with `systemd.unified_cgroup_hierarchy=1 cgroup_enable=memory swapaccount=1`

[2019-10-29 17:00] AkihiroSuda commented on #2163
[code]

@giuseppe How is this happening?

[2019-10-29 17:21] apparluk commented on #2162
under [Releases](https://github.com/opencontainers/runc#releases) appears a hyperlink to a sibling repository

under [Dependencies Management](https://github.com/opencontainers/runc#dependencies-management) appears a reference to vndr, _i.e._, vendor.conf

the misdirection on my end would perhaps not have been encountered

had **Releases** and **Security** been placed below **License**

you might

[2019-10-29 18:27] apparluk commented on #2162
T. Gravi

owing to my misdirection, you're welcome to close

[2019-10-29 20:55] giuseppe commented on #2163
I think that runc is trying to connect to the systemd system instance.  For rootless, it should connect to the user session.

We had the same issue with Podman but it was easy to retrieve the original UID for the rootless user: https://github.com/containers/libpod/blob/e7540d0406c49b22de245246d16ebc6e1778df37/pkg/cgroups/cgroups.go#L374-L392

but I am not sure how to retrieve the uid while in a na

[2019-10-30 01:38] AkihiroSuda commented on #2163
Why does --cgroup-manager=cgroupfs use systemd?

[2019-10-30 06:10] giuseppe commented on #2163
when running as rootless, if it is not able to create a cgroup using cgroupfs and no limits are set, then it silently ignore errors and use the same cgroups podman was running in.  It is the same behaviour Podman has on a cgroups v1 system where cgroups for rootless mode are not supported at all.

[2019-10-30 09:57] AkihiroSuda commented on #2163
Hmm,

* `podman` executes `crun` in  cgroup `/user.slice/user-1001.slice/user@1001.service/user.slice/podman-11242.scope` via systemd, when systemd is available, regardless to the value of `--cgroup-manager` arg.
* When `--cgroup-manager` is `cgroupfs`, `podman` specifies `/libpod_parent/libpod-d81f9a37b4569d30bfcd08f3339398c1eba21f44ca617f95212559527a969145` as the `.linux.cgroupsPath` in `config

[2019-10-31 05:13] AkihiroSuda opened #2164 "cgroup2: systemd manager uses deprecated options"
https://github.com/opencontainers/runc/blob/e57a774066af2f0adc76ffb6201588091cd872d5/libcontainer/cgroups/systemd/unified_hierarchy.go#L99-L132

According to [`systemd.resource-control(5)`](https://www.freedesktop.org/software/systemd/man/systemd.resource-control.html), `CPUShares`, `MemoryLimit`, and `BlockIOWeight` are deprecated

[2019-10-31 05:14] AkihiroSuda commented on #2164
cc @filbranden

[2019-10-31 05:54] AkihiroSuda commented on #2007
@filbranden
For unified mode, I think we only care really recent version of systemd.
Maybe #1991 can be reopened?

[2019-10-31 08:57] AkihiroSuda commented on #2076
Is this still an issue on master?

[2019-10-31 17:00] AkihiroSuda commented on #2164
I think unified manager can depend on recent version of systemd (v242-v243). RHEL 7 doesn't support unified mode.

[2019-10-31 17:03] filbranden commented on #2164
Yes! Definitely agree with that for "unified" driver.

[2019-10-31 17:10] #2144 closed

[2019-10-31 18:53] rhatdan commented on #2164
RHEL7 will never support cgroups V2, so that makes sense.

[2019-11-01 04:34] AkihiroSuda commented on #654
Rootful mode seems almost feature-complete now.

Rootless still doesn't work for cgroup2: https://github.com/opencontainers/runc/issues/2163

[2019-11-05 00:19] #2162 closed

[2019-11-05 01:11] #2008 closed

[2019-11-05 04:28] AkihiroSuda opened #2166 "cgroup2: cpu.shares is broken"
[`cpu_v2.go` supports libcontainer `CpuWeight`](https://github.com/opencontainers/runc/blob/46def4cc4cb7bae86d8c80cedd43e96708218f0a/libcontainer/cgroups/fs/cpu_v2.go#L45), but there is no code that translates OCI `cpu.shares` to libcontainer `CpuWeight`. So OCI `cpu.shares` is currently just ignored.

The translation rule should follow crun convention: https://github.com/containers/crun/blob/mast

[2019-11-05 09:28] AkihiroSuda opened #2167 "cgroup2: procHooks: failed to load program: operation not permitted"
Moby is getting support for cgroup v2: https://github.com/moby/moby/pull/40174 (https://github.com/moby/moby/tree/ee30a1f5ad7c373bd9db3f0b5412b03082f76786)

But it doesn't work with runc b133feaeeb2e69ba94aa95eac3a455a143435ea9 (works with crun v0.10.4)

[code]

Podman+runc doesn't hit this issue.

[2019-11-06 04:53] AkihiroSuda commented on #2167
@giuseppe Any idea on how this can happen?

[2019-11-06 09:16] AkihiroSuda commented on #2167
caps seems enough 🤔  ([`bpf(2)`](http://man7.org/linux/man-pages/man2/bpf.2.html) says `EPERM` can happen when `CAP_SYS_ADMIN` is missing)

[code]

[2019-11-07 06:01] AkihiroSuda commented on #2167
Hmm, docker+runc works when I start `dockerd` manually on terminal, but fails when it is started via systemd 🤔

[code]

[2019-11-07 06:05] cyphar commented on #2167
@AkihiroSuda Is systemd setting a seccomp filter or AppArmor profile?

[2019-11-07 06:32] AkihiroSuda commented on #2167
I found the issue.

systemd decreases `ulimit -l` from 65536 to 64.

crun doesn't this this because it increases the value by itself
https://github.com/containers/crun/blob/4a46e90445beeb67117dff4999d9bba9994f4233/src/libcrun/ebpf.c#L305-L309

[2019-11-07 06:41] AkihiroSuda commented on #2167
PR https://github.com/opencontainers/runc/pull/2168

[2019-11-08 05:09] AkihiroSuda commented on #2163
cgroupfs is being fixed in https://github.com/opencontainers/runc/pull/2169

[2019-11-09 01:38] EricJeffrey commented on #1712
Apparently, [#2086](https://github.com/opencontainers/runc/pull/2086) has shown the reason:
Cwd is not owned by root.
So chown will do

[2019-11-10 02:12] ibnesayeed commented on #1773
If pin-pointing a specific reason is difficult, but possible reasons are finite, an error message can perhaps list them all to allow the user to figure out which of the listed reasons can potentially be causing the failure. That will still be an improvement over the current state of users having no clue what the exception really means.

[2019-11-11 22:42] sergejbut opened #2170 "Checkpoint fails when using NFS"
Hey :)

Without NFS I succesfully migrated a MySQL container (runc) from host A to host B (I use scp to copy needed data after the dump). Now I want to use NFS to minimalise the downtime. Is it possible?

When container starts, it initializes data. The data goes into a mounted directory and automatically transfers to both hosts. Till here everything works fine. But when I start the checkpoint, it

[2019-11-13 05:34] lio24 commented on #2167
pendant les deployment virtuel du container, sa arrive souvent le problem echec?

[2019-11-13 08:26] saschagrunert opened #2171 "Consider switching to go modules"
Hey, I see no open issue related to a go module migration yet. I would like to propose the update of go-systemd/v22 inside this repository, but It seems that vndr does not support versioned import paths like `github.com/coreos/go-systemd/v22`.

One way to solve this would be switching to go modules. WDYT?

Refers to https://github.com/kubernetes/kubernetes/pull/85097

[2019-11-13 09:44] odinuge commented on #2171
Also ref. https://github.com/opencontainers/runc/pull/2073

[2019-11-14 02:11] silverfoxs commented on #1343
reinstall
sudo yum remove docker  docker-common docker-selinux docker-engine

[2019-11-16 03:33] #2167 closed

[2019-11-18 06:57] Aisuko commented on #1343
There is an article https://success.docker.com/article/error-oci-runtime-create-failed-docker-1809 that may relate to the issue. Finally, I restarted the docker services.

[2019-11-20 21:32] olifre commented on #1671
It seems that the need to have this functionality led to other developments such as:
https://github.com/containers/fuse-overlayfs
which seems to fit well with `podman` and probably also `runc`.

@cyphar I see you've also taken part in discussions on that project, so I wonder if this basically means that the issue discussed here should be solved with tooling such as `fuse-overlayfs` externally / wi

[2019-11-24 11:57] shqear93 commented on #2142
Any updates here? !

[2019-11-25 10:24] yxs0201 commented on #2096
yum update systemd

[2019-11-25 12:36] rlam3 commented on #1740
I'm using minikube witht he same issue. I tried ssh into minikube and tried this command bust was denied even with sudo. Any workarounds here that you would recommend?
Thanks!

[2019-11-25 18:53] ezamorad commented on #2142
Hi.
I have been experiencing this issue for some weeks now.
I'd appreciate some related information and fix.

[2019-11-26 12:23] cyphar commented on #2142
Can you provide some more information -- such as how often this happens, what type of workload you're trying to run, and so on. It's a bit difficult to figure out the root cause of an issue where the bug report says that the problem isn't reproducible.

In the hopes of finding something out, I checked where you can get an `EINVAL` from when setting `cfs_period_us` but it didn't really help too muc

[2019-11-26 17:01] etcshad0vv commented on #2142
@cyphar thanks for your response, could this be related to https://github.com/kubernetes/kubernetes/issues/72878 ? Unfortunately the patch of the kernel is not backported and I will not be able to test this kernel.

[2019-12-02 17:32] #2138 closed

[2019-12-04 16:10] goranceko opened #2173 "exec failed: container_linux.go:346: starting container process caused \"process_linux.go:93: starting setns process caused \\\"fork/exec /proc/self/exe: no such file or directory"
Hello,

I am facing below error on my environment:

[code]

when executing the following command inside a CRI-O container:
```runc exec -- 50c0b94c43e25948cfc9d7dee83498a51c05b3a735ca20055ce3056a6422d1a8 /usr/sbin/mysqld -V```

[code]

[2019-12-04 16:22] goranceko commented on #2173
https://github.com/opencontainers/runc/blob/master/libcontainer/process_linux.go#L93

[2019-12-05 21:26] #2124 closed

[2019-12-06 05:25] AkihiroSuda opened #2175 "cgroup2: CI failure (bad rebase #2165): process_linux.go:297: applying cgroup configuration for process caused "mountpoint for not found""
This has [started failing](https://travis-ci.org/opencontainers/runc/jobs/621410561?utm_medium=notification&utm_source=github_status) with `process_linux.go:297: applying cgroup configuration for process caused "mountpoint for  not found"`. If this was intended to fail until we get cgroupv2 working completely, the test should've been marked as fail-able...

_Originally posted by @cyphar in https:/

[2019-12-06 07:21] AkihiroSuda commented on #2175
#2169 fixes the issue.

[2019-12-06 16:33] devimc opened #2176 "libcontainer: export and add new methods to allow cgroups manipulation"
In order to manipulate cgroups v1 and v2 from other packages and applications, we need next changes:

* export `createCgroupConfig` to create cgroup configs
* add new method in cgroup Manager to get and save cgroups configuration to disk

cc @mrunalp @egernst

[2019-12-10 15:47] farso92 opened #2178 "nginx webserver starts but it doesn't work"
i'm trying to create a webserver with runC and nginx but even if the container is started it doesn't work. I can't reach it on my browser. I run this command:
[code]
the containers starts but i can't reach it on localhost:32788
what m i doing wrong?
thank you

[2019-12-12 09:23] goranceko commented on #2173
Closing this issue as it's solved by making `/var/lib/containers/storage` reachable.

[2019-12-12 09:23] #2173 closed

[2019-12-14 17:04] nemosupremo opened #2179 "runc process has high cpu usage; perf top reports lots of time in _raw_spin_unlock_irqrestore"
Hi I'm using runc directly to run a container on an ARM device. In the container there is a python script running that is relatively CPU heavy. What is surprising, is the runc process is also using a lot of CPU:

[code]

When I run perf top on the runc process I see it's spending a lot of time in kernel calls:

[code]

[code]

Should this be usual for runc?

My config.json looks like this:

<detai

[2019-12-14 17:14] nemosupremo commented on #2179
Turned out to be user error

[2019-12-14 17:14] #2179 closed

[2019-12-17 12:05] vincent-163 opened #2181 "Restoring a container with host network brings down the host's network"
I performed the following steps:
1. Run `runc spec` to create a default configuration file, remove `"type": "network"` entry in `linux.namespaces`, set rootfs to a Linux image.
2. Run `runc run x` to run the container, verify that the network configuration is exactly the same as the host. `ip link` and `ip addr` show identical results with the host, and commands that use network works.
3. Run `run

[2019-12-17 13:43] vincent-163 commented on #1218
Hello. I'm having exactly the same problem after 3 years. I tried to workaround it by specifying `0<>/dev/null 1<>/dev/null 2<>/dev/null` while running `runc start`. The strange thing is that even though `runc` errors were suppressed, the container process still inherited the standard streams. `ls -l /proc/1/fd` in the container shows `/dev/pts/2` for fd 0,1,2. A bit curious on why and how that ha

[2019-12-17 15:53] farso92 opened #2182 "running runc container background"
hi i'm trying to create a runc container that works on background. When i use -d option the containers stop immediately instead if i don't use i run inside the container terminal. Is it possible to do? thanks

[2019-12-17 22:02] liggitt opened #2183 "Race condition in exec() exists waiting for fifo from container process"
Container failures are seen downstream in Kubernetes e2e runs when very short-lived containers are quickly created/completed. https://github.com/kubernetes/kubernetes/issues/86312

The following error is returned from the container runtime:
[code]

Even though the container actually ran successfully, based on log output.

@random-liu [tracked this down](https://github.com/kubernetes/kubernetes/iss

[2019-12-17 22:37] liggitt commented on #2183
cc @mrunalp

[2019-12-17 22:44] cyphar commented on #2182
Please read [this document](https://github.com/opencontainers/runc/blob/master/docs/terminals.md) to understand what `--detach` actually does. It really depends what you mean by "run in the background". The easiest way would be do to `nohup runc run &` but if you want to use the whole detached system in `runc` you need to read through the docs on terminal handling to figure out what your requireme

[2019-12-17 23:16] dims commented on #2183
/cc

[2019-12-18 08:55] farso92 commented on #2182
thank you for the answer....i'd like make some python script that controls all the container lifecycle (run/checkpoint/restore)...but when i run the restore a new terminal is created and the script fails with this error` failed to set the terminal from the stdin: input/output error`...so i'd like create the container simply without open its terminal.
i tried to run `nohup runc run mycontainer` but

[2019-12-20 13:45] vincent-163 opened #2187 "Feature request: external fds on checkpoint/restore"
Hello. My project has a requirement that we want to pass a FD to a container process and then checkpoint it. On checkpoint/restore the FD cannot be dumped because it is outside the container's mount namespace, so we need to specify it as an "external" FD in CRIU and pass the FD back on restore.
In CRIU this is achieved by specifying `--external` option on dump and `--inherit-fd` on restore. Howeve

[2019-12-20 17:43] alexellis commented on #1856
I seem to have the same issue @lifubang and am also using netns. Your command `iptables  -A FORWARD -i netns0 ! -o netns0 -j ACCEPT` didn't seem to improve matters.

Can you make a suggestion? Ping works for me, but not accessing the Docker hub - `2019/12/20 17:42:27 failed to resolve reference "docker.io/functions/figlet:0.13.0": failed to do request: Head https://registry-1.docker.io/v2/function

[2019-12-26 09:45] Zyqsempai opened #2191 "io.stat: MAJ:MIN parsing order is wrong"
According to the https://www.kernel.org/doc/Documentation/cgroup-v2.txt
[code]
In code we see the opposite order in `io.stat` file parsing function:
https://github.com/opencontainers/runc/blob/master/libcontainer/cgroups/fs/io_v2.go#L105

[2019-12-26 15:41] #2183 closed

[2019-12-30 06:19] vastchen opened #2194 "armv7 code build errors"
in armv7 gentoo build runc error

make -j5 'BUILDTAGS=ambient seccomp' -C src/github.com/opencontainers/runc
make: Entering directory '/var/tmp/portage/app-emulation/runc-1.0.0_rc9/work/runc-1.0.0_rc9/src/github.com/opencontainers/runc'
fatal: not a git repository (or any of the parent directories): .git
go build -buildmode=pie  -ldflags "-X main.gitCommit="" -X main.version=1.0.0-rc9 " -tags "amb

[2019-12-30 11:05] cyphar commented on #2194
That import cycle is happening within the Go stdlib. Can you compile this program:

[code]

If you can't, then there's something wrong with the standard library on `armv7` and you should either report it to the Gentoo folks, or to the Golang folks.

[2019-12-30 11:07] cyphar commented on #2194
Also I would suggest reporting these kinds of issues to Gentoo directly -- I'm not a Gentoo user and so I can't really help you all that much. If the Gentoo package maintainer thinks that we need to fix something, they can always open an issue.

[2019-12-30 13:33] vastchen commented on #2194
slow it is longtime ago set local golang so can't get really version.

[2019-12-30 13:33] #2194 closed

[2019-12-31 18:13] AkihiroSuda commented on #2175
#2169 is still waiting fore review.

Opened https://github.com/opencontainers/runc/pull/2195 as a workaround until #2169 gets merged.
#2195 doesn't need to be merged if #2169 can be merged right now.

[2019-12-31 19:52] AkihiroSuda opened #2196 "CRIU tests are failing on CI"
[code]

Seems Travis recently updated the kernel to an incompatible version: https://github.com/containerd/containerd/pull/3898

[2020-01-01 13:07] leoluk opened #2197 "[CVE-2019-19921]: Volume mount race condition with shared mounts"
Disclosed in https://github.com/opencontainers/runc/pull/2190.

Here's the original report to security@opencontainers.org:

Hi all,

an attacker who controls the container image for two containers that share a volume can race volume mounts during container initialization, by adding a symlink to the rootfs that points to a directory on the volume. The second container won't be able to see the actua

[2020-01-01 14:06] cyphar commented on #2197
My proposed ("stop the bleeding") patch was the following:

[code]

Unfortunately this is not sufficient if `/` is shared with another container, because then you can do the same trick (but this time on `/` directly).

[2020-01-02 16:47] #2176 closed

[2020-01-04 15:20] leoluk commented on #2197
Your patch does stop the bleeding, though - most runc use cases do not share the rootfs. Mounting a volume on `/` breaks all kinds of things. Haven't managed to do anything useful using either cri-o or podman.

[2020-01-04 22:12] cyphar commented on #2197
Alright, I'll prepare a PR. Thanks @leoluk -- and sorry for the response time issues (as well as how the disclosure happened).

[2020-01-06 07:28] seraphsea opened #2200 "customize cgroup doesn't work."
I've already create a cgroup for controling my own application.
I run this func in my code for the new customize cgroup :
mount("cgp", "/var/run/cgp", "cgroup",MS_MGC_VAL, "none,name=cgp")
my customize cgroup mount success.
but when I create a new container and start it, bash got error as blow:
Error: failed to run container 576e4d: {"message":"failed to create container(XXX) on containerd: failed

[2020-01-06 08:39] AkihiroSuda commented on #2200
The cgroup mount point needs to be "/sys/fs/cgroup"

[2020-01-06 08:49] seraphsea commented on #2200
Why?
Is there any other solution or do sth  to workaround this.

[2020-01-06 10:56] mantas-sidlauskas opened #2201 "BUG: unable to handle kernel NULL pointer dereference at 000000000000000d"
runc becomes zombie process, most likely after `docker exec`. After this zombie runc process appears all docker commands hangs forever for this container.
Cannot reproduce this situation.

[code]

[code]

[code]
[code]

[2020-01-13 08:09] mYmNeo opened #2204 "Update command causes 'Operation not permitted'"
It's first seen in a kubernetes cluster with docker as container runtime. Our users reported that in some situation their bash script failed with message `can't create /dev/null: Operation not permitted`. But `/dev/null` is default device with permission `rwm`, After digging some logs, we found that it can be reproduced in runc by following steps.

1. Run a runc container like "busybox". Suppose t

[2020-01-13 19:29] liggitt commented on #2197
any ETA on the workaround to unblock rc10?

[2020-01-14 00:23] #2157 closed

[2020-01-14 01:42] #2175 closed

[2020-01-14 02:31] cyphar commented on #2197
I've been off the face of the map for the past 2ish weeks. I will prepare a PR tomorrow.

[2020-01-14 04:42] cyphar commented on #2197
#2207 contains a very simplified version of the above patch (the patch I posted above doesn't work because `rootfs_linux.go` has a very fun relationship with pathnames that I don't have time to debug right now).

[2020-01-14 05:07] AkihiroSuda opened #2208 "reenable CRIU tests when Ubuntu kernel gets fixed"
https://github.com/opencontainers/runc/pull/2198 disabled `TestUsernsCheckpoint` and `TestCheckpoint` in ` libcontainer/integration/checkpoint_test.go` because Ubuntu kernel  (used in Travis) has been broken recently: https://bugs.launchpad.net/ubuntu/+source/linux/+bug/1857257

We should reenable these tests when the kernel gets fixed

[2020-01-14 05:12] AkihiroSuda opened #2209 "cgroup2: TODO list"
# EDIT: this tracker was superseded by https://github.com/opencontainers/runc/issues/2315

[2020-01-14 05:13] AkihiroSuda commented on #654
I compiled the list of leftover TODOs: https://github.com/opencontainers/runc/issues/2209

[2020-01-14 08:53] #2196 closed

[2020-01-14 08:54] AkihiroSuda commented on #2196
tests are temporarily disabled in #2198

[2020-01-15 13:25] Zyqsempai opened #2211 "CgroupV2: io.weight is not converted from BlockIOWeight"
io.weight is not properly converted from BlockIOWeight in https://github.com/opencontainers/runc/blob/master/libcontainer/cgroups/fs2/io.go#L20

According to the `crun spec` https://github.com/containers/crun/blob/master/crun.1.md#blkio-controller it should be recalculated.

[2020-01-16 03:29] setharnold opened #2214 "chroot() function appears to ignore its parameter"
Hello, this `chroot()` wrapper appears to ignore the `rootfs` parameter. Is this an accidental oversight?

https://github.com/opencontainers/runc/blob/709377ca558df88ea538852c9310b700f140fc9b/libcontainer/rootfs_linux.go#L857

Thanks

[2020-01-16 04:15] cyphar commented on #2214
This is an oversight, but it works okay because we `Chdir(rootfs)` earlier during setup.

[2020-01-17 01:05] setharnold commented on #2214
Thanks cyphar; I'm glad to hear it's not a huge concern.

Thanks

[2020-01-17 03:42] cyphar commented on #2214
Feel free to send a patch which either uses the path or removes the parameter.

[2020-01-20 19:00] anonymouse64 opened #2215 "Support extrausers support in libcontainer/user"
The libcontainer methods for reading users, etc. currently only reads from /etc/passwd and /etc/group, however on Ubuntu Core devices (also yocto sometimes) it is desirably to also read the /var/lib/extrausers/passwd and /var/lib/extrausers/group files as well (from the [pam_extrausers package in Ubuntu](http://manpages.ubuntu.com/manpages/xenial/man8/pam_extrausers.8.html)), as the /etc/passwd an

[2020-01-21 13:24] leberknecht commented on #1650
@cyphar meanwhile the PR was merged :) what would be the next steps? Anything we can help with?

[2020-01-22 07:37] skilxn-go opened #2216 "Can #2132 be cherry-picked to the latest release version?"
It's a tiny pr, but currently, every third-party repo that depanding on RunC can hardly work in our environment. I don't know how to fix it quickly, maybe cherry-pick it to the lastest release version, or just waiting for the next version?
Thanks.
FYI: #2132

[2020-01-22 07:41] cyphar commented on #2216
It'll be in the next release. The only blocker at the moment is a security fix being merged (#2207).

[2020-01-22 07:46] skilxn-go commented on #2216
Thanks, I will keep waiting

[2020-01-22 07:46] #2216 closed

[2020-01-22 16:06] #2197 closed

[2020-01-25 03:53] TensShinet opened #2219 "dbus"

[2020-01-25 03:53] #2219 closed

[2020-01-26 07:04] inductor opened #2220 "Incorrect link to /org/security in the documentation"

[2020-01-27 22:40] #2220 closed

[2020-02-10 04:17] hwdef opened #2225 "How to check the version of runc corresponding to docker"
I want to find the verison of runc corresponding to docker 19.03.5

[2020-02-10 05:35] cyphar commented on #2225
[It's buried in their build scripts.](https://github.com/docker/docker-ce/blob/v19.03.5/components/engine/hack/dockerfile/install/runc.installer#L7) Just note that `runc` isn't a Docker project, so this is a question which is better suited for the Docker community (I only happen to know because I maintain Docker for (open)SUSE).

[2020-02-10 05:35] #2225 closed

[2020-02-10 06:27] hwdef commented on #2225
Thank you very much !

[2020-02-10 19:02] chandrabvv opened #2227 "Checkpoint and restore runc container while running sysbench and redis benchmark"
Checkpoint and restoration of runc container fails when running sysbench (CPU test: sh -c 'sysbench --test=cpu --cpu-max-prime=20000 run') and Redis (redis-benchmark) workload inside runc container. But, I am able to checkpoint and restore successfully when using docker container while running above mentioned workloads.  I am able to checkpoint and restore successfully when running command "/bin/s

[2020-02-11 04:51] tongchao199 commented on #1988
mark

[2020-02-17 15:49] #2166 closed

[2020-02-21 05:00] #2191 closed

[2020-02-22 17:01] mchugh19 commented on #1643
This also seems to be the case for trying to use buildah inside of nspawn
[code]

[2020-02-23 02:53] Jennal opened #2233 "Compile Failed"
[code]

[2020-02-23 03:01] Jennal commented on #2233
`/root/lede/build_dir/target-x86_64_musl/runc-1.0.0-rc8+91-3e425f80/.go_work/build/src/github.com/opencontainers/runc/runc` not exists, but `/root/lede/build_dir/target-x86_64_musl/runc-1.0.0-rc8+91-3e425f80/.go_work/build/src/github.com/opencontainers/runc` exists

[2020-02-25 14:37] sebastian-philipp opened #2236 "signaling init process caused "permission denied" -> which signal?"
I'm getting:

[code]
But which signal caused this? Unfortunately the error message doesn't contain the actual signal.

[2020-02-27 23:52] tedyu commented on #2236
This change should show the signal:
[code]

[2020-02-28 17:32] iwankgb opened #2240 "Enabling perf_event support in runc"
My team would like to contribute perf_event support for runc. We believe that taking limited amount of hardware counters available (e.g. 4 on Xeon 6240Y) a list of counters to be enabled should be passed to runc. It will allow users to fine-tune their counters and avoid multiplexing and scaling.

Therefore we suggest the following:
* extending `config.Cgroup` struct by adding `PerfEvents []uint64`

[2020-02-29 02:13] #2164 closed

[2020-03-01 13:40] AkihiroSuda commented on #2209
Attempting to implement support for systemd user instances, but godbus seems to require extra `dbus-launch` binary, which is included in `dbus-x11` dpkg on Ubuntu :cry: https://github.com/godbus/dbus/blob/06fc4b473149e499166adbb9e31c7365a8ea146f/conn_other.go#L20

[2020-03-01 16:31] AkihiroSuda opened #2243 "cgroup2: cpu.max is broken in non-systemd mode"
non-systemd mode (cpu.max is broken, memory.max is expected)
[code]

systemd mode (expected)
[code]

runc: 3b7e32febafcdd3c510d85dd24f0d477c3da6230
podman: containers/libpod@275e9b855dd0a384a283174912c08f3f097101b5

[2020-03-01 17:27] AkihiroSuda opened #2244 "[regression 2213] cgroup2: numerical result out of range\\\\nfailed to write \\\\\\\"70369281052672\\\\\\\" to \\\\\\\"/sys/fs/cgroup/docker/36e5a611e225f5f94b343c384c688adcd957624fddb11eb74945b3efcdc56362/cpu.weight"
The first execution of `docker run` (without `--cpu-shares`) succeeds, but the second execution fails because runc tries to write 70369281052672 to ` /sys/fs/cgroup/docker/$cid/cpu.weight`, which exceeds ~` /sys/fs/cgroup/docker/cpu.weight`=100~ maximum value 10000.

[code]

Regression in 7c439cc6f617eb234bbc1754ab0b21041a9be87e (#2213) .

[2020-03-01 17:28] AkihiroSuda commented on #2244
@Zyqsempai PTAL

[2020-03-03 10:41] luxifer commented on #1016
Still not good... I have libseccomp 2.3.3 and runc still complains... (I have runc version 1.0.0-rc8)

[2020-03-03 11:19] thaJeztah commented on #1016
@luxifer the problem can occur if runc is compiled on a platform that has a non-matching version of libseccomp; where did you get the `runc` package?

[2020-03-03 11:50] luxifer commented on #1016
I get it from yocto, same for libseccomp, runc is compiled with the same libseccomp than runtime

[2020-03-04 00:51] AkihiroSuda commented on #2233
ipkg is not maintained in this repo. Please ask the package maintainer.

[2020-03-04 00:51] #2233 closed

[2020-03-04 00:53] AkihiroSuda commented on #2178
You need to either remove `"type": "network"` from `.linux.namespaces` (insecure) or set up port forwarder.

[2020-03-04 00:53] #2178 closed

[2020-03-04 00:55] #2003 closed

[2020-03-04 00:58] #1170 closed

[2020-03-04 00:58] #1215 closed

[2020-03-04 01:01] AkihiroSuda commented on #1975
Closing as #1976 is closed

[2020-03-04 01:01] #1975 closed

[2020-03-04 01:02] AkihiroSuda commented on #1870
If this is still an issue, please report to the kernel maintainers (of your distro).

[2020-03-04 01:02] #1870 closed

[2020-03-04 01:02] #1795 closed

[2020-03-04 01:03] AkihiroSuda commented on #1719
Closing as outdated

[2020-03-04 01:03] #1719 closed

[2020-03-04 01:04] #1684 closed

[2020-03-04 01:05] #1472 closed

[2020-03-04 01:05] #1195 closed

[2020-03-04 10:39] bbala-github commented on #1521
Pretty late on this one. But this doesn't seemed addressed in

[2020-03-04 11:37] adrianreber commented on #1521
@bbala-github You should be able to use a CRIU configuration file to tell CRIU to skip in-flight connections:

https://criu.org/Configuration_files
https://github.com/opencontainers/runc/blob/master/docs/checkpoint-restore.md

[2020-03-04 12:29] bbala-github commented on #1521
I was able to use skip-in-flight config and move forward. The point is I want in-flight connections to be restored as well. Has that been addressed?

[2020-03-04 13:11] adrianreber commented on #1521
This will probably never be possible, because this is about TCP packets being in flight. This is only, if I remember it correctly, for TCP connections not having finished the three way handshake. The idea in CRIU behind this is that if a socket is in the middle of establishing a TCP connection, CRIU will just treat the socket as being in listening state and the TCP stack will handle the restart of

[2020-03-05 00:32] #2211 closed

[2020-03-05 10:24] AkihiroSuda opened #2245 "RFC: pull approve: set reset_on_push to false"
https://github.com/opencontainers/runc/blob/6503438fd6b0415bc146403b30b8a248b3346f52/.pullapprove.yml#L4

To facilitate merging PRs,  I suggest setting `reset_on_push` to false.

[2020-03-05 10:25] AkihiroSuda commented on #2245
@cyphar @caniszczyk WDYT?

[2020-03-05 13:39] cyphar commented on #2245
To be honest, I don't like this idea -- if someone pushes new code to a branch it should require re-reviewing IMHO.

[2020-03-05 13:49] AkihiroSuda commented on #2245
Small changes (e.g. typo, format, addition of code comments) should not?

[2020-03-05 18:15] bbala-github commented on #1521
Got it. I was able to use `tcp-established` option in `/etc/criu/default.conf` to re-establish the connection on the same host with the same IP.

From documentation:
[code]

Any guidance on how we can 'copy' the IP address to in case of hand-made live migration?

[2020-03-05 18:19] adrianreber commented on #1521
@bbala-github This is not really a runc discussion any more, but in the following article and demo I was using `keepalived` to migrate the IP address from one host to another: https://www.redhat.com/en/blog/container-migration-around-world

[2020-03-09 06:45] zhangyoufu opened #2246 "chmod on read-only tmpfs"
# How to reproduce
[code]
Tested on docker 19.03.2 with runc 1.0.1-dev.

# Related code
https://github.com/opencontainers/runc/blob/fc5759cf4fcf3f9c77c5973a24d37188dbcc92ee/libcontainer/rootfs_linux.go#L331-L377

# Use case
I'm using `registry:2` with s3 storage backend, thus `/var/lib/registry` mountpoint is useless for my setup. If I didn't specify a bind mount or tmpfs for this path, an anonymo

[2020-03-09 08:33] scott0000 opened #2247 "Is there any plan to turn to go mod?"
Hello maintainer:

Since go mod is the mainstream and trend of dependency management by Go Project. So is there any plan turn to go mod?

[2020-03-09 09:20] h-vetinari commented on #2247
Already in progress and almost done: #2073

[2020-03-09 09:26] #2247 closed

[2020-03-09 09:27] AkihiroSuda commented on #2245
Also, trivial git rebase should not require re-reviewing?

[2020-03-09 09:37] scott0000 commented on #2247
aha, so nice!

[2020-03-09 09:41] AkihiroSuda commented on #2137
Is this still an issue?

[2020-03-09 09:42] #2076 closed

[2020-03-09 09:42] #2048 closed

[2020-03-09 09:44] AkihiroSuda commented on #1899
Added

[2020-03-09 09:44] #1899 closed

[2020-03-09 09:46] AkihiroSuda commented on #1906
This is more straightforward with the latest RHEL/CentOS 7. Closable?

[2020-03-09 09:46] #1906 closed

[2020-03-09 09:48] AkihiroSuda commented on #1857
This should be reported to the (distro) kernel maintainers.

If only RHEL 7 users are hitting this, this should be reported to Red Hat.

[2020-03-09 09:48] #1857 closed

[2020-03-09 09:50] AkihiroSuda commented on #1676
Is this still an issue?

[2020-03-09 09:52] AkihiroSuda commented on #1270
The ecosystem no longer supports CentOS 6. Closing.

[2020-03-09 09:52] #1270 closed

[2020-03-09 15:35] luxifer commented on #1016
My problems came fro the yocto cache, after rebuilding without cache, runc was finally compiled with the good libseccomp version

[2020-03-09 16:01] AkihiroSuda commented on #2244
PR #2248

[2020-03-09 16:07] thaJeztah commented on #1016
Sounds like that may be due to https://github.com/golang/go/issues/24355

[2020-03-09 16:42] AkihiroSuda opened #2249 "Need to add integration test suite for resource limitation (especially for devices)"
https://github.com/opencontainers/runc/blob/master/tests/integration/cgroups.bats

The current test suite doesn't cover resource limitation stuff except `memory.kernel`.

[2020-03-09 16:44] AkihiroSuda commented on #2249
We could extend the current bats suite to cover them, but we should also consider port over https://github.com/containers/crun/tree/master/tests (Python) for ease of json manipulation.
(The current crun suite seems to cover PID limits, but doesn't seem to cover cpu and memory anyway.)

cc @giuseppe

[2020-03-09 16:46] AkihiroSuda commented on #2153
Yes.

You may also try bind-mounting, but not the standard way to solve this issue.

[2020-03-09 16:46] #2153 closed

[2020-03-09 17:38] jiatongw opened #2250 "Missing package apparmor in Makefile"
Hi team,

I built `runc` from the latest release (`rc-10`) and tried to bootstrap a k8s cluster, but it failed to work:

```skipping: failed to "StartContainer" for "kube-apiserver" with RunContainerError: "failed to create containerd task: OCI runtime create failed: container_linux.go:345: starting container process caused \"process_linux.go:430: container init caused \\\"apply apparmor profile:

[2020-03-09 18:17] pkagrawal opened #2251 "linuxContainer.Signal() can race with another call to say Destroy()"
linuxContainer.Signal() calls c.initProcess.signal(s). However, a concurrent call to linuxContainer.Destroy() will set c.initProcess = nil. This can lead to a nil pointer dereference, so the calls should be synchronized.

[2020-03-09 18:33] AkihiroSuda commented on #2250
It is likely that your host OS distro (or CRI runtime) just doesn't support apparmor.

[2020-03-09 19:51] mikebrow commented on #2250
FYI... when we build runc for containerd & cri testing packaging etc... we use BUILDTAGS:-seccomp apparmor

https://github.com/containerd/cri/blob/master/hack/install/utils.sh#L35
https://github.com/containerd/containerd/blob/master/script/setup/install-runc#L29

[2020-03-09 19:51] AkihiroSuda commented on #2201
This should be reported to Debian's kernel maintainers with detailed info (e.g. the filesystem).

[2020-03-09 19:51] #2201 closed

[2020-03-09 19:57] mikebrow commented on #2250
https://github.com/opencontainers/runc#build-tags

[2020-03-09 20:01] jiatongw commented on #2250
Thanks @mikebrow .

It's inconvenience that we manually modify the Makefile to add build tags each time when we build. Is it possible to add `apparmor` officially in Makefile?

[2020-03-09 20:22] mikebrow commented on #2250
I'd would not modify `makefile` I'd make a build script for calling make BUILDTAGS='apparmor seccomp'  .. or see if make cri-release .... https://github.com/opencontainers/runc/blob/master/script/release.sh#L30
somehow works for your workflow.

[2020-03-11 15:43] levanthanh3005 opened #2253 "Container is not destroyed with pre-dump"
Hi,
Could you please help me to check the error with runc:
My steps are:
mkdir /mycontainer
cd /mycontainer
mkdir rootfs
docker export $(docker create busybox) | tar -C rootfs -xvf -

runc spec

Then change config.json : as the example in github https://github.com/opencontainers/runc
"terminal": false,
"user": {
"uid": 0,
"gid": 0
},
"args": [
"sleep", "50000"
],

Then go to mycontainer
runc run -

[2020-03-11 18:11] #2251 closed

[2020-03-11 20:04] levanthanh3005 commented on #2253
Hi @adrianreber
My complaining is about the behavior,
"container is not destroyed" is correct, but it should not make any errors, I also try with other service with tcp connection and it makes the same error

[2020-03-12 04:28] AkihiroSuda commented on #2250
https://github.com/opencontainers/runc/pull/2254 fixes this

[2020-03-12 06:49] adrianreber commented on #2253
I will have a look at what is up with the message during checkpointing.

[2020-03-12 10:16] adrianreber commented on #2227
@chandrabvv What errors do you get? Do you get an error from CRIU? Any log files?

[2020-03-12 10:18] adrianreber commented on #2181
This is probably related to CRIU locking the network. However, I remember this being fixed in CRIU for some time. Which CRIU version are you using? Please try it with the latest version.

[2020-03-12 11:34] vincent-163 commented on #2181
Indeed. I was using criu 3.6 from the Ubuntu repository, and by building criu-3.13 from source the problem went away. Thanks!

[2020-03-12 11:34] #2181 closed

[2020-03-14 10:03] etcshad0vv commented on #2142
Closing the issue, after kernel was patched. Issue no longer exists.

[2020-03-14 10:03] #2142 closed

[2020-03-16 01:32] #2250 closed

[2020-03-16 04:43] AkihiroSuda commented on #2171
done

[2020-03-16 04:43] #2171 closed

[2020-03-16 05:00] #2243 closed

[2020-03-16 05:00] #2244 closed

[2020-03-18 07:42] nighter7 commented on #1906
I'm trying to run podman inside a container which will run in openshift using docker.

The use case is to create a pod with 2 containers, container A having business logic running and the container B having podman.

Container A will use podman in Container B to pull docker executable images, run them and get the output, parse it and continue with the business logic.

so far running the container o

[2020-03-21 23:09] ahmedaabouzied commented on #2249
I can work on that

[2020-03-24 12:14] eero-t commented on #861
Moving isn't valid strategy for all controllers, read the "Memory ownership" section in the documentation: https://www.kernel.org/doc/Documentation/cgroup-v2.txt

"A memory area is charged to the cgroup which instantiated it and stays
charged to the cgroup until the area is released.  Migrating a process
to a different cgroup doesn't move the memory usages that it
instantiated while in the previou

[2020-03-24 13:02] eero-t commented on #2151
The inherent fragility of seccomp(): https://lwn.net/Articles/738694/

The discussion on the article is very instructive.  Basically whatever you do with seccomp, there are potential future landmines.  And those article comments didn't even go into kernel syscall & libc differences between HW architectures.

[2020-03-24 18:43] AkihiroSuda commented on #2249
Thanks, please feel free to open PR

[2020-03-24 21:18] #2253 closed

[2020-03-25 01:30] kolyshkin commented on #2249
There's also https://github.com/opencontainers/runc/blob/master/tests/integration/update.bats which tests many other controllers.

@AkihiroSuda what kind of tests do you have in mind?

[2020-03-25 01:34] AkihiroSuda commented on #2249
I think we need to add tests for devices (if we don't have yet)

[2020-03-25 07:23] dgoyal8 opened #2269 "Is it available for windows & Mac?"
I am wondering if i can use it for windows and mac?

[2020-03-25 14:43] crosbymichael commented on #2269
No it is not.  It's a linux only project that works for linux containers.

[2020-03-25 14:43] #2269 closed

[2020-03-25 20:42] ahmedaabouzied commented on #2249
@AkihiroSuda, could you explain more or maybe provide an example of tests for devices?

[2020-03-25 20:45] AkihiroSuda commented on #2249
Like this but as integration tests
https://github.com/opencontainers/runc/blob/master/libcontainer/cgroups/ebpf/devicefilter/devicefilter_test.go

[2020-03-26 23:04] smijolovic opened #2274 "runc not building wth go 1.14.1"
CentOS 8.1
Download and unpack 1.0.0-rc10 (tar.gz)

go get -d ./...
make BUILDTAGS="seccomp selinux"

libcontainer/cgroups/systemd/apply_systemd.go:17:2: cannot find package "github.com/godbus/dbus" in any of:
	/usr/local/go14/src/github.com/godbus/dbus (from $GOROOT)
	/home/rpmbuild/nimbus8/runc-build/runc-1.0.0-rc10/src/github.com/godbus/dbus (from $GOPATH)  <--by the way...it actually is there

[2020-03-27 02:13] AkihiroSuda commented on #2274
You need to checkout the code under `$GOPATH/src/github.com/opencontainers/runc` and set `GO111MODULE=off`

[2020-03-27 02:13] #2274 closed

[2020-03-27 15:14] smijolovic commented on #2274
I don't understand the rapid closing of this request.

It is not a good practice to pull from master branches in a production environment. Master branches are volatile and typically buggy with daily changes during the development lifecycle.

I am respectfully requesting instructions on how to pull a stable release branch (tar.gz) of rc10 and the correct means to build with go 1.14.1

[2020-03-27 15:19] AkihiroSuda commented on #2274
Sorry for unclarity, I didn't mean you need to checkout the master branch from the git repo. You need to just extract rc10 archive under `$GOPATH/src/github.com/opencontainers/runc`

But Go 1.14 is currently unsupported anyway because os the runtime incompatibility.

[2020-03-27 16:32] smijolovic commented on #2274
Thank you for the clarity!

BUILD_RUNC_RELEASE=1.0.0-rc10
RUNC_SRC=$GOPATH/src/github.com/opencontainers
mkdir $RUNC_SRC
cd $RUNC_SRC
wget https://github.com/opencontainers/runc/archive/v$BUILD_RUNC_RELEASE.tar.gz
tar xzf v$BUILD_RUNC_RELEASE.tar.gz
mv runc-$BUILD_RUNC_RELEASE runc
cd $RUNC_SRC/runc
GO111MODULE=off make BUILDTAGS="seccomp selinux"

Worked for me!

Compiles for both 1.13 and 1.14 -

[2020-03-28 18:36] ommmid commented on #1740
I was sharing folders and forgot the slash at the end

[2020-04-01 11:53] AkihiroSuda commented on #2209
Trying to implement the support for rootless systemd, but still got stuck because godbus doesn't seem to support user namespaces :sob:

https://github.com/AkihiroSuda/runc/commit/1f642d92d5008f1264eec7e9ab8f3ac81e4f2f9a
https://github.com/godbus/dbus/blob/v5.0.3/auth.go#L56-L57

cc @giuseppe

[2020-04-01 14:01] AkihiroSuda commented on #2163
systemd is being fixed in https://github.com/opencontainers/runc/pull/2281

[2020-04-02 05:12] AkihiroSuda opened #2286 "TestGetContainerStateAfterUpdate is failing on CI"
[code]

https://travis-ci.org/github/opencontainers/runc/jobs/669942726?utm_medium=notification&utm_source=github_status

[2020-04-02 05:12] AkihiroSuda commented on #2286
@kolyshkin PTAL

[2020-04-02 07:17] kolyshkin opened #2287 "runc --systemd-cgroup update does not update systemd scope"
A repro

1. Prepare a bundle and a spec. Amend the config.json with
[code]
in the `linux.resources` section, and a long-lived process such as sleep.

2. Start the container:

[code]

3. Check its pids limit in cgroups scope, as well as in cgroupfs:

[code]

4. Update the limit:
[code]

5. Check again:

[code]

As we can see, the kernel and the systemd is now in disagreement about the limit.

6. Ch

[2020-04-02 07:41] kolyshkin commented on #2287
This might also be pointed out to at https://github.com/opencontainers/runc/issues/2007

[2020-04-06 21:30] #2286 closed

[2020-04-07 20:06] kolyshkin opened #2298 "cgroupv2 fs driver does not work with default cgroups path"
When the cgroupv2 fs driver is used without setting `cgroupsPath`, it picks up a path from `/proc/self/cgroup`. On a host with systemd, such path looks like `/user.slice/user-1000.slice/session-4.scope`.

It fails to enable controllers for sub-cgroup. The error from the kernel is either `EBUSY` or `EOPNOTSUPP`. It has probably something to do with systemd, but I'm not sure.

Here's the error (with

[2020-04-07 20:14] kolyshkin commented on #2298
@AkihiroSuda do you have any idea why is that?

[2020-04-07 20:24] kolyshkin commented on #2298
Another repro, fresh boot, older kernel.

[code]

[2020-04-07 20:28] kolyshkin commented on #2298
I _suspect_ this have to do with systemd, but don't understand how (and so, how to fix it).

[2020-04-08 19:00] AkihiroSuda opened #2301 "travis: move `cgroup-v2` out of `allow_failures`"
https://github.com/opencontainers/runc/blob/9a93b7378cc818f0a5b5eb54e6f137eb81edf14d/.travis.yml#L37-L39

`cgroup-v2` was marked `allow_failures` because of the flakiness of VirtualBox VM: https://github.com/opencontainers/runc/commit/dc7d0bfa0f4aec3cc5b1cb20b429b669d148f6dc

I think we are ready to move `cgroup-v2` out of `allow_failures` now, because the flakiness seems to have gone away since w

[2020-04-08 19:00] AkihiroSuda commented on #2301
cc @cyphar @kolyshkin

[2020-04-09 00:38] kolyshkin commented on #2298
This has been partially addressed by the last commit in https://github.com/opencontainers/runc/pull/2299, but the issue is still there.

[2020-04-09 07:59] hswong3i opened #2302 "Ansible Role for runc"
I am now maintenance an Ansible Role for runc installation (https://github.com/alvistack/ansible-role-runc), by downloading the static binary release archive and extract it for following OS:
- Ubuntu 16.04/18.04/19.10
- CentOS/RHEL 7/8
- openSUSE 15.1

Could we also introduce this as an alternative installation method, e.g. after https://github.com/opencontainers/runc#building section?

[2020-04-09 16:38] kolyshkin commented on #2298
OK, the reason for `EBUSY` is that the cgroup we're trying to create a sub-cgroup in already have children:

from `kernel/cgroup/cgroup.c`:
[code]

The reason for `EOPNOTSUP` is similar (see `cgroup_vet_subtree_control_enable()` in kernel sources.

The fix is coming.

[2020-04-09 21:10] #2301 closed

[2020-04-11 02:20] kolyshkin commented on #1627
What the bug reporter means is, if a container's config.json specifies `"terminal": true"` (in `process` section), there is no ability to have terminal-less `runc exec`.

In addition to that, `runc exec` does not create a proper terminal using /dev/ptmx, but reuses fd 0. This, combined with `runc exec ... < /dev/null`, leads to

[2020-04-11 02:32] kolyshkin commented on #1627
A few possible solutions are:

1. Do not derive terminal boolean property from config.json (it is for the container start/run, not for exec). This is the way crun does it.

2. If a terminal is requested, create a pty pair using /dev/ptmx (or `"github.com/containerd/console".NewPty`). This is also the way crun does it.

I'm going to implement 1 for now.

[2020-04-12 16:14] tedyu opened #2309 "Check the error return from StopUnit() in UnifiedManager#Destroy()"
Currently the error return from StopUnit() is ignored.
[code]
We should check the error return.

[2020-04-12 19:17] kolyshkin opened #2310 "[SELinux] cgroupv2: runc run --systemd-cgroup do not put container in proper cgroup"
runc ps not working when runc run --systemd-cgroup is used

[code]

Indeed, the process is not in the cgroup it is supposed to be in!

[code]

:open_mouth:

**Update:** the cause was old(er) container-selinux package in Fedora 31 vagrant image. Once updated, it works. The problem, though, is that runc (or crun) do not see an error from systemd which can't create a transient unit.

[2020-04-13 01:05] AkihiroSuda commented on #2310
Is this a recent regression or depends on a specific config?

[2020-04-13 01:21] kolyshkin commented on #2310
Looks like it has always been that way. If you take a look at systemd's v1 manager (aka LegacyManager) Apply method, it calls `joinCgroups()` at the very end, and it will write the PID to all cgroups.

Same method for systemd v2 (aka UnifiedManager), it only calls `createCgroupsv2Path` but never writes pid. The code was different before my commit a949e4f22fa9 (PR #2273), but it still was not doing

[2020-04-13 01:26] kolyshkin commented on #2310
Indeed it was, since the very beginning -- see commit 524cb7c31 (PR #2113).

[2020-04-13 01:28] kolyshkin commented on #2310
and since we were not doing any testing, this bug lived to the day.

Fix is easy though: https://github.com/opencontainers/runc/pull/2311

[2020-04-13 22:30] kolyshkin commented on #2310
OK, the cause of the issue is vagrant image of Fedora 31 used for testing. It came with not-so-up-to-date `container-selinux` (or maybe `selinux-policy`?), which resulted in:

(same results with podman+crun).

This was fixed by `dnf update -y container-selinux` and is probably a known (and apparently fixed) bug.

The main issue here, though, is that the problem was not reported from systemd back t

[2020-04-14 00:13] mrunalp commented on #2310
@rhatdan Any thoughts ^ ?

[2020-04-14 02:02] kolyshkin commented on #2310
Which is a different problem, so I'll file a separate issue. This one can be closed.

[2020-04-14 02:02] #2310 closed

[2020-04-14 02:38] kolyshkin opened #2313 "runc --systemd-cgroup run: need to check that StartTransientUnit succeeds"
**TL;DR: runc should check that system was able to create a unit.**

I was working on runc on a Fedora 31 Vagrant box with older selinux packages (`container-selinux-2.117.0-1.gitbfde70a.fc31.noarch`). Command `runc --systemd run xoo` succeeded, but the container process was running in the same cgroup as my shell, and the designated cgroup was empty (see https://github.com/opencontainers/runc/issu

[2020-04-14 02:39] kolyshkin commented on #2313
The issue is probably true for systemd v1 aka LegacyManager.

[2020-04-14 02:40] kolyshkin commented on #2310
Filed https://github.com/opencontainers/runc/issues/2313

TODO: file a similar bug for crun

[2020-04-14 13:53] rhatdan commented on #2310
Well the container-selinux not being updated could cause several problems.

[2020-04-14 17:07] geofft commented on #1658
I just ran into this with trying to use `unshare -Urmpf --mount-proc` inside a Kubernetes container - it took a while to dig up why the mount was failing but once I found `mount_too_revealing` this issue explains it nicely.

As far as I can tell, this should work now after @jessfraz's pull requests moby/moby#36644 and (for those of us on k8s) kubernetes/kubernetes#64283, right? Or is there somethi

[2020-04-14 17:10] #1658 closed

[2020-04-14 20:53] dhawal55 opened #2314 "runc does not terminate causing containerd-shim to hang in docker 18.09.8"
**Description**

runc hangs sometimes and needs to be killed in order for the rest of the system to continue to work properly. We run Kubernetes and so the most noticeable symptom for us is kubelet on the host would start to show PLEG timeouts and the k8s node status keeps flapping between NotReady and Ready. It appears the containerd-shim responsible for the runc and the container stops respondin

[2020-04-14 20:55] dhawal55 commented on #2314
I have filed this issue under [moby](https://github.com/moby/moby) as well - [#40817](https://github.com/moby/moby/issues/40817)

[2020-04-14 23:32] kolyshkin commented on #2209
This is addressed by #2295 (we still need more tests though)

[2020-04-15 09:11] cenfei commented on #1716
hello , i don not konw ,how  to set runc  log path? can you help  me ?

[2020-04-15 14:23] kolyshkin commented on #2313
Might be related (need to check): https://github.com/opencontainers/runc/issues/1780

[2020-04-15 14:34] kolyshkin opened #2315 "cgroupv2 support meta issue"
This is a list of cgroupv2 issues and PRs needed to make cgroupv2 a first-class citizen in runc. This is in addition to https://github.com/opencontainers/runc/issues/2209.

| Issue description | PR | Status |
|---------|---------------|----------|
| add integration tests | https://github.com/opencontainers/runc/pull/2295 | :green_circle: merged |
| use "max" for negative values | #2272, #2300 | :g

[2020-04-15 17:49] AkihiroSuda commented on #2315
I'm not sure runc should force this, though Moby/Podman/containerd/CRI-O may force it.

[2020-04-15 19:08] cailca opened #2316 "s390x cgroupv2 runc error"
@AkihiroSuda @giuseppe @kolyshkin

Using the latest upstream kernel and runc. s390x could not start runc with cgroupv2.

runc spec
runc run root

WARN[0001] signal: killed
ERRO[0001] container_linux.go:349: starting container process caused "process_linux.go:439: container init caused \"process_linux.go:405: setting cgroup config for procHooks process caused \\\"error while setting cgroup v2: [can

[2020-04-15 19:16] AkihiroSuda commented on #2316
Rootful or rootless?
Also make sure `CONFIG_CGROUP_BPF=y CONFIG_CGROUP_DEVICE=y`

[2020-04-15 19:20] cailca commented on #2316
Just root. Having all the configs. The thing is that it passed for all other arches here except s390x.

# grep BPF linux/.config
CONFIG_CGROUP_BPF=y
CONFIG_BPF=y
CONFIG_BPF_SYSCALL=y

# grep CGROUP linux/.config
CONFIG_CGROUPS=y
CONFIG_BLK_CGROUP=y
CONFIG_CGROUP_WRITEBACK=y
CONFIG_CGROUP_SCHED=y
CONFIG_CGROUP_PIDS=y
CONFIG_CGROUP_RDMA=y
CONFIG_CGROUP_FREEZER=y
CONFIG_CGROUP_HUGETLB=y
CONFIG_CGROUP

[2020-04-15 19:22] AkihiroSuda commented on #2316
cc @estesp

[2020-04-15 21:43] #1627 closed

[2020-04-15 22:09] estesp commented on #2316
@alicefr do you know who might be able to look into this? @cailca what distro is running on your s390x partition?

[2020-04-15 22:25] cailca commented on #2316
RHEL 8.1+ but with the latest upstream kernel and runc.

[2020-04-16 01:16] #2298 closed

[2020-04-16 05:56] alicefr commented on #2316
Hi @estesp , I can try to reproduce it on my system. @cailca can you please describe a little bit more in detail which kernel have you used and how did you install it?

[2020-04-16 07:44] giuseppe commented on #2316
I think the issue is in the eBPF code.

runc probably needs the equivalent of: https://github.com/containers/crun/commit/07bae05e613df2086966a3f1d763729a8677f6a9

[2020-04-16 07:51] alicefr commented on #2316
ouch @giuseppe good catch!I'll have a try

[2020-04-16 09:42] alicefr commented on #2316
I was able to reproduce the issues on a Fedora 31 with default kernel and upstream runc. I'll have a closer look

[2020-04-16 10:47] cyphar commented on #1658
@geofft

There isn't a way to solve this within runc directly because you currently need privileges to mount an unmasked `/proc` (even one inside a dead pidns which is what Jessie's patches do). The reason it works with Kubernetes is that Kubernetes is running as root.

There is some current kernel work to introduce a `procfs2` (or perhaps `procfs` but with a special mount option) that would allow

[2020-04-16 11:43] alicefr commented on #2316
Strace output:
[code]

[2020-04-16 12:36] alicefr commented on #2316
@giuseppe I tried to apply the change you suggest:
[code]
but I still get the same behavior.

[2020-04-16 16:13] giuseppe commented on #2316
Are you able to run a different eBPF program on Fedora (e.g. `yum install -y bcc-tools && /usr/share/bcc/tools/execsnoop`)?

On x86_64 I had to disable secure boot for eBPF to work

[2020-04-17 06:14] alicefr commented on #2316
@giuseppe yes, I'm able to execute it without any further configurations.

[2020-04-17 07:27] alicefr commented on #2316
strace output
[strace-output.txt](https://github.com/opencontainers/runc/files/4491555/strace-output.txt)

[2020-04-17 07:30] alicefr commented on #2316
I also tried to run `crun` and that works without any problems. So, it must be an issue with runc

[2020-04-17 08:13] lifubang opened #2321 "leakage of cgroupv2"
Nowadays, the upstream of container runtime, such as docker, containerd and podman, don't join cgroup namespace by default. If we use cgroup v2, we can view the host's whole cgroup fs structure in the container.

How to reproduce:
1. use podman:
[code]
2. use runc:
[code]

So, if the upstream want to support cgroup v2, we need to force join cgroup namespace.
Further more, shall we need to consider

[2020-04-17 12:14] alicefr commented on #2316
it is an issue in the `https://github.com/cilium/ebpf `
I run a test:
[code]

[2020-04-17 12:23] alicefr commented on #2316
Open an issue in the ebpf repository https://github.com/cilium/ebpf/issues/86

[2020-04-17 12:27] lifubang commented on #2321
crun also have this problem:
[code]

[2020-04-17 12:49] AkihiroSuda commented on #2321
This is fixed on recent Podman which sets `--cgroupns=private` by default on cgroup v2 hosts.

[2020-04-17 12:49] giuseppe commented on #2321
I think the issue is in the version of Podman you are using.  Podman by default uses a cgroup namespace on cgroup v2.

If you still have the same issue after you upgrade Podman, please follow up on the https://github.com/containers/libpod issues tracker.

[2020-04-17 12:49] AkihiroSuda commented on #2321
Closing as this is not an issue on runc side.

[2020-04-17 12:49] #2321 closed

[2020-04-17 13:41] lifubang commented on #2321
What exactly I meat is:
Do we need to join cgroup namespace by default on cgroup v2.
We can provide a flag to let user to cancel this default set, for example `--nocgroupns`.

[2020-04-17 13:43] AkihiroSuda commented on #2321
Yes on higher level runtimes side (Docker/Podman), no on runc side.

`podman (docker) run --cgroupns=host=

[2020-04-19 02:26] kolyshkin opened #2328 "cgroupv2 checkpoint/restore is not working"
One reason it is not working is cgroupv2 mount (and BTW cgroupv1 mounts in case `--cgroupns` is used) should not be treated like (presented to criu as) external bind mount(s).

* cgroupv1 + cgroupns mounts are real mounts (having `fstype` of `cgroup`)
* cgroupv2 mount is a real mount (`fstype` is `cgroup2`)

There might be other bugs, too.

[2020-04-19 16:26] AkihiroSuda commented on #2209
this tracker was superseded by https://github.com/opencontainers/runc/issues/2315

[2020-04-19 16:26] #2209 closed

[2020-04-20 00:50] kolyshkin commented on #1721
@cyphar were you able to find something? I am currently looking into runc+criu tests and it is likely I am hitting the issue described. I guess this is also the reason for commit 5369f9ade by @filbranden

[2020-04-20 02:49] cyphar commented on #1721
No, I stared at the stall for a while and couldn't figure it out. My line of thinking was that there's something odd going on with how Go is copying the input, but this bug is so old I've forgotten where I got with debugging it. I can give it another shot though.

[2020-04-20 14:49] kolyshkin commented on #2328
I already have a patch to fix this, just need more time to create a PR

[2020-04-20 18:32] adrianreber commented on #2328
When I implemented the freezer CRIU cgroup2 changes for runc and CRIU it was still working. That was a few weeks ago.

The integration tests are actually running checkpoint/restore using vagrant-fedora-31 with cgroup2 in the container and outside of the container: https://github.com/opencontainers/runc/blob/master/libcontainer/integration/checkpoint_test.go#L86

I am certain I do not understand th

[2020-04-21 02:13] kolyshkin commented on #2328
@adrianreber I'll take a closer look at it, but I think I found (and fixed) a genuine bug, please see #2335. The reason it works in your case is that you explicitly set `Device` to `"cgroup2"`, while in case of runc run/checkpoint/restore it says `"cgroup"` since it is taken right from contig.json.

Maybe I need to redo my fix differently, changing "cgroup" to "cgroupv2" in case we're using v2 uni

[2020-04-21 08:36] AkihiroSuda commented on #2315
@kolyshkin Can we remove "force use of systemd driver if system runs systemd" ?

[2020-04-21 10:46] lifubang opened #2337 "systemd: ps/kill can't work when container is in stopped state"
How to reproduce:
[code]

[2020-04-21 15:10] AkihiroSuda opened #2339 "cgroup2: \"open /sys/fs/cgroup/cgroup.subtree_control: permission denied\"": unknown."
Rootless runc on cgroup v2 (but without actual cgroup control) seems to have got broken recently

[code]

[code]

[code]

[2020-04-21 15:14] AkihiroSuda commented on #2339
Regression in 813cb3eb94659971c69c0dd19b2d5a9737891f15   (#2299)

[2020-04-21 15:21] AkihiroSuda commented on #2339
PR: https://github.com/opencontainers/runc/pull/2340

[2020-04-21 22:01] AkihiroSuda commented on #2245
@kolyshkin WDYT?

[2020-04-21 22:32] kolyshkin commented on #2245
Frankly speaking, I do not see any added value in using pullapprove at all, since github has its own way to approve or reject changes, it's easy to use and the current approval status is clearly visible). It is also possible to re-request a review if a PR owner (or any maintainer) feels the recent changes in PR are major enough to do so (and by default it is working as @AkihiroSuda wants pullappro

[2020-04-22 07:09] lifubang opened #2344 "cgroup2/systemd: remove /sys/fs/cgroup/system.slice/runc-test.scope: device or resource busy"
When we don't use `pid` namespace or use pid namespace with path in `config.json`, we can reproduce it by steps:
[code]

[2020-04-22 07:11] lifubang commented on #2344
this is also fixed by #2331

[2020-04-22 09:29] djboris9 opened #2345 "Support time namespaces"
Hi there

Since Kernel 5.6 there is support for time namespaces using `CLONE_NEWTIME` (see `setns(2)`).
Support for it in `runc` would allow people to have different times in containers, which is useful for testing of time based services/jobs.

Currently we are doing it with [libfaketime](https://github.com/wolfcw/libfaketime) but the software which is being tested needs to be compatible with it.

[2020-04-23 09:31] 2qif49lt opened #2349 "enhance cpu-shares/cpus option"
When run a container with cpus=4 option in a machine with  lots of hard cores , the container's /proc/cpuinfo's content are same as machine's.

This is going to encounter trouble in some common sence like that C++ programer code `std::thread::hardware_concurrency` usually to fetch core numbser to start work threads.

As above,  programer mean to start 4  work threads  at most, but it boom in my K8

[2020-04-24 07:10] AkihiroSuda commented on #2249
@ahmedaabouzied Are you still working on this?

[2020-04-24 10:07] alicefr commented on #2316
So, we have a fix for runc. This requires a fix in the clium/ebpf library (a PR will follow) and this [fix](https://github.com/opencontainers/runc/pull/2350). This PR #2350 fixes the same issues as @giuseppe already reported.

[2020-04-24 11:58] ahmedaabouzied commented on #2249
Actually, I couldn't get any far with this.

[2020-04-24 15:47] #2328 closed

[2020-04-24 19:08] kolyshkin commented on #2349
Unfortunately, this is out of control of runc, since the /proc/cpuinfo file is served by the Linux kernel. As many `/proc` files, this one is not "virtualized" so it shows the same info as on the host.

You should use `sched_getaffinity(2)` syscall to get the number of cpus available. Check the `nproc(1)` utility.

[2020-04-24 19:08] #2349 closed

[2020-04-24 19:31] kolyshkin commented on #2349
Also, feel free to file a bug against libstdc++

[2020-04-24 19:37] kolyshkin commented on #2349
(or not, since it says "hardware" and returns the hardware cpus, while you are limited by linux kernel cpuset controller.

[2020-04-25 00:16] lifubang opened #2351 "cgroupv2: runc events is broken"
How to reproduce:
[code]

[2020-04-25 00:36] kolyshkin commented on #2315
done

I think there's something that needs to be done here, but I'm not yet quite sure what. Maybe if systemd is running but is not used by runc, runc should check that the cgroup path we're operating on is not managed by systemd (i.e. this cgroup or its parents were not created by systemd).

Anyway, I need to think more about it. Removed for now.

[2020-04-25 06:25] kolyshkin opened #2353 "SEGV in Vagrant CI"
We have seen a few runc SIGSEGVs recently on a Vagrant CI. Let's collect them here.

[2020-04-25 06:25] kolyshkin commented on #2353
This was found once while running CI for opencontainers/runc#2335. The complete error is here:
https://travis-ci.org/github/opencontainers/runc/jobs/678293808

This has happened while running the integration test on checkpointing (https://github.com/opencontainers/runc/blob/cdce577dcf751b5c18e228cf33f72ad5d095d281/tests/integration/checkpoint.bats#L194).

The bug happened here: https://github.com/

[2020-04-25 06:27] kolyshkin commented on #2353
This one happened when running CI for #2342.

Travis logs here:
https://travis-ci.org/github/opencontainers/runc/jobs/679155587

[code]

[2020-04-25 06:34] #2287 closed

[2020-04-26 10:09] Werkov commented on #2315
The systemd compatible way to use cgroupfs directly is if runc operates in a [delegated cgroup](https://systemd.io/CGROUP_DELEGATION/).

[2020-04-27 00:10] AkihiroSuda opened #2354 "make: "build flag -mod=vendor only valid when using modules""
[code]

moby/moby@4839b27a1fb9abcfb2142d46a6afe40bdf9f150b

- - -
Seems we should drop `-mod=vendor` when `GO111MODULE` is off

https://github.com/opencontainers/runc/blob/b19f9cecfe78573f634e7346f1c1e4fc85b62452/Makefile#L22

cc @kolyshkin

[2020-04-27 17:37] AkihiroSuda opened #2356 "cgroup2: how can we support nested containers with domain controllers?"
https://www.kernel.org/doc/html/latest/admin-guide/cgroup-v2.html#no-internal-process-constraint

http://man7.org/linux/man-pages/man7/cgroups.7.html

The constraint seems blocker toward supporting nested containers like dind and kind.

[code]

The situation is same on crun as well.

@giuseppe @kolyshkin @vbatts  Thoughts?
A workaround is to specify an entrypoint script that moves the processes in

[2020-04-27 20:06] kolyshkin commented on #2354
Fix is coming

[2020-04-28 04:20] #2339 closed

[2020-04-28 04:21] #2354 closed

[2020-04-28 17:47] #2313 closed

[2020-04-28 17:47] #2344 closed

[2020-04-28 17:50] kolyshkin commented on #2309
Fixed by #2331

[2020-04-28 17:50] #2309 closed

[2020-04-28 21:34] AkihiroSuda opened #2361 "`runc exec [tty consolesize]` fails locally (but passing on CI)"
[code]

host: Ubuntu 20.04, cgroup v2

- - -

Failing part:
https://github.com/opencontainers/runc/blob/0a4dcc020368421bfc0a7d28d8511f28c350b7b3/tests/integration/tty.bats#L131-L150

[2020-04-29 08:16] AkihiroSuda commented on #2208
This was added back recently

[2020-04-29 08:16] #2208 closed

[2020-04-29 08:18] AkihiroSuda commented on #2092
Is this still an issue on master?

[2020-04-29 08:18] #2092 closed

[2020-04-29 08:20] #1900 closed

[2020-04-29 08:21] #1860 closed

[2020-04-29 08:23] AkihiroSuda commented on #1782
`runc spec --rootless` is now documented in https://github.com/opencontainers/runc/blob/master/README.md#rootless-containers

[2020-04-29 08:23] #1782 closed

[2020-04-29 08:24] #1592 closed

[2020-04-29 08:25] AkihiroSuda commented on #1490
Is this still an issue?

[2020-04-29 08:25] #1490 closed

[2020-04-29 08:26] AkihiroSuda commented on #1486
https://github.com/opencontainers/runc/pull/1675 dropped the dependency

[2020-04-29 08:26] #1486 closed

[2020-04-29 08:27] AkihiroSuda commented on #1441
Should have been fixed on recent version

[2020-04-29 08:27] #1441 closed

[2020-04-29 08:30] AkihiroSuda commented on #952
Closing as outdated

[2020-04-29 08:30] #952 closed

[2020-04-29 08:30] AkihiroSuda commented on #858
Seems no longer flaky recent years

[2020-04-29 08:30] #858 closed

[2020-04-29 11:30] giuseppe commented on #2356
I think that is the correct solution and what systemd does.  Do you think it should be the OCI runtime responsibility to set it up?

[2020-04-29 12:46] cyphar commented on #2356
@brauner flagged this issue several years ago. Christian, what does LXC/LXD do in this case? I know we discussed a whole host of possible cgroup trees and ways to resolve them -- but I don't remember what the conclusion was.

This is definitely a philosophical question. *In theory* I would say no, because it affects other processes on the system in potentially bad ways (first of all, systemd -- bu

[2020-04-29 15:14] giuseppe commented on #2356
a related issue is how to exec into a container that creates a sub-cgroup.  I've seen the issue with systemd containers, as systemd automatically creates `/init.scope` and moves itself there.

What cgroup should we join on `runc exec $CTR`?  In crun I am using a hack to automatically create a sub-cgroup on `EBUSY`, but it doesn't feel right.  Should it be the cgroup for the first process in the cg

[2020-04-29 15:17] AkihiroSuda commented on #2356
:+1:

[2020-04-29 16:30] AkihiroSuda commented on #1713
Closing as outdated

[2020-04-29 16:30] #1713 closed

[2020-04-29 17:51] piowag opened #2365 "Reading information from blkio cgroup needs to be updated"
Since the creation of [runc/libcontainer/cgroups/fs/blkio.go](https://github.com/opencontainers/runc/blob/master/libcontainer/cgroups/fs/blkio.go), some sweeping changes took place in blkio cgroup in kernel source code, among them:

1. Introduction of new I/O scheduler - BFQ, since version 4.12 of linux kernel [#1](https://github.com/torvalds/linux/commit/aee69d78dec0ffdf82e35d57c626e80dddc314d5#d

[2020-04-30 01:03] AkihiroSuda commented on #2361
@cyphar PTAL?

[2020-04-30 01:04] AkihiroSuda commented on #2137
Ubuntu 14.04 reached EOL on April 30, 2019

[2020-04-30 01:04] #2137 closed

[2020-04-30 01:06] cyphar opened #2366 "cgroup: devices updates appear to be broken"
This affects both versions, but in quite different ways:

* [x] For cgroupv1, #2205 highlighted that on device cgroup updates, we temporarily block all devices. This results in spurious errors in the container (such as programs being unable to open `/dev/null`). We've seen this happen on customer systems under Kubernetes, so this is definitely a real issue.
  + This is actually a more complicated

[2020-04-30 01:15] cyphar commented on #2366
Fixing the white-list problem actually isn't too bad -- we just need to re-calculate the device list (merging entries which overlap with each other) rather than blindly applying the provided list of devices in-order.

[2020-04-30 01:24] AkihiroSuda opened #2367 "cgroup2: Revert "CreateCgroupPath: only enable needed controllers""
`CreateCgroupPath: only enable needed controllers` (4b4bc995ad4ee4679ffbe38f1672be01c24256fc) seems problematic toward supporting nested containers. (#2356)

As many controller s as possible should be always enabled.

cc @kolyshkin

[2020-04-30 01:28] cyphar commented on #2366
And actually this does bring up a different question -- what does `runc update` mean for devices? Does it mean that we should replace the list, or update the existing list? This is a slightly open question because `devices` is the only cgroup with this behaviour. I think replacing the list is simpler because it'll be harder to implement for cgroupv2 (we'd need to fetch the resource limits saved in

[2020-04-30 01:37] cyphar commented on #2356
For the moment (given runc's architecture) it should be the pid1, which we generally treat as "the source of truth" for the container state. This does mean that the information we currently store in `/run/runc/...` will need to be removed (and boy is that going to be **fun**).

<hr>

But for the sake of posterity (and I have mentioned this a few times over the years), using pid1 as the source of t

[2020-04-30 05:49] cyphar commented on #2361
I hate to ask, but do you have a `/dev/fd` on Ubuntu 20.04? The fact that `/dev/fd/63` (which is generated by bash) isn't working makes me a little worried that Ubuntu might have broken shell redirection? Can you do this on your box:

[code]

We could probably fix that test by using `<<<"..."` instead of two shell substitutions, but I'm far more interested in what on earth could be causing that br

[2020-04-30 13:37] develop-mental commented on #2039
I've also run into this issue; similar to @Aisuko, it presented on my Kubernetes worker node, which also showed PLEG and Kubelet failures. Node is running RHEL 7.6, Docker 18.09.9.

[2020-04-30 14:52] AkihiroSuda commented on #2361
Yes

Works

[2020-04-30 14:54] AkihiroSuda commented on #2361
bash version:
[code]

[2020-04-30 20:45] kolyshkin commented on #2361
Reproduced on Ubuntu 20.04 with `systemd.unified_cgroup_hierarchy=1` added to kernel cmdline.

* there is another test that uses `<(:)` construct and it works
* it also works from my shell script, but fails in the test for some reason

The reason is `bats`. Looking...

[2020-05-01 14:50] lifubang opened #2369 "cgroup2: can't set memory.swap.max to 0"
How to reproduce:
1. set memory limit in `config.json` like this:
[code]
set `swap`=`limit`, or `swap`=0
2. runc run -d test
3. look the value in `memory.swap.max`, it will get `max`, but not 0.

If we use `--systemd-cgroup`, we will also meet the same problem.

[2020-05-01 15:18] lifubang commented on #2369
And in memory section, the meaning of the value of swap is treated differently between v1 and v2, I also think we should fix this problem. @kolyshkin

[2020-05-01 15:19] vikramcse commented on #2246
@AkihiroSuda I would like to work on this issue (As my first contribution).

I read about `tmpfs` bind mounts, from which I understood that there are cases where we have to run a container in `—read-only` mode for security reasons, but there are some images (eg. postgres) which need a write access to a directory to make it run, in this use case we can use the `tmpfs` to mount as a write directory.

[2020-05-01 23:44] lifubang commented on #2369
I think if we set `swap: 0` or not set `swap`, we don't need to write "memory.swap.max".
But if we set `swap` equals to `limit`, and the value of `limit`>0, I think we need to write `0` to "memory.swap.max".

[2020-05-02 04:45] zhangyoufu commented on #2246
@vikramcse This issue is not about `--read-only` container. A `tmpfs` mount in `--read-only` container is writable by default. The use case you metioned (read-only postgres container with tmpfs mount) is not affected by this issue.

[2020-05-02 05:09] cyphar commented on #2246
Indeed, the issue appears to be one of operation ordering -- a tmpfs mounted as `ro` results in us trying to `chmod` it (even though it's read-only). I'll take a look at this on Monday.

[2020-05-02 05:13] vikramcse commented on #2246
@cyphar is there anything I could do to resolve this issue?

[2020-05-02 05:17] cyphar commented on #2246
The issue should be fairly easy to reproduce, so you could take a look at changing the section of `rootfs_linux.go` that is mentioned in the issue description (from a quick look, @zhangyoufu is correct about the source of the issue) so that we don't try to `Chmod` a read-only mount. As I mentioned, a good solution might be to first mount the filesystem read-write, then chmod, then re-mount it as r

[2020-05-03 01:24] AkihiroSuda commented on #2367
@kolyshkin WDYT?

[2020-05-03 13:41] tedyu opened #2376 "Remove previously added CriuDumpMount in case of error"
In linuxContainer#Checkpoint
[code]
When we return on err, previously added CriuDumpMount (in earlier iteration of the loop over c.config.Mounts) should be removed

[2020-05-03 13:41] tedyu commented on #2376
This is proposed change:
[code]

[2020-05-04 06:12] alicefr commented on #2316
Ebpf PR to fix registers on s390x: https://github.com/cilium/ebpf/pull/91

[2020-05-04 23:57] #2369 closed

[2020-05-06 06:26] danishprakash commented on #356
@harshitdaga It's probably way too late but just leaving this here.
Essentially, you don't create a new network namespace by removing the `network` entry from `namespaces` and then bind mount your host's `/ets/resolv.conf` inside the container:

[code]

[2020-05-06 06:36] alicefr opened #2383 "Enable travis to run arm64, ppc64le and s390x"
It might be useful to test runc for non-x86 architectures. Travis has the support for arm64, ppc64le and s390x. We can simply enable to run the tests also for other arches.

[2020-05-06 06:40] alicefr commented on #2383
Here the travis blog how to enable multiple cpu architectures: https://docs.travis-ci.com/user/multi-cpu-architectures/

[2020-05-06 07:48] giuseppe commented on #2366
I've played with it in crun and I think we can use pinning to the bpf file system to get back a fd to the previous eBPF program.

What do you think of the solution here: https://github.com/containers/crun/pull/352 ?

[2020-05-06 08:23] giuseppe commented on #2315
`GetOwnCgroup` is currently not supported for cgroup v2.  Do I open a new issue to track it?

[2020-05-06 23:48] kolyshkin opened #2385 "cgroup: separate v1 and v2 paths handling code"
Currently, `cgroups.Manager` interface type defines two methods that are specific to a particular cgroup version (everything else that's in there are currently equally applicable to both v1 and v2):

[code]

### v1-specific: GetPaths

Function `GetPaths()` is only used in cgroupv1 controllers, as they have multiple paths to different cgroups, for example:

[code]

There are two main users of this:

[2020-05-07 02:56] kolyshkin commented on #2385
Addressed by https://github.com/opencontainers/runc/pull/2386. As this one is not quite finished I'd rather close it now.

[2020-05-07 02:56] #2385 closed

[2020-05-08 02:49] Aisuko commented on #1628
Well, we still need some way to debug runC

[2020-05-08 03:42] kolyshkin opened #2388 "[proposal/rfc] Use github-native review process, say goodbye to pullapprove"
This is a proposal to get rid of pullapprove for this repository.

Pullappove was probably added when github did not have its own mechanism to do LGTMs. For quite some time, such a mechanism exists: https://help.github.com/en/github/collaborating-with-issues-and-pull-requests/approving-a-pull-request-with-required-reviews

There is also a mechanism to require a certain number of LGTMs before it is

[2020-05-08 03:48] AkihiroSuda commented on #2388
LGTM

[2020-05-08 03:51] #2351 closed

[2020-05-08 04:33] cyphar commented on #2366
Pinning is another fine solution to the issue (as much as I'm not a fan of how ugly the pinning system is). Another choice would be to use the lookup-by-id system but then we'd have to deal with IDs being able to overflow.

But while `BPF_F_REPLACE` is a good solution for 5.6+ kernels, for older kernels we need another solution -- my idea was to use a `BPF_MAP_TYPE_ARRAY_OF_ARRAY` so that we can a

[2020-05-08 04:45] #2163 closed

[2020-05-08 04:50] cyphar commented on #2388
Yeah, sounds reasonable -- not to mention that PullApprove seems to break depending on the phase of the moon. The only question is about self-LGTMs (a maintainer approving their own patch), which I don't know if GitHub has a mechanism to disallow. I wouldn't really mind dropping that rule, though I'd prefer not to drop it purely for technical reasons.

[2020-05-08 06:18] hqhq commented on #2388
SGTM

[2020-05-08 06:52] alicefr commented on #2316
cilium/ebpf#91 was merged. #2389 update the `github.com/cilium/ebpf` package

[2020-05-08 08:03] AkihiroSuda commented on #2315
Yes please @giuseppe

[2020-05-08 14:06] #2316 closed

[2020-05-08 16:01] caniszczyk commented on #2388
@cyphar I'm fine moving to the GitHub approach and dropping the rule, the community has changed over time and there seems to be a lot more trust now, we could move to the CODEOWNERS approach https://help.github.com/en/github/creating-cloning-and-archiving-repositories/about-code-owners

[2020-05-08 23:13] kolyshkin commented on #2388
I think we should have a rule of thumb that PR author's own LGTM does not count/matter, and follow this rule, but there is no need to automate it. From the other side, if there is a way to automate it I'm not against this either.

[2020-05-08 23:18] thaJeztah commented on #2388
GitHub supports that; can't approve your own PR's

[2020-05-09 07:27] RenaudWasTaken opened #2392 "SIGSEV when parsing invalid configuration"
Hello!

While writing some tests for runc, I stumbled upon a SIGSEV in how runc validates the spec.
This spec is very much invalid, but runc probably should just return an error :)

See below:
[code]

Hope this helps!

[2020-05-09 09:42] cyphar commented on #2392
There's a `spec != nil` check missing somewhere there.

[2020-05-10 00:16] lifubang opened #2394 "`runc update` broken in cgroup v2"
If we update a resource which did not limited in the beginning, it will
have no effective.
For example:
We use default `config.json` to create a container, and then run:
[code]
It has no error input, but actually it has no effective.

[2020-05-11 06:50] AkihiroSuda opened #2396 "add `shfmt` to CI"
We should validate indentation issues of shell scripts (mostly bats) in CI
https://github.com/moby/moby/blob/master/hack/validate/shfmt

[2020-05-11 09:30] oalexandru commented on #1720
Is it mandatory for the values of a secret to be encoded manually before? I find this quite strange, and also in the documentation about secret creation there's nothing related to this https://kubernetes.io/docs/concepts/configuration/secret/. My understanding was that the values get encoded automatically when the secret is created.

[2020-05-11 12:16] AkihiroSuda commented on #2356
How is a cgroup associated with a user namespace?

[2020-05-11 12:49] cyphar commented on #2356
It looks like this change requires modifying the state file for containers and switching to trusting the pid1 of the container. My comment was more generally about why it can be a little hairy to trust pid1 in that manner, and that we should work on improving that at some point. I wasn't saying that there's a particular issue in this case.

[2020-05-11 20:24] pkagrawal opened #2397 "specconv.CreateLibcontainerConfig doesn't honor spec.Process.NoNewPrivileges"
If the passed in `opts` to `CreateLibcontainerConfig` specifies the `NoNewPrivileges` flag under `Process`, it is not honored and the generated config doesn't set the flag appropriately.

[2020-05-12 06:05] #2397 closed

[2020-05-12 08:18] thaJeztah opened #2399 "Tag upcoming release as v1.0.1-rc.1 to fix go modules / SemVer comparison"
(Assuming we don't reach "GA" yet)

I was updating a dependency in a project using go modules, and noticed that the runc dependency was downgraded from `v1.0.0-rc10` to `v1.0.0-rc6` (a version specified in another dependency). Scratching my head why `v1.0.0-rc9` "stuck", but `v1.0.0-rc10` was "ignored" by go modules, I had a 🤦 moment, and recalled that the runc pre-release tags are missing a dot s

[2020-05-12 09:00] cyphar commented on #2399
While this is a correct implementation of SemVer, and it does match the behaviour described in the spec (though it is quite strange since I've never seen `1.x.y-rc.z` in any project, despite many projects using SemVer -- and `sort -V` does work properly):

I don't think doing a `1.0.1-rc.1` release is reasonable. Honestly, I'd be happier to go back and rename all of the releases (or make `rc10` `r

[2020-05-12 09:26] thaJeztah commented on #2399
It won't help with `-rc10`, but any project that would depend on `v1.0.1-rc.1` would not be _downgraded_ to `v1.0.0-rc9` (or lower). I considered adding new tags for each existing rc (`v1.0.0-rc1 -> v1.0.0-rc.1` and so on), but those new versions would be considered _lower_ than `rc1`; https://semvercompare.azurewebsites.net/?version=1.0.0-rc1&version=1.0.0-rc2&version=1.0.0-rc10&version=1.0.0-rc.

[2020-05-12 10:14] dims commented on #2399
I agree @thaJeztah it will trip up people if they are not paying close attention and hard to deal with using go modules as well.

[2020-05-12 11:22] cyphar commented on #2399
My suggestion would be to just rename all of the releases -- since this only really affects go modules we just need to change the names of the tags (distributions don't care because they use `sort -V` order).

I wasn't trying to say it wasn't a problem, just that releasing a post-`1.0.0` release over this when compared to all of the other reasons why we've had to delay `1.0.0` does make this reaso

[2020-05-12 11:37] thaJeztah commented on #2399
Moby/Docker uses CalVer, so it would not be compatible anyway (well, until you have a `v17.12.x` release, and go modules thinks that's SemVer 😓))

I know containerd follows the SemVer notation (https://github.com/containerd/containerd/releases/tag/v1.3.0-rc.0), although there's still the discrepancy between SemVer and "go" SemVer (which requires the `v` prefix, which is explicitly [_not_ a SemVer

[2020-05-12 12:00] cyphar commented on #2399
Ah, right. Well then there's always the nuclear option -- tag `1.0.0-rc90` right now as being the same as `1.0.0-rc10` and then make `rc11` be `rc91`. That way we don't need to skip over `1.0.0` and we don't touch the old releases -- it's just that the `rc10` release becomes defunct as everyone uses the `rc90` release instead.

[2020-05-12 12:24] thaJeztah commented on #2399
tbh, the diff between `v1.0.0-rc1` and `v1.0.0-rc10` is so big, that there's no relation whatsoever between them (it'd almost qualify as `v2.0.0`) 😂

That should work; assuming we're confident that we don't reach `-rc100` 😬  as that would be lower than `-rc2` again

https://semvercompare.azurewebsites.net/?version=1.0.0-rc1&version=1.0.0-rc2&version=1.0.0-rc9&version=1.0.0-rc10&version=1.0.0-rc90&

[2020-05-12 12:52] cyphar commented on #2399
That's when we roll out `rc990`. But I agree, let's hope it never comes to that.

[2020-05-12 13:02] cyphar commented on #2399
@opencontainers/runc-maintainers Are there any objections to the above plan? I've already got an `-rc90` tag ready and waiting.

[2020-05-12 13:15] dims commented on #2399
rc990 LOL!!! good one

[2020-05-12 13:16] AkihiroSuda commented on #2399
:confused:

Can we just switch away from "rc" to another string. e.g. `v1.0.0-milestone.11` or `v1.0.0-rtm.11`

[2020-05-12 13:17] AkihiroSuda commented on #2399
Or just give up the v1.0.0 dream and release `runc v11`.
This might be the best for reflecting the reality.

[2020-05-12 13:21] AkihiroSuda commented on #2399
Or if we can release the `v1.0.0` in a month, I think we can just close this issue and call it a day.

[2020-05-12 13:30] thaJeztah commented on #2399
`milestone` would be `<` `rc` (alphabetically). I was thinking along those lines as well, but would be equally confusing I think. That's why my first suggestion was to skip `v1.0.0` and use `v1.0.1-rc.X`.

[2020-05-13 01:02] cyphar commented on #2388
Oh, in that case I'm 100% on board for this. I'm not sure if we need formal LGTMs for something like this, I could go enable it now.

[2020-05-13 01:08] cyphar commented on #2399
The issue is our existing release (`rc10`) is already causing this issue. At the very least we should have an `rc90` alias purely to stop people from downgrading their `runc` go modules.

[2020-05-13 01:42] kolyshkin commented on #2399
`rtm` looks good. I.e.
[code]

`rc90` is OKish, too, but I like rtm more since we don't have to jump the number.

[2020-05-13 01:44] AkihiroSuda commented on #2399
But it is not really "RTM" ¯\_(ツ)_/¯

[2020-05-13 01:50] cyphar commented on #2399
I mean, let's just admit it and call it `1.0.0-runc.11` ;)

[2020-05-13 02:23] kolyshkin commented on #2399
We can call it `1.0.0-sigma.11` without admitting anything :)

[2020-05-13 05:47] thaJeztah commented on #2399
`v1.0.0-real-rc.11`, `v1.0.0-really-almost-there.1` or `v1.0.0-remember-to-add-a-.11` should all work 😂🤣

[2020-05-13 07:25] cyphar commented on #2399
My vote is `v1.0.0-really-sorry-but-still-an-rc.11`. In all seriousness, I'll bring this up at the OCI call tomorrow.

[2020-05-13 09:13] thaJeztah commented on #2399
Thanks @cyphar! (Just trying to keep a bit of "fun" in the situation)

[2020-05-13 21:27] kolyshkin commented on #2367
Enabling a controller should negatively affect performance (since some accounting for the resource(s) controlled are to be done by the kernel) -- even in the case no limits are set.

So, this is a trade-off between best performance and versatility. Ideally, I'd like it to be configurable (i.e. there should be a way to just enable a controller but do not set any limits, which is currently impossibl

[2020-05-13 21:44] kolyshkin commented on #2376
I don't see a problem here. Those mounts are added to a local variable `req := &criurpc.CriuReq` which goes out of scope as soon as we return, so I don't see a need to change anything here.

@adrianreber PTAL?

[2020-05-13 21:46] #2376 closed

[2020-05-14 00:57] #2204 closed

[2020-05-14 02:22] kolyshkin commented on #2361
Here's a minimal repro:

[code]

Here `false` is added for the test to fail and bats to show the collected stderr.

Here is how it works:

[code]

The presence of fd 63 is random. Uncommenting `echo` line in `check()` decreases the chances of showing it in `ls` output.

Same code without bats works just fine all the time.

[2020-05-14 02:24] AkihiroSuda commented on #2361
Why don't we hit this on CI?

[2020-05-14 02:28] kolyshkin commented on #2361
Found it :)

Fedora 32 comes with bash 5.0.11.

Ubuntu 20.04 comes with bash 5.0.16. The `patch 16` is this one:
http://ftp.gnu.org/gnu/bash/bash-5.0-patches/bash50-016

I think this is the source of the problem we are seeing (but not yet sure how bats magnifies it).

Now, `patch 17` from the bash 5.0 presumably fixes this: http://ftp.gnu.org/gnu/bash/bash-5.0-patches/bash50-017

Unfortunately at

[2020-05-14 02:38] kolyshkin commented on #2361
Filed https://bugs.launchpad.net/ubuntu/+source/bash/+bug/1878517

[2020-05-14 02:51] cyphar commented on #2361
I would guess the reason why we hit this with `bats` in particular is because of the large amount of awful shell nesting done inside `bats` -- which is what [the original reproducer](https://lists.gnu.org/archive/html/bug-bash/2020-03/msg00062.html) did.

[2020-05-14 06:05] AkihiroSuda opened #2403 "cgroup2: Manager.Destroy() should recursively delete subgroups"
[code]

[code]

`Manager.Destroy()` should recursively delete subgroups.

[2020-05-14 07:20] chrischdi opened #2404 "runc has problems due to leaked mount information"
I'm coming over her by debugging https://github.com/kubernetes/kubernetes/issues/91023 together with containerd v1.3.4 which ships runc:
[code]

We have identified that there is some kind of leak of cgroup mounts which result in e.g. the following lines in `/proc/self/mountinfo`:
[code]

When such a leak does exist, runc tries to use use a wrong cgroup during `libcontainer/rootfs_linux`'s `prepare

[2020-05-15 01:08] AkihiroSuda commented on #2361
Thanks

[2020-05-15 01:08] #2361 closed

[2020-05-15 05:21] JFHwang commented on #2392
Hello!
I am new to contributing to open source, but if possible, I would like to try to tackle this issue.

[2020-05-18 23:11] #2392 closed

[2020-05-19 13:03] AkihiroSuda commented on #2356
PR: https://github.com/opencontainers/runc/pull/2416

[2020-05-19 13:33] AkihiroSuda opened #2417 "tests: stop using sed for manipulating JSON"
https://github.com/opencontainers/runc/blob/f369199ff61bafdb91b5308d8b30cb4c18270bd9/tests/integration/helpers.bash#L155-L158

The current sed scripts are hard to maintain, should be substituted with `jq` as in: https://github.com/opencontainers/runc/blob/f369199ff61bafdb91b5308d8b30cb4c18270bd9/tests/integration/helpers.bash#L87-L95

[2020-05-19 22:30] DevasiaThomas opened #2421 "Is there a way to identify if the container was started as a privileged one using runc list -f json or runc state"
I had a similar question in crio https://github.com/cri-o/cri-o/issues/3769 and they don't support it right now, but the PR is on the way, I wanted to know if I could Identify if a container was privileged at the runc layer.

[2020-05-19 22:35] JFHwang commented on #2417
Hello, I'm interested in taking on this issue. Is it alright for me to start?

[2020-05-19 22:35] DevasiaThomas commented on #2421
Even if it is some other way, I hope so. Since docker did support showing that info, I'm expecting runc to have it. just don't know where to look.

[2020-05-19 22:44] AkihiroSuda commented on #2417
Yes please, thanks

[2020-05-19 23:49] AkihiroSuda commented on #2421
There is no single "privileged" boolean in OCI Runtime Spec

[2020-05-19 23:49] #2421 closed

[2020-05-19 23:53] DevasiaThomas commented on #2421
Okay, if a docker created container has privileged on it, how can I identify that from the runc layer?
Similarly k8s has securityContext which allows you to specify privileged in one word, how does that translate down to the runc layer?

[2020-05-19 23:57] AkihiroSuda commented on #2421
https://github.com/containerd/containerd/blob/v1.4.0-beta.0/oci/spec_opts.go#L1127-L1137

[2020-05-20 00:28] DevasiaThomas commented on #2421
@AkihiroSuda Thanks for pointing out the privileges that are applied. Can these be queried for using the runc cli against a running container? I had a look at list and state and couldn't find them

[2020-05-20 00:30] AkihiroSuda commented on #2421
You need to query `config.json`

[2020-05-20 00:40] DevasiaThomas commented on #2421
So direct file interaction and not through the runc cli?

[2020-05-20 00:48] AkihiroSuda commented on #2421
Yes

[2020-05-20 02:38] DevasiaThomas commented on #2421
Thanks @AkihiroSuda . Anyway you can add this to runc state or somewhere relevant? the way crio is adding to inspect? I know you mentioned that its not in the Spec(crio did too - but they have a PR now), but from a user perspective that wants to introspect if the "privileged" context they applied in their yml file has been applied to the container, wouldn't it be easier if there was a key privileg

[2020-05-20 02:44] AkihiroSuda commented on #2421
No, should be handled by crio

[2020-05-20 02:53] DevasiaThomas commented on #2421
Cool alright. Thanks :)

[2020-05-20 15:55] kolyshkin opened #2425 "TestExecInTTY: execin_test.go:351: unexpected carriage-return in output"
During the course of CI for #2411 I saw a single failure from Fedora32 on Vagrant ([logs here](https://travis-ci.org/github/opencontainers/runc/jobs/689070268)):
[code]

It only happened once, and so I suspect some race in the code or in the test. The test code comes from #1146.

@cyphar maybe you could take a look?

[2020-05-20 15:59] kolyshkin commented on #2417
Been meaning to address that, too, but for some reason it did not went well for me (don't remember any details now).

[2020-05-20 16:01] kolyshkin commented on #2417
@JFHwang sure. The things we're looking for are
 - use `jq` for config.json manipulation
 - move common stuff into helper functions
 - increase code readability

[2020-05-20 16:05] kolyshkin commented on #2404
The leaked mounts are most probably the result of wrong mount propagation used.

The bug it causes might be workarounded by making `GetCgroupMounts` prefer the standard paths, i.e. `/sys/fs/cgroup/$controller`. I will look into it.

[2020-05-22 05:41] chrischdi commented on #2404
Hi @kolyshkin , with wrong mount propagation: Is there something we can do about it?
We are using kubernetes and the problem occurs only on the CSI Nodeplugin, which needs to have `bidirectional` mount propagation for `/var/lib/kubelet` and `HostToContainer` for `/dev`.

The first one is needed, because the CSI plugin does do mounts for other containers (prior to the other pod starts) and I think

[2020-05-25 04:56] #2394 closed

[2020-05-25 10:44] AkihiroSuda opened #2430 "support seccomp flags such as SECCOMP_FILTER_FLAG_SPEC_ALLOW (OCI Runtime Spec v1.0.2)"
OCI Runtime Spec v1.0.2 supports specifying three seccomp flags: `SECCOMP_FILTER_FLAG_TSYNC`, `SECCOMP_FILTER_FLAG_LOG`, and `SECCOMP_FILTER_FLAG_SPEC_ALLOW` (https://github.com/opencontainers/runtime-spec/commit/d1ef109cd0b39239ff82c267df314f7ed2da576b).
However, these flags are currently unimplemented by runc (but implemented by crun).

Notably we should support `SECCOMP_FILTER_FLAG_SPEC_ALLOW`

[2020-05-25 10:46] AkihiroSuda commented on #2430
cc @KentaTada

[2020-05-25 12:26] KentaTada commented on #2430
@AkihiroSuda
I think https://github.com/seccomp/libseccomp-golang needs to support SECCOMP_FILTER_FLAG_SPEC_ALLOW at first.I'll create the issue in https://github.com/seccomp/libseccomp-golang

In addition to that, we may need to consider disabling IBPB/STIBP if the goal of this issue is to improve the performance impact on bytecode interpreters.Below is the related commit from enroot.
https://git

[2020-05-25 13:07] KentaTada commented on #2430
libseccomp v2.4.3 which is the latest release does not include `SCMP_FLTATR_CTL_SSB`
crun does not use libseccomp but runc uses it.
We need to wait for next release of libseccomp.

[2020-05-25 13:47] jedichen121 opened #2431 "Cannot run SCHED_FIFO process inside runc"
I was trying to run a SCHED_FIFO process inside the container. I was able to achieve that by adding "CAP_SYS_NICE" to the capabilities in config.json file on my XPS 13 laptop running ubuntu 18.04. However, I did the same on Raspberry Pi 3B running Raspbian stretch 4.14. But here inside runc it does not have the permission to set real-time scheduler for the process. I tried to use "CAP_SYS_ADMIN" b

[2020-05-25 19:37] kolyshkin commented on #2396
This is going to be a problem with bats files, and bats is not exactly shell. In particular, it complains like this:

since it does not recognize

as a function.

Surely we can find some workaround such as replacing `@test "some thing"` lines with `function some_thing()` and then replacing it back....

[2020-05-26 01:20] cyphar commented on #2396
This is why I'm personally a bit worried about re-adding `shfmt` to the CI -- the "shell files" we want to test are actually not normal shell programs, and in addition we've had problems with `shfmt` changing their "best practice" rules in the past (breaking the CI). This might not be a problem anymore, but we should keep it in mind.

[2020-05-26 01:33] KentaTada commented on #2430
FYI:

NVIDIA/enroot@1f0c9ce#diff-0cfa9b5d3d6e047420d58d5cb1836a40R172

I quickly confirmed the impact of disabling IBPB/STIBP using modified runc which added unix.Prctl() before unix.Exec() from libcontainer/standard_init_linux.go.

- runc which enabled IBPB/STIBP on my environment
[code]
- runc which disabled IBPB/STIBP on my environment using unix.Prctl()
[code]

We can improve the performance w

[2020-05-26 04:10] cyphar commented on #2431
You probably need to set `cpu.rt_period_us` and `cpu.rt_runtime_us` settings in your `config.json`. Depending on the host configuration, RT processes (such as your `SCHED_FIFO` process) need to explicitly have time allocated to their cgroup. You might want to check what the sysctl values of `kernel.sched_rt_runtime_us` and `kernel.sched_autogroup_enabled` are. If autogroup is disabled (but `kernel

[2020-05-26 06:50] DevasiaThomas opened #2432 "runc exec -u 0 <containerID> sh -c "ps ax""
I'm having trouble getting the output from the above command across environments
I execute the above in 2 different envs
The First:
[code]
Executing the above has no output
The Second:
[code]
Executing the above command returns expected output

Am I doing something wrong? Or was this a bug? Anyway I can get around this?

[2020-05-26 07:56] AkihiroSuda commented on #2432
Should be asked to Red Hat support

[2020-05-26 21:37] jedichen121 commented on #2431
Thank you for the reply. I think you mean the settings in `proc/sys/kernel/sched_rt_runtime_us` and `proc/sys/kernel/sched_autogroup_enabled`? I checked but the settings are the same on two machines. `sched_autogroup_enabled` is enabled and `sched_rt_runtime_us` is set to 950000. But you reminded me that I have `CONFIG_RT_GROUP_SCHED` turned on on the Raspberry pi but not the laptop. This seems to

[2020-05-26 21:37] #2431 closed

[2020-05-26 23:02] cyphar commented on #2431
Ah right, all of my comment was assuming you had `rt_cgroup` (`CONFIG_RT_GROUP_SCHED`) enabled on both machines (given it's enabled by most distribution kernels). Having `rt_cgroup` disabled means that all of the realtime cgroup-related rules aren't applied.

[2020-05-27 14:57] baffinch commented on #1720
Also an un-encoded secret for me too, thanks!

[2020-05-27 17:09] mrunalp opened #2435 "Establish a release cadence for runc"
We have a lot of new cgroups v2 related fixes that are going into runc, but we haven't cut any releases in a while. I think we should establish a release cadence, so that consumers can pick updates frequently without having to absorb a huge number of changes as they will have to with the next release or having to pin to arbitrary commits from the master branch in between releases.

I think we shou

[2020-05-27 17:17] kolyshkin commented on #2435
I support this. Something like a monthly, bi-monthly, or a quarterly release schedule totally makes sense.

[2020-05-27 19:11] kolyshkin opened #2436 "systemd cgroup drivers should not delegate everything to fs drivers"
Currently, systemd cgroup drivers (both v1 and v2) set systemd unit parameters (for those parameters that systemd supports), and then unconditionally fall back to fs driver, setting all the parameters again by writing to corresponding cgroup files.

There should be no such duplication, i.e. cgroup drivers should fall back to fs drivers only for parameters which are not supported by systemd. Otherw

[2020-05-27 22:50] #2403 closed

[2020-05-27 22:53] cyphar commented on #2435
I'm :+1: on a bi-monthly release schedule, and the complete removal of the voting system for releases. However, I'm not sure it's a good idea to do this before `1.0.0` -- purely because I don't want to end up with 6 more RCs. Once we get #2229 we can move as quickly to `1.0.0` as possible an then establish a proper release schedule.

[2020-05-27 23:07] AkihiroSuda commented on #2435
Let's make sure to support nesting (https://github.com/opencontainers/runc/pull/2416) before rc11, otherwise downstream projects can't setup CI in a straightforward way

[2020-05-27 23:29] mrunalp commented on #2435
@cyphar I am a strong :+1: on removing the voting system for releases, but agree with the plan of getting 1.0.0 out first.
 I have left review comments on #2229 and tested/reviewed #2416 as well. I would appreciate if others review #2229 as well so we can get to 1.0.0 and a bi-monthly release cadence. Thanks!

[2020-05-28 01:13] AkihiroSuda commented on #2399
What's the conclusion?

[2020-05-28 04:36] mrunalp commented on #2399
I propose that we cut one more rc after #2229 , let other projects soak it, fix bugs if any and then call it 1.0.0 after a couple of weeks.

[2020-05-28 07:12] cyphar commented on #2399
Right, but the issue is we need to switch to proper SemVer /somehow/. My vote is still for `rc90` because it doesn't require anyone to change how they're dealing with the rc releases (it just looks like we've done 80 of them in one go).

[2020-05-28 14:02] mrunalp commented on #2399
Agree that `rc90` is least disruptive for the next release.

[2020-05-28 20:50] AkihiroSuda commented on #2367
resolved in https://github.com/opencontainers/runc/pull/2395

[2020-05-28 20:50] #2367 closed

[2020-05-29 11:34] katarzyna-z opened #2440 "There is no cpuacct.usage_all file in CentOS 7"
There is no cpuacct.usage_all file in CentOS 7. Reading of cpuacct.usage_all was introduced in #2271.
Issue observed on:
Operating System: CentOS Linux 7 (Core)
Kernel: Linux 3.10.0-1062.18.1.el7.x86_64

I provide a fix for this issue in next week.

[2020-05-29 21:44] kolyshkin commented on #2435
I have some backward-incompatible changes in #2411 which should really go in before 1.0.0.

One other thing that needs to be done before 1.0.0 is reviewing the API (i.e. all the public identifiers) and moving the stuff that is not supposed to be used outside of runc into `internal` packages. I haven't even started on that so I assume this should take a few months, meaning we'll need another rc.

[2020-05-29 21:46] kolyshkin commented on #2345
runc should not support timens directly, this feature is aimed mostly for stuff like checkpoint/restore (so that the system time won't jump forward in the restored container). Maybe @avagin can chime in, too.

Feel free to discuss it further, but I'm closing this for now

[2020-05-29 22:01] kolyshkin commented on #2388
OK, I am going forward with this.

Note that now the `LGTM` should not be a mere comment, but rather a selection in the "review changes" dialog (the "review changes" button in the top-right corner while viewing commits).

[2020-05-30 03:16] cyphar commented on #2435
Or we can simply state that the Go API is not something we support people using directly, and that only the CLI API follows SemVer. The fact that Go doesn't allow us to make the entire thing private is I think enough justification for us to be able to say that (even in "internal" packages, anybody could import one of those packages). If you want an actual `internal` package, I can easily post a PR

[2020-05-30 04:23] AkihiroSuda opened #2444 "Add Vagrant CI for several distros (e.g. CentOS 7)"
- [X] Ubuntu 18.04 (Travis)
- [X] Fedora 32 (Vagrant on Travis)
- [x] CentOS 7 (Vagrant on Travis): https://github.com/opencontainers/runc/pull/2453

[2020-05-30 10:36] dims commented on #2435
@cyphar happy take on any ideas/suggestions to do on kubernetes side. echo-ing what @derekwaynecarr said before in https://github.com/opencontainers/runc/pull/2364#issuecomment-628089756

[2020-05-30 11:44] #2388 closed

[2020-05-30 11:45] cyphar commented on #2388
It looks like you enabled "Require branches to be up to date before merging" -- this is a change in the merging rules (and means that we will always have to ask users to rebase before we merge). I'm not against having a policy like that, but that's a separate topic to the switch away from PullApprove. So I've disabled it.

[2020-05-30 18:25] kolyshkin commented on #2404
One other approach to workaround it would be to check the `parent ID` field (second field in /proc/self/mountinfo` to be the same for all mounts (or to be equal to the `mount ID` field of `/sys/fs/cgroup` mount.

I still don't understand why `GetCgroupMounts` is not picking up the first mount. I know there is a race in the kernel when it comes to serving /proc/self/mountinfo (and similar files) --

[2020-05-30 20:47] kolyshkin commented on #2388
@cyphar thanks, I enabled that one by mistake.

[2020-05-31 08:35] chrischdi commented on #2404
When I debugged into it I have seen that the entries in `/proc/self/mountinfo` were ordered in another way, compared to when I did a simple `cat /proc/self/mountinfo`. But I also don't know why the output was not the same.

[2020-05-31 08:42] cyphar commented on #2388
Yeah, I guessed as much. :wink:

[2020-05-31 15:50] #2356 closed

[2020-06-01 01:49] kolyshkin commented on #2404
In fact we should always use /sys/fs/cgroup, this seems to be the de-facto standard these days. It will still be interesting to see /proc/self/mountinfo where other cgroup entries precede those with /sys/fs/cgroup mountpotint.

[2020-06-01 08:39] AkihiroSuda opened #2447 "[rootless+cgroup2+CRI] runc did not terminate successfully: lstat /sys/fs/cgroup/user.slice/user-1001.slice/user@1001.service/user.slice/cri-containerd-<id>.scope: no such file or directory\n: unknown""
`crictl stop` fails  on rootless + cgroup2 (systemd) + containerd + runc @ 0f7ffbebeb9e3e697dd0efc6f4ab9dc14054960e . The issue does not happen on crun v0.13.
## Host
Ubuntu 20.04, systemd 245 (245.4-4ubuntu3.1), kernel `5.4.0-33-generic #37-Ubuntu`
## containerd log
[code]

## repro
https://github.com/AkihiroSuda/critest-rootless-cgroup2/tree/v0.0.2

[code]

Test with crun (succeeds):
[code]

Tes

[2020-06-01 09:05] cyphar commented on #2447
Wouldn't hurt to do `bpftrace -e 'kprobe:do_rmdir { printf("%s[%d] rmdir(%d, '%s')\n", comm, tid, arg0, str(arg1)); }'` to find out what is removing the cgroup path.

[2020-06-01 09:46] AkihiroSuda commented on #2447
@cyphar
systemd seems deleting the dir when `crictl stop` was executed.
[code]

[2020-06-01 10:15] AkihiroSuda opened #2448 "Support "run.oci.systemd.subgroup" annotation (at least the default ones)"
https://github.com/containers/crun/blob/a4f4fb90835bb79cd12bafb14a5b3d3f55edd7c6/crun.1.md#runocisystemdsubgroupsubgroup

To avoid diversion across runc and crun, we should use `"container"` subgroup by default on cgroup2.

[2020-06-01 12:26] AkihiroSuda commented on #2448
@giuseppe @kolyshkin Do you think this should be in rc90 (rc11)? or rc91 (rc12)?

[2020-06-01 13:14] cyphar commented on #2447
Yeah that was my hunch. It might be that systemd detects the cgroup is empty and auto-removes it (not sure if that's a thing) or we call `StopUnit` and systemd decides to remove the cgroup for us. Does this happen with the systemd cgroup driver or the cgroupfs one?

[2020-06-01 13:16] AkihiroSuda commented on #2447
systemd

[2020-06-01 14:07] giuseppe commented on #2448
I am not sure it makes sense for runc.  For crun I've added the `/container` suffix because cgroups are handled differently.  crun uses systemd only to create and delegate a cgroup, that is managed by cgroupfs.  crun never uses the d-bus properties for dealing with systemd cgroups.  Systemd allows to write only to sub-cgroups, even when they are delegated, so adding the suffix was a forced choice.

[2020-06-01 14:22] cyphar commented on #2447
My guess is this is where the issue is coming from (from `libcontainer/cgroups/systemd/v2.go` in `Destroy`). Maybe we should just do `os.Remove` and ignore any errors.

[code]

[2020-06-02 02:17] AkihiroSuda commented on #2448
@giuseppe Thanks for clarification, I can close this issue then. Any chance to let crun follow the runc convention (no `/container` subgroup on v2)? If not, could you add the difference to crun documentation?

[2020-06-02 03:02] cyphar commented on #2399
I've pushed v1.0.0-rc90 as a tag for v1.0.0-rc10 (a reminder that the the issue is that rc10 already has triggered this problem). So v1.0.0-rc91 will be v1.0.0-rc11.

[2020-06-02 03:02] #2399 closed

[2020-06-02 03:07] AkihiroSuda commented on #2399
@cyphar could you add release note (https://github.com/opencontainers/runc/issues/2399#issuecomment-627328348) ?

[2020-06-02 03:07] cyphar commented on #2399
Yeah, just did it. :D

[2020-06-02 03:08] cyphar commented on #2399
Yup, I was editing them just as you posted your comment. :wink: https://github.com/opencontainers/runc/releases/tag/v1.0.0-rc90

[2020-06-02 05:05] AkihiroSuda commented on #2447
The error seems happening during `runc kill`, not `runc delete`

[code]

[code]

[2020-06-02 05:35] lifubang commented on #2447
maybe related to #2337

[2020-06-02 05:44] AkihiroSuda commented on #2447
Thanks @lifubang , yes, this is a dupe of #2337 and will be fixed by https://github.com/opencontainers/runc/pull/2338 .

[2020-06-02 05:44] #2447 closed

[2020-06-02 06:20] AkihiroSuda commented on #2345
I think runc can support timens directly. Having different clocks across containers would be very useful for Jepsen(-ish)  testing.

[2020-06-02 06:56] thaJeztah commented on #2399
It's a SameVer release

[2020-06-02 07:37] AkihiroSuda opened #2450 "[rootless+"privileged"] creating device nodes caused: open /..<snipped>../dev/tty: no such device or address"
On rootless+cgroup2(systemd)+CRI, creating a "privileged" container (which is not really privileged) fails with `creating device nodes caused: open /..<snipped>.../dev/tty: no such device or address`.

This error is not reproducible with `docker (podman) run --privileged`.

The repro step is same as https://github.com/containers/crun/issues/382 but the error is different.

## Repro

https://github

[2020-06-02 07:55] AkihiroSuda commented on #2450
Reproducible without `ctr` as well:
https://github.com/AkihiroSuda/critest-rootless-cgroup2/tree/v0.0.4
[code]

[2020-06-02 08:31] cyphar commented on #2345
I agree, though the only annoyance is that we'd need to have a different configuration mechanism for `timens` than any of the other namespaces -- because the canonical way to configure `CLONE_NEWTIME` is with the `clone_args` passed to `clone3`. So we'd also need to port `nsexec.c` to `clone3` but that's something we were going to have to do anyway (and `clone3` is objectively much nicer than `clo

[2020-06-02 18:05] #2440 closed

[2020-06-02 18:09] kolyshkin commented on #2444
We might also need to add a semi-recent Ubuntu, as I recently found out we're not running the tests on a system with no mem+swap limit (https://github.com/opencontainers/runc/pull/2439).

Note that CentOS 7 has this controller (see e.g. https://access.redhat.com/documentation/en-us/red_hat_enterprise_linux/7/html/resource_management_guide/sec-modifying_control_groups)

[2020-06-02 18:38] AkihiroSuda commented on #1480
Closing as this is not likely to happen.

[2020-06-02 18:38] #1480 closed

[2020-06-02 18:38] AkihiroSuda commented on #1062
Closing as outdated.

[2020-06-02 18:38] #1062 closed

[2020-06-02 18:40] AkihiroSuda commented on #2046
I'm hitting this as well on CentOS 7.
@Ace-Tang Did you find the cause?

[2020-06-02 20:41] DevasiaThomas commented on #2432
@AkihiroSuda I was trying to execute runc from within a privileged container, and turns out it needed some SELinux label adjustments. from container_t to spc_t, the pipes were being denied

[2020-06-02 20:41] #2432 closed

[2020-06-03 08:00] AkihiroSuda commented on #2046
PR https://github.com/opencontainers/runc/pull/2454

[2020-06-03 08:19] AkihiroSuda commented on #2444
@kolyshkin
GH actions seems supporting Ubuntu 20.04 (as well as 18.04 and 16.04) without nesting: https://help.github.com/en/actions/reference/virtual-environments-for-github-hosted-runners

[2020-06-03 16:41] AkihiroSuda opened #2456 "cgroup2: `runc update --cpu-quota` w/o `--cpu-period` should keep the current period"
`runc update --cpu-quota` w/o `--cpu-period`  is currently broken:

[code]

---

The comparison of `600000 100000 !? 600000 1000000` is failing.
(`cpu.max` is expected to have initially specified period=1,000,000 with six zeros, but the current implementation resets the period to the kernel default 100,000 with five zeros)

[2020-06-03 19:57] isehgu commented on #2404
We are also experiencing the same thing with csi-rbd plugin. Found @chrischdi thread, and was able to delete the extra mounts in order for kubelet to come up. We are coreos -- 4.19.106 (Coreos 2345.3.0).
The extra mounts weren't with the string `/run/containerd/`. They aren't uniform neither.

[2020-06-04 06:08] AkihiroSuda commented on #2456
PR: https://github.com/opencontainers/runc/pull/2457

[2020-06-04 07:10] giuseppe commented on #2448
A subgroup is required when using systemd delegation, unless the cgroup is configured with the d-bus API, that I don't really like.  I will document the difference in crun.

[2020-06-04 16:28] kolyshkin commented on #2456
I was about to file this bug ! :)

[code]

[2020-06-04 16:32] kolyshkin commented on #2456
Oh I see, your bug is about cgroupv2, mine is about cgroup v1 (cgroup v2 also has this).

[2020-06-05 01:37] AkihiroSuda commented on #2456
Planned to be fixed in https://github.com/opencontainers/runc/pull/2458

[2020-06-05 20:14] #2417 closed

[2020-06-08 18:15] dims opened #2461 "Kubernetes failures with latest runc"
By mistake we ended up using containerd 1.3.x with latest runc and ended up with some intermittent failures

@fuweid looked at it and here is the diagnosis:
https://github.com/kubernetes/kubernetes/issues/91579#issuecomment-639296103

@AkihiroSuda mentioned that there may be a fix in progress:
https://github.com/kubernetes/kubernetes/issues/91579#issuecomment-639297499

With the following PR:
http

[2020-06-09 03:56] AkihiroSuda commented on #2461
Thanks for the report. Would it be possible to git bisect the issue?

[2020-06-09 08:30] AkihiroSuda opened #2462 "master: TestDockerSuite/TestRunInvalidCPUShares fails"
moby/moby@3aac5f0 + opencontainers/runc@1b97c04 doesn't pass Moby's `TestDockerSuite/TestRunInvalidCPUShares`

[code]
https://github.com/moby/moby/pull/41025#issuecomment-641114413

This was working two weeks ago: https://github.com/moby/moby/pull/41025#issuecomment-634309258

[2020-06-09 21:23] kolyshkin commented on #2462
This is because the error message was lowercased in 3249e2379 (PR #2441).

Fix belongs to moby: https://github.com/moby/moby/pull/41085

[2020-06-09 22:10] kolyshkin opened #2463 "runc update: systemd v2 driver ignores --cpu-quota if period was not set"
Repro:

[code]

It should be `300ms` not `infinity`.

This bug was always there because we weren't checking systemd values in our int tests.

[2020-06-09 22:11] kolyshkin commented on #2463
Note that the fs2 driver which is used as a "last resort" still sets the values correctly, but then systemd and the cgroupfs are not in sync.

[2020-06-09 22:44] kolyshkin opened #2464 "systemd and fs2 ignore update --cpu-period if cpu-quota was/is not set"
systemd/v1, systemd/v2 and fs2 cgroup drivers ignore the CPU period during start/run, if CPU quota is not set.

Only the fs (v1) driver sets the period, working as expected.

Repro for systemd:
[code]

(same repro for fs2 driver, modulo `--systemd-cgroup`).

Expected value for period (second value in `cpu.max`) is the one set, i.e. `30000`. Actual value is 100000.

[2020-06-09 22:53] kolyshkin opened #2465 "systemd drivers do not set CPUQuotaPeriodUSec"
According to systemd.resource-control(5), there are two properties wrt cpu quota:

<blockquote>

**CPUQuota=**

Assign the specified CPU time quota to the processes executed. Takes a percentage value, suffixed with "%". The percentage specifies how much CPU time the unit shall get at maximum, relative to the total CPU time available on one CPU. Use values > 100% for allotting CPU time on more  tha

[2020-06-09 23:27] mrunalp commented on #2461
Can you clarify what version of runc was used in the failing test? @dims said latest runc, the comments in the linked issue say `rc10`.

[2020-06-09 23:28] BenTheElder commented on #2461
rc10+dev .. we don't have the exact commits in these, since `make release` wipes out the commits and we were building "releases" ... (and the only reason we even had an untagged version is broken lookup of the commit from containerd vendor.conf)

[2020-06-09 23:34] BenTheElder commented on #2461
bisecting may be possible but will be ... a bit expensive, It wasn't 100% reliable failure, we saw some flakiness with container deletion, more in the KIND jobs (presumably due to some resource starvation issues in the CI platform?) but also in kube-up GCE.

[2020-06-09 23:54] mrunalp commented on #2461
Have we ruled out any changes to containerd oom detection entirely?
Reason I ask is because use runc master in crio master for running k8s e2e (using k8s master) and haven't run into this.
One big difference is that CRI-O defaults to systemd cgroup driver while containerd uses cgroupfs.

[2020-06-10 00:33] BenTheElder commented on #2461
containerd with rc10 is working fine across many versions, I don't think anyone has ruled out OOM detection though.

I'm pretty sure this is the relevant difference here.

[2020-06-10 04:17] #2046 closed

[2020-06-11 22:46] #2456 closed

[2020-06-11 22:47] AkihiroSuda commented on #2463
fixed in https://github.com/opencontainers/runc/pull/2458

[2020-06-11 22:47] #2463 closed

[2020-06-11 22:48] AkihiroSuda commented on #2464
fixed in https://github.com/opencontainers/runc/pull/2458

[2020-06-11 22:48] #2464 closed

[2020-06-11 22:48] #2462 closed

[2020-06-12 10:02] h-vetinari opened #2468 "GetOwnCgroup is currently not supported for cgroup v2"
Opening an issue mentioned by @giuseppe [here](https://github.com/opencontainers/runc/issues/2315#issuecomment-624510129). Feel free to edit this OP.

[2020-06-15 09:57] katarzyna-z opened #2469 "memory.numa_stat not always available"
memory.numa_stat is not always available, observed on:
[code]
for details see: https://github.com/google/cadvisor/issues/2583

[2020-06-15 23:59] kolyshkin opened #2471 "Move cgroupv1 specific code out of libcontainers/cgroups pkg"
The following public identifiers should be moved from `github.com/opencontainers/runc/libcontainer/cgroups` to a separate package (say `github.com/opencontainers/runc/libcontainer/cgroups/cgroupv1`). The reason is, they should **only** be used from cgroupv1 code (i.e. when `cgroups.IsCgroup2UnifiedMode()` returns `false`), and they return errors otherwise.

* CgroupNamePrefix
* IsNotFound
* FindCg

[2020-06-16 00:32] #2469 closed

[2020-06-16 01:01] #2337 closed

[2020-06-16 02:09] AkihiroSuda commented on #2461
@dims Could you try the latest ?

[2020-06-16 03:19] kolyshkin commented on #2471
Originally tacked in https://github.com/opencontainers/runc/pull/2411 but the package renaming commit removed for now.

[2020-06-16 04:14] AkihiroSuda opened #2473 "CentOS 7 CI: analyze failure of systemd unit tests and rootless integration tests"
systemd unit tests (not integration tests) and rootless integration tests are failing ong CentOS 7.
We should analyze these failures and fix the failing tests: (see `FIXME` comment lines)

https://github.com/opencontainers/runc/blob/82d2fa4eb069b98af7c34ae525f85fcfb0e40a22/.travis.yml#L38-L53

**EDIT**: The systemd unit tests are analyzed and being fixed in #2501

[2020-06-16 10:33] AkihiroSuda commented on #2353
Closing as we are not seeing this recently

[2020-06-16 10:33] #2353 closed

[2020-06-16 13:58] giuseppe opened #2474 "api, cgroupv2: skip setting the devices cgroup"
The Kubelet uses libcontainer/cgroups to setup cgroups.  It would be nice to have a way to skip setting the devices cgroup at all.

[2020-06-16 13:59] mrunalp commented on #2474
@kolyshkin @AkihiroSuda fyi

[2020-06-16 23:39] kolyshkin opened #2475 "criu int test failures"
Saw some C/R test failures while working on #2411. Excerpt from logs at https://travis-ci.org/github/opencontainers/runc/jobs/699060158:
[code]

[2020-06-17 00:00] kolyshkin commented on #2475
https://github.com/opencontainers/runc/pull/2476 to show CRIU errors

[2020-06-17 07:35] cyphar commented on #2474
:grimacing: Is there a reason for wanting to skip the devices cgroup? The hard requirement for the devices cgroup is to make sure we have a fail-secure setup (if you don't set the devices whitelist, you will allow users to do all sorts of scary things).

[2020-06-17 07:48] giuseppe commented on #2474
the Kubelet uses the libcontainer code to create the parent cgroups (e.g. /sys/fs/cgroup/kubepods).  Each container will have its own cgroup under `/sys/fs/cgroup/kubepods` where the device cgroup is configured.
I don't think it is a problem on cgroup v1, but on cgroup v2, every time the Kubelet restarts and tries to configure the cgroup, it leaks an eBPF program

[2020-06-17 07:52] cyphar commented on #2474
Ah okay. Yeah we might need to add a way to configure that. The only important thing is that this should be strictly opt-out with a fairly large warning sign next to the configuration option.

[2020-06-17 19:03] #2465 closed

[2020-06-17 20:32] haircommander opened #2480 "systemdVersion parsing failure causes extra output"
this issue has two parts to it. The first is that runc is logging warning messages even though `--debug` is not specified:
[code]
it seems it defaults to at least Warn level. Other projects allow a finer grained specification for `--log-level`, but without that, logrus output shouldn't come unless it's error level or `--debug` is specified

I'm opening an issue to allow the maintainers decide what

[2020-06-19 03:27] #1710 closed

[2020-06-19 03:29] AkihiroSuda commented on #2461
This is almost the last blocker for rc91.

If this issue is still reproducible with the current master, anyone please post a reproducer for a local laptop?

[2020-06-19 03:30] #2245 closed

[2020-06-19 03:31] BenTheElder commented on #2461
I'll try to rig up some tests in Kubernetes CI, I intended to do it earlier this week but we had unrelated broad issues (looking a bit better now).

I don't supposed there are existing binaries / nightlies anywhere?

[2020-06-19 03:41] AkihiroSuda commented on #2461
https://github.com/AkihiroSuda/moby-snapshot

[2020-06-19 23:52] AkihiroSuda commented on #2480
solved in https://github.com/opencontainers/runc/pull/2479

[2020-06-19 23:52] #2480 closed

[2020-06-19 23:53] #2444 closed

[2020-06-22 17:10] alban opened #2484 "runc with user namespace enabled fails to bind mount host dirs with 750 permission"
When config.json has the following:
- user namespace enabled
- a bind mount from a host directory that is a sub-directory of one with with `drwxr-x---` permission, it fails with the error message:

[code]

I implemented a reproducer in the integration tests, along with the explanation and a workaround when started from a systemd unit: https://github.com/opencontainers/runc/pull/2483

[2020-06-22 18:43] cyphar commented on #2484
This is expected behaviour. Even if we were to blindly `mount(2)` the path, path lookup would fail because by the time we are mounting filesystems the container is running in the user namespace and thus `CAP_DAC_OVERRIDE` doesn't work anymore.

There are possible ways to work around this (such as looking up the path while running with privileges on the host, then bind-mounting those file descripto

[2020-06-23 03:40] cyphar opened #2485 "terminal: true with no stdin causes container startup failure"
If you try to run a container that has `"terminal": true` configured in non-detached mode with a dummy stdin (like `/dev/null`), you get errors:

[code]

Found as part of opencontainers/umoci#296.

[2020-06-23 06:09] BenTheElder commented on #2461
I think this is picking up the nightly against containerd 1.3.4 + kubernetes at head now here:
https://github.com/kubernetes/kubernetes/pull/92333#issuecomment-647930308
will run it more times and see if flakes crop up.

[2020-06-23 10:15] alban commented on #2484
I think that would be nice to have: `/var/lib/kubelet` contains cryptographic keys, pods directories with ConfigMap and Secrets. Currently, only root can access it. It feels wrong if we give access to all users, even if it is only traversal rights (`--x`).

I am not sure what is the best workaround. I have not thought of passing file descriptors.

- Open file descriptors in parent privileged proce

[2020-06-23 14:25] cyphar commented on #2484
Yes, it'll work with basically all old kernels I can think of. While the mount API does make the fact you can bind-mount file descriptors explicit, you've always been able to do it through `/proc/self/fd/...`. Whether this is a bug or a feature is up to your world-view (it's definitely a bug though).

Honestly, given all of the other options I think it's the least-ugly and most-correct solution. :

[2020-06-24 00:34] cyphar commented on #2484
It actually shouldn't be *too* complicated. We can just rewrite the configuration we pass to the container to use `/proc/self/fd/...`. The only issue is that the mountpoint fds can't be marked `O_CLOEXEC` and so we'd need to make sure we manually close them (though we already have code to do this at the very last stage of `runc init`).

[2020-06-24 18:12] kolyshkin commented on #2485
Most probably caused by assumption that fd 0 is a terminal (in `libcontainer/system.Setctty()`). I barely remember it was causing a real error before, now it's some weirdness:

With the following patch:
[code]

it breaks in 3 different ways (in 3 identical consecutive runs):

[code]

Might be caused by https://github.com/opencontainers/runc/pull/2229

[2020-06-24 19:47] cyphar commented on #2485
We need to add more debugging information so that `--debug` is actually useful. Trying to narrow down this bug was kind of the goal of #2460.

[2020-06-26 09:37] AkihiroSuda commented on #2461
What's current status?

[2020-06-26 10:18] dims commented on #2461
@AkihiroSuda we'll run it a few more times in the weekend, let's circle back on this next monday. I've cloned Ben's PR into https://github.com/kubernetes/kubernetes/pull/92540 so we can run it more times.

[2020-06-30 10:25] dims commented on #2461
@AkihiroSuda @BenTheElder based on the runs i have in https://github.com/kubernetes/kubernetes/pull/92540, feels like we are out of the woods as i do not see the specific problem we saw before with the e2e test mentioned in https://github.com/kubernetes/kubernetes/pull/92333#issuecomment-649520905

[2020-06-30 10:31] AkihiroSuda commented on #2461
Thanks, can we close this issue and cut a release for rc91?

cc @cyphar @mrunalp

[2020-06-30 10:38] dims commented on #2461
@AkihiroSuda yes please!

[2020-06-30 10:46] #2461 closed

[2020-06-30 11:16] AeroNotix commented on #2179
What was the user error?

[2020-07-01 15:38] kolyshkin commented on #2474
Addressed this one in https://github.com/opencontainers/runc/pull/2490

[2020-07-01 23:51] JFHwang commented on #2473
Hi, I would like to try looking into this.

[2020-07-03 05:53] cyphar commented on #2366
The cgroupv1 portion of this issue was fixed by #2391.

[2020-07-03 05:55] cyphar commented on #2474
As discussed in #2490, I believe that the cgroupv2 eBPF issue is a runc bug that we should fix anyway (tracked by #2366). Would the Kubernetes folks still need this if we fixed the cgroupv2 eBPF issue?

[2020-07-03 07:16] giuseppe commented on #2474
the devices cgroup is not used at all by Kubernetes: https://github.com/kubernetes/kubernetes/blob/master/pkg/kubelet/cm/container_manager_linux.go#L378-L385

Since the cost of running such eBPF program is close to 0, I am fine if the underlying issue is addressed instead of offering a different API.

[2020-07-06 21:28] #2474 closed

[2020-07-08 03:03] AkihiroSuda opened #2512 "CI: move to GitHub Actions?"
Travis often fails to report the CI status these days :cry:
GitHub Actions might be more stable.

[2020-07-08 03:04] AkihiroSuda commented on #2473
The systemd unit tests are analyzed and being fixed in https://github.com/opencontainers/runc/pull/2501

[2020-07-08 04:17] cyphar commented on #2512
I'm currently moving umoci's CI to GitHub Actions (despite my dislike for making our processes locked into GitHub). My current experience is that it's "fine", though quite a few aspects of setting up CI workflows are far more frustrating than necessary...

[2020-07-09 06:14] cyphar commented on #2512
After spending a whole day to [port umoci's CI to GitHub Actions](https://github.com/cyphar/umoci-test/actions/runs/162612101) I found that it's the worst CI system I've ever used. I'm sure there are some that are worse, but every aspect of getting umoci's CI to work was incredibly painful (not to mention the end result is still incredibly slow even compared to Travis which doesn't have any of my

[2020-07-09 06:41] AkihiroSuda commented on #2512
@cyphar What are the actual problems of GH Actions?

It doesn't support nested VM AFAIK.
Also, its free(-as-in-beer) edition has tight limitation: https://circleci.com/pricing/#comparison-table

[2020-07-09 08:50] cyphar commented on #2512
Well, here's a short list which affect umoci:

 * The documentation is lacking. It took me a fair while to configure the CI, mostly because the documentation (in true GitHub fashion) doesn't provide a proper reference text for the features and semantics. You have to
   - This is compounded by the fact that many **incredibly basic** features like "check out the code of this repository" are not exte

[2020-07-09 15:25] mikebrow commented on #2512
they take PRs... people can write their own actions... just sayin

[2020-07-09 15:35] mikebrow commented on #2512
on the OP issue.. of reporting check status.. yeah it also happens on github actions, just not as often and when it does it's easier to restart and more integrated.

[2020-07-10 03:40] chuanchang opened #2515 "Failed to run a specific integration test by setting the TESTPATH variable"
As subject, it didn't work for me to run a specific integration test by setting the TESTPATH variable like below, the result is all of test cases were ran not a specific integration test.

[code]

[2020-07-11 15:56] haampie opened #2517 "Cannot run apt-get update in rootless container with sufficient capabilities"
Similar to https://github.com/opencontainers/runc/issues/1860. I can't seem to get a rootless ubuntu:18.04 container to run apt-get update, even with CAP_SYS_ADMIN.

[code]

The error I'm getting is:

[code]

With rootless docker I am able to actually run `apt-get update`. Any clue what's going wrong here?

[2020-07-11 16:04] haampie commented on #2517
Same happens with the whole list:

[code]

[2020-07-11 22:07] haampie commented on #2517
Compare `runc`
[code]
with `rootless docker`:
[code]

[2020-07-11 22:24] wwalker commented on #2315
For the next person with this problem, here is a workaround that works for me:

I have the same problem in Fedora 32, `runc` 1.0.0 and `docker` 19.03.11

_strata_ on *freenode* `#docker` suggested adding this to the grub kernel line:
[code]
That fixed it for me :-)

[2020-07-11 22:30] haampie commented on #2517
Ah, I've figured it out. You need at least two entries in both uid and gid mappings. For anyone struggling with this, just check out how rootless docker is configured. E.g.:

[code]

means adding

[code]

this solves the problems. Also please don't copy and paste all those linux capabilities I've posted above, that's just for testing purposes.

[2020-07-11 22:30] #2517 closed

[2020-07-11 22:40] haampie commented on #1860
I just wanted to point out that the solution to this issue is not to drop rootless runc, like the config.json posted above, but rather to create _two_ uid and gid mappings. See #2517 for an example.

It is entirely possible to make seteuid and setegid etc work inside a rootless container.

[2020-07-12 10:08] AkihiroSuda commented on #2515
make integration, not make test

[2020-07-12 10:08] #2515 closed

[2020-07-14 14:51] #2512 closed

[2020-07-15 04:02] JFHwang commented on #2473
I've looked into the cause of failure of the rootless integration tests, and based on what I've seen, it seems to source from a bug in the Vagrant centos7 image. The image actually doesn't allow rootless writes to /sys/fs/cgroup/devices/.../cgroup,procs even though other cgroups are fine. Here is an example I did on a fresh VM.

// I created my own directories
[vagrant@localhost ~]$ sudo su
[root@

[2020-07-15 04:18] AkihiroSuda commented on #2473
Thanks, but we are intentionally sticking to CentOS 7 in CI

[2020-07-15 08:39] XiaodongLoong commented on #2425
I also meet this issue:
https://travis-ci.org/github/opencontainers/runc/jobs/708255866

[2020-07-16 12:21] Creatone opened #2519 "Resctrl: Add mon group support."
It must be possible to create a mon group and read metrics.

[2020-07-20 06:39] XiaodongLoong commented on #2383
@alicefr
I have raised a PR (https://github.com/opencontainers/runc/pull/2508) to run runc integration test on more CPU architecture.  Does travis support for mips64le?

[2020-07-20 06:51] alicefr commented on #2383
@XiaodongLoong not sure, the best would be to try :). You can add the additional arch in the travis yaml on your branch and see if the job gets triggered.

[2020-07-20 06:54] alicefr commented on #2383
@AkihiroSuda I'm changing job, so I don't have time to finish my PR. The tests are still failing for s390x, ppc64le and arm64. Not sure what is going wrong since when I run them directly on s390x, everything is successful. My latest updates can be found here https://github.com/alicefr/runc/tree/travis-multi-arch. I'm closing this issue since I'm not working on this anymore.

[2020-07-20 06:54] #2383 closed

[2020-07-21 03:35] kolyshkin commented on #2485
I looked a bit more into it, it seems the `runc init` dies as it receives SIGHUP. If we choose to ignore SIGHUP, then it errors out like this:

which, I think, was the way it worked before adding hooks.

The error comes from containerd/console and is caused by the following code in tty.go:

[code]

Obviously, os.Stdin is not a console :)

I am not really sure what to do about it, and my analysis m

[2020-07-21 12:28] #2302 closed

[2020-07-22 08:26] ashokponkumar opened #2526 "Using runc inside a pod in kubernetes with least privileges"
I am currently able to run a container within a Openshift/Kubernetes pod, with the below security context for the container.

When I remove either of them, I am running into multiple errors. Currently I am using [ubi8](https://www.redhat.com/en/blog/introducing-red-hat-universal-base-image) as the base image.

Just wondering what would be the minimum permissions I need to grand to the container fo

[2020-07-22 09:54] KentaTada commented on #2430
libseccomp 2.5.0 was released.
Currently, I'm tackling with the SCMP_FLTATR_CTL_SSB support of libseccomp-golang
https://github.com/seccomp/libseccomp-golang/pull/51

[2020-07-22 22:31] kolyshkin commented on #2485
Not sure what to do about this one

I guess that if stdin is not a terminal (because it is redirected), we should try stdout and stderr -- if neither of the three is a terminal, either bail out, or open and use `/dev/tty` which should be our controlling terminal. Although I'm not sure we should do anything with a terminal if all of the std{in,out,err} are redirected.

[2020-07-23 02:09] #2100 closed

[2020-07-28 02:01] kolyshkin commented on #2485
Almost made it working, but it needs this first as the code in tty.go calls `console.Current()`: https://github.com/containerd/console/pull/37

[2020-07-28 11:08] likakuli opened #2530 "runc init hang"
runc exec will hang when the runc init cmd receive an abort signal and the err msg is large than 65536 before execv executed.

By default, containerd start exec proess and set its stderr to a pipe. runc init will hang when err msg large than 65536 because the pipe is full and can't write any more

[2020-07-28 11:10] likakuli commented on #2530
/bug

[2020-07-28 11:11] likakuli commented on #2530
bug

[2020-07-28 11:14] cyphar commented on #2530
Can you give an example of this happening? Also it seems to me -- at least from your description -- like the issue is that `containerd` isn't reading from the other side of the pipe (or increasing the pipe buffer).

[2020-07-29 03:00] likakuli commented on #2530
![image](https://user-images.githubusercontent.com/12692304/88751205-b3790900-d189-11ea-893c-21c6409a59dc.png)

![image](https://user-images.githubusercontent.com/12692304/88751344-f63ae100-d189-11ea-89e6-6154181d52b9.png)

![image](https://user-images.githubusercontent.com/12692304/88751400-12d71900-d18a-11ea-9997-c60352ceed85.png)

fd 2 is the stderr, it is maked via os.Pipe() and passed to runc

[2020-07-29 03:40] cyphar commented on #2530
This seems like strange behaviour -- if you run a program with its stdio as a pipe, it's reasonable to expect that the calling program should read from the pipe frequently. From runc we could work around this by increasing the buffer size of stdio if we're called under a pipe but that is not a good idea to do generally -- there might be a reason why the caller has set the pipe buffer to a particul

[2020-07-29 03:53] likakuli commented on #2530
Not yet. If containerd read from the pipe before waiting the runc process to exit, this behaviour should disappear too. I will open an issue in containerd

[2020-07-29 13:59] axot opened #2532 "too many mount/umount syscalls"
I'm not sure this is the right place to discuss. We are observing high cpu usage by systemd init process[1]. After some digging, it is possible caused by many mount/umount syscalls. Is it because runc was be executed?[3] At same time there is no new pod be scheduled to this instance or be deleted. What is the purpose runc was executed in this case?

Thanks!

[1] high cpu usage init process.
![imag

[2020-07-29 14:16] axot commented on #2532
Is it possible caused by exec probe?
![image](https://user-images.githubusercontent.com/611054/88811458-8bbd8b80-d1f1-11ea-98ca-6952e45e6db4.png)
![image](https://user-images.githubusercontent.com/611054/88811484-92e49980-d1f1-11ea-80c9-26492d8d5312.png)

[2020-07-29 14:20] axot commented on #2532
released issues:

https://github.com/kubernetes/kubernetes/issues/82440
https://github.com/systemd/systemd/issues/15464

[2020-07-30 03:35] cyphar commented on #2532
Yes, if you run `runc exec` very frequently you will see `mount` and `umount` syscalls. These are necessary to protect against CVE-2019-5736 (see 0a8e4117e7f715d5fbeef398405813ce8e88558b and #1984 which added this logic). The solution is to create a sealed memfd and bind-mount it on top of `/usr/bin/runc` (runc detects this and will avoid copying if that is the case) -- but to do this you need to

[2020-07-30 09:03] axot commented on #2532
We could have mitigated the situation by remove exec probe currently. Any improve could do in runc side? In systemd, there are trying to add rate limit for sd_event.

[2020-07-30 15:58] MahorShekhar commented on #1343
I use windows subsystem for Linux (WSL) tool in windows. On giving "docker-compose up:" command in my debian terminal, getting this error -

Cannot start service be: OCI runtime create failed: container_linux.go:349: starting container process caused "process_linux.go:449: container init caused \"rootfs_linux.go:58: mounting

Can some body help me whats wrong ?

[2020-07-31 06:03] AkihiroSuda opened #2536 "Proposal: Set up Dependabot"
[Dependabot](https://github.com/marketplace/dependabot-preview) seems very useful to update go.mod dependencies automatically.

Dependabot PR will look like this: https://github.com/containers/podman/pull/7045

I suggest setting up Dependabot to open PRs weekly (or monthly) on this repo.

[2020-07-31 06:15] AkihiroSuda commented on #2536
Note: it doesn't support updating `vendor` currently: https://github.com/dependabot/dependabot-core/issues/670

So a maintainer will need to amend the PR to run `go mod vendor`..

[2020-07-31 10:59] Mattias- opened #2537 "Binaries in GitHub assets changed?"
Looks like the assets for GitHub releases was updated at 2020-07-30. I had the sha256sum pinned and now it failing the check.
Was this change intentional?
Any code changes?

[code]

[code]

[2020-07-31 11:14] cyphar commented on #2537
Yes, the reason for this was described in the release notes:

[2020-07-31 11:17] Mattias- commented on #2537
I should have read the notes a bit more carefully.
Thanks for your swift response!

[2020-07-31 11:18] cyphar commented on #2537
No problem. I sign all of the artefacts with my PGP key, so detecting a repo compromise should be fairly trivial (assuming my PGP key isn't also compromised).

[2020-07-31 11:18] #2537 closed

[2020-08-03 21:43] cloud-66 commented on #2532
Hello, I also have high CPU usage by /lib/systemd/systemd --user      and   /sbin/init processes. I tried different perf command, but haven't seen such clear view CPU usage. Can you tell me how to record and view such CPU usage screen? Thank you.

[2020-08-04 00:30] axot commented on #2532
Hello @cloud-66, I think you need debug symbol for this, please following the instruction from https://wiki.ubuntu.com/Debug%20Symbol%20Packages

Once you done, perform these commands,
[code]

[2020-08-04 03:58] AkihiroSuda commented on #2536
@cyphar @thaJeztah WDYT?

[2020-08-04 08:44] thaJeztah commented on #2536
Given that the PR's won't be mergeable (so always require manual action to make them mergeable), it'd mostly be to "notify" maintainers that a newer version is available for a dependency.

Perhaps that's ok, not sure; would it instead be an option to have (e.g.) a GitHub action that opens a ticket (weekly?) with an overview of dependencies that have new versions available? (should it include depen

[2020-08-04 08:51] AkihiroSuda commented on #2536
SGTM, not sure there is an existing tool

[2020-08-04 09:15] rhdojun commented on #1032
You can click through with the other pull request from @resouer of course, but for people who just come here from google:

`libseccomp` is not enough. You need either `libseccomp-devel` or `libseccomp-dev`, depending on your OS.

[2020-08-05 15:14] AkihiroSuda commented on #2366
Changed the milestone from rc92 to 1.0

[2020-08-06 05:29] sjc2870 opened #2544 "[AliOS] nsenter: failed to unshare namespaces: Invalid argument container_linux.go:262: starting container process caused "process_linux.go:247: running exec setns process for init caused \"exit status 34\"""
I I occasionally encounter this error when I start the container, every time I encounter it when restarting the container several times continuously. Do you have any suggestions?
`uname -a
Linux e03g04255.eu6sqa 3.10.0-327.ali2013.alios7.x86_64`
`unshare  --user sh
unshare: unshare failed: Invalid argument`
I seems kernel dosen't supports CLONE_NEWUSER.But mostly I can start container normally and

[2020-08-06 09:44] sjc2870 commented on #2544
This is my runc version:`docker-runc --version
runc version 1.0.0-rc3
commit: b0917904e049873e6fe70520b9a049b8cb3a9ea2
spec: 1.0.0-rc5`

[2020-08-07 02:22] sjc2870 commented on #2544
And this is dockerd log when restart normally:
![image](https://user-images.githubusercontent.com/51011799/89601755-d301e700-d897-11ea-8c8f-deb651ef8572.png)

[2020-08-07 02:57] kolyshkin commented on #2544
This runc version is very old and I guess is only supported by Docker, so I guess you should file a bug to Docker.

In case you are not using Docker, but bare runc, feel free to reproduce this using a recent runc release and reopen this (or file a new issue with a reference to this one).

[2020-08-07 02:57] #2544 closed

[2020-08-07 05:17] mouri11 opened #2546 "Cannot compile runc on AWS Ubuntu arm64"
**Description**

```$ sudo make install``` fails with the following error:
[code]

**Steps to recreate**
[code]

**Other Info**
[code]

Any help will be appreciated. Thanks.

[2020-08-07 05:44] AkihiroSuda commented on #2546
PATH issue on your host, should be better asked in stackoverflow or somewhere else

[2020-08-07 05:44] #2546 closed

[2020-08-09 03:48] kolyshkin commented on #2475
Got another very similar failure while running CI for #2487 (unrelated!). Here's an excerpt from https://travis-ci.org/github/opencontainers/runc/jobs/716225208:

[code]

Alas, the fix in #2476 is wrong :( here's a (supposedly) correct one: https://github.com/opencontainers/runc/pull/2548

[2020-08-10 19:57] h-vetinari commented on #2315
The list in the OP could probably use updating. Any (other) open topics here @kolyshkin @AkihiroSuda?

[2020-08-11 01:32] strgrb commented on #2039
Has anyone found the reason?  I have the same issue with kubernetes 1.16.3, docker version 19.03.3, and containerd 1.2.10, nvidia 1.0.0-rc8+dev, docker-init 0.18.0

[2020-08-11 06:09] soulseen opened #2550 "Got starting container process caused "process_linux.go:434: container init caused \"process_linux.go:363: apply network settings for ready process caused \\\"exit status 1\\\"\"": unknown."

[2020-08-11 13:17] liruishan opened #2551 "The updatecache method of relist function in PLEG takes too long time to execute，resulting in PLEG health check timeout"
What happened:
I deployed 360 pods and 765 containers on one node in my cluster.Sometimes, I find "PLEG is not healthy" in my cluster. I add log printing to kubelet and find  it takes a long time in the updatecache phase of the relist function, which takes 1m23s, causing the PLEG health check to exceed the 3-minute threshold. I don't know why this happens. Has anyone encountered a similar situatio

[2020-08-11 15:27] zonk1 opened #2552 "[Debian] could not ensure we are a cloned binary: No such file or directory"
os: `debian/sid` (w/o systemd)

 uname -a: `Linux machine 5.7.0-2-amd64 #1 SMP Debian 5.7.10-1 (2020-07-26) x86_64 GNU/Linux`

runc:
[code]
(Originally I tried with with `1.0.0-rc10; spec: 1.0.1-dev` with same results)

When I upgraded from kernel 5.6.7 to 5.6.14 (currently running 5.7.10 - still broken) docker stopped working:
[code]

It fails when starting container via runc. I've replicated the

[2020-08-12 00:54] kolyshkin commented on #2552
Looks like runc is not able to open "/proc/self/exe" which is weird (and the error is not reported since it's written to stderr rather than via write_log()).

Can you try stracing it to see what is going on?

[2020-08-12 05:15] AkihiroSuda commented on #2551
Doesn't seem related to this repo

[2020-08-12 05:15] #2551 closed

[2020-08-12 05:16] AkihiroSuda commented on #2552
cc @zhsj PTAL? Regression on Debian kernel?

[2020-08-12 05:55] zhsj commented on #2552
I can't reproduce it on Debian/testing(both have `Linux zhsj-debian 5.7.0-2-amd64 #1 SMP Debian 5.7.10-1 (2020-07-26) x86_64 GNU/Linux`), with systemd. Not sure if systemd is relevant here, but @zonk1 says w/o systemd.

<details>
<summary>docker info</summary>

[code]
</details>

[2020-08-12 07:06] AkihiroSuda commented on #2315
Added https://github.com/opencontainers/runtime-spec/pull/1040 to the list

[2020-08-12 07:41] zonk1 commented on #2552
@kolyshkin wrote:

Gladly: strace --> https://gist.github.com/zonk1/a187e2668df74d5a904f82df6ef9d763

@zhsj wrote:

Yesterday I've tried installing clean sid on VM, worked; after disabling systemd (`apt-get install sysvinit-core`) it broke. Looks like something changed between (debian) kernels 5.6.7 -> 5.6.14 that systemd "hotfixes"?

[2020-08-12 23:54] kolyshkin commented on #2552
Alas, the error is different under strace, it is now

Will try to repro locally once I have time.

[2020-08-13 06:20] mouri11 commented on #87
Hi. I am running runc with the following config.json file.
[code]

I am facing the following error while trying to checkpoint the container:
[code]

The log file is [here](https://pastebin.com/Svv0ZC0z).

Any help will be appreciated. Thanks.

[2020-08-13 06:22] zonk1 commented on #2552
I did not study the source properly, but it seems to me that the sequence is still the same. I'm guessing there's some piping going on and one process cannot find `/proc/sys/exe` (pid 2500) whereas the other (pid 2003) bails when that one fails:

[code]

Thanks!

[2020-08-13 18:04] tianon commented on #2345
FWIW, there's an initial PR on the runtime-spec now: https://github.com/opencontainers/runtime-spec/pull/1062

[2020-08-16 12:33] zhsj commented on #2552
@zonk1 I notice sysvinit was updated recently, https://tracker.debian.org/news/1168996/accepted-sysvinit-296-4-source-into-unstable/

I tried in a VM and it seems docker and runc work without problem after upgrading sysvinit package.

From the changelog of sysvinit, maybe https://bugs.debian.org/968199 is related.

[2020-08-16 12:52] zhsj commented on #2552
Verified that lacking of `/dev/fd` will cause the problem. But I can't find the source which is expected to use this path...

[2020-08-16 14:12] cyphar commented on #2552
That's odd, we use `/proc/self/fd` directly, not `/dev/fd`. But it's possible (though unlikely) that glibc is trying to use `/dev/fd`. I'll take a look this week.

[2020-08-16 14:44] cyphar commented on #2552
Huh, the issue is that `execveat` is returning `ENOENT` (when called with `AT_EMPTY_PATH`). That shouldn't happen (unless you're trying to execute a binary that has an interpreter which cannot be found) but that shouldn't happen here...

[2020-08-16 15:21] zonk1 commented on #2552
I can confirm. After upgrade and reboot runc is working once again.

[2020-08-17 19:10] gitsvm opened #2556 "How to run cpp or python code in runc container?"
I don't know what to add in `args` parameter in `config.json` file to be able to run my code in `cpp` or `python`? file is present in root inside `rootfs` folder.

currently my args parameter is this:

[code]
it is giving following error on running the container using `sudo runc run <cid>`:
`ERRO[0000] invalid character '/' looking for beginning of value
`
This is my cpp file:

[code]

[2020-08-17 20:58] AkihiroSuda commented on #2556
You can't run a cpp program with sh -c, you need to compile it with a compiler like g++.

For how to compile cpp programs, https://stackoverflow.com and similar sites are the right places to ask.

The runc error is probably due to a typo in config.json

[2020-08-17 20:59] #2556 closed

[2020-08-18 04:05] ashwani29 commented on #2556
Please tell in steps in how can i acheive this.
what i got from your answer is that first i've to compile my cpp program. Then what needs to be done? what should i put in args parameter so that runc will be able to run this program in a container?

[2020-08-18 04:10] gitsvm commented on #2556
@AkihiroSuda

[2020-08-18 06:58] gitsvm opened #2557 "Config.json edits to run cpp and python file in the conatiner"
How should `args` parameter will look like if i want to run a cpp file my container?
currently my args section of the `config.json` file is this:
[code]

[2020-08-18 09:49] ashwani29 commented on #195
@mrunalp , how can i run a custom cpp file or python program in runc ? what changes should I have to make in config.json if my cpp file is present inside root in the rootfs folder?

[2020-08-19 00:26] cyphar commented on #2557
This is a duplicate of #2556 (which you opened yesterday) as well as some criu issues that were the same too. Trust me when I say that spamming the same question doesn't get you an answer any quicker. I'll give a short response in the other thread.

[2020-08-19 00:26] #2557 closed

[2020-08-19 00:37] cyphar commented on #2556
I'd like to point out that this is a bug tracker for a project, and while I am going to go out of my way to answer your question (despite the spam in #2557, checkpoint-restore/criu#1185, checkpoint-restore/criu#1184) this really isn't the right place to ask these types of questions -- there are programming language forums where you might be able to get more help.

First off, you don't just "run" a

[2020-08-19 02:25] gitsvm commented on #2556
@cyphar Thanks for the answer, this also i tried to do but getting below error:
[code]
ctr2 is the container id here.

while i can see my program is in `/` inside `rootfs` folder.
[code]

This `rootfs` folder is created by following instructions as told in the `Creating an OCI Bundle` section in the Readme.md.
Why is it giving this error? If i run `script.sh` file it runs but cannot run object fil

[2020-08-19 03:24] cyphar commented on #2556
You can't use busybox as a base for running binaries you compiled on a complete distribution -- it doesn't have any shared libraries installed and so your `hello` binary can't run (the "no such file or directory" error is actually telling you that it couldn't find `/lib/libc.so.6`). You can either compile your binary statically, or use a full distribution as your base (my comment that you should s

[2020-08-19 03:53] gitsvm commented on #2556
I've to work on `CRIU` source code, as `CRIU` is unable to dump and retsore a container on my machine, it always gives error like `unreachable sharing` even after adding the option of `--enable-external-master` & `--enable-external-sharing` so i'm using runc to checkpoint/restore as it internally uses CRIU only. where i can get this complete distribution instead of busybox? i can use same command

[2020-08-19 03:58] cyphar commented on #2556
Just use Ubuntu. Rather than doing `docker create busybox` do `docker create ubuntu`. We really should update that example...

Docker doesn't support CRIU AFAIK, so I guess you have to use runc directly if you need checkpoint-restore.

[2020-08-19 05:21] mouri11 commented on #2546
Hi. I was trying to checkpoint using runc.
[code]

I am facing the following error:
[code]

config.json:
[code]

dump.log: https://pastebin.com/Svv0ZC0z

Thanks.

[2020-08-19 06:11] AkihiroSuda commented on #2556
Docker supports criu https://technology.amis.nl/2018/04/08/first-steps-with-docker-checkpoint-to-create-and-restore-snapshots-of-running-containers/

[2020-08-19 07:32] gitsvm commented on #2556
Thanks, I tried this, now as i've to install g++ inside my container rootfs to compile that cpp program, i run the container and it opens a shell like environment.
 I did `apt install g++`, it gives an error:
`E: Unable to acquire the dpkg frontend lock (/var/lib/dpkg/lock-frontend), are you root?` writing yes prints a 'y' character on the screen infinitely, and if using sudo as a prefix, it gives

[2020-08-19 09:26] gitsvm commented on #2556
I  just run the container to see error but surprisingly there is no error, it prints hello world. How is this happening?
I guess it just runs the binary but when it comes to compile any file, it cannot do so as it doesn't have g++. Is it correct?

[2020-08-19 09:36] cyphar commented on #2556
Yes. There are lots of reasons why it might be failing to install `g++` (not running as root, having terminal creation disabled, no networking, being a read-only container, and so on) -- as I discussed above I'd suggest you use Docker (now that @AkihiroSuda has corrected me -- Docker supports checkpoint-restore and honestly `runc` isn't a tool meant to be used by folks who are not deeply familiar

[2020-08-19 11:57] kolyshkin commented on #2396
FIled https://github.com/mvdan/sh/issues/600

[2020-08-19 12:38] AkihiroSuda opened #2559 "CI: shellcheck is failing on master"
https://travis-ci.org/github/opencontainers/runc/jobs/718839937 (https://github.com/opencontainers/runc/commit/a5847db387ae28c0ca4ebe4beee1a76900c86414)

[code]

Seems caused by merging https://github.com/opencontainers/runc/pull/2506 after https://github.com/opencontainers/runc/pull/2549 without rebasing.

[2020-08-19 12:43] zonk1 commented on #2552
Should I close the issue?

[2020-08-19 22:15] gitsvm opened #2560 "changes in runc to pause the restored container"
I want to pause the restored container as soon as it restores the container without running for even few ms.
Not able to get what and  where i make changes in runc code. Please help.

[2020-08-19 22:49] kolyshkin commented on #2559
That's right, the fix is coming

[2020-08-20 05:07] gitsvm opened #2562 "Does runc supports restoring a process in an existing namespace"
Does runc support restoring a process in an existing namespace as CRIU does?

[2020-08-20 14:51] #2559 closed

[2020-08-20 18:11] kolyshkin opened #2563 "Support native cgroupv2 spec"
As https://github.com/opencontainers/runtime-spec/pull/1040 is merged, we should start working on implementing it in runc.

Relevant part of spec: https://github.com/opencontainers/runtime-spec/blob/master/config-linux.md#unified

crun PR: containers/crun#459

[2020-08-23 12:18] saschagrunert opened #2565 "Make seccomp code re-usable"
Hey runc maintainers :wave:, I really would like to re-use the runc seccomp profile validation in `libcontainer/seccomp/seccomp_linux.go`, but without loading the profile at all. This could be re-used for higher level profile validation in other libraries.

My proposal would be that we move most of the code into a different library or make it public in libcontainer. Both approaches would mean a re

[2020-08-24 07:01] zokrezyl opened #2566 ""CGO_ENABLED=0 go build" binary"
I hoped to find something similar in the issues collection, but no luck. Trying to build master/head with

[code]
unfortunately the executable does not seem to behave as expected:
[code]
Is this a known issue? Is there any workaround?

The intention is to bring RunC into an environment where I don't want to install the libc dependencies. To be more precise I am building an executable on top of run

[2020-08-24 13:44] AkihiroSuda commented on #1905
I'd like to see the current open PRs in https://github.com/opencontainers/runc/milestone/7 to be merged before v1.0.0.
The open issues in the milestone can be postponed to post-1.0 .

[2020-08-25 01:18] #2485 closed

[2020-08-25 08:40] cyphar commented on #2566
runc has C code embedded inside it in order to run (this code is a core part of container setup and can't be disabled) -- so you'll need to have libc enabled when you build runc. However you can always just use our static binaries (see the releases page) which mean you don't need libc dependencies at runtime.

[2020-08-25 17:25] mattbonnell commented on #2115
I can take a stab at this, will work on a PR

[2020-08-25 18:45] #2566 closed

[2020-08-25 19:01] kolyshkin commented on #2468
The implementation seem to be something like
[code]

Or did you have something different in mind @giuseppe? Also, what is the use case?

[2020-08-25 20:12] wengm opened #2567 "cannot set limits without cgroups: OCI runtime error"
Hi,

I am working on Fedora 32.
When I try to start container, it failed due to error: (I created before and used well before restarting OS)

[code]

When I remove the container and create a new one, it works well:
[code]

[2020-08-25 20:21] kolyshkin commented on #2567
This error is actually from crun[1], so runc is not involved.

[1] https://github.com/containers/crun/

[2020-08-25 20:21] #2567 closed

[2020-08-25 20:27] kolyshkin commented on #2565
I'm strongly against introducing any more public interfaces into runc (we have yet to fix the ones we have, and we have plenty).

A separate library (under opencontainers I guess) looks good to me.

[2020-08-25 20:33] saschagrunert commented on #2565
I'm in favor of that too. I also see that the runtime-spec introduces some seccomp types which might be re-used as well.

[2020-08-26 13:26] mattbonnell commented on #1745
Just experienced this same issue.

[2020-08-26 21:54] rhatdan commented on #2565
We just created github.com/containers/pkg/seccomp, How about just adding it there.

[2020-08-27 03:09] kolyshkin commented on #2115
Joining the strings might result in increased memory footprint. It might be better to find a solution to write a set of strings to a file in some way, or just do usual open / for ... write / close

[2020-08-27 04:05] EduardoVega commented on #2246
Hi  @cyphar, I would like to work on this, if it is still required.

[2020-08-27 07:30] saschagrunert commented on #2565
Do you mean github.com/containers/common/pkg/seccomp ? Yes I would prefer that location, too.

[2020-08-27 10:38] rhatdan commented on #2565
Yes

[2020-08-27 11:51] saschagrunert commented on #2565
Sounds good, the corresponding PR is there: https://github.com/containers/common/pull/296

[2020-08-27 15:24] mattbonnell commented on #2115
This is the approach I’m taking, yeah.

[2020-08-30 08:04] nanonyme opened #2571 "Makefile: DESTDIR is not added to PREFIX if PREFIX is manually given"
When used with packaging, we might want prefix to point to /usr and collect package artifacts into /staging-dir. In this case we would set PREFIX=/usr and DESTDIR=/staging-dir. This results in make actually installing files under /usr (which might not be mutable) instead of under /staging-dir/usr.

[2020-08-31 05:22] mouri11 commented on #2546
I was able to checkpoint a runc container after recompiling the kernel with some flags set to true, as mentioned [here](https://criu.org/Linux_kernel), though on an x86_64 platform. I will update here if I am successful with ARM.

[2020-08-31 11:40] XiaodongLoong commented on #2562
Yes.
First, a container is a process in the view of OS, and the process have independent namespace.
The code is shown blow,
(1) checkout a container
https://github.com/opencontainers/runc/blob/master/main.go#L112
(2)restore a container
https://github.com/opencontainers/runc/blob/master/main.go#L122
The runc call the interface of CRIU to do c/r for container.

Thanks！

[2020-08-31 12:11] XiaodongLoong commented on #2552
@zonk1 You can check you syscall number for writing pipe, I ever met an issue that have the same log with your issue.

[2020-09-01 01:47] EduardoVega commented on #2249
@AkihiroSuda I would like to work on this one if it is still required.

[2020-09-01 01:55] AkihiroSuda commented on #2249
Yes please, thanks

[2020-09-02 04:24] gitsvm opened #2572 "runc is unable to kill the conatiner"
While It is able to pause the running container, it is unable to kill the container. Why is this happening and what should i do to make this work?

[2020-09-02 04:55] cyphar commented on #2572
It's a bit hard to figure out why it's not working if you haven't even told us what the error is. For future reference, please tell us as much information as you can about your setup.

[2020-09-02 05:18] gitsvm commented on #2572
It doesn't produce any error, the command `sudo runc kill <cid>` doesn't print anything, instead i'm being prompted to run another command as usual.

[2020-09-02 05:24] gitsvm commented on #2572
this is config.json file for the container:
[code]

[2020-09-02 06:15] cyphar commented on #2572
Does `runc kill` have a non-zero error code (in other words, did it actually have an error of some kind)? Is your container already paused when you do `runc kill`? If you try to kill a container while it is paused, the container will receive the kill signal but won't do anything until you unpause it (this is a limitation of cgroupv1's freezer cgroup).

[2020-09-02 06:49] gitsvm commented on #2572
I also tried to run runc kill after resuming the container but it still doesn't work.

[2020-09-02 16:35] mattbonnell commented on #2115
In light of @cyphar's investigations into the kernel source, it seems these interfaces can only accept one entry at a time, anyways. I think this issue can be closed.

[2020-09-03 02:11] coryb opened #2573 "rootless runc exec causes panic: cannot statfs cgroup root (When /sys is not mounted)"
Seeing a panic from `runc exec` when run with rootlesskit.

Here is the full stack, runc built from latest [master](https://github.com/opencontainers/runc/commit/09ddc63afdde16d5fb859a1d3ab010bd45f08497)
[code]

Currently seeing this via some work I am doing on buildkit, I have not tried to narrow it down outside of buildkit yet.

cc @AkihiroSuda

[2020-09-03 07:02] AkihiroSuda commented on #2573
The cause is that BuildKit doesn't mount `/sys`: https://github.com/moby/buildkit/blob/3aa7902d40d8a7fe911ee35488985cb58a346710/util/rootless/specconv/specconv_linux.go#L29

https://github.com/moby/buildkit/pull/1627#discussion_r482745356

[2020-09-03 09:23] cyphar commented on #2573
A panic is less than ideal, but runc cannot work without cgroupfs -- it would be unsafe to create containers without at least the devices cgroup.

[2020-09-05 02:36] ashwani29 commented on #2573
@AkihiroSuda I can't run commands with `sudo` prefix in the container. Does this mean, it is a rootless container?

[2020-09-05 04:33] cyphar commented on #2573
@AkihiroSuda Ah sorry, I missed the mention of RootlessKit in the description.

[2020-09-05 04:37] cyphar commented on #2573
@ashwani29 No. A rootless container is a container which is configured and created by an unprivileged user (in contrast to standard Docker-like setups where the whole thing is configured by a daemon that runs as root). The most likely reason why `sudo ...` isn't working in your container is that most containers don't include a `sudo` binary (the "sudo" package isn't usually installed for container

[2020-09-05 06:04] ashwani29 commented on #2573
@cyphar a process joins the container and has to edit the kernel files like `ns_last_pid`, This is giving error of `Read only file system` whereas with the same process I'm able to edit the host's `ns_last_pid` file. I'm guessing it's because the process isn't running as root in the container. How can I achieve this?
and what complete binary should I install for a `runc` container such that it doe

[2020-09-05 10:26] cyphar commented on #2573
Your questions aren't related to this issue, and you're basically asking for us to help you with checkpoint-restore/criu#1199. I posted a comment there, but I would really appreciate it if you'd stop commenting on unrelated issues with support questions (I believe this is at least the third time you've done this now).

[2020-09-05 12:22] gitsvm commented on #2572
no `runc kill` doesn't have any zero error code

[2020-09-05 12:27] gitsvm commented on #2572
and by the way how can i run processes as root inside the container?

[2020-09-05 17:18] cyphar commented on #2572
Processes run as root by default inside the container (run `id` inside the container to see what user you are running as) -- this is controlled by the `process.uid` and `process.gid` options in `config.json`.

[2020-09-05 17:20] cyphar commented on #2572
Ah okay, that means that the signal was sent successfully it just didn't do anything. I guess you just did `runc kill container` -- the issue is that the default signal (`SIGTERM`) is ignored by most programs when run inside the container as PID 1. If you do `runc kill container KILL` it will send `SIGKILL` which cannot be ignored by programs and will immediately terminate the container.

[2020-09-06 02:37] gitsvm commented on #2572
Thanks it's working, now i'm able to kill all the processes. but there is another problem which i'm not able to figure out , this is slightly different from the question, when i'm doing nsenter it shows `nsenter: error: Unable to access PID: [Errno 22] EINVAL` error. I used below commands:

`sudo nsenter --target 16627 --all ps aux`
`sudo nsenter --target 16627 --mnt --uts --ipc --net --pid ps aux

[2020-09-07 17:15] alban commented on #2484
Due to the kernel cross-mntns check, I tried this approach: open the mount sources in the host userns but in the container mntns, and pass the fds by SCM_RIGHTS. It works on my test scenario.
https://github.com/opencontainers/runc/pull/2576

[2020-09-08 10:04] alban commented on #1229
I can reproduce this behaviour on Linux 5.6.11-200.fc31.x86_64 with runc-master (09ddc63afdde16d5fb859a1d3ab010bd45f08497) on `/tmp` but not on `/var`.

Error message:
[code]

Strace shows a bind mount followed by a remount:
[code]

The difference between `/tmp` and `/var` on Fedora are the mount flags `nosuid,nodev`. If I add those flags in the mount config in `config.json`, then `/tmp` works too

[2020-09-08 16:20] Sigurthorb opened #2577 "Failures when running statically linked binary in scratch container"
I am trying to execute a statically linked binary inside a scratch container where I am encountering 2 failures. I've tried both docker version 18.06.1-ce and 19.03.6-ce, build 369ce74

#### Example 1:
when executing a statically linked binary as entrypoint in a scratch container, I encounter this error:

    standard_init_linux.go:190: exec user process caused "no such file or directory"

You can

[2020-09-08 18:30] zonk1 commented on #2552
I'm not sure I understand your question. I believe the issue is described in description (`nsexec:599 nsenter: could not ensure we are a cloned binary: No such file or directory`). Please reopen if you disagree.

As all is well, many thanks to all who have helped me solve the issue.

[2020-09-08 18:30] #2552 closed

[2020-09-08 23:49] kolyshkin commented on #2571
Thanks for reporting, proposed fix is https://github.com/opencontainers/runc/pull/2578

[2020-09-09 12:42] Sigurthorb commented on #2577
I'm not sure why this is being labeled as a question when I am providing 2 concrete failure examples. Are you saying this is expected behaviour?

[2020-09-09 14:44] richfelker commented on #2151
`EPERM` just should not be used here. For a very large number of syscalls, `EPERM` has a well-defined meaning the application/library code making the call knows how to react to, and "blocked by container policy" is usually not in the scope of that meaning. For specific syscalls where the container policy does match the specified `EPERM` failure case, `EPERM` could reasonably be kept, but the defau

[2020-09-09 14:47] richfelker commented on #2151
Note that this is breaking running of musl 1.2.0+ binaries - see https://github.com/docker/for-win/issues/8326 for another example - due to inability to perform the correct meaningful fallback. We can't just treat `EPERM` as cause for fallback too, since `EPERM` is also a meaningful error (and fallback to an old time32 syscall when seeing it would have TOCTOU bugs if the cause of `EPERM` went away

[2020-09-09 15:34] cyphar commented on #2577
Neither of the binaries you described building are actually statically linked as far as I can tell (so the error you're getting is a stock-standard link-loader error -- there are no shared libraries in `scratch`):

[code]

I'm not sure how you to convince Go to produce static PIE binaries, but that's not really a question related to runc.

[2020-09-09 15:40] cyphar commented on #2151
On the other hand, if we return `ENOSYS` for something like `clone(CLONE_NEWUSER)` then `glibc` may get very confused ("clone isn't supported? oh i guess we're on Linux 1.2..."). IMHO we should split the current policy into "pretend the syscall doesn't exist" and "tell the program it's not allowed to do dodgy things". I agree that `EPERM` for unknown syscalls isn't ideal.

[2020-09-09 16:13] richfelker commented on #2151
I don't think glibc actually does that, but if you're blocking specific functionality of a syscall rather than the whole syscall, the choice of error code should be made on a per-syscall basis to match existing error semantics. For example `CLONE_NEWUSER` should do whatever the kernel does when the kernel is configured without user namespace support or with it restricted to use by root. But as-yet

[2020-09-09 17:07] Sigurthorb commented on #2577
When I execute ```ldd``` on the binary it says statically linked:
[code]

[2020-09-10 03:42] kolyshkin commented on #2475
Another failure (from https://travis-ci.org/github/opencontainers/runc/jobs/725647287), another bug in the test code :(

[code]

[2020-09-10 03:54] kolyshkin commented on #2475
#2581 to (finally?) fix showing errors :sweat_smile:

[2020-09-10 12:10] AkihiroSuda opened #2582 "rootless+systemd should fail with human-friendly error when `dbus-user-session` is not installed"
On Debian 10, rootless runc (rc92) with `--systemd-cgroup` fails with a cryptic error when `DBUS_SESSION_BUS_ADDRESS` is not present in the result of `systemctl --user --no-pager show-environment`:

https://github.com/opencontainers/runc/blob/2b31437caa905b7b944a891aee613e7dd0a1f898/libcontainer/cgroups/systemd/user.go#L105

This error happens mostly when [dbus-user-session](https://packages.debia

[2020-09-10 18:40] kolyshkin commented on #2563
crun implementation: https://github.com/containers/crun/pull/459

[2020-09-11 20:43] Sigurthorb commented on #2577
This issue was created because of incorrect understanding of Static, dynamic and dynamic statically linked. This does not belong in this repository

[2020-09-11 20:43] #2577 closed

[2020-09-12 07:27] kolyshkin commented on #1721
(for the sake of anyone reading this) I was wrong about ^^^ that.

The issue I saw was the issue with the test case itself, it is documented and fixed  in commit d5e68ceb0cca (which is part of PR #2332).

[2020-09-12 08:45] gitsvm opened #2585 "network state when the container is paused"
I don't get what happens to the network state of the container when it is paused, does the incoming packets are dropped ? or can they change the state of the container. if yes then how?

[2020-09-13 01:30] gitsvm commented on #2562
Thanks for the help.
Actually my question was, after i restore a container, is it possible to again restore another process/process tree into that existing restored container?

[2020-09-15 03:42] robbmanes opened #2586 "fifo blocks forever when parent runc process execs and then exits"
Related to [Red Hat Bugzilla #1872868](https://bugzilla.redhat.com/show_bug.cgi?id=1872868).

In the rare case that the parent runc process that rexecs `runc init` is killed or exits early, we are left blocking waiting for a fifo pipe that will never appear.  This leaves the `runc init` process forever waiting, and can hold container resources open indefinitely (such as the volumes and cgroups tha

[2020-09-15 03:44] robbmanes commented on #2586
I've added a preliminary PR that works around this a bit, and appears to work in my test environment.  Feedback is greatly appreciated when possible, as I am not sure this is the best method to implement waiting on `unix.Open` since there seems to be no blocking/nonblocking options for this syscall.

https://github.com/opencontainers/runc/pull/2587

[2020-09-15 04:01] robbmanes commented on #2586
I just realized even though we're in a goroutine, but we're transitioned to a kernel stack during a syscall, we won't proceed or wake up in the select statement because we'll still be blocked by `unix.Open`.  So my PR likely has to ditch the channels and check for the existence of the pipe in addition to the other process in some way.  Just a thought and placeholder for feedback when work on this

[2020-09-15 04:38] gitsvm commented on #2585
Help here @adrianreber , @cyphar

[2020-09-15 05:09] cyphar commented on #2585
The semantics are the same as `SIGSTOP` or when a program stops reading packets from a socket. Packets will be buffered until the buffer is full and then will be dropped. It would've probably been simpler to do a quick test with `netcat` than posting questions on the issue tracker.

[2020-09-15 11:19] robbmanes commented on #2586
As @cyphar explains in my PR, my solution won't work, and some other mechanism to prevent this is needed.

[2020-09-15 15:43] gitsvm commented on #2585
Thanks.

[2020-09-15 15:43] #2585 closed

[2020-09-15 16:02] advancedwebdeveloper opened #2588 "Segmented stacks do not support vararg functions ,on nsexec.c (gollvm)"
Hi.
I was trying to build runc using [gollvm](https://go.googlesource.com/gollvm/) .

So I did like so

and caught such a bug:

go build "-mod=vendor" "-buildmode=pie" -i -v -x -tags "seccomp selinux apparmor" -ldflags "-X main.gitCommit="2cf8d240075dd322b9385100c9af4b149c973391" -X main.version=1.0.0-rc92+dev " -o runc .
WORK=/tmp/go-build885393511
go build: when using gccgo toolchain, please pas

[2020-09-15 16:05] advancedwebdeveloper commented on #2588
CC @crosbymichael @kolyshkin @cyphar @dqminh
BCC @thanm

Ivan

[2020-09-15 16:25] AkihiroSuda commented on #2588
Not an issue on runc.

Seems already being discussed in https://github.com/golang/go/issues/41399

[2020-09-15 16:25] #2588 closed

[2020-09-15 17:49] cpuguy83 opened #2589 "Significant binary size increase between rc10 -> rc92"
Running some tests between rc10 and rc92 I'm finding the binary size has increased significantly between the two versions.

| version | dynamic | static |
|---------|---------|-------|
| 1.0.0-rc10| 13MB (12912880 B) | 9.2 MB (9596744 B) |
| 1.0.0-rc90 | 13MB (12912880 B) | 9.2 MB (9596744 B) |
| 1.0.0-rc91 | 16MB (16086704 B) | 12 MB (11637664 B) |
| 1.0.0-rc92 | 18MB (18293008 B) | 13 MB (131120

[2020-09-15 17:55] thaJeztah commented on #2589
@kolyshkin

[2020-09-15 21:45] mrunalp commented on #2589
I think at least selinux and apparmor should be exclusive.

[2020-09-15 21:47] cpuguy83 commented on #2589
Sure it doesn't make sense to include all, but these aren't new tags.

[2020-09-15 22:09] tianon commented on #2589
I don't think they reasonably *can* be exclusive, right?  At runtime they would be, but a given binary will end up needing support for both compiled in the same binary because the kernel is a runtime choice (for example, Debian / Ubuntu are in the AppArmor camp but *can* be ran with SELinux instead by swapping the kernel).

There are also cases like static binaries that are expected to work regard

[2020-09-15 22:13] tianon commented on #2589
I'm not sure https://github.com/golang/go/issues/6853 is the actual cause here (since you're likely compiling all versions against the same Go 1.13 you referenced), but I think it's worth noting/linking anyhow.

[2020-09-15 23:12] gitsvm commented on #2572
@cyphar ? i still couldn't do it. what might be the case here.

[2020-09-16 03:05] cyphar commented on #2589
I noticed that we're missing `-s` from `-ldflags` -- what happens to the sizes if you do that?

No, you should build with both unless you're sure it will only ever be used on one distribution with one configuration. We do checks at runtime anyway... (ah, @tianon already said that.)

Depending on the configuration, runc will make a copy of the binary into a memfd -- meaning that an increase in bina

[2020-09-16 19:45] #2572 closed